body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth !important;

}


.set-col-md-2-web-view{
  position: relative;
  left:0px;
  padding-right: 0px;
}

/*date time picker*/



/*date time picker*/


.showZIndex{
  z-index: -1 !important;
}

.activeclicked{
  color:green;
}

/*col-md-2 area*/

/**panel default*/
.set-text-odp{
  font-size:15px;
  font-family: Montserrat, sans-serif !important;
  font-weight: bold;
  color:#555;
}

.set-cirlces{
  width: 18px;
  border: 1px solid green;
  border-radius: 50%;
  margin-top: -12px;
  position: relative;
  top: 19px;
  left: 11px;
  font-size: 11px;
}

.set-book-now-text-xenren{
  font-size: 9px;
  margin-left: 35px;
  text-align: -webkit-auto;
  width: 161px;
  position: relative;
  text-align: left;
  text-align: -moz-left;
  top: 5px;
}

.how-ite-wors-row{
  margin-right:0px;
  margin-left:0px;
  display: grid;
  float: left;
}

.how-ite-wors-row .col-md-12{
  display: grid;
  padding-left:0px;
  margin-bottom:5px;
}

.set-pael-defaultcol-md-2-area{
  height: 116px;
  background-color: #f8f9fb;
  margin-top: 32px;
  width: 210px;
  padding: 8px;
  border:1px solid #e9e9e9;
  margin-bottom:10px;
}
/**panel default*/


/*panel default -2*/
.set-col-md-2-panel-2-default{
  background-color: #b7dda4;
  border:1px solid #b7dda4;
  height: 71px;
  width:210px;
  border-radius: 3px;
  margin-bottom:10px;
}

.set-col-md-2-panel-2-default-col-md-12{
  padding-top:15px;
}

.set-panel-default-2-btn{
  border:2px solid #e9e9e9;
  background-color: #57b029 !important;
  background: #57b029 !important;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif !important;
  font-size: 15px;
  color:#fff;
  border-radius: 0px !important;
  font-weight: bold;
}

.set-panel-default-2-btn:hover{
  background-color: #57b029 !important;
  color:#fff !important;
  border:2px solid #e9e9e9;
}

/*panel default -2*/

/*panel default -3*/
.set-col-md-2-panel-3-default{
  border:1px solid #e9e9e9;
  background-color:#f8f9fb;
  height:55px;
  width:210px;
  margin-bottom:10px;
}

.set-binocularsaimage{
  position: absolute;
  left: 10px;
  top: 18px;
}

.set-image-text-span-default-3{
  font-size:12px;
  font-family: Montserrat, sans-serif !important;
}

.set-col-md-2-panel-3-default-col-md-12{
  text-align: -webkit-auto;
  padding-top: 10px;
  position: relative;
  padding-left: 50px;
}

/*panel default -3*/

/*panel default -4*/
.set-col-md-2-panel-4-default{
  margin-bottom:50px;
  background-color:#b7dda4;
  color:#2e404e;
  height: 265px;
  border-radius: 5px;
  width:210px;
  text-align: center;
}

.set-col-md-2-panel-4-default-col-md-12{
  padding-top: 10px;
  text-align: -webkit-auto;
}

.friendlystaffs{
  font-size: 14px;
  font-family: Montserrat, sans-serif !important;
  color:#2e404e;
}

.set-col-md-2-panel-4-1-default-col-md-12{
  text-align:-webkit-auto;
  margin-bottom: 8px;
  text-align: left;
  text-align: -moz-left;
}

.set-small{
  position: relative;
  left:27px;
}
.guest-loves{
  font-size:22px;
  font-family: Montserrat, sans-serif !important;
  color:#2e404e;
}
/*panel default -4*/


/*panel default -5*/
.set-col-md-2-panel-5-default{
  border: 0px !important;
  width: 210px;
}

.set-col-md-2-panel-5-default-col-md-12{
  text-align: -webkit-auto;
}


.set-panel-default-5-btn{
  border:1px solid #57b029;
  background-color: #fff;
  color:#555;
  width:183px;
  height:30px;
  font-size:11px;
  font-family: Montserrat, sans-serif !important;
  border-radius: 0px;
}

.set-panel-default-5-btn:hover{
  border:1px solid #57b029;
  background-color: #fff;
  color:#555;
  width:183px;
  height:30px;
  font-size:11px;
  font-family: Montserrat, sans-serif !important;
}
.set-panel-default-5-btn:focus{
  border:1px solid #57b029 !important;
  background-color: #fff;
  color:#555;
  width:183px;
  height:30px;
  font-size:11px;
  font-family: Montserrat, sans-serif !important;
}

.set-ver-beautiful-view{
  font-size: 10px;
}

.dropzone:hover{
  border-color: 0px !important;
}
.dropzone {
  border-radius: 29px;
  border: 0px solid;
  height: 172px;
}

.set-face-image-odp{
  position: absolute;
  width: 30px;
  left: 15px;
  border-radius: 20px;
  height: 30px;
}

.set-row-02-10{
  width:100%; text-align:center; margin-top:15px;
  margin-bottom: 20px;
}

.write-review-if{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 47px;
  margin-bottom: 18px;
}

.set-name-odp{
  font-size: 14px;
  font-weight: bold;
  color: #555;
  font-family: Montserrat, sans-serif !important;
  position: absolute;
  left: 56px;
  top:10px;
}
.set-country-image{
  width: 18px;
  height: 17px;
  position: relative;
  top: -5px;
  left: 25px;
}
.set-country-name-odp{
  font-family: Montserrat, sans-serif !important;
  font-size: 10px;
  position: relative;
  left: 28px;
  top: -6px;
}

.datetimepicker{
  left: 275px;
  top: 1200px;
}

.set-col-md-2-panel-5-1-default-col-md-12{
  margin-bottom:30px;
  display: -webkit-box;
  text-align: -moz-left;
  border-bottom: 1px solid #f1f4f8;
  margin-top: 6px;
}
/*panel default -5*/


/*col-md-2 area*/


/*tabs header*/
.tablink {
  background-color: #fff;
  color: #555;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-weight: bold;
  width:33.3%;
  font-family: Montserrat, sans-serif !important;
  font-size: 14px;

}


.office-feee-col-md-12{
  padding-left:0px;
}

.set-facalities-col-md-12{
  margin-lefT:-9px;
}

.set-border-radius-top-left{
  border-top-left-radius: 10px;
}

.set-header-tab-panel a{
  text-decoration: none;
  text-align: center;
}
.set-border-radius-top-right{
  border-top-right-radius: 10px;
}

.set-container-innner-header-tab{
  width: 100%;
  height: 356px !important;
  background-color:#57b029;
  border-radius: 10px;
  padding-left:10px;
  padding-right:10px;
}


.set-col-md-12-row-header-tabs{
  margin-top: 40px;
  color:#fff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat, sans-serif !important;
}


.set-header-tab-panel{
  border-radius: 10px;
}

#defaultActive{
  border-top-left-radius: 10px;
}

.tablink:hover {
  background-color: #57af2b;
  color:#fff;
}

/* Style the tab content */
.tabcontent {
  color: #555;
  background-color: #fff;
  display: none;
  padding-top: 0px;
  text-align: center;
}


.set-reserve-col-md-3{
  text-align: -webkit-center;
  cursor: pointer;
}

.set-col-12-md-inner-part-head{
  text-align: center;
  padding-left: 0px;
  padding-top: 25px;
}

.set-text-align-center-col-md-3{
  text-align: center;
  padding-left:0px;
}

.set-reserve{
  background-color: #57b029;
  padding: 4px;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  width: 71%;
}

#London {border-radius:0px;  color:#555;  margin-top: 127px;height: 217px;
  width: 100%;}
#Paris {border-radius:0px;    margin-top: 127px;height: 217px;
  width: 100%;}
#Tokyo {border-radius:0px;    margin-top: 127px;height: 217px;
  width: 100%;}
/*tabs header*/



/*my review section*/

.set-review-modal-content{
  background-color: #F3F1F2 !important;
  border-radius: 3px;
  width: 500px;
}

.set-write-a-review-title{
  font-weight: 500;
  font-size: 22px;
  color: #2a2a2a;
}


/*clickable rating stars- my-review-modal*/

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:25px;   /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFD700;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FFD700;
}

/*.set-rating-stars-review > input:checked + label:hover, !* hover current star when changing set-rating-stars-review *!*/
/*.set-rating-stars-review > input:checked ~ label:hover,*/
/*.set-rating-stars-review > label:hover ~ input:checked ~ label, !* lighten current selection *!*/
/*.set-rating-stars-review > input:checked ~ label:hover ~ label { color: #FFED85;  }*/
/*clickable rating stars- my-review-modal*/


.set-modal-header-my-review-please{
  border-bottom: 0px !important;
}

.set-share-a-review{
  font-size: 12px;
  color:#777777;
}

.set-text-area-review{
  width:450px;
  height:111px;
  border-radius: 15px;
  border: 2px solid #e9e9e9;
  background-color: #F3F1F2;
  color: #777777;
  padding: 7px;
}
.set-btnbtn-default-review{
  border-radius: 3px !important;
  background-color: #57b029;
  background: #57b029;
  color:#fff;
  border:0px !important;
  font-weight: 500;
  width:137px;
  height:39px;
}

.set-btnbtn-default-review:hover{
  border-radius: 3px !important;
  background-color: #57b029;
  color:#fff;
  border:0px !important;
  font-weight: 500;
  width:137px;
  height:39px;
}

.set-btnbtn-default-review:focus{
  border-radius: 0px !important;
  border-color: #57b029 !important;
  background-color: #57b029;
  color:#fff;
  border:0px !important;
  font-weight: 500;
  width:137px;
  height:39px;
}

.set-small-less-minutes{
  font-size: 10px;
  position: relative;
  top: -8px;
  color:#777777;
}

.set-modal-footer-my-review-please{
  border-top:0px !important;
  padding-top: 0px;
  padding-right: 26px;
}

.set-modal-body-review-please{
  padding-bottom: 6px;
  padding-top:0px;
}

.set-my-review-pleas-modal-dailogue{
  text-align: -webkit-center;
  text-align: -moz-center;
  margin-top: 200px;
}
.thanks-review{
  color: rgb(49, 49, 49);
  font-size: 20px;
  font-weight: 600;
  position: relative;
  bottom: 10px;
  margin-bottom: 0px;
}

.now{
  color:#57b029;
  font-weight: normal;
  margin-bottom: 2px;
  margin-top: 12px;
}

.setEUImage{
  position: absolute;
  top: 34px;
  left: 50px;
}

.setPUImage{
  position: absolute;
  top: 33px;
  left: 50px;
}

.set-custom-width{
  width: 85%;
}

.rowM{
  margin: 0px !important;
}

#country_country{
  color:#2e404e !important;
  cursor: pointer;
}

#city_city{
  color:#2e404e !important;
  cursor: pointer;
}

.btnbtn-Login{
    background-color:#57b029;
    border: 0px;
    width: 70%;
    border-radius: 6px;
    color: #fff;
    padding: 5px;
    font-weight: 500;
    font-size: 12px;
}
.set-form-group-hr{
  display: flex;
  align-items: center;
  width: 40%;
}
.hr-set{
  width: 85%;
  margin: 5px;
  border: .5px solid lightgray;
}

.btnbtn-Loginfb{
  background: #4464b1;
  border: 0px;
  width: 70%;
  border-radius: 6px;
  padding: 5px;
  color: #fff;
  padding-bottom: 0px;
}

.sign-up {
  color: #57b029;
  font-size: 15px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 500;
}

.passwordBottom{
  margin-bottom: 15px;
}

.setEmailBox{
  padding-left: 30px;
  border-radius: 3px;
}

.setPassBox{
  padding-left: 30px;
  border-radius: 3px;
}

.labelEmail{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 500;
  float: left;
}

.pleaseLoginIn {
    margin: 0px;
    font-size: 21px;
    font-weight: 500;
}

.notUsedPlace-image {
  position: relative;
  top: -15px;
}

.reason-box-dum-text{
  font-size: 23px !important;
  font-weight: 500 !important;
}

.comingSoon{
  padding: 20px;
  text-align: center;
  font-weight: 600;
}
.notUsedPlaceHaven {
  color:#2a2a2a;
  font-weight: bold;
  margin-bottom: 24px;
}

.btnbtn-SignUp{
  background-color: #57b029;
  width: 60%;
  border: 0px;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  padding: 4px;
}
.set-notUsedPlace-moda-content{
  background-color: #fff;
  width: 400px;
}

.small-success{
  font-size: 11px;
  position: relative;
  bottom: 6px;
}

.thanks-modal-body{
  margin-bottom: 8px;
}

.thanks-image{
  width: 161px;
  position: relative;
  top: -25px;
}

.set-thanks-moda-content{
  width: 420px;
  background-color: #F3F1F2 !important;
  border-radius: 3px;
}

/*my review section*/


.set-main-image-shared-office{

}

.set-range-slider{
  width: 210px;
  margin: auto;
  text-align: center;
  position: relative;
  left: 0px;
  top: 10px;
}

img.logo {
  height: 40px;
}

#map{
  height:400px;
  width:100%;
}

#top-header nav.navbar.navbar-inverse {
  border-radius: 0;
  background: #fff;
}
#top-header .navbar {
  margin-bottom: 0;
  height: 70px;
  padding-top: 8px;
  overflow: hidden;
  border-top: 0;
  border-bottom: 1px solid #e8e5e5;
}

.setImageModify{
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.set-main-image-shared-office{
  height: 260px;
  width: 100%;
  object-fit: cover;
}

#top-header li.active a {
  color: #70bb4a !important;
  border-bottom: 3px solid #70bb4a;
  background: #fff !important;
}
#top-header ul.nav.navbar-nav a {
  font-size: 15px;
  color: #000;
  font-weight: 300;
  padding-bottom: 23px;
}
#top-header .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #70bb4a !important;
  background-color: transparent;
}
#top-header .fas{
  color: #70bb4a;
}
#top-header input.form-control {
  width: 250px !important;
}
#top-header i.fas.fa-search {
  margin-left: -30px;
}
.left-listing ul li {
  list-style: none;
  display: inline-block;
  margin-right: 60px;
  font-size: 14px;
  line-height: 25px;
  color: #2e404e;
  font-family: "Montserrat";
  font-weight: 300;
}
.primary-title{
  font-size: 22px;
  line-height: 0px;
  color: #2e404e;
  font-family: "Montserrat";
  font-weight: 500;
  margin-left:0px;
  margin-top:44px;
}
.left-sidebar input[type="checkbox"] {
  width: 21px;
  height: 21px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 0.2px solid #ffffff;
}
.left-sidebar label {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #2b3e4d;
  font-family: "Montserrat";
  font-weight: 400;
}
.right-sidebar h3{
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
}
.book-now{
  background-color: #57af2a;
  background: #57af2a;
  border-color: #57af2a;
  padding: 4px 25px;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 600;
  margin-top: -5px;
  margin-left: 10px;
  border-radius: 2px !important;
  border: 2px solid #e9e9e9;
}
.book-now:focus{
  background-color: #57af2a !important;
  border-color: #57af2a !important;
  padding: 4px 25px;
  border: 2px solid #e9e9e9;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 600;
  margin-top: -5px;
  margin-left: 10px;
  border-radius: 2px !important;
}

.book-now:hover{
  background-color: #58AE29;
  border: 2px solid #e9e9e9;
  border-radius: 2px !important;
}
.right-sidebar i {
  color: #6da83d;
  font-size: 18px;
}
h5 {
  font-size: 14px;
  line-height: 25px;
  color: #838484;
  font-family: "Montserrat";
  font-weight: 300;
}
img.img-responsive.image-modify {
  /*width: 100%;*/
  padding: 2px;
}
h5.right-label {
  height: 40px;
  background-color: #57af2a;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 7px;
  text-transform: uppercase;
  text-align: center;
}
.oprtaing-hour {
  border: 1px solid #cccccc;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  padding-bottom: 40px;
}
.no-padding{
  padding-left: 1px;
  padding-right: 0;
  position:relative;
  top:-5px;
}
h5.right-label img {
  margin-top: -5px;
}
.oprtaing-hour h4 {
  font-size: 16px;
  line-height: 28px;
  color: #58af29;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: capitalize;
}
i.fas.fa-circle {
  font-size: 10px;
  position: relative;
  top:-1px;
}
.oprtaing-hour span {
  font-size: 13px;
  line-height: 20px;
  color: #2e404e;
  font-family: "Montserrat";
  font-weight: 400;
}
a.message-link {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 600;
  width: 186px;
  background: #57af2b;
  padding: 6px 68px;
  text-transform: uppercase;
  border-radius: 8px;
}
.nopadding-left{
  padding-left: 0;
  padding-right:0px;
}
.tab-detail .nav-tabs {
  border-bottom: 1px solid #a1a1a1;
  padding-bottom: 2px;
  background-color: #fff;
}
.tab-detail ul.nav.nav-tabs li {
  width: 19.6%;
  height: 39px;
  background-color: #afafaf !important;
  margin-right: 3px;
}


.tab-detail li.active a {
  background: #58af2b !important;
}
.tab-detail ul.nav.nav-tabs li {
  text-align: center;
}
.tab-detail ul.nav.nav-tabs li a {
  font-size: 12px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  border: 0;
}

.set-col-md-6-2-office-details-page{
  padding-left:0px;
  padding-right:0px;
}
.tab-detail ul.nav.nav-tabs li:last-child {
  margin-right: 0;
}
.tab-detail .nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
}
.anchor>a:hover{
  background-color: #57af2b !important;
}
.tab-detail li.active a {
  color: #fff;
}
.tab-detail .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #fff;
}
.tab-detail {
  margin-top: -5px;
}
.tab-detail .tab-content {
  padding-top: 15px;
}
.tab-detail .tab-content p {
  font-size: 12px;
  color: #54616c;
  font-family: "Montserrat";
  font-weight: 400;
}
h2.section-title {
  font-size: 18px;
  line-height: 19px;
  color: #54616c;
  font-weight: 600;
  margin-bottom: 15px;
}
.facilities h5 {
  font-size: 18px;
  line-height: 25px;
  color: #2e404e;
  margin: 0;
  font-weight: 600;
}

.setFacilitie{
  padding-left:0px;
}
.set-padding-left-of-office-facilities{
  margin-top:15px;
  padding-left:0px
}
.facilities h6 {
  font-size: 14px;
  line-height: 25px;
  color: #000;
  margin: 0;
  font-weight: 100;
  margin-top: -5px;
}

.set-border-right > h6{
  border-right: 2px solid #e9e9e9 !important;
}

.set-border-right-h6{
  border-right: 2px solid #e9e9e9 !important;

}


/*sticky navbar*/
.sticky {
  position: fixed !important;
  top: 75px !important;
  width: 56.66% !important;
  z-index: 999;
}

.sticky + .content {
  padding-top: 60px !important;
}

/*stickey navbar*/

.set-h6-operate-hours{
  font-weight: 100 !important;
  color:#000 !important;
  width:134px;
}

.facilities h3 {
  font-size: 17px;
  line-height: 25px;
  color: #2e404e;
  font-weight: 600;
  margin: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}
.facilities .col-md-3.col-sm-3.col-xs-6 {
  border-right: 2px solid #ccc;
}
.facilitie-bellow img {
  height: 26px;
  background: #57af2b;
  padding: 3px;
  border-radius: 6px;
  margin-right: 6px;
  width: 30px;
}
.facilitie-bellow h5 {
  font-size: 12px;
  line-height: 25px;
  color: #58af29;
  font-family: "Montserrat";
  font-weight: 400;
  width:154px;
}
.facilitie-bellow {
  margin-top: 10px;
}
.location-s h2 img {
  height: 35px;
  background: #57af2b;
  padding: 3px;
  border-radius: 50%;
}
.location-s h5 {
  font-size: 14px;
  line-height: 25px;
  color: #838484;
  font-family: "Montserrat";
  font-weight: 300;
}
.location-s {
  margin-top: 35px;
}
.why-choose h2 {
  font-size: 18px;
  line-height: 19px;
  color: #54616c;
  font-family: "Montserrat";
  font-weight: 600;
}

.set-reiviews-section-2-padding{
  padding-left: 0px;
  padding-right:0px;
  margin-bottom:100px;
}

.progress-bar-success{
  background-color:#58af2a;
}

.anchor{
  /*background-color: #e9e9e9;*/
}

.activeAnchor{
  background-color:#58AE29;
  color:#fff;
}


.why-choose {
  margin-top: 30px;
  margin-bottom:30px;
  padding-left:0px;
  padding-right:0px;
}
.reason-box {
  background: #58af2a;
  padding-top: 30px;
  padding-bottom: 30px;
}
.reason-box h3 img {
  background: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
}
.reason-box h3 {
  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 600;
}
.reviews h2 img {
  height: 35px;
  background: #57af2b;
  border-radius: 50%;
  padding: 5px;
}
.progress {
  height: 19px;
  margin: 8px 0;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.btnbtn-Loginfb >a {
  color: #fff !important;
}

.reviews h3 span {
  font-size: 26px;
  line-height: 19px;
  color: #54616c;
  font-weight: 700;
}
.reviews h3 {
  font-weight:300;
  padding:4px;
}

.stars-no-review{
  color:#afafaf;
  font-size: 25px !important;
  width: 0.9em !important;
}

h2.write-review {
  font-size: 22px;
  line-height: 19px;
  color: #54616c;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 30px;
}
.No-review{
  margin-top: 0px;
  margin-bottom: 0px;
}
.divideHr{
  width: 40%;
  border: .5px solid lightgray;
  margin-top: 8px;
  margin-bottom: 13px;
}
a.write-review-btn {
  font-size: 17px;
  line-height: 12px;
  color: #ffffff;
  background: #57af2b;
  font-weight: 600;
  padding: 7px 10px;
}
.review-box {
  border: 2px solid #57af2b;
  padding: 20px;
  border-radius: 20px;
}
.b-left{
  border-left: 2px solid #ccc;
}
.review-box span:last-child {
  font-size: 12px;
  line-height: 19px;
  color: #54616c;
  font-family: "Montserrat";
  font-weight: 400;
}
.review-box .fa {
  color: #fff200;
}
h5.r-name {
  font-size: 15px;
  line-height: 20px;
  color: #54616c;
  font-family: "Montserrat";
  font-weight: 600;
  margin-bottom: 5px;
}
span.r-date {
  font-size: 11px !important;
  color: #54616c !important;
  font-weight: 400 !important;
}
.h-counter{
  border: 1px solid red;
  font-size: 11px;
  line-height: 20px;
  color: #54616c;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 0px 3px;
  margin-left: 5px;
}
.browse-space h2 {
  font-size: 22px;
  line-height: 25px;
  color: #2e404e;
  font-family: "Montserrat";
  font-weight: 400;
}
.browse-space {
  margin-top: 80px;
}
.space-links .btn {
  width: 168px;
  height: 47px;
  border-radius: 10px;
  background-color: #57af2a;
  border: 0.2px solid #ffffff;
  line-height: 36px;
}
.space-links .btn {
  width: 168px;
  height: 47px;
  border-radius: 10px;
  background-color: #57af2a;
  border: 0.2px solid #ffffff;
  line-height: 36px;
  margin-right: 25px;
  margin-top: 30px;
}
.space-links .btn:last-child {
  margin-right: 0;
}
.space-links .btn:nth-child(5) {
  margin-right: 0;
}
.footer-bg {
  background: #30303c;
  color: #ffffff;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 60px;
}
div#footer ul li {
  display: inline-block;
}
.footer-bg.text-center a:hover {
  text-decoration: none;
  color: #fff;
}
.footer-bg p {
  color: #828282;
  margin-bottom: 0;
}
.footer-bg ul li a {
  color: #828282;
  padding-right: 10px;
}
div#bellow-header ul {
  padding-left: 0;
}
img.logo {
  height: 50px;
  margin-top: -11px;
}

.fdb a{
  border: 2px solid #57af2b;
  padding: 5px 15px !important;
  margin-top: 10px;
}
.notify-counter span {
  background: #c63031;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  padding: 0px 5px;
  position: absolute;
  top: 8px;
  left: 25px;
}
i.far.fa-bell {
  font-size: 24px;
  color: #57af2b;
}
.logo2 {
  height: 45px !important;
  margin-top: -8px !important;
  margin-left: -5px;
}
.right-l a{
  height: 60px;
  width: 60px;
  background: #fafafa;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  margin-top: -2px;
}
.list-space-right a {
  font-size: 14px;
  line-height: 25px;
  color: #2e404e;
  font-weight: 300;
}
.list-space-right {
  text-align: right;
  line-height: 60px;
}

.left-listing h6 {
  font-size: 12px;
  margin: 0;
  color: #57af2a;
  font-family: "Montserrat";
  font-weight: 600;
}
.left-listing ul li {
  margin-right: 15px;
}
.left-listing li img {
  margin-top: -30px;
}
.left-listing {
  margin-top: 15px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border-radius: 35%;
  border: 1px solid #57af2b;
}

/* On mouse-over, add a grey background color */
.ccontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ccontainer input:checked ~ .checkmark {
  background-color: #57af2b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ccheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ccontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ccontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ccontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.ccontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
i.fa.fa-star.rated {
  color: #fff200 !important;
}
.by-category i.fa.fa-star {
  color: #c2c2c2;
}
.by-category{
  font-size: 16px;
  line-height: 25px;
  color: #acacac;
  font-family: "Montserrat";
  font-weight: 300;
  margin-bottom: 40px;
}
.by-space {
  margin-bottom: 40px;
}
i.fas.fa-map-marker {
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 4px;
}
.green-valley h2 {
  margin-bottom: 0 !important;
}
.green-valley h5 {
  margin-top: 0 !important;
}
i.far.fa-thumbs-up {
  font-size: 18px;
  color: #57af2b;
}
i.fas.fa-share-alt {
  font-size: 18px;
  color: #57af2b;
  margin-left: 5px;
}
.oprtaing-hour h6 {
  font-size: 13.6px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top:1px;
  font-family: Montserrat, Helvetica, sans-serif !important;
}

.set-operating-hours-monday{
  margin-top:15px !important;
}

.setCol3MdOH > h5{
  margin-top:0px;
}

.oprtaing-hour h3 {
  font-size: 14px;
  line-height: 28px;
  color: #2e404e;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
}
.social-r i.fab.fa-facebook-f {
  background: #4464b1;
  color: #fff;
  padding: 7px 9px;
  border-radius: 50%;
  margin-right: 7px;
  font-size: 18px;
  cursor: pointer;
}
.social-r i.fab.fa-twitter {
  background: #4d9ede;
  color: #fff;
  border-radius: 50%;
  padding: 7px;
  margin-right: 7px;
  font-size: 18px;
  cursor: pointer;
}
.social-r i.fab.fa-google-plus-g {
  background: #da4936;
  color: #fff;
  border-radius: 50%;
  padding: 7px 5px;
  font-size: 18px;
  cursor: pointer;
}
.oprtaing-hour h4 {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  #top-header .navbar {
    height: auto;
  }
  img.logo {
    height: 50px;
    margin-top: -20px;
  }
  .left-listing ul li {
    margin-right: 15px;
    width: 18%;
  }
  .left-listing ul li:last-child {
    width: 100%;
  }
  .tab-detail ul.nav.nav-tabs li:last-child {
    margin-right: 0;
  }
  .tab-detail ul.nav.nav-tabs li {
    width: 119.5px;

    margin-bottom: 3px;
  }
  .facilitie-bellow h5 {
    font-size: 10px;
  }
  .facilitie-bellow {
    padding: 0;
  }
  .facilitie-bellow img {
    width: 25px;
  }
  .reason-box {
    height: 335px;
  }
  .reason-box h3 {
    font-size: 14px;
  }
  .b-left {
    border-left: 0;
    margin-top: 30px;
  }
  .space-links .btn:nth-child(5) {
    margin-right: 20px;
  }
  .space-links .btn:last-child {
    margin-right: 20px;
  }
  .list-space-right {
    text-align: left;
    line-height: 26px;
  }
  .navbar-inverse .navbar-toggle {
    border-color: #57af2b;
    background: #57af2b;
  }
}

.setPostBoxImage{
  height: 239px !important;
  object-fit: cover;
}

.setColFooter{
  margin-top:20px;
  margin-bottom: -30px;
  display: flow-root;
}

.custom-btn-footer{
  margin-top:10px;
}

.set-location-col-md-6{
  margin-bottom:-25px;
}
.show-on-map-set{
  font-weight: bold;
  color:#58AE29;
  display: inline-block;
}

.set-col-md-6-primary-title-1{
  padding-left:0px;
}

.set-col-md-6-primary-title-2{
  margin-top: 56px;
  float: right;
  padding-right: 0px;
}


.show-on-map-set:hover{
  color:#58AE29;
  cursor: pointer;
}

.setCol6MdSPP{

}

.post-second-title{
  margin-bottom: 0px;
}

.setColMd10{
  padding-left:3px;
}

.set-position {
  position: relative;
  top:initial;
}



/*set silder images*/
.mySlidesArea {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* The dots/bullets/indicators */
.dotArea {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #82c35f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeClass, .dotArea:hover {
  background-color: #58af2a;
}

.set-doArea{
  text-align: center;
  margin-bottom:-10px;
}

/* Fading animation */
.fadeArea {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.set-mobile-view-container{
  display:none;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*set slider images*/

@media (max-width:2000px) and (min-width:1801px)
{
  .set-row-col-md-10 {
    display: table-row;
    padding-left: 30px;
  }
}


@media (max-width:2000px) and (min-width:1402px)
{

  .dropdown-menu-logout {
    box-shadow: 0px 0px !important;
    background: #fff !important;
    border: 1px solid #e9e9e9 !important;
    border-radius: 0px !important;
    margin-top: 11px !important;
    width: 236px !important;
    margin-left: -140px;
  }
  .setCol3SearchBarP {
    text-align: center;
    padding-left: 0px;
    width: 13%;
    position: relative;
    left: 0%;
  }

  .set-pael-defaultcol-md-2-area {
    height: 116px;
    background-color: #f8f9fb;
    margin-top: 32px;
    width: 221px;
    padding: 8px;
    border: 1px solid #e9e9e9;
    margin-bottom: 10px;
  }

  .set-col-md-2-panel-2-default {
    background-color: #b7dda4;
    border: 1px solid #b7dda4;
    height: 71px;
    width: 221px;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .set-col-md-12-location-map-office-name{
    padding-right: 0px;
    padding-left: 4px;
  }
  .setMainContainer > .row {
    margin-left: 15px;
    margin-right: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .set-col-md-6-2-images-2 {
  }
  .set-padding-right-col-md-12{
    padding-right:0px;
    padding-left: 6px;
  }

  .tab-detail ul.nav.nav-tabs li {
    width: 19.66%;
    height: 39px;
    background-color: #afafaf !important;
    margin-right: 3px;
  }

  .setColMd10 {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    width:85.55%;

  }

  .sticky {
    position: fixed !important;
    top: 75px !important;
    width: 58% !important;
    z-index: 999;
  }

  .tablink {
    background-color: #fff;
    color: #555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-weight: bold;
    width: 33.3333333%;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px;
  }

  .set-col-md-2-panel-3-default {
    border: 1px solid #e9e9e9;
    background-color: #f8f9fb;
    height: 55px;
    width: 221px;
    margin-bottom: 10px;
  }

  .set-col-md-2-panel-4-default {
    margin-bottom: 50px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 285px;
    border-radius: 5px;
    width: 221px;
    text-align: center;
  }
  .set-col-md-2-panel-5-default {
    border: 0px !important;
    width: 221px;
  }
}

@media (max-width:1900px)
{
  .setColMd10 {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    margin-left: 5px;
  }
}

@media (max-width:1800px)
{
  .setColMd10 {
    padding-left: 0px;
    padding-right: 9px;
    position: relative;
    margin-left: 8px;
  }

  .tablink {
    background-color: #fff;
    color: #555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-weight: bold;
    width:33.33%;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px;

  }

  .tab-detail ul.nav.nav-tabs li {
    width: 19.66%;
    height: 39px;
    background-color: #afafaf !important;
    margin-right: 3px;
  }
}

/*@media (max-width:1700px)*/
/*{*/
  /*.setColMd10 {*/
    /*padding-left: 10px;*/
    /*padding-right: 0px;*/
    /*position: relative;*/
    /*margin-left: 20px;*/
  /*}*/
/*}*/

@media (max-width:1680px)
{
  .setCol3SearchBarP {
    text-align: center;
    padding-left: 0px;
    width: 12%;
    position: relative;
    left: 0px;
  }

  .setColMd10 {
    padding-left: 20px;
    padding-right: 0px;
    position: relative;
    margin-left: 23px;
  }
}

@media (max-width:1580px)
{
  .setCol3SearchBarP {
    text-align: center;
    padding-left: 0px;
    width: 12%;
    position: relative;
    left: 0px;
  }
  .setColMd10 {
    padding-left: 25px;
    padding-right: 6px;
    position: relative;
    margin-left: 20px;
  }
  .set-row-col-md-10 {
    display: table-row;
    /*padding-left: 102px;*/
  }
}

@media (max-width:1500px)
{
  .setColMd10 {
    padding-left: 35px;
    padding-right: 6px;
    position: relative;
    margin-left: 20px;
  }
}

@media (max-width:1450px)
{
  .setColMd10 {
    padding-left: 40px;
    padding-right: 10px;
    position: relative;
    margin-left: 20px;
  }
}

@media (max-width:1401px)
{
  .set-pael-defaultcol-md-2-area {
    height: 116px;
    background-color: #f8f9fb;
    margin-top: 32px;
    width: 222px;
    padding: 8px;
    border: 1px solid #e9e9e9;
    margin-bottom: 10px;
  }

  .set-col-md-2-panel-2-default {
    background-color: #b7dda4;
    border: 1px solid #b7dda4;
    height: 71px;
    width: 222px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .set-col-md-2-panel-3-default {
    border: 1px solid #e9e9e9;
    background-color: #f8f9fb;
    height: 55px;
    width: 222px;
    margin-bottom: 10px;
  }

  .set-col-md-2-panel-4-default {
    margin-bottom: 50px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 286px;
    border-radius: 5px;
    width: 222px;
    text-align: center;
  }
  .setColMd10 {
    padding-left: 45px;
    padding-right: 0px;
    position: relative;
    margin-left: 20px;
    width:85.55%;
  }
  .set-col-md-12-location-map-office-name{
    padding-right:0px;
    padding-left: 4px;
  }

  .set-padding-right-col-md-12{
    padding-right:0px;
    padding-left: 4px;
  }
  .set-col-md-6-2-images-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width:1400px)
{
  .tablink {
    background-color: #fff;
    color: #555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-weight: bold;
    width:33.33%;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px;

  }

  .tab-detail ul.nav.nav-tabs li {
    width: 19.667%;
    height: 39px;
    background-color: #afafaf !important;
    margin-right: 3px;
  }
}

@media (max-width:1370px)
{
  .setColMd10 {
    padding-left: 60px;
    padding-right: 0px;
    position: relative;
  }
  a.message-link {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 600;
    background: #57af2b;
    padding: 6px 55px;
    text-transform: uppercase;
    border-radius: 8px;
  }
}

@media (max-width:1330px)
{
  .setColMd10 {
    padding-left: 65px;
    padding-right: 0px;
    position: relative;
  }
  a.message-link {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 600;
    background: #57af2b;
    padding: 6px 55px;
    text-transform: uppercase;
    border-radius: 8px;
  }
}

@media (max-width:1300px)
{
  .setColMd10 {
    padding-left: 75px;
    padding-right: 0px;
    position: relative;
  }
}

@media (max-width:1199px) and (min-width:992px)
{
  .set-row-col-md-10 {
    display: table-row;
    padding-left: 43px;
  }
  .setCol3SearchBarP {
    text-align: center;
    padding-left: 0px;
    width: 100% !important;
    position: relative;
    left: 0px !important;
  }

  .setColMd10 {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    width: 100% !important;
    margin-left: 0px !important;
  }

  .set-col-md-2-panel-4-default {
    margin-bottom: 50px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 265px;
    border-radius: 5px;
    width: 75% !important;
    text-align: center;
    position: absolute;
    top: 31px;
    left: 25%;
  }

  .set-col-md-2-panel-4-default {
    margin-bottom: 50px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 265px;
    border-radius: 5px;
    width: 75%;
    text-align: center;
    position: absolute;
    top: 31px;
    left: 25%;
  }
  #ui-datepicker-div {
    /*position: absolute !important;*/
    /*left: 449.5px;*/
    /*display: block;*/
    /*top: 238px !important;*/
    /*z-index: -1;*/
  }
  .set-col-md-2-panel-5-default {
    border: 0px !important;
    width: 100%;
    text-align: center;
    position: relative;
    top: 18px;
  }
  .set-col-md-2-panel-5-default-col-md-12 {
    text-align: center;
  }
  .range-slider {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    left: 0px;
    top: 10px;
  }

  .setRowCol6ColXs6{
    margin-top:0px;
  }
  .setColMd2{
    width:100%;
    margin-bottom: 60px;
  }

  .setColMd10{
    width:100%;
  }

  .setColMd9OverView{
    width: 100%;
    padding-right:0px;
  }

  .setCol3MdOH{
    width:100%;
  }

  .tab-detail ul.nav.nav-tabs li {
    width: 19.7% !important;
    height: 39px;
    background-color: #afafaf;
    margin-right: 3px;
  }
  .tablink {
    background-color: #fff;
    color: #555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-weight: bold;
    width: 33.33%;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px;
  }

  .sticky {
    position: fixed !important;
    top: 90px !important;
    width: 93% !important;
    z-index: 999;
    left: 15px;
  }

  .oprtaing-hour{
    text-align: center;
  }

}

@media (max-width:991px) and (min-width:320px)
{
  .set-col-md-2-web-view {
    position: unset;
    padding-right: 15px;
  }

  #London {border-radius:0px;  color:#555;  margin-top: 127px;height: 249px;
    width: 100%;}
  #Paris {border-radius:0px;    margin-top: 127px;height: 249px;
    width: 100%;}
  #Tokyo {border-radius:0px;    margin-top: 127px;height: 249px;
    width: 100%;}

  .set-container-innner-header-tab{
    width: 100%;
    height: 388px !important;
    background-color:#57b029;
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
  }

  .set-col-md-6-2-office-details-page {
    padding-left: 16px;
    padding-right: 0px;
  }

  .set-reiviews-section-2-padding {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 160px;
  }

  #ui-datepicker-div {
    z-index: -1;
  }

  .main-section{
    margin-top:0px !important;
  }

  .setCol3SearchBarP {
    text-align: center;
    padding-left: 0px;
    width: 100%;
    position: relative;
    left: 15px;
  }


  .set-col-md-2-panel-4-default {
    margin-bottom: 60px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 265px;
    border-radius: 5px;
    width: 65%;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 31%;
  }

  #ui-datepicker-div {
    z-index: -1;
  }
  .set-col-md-2-panel-5-default {
    border: 0px !important;
    width: 100%;
    text-align: center;
    position: relative;
    top: 18px;
  }
  .set-col-md-2-panel-5-default-col-md-12 {
  }

  .set-col-md-12-row-header-tabs {
    margin-top: 0px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    display: flex;
    position: absolute;
    width: 100%;
    height:0px;
  }
  .set-text-align-center-col-md-3 {
    /* text-align: center; */
    /* padding-left: 0px; */
    width: 100%;
    color: #fff;
    position: relative;
    top: 90px;
  }
  .set-col-12-md-inner-part-head {
    /* text-align: center; */
    padding-left: 0px;
    padding-top: 20px;
    display: flex;
  }
  .set-reserve-col-md-3 {
    text-align: -webkit-center;
    width: 100%;
  }
  .set-reserve-col-md-3-text {
    font-size: 12px;
    font-family: Montserrat, sans-serif !important;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }
  .tablink {
    background-color: #fff;
    color: #555;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px 10px;
    font-weight: bold;
    width: 33.33%;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px;
  }

  .setColFooter{
    margin-top:20px;
    margin-bottom:30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .setCol6MdSPP{
    width:100%;
    text-align: center;
  }

  .post-border{
    display:none;
  }

  .tab-detail .nav-tabs {
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 2px;
    width: 400%;
    max-width: max-content;
  }
  .setPostBoxImage{
    height: 365px !important;
    width: 100% !important;
  }

  .set-scroller{
    overflow: scroll;
    height: 45px;
  }

  .setColMd2{
    width:100%;
    margin-bottom: 60px;
  }

  .setColMd10{
    width: 100%;
    margin-top: 6%;
    text-align: center;
    margin-left:0px !important;
    padding-left: 0px;
    padding-right: 20px;
  }

  .setColMd9OverView{
    width: 100%;
    padding-right: 0px;
  }

  .setCol3MdOH{
    width:100%;
  }

  .tab-detail ul.nav.nav-tabs li {
    width: 149.5px !important;
    height: 39px;
    background-color: #afafaf;
    margin-right: 3px;
  }

  .sticky {
    position: fixed !important;
    top: 4px !important;
    width: 86% !important;
    z-index: 999;
  }

  .setMainContainer{
    width: 100%;
  }

  .reason-box {
    background: #82c35f;
    padding-top: 30px;
    text-align: left;
    height: 235px;
  }

  .oprtaing-hour {
    border: 1px solid #cccccc;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -1px;
    padding-bottom: 8px;
    text-align: center;
  }
  .browse-space {
    margin-top: 12px;
  }

  .setFooterContainer{
    padding-left:0px;
    padding-right:0px;
  }

  .space-links .btn {
    width: 168px;
    height: 47px;
    border-radius: 10px;
    background-color: #57af2a;
    border: 0.2px solid #ffffff;
    line-height: 36px;
    margin-right: 0px !important;
    margin-top: 20px;
  }

  h2.write-review {
    font-size: 22px;
    line-height: 19px;
    color: #54616c;
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
    margin-top: 51px;
    margin-bottom: 30px;
  }

  .setRightSection{
    margin-top:60px;
    width:100% !important;
  }

  .setby-space1{
    position: absolute;
    left: 10%;
    width: 25%;
  }
  .setCategory1{
    position: absolute;
    left: 39%;
    width: 25%;
  }
  .setCategory2 {
    position: relative;
    left: 70%;
    width: 25%;
  }
  .setCategory3 {
    position: relative;
    top: 75px;
    padding-right: 15px;
    text-align: center;
    padding-left: 15px;
  }

  .range-slider {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    left: 0px !important;
    top: 10px;
    margin-bottom:100px;
  }
  .set-footer-container{
    width:100% !important;
  }

  .set-rowmarginbothside{
    margin-right:0px;
    margin-left:0px;
    width:100% !important;
  }
  .header-banner-second-part{
    margin-right:0px;
    margin-left:0px;
    top:-165px;
  }
  .set-search-container{
    width:100%;
  }

  .set-head-main-container{
    width:100%;
  }

}

@media (max-width:883px)
{
  .tab-detail ul.nav.nav-tabs li {
    width: 125.5px !important;
    height: 39px;
    background-color: #afafaf;
    margin-right: 3px;
  }
}

@media (max-width:797px)
{
  .set-col-md-2-panel-4-default {
    margin-bottom: 60px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 265px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 36%;
  }
  .sticky {
    position: fixed !important;
    top: 0px !important;
    width: 86% !important;
    z-index: 999;
  }
}

@media (max-width:767px)
{
  .set-border-right > h6{
    border:0px !important;
  }

  .set-border-right-h6{
    border:0px !important;
  }

  .tab-detail ul.nav.nav-tabs li {
    width: 105px !important;
    height: 39px;
    background-color: #afafaf;
    margin-right: 3px;
  }

  .set-b-left-area{
    margin-bottom:40px;
  }
}

@media (max-width:700px)
{
  .set-col-md-2-panel-4-default {
    margin-bottom: 60px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 265px;
    border-radius: 5px;
    width: 51%;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 41%;
  }
}

@media (max-width:620px)
{
  .set-col-md-2-panel-4-default {
    margin-bottom: 60px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 265px;
    border-radius: 5px;
    width: 51%;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 43%;
  }
}

@media (max-width:629px)
{
  .tab-detail .nav-tabs {
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 2px;
    /* max-width: max-content; */
    /* overflow: scroll; */
    height: 45px;
    width: 100% !important;
    left: 13px;
  }
  .set-text-align-center-col-md-3 {
    /* text-align: center; */
    /* padding-left: 0px; */
    width: 100%;
    color: #fff;
    position: relative;
    top: 81px;
  }
}

@media (max-width:588px)
{
  .set-notUsedPlace-moda-content {
    background-color: #fff;
    width: 80%;
  }

  .set-col-md-12-mobile-view > tbody > tr > td{
    font-size:12px;
    font-weight: 500;
    text-align: center;
  }

  .set-reserve {
    background-color: #57b029;
    padding: 5px 4px;
    font-size: 8px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    width: 78%;
  }

  .set-mobile-view-area-color{
    background-color: #58AE29 !important;
    color:#fff !important;
    font-weight:bold !important;
    text-align: left !important;
    border-radius: 0px !important;
    margin-bottom: 5px ;
  }
  .set-mobile-view-area{
    border-radius: 0px !important;
  }

  .set-col-md-12-mobile-view-body-section{
    font-weight: 500;
    display: -webkit-box;
    position: relative;
    padding-left: 0px;
    top: 0px;
    padding-right: 0px;
  }

  .set-body-section-mobile-view{
  }
  .set-body-section-mobile-view-price{
  }

  .set-body-section-mobile-view-check{
    padding-right:30px;padding-left:0px;
  }

  .set-col-md-12-mobile-view{
    position: relative;
    top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
  }

  .set-col-md-12-mobile-view > thead> tr> th{
    font-size:10px;
  }
  .set-mobile-view-container{
    display:block;
    padding-left:0px;
    padding-right:0px;
  }

  #web-view{
    display:none;
  }
  .sticky {
    position: unset !important;
    top: 0px !important;
    z-index: 999;
  }

  .tab-detail .nav-tabs {
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 2px;
    /* max-width: max-content; */
    /* overflow: scroll; */
    height: 45px;
    width: 400% !important;
    left: 13px;
  }
  .page-header.navbar.navbar-fixed-top{
    top:0px !important;
  }

  .set-text-align-center-col-md-3 {
    /* text-align: center; */
    /* padding-left: 0px; */
    width: 100%;
    color: #fff;
    position: relative;
    top: 81px;
  }

  .set-col-md-2-panel-4-default {
    margin-bottom: 60px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 265px;
    border-radius: 5px;
    width: 46%;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 46%;
  }
}


@media (max-width:557px)
{

  /*.set-col-md-2-panel-4-default-col-md-12{*/
    /*text-align: center;*/
  /*}*/
  /*.set-col-md-2-panel-4-1-default-col-md-12{*/
    /*text-align: center;*/
  /*}*/

  .setColMd9OverView{
    margin-top:10px;
  }

  .setCol3SearchBarP {
    text-align: center;
    padding-left: 0px;
    width: 100%;
    position: relative;
    left: 6px;
  }

  .set-pael-defaultcol-md-2-area {
    height: 116px;
    background-color: #f8f9fb;
    margin-top: 32px;
    width: 100%;
    padding: 8px;
    border: 1px solid #e9e9e9;
    margin-bottom: 10px;
  }
  .set-col-md-2-panel-4-default {
    margin-bottom: 60px;
    background-color: #b7dda4;
    color: #2e404e;
    height: 265px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    position: unset !important;
  }
  .set-col-md-2-panel-2-default {
    background-color: #b7dda4;
    border: 1px solid #b7dda4;
    height: 71px;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .set-col-md-2-panel-3-default {
    border: 1px solid #e9e9e9;
    background-color: #f8f9fb;
    height: 55px;
    width: 100%;
    margin-bottom: 10px;
  }
  .setColMd2 {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }

  .setByCategory1{
    font-size: 16px;
    line-height: 25px;
    color: #acacac;
    font-family: "Montserrat";
    font-weight: 300;
    margin-bottom: 40px;
    position: unset;
    width: 100%;
    padding-left: 0px;
  }

  .by-space1 {
    width: 100%;
    padding-left: 0px;
  }
  .setByCategory2 {
    font-size: 16px;
    line-height: 25px;
    color: #acacac;
    font-family: "Montserrat";
    font-weight: 300;
    margin-bottom: 40px;
    position: unset;
    width: 100%;
    padding-left: 0px;
  }
  .setColMd10 {
    width: 100%;
    text-align: center;
  }

  .min-price{
    position: absolute;
    left: 10px;
  }

  .setBookNowDiv{
    width:100%;
    text-align: center;
  }

  .setFacilitie, .col-md-3 {
    text-align: left;
    display:inline-block;
  }

  .setSectionupCol3colxs3 {
    width: 100%;
    text-align: center;
  }

  .setSectionupCol3colxs3 .col-md-3{
    width: 100%;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .setFacilitieRowsUFF{
    margin-right:-30px;
  }

  .footer-bg {
    background: #30303c;
    color: #ffffff;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .setBarProgress{
    width:100% !important;
  }
}

@media (max-width:360px)
{
  .set-col-md-12-mobile-view{
    margin-left:-13px;
  }
  .facilitie-bellow h5 {
    font-size: 12px;
    line-height: 25px;
    color: #58af29;
    font-family: "Montserrat";
    font-weight: 400;
    display: grid;
  }
  .setFacilitie, .col-md-3 {
    text-align: left;
    display: inline-block;
    padding-right: 8px;
  }
}
