.page-container {
    background-color: #fff;
}

.number-input{
    width: 80px;
    height: 100px;
}

.form-control.number-input{
    font-size: 70px;
    width: 80px;
}

.form-control.number-input.center{
    border-left: 0px;
    border-right: 0px;
}

.hyphen{
    background-color: transparent;
    border: 0px;
    font-size: 70px;
    padding-right: 20px;
}

.form-body{
    padding: 10px 80px;
}


.setInputBox{
     display:inline-flex;
    width: 82%;
}
.setInputBox input{
    width:100px !important;
}
.setCVFormBody{
    padding:10px 0px;
    text-align: center;
    text-align: -moz-center;
}
.sethyphen{
    background-color: transparent;
    border: 0px;
    font-size: 70px;
    padding-right: 34px;
}

@media (max-width:991px) and (min-width:320px)
{
    .setCol8CCP{
        padding-top:10px;
    }
    .setCVFormBody{
        text-align: center;
        text-align: -moz-center;
    }
}

@media (max-width:991px) and (min-width:569px)
{
    .setInputBox input {
        width: 50px !important;
        height: 85px !important;
        font-size: 40px !important;
        text-align: center;
    }
}
@media (max-width:568px) and (min-width:506px)
{
    .setInputBox input {
        width: 50px !important;
        height: 85px !important;
        font-size: 40px !important;
        text-align: center;
    }
}

@media (max-width:505px) and (min-width:400px)
{
    .setCVFormBody{
        padding:10px 0px;
    }
    .setInputBox input {
        width: 45px !important;
        height: 65px !important;
        font-size: 27px !important;
    }
    .sethyphen {
        background-color: transparent;
        border: 0px;
        font-size: 70px;
        padding-right: 34px;
        margin-top: -3%;
    }

}

@media (max-width:399px) and (min-width:350px)
{
    .setCVFormBody{
        padding:10px 0px;
    }
    .setInputBox input {
        width: 37px !important;
        height: 54px !important;
        font-size: 25px !important;
        padding:8px;
    }
    .sethyphen {
        background-color: transparent;
        border: 0px;
        font-size: 70px;
        padding-right: 34px;
        margin-top: -4%;
    }
}

@media (max-width:349px) and (min-width:220px)
{
    .setCVFormBody{
        padding:10px 0px;
    }
    .setInputBox input {
        width: 28px !important;
        height: 48px !important;
        font-size: 25px !important;
        padding: 4px;

    }
    .sethyphen {
        background-color: transparent;
        border: 0px;
        font-size: 70px;
        padding-right: 34px;
        margin-top: -7%;
    }
}
