.page-container{
    background: url(../../../images/home2.jpg) no-repeat;
    background-size: 1920px 859px;
    height: 30%;
}

.logo-banner{
    text-align: center;
    margin-top: 100px;
    padding: 30px;
}

.slogan{
    text-align: center;
    color: #ffe6a3;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 170px;
}

body.page-md {
    /*background: #ff8c34;*/
    background-color: #eeeeee;
}

.btn.btn-lg.btnOrange{
    color : #ffffff;
    background-color : #ff8c34;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 45px;
}

.div-btnCreateOrder{
    margin-top: -180px;
    text-align: center;
}

.page-header-fixed .page-container {
    margin-top: 0px;
}