.page-container {
    /*background: url(../../../images/background.png) no-repeat;*/
    /*background-size: 1175px;*/
    background-color: #fff;
}

.setPanelD {
    background: none !important;
}

.setUORDEREDLIST {
    text-align: center;
}

.setQQIMAGELPA {
    border-radius: 40px;
}

.set-col-md-12-login-page {
    padding-left: 17px;
    padding-right: 17px;
}

.setSUUU p {
    margin-top: 4%;
    font-family: Montserrat, sans-serif;
    color: #848484;
    font-weight: bold;
}

.e-form .reset-input {
    color: #b3b3b3;
    opacity: 0;
    position: absolute;
    right: 25px;
    top: 62%;
    font-size: 20px;
    transform: translateY(-50%);
    z-index: 9999;
}

.setLOGINPBODY {
    width: 100%;
}

.setROWColl12 {
    width: 100% !important;
}

.setLABELLPAGE {
    font-family: Montserrat, sans-serif;
    color: #848484;
    font-weight: 600;
}

.setNameICON {
    position: absolute;
    top: 36px;
    left: 2%;
    color: #adadaa;
    width: 20px;
}

.setCOL12LPBTN {
    margin-top: 5%;
}

.setColRow6CB div.checker,
div.radio {
    margin-left: 0px !important;
}

.setCHECKBOX {}



/*checkbox customization*/
/* The container */
.checkBoxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 3px;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #354654;
}

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input~.checkmark {
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked~.checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.set-padding-forgot {
    padding-right: 17px;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #555;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*checkbox customization*/



.setBTNLOGIN {
    height: 56px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF !important;
    background-color: #354654 !important;
}

.setROWLRLINK {
    margin-right: 0px !important;
    margin-left: 0px !important;
}


.setFIELD {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 50px;
    padding: 21px 36px !important;
}

.setGLYPHICON {
    position: absolute;
    top: 36px;
    left: 2%;
    color: #adadaa;
    width: 18px;
}

.setROWCOL6LP {
    padding: 15px;
}

.setFORMBODY {
    margin-top: -5% !important;
}

.setLPAGEH5 {
    background-color: #354654;
    color: #FFFFFF;
    height: 50px;
    width: 50%;
    padding: 13px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 17px;
    text-transform: initial;
}

.setBTNBTNBBLP {
    background-color: #53C329;
    color: #FFFFFF;
    height: 50px;
    width: 50%;
    padding: 13px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 17px;
    text-transform: initial;
}

.setBTNBTNLOGPPADPE {
    padding: 15px;
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
}

.setRememberMeLPAGE {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #848484;
    font-size: 12px;
    margin-left: 19px;
    position: relative;
    top: -11px;
    left: 6px;
}

.setFORGPTLP {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #848484;
    font-size: 12px;
}

.e-form {
    clear: both;
    display: block;
    position: relative;
}

/*.e-form label{*/
/*position: absolute;*/
/*line-height: 20px;*/
/*margin-left: 30px;*/
/*padding: 1px;*/
/*position: absolute;*/
/*top: -12px;*/
/*color: #999999;*/
/*font-size: 14px;*/
/*}*/
.e-form .hasContent {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    border-color: #c2cad8 !important;
}

.e-form .hasContent-error {
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 0 5px rgba(240, 95, 92, 0.7) !important;*/
    /*border-color: #f05f5c !important;*/
}

.e-form input[type="text"]:focus,
.e-form input[type="password"]:focus,
.e-form input[type="email"]:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 0 5px rgba(169, 253, 0, 0.7) !important;
    border-color: #a9fd00 !important;
}

/*.e-form .hasContent-error ~ label{
    top: -13px;
    background-color: #fff;
    color: #f05f5c;
    font-size: 12px;
    font-weight: normal !important;
}*/
.e-form .hasContent~label {
    top: -13px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: normal !important;
}

.e-form input[type="email"]:focus~label,
.e-form input[type="password"]:focus~label,
.e-form input[type="text"]:focus~label {
    top: -13px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: normal !important;
    transition: all 0.2s ease-in-out 0s;
}

.e-form .hasContent-error~.reset-input,
.e-form .hasContent~.reset-input {
    opacity: 0;
    /*transition: all 0.2s ease-in-out 0s;*/
}

.e-form input[type="email"]:focus~.reset-input,
.e-form input[type="text"]:focus~.reset-input,
.e-form input[type="password"]:focus~.reset-input {
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}


.panel.panel-default {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 92%, #f5f5f5 92%, #f5f5f5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(92%, #ffffff), color-stop(92%, #f5f5f5), color-stop(100%, #f5f5f5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 92%, #f5f5f5 92%, #f5f5f5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 92%, #f5f5f5 92%, #f5f5f5 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 92%, #f5f5f5 92%, #f5f5f5 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #ffffff 92%, #f5f5f5 92%, #f5f5f5 100%);
    /* W3C */
}

.fb-logo {
    margin-top: 15px;
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;

}

i {
    font-size: 12px;
    height: 30px;
    vertical-align: middle;
}

.navbar-nav>li>a {
    /*padding-left: 10px !important;*/
    /*padding-right: 10px !important;*/
}

html:lang(cn) .navbar-nav>li {
    /*padding-left: 5px !important;*/
    /*padding-right: 5px !important;   */
}

@media (max-width:2000px) {
    .set-col-md-12-login-page {
        padding-left: 20px;
        padding-right: 20px;
    }

    .set-padding-forgot {
        padding-right: 20px;
    }

    .setColRow6CB {
        padding-left: 20px;
    }
}

@media (max-width:1317px) {
    .set-col-md-12-login-page {
        padding-left: 17px;
        padding-right: 17px;
    }

    .setColRow6CB {
        padding-left: 15px;
    }

    .set-padding-forgot {
        padding-right: 17px;
    }
}

@media (max-width:1139px) {
    .set-col-md-12-login-page {
        padding-left: 14px;
        padding-right: 14px;
    }
}

@media (max-width:991px) and (min-width:320px) {
    .set-col-md-12-login-page {
        padding-left: 17px;
        padding-right: 14px;
    }

    .setColRow6CB {
        display: inline-block !important;
        float: left;
    }

    .set-padding-forgot {
        padding-right: 17px;
        float: right;
    }

    .setROWCOL6LP img {
        display: none;
    }

    .setAREALP {
        text-align-last: center;
    }

    .setBTNBTNLOGPPADPE {
        padding: 15px;
        display: flex;
        margin-left: 2.4%;
        margin-right: 2%;
    }

    .setROWColl12 {
        width: 100% !important;
        margin-left: 0px !important;
    }
}

@media (max-width:676px) and (min-width:475px) {
    .setBTNBTNBBLP {
        background-color: #53C329;
        color: #FFFFFF;
        height: 50px;
        width: 50%;
        padding: 13px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        font-size: 15px;
        text-transform: initial;
    }

    .setLPAGEH5 {
        background-color: #354654;
        color: #FFFFFF;
        height: 50px;
        width: 50%;
        padding: 13px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        font-size: 15px;
        text-transform: initial;
    }

    .setSUUU p {
        margin-top: 10%;
        font-family: Montserrat, sans-serif;
        color: #848484;
        font-weight: bold;
    }
}

@media(max-width:474px) and (min-width:320px) {
    .setBTNBTNBBLP {
        background-color: #53C329;
        color: #FFFFFF;
        height: 50px;
        width: 50%;
        padding: 13px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        font-size: 13px;
        text-transform: initial;
    }

    .setLPAGEH5 {
        background-color: #354654;
        color: #FFFFFF;
        height: 50px;
        width: 50%;
        padding: 13px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        font-size: 13px;
        text-transform: initial;
    }

    .setSUUU p {
        margin-top: 10%;
        font-family: Montserrat, sans-serif;
        color: #848484;
        font-weight: bold;
    }

    .setQQIMAGELPA {
        border-radius: 40px;
        width: 50px;
    }
}

@media (max-width:1199px) {
    .page-header.navbar .menu-toggler.responsive-toggler {
        display: inline-block;
        float: right;
        /*margin: 30.5px 36px 0 6px;*/
        /*margin-top: 30px;*/
        margin-right: 23px;
    }

    .setGUESTMUL {
        border: 0 !important;
        border-radius: 2px !important;
        margin-right: 100px;
        margin-top: 0px;
    }

    #msHeaderSearchBar {
        top: 2px;
        width: 100%;
    }

    .fa-search.header-search-bar {
        position: absolute;
        top: 33px;
        color: #5ec329;
        font-size: 18px;
    }
}

@media (max-width:991px) and (min-width:610px) {
    .page-header.navbar .menu-toggler.responsive-toggler {
        display: inline-block;
        float: right;
        margin: 30.5px 36px 0 6px;
        margin-top: -193px;
        margin-right: 70px;
    }

    .dropdown-menu {
        border: 0 !important;
        border-radius: 2px !important;
        margin-right: 25px;
        margin-top: -25px;
    }

    .chats li.out .avatar {
        float: right;
        margin-left: 38% !important;
    }

}

/*@media (max-width:609px) and (min-width:483px){*/
/*.chats li.out .avatar {*/
/*float: right;*/
/*margin-left: 34% !important;*/
/*}*/
/*}*/

/*@media (max-width:482px) and (min-width:378px)*/
/*{*/
/*.chats li.out .avatar {*/
/*float: right;*/
/*margin-left: 28% !important;*/
/*}*/
/*}*/

/*@media (max-width:377px) and (min-width:319px)*/
/*{*/
/*.chats li.out .avatar {*/
/*float: right;*/
/*margin-left: 22% !important;*/
/*}*/
/*}*/


@media (max-width:980px) and (min-width:320px) {
    .setGuestMenuToggler {
        padding: 30px !important;
        margin: -35px 30px 30px 30px !important;
        position: relative;
    }

    .dropdown-menu {
        border: 0 !important;
        border-radius: 2px !important;
        margin-right: -85px;
        margin-top: 25px;
    }
}

@media (max-width:560px) and (min-width:320px) {
    .setBTNBTNLOGPPADPE {
        padding: 0px !important;
        margin: 0px;
    }

    .set-col-md-6-login-page {
        padding-left: 0px;
        padding-right: 0px;
    }

    .setCol3H {
        padding-left: 5px;
        padding-right: 5px;
    }

    .set-login-page-main-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .set-col-md-12-login-page {

        display: contents;
        padding-left: 0px;
        padding-right: 0px;
    }

    .setColRow6CB {
        padding-left: 0px;
    }

    .set-padding-forgot {
        padding-right: 0px;
    }

    .setLOGINPBODY {
        padding-left: 0px;
        padding-right: 0px;
    }

    .dropdown-menu {
        border: 0 !important;
        border-radius: 2px !important;
        margin-right: 26px !important;
        margin-top: 25px;
    }

    .page-header-row div:nth-child(2) {
        right: 0px;
        top: 0px;
    }
}
