.select2-selection {
    height: 32.8px !important;
    border: 1px solid #c2cad8 !important;
}

.setColorRegister{
    color:#57b029 !important;
    font-family: 'Raleway',Sans-Serif !important;
    font-size:36px !important;
    font-weight: bold;
}

.set-register-slide-main-row{
    display: flex;
}

.m-top-12{
    margin-top:10px;
}

.setlabelRegister{
    font-family: 'Raleway', Sans-Serif !important;
    color:#423e3c;
    font-size: 16px !important;
    width: 50%;
    margin-top:14px;
}

.BDC_CaptchaDiv{
    /*width: 100% !important;*/
}
.BDC_CaptchaIconsDiv{
    float: right;
}

.e-form{
    clear: both;
    display: block;
    position: relative;
}
/*.e-form label{*/
/*position: absolute;*/
/*line-height: 15px;*/
/*margin-left: 15px;*/
/*padding: 1px;*/
/*position: absolute;*/
/*top: 7px;*/
/*color: #999999;*/
/*font-size: 14px;*/
/*}*/
.e-form .hasContent{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    border-color: #c2cad8 !important;
}
.e-form .hasContent-error{
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 0 5px rgba(240, 95, 92, 0.7) !important;
    border-color: #f05f5c !important;*/
}
.e-form input[type="text"]:focus,
.e-form input[type="password"]:focus,
.e-form input[type="email"]:focus{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 0 5px rgba(169, 253, 0, 0.7) !important;
    border-color: #a9fd00 !important;
}
/*.e-form .hasContent-error ~ label{
    top: -9px;
    background-color: #fff;
    color: #f05f5c;
    font-size: 12px;
    font-weight: normal !important;
}*/
.e-form .hasContent ~ label{
    top: -9px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: normal !important;
}
.e-form input[type="email"]:focus ~ label,
.e-form input[type="password"]:focus ~ label,
.e-form input[type="text"]:focus ~ label {
    top: -9px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: normal !important;
    transition: all 0.2s ease-in-out 0s;
}
.e-form .reset-input{
    color: #b3b3b3;
    opacity: 0;
    position: absolute;
    right: 25px;
    top: 70%;
    font-size: 12px;
    transform: translateY(-50%);
    z-index: 9999;
}
.e-form .hasContent-error ~ .reset-input,
.e-form .hasContent ~ .reset-input{
    opacity: 0;
    /*transition: all 0.2s ease-in-out 0s;*/
}
.e-form input[type="email"]:focus ~ .reset-input,
.e-form input[type="text"]:focus ~ .reset-input,
.e-form input[type="password"]:focus ~ .reset-input{
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}

.setEFORM a{
    top:50% !important;
}
.setEFORM input{
    text-transform: capitalize !important;
    padding: 10px !important;
}

#setREGPAGEEFORMINF1{
    color:#848484;
    font-weight:600;
    font-family: Montserrat, sans-serif;
}

.setSPN1{
    margin-left:1%;
    font-weight:600;
    color:#848484;
    font-family: Montserrat, sans-serif;
}

.setSPN2{
    color:#57AF2A;
    font-weight:600;
    font-family: Montserrat, sans-serif;
}
.setSPN3{
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    color:#848484;
}
.setSPN4{
    color:#57AF2A;
    font-weight:600;
    font-family: Montserrat, sans-serif;
}

.setREGPGELOGINM{
    color:#57AF2A;
    font-family:Montserrat, sans-serif;
    font-weight: 600; font-size:15px;
}

.nav.navbar-nav.navbar-right{
    /*padding-top: 0px;*/
    /*padding-right: 10px;*/
}


/*.navbar-nav > li > a{*/
/*padding:26px 10px;*/
/*}*/

.page-container{
    /*background: url(../../../images/registerBackground.png) no-repeat;*/
    background-color: #fff;
    /*background-position: right;*/
    /*background-size: auto;*/
    /*background-origin: content-box;*/
}

.setBGIMAGE{
    margin-top:12.5%;
}
.setROWIARP{
    margin-left: -19px;
    text-align: -webkit-center;
    text-align-last: left;
}
.setCHECKERRCol12{
    padding-left: 20px;
}

@media (max-width:991px)
{
    .setBGIMAGE{
        display: none;
    }
}

.box-register{
    background-color: rgba(255,255,255,0.3) !important;
}

.number-input{
    width: 80px;
    height: 100px;
}

.form-control.number-input{
    font-size: 70px;
    width: 80px;
}

.form-control.number-input.center{
    border-left: 0px;
    border-right: 0px;
}

.hyphen{
    background-color: transparent;
    border: 0px;
    font-size: 70px;
    padding-right: 20px;
}


.setContainer{
    width:100% !important;
    padding:13px;
    text-align-last: center;
    background-color: #354654;
}

.setFormGroupXRA{
    background-color:#354654;
    padding:10px;
    border-radius: 4px;
    text-align-last: center;
}
.setFormGroupXRA h5{
    color:#FFFFFF;
    font-family:Montserrat, sans-serif;
    font-weight:600;
    font-size:20px;
}
.setPANELBODY{
    width:100% !important;
    padding:0px !important;
}

.setField{
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height:40px;
    padding:0px 45px !important;
}


.setSelect2 .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
    height:40px !important;
}

.setSelect2 .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
    padding: 4px 34px !important;
}

.setSelect2 .select2-selection__arrow b{
    top:70% !important;
    border-color: black transparent transparent transparent !important;
}

.setBDC .BDC_CaptchaImageDiv img{
    width:80% !important;
}

.setBDC a{

}
.setBTNRP{
    background-color:#57AF2A;
    color:#FFFFFF;
    font-family: Montserrat, sans-serif;
    height:50px;
    border-radius: 3px;
}
.setBTNRP:hover{
    color:#FFFFFF;
}
.setBTNRP:focus{
    color:#FFFFFF;
}
.setAHAL{
    margin-top: -1%;
    font-size: 15px;
    color: #848484;
    font-weight: 600;
}
.setFBBTNC{
    background-color:#4E71A8;
    color:#FFFFFF;
    width:100% !important;
    font-family: Montserrat, sans-serif;
    text-transform: capitalize;
    height:50px;
    border-radius: 3px;
    font-size:14px;
}
.setFBBTNC:hover{
    color:#FFFFFF;
}
.setFBBTNC:focus{
    color:#FFFFFF;
}
.setFBCol12{
    margin-top:3%;
}
.setSLORPCol12{
    font-family: Montserrat, sans-serif;
    color:#848484;
    font-size:15px;
}
.setFBICON{
    font-size: 18px;
    position: absolute;
    bottom: 35%;
    left: 28%;
    color: white;
}

.set-span-divider-or{
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

#slideUnlock .text {
    font-family: Raleway, sans-serif !IMPORTANT;
    background: #57b029;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
}

.setLabel{
    font-family: Montserrat, sans-serif;
    color:#848484;
    font-weight:600;
}

.setBDC{
    padding-right:5px;
}
.set-facebook-login-col-md-6{
    padding-left:5px;
}

.setBDC .BDC_CaptchaDiv {
    padding: 0 !important;
    margin: 16px !important;
    overflow: visible !important;
}

.setGLYPHICON {
    position: absolute;
    top: 33px;
    left: 5%;
    color: #adadaa;
    width: 18px;
}
.setEmailICON{
    position: absolute;
    top: 37px;
    left: 5%;
    color: #adadaa;
    width: 18px;
}
.setNameICON{
    position: absolute;
    top: 35px;
    left: 5%;
    color: #adadaa;
    width: 20px;
}
.setGLYPHIL{
    position: absolute;
    top:38px;
    left:5%;
    color: #adadaa;
    font-family: 'Glyphicons Halflings' !important;
}

.setBDC .BDC_CaptchaImageDiv {
    text-align-last: start;
    margin-left: -7px !important;
}

@media (max-width:767px)
{
    .setFormGroupXRA h5 {
        color: #FFFFFF;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 15px;
    }
}

@media (max-width:360px)
{
    .setFormGroupXRA h5 {
        color: #FFFFFF;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 12px;
    }
}

@media (max-width:1139px){
    .setFBICON{
        font-size: 15px;
        position: absolute;
        bottom: 48%;
        /*left: 39%;*/
        color: white;
    }
    .setBDC .BDC_CaptchaDiv {
        padding: 0 !important;
        margin: 16px !important;
        overflow: visible !important;
    }

    .setBDC .BDC_CaptchaImageDiv{
        text-align-last: start;
        margin-left:-7px !important;
    }
    .setBDC .BDC_CaptchaIconsDiv {
        float: none !important;
        margin-left: -24px !important;
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .set-facebook-login-col-md-6{
        width: 100%;
        padding-left: 15px;
    }
    .set-span-divider-or {
        min-height: 50px;
        display: grid;
        align-items: center;
        font-weight: bold;
        width: 100%;
        text-align-last: center;
    }
    .setBDC {
        width: 100%;
        padding-right: 15px;
    }
    .set-register-slide-main-row {
        display: block;
    }
    .setBDC .BDC_CaptchaDiv {
        padding: 0 !important;
        margin: 14px !important;
        overflow: visible !important;
    }

    .setBDC .BDC_CaptchaImageDiv{
        text-align-last: start;
    }
    .setBDC .BDC_CaptchaIconsDiv {
        float: none !important;
        margin-left: -24px !important;
    }
}

@media (max-width:991px) and (min-width:681px){
    .setFBICON{
        font-size: 18px;
        position: absolute;
        bottom: 32%;
        /*left: 42%;*/
        color: white;
    }
    .setGLYPHICON {
        position: absolute;
        top: 33px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setEmailICON{
        position: absolute;
        top: 37px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setNameICON{
        position: absolute;
        top: 35px;
        left: 2%;
        color: #adadaa;
        width: 20px;
    }
    .setGLYPHIL{
        position: absolute;
        top:36px;
        left:2%;
        color: #adadaa;
    }
}

@media (max-width:680px) and (min-width:600px){
    .setFBICON{
        font-size: 18px;
        position: absolute;
        bottom: 34%;
        left: 41%;
        color: white;
    }
    .setGLYPHICON {
        position: absolute;
        top: 33px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setEmailICON{
        position: absolute;
        top: 37px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setNameICON{
        position: absolute;
        top: 35px;
        left: 2%;
        color: #adadaa;
        width: 20px;
    }
    .setGLYPHIL{
        position: absolute;
        top:34px;
        left:2%;
        color: #adadaa;
    }
}

@media (max-width:599px) and (min-width:499px)
{
    .setFBICON{
        font-size: 18px;
        position: absolute;
        bottom: 32%;
        left: 39%;
        color: white;
    }
    .setGLYPHICON {
        position: absolute;
        top: 33px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setEmailICON{
        position: absolute;
        top: 37px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setNameICON{
        position: absolute;
        top: 35px;
        left: 2%;
        color: #adadaa;
        width: 20px;
    }
    .setGLYPHIL{
        position: absolute;
        top:34px;
        left:2%;
        color: #adadaa;
    }
}

@media (max-width:498px) and (min-width:445px)
{
    .setFBICON{
        font-size: 18px;
        position: absolute;
        bottom: 34%;
        left: 38%;
        color: white;
    }
    .setGLYPHICON {
        position: absolute;
        top: 33px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setEmailICON{
        position: absolute;
        top: 37px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setNameICON{
        position: absolute;
        top: 35px;
        left: 2%;
        color: #adadaa;
        width: 20px;
    }
    .setGLYPHIL{
        position: absolute;
        top:34px;
        left:2%;
        color: #adadaa;
    }
}

@media (max-width:464px)
{
    .setCHECKERRCol12 {
        text-align-last: center;
    }
}

@media (max-width:444px) and (min-width:388px){
    .setFBICON{
        font-size: 18px;
        position: absolute;
        bottom: 33%;
        left: 36%;
        color: white;
    }
    .setGLYPHICON {
        position: absolute;
        top: 33px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setEmailICON{
        position: absolute;
        top: 37px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setNameICON{
        position: absolute;
        top: 35px;
        left: 2%;
        color: #adadaa;
        width: 20px;
    }
    .setGLYPHIL{
        position: absolute;
        top:34px;
        left:2%;
        color: #adadaa;
    }
}

@media (max-width:387px) and (min-width:340px)
{
    .setFBICON{
        font-size: 17px;
        position: absolute;
        bottom: 34%;
        left: 34%;
        color: white;
    }
    .setGLYPHICON {
        position: absolute;
        top: 33px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setEmailICON{
        position: absolute;
        top: 37px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setNameICON{
        position: absolute;
        top: 35px;
        left: 2%;
        color: #adadaa;
        width: 20px;
    }
    .setGLYPHIL{
        position: absolute;
        top:34px;
        left:2%;
        color: #adadaa;
    }
}

@media (max-width:339px) and (min-width:320px)
{
    .setFBICON {
        font-size: 14px;
        position: absolute;
        bottom: 38%;
        left: 35%;
        color: white;
    }
    .setGLYPHICON {
        position: absolute;
        top: 33px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setEmailICON{
        position: absolute;
        top: 37px;
        left: 2%;
        color: #adadaa;
        width: 18px;
    }
    .setNameICON{
        position: absolute;
        top: 35px;
        left: 2%;
        color: #adadaa;
        width: 20px;
    }
    .setGLYPHIL{
        position: absolute;
        top:34px;
        left:2%;
        color: #adadaa;
    }
}

@media (max-width:1199px) {
    .page-header.navbar .menu-toggler.responsive-toggler {
        display: inline-block;
        float: right;
    }
    .setGUESTMUL {
        border: 0!important;
        border-radius: 2px!important;
        margin-right: 100px;
        margin-top: 5px;
    }
}

/*@media (max-width:991px) and (min-width:692px)*/
/*{*/
/*.chats li.out .avatar {*/
/*float: right;*/
/*margin-left: 40% !important;*/
/*}*/
/*}*/

/*@media (max-width:691px) and (min-width:581px)*/
/*{*/
/*.chats li.out .avatar {*/
/*float: right;*/
/*margin-left: 37% !important;*/
/*}*/
/*}*/

/*@media (max-width:580px) and (min-width:461px)*/
/*{*/
/*.chats li.out .avatar {*/
/*float: right;*/
/*margin-left: 33% !important;*/
/*}*/
/*}*/

/*@media (max-width:460px) and (min-width:386px)*/
/*{*/
/*.chats li.out .avatar {*/
/*float: right;*/
/*margin-left: 28% !important;*/
/*}*/
/*}*/

/*@media (max-width:385px) and (min-width:320px)*/
/*{*/
/*.chats li.out .avatar {*/
/*float: right;*/
/*margin-left: 20% !important;*/
/*}*/
/*}*/

@media (max-width:991px) and (min-width:981px)
{
    .setGUESTMUL {
        border: 0 !important;
        border-radius: 2px !important;
        margin-right: 60px !important;
        margin-top: -35px;
    }
}

@media (max-width:980px) and (min-width:320px)
{
    .setGUESTMUL {
        margin-right: -60px !important;
        margin-top: 20px;
    }
}

@media (max-width:560px) and (min-width:320px)
{
    .setCol3H{
        padding-left:5px;
        padding-right:5px;
    }

    .page-header-row .ms-ctn.form-control.ms-no-trigger{
        width:100% !important;
    }
    .set-col-md-6-register-page{
        padding-left:2px;
        padding-right:2px;
    }
    .setGUESTMUL {
        margin-right: -20px !important;
        margin-top: 20px;
    }

    #LoginCaptcha_CaptchaImageDiv{
        margin-left:10px !important;
    }
    #CaptchaCode {
        color: #848484;
        font-weight: 600;
        font-family: Montserrat, sans-serif;
        font-size: 13px;
        border: 1px solid #c2cad8;
        height: 40px;
        width: 100% !important;
        margin-top: 10px;
    }
}

@media (max-width:330px) and (min-width:320px)
{
    .setBDC .BDC_CaptchaDiv {
        padding: 0 !important;
        margin: 0px !important;
        overflow: visible !important;
    }
}

