html:lang(en) body, html:lang(en) h1, html:lang(en) h2, html:lang(en) h3, html:lang(en) h4, html:lang(en) h5, html:lang(en) h6, html:lang(en) p, small, span, ul, li, html:lang(en) a, html:lang(en) option, html:lang(en) button, html:lang(en) b, html:lang(en) input, html:lang(en) .sub-heading, html:lang(en) .btn, html:lang(en) small, html:lang(en) .label, .skill-main, .item-skill {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Myriad Pro', 'Raleway', sans-serif !important;
}

#set-xenren-search-freelancers {display:none;}
#set-xenren-search-freelancers-pagination {display:none;}
.navbar-toggler{
    display: none;
}

.set-ul-search-freelancers{
    float: right;
}

.preload {
    width:100px;
    height: 150px;
    position: relative;
    top: 50%;
    left: 35%;
    text-align: center;
    margin-bottom: 0px;
    background: #fff;
}
.preload >img{
    display: inline-block;
    text-align-last: center;
    width: 50px;
    left:100px;
    align-items: center;
    margin-top:50px;
}

@media (min-width: 320px) and (max-width: 1024px) {
    
    .nav-item button{
        width:100%;
        margin:5px;
    }  
  }

.set-container-pagination-vue-js{
    width: 100%;
    text-align: end;
}

.set-hourly-rate-search{
    letter-spacing: 0px;
    font-weight: 600;
    color:#212529;
    font-size: 15px;
    text-transform: capitalize;
}

.set-countries-search{
    letter-spacing: 0px;
    font-weight: 600;
    color:#212529;
    font-size: 15px;
    text-transform: capitalize;
}

.set-search-freelance-reset{
    letter-spacing: 0px;
    font-weight: 600;
    color:#57b029;
    font-size: 15px;
    text-transform: capitalize;
}

.pagination {
    margin: 0px;
    font-weight: bold;
    font-size: small !important;
    padding-right: 0px;
}

.set-input-search-freelance{
    font-size: 15px;
}

@media (min-width: 1281px) {
    .card-img-top {
        width: 100%;
        height: 176px;
    }

    .banner h3{
        position: absolute;
        top: 31%;
        left: 50%;
        color:white;
        font-weight: bold;
        transform: translate(-50%, -371%);
        letter-spacing: 1px;
    }
 
    .banner h5{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-weight: bold;
        transform: translate(-50%, -170%);
        letter-spacing: 1px;
        line-height: 2;
        font-size: 15px;
        text-transform: capitalize;
    }
  
    .banner input{
        width: 37%;
        position: absolute;
        top:50%;
        left: 32%;
        height: 12%;
    }
   
    .banner .fa{
        position: absolute;
        top: 50.5%;
        left: 65%;
        color: rgb(23, 70, 84);
    }

    .set-search-freelancers-explore-some{
        font-weight: bold;
        text-transform: capitalize;
        padding-left: 10px;
    }

    .freelancers{
        background-color: white;
    }

    .amount {
        color: rgb(94, 195, 41);
        position: absolute;
        left: 72%;
        font-weight: 600;
        font-family: Montserrat, Helvetica, sans-serif !important;
        top: 6%;
    }

    .amount-details{
        font-weight: 600;
        color:#212529;
        position: absolute;
        left: 69%;
        top: 12%;
    }

    .card-title{
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 0px;
        font-size: 16px;
        color:#212529;
    }

    .card img{
        width:45%;
        border-radius: 17px;
        height: 100px;
        padding:0px;
    }

    .freelancers input{
        padding-left:5%;
    }

    
  }
@media (min-width: 1025px) and (max-width: 1280px) {
    .card-img-top {
        width: 100%;
        height: 176px;
    }

    .banner input{
        width: 32%;
        position: absolute;
        top: 80%;
        left: 32%;
        height: 12%;
    }

    .banner .fa{
        position: absolute;
        top: 83.2%;
        left: 61%;
        color: rgb(23, 70, 84);
    }

    .freelancers input{
        width:100%;
        padding-left:35px;
    }
    .main-body{
        background-color: white;
    }


  }
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .banner h3{
        position: absolute;
        top: 28%;
        left: 50%;
        width:100%;
        font-size:20px;
        color:white;
        transform: translate(-50%, -50%);
    }
    .banner h5{
        position: absolute;
        top: 48%;
        left: 50%;
        width:100%;
        color:white;
        font-size: 10px;
        transform: translate(-50%, -50%);
    }
    .banner input{
        width: 32%;
        position: absolute;
        top: 70%;
        left: 32%;
        height: 12%;
    }

    .banner .fa{
        position: absolute;
        top: 72.5%;
        left: 61%;
        color: rgb(23, 70, 84)
    }
    .freelancers{
        background-color: white;
    }
    .amount {
        font-weight: bolder;
        color:rgb(94, 195, 41);
    }


    .freelancers input{
        width:100%;
    }
  }
@media (min-width: 320px) and (max-width: 480px) {
    .banner h3{
        position: absolute;
        top: 28%;
        left: 50%;
        color:white;
        font-size: 15px;
        transform: translate(-50%, -100%);
        width:100%;
    }
    .main-body {
        background-color: rgb(246, 246, 246);
        width:100%;
        font-family: "Raleway";
      }
    .banner h5{
        position: absolute;
        top: 68%;
        left: 50%;
        color:white;
        font-size: 9px;
        transform: translate(-50%, -225%);
        width:100%
    }

    .banner input {
        width: 95%;
        position: absolute;
        top: 59%;
        left: 1%;
        margin:2%;
        height: 12%;
        height: 37px;
    }

    .banner{
        padding-bottom:20px;
    }
    .banner .fa {
        position: absolute;
        top: 71.5%;
        left: 86%;
        color: rgb(23, 70, 84);
    }
    .freelancers{
        margin:0px;
        margin-top:5px;
        background-color:white;
    }
  

    .freelancers input{
       width:100%;
       padding-left:10%;
    }
    .amount {
        color: rgb(94, 195, 41);
        font-weight: bolder;
    }
  
    .card img{
        width:100%;
        height: 100px;
        padding:0px;
    }
    .card{
        margin-bottom:5px;
        margin:0px;
        padding:0px;
    }
  }
@media (min-width: 768px) and (max-width: 1024px) {
    
    .banner h3{
        position: absolute;
        top: 28%;
        left: 50%;
        width:100%;
        font-size: 25px;
        color:white;
        transform: translate(-50%, -50%);
    }
    .banner h5{
        position: absolute;
        top: 48%;
        left: 50%;
        width:100%;
        color:white;
        font-size: 20px;
        transform: translate(-50%, -50%);
    }
    .get-started{
        position: absolute;
        top: 10%;
        left: 50%;
    }
    .banner input{
        width: 45%;
        position: absolute;
        top: 70%;
        left: 26%;
        height: 15%;
    }
    .banner .fa{
        position: absolute;
        top: 73.5%;
        left: 67%;
        color: rgb(23, 70, 84);
    }
    .freelancers{
        background-color:white;
    }
    .freelancers input{
        width:100%;
        padding-left:5%;
    }
    
  }
@media (min-width: 481px) and (max-width: 767px) {

    .amount{
        font-weight: bold;
        color:#57b029;
        margin-bottom: 0px;
    }

    .card-title{
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 0px;
        font-size: 16px;
        color:#212529;
    }

    .amount-details{
        font-weight: 600;
        text-transform: capitalize;
        color:#212529;
    }

    .card-img-top {
        width: 100%;
        height: 176px;
    }

    .freelancers {
        margin-bottom: 10px;
        padding: 0px;
    }

    .banner h3{
        position: absolute;
        top: 28%;
        left: 50%;
        width:100%;
        color:white;
        font-size: 15px;
        transform: translate(-50%, -50%);
    }
    .banner h5{
        position: absolute;
        top: 48%;
        width:100%;
        left: 50%;
        color:white;
        font-size: 10px;
        transform: translate(-50%, -50%);
    }
    .banner input{
        width: 235px;
        position: absolute;
        top: 62%;
        left: 32%;
        height: 15%;
    }
    .banner .fa{
        position: absolute;
        top: 63.5%;
        left: 60%;
        color: rgb(23, 70, 84);
    }

  
    .freelancers input{
       width:100%;
    }
    
  }
@media (max-width:991px){

    .navbar-toggler{
        display: block;
    }

    .card-img-top {
        width: 100%;
        height: 176px;
    }

    .set-nav-search-results-freelancers {
        position: relative !important;
        top: 57px !important;
        z-index: 999 !important;
        background-color: #f8f9fa!important;
    }

    .setSectionServices{
        padding-left:3%;
    }
    footer img {
        width: 40px;
        height: 36px;
    }
    .setPeopleShortStory{
        width:100%;
        text-align: center;
    }
    .section .setMPHSC {
        width: 100% !important;
        text-align: -webkit-center;
        margin-left:0px !important;
    }
}
.main-body{
    background-color: rgb(225, 228, 228);
    
}
.main-body h2{
    font-weight: bold;
    text-transform: inherit;
    padding-left: 10px;
}

.set-nav-search-results-freelancers{
    position: relative;
    top: 80px;
    z-index: 999;
    background-color: #f8f9fa!important;
    padding: 6px 10px 10px 10px;
}

/*STYLE FOR EACH CARD CLASS*/

.freelancers a{
    color:rgb(94, 195, 41);
}
.freelancers{
    margin-bottom:10px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(94, 195, 41);
    cursor: pointer;
  }

/*HOW IT WORKS SECTION*/
.how-it-works{
      background-color:white;
  }

.how-it-works h3{
text-align:center;
}
.title{
    font-weight: bold;
    text-align: center;
    color:#212529;
    font-size: 16px;
}
.describe{
    text-align: center;
    color: #212529;
    font-weight: 500;
}
.how-it-works img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.set-how-its-work{
    font-weight: bold;
    color: #212529;
    text-transform: inherit;
    letter-spacing: 0px;
    font-size: 25px;
}


/*FILTER SLIDER*/
.filter h6{
      color: rgb(94, 195, 41);
    cursor: pointer;
  }
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(94, 195, 41);
    cursor: pointer;
  }
.filter{
    background-color: white;
    margin-right: 15px;
    padding: 25px;
    height: 443px;
 }



#list-menu{
    list-style-type: none;
    padding-bottom:20px;
    padding-top: 20px;
    text-align: center;
}

#list-menu li{
    display: inline;
}
#list-menu a{
    color:black;
    font-family: "Raleway";
    font-weight:bolder;
    text-align: center;
    margin:2%;
}

.card li{
    list-style-type:none;
    display:inline-block;
    margin:1px;
    border-radius: 8px;
    padding:2px;
    font-size: 11px;
}

.card ul{
    position: relative;
    margin-top: -35px;
    margin-right: 23px;

}

.search-freelancer-fa-fa-search{
    font :normal normal normal 14px/1 FontAwesome !important;
    cursor: pointer;
    position: absolute;
    float: left;
    top: -2px;
    left: 25px;
}

.set-skills-search-freelance{
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 15px;
    color: #212529;
}

.set-filters-search-freelance{
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 2.3rem;
    color: #212529;
    text-transform: capitalize;
}

.card{
    width:100% !important;
    padding:15px;
    margin-bottom: 15px;
    height: 520px;
}
.set-marker-countryname{
    margin-bottom: 15px;
    width: 100%;
    float: left;
    color: lightslategray;
    font-weight: 500;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
#set-nav-search-results{
    float: right;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.set-search-xenren-freelancer{
    margin: 10px;
}

.setCol5Npsd {
    width: 144px;
    position: absolute;
    right: 28px;
    top: -5px;
    text-align: end;
}

.details{
color:lightslategray;
float:left;
clear: both;
    font-weight: 500;
margin-left:0px;
}

.details .fa-map-marker {
    position: relative;
    top: 66%;
    left: 2%;
}

/*NAV AND SUBNAV STYLE*/
.main-bar .nav-item{
    font-size:12px;
}
#subNavBar ul li{
    margin-right:20px;
}
#subNavBar ul li a{
    color: black;
}
#subNavBar ul li a:hover{
    color: black;
    text-decoration: underline;
}
.nav-item button{
    margin:5px;
} 

.nav-item a{
    margin:5px;
} 

/*BANNER STYLE*/
.language{
    width:24px;
    margin-top:13px;
}

.brand-logo{
    max-width: 50px !important;
}
#header-buttons a{
text-decoration: none;
margin:5px;
color:black;
}
#sub-menu{
margin-bottom:-15px;
}
#sub-menu{
    background-color: rgb(246, 246, 246);
}

.banner{
    position: relative;
    text-align: center;
}
.banner{
    background-color:rgb(23, 70, 84);
}
.banner img{ 
    width:100%;
    height:100%;
    opacity: 0.2;
}


/*BUTTONS ON NAVBAR STYLE*/
#register-button{
border-width: 2px;
border-color: rgb(94, 195, 41);
border-style: solid;
border-radius: 10px;
background-color: white;
color: rgb(94, 195, 41);
padding:8px;
padding-left:20px;
padding-right:20px;
}
#login-button{
border-width: 2px;
border-color: rgb(94, 195, 41);
border-style: solid;
border-radius: 10px;
background-color: rgb(94, 195, 41);;
color: white;
padding:8px;
padding-left:20px;
padding-right:20px;
}
#home-button {
color:white;
border-radius: 21px;
background-color: rgb(94, 195, 41);
padding:10px;
border-width: 0px;
padding-left:20px;
padding-right:20px;
}
#co-work-space{
    border-radius: 21px;
    background-color: rgb(23, 70, 84);
    color:white;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border-width: 0px;
    font-family: "Raleway";
}


/*FOOTER STYLE STARTS HERE*/
.footer-main{
	background-color:#2D404F;
	padding: 15px 0px 0px 0px;
}
.footer-main .link h3{
	color: #FFF;
	letter-spacing: 0px;
	font-weight: bold;
	text-transform: none;
}
.footer-main .link a{
	color: #FFF;
}
.footer-main .link a i,
.footer-main .link a:hover{
	color: #5FC233;
}
.footer-main .link li:before {
  	content: "\f105";
  	font-family: FontAwesome;
  	display: inline-block;
  	margin-left: -15px;
  	width: 15px;
	color: #5FC233;
}
.footer-main .link .mob-app img{
	width: 45%;
	float: left;
	margin-right: 5%;
}
footer .social-icon > a i{
	font-size: 18px;
	color: #FFF !important;
}
footer .social-icon > a i:hover{
	color: #5FC233 !important;
}
.footer-main .footer-sub-first{
	margin-top: 20px;
	color: #FFF;
	font-size: 12px;
}
.footer-sub-first .footer-list-custom h6{
	color: #fff;
	letter-spacing: 0px;
	font-size: 10px;
	font-weight: bold;
	margin: 0px;
}
.footer-main .footer-sub-first{
	border-top: 1px solid #344756;
	padding: 15px 0px;
}
.footer-main .footer-sub-first p{
	color: #FFF;
}
.footer-main .footer-sub-first h3{
	color: #FFF;
	letter-spacing: 0px;
	font-weight: bold;
	margin: 0px;
	text-transform: capitalize;
}
.social-icon a{
    margin:5px;
}
.footer-main li{
  list-style-type: none;
}
