body{
	background-color: #EBF0F3;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	margin-bottom: 150px;
}
h1, h2, p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	letter-spacing: 0px;
}
#particles-js{
	height: auto;
}
.caption-height-center{
	z-index: 100; 
	width: 90% !important;
	margin: auto;
}

.banner-logo{
	width: 150px;
}
.tp-banner-container{
	height: 471px !important;
	background-size: 200% 130% !important;
}
.hero-caption.caption-height-center{
	top: 115px !important;
}
.banner-searchbox{
	position: absolute;
	bottom: -24px;
	background: #fff;
    left: 3%;
    padding: 0;
    position: absolute;
    width: 94%;
	border-radius: 5px;
}
.hero-caption.caption-height-center{
	padding-bottom: 225px;
}
.search-box-home::-webkit-input-placeholder{
	font-size:25px;
	vertical-align: middle;
	color:#999;
}
.ms-ctn input{
	/*width: 100% !important;*/
	font-size: 30px;
    height: 50px;
    padding: 5px 10px;
}
.ms-ctn{

}
.ms-ctn{
    padding: 10px 15px;
	margin-top: 0px;
	border-radius: 5px 5px 0px 0px;
	border-color: #fff;
	border-bottom-color: #C0C0C0;
}
.ms-ctn:hover{
	border-bottom-color: #C0C0C0;
}
.ms-ctn-focus{
	box-shadow: none;
}
.search-type-div-main{
	margin: 0px;
	box-shadow: 0px 0px 8px 0px #cdcdcd;
	border-radius: 0px 0px 5px 5px;
}
.search-type-div{
	padding:22px 0px;
	margin: 0px;
}
/*.search-type-text:last-child:hover,
.search-type-text:last-child{
	border-right: 0px solid #4F4F4F;
	border-width: 0px 0px 0px 0px; 
}*/
.search-type-text:hover{
	/*border-width: 0px 1px 0px 0px; */
	/*border-color: #4F4F4F;*/
	border: 2px solid #5ec329;
	border-radius: 30px;
}
/*.mobile-search-type-text{
	padding: 2px;
	border: 2px solid #fff;
	border-radius: 30px;
	font-size: 16px;
}*/
.search-type-btn-default{
	color: #727272;
}

.search-type-btn-color{
	color:#fff;
}

.slider-custom{
	padding-top: 120px;
	position: relative;
	background: #fff;
}
.section-header h1{
	font-size: 32px;
}
.section-header p{
	font-size: 20px;
	color: #6C6C6C;
}

.carousel-inner.onebyone-carosel { 
	margin: auto; 
	/*width: 90%; */
	margin-top: 30px;
	margin-left: 40px;
}
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }

.carousel-inner .item-img{
	height: 180px;
	position: relative;
}
.carousel-inner > .active .item-img:first-child{
	height: 180px;
}
.carousel-inner .item-img a{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.item{
    height: auto;
    min-height: 450px;
    position: relative;
}
.text-center-custom{
	position: absolute;
	bottom: 50px;
	width: 90%;
	padding: 0px;
	min-height: 200px;
}
.item .item-img:nth-child(3){
	padding-left: 12px;
}
.item-img{
	padding: 0px;
	position: relative;
}
.item .item-img img{
	width: 90%;
	height: 160px;
	border-radius: 5px;
}
.item.active .item-img:first-child img{
	width: 100% !important;
	height: 180px; 
}
.item.active .item-img:first-child .overlay{
	background: rgba(0, 0, 0, 0);
}
.item .item-img .overlay{
	border-radius: 5px;
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 90%;
	height: 160px;
}

.text-center-custom h1{
	text-transform: capitalize;
	font-size: 36px;
	font-weight: normal !important;
	margin: 0px;
	line-height:40px;
}
.text-center-custom p{
	font-size: 24px;
	color: #C4C4C4;
}
.text-center-custom .desc{
	margin-top: 30px;
	width: 90%;
}
.text-center-custom .desc img{
	width: 35px;
}
.text-center-custom .desc p{
	color: #464646;
    float: none;
    font-size: 26px;
    margin: auto;
    padding-top: 6px;
    width: 72%;
}
.text-center-custom .desc .quot-right{
	margin-top: -20px;
}

.section-part4,
.section-part3{
	margin-top: 15px;
	background: #fff;
	padding-top: 30px;
}

.section-part3 .main-div{
	border-bottom: 1px solid #EFEFEF;
	margin: 0px;
	padding: 30px 0px;
}
.section-part3 .section-left img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
}

.section-part3 .section-mid h2{
	margin: 5px 0px 0px 0px;
	text-transform: capitalize;
}
.section-part3 .section-mid p{
	color: #ADADAD;
	font-size: 20px;
}
.section-part3 .section-right a{
	font-size: 36px;
	line-height: 90px;
	color: #5C5C5C;
}
.section-part3 .last-div{
	color: #8A8A8A;
	padding: 15px;
	font-size: 20px;
}


.section-part4 .main-div{
	margin: 0px;
	padding-bottom: 30px;
}
.section-part4 .section-right h2{
	margin: 10px 0px;
}
.section-part4 .section-right p{
	font-size: 20px;
}

.navbar{
	position: absolute;
	width: 100%;
}
.navbar .btn{
	color: #fff;
	right: 50px;
	top: 15px;
	font-size: 36px;
	position: absolute;
	margin: 0px;
}
.navbar .btn:focus{
	outline: none;
}
.nav-pills li a{
	color: #ececec;
}
.nav-pills li a:hover{
	color: #5ec329 !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
	background-color: transparent !important;
	color: #5ec329 !important;
}

#menu {
  background-color: rgba(35, 35, 35, 0.5) !important;
  position: absolute;
  top: 0;
  right: 15px; 
  left: 15px;
  z-index: 1050;
  margin-top: 72px;
}



@media (max-width: 560px){
	.section-part3 .section-mid {
		padding: 0px;
	}
}

.btn-green-bg-white-text, .btn-green-bg-white-text:hover, .btn-green-bg-white-text:active {
    background-color: #57b029 !important;
    color: #fff;
    border: 2px solid #57b029 !important;
    min-width: 150px;
    padding: 9px 0px;
    border-radius: 5px;
}

.ms-ctn .ms-sel-item {
	font-size:20px;
	margin:10px 5px 1px;
}


