.find-experts-search-title{
    padding-left:0px;
}

.fa-time-close{
    position: absolute;
    right: -6px;
    background: #fff;
    border-radius: 20px;
    padding: 5px;
    width:20px;
    border:0.5px solid lightgray;
    cursor: pointer;
    z-index: 999;
    top: -9px;
    font-weight: lighter !important;
}

.set-container-100-coworker .col-md-11{
    padding-right:0px;
}

.set-container-100-coworker .col-md-1{
    padding-left:0px;
}

.download-100-coworkers-url{
    background: #57b029;
    padding: 14px;
    border-radius: 50px;
    display: inline-block;
    margin-right: 6px;
}

.download-100-coworkers-url p{
    margin:0px;
    padding:0px;
    cursor: pointer;
    color:#fff;
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 500;
}

.download-100-coworkers-url img{
    padding-right: 20px;
    width:50px;
}

.video-area{
    background:#57b029;
    padding: 16px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -10px;
}

.video-area img{
    width: 30px;
}

.set-container-100-coworker{
    text-align: right;
    display: block;
    top: 85px;
    margin: 0 auto;
}

.custom-container{
    padding-right:17px;
}

.set-container-100-coworker .col-md-11 {
    padding-right: 0px;
    padding-left: 25px;
}


@media (max-width:1199px)
{
    .mobile-view-design {
        display: block;
        top: 90px;
    }
    .page-content {
        margin-top: 15px;
        padding: 0px;
    }
    .set-container-100-coworker {
        text-align: right;
        width: 100%;
        top: 100px;
    }
}

@media (max-width:991px)
{
    .find-experts-search-title {
        padding-left: 0px;
        padding-top: 40px;
    }
    .setLOGO {
        max-width: 45px !important;
        padding-top: 15px !important;
        position: relative;
        float: right;
        left: 12px;
    }

    .sticky{
        top:0px !important;
    }

    .set-container-100-coworker {
        top: 148px;
        text-align: center;
    }

    .set-container-100-coworker .col-md-11 {
        padding-right: 15px;
        display: inline-block;
        float: left;
        width: 90%;
    }
    .usercenter.link-div {
        padding-left: 15px !important;
        margin-top: 45px;
    }
    .page-header-row {
        height: 150px;
        width: 100%;
    }
}

@media (max-width:560px)
{
    .set-container-100-coworker {
        top: 183px;
        text-align: center;
    }
    .usercenter.link-div {
        padding-left: 15px !important;
        margin-top: 45px;
    }
    .page-header-row {
        height: 150px;
        width: 100%;
    }
    .sticky{
        top:35px !important;
    }
}

@media (max-width:520px)
{
    .set-container-100-coworker {
        top: 183px;
        text-align: center;
    }

    .download-100-coworkers-url p {
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
    }
    .download-100-coworkers-url img {
        padding-right: 4px;
        width: 30px;
    }
    .video-area {
        background: #57b029;
        padding: 14px;
        border-radius: 50px;
        display: inline-block;
        text-align: center;
    }
}

@media (max-width:385px)
{
    .page-content {
        margin-top: 40px;
        padding: 0px;
    }
    .download-100-coworkers-url img {
        padding-right: 0px;
        width: 17px;
    }
    .video-area {
        top:0px;
       background: #57b029;
        padding: 13px;
        border-radius: 50px;
        display: inline-block;
        text-align: center;
    }
    .video-area img {
        width: 20px;
    }
    .download-100-coworkers-url p {
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        color: #fff;
        display: block;
        align-items: center;
        font-size: 11px;
        font-weight: 500;
    }
}
