@media(max-width:991px)
{
    body{
    }
    .container{
        width:100% !important;
        height:700px !important;
        margin-top:21% !important;
        padding:0px !important;
    }
    .setImage {
    }
    .setbtncheck{
        text-decoration: none;
        border-radius: 5px;
        position: relative;
        top: 0px !important;
        font-weight: bold;
        padding: 15px 10px !important;
        color: #fff;
        background-color: #57b029;
    }
    .setH3{
        position: relative;top:40px;
    }
    .setInnerContainer{
        padding:50px;
    }
}