/*over write js tabs classes*/
.availables {
    background-color: #25ce0f;
}

.inuse {
    background-color: rgb(227, 228, 230);
}

.booked {
    background-color: rgb(252, 184, 23);
}

/*
* * *  Select 2 customization on modal
*/
.select2-selection--single {
    border: none !important;
    border-bottom: 2px solid darkgray !important;
    border-radius: 0 !important;
    text-align: left !important;
    border-bottom: 2px solid #a8a8a8 !important;
    color: #a8a8a8 !important;
    font-weight: bold !important;
}

.select2-selection__clear {
    display: none !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #a8a8a8 !important;
    font-weight: bold !important;
}
/*
* * *  Select 2 customization on modal
*/

.nav-tabs a {
    font-family: Montserrat, Helvetica, sans-serif;
    border: 0px !important;
    font-size: 18px !important;
    color: #979797 !important;
    margin-right: 0px !important;
    font-weight: 600;
}

.active, .active a {
    margin-right: 0px;
    color: #25ce0f !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 3px solid #25ce0f;
}

.conatiner-tabs {
    width: 100%;
}

.conatiner-tabs ul li a:hover {
    background-color: transparent !important;
}

.tab-pane-container {
    width: 100%;
    padding: 10px;
    border: 0.5px solid #ebecec;
    box-shadow: 0 2px 10px 1px #ebecec;
    border-radius: 4px;
    border-top: 0px;
    padding-right: 0px;
}

#todaySales {
    border: 0px !important;
}

.datetimepicker {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    border: 1px solid #25ce0f;
    margin-top: 13px;
    margin-left: -10px;
}

.tab-pane-container .fa-calendar {
    padding-right: 10px;
    padding-left: 20px;
}

.tab-pane-container input {
    font-family: Montserrat, Helvetica, sans-serif;
    color: #979797 !important;
    font-weight: 100;
    width: 52px;
    border: 0px;
    font-size: 12px;
}

.tab-pane-container .time-table {
    padding-left: 0px;
    padding-right: 0px;
    width: 84.5%;
}

.tab-pane-container .calender {
    padding-left: 30px;
    width: 13%;
    text-align: center;
    padding: 10px;
}

.time-table ul li {
    float: left;
    width: 3.88%;
    cursor: pointer;
    margin-bottom: 2px;
    font-size: 9px;
    font-weight: bold;
    list-style: none;
    background-color: #f5f6f7;
    color: #585858;
    border: 1px solid #e3e4e6;
    padding: 0px 6px 0px 6px;
    margin-right: 2px;
    min-height: 30px;
    max-height: 30px;
    display: grid;
    text-align: center;
    align-items: center;
}

.time-table ul {
    margin: 0px;
    padding-left: 0px;
    width: 100%;
}

.tab-pane-container .row {
    display: flex;
    align-items: center;
}

.uordered-list {
    padding-left: 0px;
}


.uordered-list li {
    list-style: none;
    font-family: Montserrat, Helvetica, sans-serif !important;
    font-size: 12px !important;
    color: #979797;
    float: left;
    padding-right: 12px;
    position: relative;
    top: 4px;
}


.label-container {
    background-color: #25ce0f;
    height: 13px;
    width: 13px;
    margin-bottom: 0px;
    margin-right: 6px;
}

.label-container-2 {
    background-color: #fcb817;
    height: 13px;
    width: 13px;
    margin-bottom: 0px;
    margin-right: 6px;
}

.label-container-3 {
    background-color: #e3e4e6;
    height: 13px;
    width: 13px;
    margin-bottom: 0px;
    margin-right: 6px;
}

.container-cells {
    width: 100%;
    padding-left: 0px;
}

.availability {
    padding-left: 0px;
    padding-right: 0px;
}

.check-seats {
    font-size: 13px;
    padding-right: 6px;
    font-family: Montserrat, Helvetica, sans-serif;
}

.divider {
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
}

.set-alignment {
    text-align-last: center;
    padding-left: 10px;
}

.set-alignment option {
    text-align-last: center;
}

.custom-alignment {
    padding-right: 0px;
    text-align: right;
    padding-left: 7px;
}

.custom-alignment select {
    width: 100px;
}

.select_box {
    overflow: hidden;
    position: relative;
    display: inline-block;
    top: 5px;
}

.option {
    padding-left: 50px !important;
}

.select_box:after {
    width: 0px;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #555;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
}

.select_box select {
    background-color: #fff;
    font-size: 10px;
    min-height: 20px;
    max-height: 20px;
    padding: 2px 18px 2px 10px;
    font-weight: 600;
}

/*inner container*/
.tab-pane-inner-container {
    width: 100%;
    padding: 10px;
    border: 0.5px solid #e6e6e6;
    border-radius: 0px;
    padding-right: 0px;
}

.rooms {
    width: 13%;
}

.box-container {
    background-color: #f5f6f7;
    width: 100%;
    font-size: 13px;
    font-family: Montserrat, Helvetica, sans-serif !important;
    padding: 10px;
    text-align: center;
    color: #585858;
    font-weight: 600;
    word-wrap: break-word;
}

.cells {
    padding-left: 0px;
    padding-right: 0px;
    width: 84.5%;
}

.cells ul {
    padding-left: 0px;
    margin: 0px;
}

.cells ul li {
    float: left;
    list-style: none;
    /*background-color: #25ce0f;*/
    margin-right: 2px;
    width: 3.88%;
    min-height: 30px;
    max-height: 30px;
    display: grid;
    text-align: center;
    align-items: center;
    padding: 0px 16px 0px 15px;
    margin-bottom: 3px;
}

.tab-pane-inner-container .m-0 {
    margin-bottom: 8px !important;
}

.tab-pane-inner-container .row {
    display: flex;
    align-items: center;
}

/*inner container*/


/*select customization*/
.dropbtn {
    background-color: #fff;
    color: #25ce0f;
    font-size: 10px;
    width: 100px;
    font-weight: 600;
    height: 20px;
    border: 0.5px solid rgb(169, 169, 169);
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0px;
}

.dropdown-content a {
    color: #b6b6b6 !important;
    text-align: center !important;
    font-weight: 600;
    margin-top: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    border-bottom: 0px !important;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #b3edac;
    color: #25ce0f !important;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}

/*select customization*/

.fa-caret-down {
    font-size: 16px;
    color: #555;
    float: right;
}

@media (max-width: 2000px) and (min-width: 1528px) {
    .cells ul li {
        float: left;
        list-style: none;
        /*background-color: #25ce0f;*/
        margin-right: 2px;
        width: 3.97%;
        min-height: 30px;
        max-height: 30px;
        display: grid;
        text-align: center;
        align-items: center;
        padding: 0px 16px 0px 15px;
        margin-bottom: 3px;
    }

    .time-table ul li {
        float: left;
        width: 3.97%;
        cursor: pointer;
        margin-bottom: 2px;
        font-size: 9px;
        font-weight: bold;
        list-style: none;
        background-color: #f5f6f7;
        color: #585858;
        border: 1px solid #e3e4e6;
        padding: 0px 6px 0px 6px;
        margin-right: 2px;
        min-height: 30px;
        max-height: 30px;
        display: grid;
        text-align: center;
        align-items: center;
    }

    .custom-alignment {
        padding-right: 0px;
        text-align: right;
        padding-left: 7px;
        text-align: right;
    }
}

@media (max-width: 1527px) and (min-width: 1400px) {
    .cells ul li {
        float: left;
        list-style: none;
        /*background-color: #25ce0f;*/
        margin-right: 2px;
        width: 3.94%;
        min-height: 30px;
        max-height: 30px;
        display: grid;
        text-align: center;
        align-items: center;
        padding: 0px 16px 0px 15px;
        margin-bottom: 3px;
    }

    .time-table ul li {
        float: left;
        width: 3.94%;
        cursor: pointer;
        margin-bottom: 2px;
        font-size: 9px;
        font-weight: bold;
        list-style: none;
        background-color: #f5f6f7;
        color: #585858;
        border: 1px solid #e3e4e6;
        padding: 0px 6px 0px 6px;
        margin-right: 2px;
        min-height: 30px;
        max-height: 30px;
        display: grid;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 991px) {

    #reviews {
        margin-top:0px !important;
    }

    .tab-pane-container .row {
        display: initial;
    }
    .set-scroll {
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
    }

    #scroll-div {
        width: max-content;
    }

    .availability {
        width: 100%;
    }

    .uordered-list li{
        float: unset;
    }

    .tab-pane-inner-container .row {
        display: flex;
        align-items: center;
        margin: 0px;
        flex-direction: column;
        justify-content: center;
    }

    .cells {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .tab-pane-container .time-table {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .tab-pane-container input {
        font-family: Montserrat, Helvetica, sans-serif;
        color: #979797 !important;
        font-weight: 100;
        border: 0px;
        font-size: 12px;
        width: 26%;
    }
    .tab-pane-container .calender {
        width: 100%;
        text-align: center;
        display: inline-flex;
    }
    .container-cells .custom-width-col-5 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .tab-pane-container {
        width: 100%;
        padding: 10px;
        border: 0.5px solid #ebecec;
        box-shadow: 0 2px 10px 1px #ebecec;
        border-radius: 4px;
        border-top: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .box-container {
        padding-left: 30px;
        background-color: #f5f6f7;
        width: 90%;
        font-size: 13px;
        font-family: Montserrat, Helvetica, sans-serif !important;
        padding: 20px;
        text-align: center;
        color: #585858;
        font-weight: 600;
        word-wrap: break-word;
        margin-bottom: 10px;
    }

    .time-table ul li {
        width: 29px;
    }

    .rooms {
        width: 100%;
    }

    .custom-alignment {
        padding-right: 13px;
        text-align: -webkit-center;
        padding-left: 7px;
    }

    .sm-0 {
        width: 100%;
    }
}

@media (max-width:767px) {
    .container-cells .custom-width-col-5 {
        width: 100px;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
        display: inline-grid;
        text-align: -webkit-center;
        line-height: 2;

    }
    .tab-pane-container .row {
        display: initial;
    }
}

@media (max-width: 447px) {
    .tab-pane-container .row {
        display: block;
        align-items: center;
    }

    .tab-pane-container .calender {
        text-align: center;
        padding-left: 30px;
        width: 100%;
    }

    .cells {
        padding-right: 2px;
        width: 100%;
    }

    .tab-pane-container .time-table {
        padding-left: 11px;
        padding-right: 0px;
        width: 94%;
    }

    .sm-0 {
        width: 100%;
        text-align: center;
        padding-left: 50px;
        display: inline-block;
        margin-bottom: 10px;
    }
}

/*jquery table settings*/
.table-condensed thead tr {
    display: -webkit-box;
}

.table-condensed tbody tr {
    display: inherit;
}

/*jquery table settings*/
.datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active.disabled:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active[disabled] {
    background-color: #25ce0f !important;
    border-radius: 20px;
    border-bottom: 0px !important;
    font-weight: 600 !important;
    color: #fff !important;
    font-size: 12px !important;
}

.datepicker table td, .datepicker table th, .datetimepicker table td, .datetimepicker table th {
    font-family: 'Open Sans' !important;
    padding: 10px !important;
    border-radius: 20px;
}

.datetimepicker tfoot tr:first-child th, .datetimepicker thead tr:first-child th {
    cursor: pointer;
    width: 89px;
}

.table thead tr td {
    padding: 8px 20px !important;
    font-weight: bold;
    color: #747474;
    font-family: Montserrat, Helvetica, sans-serif !important;
}

.set-modal-footer {
    border: 0px !important;
    text-align: center;
    padding-top: 0px;
}

.btn-more .fa-plus {
    font-size: 10px;
    padding-right: 5px;
}

.set-modal-footer h3 {
    margin-top: 10px;
    font-weight: 600;
    color: #25ce0f;
}

.set-moda-body {
    padding-bottom: 0px;
    padding-bottom: 0px;
    border: 0px !important;
    padding-top: 0px;

}

.set-modal-header {
    border: 0px !important;
    padding-bottom: 0px;
    font-family: Montserrat, Helvetica, sans-serif;
}

.set-modal-title {
    font-family: Montserrat, Helvetica, sans-serif;
    color: #585858;
    border: 0px !important;
    font-weight: bold;
    font-size: 20px;
    margin-top: 16px;
}

.set-modal-content {
    border-radius: 0px;
    border: 2px solid #a8a8a8;
    box-shadow: none;
}

.set-modal-title span {
    font-family: Montserrat, Helvetica, sans-serif;
    color: #25ce0f !important;
}

.btn-more {
    background-color: #25ce0f;
    color: #fff;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 600;
    width: 160px;
}

.btn-more:hover {
    background-color: #25ce0f;
    color: #fff;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 600;
    width: 160px;
}

.btn-more:focus {
    background-color: #25ce0f;
    color: #fff;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 600;
    width: 160px;
}

.btn-more-confirm {
    background-color: #25ce0f;
    color: #fff;
    font-family: Montserrat, Helvetica, sans-serif;
    width: 160px;
    font-weight: 600;
}

.btn-more-confirm:hover {
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: #25ce0f;
    color: #fff;
    width: 160px;
    font-weight: 600;
}

.btn-more-confirm:focus {
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: #25ce0f;
    color: #fff;
    width: 160px;
    font-weight: 600;
}

.btn-times {
    float: right;
    background: transparent;
    border: 0px !important;
}

.btn-times .fa-times {
    color: #666666;
    font-weight: normal;
}

/*jquery section slide up*/
#panel {
    padding: 5px;
    text-align: center;
    background-color: #fff;
    /* border: solid 1px #c3c3c3; */
}

#panel {
    border-top: 1px solid lightgray;
    padding: 50px;
    /*display: none;*/
    padding-top: 15px;
    padding-bottom: 20px;
}

/*jquery section slide up*/

.set-form-control {
    border: 0px;
    border-bottom: 2px solid #a8a8a8;
    border-radius: 0px;
    color: #a8a8a8;
    font-weight: bold;
}

.image-arroww-down {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 22px;
    z-index: 999;
}

.group {
    cursor: pointer;
}

.datetimepicker-hours table tbody {
    display: contents;
}

.datetimepicker-hours table tbody tr td span:hover {
    background-color: #EEEEEE !important;
    border-radius: 20px !important;
    color: #555 !important;
}

.datetimepicker .active {
    background-color: #25ce0f !important;
    border-radius: 20px !important;
    color: #fff !important;
}

.datetimepicker .active:hover {
    background-color: #25ce0f !important;
    border-radius: 20px !important;
    color: #fff !important;
}

.datetimepicker-minutes table tbody {
    display: contents;
}

.datetimepicker-minutes table tbody tr td span:hover {
    border-radius: 20px !important;
    color: #555 !important;
}

.datetimepicker-minutes .active:hover {
    background-color: #25ce0f !important;
    border-radius: 20px !important;
    color: #fff !important;
}

.datetimepicker-minutes .active {
    background-color: #25ce0f !important;
    border-radius: 20px !important;
    color: #fff !important;
}

@media (max-width:480px) {
    .uordered-list{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .container-cells .custom-width-col-5{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
    }
    .btn-add-user {
    }
    .custom-alignment {
        padding-right: 13px;
        justify-content: center;
        padding-left: 7px;
        position: relative;
        margin-bottom: 10px;
        display: flex;
    }
    .customBtnAddUser {
        display: none;
    }
    .customlySetStars{
        text-align: center;
    }
    .customBtnAddUserSet{
        height: 60px;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .tab-pane-container .row {
        display: block;
    }
    .customBtnAddUserDisplay{
        display: block !important;
    }
    .progress {
        border: 0;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100% !important;
    }
}
