.page-header > .page-header-inner > .page-logo > a > img.logo-default {
    max-width: 86px;
}

table.dataTable thead .sorting_asc{
    background:transparent;
}

.logo-default{
    margin-top:6px !important;
}

.set-news-thumb{
    object-fit: cover;
}

.img-preview {
    width: 100%;
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: #ddd;
    font-weight: bold;
    font-size: 2.0em;
}

.slider-thumb {
    width: 100%;
    height: 90px;
}

.news-thumb {
    height: 110px;
}

.avatar-preview {
    line-height: 300px;
    text-align: center;
    color: #ddd;
    font-weight: bold;
    font-size: 2.0em;
}

.btn-group-xs > .btn, .btn-xs
{
    font-size: 14px;
}

.tag-gold
{
    padding:10px;
    background-color: #f3cb34;
    border: 1px solid #999;
}

.tag-white
{
    padding:10px;
    background-color: #ffffff;
    border: 1px solid #999;
}

.btn-finance{
    color: #979797;
    background-color: #eeeeee;
    font-size: 13pt;
    padding: 7px;
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;
}
.btn-finance:hover{
    color: #25ce0f;
    border: 1.5px solid #25ce0f;
    background-color: white;
    text-decoration: none;
}
.btn-filter-submit{
    display: inline-block;
    background-color: transparent;
    border: none;
}
.btn-filter-cancel{
    display: inline-block;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 13pt;
}
.btn-filter-submit:hover,.btn-filter-cancel:hover{
    color: black;
}
.btn-filter-submit:active,.btn-filter-cancel:active,.btn-filter-submit:focus,.btn-filter-cancel:focus{
    color: black;
    outline: none;
}

.QRcontainer{
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 200px;
    box-shadow: 2px 2px #f0f0f0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.innerQRleft{
    display: inline-block;
    float: left;
    text-align: center;
    width: 17%;
    height: 100%;
    border-right: 1px solid #b7b7b7;
}
.innerQRright{
    display: inline-block;
    float: right;
    width: 81%;
    height: 100%;
    padding: 17px;
}
.QRimg{
    display: block;
    margin: auto;
    margin-top: 11%;
    margin-left: 9%;
    width: 83%;
}
.p1{
    display: flex;
    font-weight: 600;
    height: 30px;
}
.p2{
    display: flex;
    color: #25ce0f;
    font-weight: 700;
    font-size: 9pt;
    height: 30px;
}
.btnswtich{
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    text-align: right;
}
.setdefaultbtn{
    background-color: #fff;
    color: #656565;
    font-weight: 700;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    height: 35px;
    width: 130px;
    outline: none;
}
.setdefaultbtn:hover{
    color: #25ce0f;
    border-color: #25ce0f;
}
.setdefaultbtn:active,.setdefaultbtn:focus{
    color: #fff;
    border-color: #25ce0f;
    background-color: #25ce0f;
}
.switch{
    position: relative;
    display: inline-block;
    width: 42px;
    height: 30px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    border: 1px solid #b7b7b7;
    position: absolute;
    cursor: pointer;
    top: -10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    height: 10px;
}

.active_class{
    color: #57b029 !important;
}

.slider:before {
    position: absolute;
    content: "";
    top: -4px;
    height: 16px;
    width: 16px;
    left: -2px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #57b029;
}

.slider:after {
    position: absolute;
    content: "";
    top: -4px;
    height: 16px;
    width: 16px;
    left: -2px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #b7b7b7;
    border-radius: 50%;
}

input[type="checkbox"]:checked + .slider:after {
    background-color: #57b029;
}

input[type="checkbox"]:focus + .slider::before {
    background-color: #b7b7b7;
}

input:checked + .slider {
    background-color: #fff;
    box-shadow: 0 0 2px #afafaf;
}

input:focus + .slider {
    box-shadow: 0 0 2px #afafaf;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}input:checked + .slider:after {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.invite-btn {
    text-align: right;
}
.barCode {
    text-align: center;
}
.invite-modal {
    padding-bottom: 50px;
}
