body p,
.text-18{
    font-size: 18px;
}
.founder-footer .text-right span{
    line-height: 30px !important;
}
.founder-footer .fix-text{
    margin-left: 30px;
}
.banner-inner-text h1{
    font-size: 52px !important;
    line-height: 85px;
}
@media (max-width: 420px) {
    .page-container-main {
        margin-top: 81px !important;
    }
    .talent-banners {
        position: relative !important;
        padding-left: 30px;
        padding-right: 30px;
    }
}
.setCCCPHR{
    margin: 50px 0px;
}
.setCCCPAGET{
    margin-top: 135px;
}
.setCCPPAGESC{
    color: #000;
}