body {
    background-color: #fff;
    width:100%;
}

.frame.en{
    background-color: #f7f7f7;
    margin: 5px;
    font-family: 'Montserrat', sans-serif !important;
    width:100% !important;
}

.frame.cn{
    background-color: #f7f7f7;
    margin: 5px;
}

.content{
    background-color: #fff;
    border-radius: 15px;
    padding: 60px;
}

.title{
    text-align: center;
    font-size: 26px;
    color: #57b029;
    font-weight: bold;
    padding-bottom: 100px;
}

.img-sec{
    padding: 20px 0px;
    text-align: center;
    margin-bottom: 50px;
}

.footer{
    text-align: center;
    padding: 10px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: bold;
}

.footer hr{
    width: 50%;
    color: #dcdfe0;
    margin-bottom: 10px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: solid 1px;
}

.company-name, .email, .link{
    color: #57b029;
}

a{
    text-decoration: none;
}

.code{
    text-align: center;
    font-size: 70px;
}

.company-register,
.customer-hotlink{
    padding: 0px 5px;
}

.setLink{
}
@media only screen and (max-width:320px) { @viewport { width:320px; } }
