body{
    font-family: 'Raleway', sans-serif !important;
}
.page-header{
	background: #fff;
	margin:0px;
	padding-bottom:0px;
}
.page-header.navbar{
	height: auto;
}
.page-header.navbar .page-logo > .logo-image, .page-header.navbar .page-logo > a{
	padding: 15px 0px;
}
.page-header.navbar .page-logo{
	width: 350px;
	display: block;
    float: left;
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
}
.page-header.navbar .page-logo a{
	width: 100%;
	padding: 15px 0px;
	float: left;
}
.page-header.navbar .page-logo img{
	float: left;
	padding-left: 10px;
}
.page-header.navbar .page-logo h2{
	border-right: 1px solid #c1c1c1;
    color: #494949;
    font-weight: 600;
    margin-top: 8px;
    line-height: 1.1;
    padding-right: 10px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.page-header.navbar .help-center-menu{
	text-transform: none;
	letter-spacing: 0;
	line-height: 1.1;
	margin-top: 25px;
}
.page-header.navbar .help-center-menu a{
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
    font-family: 'Raleway', sans-serif;
	color: #494949;
}
.right-menu ul{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.right-menu ul li{
	list-style: none;
	float: left;
	padding: 24px 0px;
}
.right-menu ul li a{
	color: #494949;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 15px;
	padding: 24px 15px;
	font-weight: 600;
}
.banner .banner-inner{
	background: rgba(0, 0, 0, 0.30);
	height: 400px;
	text-align: center;
	position: relative;
}
.banner-inner-text{
	color: #fff;
	position: absolute;
	width: 100%;
	margin: 0px -15px;
	top: 50%;
	transform: translateY(-50%);
    font-family: 'Raleway', sans-serif;
}
.banner-inner-text h1{
	margin: 0px;
	text-transform: uppercase;
	font-size: 46px;
	font-weight: 600;
	letter-spacing: 0;
	color: #fff;
    font-family: 'Raleway', sans-serif;
}
.banner-inner-text h1 span{
	font-weight: 300 !important;
	border: 0px;
}
.banner-inner-text p{
	margin: 0px;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 48px;
	font-weight: 300 !important;
}
.banner-inner-text span{
	font-size: 16px;
	font-weight: 600;
}
.page-container-main{
	margin-top: 75px;
}
.menu{
	width: 100%;
	margin: 0px;
	background: #58AF2A;
}
.nav ul{
	margin: 0px;
	list-style: none;
	overflow: hidden;
	margin-left: 35px;
}
.nav ul li{
	float: left;
	margin-left: 5px;
	padding: 10px 0px;
}
.nav ul li a{
	color: #fff;
	padding: 9px 10px;
	font-size: 16px;
	font-weight: 500;
}
.nav ul li a:hover,
.nav ul li a.active{
	border-bottom: 4px solid #fff;
}
.footer-main-contact{
	background: #4E4E4E;
	padding: 30px 0px;
}
.footer-main-contact h1{
	color: #69B2E5;
	font-weight: 300;
	margin: 0px;
}
.footer-main-contact img{
	width: 72px;
}
.contant-hong-kong{
	border-bottom: 1px solid #BEBEBE;
	padding: 30px 0px;
}
.contant-china{
	border-bottom: 1px solid #BEBEBE;
	padding: 60px 0px;
}
.contant-malasiya{
	padding: 50px 0px;
}
.contact-address .sm-text{
	line-height: 20px;
	color: #999999;
	font-size: 21px;
	border-bottom: 0px;
}
.contact-address .address-sub{
	margin-top: 25px;
}
.contact-address .address-sub:last-child{
	margin-top: 10px;
}
.contact-address .add-text{
	padding: 0px;
	font-size: 16px;
}
.contact-address .add-text p{
	margin: 0px;
	color: #69B2E5;
}

.bulb{
	padding: 35px 0px;
}
.bulb img{
	margin-top: 15px;
}
.bulb p{
	font-size: 16px;
	margin-top: 15px;
}
.vision-mission{
	padding: 35px 0px;
}
.vision-mission p{
	font-size: 18px;
}
.banner-middal{
	margin:35px 0px;
}
.banner-middal div{
	padding: 0px;
}
.banner-middal img{
	width: 100%;
	height: auto;
}
.things{
	padding: 15px;
	margin-bottom: 30px;
}
.things h2{
	margin-bottom: 15px;
}
.things p{
	font-size: 18px;
	padding-top: 5px;
}
.things img{
	width: 100%;
	margin-top: 30px;
}
.points{
	overflow: hidden;
	min-height: 100px;
}
.points .left{
	width: 20%;
	float: left;
}
.points .left p{
	border: 3px solid #FCD913;
    border-radius: 50%;
    height: 55px;
    text-align: center;
    width: 55px;
    color: #58af2a;
    font-size: 34px;
    padding-top: 8px;
    margin: auto;
}
.points .right{
	width: 80%;
	float: left;
}
.points .right h3{
    color: #58af2a;
	font-size: 20px;
	margin: 12px 0px 0px 0px;
}
.points .right p{
	font-size: 14px;
	line-height: 16px;
}
.frees-sub p{
	color: #6C6C6C !important;
	line-height: 20px;
	font-size: 18px;
	padding-top: 15px;
}
.frees-sub h2{
	margin: 0px !important;
	padding-top: 10px !important;
	color: #6C6C6C !important;
}
.setROWMEET{
	margin-right:0px !important;
	margin-left:0px !important;
}

@media (max-width: 420px) {
	.page-header.navbar .page-logo{
		width: 100%;
	}
	.help-center-menu{
		text-align: right;
		padding-right: 20px;
		margin: 0px;
	}
	.right-menu ul li a{
		margin-left: 5px;
	}
	.page-container-main{
		margin-top: 175px;
	}
	.nav ul{
		margin: 0px;
	}
	.nav ul li{
		margin-left: 0px;
        width: 100%;
        padding: 0px;
    }

    .nav ul li a {
        display: block;
        border-bottom: 4px solid #58AF2A;
        padding: 9px 0px;
    }

    .banner-inner-text p {
        font-size: 28px;
    }

    .banner-inner-text h1 {
        font-size: 36px;
    }

    .banner .banner-inner,
    .banner {
        height: 300px !important;
    }

    .banner-inner-text span {
        font-size: 28px;
    }

    .mobile-app .right img {
        width: 100%;
    }

    .our-team {
        margin: 0px 15px !important;
    }

    .team-contact .right h1 {
        font-size: 36px !important;
        line-height: 36px !important;
    }

    .our-team-horizontal .last-contant {
        margin-bottom: 50px;
    }

    .team-location .txt-right {
        margin-bottom: 30px;
    }

    .container-p-15 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .contact-img {
        width: 100%;
    }

    .founder-footer {
        min-height: 1050px !important;
        background-position: right bottom;
        padding: 30px 0px 0px 0px !important;
    }

    .talent-banners {
        position: relative !important;
	}
}

@media (max-width: 800px) and (min-width: 421px) {
	.page-header.navbar .page-logo{
		width: 230px;
	}
	.right-menu ul li a{
		margin-left: 5px;
        padding: 24px 10px;
	}
	.banner .banner-inner{
		height: 400px;
	}

    .mobile-app .right img {
        width: 100%;
    }

    .team-contact .right h1 {
        font-size: 36px !important;
        line-height: 36px !important;
    }

    .contact-img {
        width: 100%;
    }
}
