body, h1, h2, h3, h4, h5, h6, p {
    letter-spacing: 0 !important;
    text-transform: none;
    font-family: 'Raleway', sans-serif !important;
}

body {
    background: #F7F7F7;

}

.setCCPSP1{
    color: #000;
}

@media (max-width:991px) and (min-width:768px)
{
    .setColXSSMOFS{
        width:75% !important;
    }
}

@media (max-width:767px) and (min-width:320px)
{
    .setColXSSMOFS {
        width:.1% !important;
    }
    .setHCCContainer{
        text-align:center;
    }
    .setHCCRCol12{
        text-align: center;
    }
    .setRowTCCCol12{

    }
    .setCol12TBanner{
        position:unset !important;
    }
    .setCCHPGRCol12{
        margin-right:0px!important;
        margin-left:0px !important;
    }
    .setCCHTHISCROWCol12{
        margin-right:0px !important;
        margin-left:0px!important;
    }
    .setIM {
        float: none !important;
        width: 50% !important;
        position: unset !important;
        padding: 0px 0px 8px 36px;
    }
    .setCCHTSUB{
        margin-top:0px !important;
    }
    .setCCHPCol8{
        text-align: center;
    }
    .setCCPFFC{
        margin-left:0%;
    }
    .setRCCPF{
        padding: 50px 0px 0px 11px;
    }
    .setFPFFOLL{
        margin-left:-5%;
    }
    .setTHISH1CCP{
        font-size:30px !important;
        float:none !important;
    }
}

@media (max-width:420px)
{
    .page-container-main {
        margin-top: 81px;
    }
    .setTHISH1CCP{
        margin-top: 34px;
    }
}


.setHCCRCol12{
    margin-right:0px !important;
    margin-left:0px !important;
}

.setROWFF{
    margin-right:0px !important;
    margin-left:0px !important;
}

.banner {
    background: url('/images/Company-Info/culture-banner-sm.jpg');
    height: 400px;
    background-size: 100% 100%;
    width: 100%;
    margin: 0px;
}

.banner-inner-text h1 {
    text-transform: none;
}

.banner-inner-text span:first-child {
    /*border-bottom: 1px solid #fff;*/
}

.banner-inner-text span {
    text-transform: none;
    font-size: 36px;
    font-weight: 300 !important;
}

.title-name {
    font-weight: bold;
    color: #58AF2A;
    margin: 0px;
}

.title-name span {
    font-weight: 300;
}

.intro {
    padding: 60px 15px;
    border-bottom: 1px solid #BEBEBE;
}

.intro img {
    width: 50%;
    float: right;
    position: relative;
    right: -50px;
}

.talent p,
.intro p {
    margin-top: 15px;
    line-height: 20px;
}

span.black {
    color: #000;
}

span.green {
    color: #62AF28;
}

.sm-line {
    background: #BEBEBE;
    height: 1px;
    margin: 30px 0px;
}

.talent {
    padding: 50px 15px 0px 15px;
}

.talent-banners {
    position: absolute;
}

.talent-banners img {
    width: 100%;
}

.talent .technology {
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #BEBEBE;
}

.technology .technology-sub {
    background: #fff;
    width: 100%;
    box-shadow: 0 0 20px 5px #e8e8e8;
    padding: 30px 20px 20px 20px;
    margin-bottom: 30px;
}

.technology .technology-sub img {
    width: 160px;
    height: 130px;
}

.technology .technology-sub .text {
    margin-top: 30px;
    border-top: 1px solid #BEBEBE;
    text-align: left;
    color: #727272;
    padding-top: 15px;
}

.founder {
    padding: 50px 0px 0px 0px;
}

.founder .technology-sub {
    color: #58AF2A;
    padding: 30px 30px;
    margin-top: 60px;
}

.founder .technology-sub h2 {
    color: #58AF2A;
    font-size: 22px;
    margin: 0px;
    line-height: 25px;
}

.founder .right-text h2 {
    padding-left: 15px;
    margin-bottom: 30px;
}

.founder .right-text p {
    line-height: 18px;
}

.founder-footer {
    min-height: 550px;
    background: url('/images/Company-Info/founder-sm.png') no-repeat;
    background-position: right bottom;
    padding: 200px 0px 50px 0px;
}

.founder-footer img {
    width: 50px;
    position: relative;
    top: 0px;
    left: 20px;
    float: left;
}

.founder-footer .fix-text {
    color: #58AF2A;
    font-size: 36px;
    line-height: 46px;
    float: left;
    text-align: center;
    font-weight: bold !important;
}

.founder-footer .text-right h1 {
    color: #58AF2A;
    font-size: 32px;
    font-weight: normal;
    margin: 30px 0px 0px 0px;
    line-height: 30px;
}

.founder-footer .text-right span {
    color: #58AF2A;
    font-size: 20px;
    line-height: 0px;
}