.footer-main{
    display: none;
}

.banner {
    background: url('/images/banner2.jpg') !important;
}
@media (max-width:420px)
{
    .page-container-main {
        margin-top: 81px !important;
    }
}