body{
    font-family: 'Raleway', sans-serif !important;
}
.setRow{
	margin-left: 0px !important;
	margin-right:0px !important;
}
.page-container-main{
	margin-top: 80px;
}
.page-header{
	background: #fff;
	margin:0px;
	padding-bottom:0px;
}
.page-header.navbar{
	height: auto;
}
.page-header.navbar .page-logo > .logo-image, .page-header.navbar .page-logo > a{
	padding: 15px 0px;
}
.page-header.navbar .page-logo{
	width: 350px;
	display: block;
    float: left;
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
}
.page-header.navbar .page-logo a{
	width: 100%;
	padding: 15px 0px;
	float: left;
}
.page-header.navbar .page-logo img{
	float: left;
	padding-left: 10px;
}
.page-header.navbar .page-logo h2{
	border-right: 1px solid #c1c1c1;
    color: #494949;
    font-weight: 600;
    margin-top: 8px;
    line-height: 1.1;
    padding-right: 10px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.page-header.navbar .help-center-menu{
	text-transform: none;
	letter-spacing: 0;
	line-height: 1.1;
	margin-top: 25px;
}
.page-header.navbar .help-center-menu a{
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
    font-family: 'Raleway', sans-serif;
	color: #494949;
}
.right-menu ul{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.right-menu ul li{
	list-style: none;
	float: left;
	padding: 24px 0px;
}
.right-menu ul li a{
	color: #494949;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 15px;
	padding: 24px 15px;
	font-weight: 600;
}
.menu{
	width: 100%;
	margin: 0px;
	background: #58AF2A;
}
.nav ul{
	margin: 0px;	
	list-style: none;
	overflow: hidden;
	margin-left: 35px;
}
.nav ul li{
	float: left;
	margin-left: 5px;
	padding: 10px 0px;
}
.nav ul li a{
	color: #fff;
	padding: 9px 10px;
	font-size: 16px;
	font-weight: 500;
}
.nav ul li a:hover,
.nav ul li a.active{
	border-bottom: 4px solid #fff;
}

.banner{
	background: url('/images/Company-Info/cooperate-bg-picture.jpg') !important;
	background-size: 100% 100% !important;
	padding: 0px 15px;
}
.banner .banner-inner{
	height: 700px;
	position: relative;
}
.banner-inner-text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    font-family: 'Raleway', sans-serif;
}
.banner-inner-text .btn{
	margin-top: 15px;
}
.banner-inner-text h1{
	letter-spacing: 0px;
	font-weight: 600;
	text-transform: none;
	font-size: 32px;
	margin:0px;
}
.banner-inner-text p{
	color: #61AF2C;
	font-size: 16px;
}

.btn-readmore{
	text-transform: none;
	color: #61AF2C;
	border-color: #61AF2C;
	padding: 10px 70px;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 400;
}
.btn-readmore:hover{
	color: #fff;
	background-color: #61AF2C;
}
.section{
	padding-bottom: 50px;
    padding-top: 50px;
}
.section h1.title,
.section h2.sub-title{
	text-transform: none;
	letter-spacing: 1px;
	font-size: 28px;
	text-align: center;
	font-weight: 500;
	color: #000;
}
.section h2.sub-title{
	text-align: left;
	font-size: 22px;
	margin: 0px;
}
.section h1.title span{
	color: #61AF2C;
}
.section .text-content{
	color: #000;
	padding: 50px 0px 70px 0px;
	font-size: 16px;
	min-height: 280px;
}

.lend-section{
	padding-top: 60px;
}
.software-section{
	padding-top: 60px;	
}
.software-section img{
	margin-top: 100px;
}
.media-section{
	padding-top: 60px;	
}
.game-section{
	padding-top: 80px;	

}
.media-section img{
	margin-top: 15px;
}
.contact-form .form-group{
	margin-top: 60px;
}
.contact-form .form-group input{
	border: 0px;
	border-bottom: 2px solid #61AF2C;
	box-shadow: none;
	font-size: 20px;
}
.contact-form .form-group textarea{
	border: 2px solid #61AF2C;
	box-shadow: none;
	font-size: 20px;
	height: 155px;
	margin:90px 0px 70px 0px;
}

.lend-section ul li{
	list-style:outside;
}

.lend-section ul{
	padding-left: 17px;
}

@media (max-width: 360px) {
	.section img{
		width: 100%;
	}
	.page-header.navbar .page-logo{
		width: 100%;
	}
	.help-center-menu{
		text-align: right;
		padding-right: 20px;
		margin: 0px;
	}
	.right-menu ul li a{
		margin-left: 5px;
	}
	.banner .banner-inner{
		height: 300px;
	}
	.nav ul{
		margin: 0px;
	}
	.nav ul li{
		margin-left: 0px;
		width: 100%; 
	}
	.nav ul li a{
		width: 100%;
	}

	.footer-main {
		background: #333333;
		padding: 15px;
	}
	.footer-main .social-section .social-icon {
		overflow: hidden;
		padding: 8px;
	}
	.section .text-content {
		color: #000;
		padding: 0px 0px 70px 14px;
		font-size: 16px;
		min-height: 236px;
	}
	.software-section img {
		margin-top: 0px;
		padding:15px;
	}
	.lend-section {
		padding-top: 24px;
		padding:15px
	}
	.section {
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.btn-readmore {
		text-transform: none;
		color: #61AF2C;
		border-color: #61AF2C;
		padding: 10px 72px;
		border-radius: 50px;
		font-size: 18px;
		font-weight: 400;
	}
	.media-section {
		padding-top: 16px;
	}
	.game-section {
		padding-top: 41px;
	}
}



@media (max-width: 1199px) and (min-width: 361px){

	.right-menu ul {
		padding: 0px;
		margin: 0px;
		overflow: hidden;
	}
	.page-header.navbar .page-logo{
		width: 230px;
	}
	.right-menu ul li a{
		margin-left: 5px;
	}
	.section img{
		width: 100%;
	}
	.banner .banner-inner{
		height: 400px;
	}
}

@media (max-width:736px)
{
	.lend-section {
		padding-top: 0px;
	}
	.section .text-content {
		color: #000;
		padding: 12px 0px 70px 0px;
		font-size: 16px;
		min-height: 236px;
	}
	.software-section {
		padding-top: 0px;
	}
	.software-section img {
		margin-top: 31px;
	}
	.media-section {
		padding-top: 0px;
	}
	.section {
		padding-bottom: 0px;
		padding-top: 0px;
	}
}

@media (max-width:414px)
{
	.lend-section {
		padding-top: 0px;
	}
	.section .text-content {
		color: #000;
		padding: 12px 0px 70px 0px;
		font-size: 16px;
		min-height: 236px;
	}
	.software-section {
		padding-top: 0px;
	}
	.software-section img {
		margin-top: 31px;
	}
	.media-section {
		padding-top: 0px;
	}
	.section {
		padding-bottom: 0px;
		padding-top: 0px;
	}
}

@media (max-width:375px)
{

	.lend-section {
		padding-top: 0px;
	}
	.section .text-content {
		color: #000;
		padding: 27px 0px 35px 14px;
		font-size: 16px;
		min-height: 236px;
	}
	.media-section {
		padding-top: 0px;
	}
	.software-section {
		padding-top: 0px;
	}
	.software-section img {
		margin-top: 31px;
	}
	.section {
		padding-bottom: 0px;
		padding-top: 0px;
	}
}

@media (max-width:991px) and (min-width:320px)
{
	.setBTNCONTUS{
		float:none !important;
		display:block;
	}
}