@media only screen and (min-device-width: 450px)
{
    html, body {
                background-color: #fff;
                font-family: Raleway;
                margin: 0;
            }

            #wrapper{
                background-image: url("../images/CoworkerOwnerLogin_background.png");
                background-size: cover;
                background-repeat: no-repeat;
                max-width: 1000px;
                color: #050505;
                margin-right: auto;
                margin-left: auto;
                margin-top: 0;
            }

            .full-height{
                height: 100vh;
            }

            .left-content {
                display: inline-block;
                float: left;
                text-align: center;
                width: 60%;
            }

            .title {
                font-size: 19pt;
                font-weight: 700;
                margin-left: auto;
                margin-right: auto;
                margin-top: 65vh;
            }

            p{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            .right-content {
                position: relative;
                display: inline-block;
                float: right;
                text-align: center;
                width: 40%;
            }
            
            form{
               position: relative; 
            }

            .form-group{
                display: block;
                width: 65%;
                text-align: left;
                margin: auto;
            }

            .form-control{
                background-color: #f2f8ef;
                font-size: 10pt;
                font-family: Raleway;
                letter-spacing: .1rem;
                width: 100%;
                height: 32px;
                border-radius: 3px;
                border: none;
                padding-left: 3%;
                margin-bottom: 5px;
            }

            .login-label{
                font-size: 10pt;
            }

            .invalid-feedback{
                display: block;
                font-size: 8pt;
                color: red;
            }

            .form-check-input{
                margin: 0;
                opacity: 0;
            }
            
            .form-check-label{
                position: relative;
                padding-left: 5px;
                font-weight: 600;
            }
            
            .form-check-label::before{
                position: absolute;
                top:-3px;
                left: -17px;
                content: "";
                display: inline-block;
                height: 14px;
                width: 14px;
                border: 1px solid #666666;
                border-radius: 3px;
            }
            
            .form-check-label::after{
                position: absolute;
                top: 2px;
                left: -13px;
                content: "";
                display: inline-block;
                height: 3px;
                width: 6px;
                border-left: 1.5px solid;
                border-bottom: 1.5px solid;
                transform: rotate(-45deg);
            }
            
            /*Hide the checkmark by default*/
            .form-check-input + label::after {
                content: none;
            }
            /*Unhide the checkmark on the checked state*/
            .form-check-input:checked + label::after {
                content: "";
                color: #fff;
            }
            
            .form-check-input:checked + label::before {
                content: "";
                background-color: #549c0d;
                border-color: #549c0d;
            }
            
            .form-check-input:focus + label::before {
            outline: rgb(59, 153, 252) auto 5px;
            }
            
            .btn-link{
                color: #050505;
                font-size: 8pt;
                display: inline-block;
                float: right;
                padding-top: 4.5px;
                font-weight: 600;
            }
            
            .btn-submit{
                color: #fff;
                font-size: 13pt;
                width: 100%;
                height: 38px;
                border: none;
                border-radius: 2px;
                background-image: linear-gradient(#4e950a, #74c020);
                padding-right: 5%;
            }

            a {
                color: #636b6f;
                font-size: 13px;
                font-weight: 600;
            }
            
            .signupHeading{
                font-size: 15pt; 
                font-weight: 700;
                padding-right: 17%;
            }

}

/* 
    Created on : Jun 11, 2019, 10:38:49 AM
    Author     : User
*/

