#endDateAppend{
    border: 0px !important;
    top:0px !important;
    bottom: 0px !important;
    color: #585858 !important;
    font-weight: 500 !important;
    margin-right: 13px !important;
    padding:0px !important;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

.daterangepicker select.monthselect {
    margin-right: 0% !important;
    width: 30% !important;
    border: 0px;
    background: #fff;
    font-size: 18px !important;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
}

.daterangepicker.single .ranges, .daterangepicker.single .drp-calendar {
    float: right !important;
}

.daterangepicker td.week, .daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
    display: none !important;
}

.daterangepicker td.in-range {
    background-color:#daffd5 !important;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.daterangepicker select.yearselect {
    width: 30% !important;
    border-radius: 0px;
    border: 0px;
    font-size: 18px !important;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    background: #fff;
}

.single .calendar-table .table-condensed thead tr th:first-child{
    display: none !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color:#25ce0f !important;
    border-color: transparent;
    color: #fff !important;
}

/*.daterangepicker td.start-date.end-date{*/
    /*border-radius: 20px !important;*/
/*}*/

/*.daterangepicker td.start-date{*/
    /*border-bottom-left-radius: 50% !important;*/
    /*border-top-left-radius: 50% !important;*/
/*}*/
/*.daterangepicker td.end-date{*/
    /*border-bottom-right-radius: 50% !important;*/
    /*border-top-right-radius: 50% !important;*/
/*}*/

.daterangepicker td.active, .daterangepicker td.available:hover{
    background-color:#ccc;
}

.daterangepicker.single .calendar, .daterangepicker.single .ranges{
    background-color:#f5f6f7 !important;
    height: 308px !important;
    width: 180px !important;
    text-align: center;
 }

.daterangepicker .ranges li{
    color:#979797 !important;
    padding: 10px !important;
    border-radius: 0px !important;
    margin:0px !important;
    border: 0px !important;
}

.daterangepicker .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin-top:62px !important;
}
.fa-times-calender{

}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover{
    color:#25ce0f !important;
    padding: 10px !important;
    border: 0px !important;
    border-radius: 0px !important;
    margin:0px !important;
    font-weight: 500 !important;
    background-color:#fff !important;
}

.daterangepicker .ranges li.active{
    border:0px !important;
    padding: 10px !important;
}

.daterangepicker {
    direction: ltr;
    text-align: left;
    border:1px solid #25ce0f !important;
}

.daterangepicker .drp-buttons {
    clear: both;
    text-align: right;
    padding: 8px;
    border-top: 1px solid #25ce0f !important;
    display: none;
    line-height: 12px;
    vertical-align: middle;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
    border-left: 0px solid #ddd !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
}


.monthselect {
    -webkit-appearance: none !important;
}
.yearselect{
    -webkit-appearance: none !important;
}