.page-sidebar-wrapper{
    display: none !important;
}
.page-contant{
	margin: 0px;
}
.title{
	padding: 0px;
}
.title h3{
	font-weight: 600;
	color: #7F7F7F;
}
.title h4{
	color: #7F7F7F;
	line-height: 32px;
}
.body-box{
	background: #fff;
    box-shadow: 0px 0px 5px 0px #F1F1F1;
	margin-top: 30px;
	border-radius: 5px;
    padding: 30px 50px;
}
.box-title .left{
	float: left;
	width: 35px;
	font-size: 30px;
	line-height: 1;
	color: #61B02B;
}
.box-title .right{
	float: left;
	color: #7F7F7F;
}
.box-title .right h3{
	margin:5px 0px;
	font-size: 22px;
	font-weight: 500;
}
.box-title .right a{
	color: #61B02B;
}
.form-field{
    margin: 30px 0px 0px 0px;
}
.form-field label{
	font-weight: 600;
	color: #6f6f6f;
	font-size: 15px;
	margin-bottom: 10px;
}
.form-field .radio-list .radios{
    /*float: left;*/
}
.form-field .radio-list .radios label{
	font-weight: normal;
	margin-right: 15px;
    cursor: pointer;
}

.radio-list .radios div.radio span {
    border: 1px solid #c1c1c1;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
}

.radio-list .radios:hover > div.radio span,
.radio-list .radios div.radio span.checked {
    border: 3px solid #58B028;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.likely .span1 {
	color: #7f7f7f;
    padding-top: 15px;
    float: left;
}

.likely .span2 {
	color: #7f7f7f;
    padding-top: 15px;
    float: right;
}

.form-field .search-selectbox{
    width: 70%;
}
.form-field .ratting{
	margin-bottom: 10px;
}
.form-field .ratting .fa-star{
    font-size: 15px;
    font: normal normal normal 14px/1 FontAwesome;
    color: #61B02B;
    margin-left: 5px;
    margin-right: 5px;
}
.form-field .ratting .star-o{
	font-size: 15px;
	color: #BEBEBE;
}
.form-field .ratting span{
	color: #7f7f7f;

}

.form-field .ratting .last-star-fill {
    font-size: 20px;
}
.form-field .total{
	color: #6f6f6f;
    font-weight: bold;
    margin: 70px 0px 30px 0px;
    padding-left: 30px;
}

.form-field .total h1 {
    color: #61B02B;
    font-size: 82px;
    margin: 0px;
    line-height: 82px;
    font-family: 'Montserrat', sans-serif !important;
}

.form-field textarea{
    width: 100%;
	margin-bottom: 15px;
}
.form-field .see-ex{
	color: #61B02B;
}
.body-footer{
	margin: 30px 0px;
	padding: 0px;
}
.body-footer h4{
	color: #7F7F7F;
	line-height: 32px;
	margin-bottom: 30px;
}

.reason {
    background: #F7F7F7;
    padding: 30px 0px;
}

.reason .form-group {
    margin-bottom: 0px;
}

.reason .form-group label {
    margin-top: 8px;
}

.likely {
    padding: 15px 15px 35px 15px;
    background: #F7F7F7;
}

.likely label {
    margin-bottom: 25px;
}

.progress {
    height: 6px;
    margin-bottom: 0px;
    border-radius: 5px !important;
    margin-top: 30px;
}

.progress-bar-success {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #e3f5ab 50%, #5cb22d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #e3f5ab 50%, #5cb22d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #e3f5ab 50%, #5cb22d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#5cb22d', GradientType=1); /* IE6-9 */
    box-shadow: none;
}

.one {
    position: absolute;
    margin-top: 1px;
    z-index: 1;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.one label {
    position: absolute;
    top: -38px;
    height: 30px;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Open Sans';
}

.one label div.radio {
    height: 10px;
    width: 10px;
    top: 0px;
    left: -3px;
}

.one label div.radio span {
    border: 0px solid #fff;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background: #fff;
}

.one label:hover > div.radio span,
.one label div.radio span.checked {
    border: 3px solid #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #64B635;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(184, 218, 167, 0.7);
    -moz-box-shadow: 0px 0px 0px 5px rgba(184, 218, 167, 0.7);
    box-shadow: 0px 0px 0px 5px rgba(184, 218, 167, 0.7);
}

.one0 {
    left: 3%;
}

.one1 {
    left: 13%;
}

.one2 {
    left: 23%;
}

.one3 {
    left: 33%;
}

.one4 {
    left: 43%;
}

.one5 {
    left: 53%;
}

.one6 {
    left: 63%;
}

.one7 {
    left: 73%;
}

.one8 {
    left: 83%;
}

.one9 {
    left: 95%;
}

.success-color {
    background-color: #fff;
}

.rate {
    padding: 0px 0px 0px 15px;
}

.rate .form-group {
    background: #F7F7F7;
    padding: 15px;
    margin-bottom: 0px;
}

.ratting-custom {
    background: #F7F7F7;
    padding: 15px;
}

.label-custom label {
    font-weight: normal;
    text-transform: none;
    padding: 4px 15px 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.label-custom .label-color {
    color: #fff;
    background: #58AF2A;
}

.label-custom .label-default {
    color: #6f6f6f;
    background: #F7F7F7;
}

.proficiency {
    margin-top: -8px !important;
    margin-left: -9px !important;
}

.recommendation {
    margin-top: -14px !important;
    margin-left: -10px !important;
}
