html:lang(cn) body,
html:lang(cn) h1, html:lang(cn) h2, html:lang(cn) h3, html:lang(cn) h4, html:lang(cn) h5, html:lang(cn) h6,
html:lang(cn) p, small, span ,ul ,li ,
html:lang(cn) a,
html:lang(cn) .sub-heading,
html:lang(cn) .btn,
html:lang(cn) .label{
	font-family: "Raleway",Sans-Serif !important;
}

.banner {
	background: url(/images/banner.jpg);
	height: 400px;
	background-size: 100% 100%;
	width: 100%;
	margin: 0px;
	margin-top: -14px;
}
.banner .banner-inner{
	background: rgba(0, 0, 0, 0.30);
	height: 400px;
	text-align: center;
}
.banner .banner-inner h1{
	color: #fff;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 20px;
}
.banner .banner-inner .search-main-box{
	overflow: hidden;
	width: 60%;
	margin: auto;
	margin-top: 100px;
}
.banner .banner-inner .form-control{
	width: 75%;
	float: left;
	border-radius: 0px;
	border:2px solid #61AF2C;
}
.banner .banner-inner .btn{

	background: #61AF2C;
	color: #fff;
	text-transform: none;
	padding: 5px 25px;
	font-size: 16px;
}
.welcom-not{
	text-align: center;
	color: #808080;
}
.welcom-not h2{
	font-weight: 500;
}
.welcom-not p{
	font-size: 20px;
}
.page-left-contant{
	width: 255px;
	margin-top: 15px;
}
.page-left-contant .row{
	margin: 0px;
}
.page-title{
	margin: 15px 0px;
	padding: 0px;
	color: #808080;
    font-size: 18px;
    font-weight: 600;
}
.left-page-contant{
	width: 255px;
}
.left-contant-box{
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	background: #fff;
	padding: 0px;
}
.left-contant-box ul{
	list-style: none;
	padding: 15px 15px;
	margin: 0px;
}
.left-contant-box ul li{
	padding: 10px 0px;
}
.left-contant-box ul li a{
	display: block;
	overflow: hidden;
	color: #5a5a5a;
}
.left-contant-box ul li a img{
	width: 35px;
	float: left;
	margin:0px 15px 0px 0px;
}
.popular-que ul li a{
	padding-left: 10px;
	color: #7F7F7F;
}
.right-page-contant{
	padding-right: 0px;
	padding-left: 30px;
	margin-top: 15px;
}
.top-tabs-menu{
	border-bottom: 1px solid #dddddd;
	padding:0px;
}
.top-tabs-menu .caption{
	float: left;
	margin: 15px 0px;
	padding: 0px;
	color: #808080;
    font-size: 18px;
    font-weight: 600;
}
.top-tabs-menu .caption .small-text{
	font-weight: 300;
	font-size: 14px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #c6c6c6;
}
.top-tabs-menu .tabbable-line{
	float: right;
}
.top-tabs-menu .tabbable-line ul li{
	border-bottom-color: #61AF2C !important;
}
.top-tabs-menu .tabbable-line ul li a{
	padding: 16px 15px !important;
	color: #5a5a5a !important;
}
.top-tabs-menu .tabbable-line ul li.active a{
	color: #61AF2C !important;
}
.sugges-art{
	margin-top: 50px;
	border-top: 1px solid #dddddd;
	padding:0px;
}
.sugges-art .title{
	padding:20px 0px;
}
.sugges-art .title .text{
	color: #808080;
    font-size: 16px;
    font-weight: 600;
}
.sugges-art .title .number{
	color: #58af2a;
    margin-left: 5px;
}

.find-experts-pagination .count{
    margin-left: 10px;
    margin-right: 10px;
    color : #808080;
    font-size: 14px;
    background:none;
}
.count.badge {
    background-color: #57b029;
    color: #fff;
    width: 20px;
    height: 20px;
}

.suggested-art-list-body{
    padding: 20px 15px 15px 15px;
    border: 1px solid #ebebeb;
	box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.03);
}
.suggested-art-main{
    margin: 0px;
    border-bottom: 1px solid #BEBEBE;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.suggested-art-main:last-child{
    border-bottom: 0px solid #BEBEBE;
    margin-bottom: 0px;
}
.suggested-art-left{
    color: #707070;
    font-size: 15px;
}
.suggested-art-left small{
    padding-left: 15px;
    font-style: italic;
}
.suggested-art-right{
    padding: 0px
}
.suggested-art-right h4{
    color: #58AF2A;
    font-weight: 600;
    margin: 0px;
}
.suggested-art-right small{
    color: #707070;
    font-style: italic;
}
.btn-read-more:hover{
    color: #63B02B;
}
.btn-read-more{
	background: #fff;
	border:2px solid #63B02B !important;
	box-shadow: 0px 0px;
	border-radius: 5px;
	font-size: 14px;
    font-weight: 500;
    color: #63B02B;
    text-transform: none;
    margin-top: 10px;
}


/*FAQ Buyer Page CSS*/
.details-box{
	margin-top: 15px;
}
.details-box-l{
	padding-left: 0px;
	padding-right: 30px;
}
.details-box-r{
	padding-right: 0px;
	padding-left: 30px;
}
.details-box-sub{
	border: 1px solid #ebebeb;
	box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.03);
	min-height: 250px;
	padding: 10px;
}
.details-box-sub h4{
	border-bottom: 1px solid #d1d1d1;
	margin:0px;
	padding: 5px 0px 15px 0px;
	font-weight: 500;
	color: #707070;
}
.details-box-sub ul{
	list-style: none;
	padding: 5px 0px;
}
.details-box-sub ul li{
	padding: 0px 10px 0px 5px;
}
.details-box-sub ul li a{
	padding: 5px 0px 0px 0px;
	display: block;
	overflow: hidden;
	color: #707070;
}
.details-box-sub ul li a i{
	float: left;
	width: 20px;
	color: #61AF2C;
	margin-top: 3px;
}
.details-box-sub ul li a p{
	margin: 0px;
	padding-left: 20px;
	text-transform: capitalize;
}


/*FAQ Question Main Page CSS*/
.details-box-que{
	border: 1px solid #ebebeb;
	box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.03);
	min-height: 250px;
	padding: 20px 15px;
	margin-top: 30px;
}
.details-box-que .left-side h3{
	margin-top: 0px;
	color: #62B12B;
	font-weight: 600;
}
.details-box-que .left-side .left-side-detail{
	margin-top: 15px;
}
.details-box-que .left-side .sub-title{
	margin-top: 0px;
	color: #707070;
	font-weight: 600;
}
.details-box-que .left-side .topics-top{
	color: #808080;
	font-size: 12px;
}
.details-box-que .left-side ul{
	font-size: 12px;
	color: #808080;
	padding: 0px 15px;
}
.details-box-que .footer{
	border-top: 1px solid #BDBDBD;
	margin:30px 0px 0px 0px;
	padding-top: 15px;
	color: #808080;
}
.details-box-que .footer div{
	padding: 0px;
}
.details-box-que .footer h4{
	margin:0px;
	font-weight: 500;
	color: #707070;
}
.que-sub{
	color: #777;
}
.que-sub h3{
	margin-top: 0px;
	color: #62B12B;
	font-weight: 600;
}
.que-sub ul{
	padding-left: 15px;
}
.btn-footer-color:hover,
.btn-footer-color{
	background: #63B02B;
	border:2px solid #63B02B !important;
	box-shadow: 0px 0px;
	border-radius: 3px;
    color: #fff;
    text-transform: none;
    line-height: 5px !important;
}
.btn-footer-white:hover,
.btn-footer-white{
	background: #fff;
	border:2px solid #63B02B !important;
	box-shadow: 0px 0px;
	border-radius: 3px;
    color: #63B02B;
    text-transform: none;
    line-height: 5px !important;
}
.details-box-que .right-side{
	border-left: 2px solid #d5d5d5;
	padding: 0px;
}
.details-box-que .right-side ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.details-box-que .right-side ul li{
	padding: 0px;
}
.details-box-que .right-side ul li:hover a,
.details-box-que .right-side ul li.active a{
	border-left: 3px solid #60B02C;
}
.details-box-que .right-side ul li a{
	border-left: 3px solid #fff;
	display: block;
	padding: 5px 15px;
	color: #707070;
	font-weight: 600;
}
.details-box-que .right-side .sub-li li:hover a,
.details-box-que .right-side .sub-li li.active-sub a{
	color: #60B02C;
}
.details-box-que .right-side .sub-li li a{
	border-left: 3px solid #fff !important;
	display: block;
	padding: 5px 15px;
	color: #808080;
	font-weight: normal;
}
.details-box-que .right-side .sub-li li a i{
	color: #60B02C;
	float: left;
}
.details-box-que .right-side .sub-li li a p{
	margin: 0px;
	padding-left: 20px;
}

@media(max-width:1024px)
{
	.right-page-contant {
		padding-right: 0px;
		padding-left: 30px;
		margin-top: 15px;
		width: 100%;
	}
	.top-tabs-menu {
		border-bottom: 1px solid #dddddd;
		padding: 0px;
		width: 97%;
	}
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 418%;
	}
	.sugges-art {
		margin-top: 50px;
		border-top: 1px solid #dddddd;
		padding: 0px;
		width: 100%;
	}
}


@media (max-width:991px)
{

	.sugges-art .title {
		padding: 27px 0px;
	}
	.pag{
		margin-top: -22px;
	}
	.sugges-art {
		margin-top: 50px;
		border-top: 1px solid #dddddd;
		padding: 0px;
		width: 100%;
	}
	.suggested-art-left small {
		padding-left: 0px;
		font-style: italic;
	}
	.suggested-art-left {
		color: #707070;
		font-size: 15px;
		margin-left: -15px;
	}
	.top-tabs-menu {
		border-bottom: 1px solid #dddddd;
		padding: 0px;
		width: 96%;
	}
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 320%;
	}
}

@media (max-width:736px) {
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 297%;
	}
}

@media (max-width:731px)
{
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 294%;
	}
}

@media (max-width:667px)
{
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 265%;
	}
	.top-tabs-menu {
		border-bottom: 1px solid #dddddd;
		padding: 0px;
		width: 95%;
	}
}

@media (max-width:640px)
{
	.top-tabs-menu {
		border-bottom: 1px solid #dddddd;
		padding: 0px;
		width: 95%;
	}
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 253%;
	}
}

@media (max-width:568px)
{
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 496px;
	}
	.top-tabs-menu {
		border-bottom: 1px solid #dddddd;
		padding: 0px;
		width: 94%;
	}
	.sugges-art {
		margin-top: 50px;
		border-top: 1px solid #dddddd;
		padding: 0px;
		width: 100%;
	}
	.pag{
		margin-top: -27px;
	}
	.sgA{
		margin-top: -10px;
	}
	.suggested-art-left small {
		padding-left: 0px;
		font-style: italic;
	}
	.suggested-art-left {
		color: #707070;
		font-size: 15px;
		margin-left: -14px;
	}
}

@media (max-width:414px)
{
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 345px;
	}
	.top-tabs-menu {
		border-bottom: 1px solid #dddddd;
		padding: 0px;
		width: 92%;
	}
	.sgA {
		margin-top: -55px;
	}
}

@media (max-width:411px)
{
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 340px;
	}
	.sugges-art .title {
		padding: 42px 0px;
	}
	.top-tabs-menu {
		border-bottom: 1px solid #dddddd;
		padding: 0px;
		width: 92%;
	}
	.sgA {
		margin-top: -40px;
	}
}

@media (max-width:375px)
{
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 306px;
	}
}

@media (max-width:360px)
{
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 294px;
	}
	.top-tabs-menu .caption {
		float: left;
		margin: 15px 0px;
		padding: 0px;
		color: #808080;
		font-size: 16px;
		font-weight: 600;
	}

}

@media (max-width:320px)
{
	.left-contant-box {
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background: #fff;
		padding: 0px;
		width: 250px;
	}
	.top-tabs-menu {
		border-bottom: 1px solid #dddddd;
		padding: 0px;
		width: 89%;
	}
	.top-tabs-menu .caption {
		float: left;
		margin: 15px 69px;
		padding: 0px;
		color: #808080;
		font-size: 18px;
		font-weight: 600;
	}
	.sugges-art {
		margin-top: 50px;
		border-top: 1px solid #dddddd;
		padding: 0px;
		width: 100%;
	}
	.suggested-art-left {
		color: #707070;
		font-size: 15px;
		margin-left: -16px;
	}
	.pag {
		margin-top: -64px;
		margin-left: 8px;
		font-size: 9px;
	}
	.sgA{
		margin-top: -4px;
	}
	.suggested-art-left small {
		padding-left: 0px;
		font-style: italic;
	}
}

