/*
    0. font family
    1. padding
    2. font
    3. color
    4. margin
    5. pagination
    6. button
   99. custom
*/

/*
    0. font family
*/
html:lang(en) body,
html:lang(en) h1, html:lang(en) h2, html:lang(en) h3, html:lang(en) h4, html:lang(en) h5, html:lang(en) h6,
html:lang(en) p, small,span ,ul ,li ,
html:lang(en) a,
html:lang(en) option,
html:lang(en) button,
html:lang(en) b,
html:lang(en) input,
html:lang(en) .sub-heading,
html:lang(en) .btn,
html:lang(en) small,
html:lang(en) .label,.skill-main , .item-skill{
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Myriad Pro', 'Raleway', sans-serif;
}


/*html:lang(en),*/
/*html:lang(en) body,*/
/*html:lang(en) nav,*/
/*html:lang(en) li,*/
/*html:lang(en) a,*/
/*html:lang(en) ul,*/
/*html:lang(en) span,*/
/*html:lang(en) .btn,*/
/*html:lang(en) button,*/
/*html:lang(en) .label {*/
    /*font-family: 'Myriad Pro', 'Raleway', sans-serif !important;*/
/*}*/


html:lang(cn) body,
html:lang(cn) h1, html:lang(cn) h2, html:lang(cn) h3, html:lang(cn) h4, html:lang(cn) h5, html:lang(cn) h6,
html:lang(cn) p, small ,ul ,li ,
html:lang(cn) a, span,
html:lang(cn) option,
html:lang(cn) button,
html:lang(cn) b,
html:lang(cn) input,
html:lang(cn) .sub-heading,
html:lang(cn) .btn,
html:lang(cn) small,
html:lang(cn) .label{
    font-family: 'Noto Sans SC', sans-serif;
}


.set-media-middle , img{
    object-fit: cover !important;
}

.setStyleMPGe{
    height:5px;
    background-color:#ff8c34;
    padding-top: 80px;
}

.f-b {
    font-weight: bold;
}

.f-sb {
    font-weight: 600;
}

.f-m {
    font-weight: 500;
}

html:lang(en) .raleway {
    font-family: 'Raleway', sans-serif;
!important;
}
/*
    1. padding
*/


.setNAVBARHOMEPAGE > ul > li > a{
    padding-right: 0px !important;
    padding-left:0px !important;
}


.p-l-0{
    padding-left: 0px;
}

.p-l-1{
    padding-left: 1px;
}

.p-t-5{
    padding-top: 5px;
}

.p-t-7{
    padding-top: 7px;
}

.p-t-10{
    padding-top: 10px;
}

.p-t-15{
    padding-top: 15px;
}

.p-t-20{
    padding-top: 20px;
}

.p-t-25{
    padding-top: 25px;
}

.p-t-30{
    padding-top: 30px;
}

.p-t-35{
    padding-top: 35px;
}

.p-t-40{
    padding-top: 40px;
}

.p-lr-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.p-lr-10{
    padding-left: 10px;
    padding-right: 10px;
}

.p-lr-15{
    padding-left: 15px;
    padding-right: 15px;
}

.p-b-0{
    padding-bottom: 0px !important;
}

.p-0{
    padding: 0 !important;
}

.p-tb-15{
    padding-top: 15px;
    padding-bottom: 15px;
}
/*
    2. font
*/

.f-b{
    font-weight: bold;
}

.f-b-16{
    font-weight: bold;
    font-size: 16px;
}

.f-s-10{
    font-size: 10px;
}

.f-s-12{
    font-size: 12px !important;
}

.f-s-14{
    font-size: 14px !important;
}

.f-s-16{
    font-size: 16px !important;
}

.f-s-18{
    font-size: 18px;
}

.f-s-20{
    font-size: 20px;
}

.f-s-24{
    font-size: 24px!important;
}

.f-s-25{
    font-size: 25px;
}

.f-s-26{
    font-size: 26px;
}
/*
    3. color
*/

.f-c-y{
    color: #ff9800;
}

.f-c-blk{
    color: #000;
}

.f-c-lb{
    color: #68b2E4 !important;
}

.f-c-green {
    color: #37a000 !important;
}

.f-c-green2 {
    color: #57b029 !important;
    font-family: Simple-Line-Icons !important;
}

.f-c-gray {
    color: #727272;
}

.f-c-gray-2{
    color: #999999;
}

.f-c-gray-3{
    color: #656565;
}

.f-c-gray-4{
    color: #777777;
}
/*
    4. margin
*/

.m-b-0{
    margin-bottom: 0px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-30{
    margin-bottom: 30px;
}

.m-t-5{
    margin-top: 5px;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-15{
    margin-top: 15px;
}

.m-t-20{
    margin-top: 20px;
}

.m-t-30{
    margin-top: 30px;
}

.m-t-40{
    margin-top: 40px;
}
/*
    Pagination
*/

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #57b029;
    border-color: #57b029;
    cursor: default;
    width: 25px;
    height: 25px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    padding: 4px 6px 0px 5px;
    text-align: center;
    font-size: 13px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #808080;
    background-color: #eee;
    border-color: #ddd;
    width:25px;
    height: 25px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    padding: 3px 6px 0px 5px;
    text-align: center;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    color: #777;
    background-color: #eee;
    border-color: #ddd;
    cursor: not-allowed;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 2px 8px;
    margin-left: 10px !important;
    line-height: 1.42857;
    text-decoration: none;
    color: #808080;
    background-color: transparent;
    border: 1px solid #ddd;
}

.pagination > .disabled > span {
    background-color: transparent;
}

.pagination {
    margin: 0px;
    font-weight: bold;
    font-size:small !important;
    padding-right: 50px;
}

.pagination > li > a, .pagination > li > span {
    border: 0px;
}

/*
    6. button
*/
.btn-green-bg-white-text, .btn-green-bg-white-text:hover, .btn-green-bg-white-text:active {
    background-color: #57b029 !important;
    color: #fff;
    border: 2px solid #57b029 !important;
    min-width: 150px;
    padding: 9px 0px;
    border-radius: 5px;
}

.btn-yellow-bg-white-text, .btn-yellow-bg-white-text:hover, .btn-yellow-bg-white-text:active {
    background-color: #fcc33a ;
    color: #fff;
    border: 2px solid #fcc33a ;
    min-width: 150px;
    padding: 9px 0px;
    border-radius: 5px;
}

.btn-white-bg-green-text, .btn-white-bg-green-text:hover, .btn-white-bg-green-text:active {
    padding: 9px 0px;
    min-width: 150px;
    border: 2px solid #57b029 !important;
    color: #57b029;
    background-color: #fff !important;
    border-radius: 5px;
}

.btn-white-bg-yellow-text, .btn-white-bg-yellow-text:hover, .btn-white-bg-yellow-text:active {
    padding: 9px 0px;
    min-width: 150px;
    border: 2px solid #ffde1b ;
    color: #ffde1b;
    background-color: #fff ;
    border-radius: 5px;
}

.btn-red-bg-white-text, .btn-red-bg-white-text:hover, .btn-red-bg-white-text:active {
    background-color: #d9534f ;
    color: #fff;
    border: 2px solid #d9534f ;
    min-width: 150px;
    padding: 9px 0px;
    border-radius: 5px;
}
/*
    custom
*/

.checkradios-green {
    font-size:12px;
    color:rgba(33,164,151,1);
    border:2px solid rgba(117,117,117,1);
    -webkitbox-shadow:inset 0px 0.1em 0.1em rgba(33,164,151,0.3);
    -moz-box-shadow:inset 0px 0.1em 0.1em rgba(33,164,151,0.3);
    box-shadow:inset 0px 0.1em 0.1em rgba(33,164,151,0.3);
}
.w100 {
    width: 100%;
}
.order-filter-container ul > li > a {
    color: #cfcfcf;
}
.order-filter-container ul > li > a:hover {
    color: #0190d6;
}
.order-filter-container ul > li.active > a {
    color: #0190d6;
}
.btn-orange {
    background-color: #f47d31;
    color: #fff;
}
.page-header.navbar {
    height: 126px;
}
.page-header-fixed .page-container {
    margin-top: 90px;
    min-height: 600px;
}

.floating-menu
{
    z-index: 100;
    position: fixed !important;
    padding-top: 90px;
}

a.setLinkbtn1{
    padding-right: 0px !important;
}

.setLNGDDT{
    padding-right:10px !important;
}

.page-sidebar-menu-custom .fa-exclamation-circle.identity-authentication
{
    color: #f44e34 !important;
}

.page-sidebar-menu-custom .fa-exclamation-circle.skill
{
    color: #f4bb35 !important;
}

.item-skill{
    display: inline;
    list-style: none;
    padding: 4px 8px !important;
    margin: 3px 12px -14px -4px;
    float: left;
    font-size: 14px !important;
    height: 90% !important;
    border-radius: 25px;
    border: 1px solid #dedede;
}

.item-skill img {
    border: 2px solid #fff;
    padding: 2px !important;
    border-radius: 30px;
    margin-right: 6px;
}

.item-skill.unverified{
    padding-bottom: 6px !important;
    margin-top:21px;
}

.item-skill.client-verified {
    background-color: #5dba2c !important;
    padding-left: 3px !important;
    border: none;
    color: #fff !important;
}

.item-skill.admin-verified {
    background-color: #f9d23f !important;
    padding-top: 7px !important;
    word-spacing: 1px !important;
    border: none;
    color: #fff !important;
}
.abc{
    position: relative;
    right: 0px;
    bottom: 2px;
}

.item-skill.tag {
    background-color: #f9d23f !important;
    border: none;
    color: #fff !important;
}

.ms-sel-item.admin-verified{
    background-color: #f9d23f !important;
    border: 1px solid #f9d23f !important;
    color: #fff !important;
}

.ms-sel-item.client-verified{
    background-color: #5dba2c !important;
    border: 1px solid #5dba2c !important;
    color: #fff !important;
}

.admin-verified .ms-close-btn,
.client-verified .ms-close-btn{
    display: none;
}

.dz-icon{
    margin-top: 10px;
}

.tool .fa-scissors
{
    color: #fff;
    position: absolute;
    top: 160px;
    right: 20px;
    background-color: #58AF2A;
    font-weight: bold;
    border-radius: 100px;
    padding: 5px;
}

.jcrop-centered
{
    display: inline-block;
}

.crop-image-wrapper
{
    text-align: center;
}

.lightboxOverlay
{
    z-index: 19999 !important;
}

.lightbox
{
    z-index: 20000 !important;
}

.form-control::-moz-placeholder {
    color: #afafaf;
}

/***
*   Top menu
***/
.page-header.navbar .top-menu .navbar-nav > li.dropdown{
    height: unset;
}

#header_feedback span{
    border: 2px solid #57b029;
    padding: 9px 20px;
    border-radius: 5px;
}

ul.dropdown-menu.jobs li a,
ul.dropdown-menu.find-expert li a{
    /*padding: 10px 10px;*/
}

.navbar-nav > li > a {
    padding-left: 0px;
    padding-right: 8px;
}
/***
* Top menu search
***/

#msHeaderSearchBar.ms-ctn
{
    background-color: #fff;
    border-radius: 2px !important;
    margin-top: 18px;
}
#msHeaderSearchBar.ms-ctn-focus,
#msHeaderSearchBar.ms-ctn:hover{
    border-color: #64B12B !important;
}

#msHeaderSearchBar.ms-ctn .ms-sel-item {
    background: #57b029;
    color: #fff;
    border: 1px solid #84c165;
    padding: 2px 10px;
    margin: 4px 2px;
}

#msHeaderSearchBar.ms-ctn-focus {
    border-color: #e5e5e5;
}

#msHeaderSearchBar .ms-sel-ctn .ms-sel-item .ms-close-btn{
    background-image: url('../../../images/ms-close.png');
}

#msHeaderSearchBar.ms-ctn input{
    padding: 5px 10px;
}

#msHeaderSearchBar .ms-res-ctn .ms-res-item{
    padding: 5px 20px;
}

#msHeaderSearchBar .ms-helper{
    top: -25px;
}

#msHeaderSearchBar .ms-helper a{
    color: #5ec329;
    font-weight: bold;
}

#msHeaderSearchBar .search-type-text
{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

#msHeaderSearchBar .search-type-text.active,
#msHeaderSearchBar .search-type-text:hover
{
    color: #5ec329;
}

.fa-search.header-search-bar{
    position: absolute;
    right: 30px;
    top: 30px;
    color: #5ec329;
    font-size: 18px;
}

#msHeaderSearchBar .search-desc{
    font-size: 12px;
}

#msHeaderSearchBar .search-type-div{
    margin-top: 20px;
}

#msHeaderSearchBar .search-type-btn-default{
    background: transparent;
    border: 1px solid #fff;
    width: 30%;
    margin-right: 2%;
    color: #fff !important;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
}

#msHeaderSearchBar .search-type-btn-color{
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
    width: 30%;
    border: 1px solid #64B12B;
    background: #64B12B;
    color: #fff !important;
}

#msHeaderSearchBar .btn-search{
    cursor: pointer;
}

#msHeaderSearchBar .ms-sel-ctn input{
    color: #64B12B;
    background-color: #fff;
}

#msHeaderSearchBar.ms-ctn{
    padding: 2px 12px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

#msHeaderSearchBar .ms-res-ctn .ms-res-item-active {
    background-color: #5ec329;
    color: #fff;
}

#msHeaderSearchBar em{
    background-color: #fcc33a !important;
}

#msHeaderSearchBar .search-desc em{
    background-color: #57b029 !important;
}


.page-header.navbar .top-menu .navbar-nav {
    margin-right: 0px;
}

html:lang(cn) .navbar-nav > li {
    padding-left: 0px;
    padding-right: 0px;
}

html:lang(en) .navbar-nav > li {
    padding-left: 0px;
    padding-right: 0px;
}

/*bshare*/
.bsBox{
    height: 255px !important;
    width: 232px !important;
}

.bFind-wrapper-top{
    height: 25px !important;
}

.user-refer .control-label {
    text-align: right;
    font-weight: normal;
    font-size: 16px;
}
.profile-userpic-upload{
    background-color: #5ec329;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: 500;
}
.user-refer-btn .green-btn {
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: 2px solid #58AF2A !IMPORTANT;
}
.user-refer-btn .white-btn {
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    color: #58AF2A;
    background: #fff;
    border: 2px solid #58AF2A !IMPORTANT;
}
.user-refer {
    padding-right: 40px !important;
}
.margin-password {
    margin-top: 10px;
}
.password-btn button {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
}
.inner-content-refer {
    max-width: 850px;
    margin: 0 auto;
    width: 90%;
}
.add_skill_popup .modal-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #676767;
    font-size: 16px;
    letter-spacing: 1px !important;
    padding-top: 7px;
}
.add_skill_popup .modal-header .close {
    background: #d7d7d7;
    padding: 4px 10px;
    opacity: 1;
    font-size: 26px;
    color: #777777;
    text-shadow: none;
}
.addskill-content {
    padding: 20px;
}
.add_skill_field select {
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    border-color: #e8e8e8;
    border-radius: 5px;
}
.add_skill_footer p {
    color: #909090;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.add_skill_footer {
    padding-left: 52px;
    padding-bottom: 10px;
}
.skill-btn a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
}
.skill-skip a {
    background: #ffc516;
}
.skill-save a {
    background: #00ba2b;
}
.skill-cancel a {
    background: #ec3d40;
}


@media (max-width:1174px)
{
    .setFEHTOA{
        width: 20% !important;
    }
}


@media (max-width: 600px){
    .user-refer {
        padding-right: 0px !important;
    }
    .portlet .caption {
        padding-top: 0px !important;
    }
}
@media (min-width:624px)
{
    .btn-green-bg-white-text, .btn-green-bg-white-text:hover, .btn-green-bg-white-text:active {
        background-color: #57b029 !important;
        color: #fff;
        border: 2px solid #57b029 !important;
        min-width: 150px;
        padding: 9px 0px;
        border-radius: 5px;
        top:0px;
    }
}

@media (max-width:560px) {
    #msHeaderSearchBar.ms-ctn {
        padding: 2px 12px;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        width: 100%;
    }
}

@media (max-width:320px) {
    .btn-white-bg-green-text, .btn-white-bg-green-text:hover, .btn-white-bg-green-text:active {
        padding: 9px 0px;
        min-width: 150px;
        border: 2px solid #57b029 !important;
        color: #57b029;
        background-color: #fff !important;
        border-radius: 5px;
        margin-left: 32px;
        top:4px;
    }

    .btn-green-bg-white-text, .btn-green-bg-white-text:hover, .btn-green-bg-white-text:active {
        background-color: #57b029 !important;
        color: #fff;
        border: 2px solid #57b029 !important;
        min-width: 150px;
        padding: 9px 0px;
        border-radius: 5px;
        top:8px;
        left:30px;

    }
}

@media (max-width:360px) {
    .btn-white-bg-green-text, .btn-white-bg-green-text:hover, .btn-white-bg-green-text:active {
        padding: 9px 0px;
        min-width: 150px;
        border: 2px solid #57b029 !important;
        color: #57b029;
        background-color: #fff !important;
        border-radius: 5px;
        margin-left: 32px;
        top:4px;
    }

    .btn-green-bg-white-text, .btn-green-bg-white-text:hover, .btn-green-bg-white-text:active {
        background-color: #57b029 !important;
        color: #fff;
        border: 2px solid #57b029 !important;
        min-width: 150px;
        padding: 9px 0px;
        border-radius: 5px;
        top:8px;
        left:30px;

    }
}

@media (max-width:411px) {
    .btn-white-bg-green-text, .btn-white-bg-green-text:hover, .btn-white-bg-green-text:active {
        padding: 9px 0px;
        min-width: 150px;
        border: 2px solid #57b029 !important;
        color: #57b029;
        background-color: #fff !important;
        border-radius: 5px;
        margin-left: 32px;
        top:4px;
    }

    .btn-green-bg-white-text, .btn-green-bg-white-text:hover, .btn-green-bg-white-text:active {
        background-color: #57b029 !important;
        color: #fff;
        border: 2px solid #57b029 !important;
        min-width: 150px;
        padding: 9px 0px;
        border-radius: 5px;
        top:8px;
        left:0px;

    }
}


.toggler{
    margin-top:30px;
}



.setCOMMENTPAGEUT {
    border: none !important
}
.setRNUStars {
    padding-left: 0px;
}

.user-name {
    margin-top:7px;
}

#slideUnlock .unlocked {
    background-color: #57AF2A !important;
}
#slideUnlock .text {
    font-family: Raleway, sans-serif !IMPORTANT;
}
/*#slideUnlock  .slideToUnlock {*/
/*    height: 40px;*/
/*    line-height: 40px;*/
/*}*/
/*#slideUnlock  .drag {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*}*/

/*=========== Particle css =============*/
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}
