.setSideMenuScroll {
    min-height: -webkit-fill-available !important;
    margin-top: 8%;
    border: 1px solid #e5e5e5 !important;
    /*margin-bottom:10%;*/
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 16px 10px 0px 10px !important;
    border-color: #57af2a !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    border-color: #57af2a !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
    margin: 0px !important;
}


.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {


    width: 60px;
    height: 60px;
    padding: 5px;
    margin-top: -22px !important;
}

.page-header.navbar>a .mmmm menu-toggler {
    margin-left: 30px;
}


.navbar-nav>li.usercenter-li {
    font-family: "Raleway", sans-serif;
}

.page-header.navbar {
    height: auto;
}

.page-header.navbar .page-logo {
    width: 100%;
}

.page-header.navbar .page-logo .logo-default {
    margin: 0px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
    right: 0px;
}

.page-header.navbar .page-logo>.logo-image,
.page-header.navbar .page-logo>a {
    padding: 15px 0px;
}

.top-nav-menu-div {
    padding: 0px;
    text-align: center;
}

/*.top-nav-menu{*/
/*padding-top: 28px;*/
/*padding-bottom: 28px;*/
/*line-height: 75px;*/
/*padding-left: 0px;*/
/*}*/

/*.top-nav-menu li{*/
/*padding: 28px 0px;*/
/*}*/
/*.top-nav-menu li a{*/
/*padding: 24px 15px;*/
/*border-bottom: 3px solid #fff;*/
/*font-weight: normal;*/
/*font-size: 16px;*/
/*}*/
/*.top-nav-menu li a:hover,*/
/*.top-nav-menu li a.active{*/
/*border-bottom: 3px solid #57AF2A;*/
/*color: #57AF2A;*/
/*font-weight: normal;*/
/*}*/
/*.top-nav-menu li a i{*/
/*color: #57AF2A;*/
/*}*/
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user {
    padding: 0px;
}

.navbar-nav>li>a.normal-link {
    color: #000;
    font-weight: normal !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #57B029;
    font-size: 24px;
}

.badge {
    margin-left: 15px;
}

li .badge {
    background: #58AF2A;
}

li .setBadge {
    position: absolute;
    /*right:10px;*/
    top: 33%;
}

li.active .badge {
    background-color: #777;
}

.setChatBell .badge-info {
    background-color: #C63031;
}

.find-expert-box:hover {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.10);
}

.search-selectbox {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    position: relative;
}

.search-selectbox:hover {
    border: 1px solid #64B12B;
}

.search-selectbox:after {
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 24px;
    color: #57B029;
    font-family: FontAwesome;
}

.search-selectbox select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: none;
    border: medium none;
    box-shadow: none;
    padding: 5px;
    width: 100%;
}

.btn-search-custom {
    background-color: #D6911A;
}

.review-top-left {
    color: #57B029;
    padding-top: 10px;
}

.custom-review-selectbox {
    width: 100px;
    float: right;
}

.navbar-nav>.usercenter-li>a {
    background: #fff;
    border-radius: 0px;
    color: #000;
    border-bottom: 3px solid #fff;
    /*line-height: 62px;*/
}

.navbar-nav>.usercenter-li>a:hover,
.navbar-nav>.usercenter-li>a.active {
    /*border-bottom: 3px solid #57af2a;*/
    color: #57af2a !important;
    background: #fff;
}

.page-sidebar-menu-custom li a {
    color: #707070 !important;
}

.page-sidebar-menu-custom li a img {
    width: 25px;
}

.page-sidebar-menu-custom li a i {
    color: #58AF2A !important;

}

.page-sidebar-menu-custom li a:hover,
.page-sidebar-menu-custom li a:hover>i {
    background-color: #58AF2A !important;
    color: #fff !important;
}

.profile-info .label i {
    color: #58AF2A;
    font-size: 14px;
}

.margin-25 {
    height: 25px;
}

.main-well-custom {
    padding: 0px !important;
}

.main-well-custom .tabbable-line>.nav-tabs {
    padding-left: 15px;
}

.main-well-custom .tabbable-line>.nav-tabs>li {
    padding: 10px;
}

.main-well-custom .tabbable-line>.nav-tabs>li:hover {
    border-bottom: 4px solid #7ed535;
}

.main-well-custom .tabbable-line>.nav-tabs>li.active {
    border-bottom: 4px solid #58AF2A;
    text-decoration: none !important;
}

.main-well-custom .tabbable-line>.nav-tabs>li.active>a {
    color: #58AF2A !important;
}

.main-well-custom .tabbable-line>.tab-content {
    padding: 15px 0px !important;
}

.main-well-custom .tab-content .review {
    padding: 0px !important;
    /*background: red;*/
}

.main-well-custom .tab-content .review .review-main {
    margin: 0px;
}

.main-well-custom .tab-content .review .review-main-r {
    padding-left: 0px;
}

.main-well-custom .tab-content .review .skill-tag .skill {
    border: 1px solid #dedede;
    border-radius: 30px;
    color: #8c8c8c;
    display: inline-block;
    height: 35px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
}

.main-well-custom .tab-content .review .attachment {
    padding: 0px;
    position: relative;
    width: 100%;
    float: left;
    margin-top: 15px;
}

.main-well-custom .tab-content .review .label-title-sub {
    float: left;
    width: 100%;
    color: #656565;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.main-well-custom .tab-content .review .attachment-sub {
    width: 85px;
    float: left;
}

.main-well-custom .tab-content .review .attachment-file {
    background: #FAFAFA;
    height: 80px;
    width: 75px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    text-align: center;
}

.main-well-custom .tab-content .review .attachment-file img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-well-custom .tab-content .review .attachment-name a {
    color: #777;
    font-size: 13px;
    line-height: 30px;
}

.attachment-file-download {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #5BAE2A;
}

.attachment-file-download label {
    font-weight: 600;
}

.custom-select-btn {
    width: 50%;
    color: #555;
    font-size: 14px;
    padding: 9px 14px 5px !important;
    box-shadow: 0px 0px;
    border-radius: 2px !important;
    border: 1px solid #e5e5e5 !important;
}

.custom-select-btn:after {
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    color: #57B029;
    font-family: FontAwesome;
}

.custom-select-btn:hover {
    box-shadow: 0px 0px;
    border: 1px solid #64B12B !important;
}

.custom-input-text {
    width: 50%;
    color: #555;
    font-size: 14px;
    box-shadow: 0px 0px;
    border-radius: 2px !important;
    border: 1px solid #e5e5e5 !important;
    height: 40px;
}

.left-char-count {
    /*padding-top: 15px;*/
    color: #b1b1b1;
}

.left-char-count span {
    color: #000;
}

.btn-green-custom:hover,
.btn-green-custom {
    background: #58AF2A;
    color: #fff;
    box-shadow: 0px 0px;
    font-weight: bold;
    font-size: 14px;
}

.btn-add-more-question {
    margin-top: 15px;
}

.div-question-top {
    margin: 15px 0px !important;
    overflow: hidden;
}

.div-question-top .div-question {
    padding: 0px !important;
}

.pay-type-custom {
    position: relative;
    margin: 15px 0px;
    float: right;
}

.pay-type-custom .pay-type-label {
    background: #fff;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    text-align: center;
    box-shadow: 0px 0px 1px 0px #e1e1e1;
    cursor: pointer;
    position: relative;
    color: #808080;
    font-weight: 600;
    padding-bottom: 30px;
}

.pay-type-custom .pay-type-label:hover {
    border: 1px solid #64B12B !important;
}

.pay-type-custom .pay-type-label img {
    width: 60px;
    padding: 60px 0px 40px 0px;
}

.pay-type-custom .icheck {
    position: absolute;
    top: 10px;
    left: 40px;
}

.btn-add-file-custom {
    background: #fff;
    color: #58AF2A;
    border: 2px solid #58AF2A !important;
    border-radius: 50%;
    font-size: 14px;
    padding: 3px 7px;
}

.btn-minus-file-custom {
    background: #fff;
    color: #af2d0e;
    border: 2px solid #af2d0e !important;
    border-radius: 50%;
    font-size: 10px;
    padding: 1px 3px;
    position: absolute;
    margin-left: 54px;
    margin-top: 4px;
    cursor: pointer;
}

.fileinput-exists-custom {
    width: 80px;
    float: left !important;
    text-align: center;
    border: 1px solid #e1e1e1;
    padding: 5px 0px;
    margin-right: 15px;
}

.fileinput-exists-custom img {
    width: 60px;
    margin-bottom: 5px;
}

.fileinput-exists-custom span {
    width: 70px;
    word-wrap: break-word;
    font-size: 13px;
    color: #777;
}

.basic-info .item-skill {
    height: auto !important;
}

.basic-info .skill-div img {
    padding: 2px !important;
    margin-right: 6px;
}

/*button*/
.btn-oficial-project:hover,
.btn-oficial-project {
    background: #fff;
    color: #4E9E25;
    border: 2px solid #4E9E25 !important;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px 20px !important;
    margin-right: 15px;
}

.btn-common-project:hover,
.btn-common-project {
    font-size: 14px;
    background: #4E9E25;
    text-transform: none;
    color: #fff;
    border: 2px solid #4E9E25 !important;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px 20px !important;
}

.btn-make-Offer:hover,
.btn-color-custom:hover,
.btn-color-custom,
.btn-make-Offer {
    background: #58AF2A;
    text-transform: none;
    color: #fff;
    border: 1px solid #58AF2A !important;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 10px;
    line-height: 22px !important;
    padding: 8px 10px;
}

.btn-join-discuss:hover,
.btn-color-non-custom:hover,
.btn-color-non-custom,
.btn-join-discuss {
    background: #fff;
    color: #4E9E25;
    border: 1px solid #4E9E25 !important;
    font-weight: bold;
    border-radius: 5px;
    line-height: 22px !important;
    min-width: 100px;
    text-transform: unset;
    font-size: 13px;
    padding: 8px 10px;
    margin-right: 10px;
}

.alert,
.btn,
.btn-group>.btn,
.btn.btn-link:hover,
.icon-btn,
.label,
.list-group1,
.md-shadow-z-1,
.note,
.panel,
.social-icons li>a,
.social-icons.social-icons-color>li>a,
.well {
    box-shadow: 0px 0px !important;
}

.search-title-container {
    width: 255px;
}

.find-experts-search-title {
    color: #808080;
    font-size: 18px;
    font-family: 'Raleway', Sans-Serif;
    font-weight: bold;
}

html:lang(cn) .find-experts-search-title {
    color: #808080;
    font-size: 18px;
    font-family: "Noto Sans CJK JP Regular";
    font-weight: bold;
}

.found-count-top {
    font-weight: 600;
    margin-top: 15px;
}

.found-count-top .number {
    color: #4E9E25;
}

.found-count-top .text {
    color: #808080;
}

.find-experts-pagination {
    margin-right: -48px;
}

.find-experts-pagination .count {
    margin-left: 10px;
    margin-right: 10px;
    color: #808080;
    font-size: 14px;
    background: none;
}

.count.badge {
    background-color: #57b029;
    color: #fff;
    width: 20px;
    height: 20px;
}

.page-sidebar .page-sidebar-menu {
    margin: 0px;
    /*border: 1px solid #e5e5e5 !important;*/
}

.page-sidebar-menu>li.active>a,
.page-sidebar .page-sidebar-menu>li.active>a {
    border-left: 0px solid #fff !important;
    margin-left: 0px !important;
    background: #58AF2A !important;
    color: #fff !important;
}

.page-sidebar .page-sidebar-menu>li.active>a i {
    color: #fff !important;
}

.e-form .hasContent-error {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 0 5px rgba(240, 95, 92, 0.7) !important;
    border-color: #f05f5c !important;
}

.input-group.stylish-input-group input.form-control:focus~.input-group-addon,
.input-group.stylish-input-group:hover>.input-group-addon {
    border-color: #64B12B !important;
}

textarea.form-control:focus,
textarea.form-control:hover,
input.form-control:focus,
input.form-control:hover {
    border-color: #64B12B !important;
}

.ms-ctn-focus,
#magicsuggest:hover,
#languageInput:hover {
    border-color: #64B12B !important;

}

.back-url-mobile:hover {
    color: #57b029;
}

.back-url-mobile {
    color: #57b029;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    background: #fff;
    box-shadow: 0 0 2px 0 #e9e9e9;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10001;
    display: none;
}

.back-url-mobile span {
    font-weight: bold;
    margin-right: 10px;
    font: normal normal normal 15px/1 FontAwesome !important;
}

@media (max-width: 560px) {
    .back-url-mobile {
        display: block;
    }

    .page-header.navbar.navbar-fixed-top {
        top: 32px;
    }

    .page-header-fixed .page-container {
        padding-top: 52px;
    }

    .page-header.navbar {
        padding-bottom: 2px !important;
        border-bottom: 1px solid #e9ecf3 !important;
    }

    .page-header-row {
        margin: 0px !important;
    }

    .page-header.navbar .page-logo .logo-default {
        padding-left: 0px !important;
    }

    .page-header.navbar .page-logo {
        padding: 0px !important;
    }

    .page-header.navbar .page-logo img {
        margin-left: 0px !important;
    }
}

.note-editor {
    border-color: #e5e5e5 !important;
}

.note-editor:focus,
.note-editor:active,
.note-editor:hover {
    border-color: #57B029 !important;
}

.ajaxloader {
    /*position: fixed;*/
    /*z-index: 999;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: Black;*/
    /*filter: alpha(opacity=60);*/
    /*opacity: 0.6;*/
    /*-moz-opacity: 0.8;*/
}

.ajaxloader .center {
    /*z-index: 1000;*/
    /*margin: 300px auto;*/
    /*padding: 10px;*/
    /*width: 130px;                */
    /*filter: alpha(opacity=100);*/
    /*opacity: 1;*/
    /*-moz-opacity: 1;*/
}

.ajaxloader .center img {
    height: 128px;
    width: 128px;
}

.glyphicon.glyphicon-bell.notificationBell {
    width: auto !important;
    font-size: 16px !important;
    padding: 7px 7px;
}

.badge.badge-info.notificationBellBubble {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    padding: 4px 6px 4px 2px !important;
    right: 0px;
}
