html:lang(en) body, html:lang(en) h1, html:lang(en) h2, html:lang(en) h3, html:lang(en) h4, html:lang(en) h5, html:lang(en) h6, html:lang(en) p, small, span html:lang(en) .sub-heading, html:lang(en) .btn html:lang(en) .label{
    font-family: 'Montserrat', sans-serif !important;
}
.submenu > a::after{
	display: none;
}
.footer-main .container,
.section .container{
	width: 70%;
	margin-left: 16%;
}

.setCompanyAddress{
	margin-left:10px;
}

.setalignment{
margin-left:-21px;
}

.mrg-top-10{
	margin-top: 10px !important;
}
.mrg-top-50{
	margin-top: 50px !important;
}
.section{
	padding-top: 65px;
	border-bottom:0px;
	padding-bottom: 0px;
}
.testimonial .heading{
	font-size: 20px;
	font-weight: normal;
}
.heading{
	font-size: 18px;
	color: #2E404E;
	font-weight: bold;
	margin-top: 0px;
}
.heading-line{
	border: 1px solid #5CC230;
	width: 50px;
	margin: auto;
}
.main-nav{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}
.main-nav.menu-dark{
	background-color: #fff !important;
}
.brand-logo img{
	max-width: 45px !important;
	padding-top: 30px !important;
}
.navbar-collapse.collapse{
	/*padding-right: 0px;*/
}
.main-nav .inner-nav > ul{
	padding: 28px 0px;
}
.main-nav.menu-sticky .inner-nav > ul{
	padding: 28px 0px !important;
}
.menu-sticky .inner-nav > ul > li > a{
	line-height: 33px !important;
}
.main-nav .inner-nav > ul > li > a{
	line-height: 33px;
	border-radius: 27px;
	/*color: #828282 !important;*/
}
.main-nav .inner-nav > ul > li > a > i{
	color: #828282 !important;
	display: contents;
}
.main-nav .inner-nav.right-nav > ul > li > a > i{
	font-weight: bold;
	position: relative;
	top: 3px;
	left: 3px;
}
.dropdown.active{
	border-bottom: 0px;
}

.main-nav .inner-nav.right-nav ul ul,
.navbar-nav > li > .dropdown-menu{
	margin-top: 30px;
	background-color: #fff;
	color: #828282;
}
.right-nav ul li{
	float: unset;
}
.right-nav img{
	border-radius: 50%;
	height: 25px;
	width: 25px;
}

.settiAngle{
	font-weight: bold;
	position: relative;
	top: 3px;
	left: 0px !important;
	font-size: 13px;
}

.right-nav .classic-dropdown .dropdown-menu{
	min-width: auto;
	/*left: -100px;*/
}
.right-nav .classic-dropdown .dropdown-menu img{
	border-radius: 50%;
	height: 16px;
	width: 16px;
	margin-right: 5px;
}
#slider{
	padding: 220px 0px  150px 0px;
	background-image:url(../compresses/homePage/N-SEARCH_BACK.png);
	background-size: calc(100% + 5px) 100%;
	text-align: center;
}
#slider .video-play-btn{
	position: absolute;
	top: 120px;
	left: 47px;
}
#slider .video-play-btn .btn{
	font-family: 'Raleway', sans-serif !important;
	text-transform: capitalize;
	letter-spacing: 0px;
	box-shadow: 0px 0px 10px 3px #fff;
	border-radius: 50px;
	padding: 9px 12px;
	padding-left: 45px;
	font-weight: bold;
	font-size: 14px;
}
#slider .video-play-btn .btn i{
	background: #3AC431;
	color: #fff;
	position: absolute;
	top: 0px;
	left: 1px;
	height: 39px;
	border-radius: 50%;
	width: 39px;
	text-align: center;
	padding-top: 13px;
}
.slider-logo h2{
	margin: -10px 0px 3px 0px !important;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #394755;
}



html:lang(cn) .slider-logo h2{
	margin: 10px 0px 3px 0px;
	font-size: 19px;
	font-family: 'Noto Sans SC', sans-serif !important;
	line-height: 30px;
	letter-spacing: 1px;
	color: #394755;
}

@media (max-width:480px){

	.slider-logo h2{
		margin: -10px 0px 3px 0px !important;
		font-size: 18px;
		font-family: "Noto Sans CJK JP Regular";
		line-height: 30px;
		letter-spacing: 1px;
		color: #394755;
	}
}

.slider-logo h3{
	margin: 0px;
	font-size: 8px;
	letter-spacing: 0px;
	line-height: 0px;
	color: #5CC230;
}
.search-main{
	margin: 60px auto;
	float: unset;
	padding:0px;
}
.search-type-btn-default:hover,
.search-type-btn-default{
	background-color: #2B3E4D;
	color: #FFF;
	border:0px;
	font-weight: 500;
	font-size: 13px;
	width: 160px;
	padding: 5px 0px;
	border-radius: 50px;
	text-transform: capitalize;
}
.search-type-btn-color{
	background-color: #5CC230;
	color: #FFF !important;
}



.search-type-btn-default.find-freelancer-btn{
	margin: 0px 0px; /* correctionss */
}
.search-type-btn-color:hover{
	background-color: #5FC233;
}
.form-control{
	background-color: #FFF;
}

#testimonial{
	background-image:url(../images/N-about-bg.png);
	background-size: 100% 100%;
	top: -55px;
	position: relative;
	padding-bottom: 0px;
}
.testimonial-1 .item{
	max-width:100% !important;
	overflow: hidden;
}
.people-shortstory-img{
	padding: 20px;
}
.people-shortstory-img img{
	width: 150px;
	height: 150px;
	box-shadow: 0px 2px 10px 0px #828282;
	border-radius: 50%;
}
.people-shortstory{
	padding-top: 40px;
}
.people-shortstory h3{
	margin: 0px;
	color: #33424F;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: bold;
}

.setMPPH3Chinese{
	margin-bottom:2px !important;
}

.people-shortstory h3 span{
	font-size: 14px;
	color: #6E7D8D;
}
.people-shortstory h5{
	margin: 0px;
	font-weight: normal;
	color: #5CC22F;
	letter-spacing: 0px;
	line-height: 10px;
}
.people-shortstory p{
	letter-spacing: 0px;
	line-height: normal;
	margin-top: 15px;
	color: #828282;
}
.owl-pagi-1 .owl-pagination .owl-page span{
	height: 15px;
	width: 15px;
	box-shadow: none;
	background-color: #FFF;
	border:2px solid #33424F;
}
.owl-pagi-1 .owl-pagination .owl-page.active span, .owl-pagi-1 .owl-pagination .owl-page:hover span{
	height: 15px;
	width: 15px;
	box-shadow: none;
	background-color: #33424F;
	border:2px solid #33424F;
}
.owl-controls.clickable{
	padding: 15px 0px 5px 0px;
}

#team{
	background-color: #F6F6F6;
}
#team .team-main{
	padding: 60px 0px;
}
#team .team-block{
	position: relative;
	width: 150px;
	height: 150px;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0px 3px 8px 0px #828282;
}
#team .team-block img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
#team .overlay-team{
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	border-radius: 50%;
	text-align: center;
	color: #FFF;
	font-size: 20px;
	padding-top: 60px;
}
#team .team-block:hover > .overlay-team{
	display: block;
}
#team .team-sub h3{
	margin-bottom: 0px;
	line-height: 10px;
	color: #79797B;
	font-weight: bold;
	letter-spacing: 0px;
}
#team .team-sub small{
	color: #53C628;
}

#about{
	background-color: #FFF;
}
#about .container{
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 30px;
}
#about .about-text p{
	margin: 30px 0px;
	line-height: normal;
}
#about .about-sub h3{
	margin: 0px;
	font-weight: bold;
	font-size: 18px;
	color: #2E404E;
	text-transform: capitalize;
	letter-spacing: 0px;
	line-height: 10px;
}
#about .about-sub small{
	text-transform: uppercase;
	color: #53C628;
}
#about .about-sub a{
	color: #79797B;
	margin-right: 15px;
}
#about .about-sub a:last-child{
	margin-right: 0px;
}

#services{
	background-color: #FFF;
	padding-bottom: 60px;
}
.home-services-main{
	margin-top: 60px;
}
.home-services-main-l-icon{
	box-shadow: 0px 0px 30px 0px #d1d1d1;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	text-align: center;
	padding-top: 23px;
}
.home-services-main-l-icon.order{
	position: relative;
	background-color: #5FC233;
	font-weight: bold;
	line-height: 18px;
}
.home-services-main-l-icon.order a{
	color: #FFF;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.home-services-main-r a{
	font-weight: bold;
	font-size: 14px;
	color: #2E404E;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.home-services-main-r p{
	line-height: normal;
	margin-top: 10px;
}

.footer-main{
	background-color:#2D404F;
	padding: 15px 0px 0px 0px;
}
.footer-main .link h3{
	color: #FFF;
	letter-spacing: 0px;
	font-weight: bold;
	text-transform: none;
}
.footer-main .link a{
	color: #FFF;
}
.footer-main .link a i,
.footer-main .link a:hover{
	color: #5FC233;
}
.footer-main .link li:before {
  	content: "\f105";
  	font-family: FontAwesome;
  	display: inline-block;
  	margin-left: -15px;
  	width: 15px;
	color: #5FC233;
}
.footer-main .link .mob-app img{
	width: 45%;
	float: left;
	object-fit: contain !important;
	margin-right: 5%;
}
footer .social-icon > a i{
	font-size: 18px;
	color: #FFF !important;
}
footer .social-icon > a i:hover{
	color: #5FC233 !important;
}

.footer-main .footer-sub-first{
	margin-top: 20px;
	color: #FFF;
	font-size: 12px;
}
.footer-sub-first .footer-list-custom h6{
	color: #fff;
	letter-spacing: 0px;
	font-size: 10px;
	font-weight: bold;
	margin: 0px;
}
.footer-main .footer-sub-first{
	border-top: 1px solid #344756;
	padding: 15px 0px;
}
.footer-main .footer-sub-first p{
	color: #FFF;
}
.footer-main .footer-sub-first h3{
	color: #FFF;
	letter-spacing: 0px;
	font-weight: bold;
	margin: 0px;
	text-transform: capitalize;
}


/*Search box*/
.ms-ctn
{
    background-color: #fff;
    border-radius: 37px;
    border:1px solid #fff;
    box-shadow: 0px 0px 15px 0px #B6B3B1;
}

.ms-ctn-focus {
    box-shadow: none;
}
.ms-ctn .ms-sel-ctn{
	margin-left: 0px;
}
.ms-ctn .ms-sel-item {
    background: #57b029;
    color: #fff;
    border: 1px solid #84c165;
    padding: 5px 10px;
    border-radius: 50px;
}

.ms-sel-ctn .ms-sel-item .ms-close-btn{
    background-image: url('../images/ms-close.png');
}

.ms-ctn input{
    padding: 5px 10px;
}
.ms-res-ctn.dropdown-menu{
	border:0px;
	margin-top: 15px;
	border-radius: 2px !important;
}
/*.ms-res-ctn.dropdown-menu:before{
	content: "";
	position: absolute;
	top: 0px;
	border:15px solid red;
	border-color: transparent transparent #FFF transparent;
}*/

.ms-res-ctn .ms-res-item{
    padding: 5px 20px;
    position: relative;
    z-index: 10 !important;
}
.ms-res-ctn .add-more{
    border: 1px solid #fff;
    border-radius: 3px;
    line-height: 28px;
    padding: 0 10px;
    position: absolute;
    top: 3px;
    right: 15px;
    z-index: 1001 !important;
}

.ms-helper{
    top: -25px;
    top: 120px;
    font-size: 16px;
    width: 100%;
}

.ms-helper a{
    color: #5ec329;
    font-weight: bold;
}
.search-type-cn{
    font-size:12px;
}
.search-type-en{
    font-size:12px;
}
.fa-search{
    position: absolute;
    right: 15px;
    top: 0px;
    padding-top: 18px;
    height: 48px;
    width: 50px;
    color: #5ec329;
    font-size: 18px;
}
.search-desc{
    font-size: 12px;
}
.search-plus{
    position: absolute;
    right:14px;
    top:10px;
    font-weight: lighter;
    font-size: 16px;
    color: #5ec329;
}
.search-type-div{
    margin-top: 20px;
}

.btn-search{
    cursor: pointer;
}
.ms-sel-ctn input{
    color: #64B12B;
}
.ms-ctn{
    padding: 8px 12px;
}

.ms-res-ctn .ms-res-item-active{
	background-color: #fff;
}
.ms-res-ctn .ms-res-item-active b{
    color: #5ec329;
}

em{
    background-color: #fcc33a !important;
}

.search-desc em{
    background-color: #57b029 !important;
}

@media (min-width: 320px) and (max-width: 560px){

	.search-type-btn-default:hover,
	.search-type-btn-default{
		width: 110px;
	}	
	.search-type-btn-default.find-freelancer-btn{
		margin: 0px 3px;
	}
	/*.main-nav .inner-nav > ul {*/
		/*padding: 17px 0px;*/
	/*}*/
	/*.navbar-toggle{*/
		/*height: 60px;*/
	/*}*/
	.people-shortstory{
		text-align: center;
	}
	.home-services-main-l-icon{
		margin: auto;
	}
	.home-services-main-l{
		margin-bottom: 15px;
	}
	.home-services-main-r{
		text-align: center;
	}
	.footer-sub-first .row.mrg-top-10,
	.footer-sub-first .row.mrg-top-10 .mrg-top-10{
		text-align: center !important;
	}

	.page-header.navbar .menu-toggler{
		position: absolute;
	}
	.page-header-row div:nth-child(2){
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}



@media (max-width:991px){

	.setDDLNGUL {
		left: -60px;
		top: 38px;
		border-radius: 2px !important;
	}
	.brand-logo img{
		max-width: 45px !important;
		padding-top: 19px !important;
	}

	nav.menu-dark .inner-nav > ul > li.active > a {
		color: #fff !important;
		background-color: #5CC230;
	}

	.navbar-toggle {
		left:65px !important;
		bottom:60px !important;
	}

	.setLNGDD {
		margin-top: 0px;
		margin-right:0px;
	}

}

@media (max-width:961px){

	nav.menu-dark .inner-nav > ul > li.active > a {
		color: #fff !important;
		background-color: #5CC230;
	}
	.navbar-nav>li>a {
		padding-top: 25px;
		padding-bottom: 10px;
	}
	.custom-collapse {
		width: 100% !important;
		max-height: 560px;
		overflow-x: hidden;
	}
}

@media (max-width:960px){

	nav.menu-dark .inner-nav > ul > li.active > a {
		color: #fff !important;
		background-color: #5CC230;
	}

	#ti-angel{
		margin-right:60px;
	}

}

@media (max-width:560px){

	nav.menu-dark .inner-nav > ul > li.active > a {
		color: #fff !important;
		background-color: #5CC230;
		/*width:90%;*/
	}

	.right-nav img {
		border-radius: 50%;
		height: 20px;
		width: 20px;
		top:0px;
	}
	#ti-angel{
		margin-right:60px;
		margin-bottom:-10px;
	}


}

@media (max-width:991px) and (min-width:541px)
{
	.setNFIA{
		margin-bottom: 42px;
	}
}

@media (max-width:540px) {
	.brand-logo img {
		width:40px;
		padding-top:24px !important;
	}
}

	/*nav.menu-dark .inner-nav > ul > li.active > a {*/
		/*color: #fff !important;*/
		/*background-color: #5CC230;*/
	/*}*/

	/*.navbar-header {*/
		/*margin-bottom: -72px !important;*/
	/*}*/

	/*.setNFIA {*/
		/*margin-bottom: -5px !important;*/
	/*}*/

	/*.navbar-toggle {*/
		/*left: -20px !important;*/
		/*bottom: 30px !important;*/
	/*}*/

	/*.right-nav img {*/
		/*border-radius: 50%;*/
		/*height: 25px;*/
		/*width: 25px;*/
		/*!*margin-top:-62px;*!*/
	/*}*/
	/*.main-nav .inner-nav.right-nav ul ul, .navbar-nav > li > .dropdown-menu {*/
		 /*margin-top: -10px;*/
		/*background-color: #fff;*/
		/*color: #828282;*/
	/*}*/

	/*.setLNGDD{*/
		/*position:absolute;*/
		/*margin-left:-90px;*/
		/*margin-top:0px !important;*/
	/*}*/

	/*.brand-logo img {*/
		/*width:40px;*/
	/*}*/

	/*.right-nav .classic-dropdown .dropdown-menu img {*/
		/*margin-top:-5px;*/
	/*}*/
	/*#ti-angel{*/
		/*margin-right:0px;*/
		/*top:-10px;*/
	/*}*/

/*}*/
@media (max-width:991px) and (min-width:320px){
	.set-ti-menu-home-header{
		font-size: 17px;
		font-weight: 500;
	}

	.setLNGDD {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: -25px;
	}
	.navbar-toggle {
		left: -1px !important;
		bottom: 33px !important;
	}
	.right-nav img {
		border-radius: 50%;
		height: 20px;
		width: 20px;
		top: 0px;
	}
	.main-nav .inner-nav.right-nav > ul > li > a > i {
		font-weight: bold;
		position: relative;
		top: 3px;
		font-size: 10px;
	}

	.brand-logo img {
		max-width: 43px !important;
		padding-top: 23px !important;
	}
}

>>>>>>> new responsive design mobile view
