body{
    font-family: 'Raleway', sans-serif !important;
}
.setROW{
	margin-right:0px !important;
	margin-left:0px !important;
}
.page-container-main{
	margin-top: 80px;
}

.set-btn-btn-submit{
	background-color: #57b029 !important;
	color:#fff !important;
	padding:10px;
}
.form-control{
	border-radius: 5px !important;
}

.set-btn-btn-submit:hover{
	background-color: #57b029 !important;
	color:#fff !important;
	padding:10px;
}

.set-modal-title-hiring-page{
	font-size:20px;
}

.set-modal-footer-hiring-page{
	padding-bottom:0px;
}

.set-close-image > img {
	width: 15px;
	position: absolute;
	right: 14px;
}

.page-header{
	background: #fff;
	margin:0px;
	padding-bottom:0px;
}
.page-header.navbar{
	height: auto;
}
.page-header.navbar .page-logo > .logo-image, .page-header.navbar .page-logo > a{
	padding: 15px 0px;
}
.page-header.navbar .page-logo{
	width: 350px;
	display: block;
    float: left;
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
}
.page-header.navbar .page-logo a{
	width: 100%;
	padding: 15px 0px;
	float: left;
}
.page-header.navbar .page-logo img{
	float: left;
	padding-left: 10px;
}
.page-header.navbar .page-logo h2{
	border-right: 1px solid #c1c1c1;
    color: #494949;
    font-weight: 600;
    margin-top: 8px;
    line-height: 1.1;
    padding-right: 10px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.page-header.navbar .help-center-menu{
	text-transform: none;
	letter-spacing: 0;
	line-height: 1.1;
	margin-top: 25px;
}
.page-header.navbar .help-center-menu a{
	font-weight: 400;
	font-size: 26px;
	line-height: 22px;
    font-family: 'Raleway', sans-serif;
	color: #494949;
}
.right-menu ul{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.right-menu ul li{
	list-style: none;
	float: left;
	padding: 24px 0px;
}
.right-menu ul li a{
	color: #494949;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 15px;
	padding: 24px 15px;
	font-weight: 600;
}
.menu{
	width: 100%;
	margin: 0px;
	background: #58AF2A;
}
.nav ul{
	margin: 0px;	
	list-style: none;
	overflow: hidden;
	margin-left: 35px;
}
.nav ul li{
	float: left;
	margin-left: 15px;
	padding: 10px 0px;
}
.nav ul li a{
	color: #fff;
	padding: 9px 10px;
	font-size: 16px;
	font-weight: 500;
}
.nav ul li a:hover,
.nav ul li a.active{
	border-bottom: 4px solid #fff;
}

.banner{
	background: url('/images/Company-Info/hiringbanner.png') !important;
	background-size: 100% 100% !important;
	padding: 0px 15px;
}
.banner .banner-inner{
	height: 700px;
	position: relative;
}
.banner-inner-text{
	position: absolute;
	top: 44%;
	transform: translateY(-50%);
    font-family: 'Raleway', sans-serif;
    width: 100%;
    text-align: center;
    left: 0px;
}
.banner-inner-text .btn{
	margin-top: 15px;
}
.banner-inner-text h1{
	letter-spacing: 0px;
	font-weight: bold !important;
	text-transform: none;
	font-size: 56px;
	margin:0px;
	color: #fff;
}
.banner-inner-text p{
	color: #fff;
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 80px;
}

.banner-btn-readmore{
	text-transform: none;
	color: #fff;
	border-color: #61AF2C;
	padding: 10px 70px;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 400;
	background-color: #61AF2C;
}
.banner-btn-readmore:hover{
	color: #61AF2C;
	background-color: #fff;
}

.btn-readmore{
	text-transform: none;
	color: #61AF2C;
	border-color: #61AF2C;
	padding: 10px 70px;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 400;
}
.btn-readmore:hover{
	color: #fff;
	background-color: #61AF2C;
}
.section{
	padding-bottom: 50px;
    padding-top: 50px;
}
.section h1.title,
.section h2.sub-title{
	text-transform: none;
	letter-spacing: 1px;
	font-size: 28px;
	text-align: center;
	font-weight: 500;
	color: #000;
}
.section h2.sub-title{
	text-align: left;
	font-size: 22px;
	margin: 0px;
	color: #58AF2A;
	font-weight: bold;
}
.section h1.title span{
	color: #61AF2C;
}
.section .text-content{
	color: #000;
	padding: 40px 0px 40px 0px;
	font-size: 16px;
	font-weight: 400;
}
.section .text-content span{
	color: #58AF2A;
}
.sub-section{
	padding: 60px 0px 90px 0px;
}
.sub-section img{
	margin-top: 15px;
}

.custom-selectbox {
    border: 2px solid #CBCBCB;
    border-radius: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    position: relative;
    color: #58AF2A;
    padding: 3px;
}
.custom-selectbox:after {
    content: "\f107";
	position: absolute;
	right: 25px;
	top: 11px;
	font-size: 24px;
	color: #58AF2A;
    font-family: FontAwesome;
}

.custom-selectbox select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: medium none;
    box-shadow: none;
    width: 100%;
    color: #58AF2A;
    font-weight: bold;
    font-size: 18px;
}
.sub-section .list{
	margin-top: 50px;
}
/*.sub-section .list .sub-title{*/
	/*color: #000;*/
/*}*/
.sub-section .list .sub-title {
	color: #000;
	margin-top: -36px;
	text-align-last: inherit;
	/* margin: -22px; */
}
.sub-section .list ul{
	padding:15px 5px;
}
.sub-section .list ul li{
	padding:0px;
	list-style: none;
	font-size: 16px;
	font-weight: 400;
}
.sub-section .list ul li:before {
    content: "• ";
    font-size: 46px;
    top: 10px;
    position: relative;
    color: #58AF2A;
}



@media (max-width: 420px) {


	.banner .banner-inner{
		height: 300px;
	}
	.banner .banner-inner h1{
		font-size: 26px;
	}
	.banner .banner-inner p{
		font-size: 20px;
	}
	.banner-inner-text .btn{
		margin-top: 0px;
	}
	.nav ul{
		margin: 0px;
	}
	.nav ul li{
		margin-left: 0px;
		width: 100%;
        padding: 0px;
    }

    .nav ul li a {
        display: block;
        border-bottom: 4px solid #58AF2A;
        padding: 9px 0px;
	}

	.sub-section {
		padding: 0px 0px 90px 14px;
	}
	.footer-main .section-top {
		border-bottom: 2px solid #434142;
		margin-top: 15px;
		padding: 0px 29px;
	}
	.footer-main .social-section .social-icon {
		overflow: hidden;
		padding: 8px;
	}
	.footer-main .barcode-section img {
		width: 105px;
		height: 105px;
		margin-left: 57px;
	}
	.footer-main .section-middal .left {
		padding: 30px 28px;
	}
	.footer-main .section-middal .right {
		padding: 30px 27px;
		border-left: 2px solid #434142;
	}
	.section-last {
		padding: 15px 17px;
	}
	.section img {
		width: 80%;
	}
	.section {
		padding-bottom: 0px;
		padding-top: 50px;
	}
	.sub-section .list .sub-title {
		color: #000;
		margin-top: -36px;
	}
	.section h2.sub-title {
		text-align: center;
	}
	.section .text-content {
		padding: 18px 0px 40px 0px;
	}
	.sub-section .list {
		margin-top: 24px;
	}
}

@media (max-width: 1199px) and (min-width: 421px) {

	footer img {
		width: 38px;
	}
	.section {
		padding-bottom: 0px;
		padding-top: 50px;
	}
	.banner .banner-inner{
		height: 400px;
	}
}

@media (max-width:375px){
	.sub-section .list .btn {
		margin-left: 67px;
	}
	.sub-section .list .sub-title {
		color: #000;
		margin-left: 33px;
	}
}

@media (max-width:320px){
	.sub-section .list .btn {
		margin-left: 54px;
	}
	.sub-section .list .sub-title {
		color: #000;
		margin-left: 33px;
		font-size:20px;
	}
}
