.tabs-headers{
    background-color:#25ce0f;
    padding: 10px;
}
.page-title{
    display: none;
}
.tabs-headers p{
    color: #fff;
    font-size: 24px;
    margin: 6px;
    font-weight: 600;
    font-family: Montserrat;
}

.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
    padding-top: 0px;
}

.page-content-white .page-content .page-bar{
    border:0px;
    margin-bottom: 12px;
    padding-top: 8px;
}
.conatiner-tabs ul li a{
    font-weight: 500;
}
.portlet.light .portlet-body {
    padding-top: 0px;
}
.slash{
    font-size: 18px !important;
}
.slash-gray{
    font-size: 18px !important;
    color: #979797 !important;
}

.color-green{
    color: #25ce0f !important;
}

.color-green a{
    color: #25ce0f !important;
}

.font-set a{
    font-size: 18px !important;
    font-weight: 600;
    font-family: Montserrat, Helvetica, sans-serif;
}

.color-gray{
    color: #979797 !important;
}

.color-gray a{
    color: #979797 !important;
}

.page-breadcrumb{
    background-color: #f7f7f6;
    width: 100%;
    font-family: Montserrat, Helvetica, sans-serif;
    padding: 13px !important;
}

.box-one{
    background-color: #fff;
    padding: 13px;
    border-radius: 4px;
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #25ce0f;
    box-shadow: 0px 2px 9px 1px #ebecec;
}

.box-one .fa-pencil{
    padding-right: 10px;
}
.box-two{
    background-color: #fff;
    padding: 13px;
    border-radius: 4px;
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #25ce0f;
    box-shadow: 0px 2px 9px 1px #ebecec;
}
.box-three{
    background-color: #25ce0f;
    padding: 13px;
    border-radius: 4px;
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    width:120px;
    box-shadow: 0px 2px 9px 1px #ebecec;
}

.box-three i{
    color:#fff;
}

.r-0 .custom-padding{
    padding-right: 0px;
}

.box-two img{
    padding-right: 10px;
}

.box-two span{
    position: relative;
    top:2px;
}
.r-0 .custom-width{
    width:12%;
}

.box-three span{
    font-weight: 600;
}

.custom-breadcrumb span{
    color:#979797;
    font-weight: bold;
}
.custom-breadcrumb p {
    margin:0px;
}
.custom-breadcrumb p a{
    text-decoration: none;
    color:#979797;
}
.custom-breadcrumb{
    padding:15px;
    background-color: #f5f6f7;
}

.r-1 .date-time-box{
    border: 1px solid #e5e5e5;
    text-align: center;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.date-time-box .right-sec{
    width: 45%;
    display: inline-block;
    font-family: Montserrat, Helvetica, sans-serif;
    text-align: left;
}

.date-time-box .right-sec h3 {
    color: #25ce0f;
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.date-time-box .right-sec input{
    border:0px;
    color: #585858;
    font-weight: 500;
    max-width: 83px;
    min-width: 83px;
}

.date-time-box .right-sec .fa-calendar{
    color:#25ce0f;
    font-size:19px;
}

.date-time-box .left-sec{
    width: 45%;
    display: inline-block;
    float: right;
    padding-left: 8px;
    text-align: left;
}


.date-time-box .left-sec h3 {
    color: #25ce0f;
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.date-time-box span{
    border: 1px solid lightgray;
    position: relative;
    bottom: 5px;
}

.date-time-box .left-sec .fa-calendar{
    color:#25ce0f;
    font-size: 19px;
}

.date-time-box .left-sec input{
    border:0px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    max-width: 83px;
    min-width: 83px;
    color: #585858;
    font-weight: 500;
}

.custom-width-section-two{
    width:30%;
}

.custom-search-box input{
    min-height:52px;
    max-height:52px;
    padding-left:16px;
    border: 1px solid #e5e5e5;
}
.custom-search-box .fa-search{
    float: right;
    padding: 18px;
    position: relative;
    bottom: 51px;
    background-color:#25ce0f;
    color: #fff;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}

.custom-width-col-firs .filter-box{
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #25ce0f;
    padding: 8px;
    font-weight: 600;
}

.filter-box .fa-filter{
    font-size: 22px;
}

.statements-box .fa-bars{
    font-size: 22px;
}

.custom-width-col-firs{
    display: inline-block;
    width:11%;
}

.custom-width-col-sec{
    float: right;
    text-align: center;
    width:14%;
    padding-right: 0px;
}

.custom-width-col-sec .statements-box{
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #25ce0f;
    padding: 8px;
    font-weight: 600;
    padding-left: 0px;
}

.set-custom-padd-col-5{
    padding-right: 0px;
    padding-left: 6px;
    width: 45%;
    min-height: 52px;
    max-height: 52px;
}

@media (max-width:991px)
{
    .custom-width-section-two {
        width: 100%;
    }
    .r-0 .custom-width {
        width: 100%;
    }
    .box-fourth-modal-withdraw {
        position: relative;
         left: 0px;
        background-color: #25ce0f;
        padding: 13px;
        border-radius: 4px;
        text-align: center;
        font-weight: 600;
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: 16px;
        color: #fff;
        width: 100%;
        box-shadow: 0px 2px 9px 1px #ebecec;
        cursor: pointer;
    }
    .r-0 .custom-padding {
        padding-right: 15px;
    }
    .set-custom-padd-col-5 {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        min-height: 52px;
        max-height: 52px;
        margin-top: 17px;
    }
    .custom-width-col-sec {
        float: right;
        text-align: center;
        width: 43%;
        padding-right: 0px;
    }
    .date-time-box .left-sec {
        width: 50%;
        display: inline-block;
        float: right;
        padding-left: 8px;
        text-align: left;
    }
    .box-three {
        background-color: #25ce0f;
        padding: 13px;
        border-radius: 4px;
        text-align: center;
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: 16px;
        color: #fff;
        width: 100%;
        box-shadow: 0px 2px 9px 1px #ebecec;
    }
}

.tabled h1{
    color: #585858;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.set-table-striped tbody tr td{
    padding:20px;
    border-top: 0px;
    font-weight: 600;
    font-family: Montserrat, Helvetica, sans-serif;
}

.custom-style{
    color:#585858 !important;
    width:100%;
    font-weight: 600;
}

.custom-style span{
    font-size:12px;
    color:#9f9f9f !important;
    font-weight: 200 !important;
}

.custom-color-style{
    text-align: right;
    color:#585858 !important;
}

.custom-color-style span {
    font-weight: 200 !important;
    color:#9f9f9f !important;
}

.custom-align-style{
    text-align: center;
    font-size: 12px !important;
    color:#9f9f9f !important;
    font-weight: 500 !important;
    text-transform: uppercase;
}
.custom-align-style span{
    font-weight: 600 !important;
    color:#979797 !important;
    font-size: 16px !important;
}

.total-price span
{
    color:#585858;
    font-weight:bold;
}
.total-price{
    text-align: right;
    padding: 10px;
    padding-right: 0px;
    font-size: 15px;
    font-family: Montserrat, Helvetica, sans-serif;
}
.total-bill{
    color:#25ce0f !important;
    font-size: 20px;
    font-weight: 600 !important;
}

