/* ========================================================================
 * bootstrap-switch - v3.3.2
 * http://www.bootstrap-switch.org
 * ========================================================================
 * Copyright 2012-2013 Mattia Larentis
 *
 * ========================================================================
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 */

.bootstrap-switch{display:inline-block;direction:ltr;cursor:pointer;border-radius:4px;border:1px solid;border-color:#ccc;position:relative;text-align:left;overflow:hidden;line-height:8px;z-index:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.bootstrap-switch .bootstrap-switch-container{display:inline-block;top:0;border-radius:4px;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.bootstrap-switch .bootstrap-switch-handle-on,.bootstrap-switch .bootstrap-switch-handle-off,.bootstrap-switch .bootstrap-switch-label{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:pointer;display:inline-block !important;height:100%;padding:6px 12px;font-size:14px;line-height:20px}.bootstrap-switch .bootstrap-switch-handle-on,.bootstrap-switch .bootstrap-switch-handle-off{text-align:center;z-index:1}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{color:#fff;background:#428bca}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info{color:#fff;background:#5bc0de}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success{color:#fff;background:#5cb85c}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning{background:#f0ad4e;color:#fff}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger{color:#fff;background:#d9534f}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default{color:#000;background:#eee}.bootstrap-switch .bootstrap-switch-label{text-align:center;margin-top:-1px;margin-bottom:-1px;z-index:100;color:#333;background:#fff}.bootstrap-switch .bootstrap-switch-handle-on{border-bottom-left-radius:3px;border-top-left-radius:3px}.bootstrap-switch .bootstrap-switch-handle-off{border-bottom-right-radius:3px;border-top-right-radius:3px}.bootstrap-switch input[type='radio'],.bootstrap-switch input[type='checkbox']{position:absolute !important;top:0;left:0;opacity:0;filter:alpha(opacity=0);z-index:-1}.bootstrap-switch input[type='radio'].form-control,.bootstrap-switch input[type='checkbox'].form-control{height:auto}.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label{padding:1px 5px;font-size:12px;line-height:1.5}.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label{padding:5px 10px;font-size:12px;line-height:1.5}.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label{padding:6px 16px;font-size:18px;line-height:1.33}.bootstrap-switch.bootstrap-switch-disabled,.bootstrap-switch.bootstrap-switch-readonly,.bootstrap-switch.bootstrap-switch-indeterminate{cursor:default !important}.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label{opacity:.5;filter:alpha(opacity=50);cursor:default !important}.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container{-webkit-transition:margin-left .5s;transition:margin-left .5s}.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on{border-bottom-left-radius:0;border-top-left-radius:0;border-bottom-right-radius:3px;border-top-right-radius:3px}.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off{border-bottom-right-radius:0;border-top-right-radius:0;border-bottom-left-radius:3px;border-top-left-radius:3px}.bootstrap-switch.bootstrap-switch-focused{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label{border-bottom-right-radius:3px;border-top-right-radius:3px}.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label{border-bottom-left-radius:3px;border-top-left-radius:3px}
.setBtnSect{
    text-align: right;
}

/*tooltip*/
.set-tooltip {
    position: relative;
    display: inline-block;
}

.tabbable-panel{
    box-shadow: 0px 1px 2px 0px #e9e9e9 !important;
    border: 1px solid #e9e9e9 !important;
}

.set-projects-color{
    color:#b0b0b0 !important;
}

.set-class-filters{
    color:#4c4c4c !important;
    word-spacing: 10px;
}

.setNAVNAVTABS{
    background-color: #fafafa !important;
}

.set-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #C9C8C9;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 95%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.set-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #C9C8C9 transparent transparent transparent;
}

.set-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*tooltip*/

/*1. switch*/

/*
    Search option
*/

.setColJOFFICALP{
    position: relative;
    top:-5px;
}

.setSubIcon{
    position: absolute;
    left:19px;
}

.portlet.box.grey01{
    border: 0px solid #fff;;
    background-color: #f5f5f5;
}

.portlet.box > .portlet-title{
    color: #000;
    padding-top: 10px;
    padding-left: 30px;
}

.show-option-info, .ordering-option-info {
    list-style: none;
    padding-left: 0px;
}

.show-option-info li, .ordering-option-info li{
    padding:8px 0 8px 0;
    color: #9A9A9A;
}
.show-option-info li a,
.ordering-option-info li a{
    display: block;
}
.order-filter-container ul > li > a{
    color: #999999;
}
.order-filter-container ul > li > a:hover{
    color: #4E9E25 !important;
}

.show-option-info li.active,
.ordering-option-info li.active,
.show-option-info li:hover,
.ordering-option-info li:hover{
    color: #4E9E25 !important;
}
.order-filter-container ul > li.active > a{
    color: #4E9E25 !important;
    font-weight: 600;
}

.portlet{
    margin-bottom: 0px;
}

.selection-word{
    background-color: #659be1;
    color: white;
}

.alert {
    padding: 10px 30px 10px 10px;
}

/*
    tag
*/

.bootstrap-tagsinput{
    border: 0px solid #ccc;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0,0.075);
    line-height: 42px;
}

.label{
    font-size: 12px;
    padding: 10px;
}

/*
    Order
*/
.column {
    padding-top: 20px;
    padding-left: 30px;
}

.div-title{
    padding-top: 5px;
}

.div-title.price{
    padding-top: 2px;
    font-size: 18px;
}

.job.portlet {
    margin-bottom: 20px;
    background-color: white;
}

.job.portlet.box > .portlet-title {
    background-color: #fff;
    font-weight: bold;
    padding: 30px 30px 0px 30px;
}

.job.portlet.box > .portlet-body {
    padding: 0px 15px 15px 15px;
}

.portlet.box > .portlet-footer {
    background-color: #f5f5f5;
    color: #9f9f9f;
    padding: 30px;
}

.title-profile-image{
    padding-top: 20px;
}

.profile-name{
    padding-right: 20px;
}

.font-black {
    color: #000000;
}

.date-time{
    padding-top: 5px;
}

.tailor-action{
    padding-right: 20px;
}

.font-green01{
    color: #5ca427;
}

.apply-order{
    margin-right: 10px;
}

/*body*/
.view-suggested{
    font-family: "Gotham Medium";
    cursor: pointer;
    color: #37a000;
    text-decoration: none;
}

.project-name{
    font-size: 30px !important;
    /*font-family: "Gotham Medium";*/
    cursor: pointer;
    width:100% !important;
    color: #59AF28;
    text-decoration: none;
    font-weight:bolder;
}
.project-name h4{
    font-weight: bold;
    margin: 0px;
    font-size: 26px;
}

.close{
    padding: 10px;
    margin-top: 10px;
}

/*modal*/
.input-group-addon{
    min-width: 100px;
}

/*content body*/

.div-job-main{
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 0px !important;
}
.div-job-main:hover{
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.10) !important;
}
.div-job-main hr{
    margin: 10px 0px !important;
}
.job.portlet.box > .portlet-title{
    font-weight: normal;
}


a.btn-add-fav-job .fa-heart {
    color: #808080;
    font-size: 24px;
    position: absolute;
    right:0px;
}

#btn-thumb-down{
    position: absolute;
    right: 47px;
    font-size: 26px;
    top: 28px;
    color: #808080;
}
a.active.btn-add-fav-job .fa-heart {
    color: #57b029;
    font-size: 24px;
    position: absolute;
    right:0px;
}

a[class^="btn-add-down-job-"] .fa-thumbs-down {
    color: #5CC22F;
    font-size: 24px;
    position: absolute;
    right:35px;
}

.inactive{
    color:#808080 !important;
}

.active_thumb{
    color: #5CC22F !important;
}

/*.btn-thumb-down {*/
    /*!*background-color: #57b029;*!*/
    /*!*color:#fff;*!*/
    /*!*padding:7px 0px;*!*/
    /*!*min-width:100px;*!*/
    /*!*border-radius: 5px;*!*/
    /*!*border:2px solid #57b029 !important;*!*/
/*}*/

/*.btn-thumb-down:hover{*/
    /*background-color: #fff;*/
    /*color:#57b029;*/
    /*border-radius: 5px;*/
    /*padding:7px 0px;*/
    /*min-width:100px;*/
    /*border:2px solid #57b029 !important;*/
/*}*/

.div-job-main .portlet-title .price-div{
    margin: 10px 0px 5px 0px;
}
.div-job-main .portlet-title .top-smoll{
    color: #808080;
}

.div-job-main .portlet-title:first-child .top-smoll{
    margin-right: 15px;
    font-size: 16px;
}

.div-job-main .portlet-title .top-smoll .price{
    color: #404040;
}

.div-job-main .portlet-title .top-smoll .type{
    color: #5a5a5a;
}
.div-job-main .portlet-body{
    padding: 0px 30px 30px !important;
}

.div-job-main .portlet-body .description{
    text-align: justify;
    color: #5a5a5a;
    padding: 10px 20px;
    border-left: 1px solid #000000;
    margin-left: 18px;
    margin-top: 5px;
    word-wrap: break-word;
    max-height: 200px;
    overflow-x: auto !important;
}
.div-job-main .portlet-body .skill-div-title{
    float: left;
    color: #808080;
    padding: 5px 10px 0px 0px;
}
.div-job-main .portlet-body .skill{
    margin: 20px 0px;
}
.div-job-main .portlet-body .skill-div{
    display: inline;
    float: left;
    margin-right: 5px;
}
.div-job-main .portlet-body .item-skill{
    /*background-color: #fff;*/
    /*border: 1px solid #dedede;*/
    /*color: #909090;*/
    display: inline;
    float: left;
    font-size: 14px !important;
    list-style: outside none none;
    margin: 0px 10px 10px 0;
    height: auto !important;
    padding: 4px 15px !important;
    border-radius: 25px;
}

.div-job-main .portlet-body .posted-by{
    text-align: right;
    color: #808080;
}

/*left side*/
.page-sidebar .portlet{
    box-shadow: 0px 0px;
    border: 1px solid #e9e9e9 !important;
}
.page-sidebar .portlet.box > .portlet-title:first-child{
    border-top: 0px solid #e9e9e9 !important;
}
.page-sidebar .portlet.box > .portlet-title{
    background: #FAFAFA !important;
    color: #A7A7A7 !important;
    text-transform: uppercase;
    font-weight: 600;
    border-top: 1px solid #e9e9e9 !important;
    border-bottom: 1px solid #e9e9e9 !important;
    padding: 15px 20px !important;
}
.add-filter-condition{
    display: block;
    color: #58AF2A;
}
.found-count-top{
    margin:15px 0px !important;
}
.find-experts-pagination{
    margin-right: 0px;
}
.tabbable-line > .nav-tabs{
    background: #fff;
    /*border: 1px solid #e9e9e9;*/
}
.tabbable-line > .nav-tabs > li:hover{
    border-bottom: 4px solid #7ED535;
}
.tabbable-line > .nav-tabs > li.active{
    border-bottom: 4px solid #4E9E25;
}
.tabbable-line > .nav-tabs > li > a{
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}
.tabbable-line > .nav-tabs > li > a i{
    color: #555 !important;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.tabbable-line > .nav-tabs > li.active > a i,
.tabbable-line > .nav-tabs > li.active > a{
    color: #57b029 !important;
}
.official-pro-left{
    padding: 20px 20px;
    text-align: center;
    width: 22%;
}
.official-pro-left img{
    border-radius: 5px;
}
.official-pro-left .desc-div{
    margin: 15px 0px;
}
.official-pro-left .desc-div label{
    color: #5a5a5a;
    font-weight: 600;
}
.official-pro-left .desc-div .price{
    color: #58AF2A;
    font-size: 20px;
}
.official-pro-left .desc-div span{
    color: #a7a7a7;
    font-size: 12px;
}
.official-pro-left .btn-div button{
    width: 150px;
}
.official-pro .portlet-body{
    padding: 0px 15px 30px 0px !important;
}
.official-pro .portlet-title{
    padding: 30px 15px 0px 0px;
    /*font-style: italic;*/
}
.official-pro .portlet-title .medall-icon-round{
    background: #f4b00e;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    margin-right: 5px;
}
.official-pro .portlet-title .top-info{
    margin-top: 20px;
}
.official-pro .portlet-title .top-info ul{
    padding: 0px;
}
.official-pro .portlet-title .top-info ul li:first-child{
    list-style: none;
    padding-left: 0px;
}
.official-pro .portlet-title .top-info ul li{
    float: left;
    margin-right: 30px;
    padding-left: 15px;
    color: #A6A6A6;
    padding-top: 10px;
}
.official-pro .portlet-title .top-info ul li span{
    color: #5a5a5a;
}
.official-pro .portlet-title .top-info ul li span span{
    color: #58AF2A;
}
.official-pro .portlet-body .description{
    margin: 10px 0px;
}
.official-pro .portlet-body label{
    float: left;
    font-weight: 600;
    color: #5a5a5a;
    margin-right: 15px;
}
.official-pro .portlet-body .difficulty,
.official-pro .portlet-body .possition,
.official-pro .portlet-body .skill{
    margin: 20px 0px 0px 0px;
}
.official-pro .portlet-body .possition span,
.official-pro .portlet-body .difficulty-star{
    color: #55B12A;
}
.official-pro .portlet-body .skill-div{
    margin-top: -5px;
}

.btn-make-Offer:hover,
.btn-make-Offer{
    text-transform: uppercase;
    width: 160px;
}

.main-well-custom{
    margin-top: 30px;
}
.main-well-custom .tabbable-line > .nav-tabs{
    padding-left: 0px;
    border-width: 1px 1px 0px 1px;
}
.main-well-custom .tabbable-line > .nav-tabs > li{
    padding: 0px;
    border-right: 1px solid #e9e9e9;
    border-bottom: 0px !important;
}
.main-well-custom .tabbable-line > .nav-tabs .filter{
    color: #4C4C4C;
    text-transform: uppercase;
    font-weight: 600;
    float: right !important;
    font-size:16px !important;
    padding: 8px 25px !important;
    margin-top: 5px !important;
}
.main-well-custom .tabbable-line > .nav-tabs .filter i{
    margin-left: 10px;
    font-size: 18px;
}
.tabbable-line > .nav-tabs > li > a{
    /*border-bottom: 4px solid #fff;*/
    padding: 6px 55px;
    margin-top: 8px;
    padding-top: 5px;
}
.tabbable-line > .nav-tabs > li:hover > a{
    color: #58af2a;
    border-bottom: 6px solid #58af2a;
    padding-top:5px;
}
.tabbable-line > .nav-tabs > li.active > a{
    border-bottom: 6px solid #57b029;
    padding-top:5px;
}
.page-container-bg-solid .tabbable-line > .tab-content{
    background: #fff;
    /*border: 1px solid #e9e9e9;*/
}

.main-well-custom .tabbable-line > .tab-content{
    padding: 15px 30px !important;
}

.filter-option{
    position: relative;
}
.filter-option h4{
    font-weight: 600;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #4C4C4C;
    font-size: 16px;
}
.filter-option ul{
    list-style: none;
    padding: 0px;
}
.filter-option ul li{}
.filter-option ul li a{
    display: block;
    color: #737373;
    font-size: 16px;
    padding-top: 15px;
}
.filter-option ul li.active a{
    font-weight: 600;
    color: #58AF2A;
}
.filter-option .search-selectbox{
    width: 230px;
    margin-top: 15px;
}
.filter-option .search-selectbox select{
    cursor: pointer !important;
}
.filter-option .add-filter-con{
    padding-top: 15px;
}
.filter-option .add-filter-con a{
    color: #58AF2A;
}
.filter-option .done{
    color: #58AF2A;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 0px;
}

.find-experts-search-title{
    font-weight: normal;
    font-size: 16px;
    padding: 20px;
}
.found-count-top{
    padding: 10px 30px;
}
.found-count-top .number,
.found-count-top .text{
    font-weight: normal;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
}

.div-job-main{
    border-radius: 5px !important;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.03) !important;
    margin-bottom: 25px;
}

.div-job-main:hover{
    box-shadow: 0 1px 3px 2px #c7ecc5 !important;
    border-radius: 5px !important;
}

.div-job-main .header-cantent{
    margin: 0px;
    min-height: 165px;
    position: relative;
}
.div-job-main .header-bg{
    padding: 0px;
    position: absolute;
}
.div-job-main .header-bg img{
    width: 100%;
    height: 165px;
    border-radius: 3px;
}
.div-job-mains .header-img img{
    margin-top: 15px;
    width: 132px;
    height: 132px;
}
.div-job-main .header-cantent-sub{
    padding: 30px 25px;

}
.div-job-main .header-cantent-sub img{
    float: left;
    margin-right: 15px;
}
.div-job-main .header-cantent-sub .job-title{
    float: left;
    color: #fff;
    text-transform: uppercase;
    margin: 0px;
    font-weight: bold;
    text-shadow: 0px 0px 2px #666666;
}
.div-job-main .header-cantent-sub i{
    color: #fff;
    font-size: 24px;
    float: right;
    margin-right: 15px;

}
.div-job-main .header-cantent-sub .details{
    margin-top: 25px;
    text-transform: uppercase;
    color: #A0A29F;
}
.div-job-main .header-cantent-sub .details p{
    margin: 0px;
    line-height: 24px;
}
.div-job-main .header-cantent-sub .details p strong{
    /*color: #58af2a;*/
    color:#fff;
    text-shadow: 0px 0px 2px #666666;
}

.div-job-main .body-cantent{
    margin: 0px;
    min-height: 150px;
    background: #fff;
    padding: 30px 0px;
}

.div-job-main .body-cantent .left{
    border-right: 1px solid #e2e2e2;
}
.div-job-main .body-cantent .left img{
    width: 100%;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 45px;
}
.div-job-main .body-cantent .right .desc{
    color: #666666;
    margin: 0px;
    padding:0px 15px 25px 0px;
}
.div-job-mains .body-cantent .budget{
    margin-top: 15px;
    margin-bottom: 45px;
}
.div-job-main .body-cantent .budget span{
    font-weight: 600;
    color: #7B7B7B;
    letter-spacing: 1px;
}
.div-job-main .body-cantent .budget .share-title{
    font-size:14px;
}
.div-job-main .body-cantent .budget h3{
    font-weight: 600;
    color: #59af28;
    margin:0px;
    padding: 3px 0px 5px 0px;
}
.div-job-main .body-cantent .budget .share{
    font-weight: normal;
    color: #D1D1D1;
}
.div-job-main .body-cantent .budget .alignment{
    margin-left: 10px;
}
.div-job-main .body-cantent .defficulty{
    color: #62B02A;
}
.div-job-main .body-cantent .top-smoll{
    color: #808080 !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
}
.div-job-main .body-cantent .right img{
    max-height: 20px;
    float: left;
    margin-right: 5px;
}
.div-job-mains .body-cantent .right img{
    max-height: 25px;

}
.div-job-main .body-cantent .sub-con{
    margin-top: 5px;
}
.div-job-main .body-cantent .possition .sub-con span{
    color: #58AF2A;
    /*font-size: 12px;*/
    font-size: 14px;
}
.div-job-mains .body-cantent .possition .sub-con span{
    font-size: 14px !important;
}

.div-job-main .body-cantent .skill-div{
    /*display: inline;*/
    /*float: left;*/
    /*margin-top: 10px;*/
    margin-right: 5px;
}
.div-job-main .body-cantent .item-skill{
    display: inline;
    float: left;
    font-size: 14px !important;
    list-style: outside none none;
    margin: 0px 5px 5px 0;
    height: auto !important;
    padding: 4px 15px !important;
    border-radius: 25px;
}

.item-skill.yellow {
    background-color: #f3cb34;
    border: 1px solid #f3cb34;
    color: #fff;
}

.item-skill.white {
    background-color: #fff;
    border: 1px solid #dedede;
    color: #909090;
}

.div-job-mains .left{
    border-width: 0px !important;
}
.div-job-mains .body-cantent .top-smoll{
    font-size: 16px !important;
}

button.close
{
    padding-left: 20px;
    margin-top: 6px;
}

.user-imgs {
    /*height: 45px;*/
    width: 45px;
    position: relative;
    padding-top: 10px;
}

.user-imgs img {

}

.user-imgs i.offline {
    color: #737373;
}

.user-imgs i {
    position: absolute;
    border: 5px solid #fff;
    border-radius: 50%;
    font-size: 14px;
    bottom: -24px;
    right: -22px;
    line-height: 8px !important;
}

.user-imgs i.green
{
    color: #57b029;
}

.user-imgs i.gray
{
    color: #808080;
}

.user-name
{
    font-size: 20px;
    /*font-style: italic;*/
}

.country, .budget
{
    font-size: 12px;
    color: #8f8e8e;
}

.setSpn01OTS {
    color: #898989 !important;
    font-family: Montserrat, sans-serif !important;
    font-weight: lighter;
    font-size: 14px;
}

html:lang(cn) .setSpn01OTS {
    color: #898989 !important;
    font-family: "Noto Sans CJK JP Regular" !important;
    font-weight: lighter;
    font-size: 14px;
}

.setSpnCNJP {
    color: #373737 !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px;
    display: flex;
    margin-bottom: -15px;
}

.budget-value{
    color: #000000;
}

.post-date
{
    color: #727272;
    padding-top: 5px;
}

.post-date-result
{
    font-style: italic;
}

.fav-job
{
    padding-top: 10px;
}

.review-star .fa-star,
.review-star .fa-star-o
{
    /*color: #f9d23f;*/
}

/****
*   Search Skill
*****/
.ms-ctn
{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.ms-ctn-focus {
    border-color: #efefef;
}

.setucCPcol9{
    padding-left:0px;
}

.set_user_images_CP{
    width: 61px !important;
    height: 61px !important;
    border-radius: 100%;
    margin-top: 9px;
}

.Image_highlight_gold{
    border:2px solid #f9d23f;
}

.Image_highlight_brown{
    border: 2px solid #946d46;
}

.Image_highlight_sliver{
    border: 2px solid #C0C0C0;
}

.highlight_silver{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 73%;
    left: 48px;
    border: 3px solid #fff;
    background-color: #C0C0C0;
}

.highlight_brown{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 73%;
    left: 48px;
    border: 3px solid #fff;
    background-color:#946d46;
}

.highlight_gold{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 73%;
    left: 48px;
    border: 3px solid #fff;
    background-color: #f9d23f;
}

.active_fa_starts {
    color: #57b029;
    font-size:12px;
}
.setFaStars {
    color: #e3e3e3;
    font-size:12px;
}

.ms-ctn .ms-sel-item {
    background: #57b029;
    color: #fff;
    border: 1px solid #84c165;
    padding: 5px 10px;
}

.ms-sel-ctn .ms-sel-item .ms-close-btn{
    background-image: url('../../../images/ms-close.png');
}

.ms-ctn input{
    padding: 5px 10px;
}

.ms-res-ctn .ms-res-item{
    padding: 5px 20px;
}

.ms-helper{
    top: -25px;
}

.ms-helper a{
    color: #5ec329;
    font-weight: bold;
}

.search-type-text
{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.search-type-text.active,
.search-type-text:hover
{
    color: #5ec329;
}

.fa-search{
    position: absolute;
    right: 30px;
    top: 26px;
    color: #5ec329;
    font-size: 18px;
}

.search-desc{
    font-size: 12px;
}

.search-type-div{
    margin-top: 20px;
}

.search-type-btn-default{
    background: transparent;
    border: 1px solid #fff;
    width: 30%;
    margin-right: 2%;
    color: #fff !important;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
}

.search-type-btn-color{
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
    width: 30%;
    border: 1px solid #64B12B;
    background: #64B12B;
    color: #fff !important;
}

.btn-search{
    cursor: pointer;
}

.ms-sel-ctn input{
    color: #64B12B;
}

.ms-ctn{
    padding: 8px 12px;
}

.ms-res-ctn .ms-res-item-active {
    background-color: #5ec329;
    color: #fff;
}

em{
    background-color: #fcc33a !important;
}

.search-desc em{
    background-color: #57b029 !important;
}

.ms-ctn.form-control{
    border: 1px solid #efefef;
}
.ms-ctn-focus,
.ms-ctn.form-control:hover{
    border: 1px solid #64B12B !important;
}

/*
*   Dropdown customize
*/
.customize.dropdown{
    margin-top: 15px;
}

.customize.dropdown label
{
    padding-top: 2px;
}

.customize.dropdown li{
    background-color: unset;
    padding: unset;
}

.customize.dropdown ul{
    background-color: unset;
    margin-top: unset;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.customize.dropdown a.custom-select-btn{
    width: 100%;
    border-radius: 3px !important;
    box-shadow: 0 -2px 3px 0 #efefef !important;
    height: 45px;
}

.customize.dropdown a.item{
    background-color: #fff;
}

.customize.dropdown a.item:focus, .customize.dropdown a.item:hover{
    background-color: #e1e5ec
}

.customize.dropdown label{
    color: #64B12B;
}
.main-well-custom .tabbable-line > .nav-tabs{
    border-bottom: 2px solid #e9e9e9;
}
.page-container-bg-solid .tabbable-line > .tab-content{
    border-top: 0px;
}

@media (max-width: 560px){
    .page-container{
        margin: 0px 15px !important;
    }
    .pagination{
        margin-top: 15px;
    }
    .country-main{
        overflow: hidden;
        padding-left: 0px;
    }
    .user-info #button-list{
        overflow: hidden;
        padding-bottom: 15px;
    }
    .user-info #button-list .btn{
        width: 100%;
    }
    .tabbable-line > .nav-tabs > li > a{
        padding: 10px 20px !important;
    }
    .tabbable-line > .nav-tabs > li{
        width: 100%;
    }
    .main-well-custom .tabbable-line > .nav-tabs .filter{
        width: 100%;
        border-top: 1px solid #e9e9e9;
    }
    .filter-option i{
        top: 17px !important;
    }
    .div-job-main .header-cantent-sub .job-title{
        width: 71%;
        font-size: 14px;
    }
    .div-job-main .header-cantent-sub i{
        margin-right: 0px;
    }
    .div-job-main .header-bg img{
        height: 250px;
    }
    .div-job-main .body-cantent .left img{
        height: 150px;
        width: 150px;
    }
    .budget,
    .defficulty,
    .possition{
        margin-bottom: 15px;
    }
    .div-job-main .body-cantent{
        padding-bottom: 100px;
    }
    .div-job-main .body-cantent .col-md-2.left.text-center{
        position: unset !important;
    }
    .div-job-main .body-cantent .col-md-2.left.text-center a{
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .setThisCol3JDP{
        width:100%;
        text-align:center;
    }
    .setHeaderContent{
        width:100%;
        text-align:center;
    }

    .setHeaderImage{
        width:100%;
        text-align: center;
    }

    .setRowBodyContent{
        width:100%;
        text-align: center;
    }
    .defficulty{
        display: inline-block;
    }
    .setSubIcon {
        position: absolute;
        left: 19px;
        display: contents;
    }
    .possition{
        display:inline-block;
    }
    .setSkillImage{
        float:none !important;
    }
    .setItemSkill{
        float: none !important;
        position: relative;
        top: 10px;
        display: inline-block !important;
    }
    .setJBDPCol12{
        display: inline-block;
        text-align: center;
    }
    .setSkillDivScroll{
        height:100px;
        overflow: scroll;
    }
}


.portlet.box{
	padding: 30px !important;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.10) !important;
}
.caption .count-record {
    color: #57B029;
    margin: 0px 0px 0px 10px;
}
.page-content {
    margin-top: 20px !important;
}

.find-expert-box {
    padding: 20px 35px !important;
    background-color: #FFF;
}

.btn-success-color {
    margin-top: 15px;
    background-color: #57b029 !important;
    color: #fff;
    border: 2px solid #57b029 !important;
    width: 120px;
    padding: 9px 0px;
    text-transform: unset;
    border-radius: 3px;
}

.btn-default-color {
    border-radius: 3px;
    margin-top: 15px;
    padding: 9px 0px;
    width: 120px;
    border: 2px solid #57b029 !important;
    color: #57b029;
    background-color: #fff;
    text-transform: unset;
}

.right-content{
	text-align: right;
}
.right-content .bottom-btn{
	position: absolute;
	bottom: 0px;
	right: 15px;
}

.right-content .fa-star {
    color: #f4b00e;
    font-size: 24px;
    font: normal normal normal 25px/1 FontAwesome;
}
.right-content-btn{
	padding-top: 10px;
	min-height: 196px;
	position: relative;
}
.right-content-btn.right-content-btn-big{
	min-height: 288px;
}
.skill{
    margin: 20px 0px;
}
.skill-div{
    display: inline;
    float: left;
    height: 30px !important;
    margin-right: 5px;
}
.item-skill{
    background-color: #fff;
    border: 1px solid #dedede;
    color: #909090;
    display: inline;
    float: left;
    font-size: 14px !important;
    list-style: outside none none;
    margin: 0px 5px 5px 0;
    height: auto !important;
    padding: 4px 15px !important;
    border-radius: 25px;
}
.project-name{
	padding-bottom: 5px;
}
.middel-content .project-name h4{
	padding-left: 50px !important;
}
.project-name img{
	float: left;
	width: 35px;
	position: absolute;
	top: 0px;
}
.description{
	padding-top: 5px;
    text-align: justify;
    color: #5a5a5a;
}
.price-div-sm{
	line-height: 22px;
}
.top-smoll{
    color: #808080;
}
.top-smoll .price{
    color: #4E9E25;
}
.top-smoll .type{
    color: #5a5a5a;
}
.user-content-footer img{
	float: left;
	border-radius: 50%;
}
.user-content-footer p{
	color: #808080;
	padding-left: 15px;
	float: left;
	line-height: 18px;
	margin: 0px;
}
.user-content-footer p span{
	color: #5a5a5a !important;
	padding-left: 0px;
}
.user-content-img img{
	width: 160px;
}
.user-content-budget{
	padding: 40px 15px;
}
.user-content-budget span{
	color: #5a5a5a;
}
.user-content-budget h3{
	color: #59af28;
	margin: 0px;
	padding: 3px 0px 5px 0px;
}
.user-content-budget .share{
	color: #D1D1D1;
}
.middel-content .description{
	padding-top: 10px;
}

.middel-content .possition,
.middel-content .defficulty{
	padding-top: 15px;
	color: #62B02A;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}

.setSCROLLDIVDESC{
    overflow: hidden auto;
    max-height: 250px;
}
.setColROWFJPAGECol12{
    padding-left: unset;
}

.setFPJOBIMAGE{
    padding-left: 20px;
    margin-top:-30px;
}

.setFJPAGEFJY{
    padding: 115px 0px;
    color:#808080;
}
.setFJPCol4Span{
    padding-left:0px;
}

.setMAINMENU{
    font-weight: bolder !important;
}

@media(max-width:1029px) {
    .setFJOBS{
        margin-left:36%;
    }
}

.setMAINMENU{
    font-weight: bolder;
}
.setFJOBS{
    font-weight: bolder !important;
}
 .setBTNCD{
    margin-bottom: 20px !important;
}

.setCol12 {
    margin-top: 4.5%;
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setPageContent
    {
        position: relative;
        top:10px;
    }

    .setCol12 {
        margin-top: 3.3%;
    }
}

.setMAINMENU{
    font-weight: bolder;
}

@media (max-width:991px) and (min-width:320px)
{
    .page-container{
        margin: 0px !important;
    }
    .setFJOBS{
        margin-left:0%;
    }
    .setCol9RPP{
        text-align: -webkit-center;
        margin-top:5%;
    }
    .setMAINMENU{
        display:none;
    }
    .setPCWFJ{
        text-align: -webkit-center;
    }
    .setBTNFJOBS{
        width:100% !important;
    }
    .setUSERCONTENTFOOTER{
        display:inline-grid;
    }
    .setCOL12DIVSKILL{
        display: inline-block;
    }
    .setSCROLLDIVDESC{
        text-align: -webkit-center;
    }
    .setPriceDIV{
        display:inline-grid;
    }
    .setBTNCD {
        width: 100% !important;
        right: 0px !important;
        margin-bottom: 20px !important;
    }
    .setCol12FAFAStar{
        text-align: -webkit-center;
    }
}

#modalMakeOffer .modal-footer{
    background-color: #F7F7F7;
}

#modalMakeOffer .modal-body{
    padding-top: 0px;
    padding-bottom: 0px;
}

.setspantimesclose{
    font-size: 18px;
    line-height: 14px;
    font-weight: bold;
    display: grid;
}

#modalMakeOffer .modal-footer{
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#modalMakeOffer .modal-footer hr{
    margin-top: 0px;
}

.apply-job-modal .modal-content{
    border-radius: 5px !important;
}

.apply-job-modal .modal-header{
    background: #FCFCFC !important;
    padding: 15px 30px !important;
    border-radius: 5px 5px 0px 0px;
}

.apply-job-modal .modal-header h4{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.apply-job-modal .modal-header .btn{
    border: 1px solid #d9d9d9 !important;
    background: #fff !important;
    color: #BDBDBD !important;
    padding: 5px;
    border-radius: 3px;
}

.apply-job-modal .modal-body{
    padding: 15px 30px !important;
    background: #F7F7F7 !important;
    border-radius: 0px 0px 5px 5px;
}

.apply-job-modal .modal-body .btn-submit{
    background: #58af2a none repeat scroll 0 0;
    border: 1px solid #58af2a !important;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-transform: none;
}

.apply-job-modal .modal-body .form-group label{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.apply-job-modal .modal-body .form-control{
    border: 1px solid #e0e8ea;
    height: 45px;
    /*font-style: italic;*/
}

.apply-job-modal .modal-body textarea{
    height: 185px !important;
}

.apply-job-modal .modal-body .content-group img{
    width: 25px;
    height: auto !important;
}

.apply-job-modal .modal-body .content-group .input-group-addon{
    min-width: 50px;
    background: #F7F7F7;
    border-color: #e0e8ea;
}

.input-group-addon{
    padding:unset;
}
/********************
* switch
********************/

.bootstrap-switch{
    height: 45px;
    margin-left: 16px;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: #337ab7;
    width: 35px !important;
    height: 45px;
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 0;
    width: 45px;
}

.bootstrap-switch-container{
    height: 45px;
}

.bootstrap-switch-handle-on, .bootstrap-switch-handle-off{
    padding-top: 10px !important;
}

.bootstrap-switch-handle-on.bootstrap-switch-green, .bootstrap-switch-handle-off.bootstrap-switch-green {
    color: #fcfcfc;
    background: #57b029;
    height: 47px;
    padding: 10px 4px 6px 3px !important;
    width:95px !important;
}

.bootstrap-switch .bootstrap-switch-label{
    padding: 10px 12px;
}

/********************
* modal error message
********************/

.alert-danger{
    background-color: #fcfcfc;
    border-radius: 100px;
    border: solid 1px #ffbebe;
}

#model-alert-container .close
{
    background-image: none !important;
}