#modalInviteToWork .modal-header{
    background-color: #f4f4f4;
}

#modalInviteToWork .modal-title{
    padding-top: 5px;
}

#modalInviteToWork button{
    background-color: #d7d7d7;
}

#modalInviteToWork .modal-body, #modalInviteToWork .modal-footer{
    background-color: #f7f7f7;
}

#modalInviteToWork .full-name{
    font-size: 26px;
    padding-top: 10px;
}

#modalInviteToWork .price{
    font-size: 16px;
    color: #5dba2c;
    padding-top: 15px;
}

#modalInviteToWork .job_position{
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    color: #57b029;
}

#modalInviteToWork .fa.fa-check-circle{
    color: green;
    position: absolute;
    margin-top: -20px;
    margin-left: 70px;
}

#modalInviteToWork #slcProjectId{
    background-color: #ffffff;
}

#modalInviteToWork label {
    color: #666666;
    text-transform: uppercase;
}

#modalInviteToWork button {
    font-weight: 200;
}

#modalInviteToWork .create-project{
    color: #57b029;
    font-weight: 600;
}
.caption .count-record {
    color: #57B029;
    margin: 0px 0px 0px 10px;
}

.page-content {
    margin-top: 20px !important;
}

.find-expert-box {
    padding: 20px 35px !important;
    background-color: #FFF;
}

.personal-profile .profile-userpic .user-img {
    width: 160px;
    height: 160px;
    margin: auto;
}

.personal-profile .profile-userpic {
    position: relative;
}

.personal-profile .profile-userpic .verify {
    position: absolute;
    bottom: 0px;
    right: 30px;
}

.personal-profile .profile-name h3 {
    margin-top: 10px !important;
}

.personal-profile .profile-name h4 {
    color: #58AF2A;
    font-size: 22px;
}

.user-info {
    padding-top: 5px;
}

.user-info .basic-info {
    margin: 0px;
}

.user-info .basic-info .col-md-12 {
    padding: 0px;
}

.latest-login {
    margin-top: 15px;
}

.latest-login span {
    font-size: 14px;
    color: #727272;
}

.latest-login .time {
    margin-left: 10px;
    font-size: 14px;
    color: #808080;
    font-weight: 600;
    font-style: italic;
}

.find-expert-name {
    color: #58AF2A;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px !important;
    text-transform: uppercase;
}

.basic-info .skill-div {
    padding-left: 0px;
    margin-top: 10px;
    height: 35px;
    display: inline;
    float: left;
}

.basic-info .skill-div img {
    border: 2px solid #fff;
    padding: 4px 2px 4px 3px;
    border-radius: 30px;
    margin-right: 6px;
}

.basic-info .item-skill.official {
    background-color: #f9d23f !important;
    padding-left: 3px !important;
    border: none;
    color: #fff !important;
}

.basic-info .item-skill.success {
    background-color: #5dba2c !important;
    padding-left: 3px !important;
    border: none;
    color: #fff !important;
}

.basic-info .item-skill span {
    display: inline-block;
    margin-top: 2px;
    font-family: 'Montserrat Light', Arial !important;
}

.basic-info .item-skill {
    display: inline;
    list-style: none;
    background-color: #fff;
    color: #909090;
    padding: 4px 20px !important;
    border: 1px solid #dedede;
    margin: 5px 5px 5px 0;
    float: left;
    font-size: 14px !important;
    height: 90% !important;
}

.basic-info .description {
    color: #999;
    margin: 15px 0px 5px 0px;
    line-height: 15px;
}

.item-skill {
    border-radius: 25px;
    background-color: #fff;
}

.btn-success-color {
    margin-top: 15px;
    background-color: #57b029 !important;
    color: #fff;
    border: 2px solid #57b029 !important;
    width: 120px;
    padding: 9px 0px;
    text-transform: unset;
}

.btn-default-color {
    margin-top: 15px;
    padding: 9px 0px;
    width: 120px;
    border: 2px solid #57b029 !important;
    color: #57b029;
    background-color: #fff;
    text-transform: unset;
}

.right-info-start {
    margin-bottom: 5px;
}

.right-info-start .fa-star {
    color: #f4b00e;
    font-size: 24px;
    font: normal normal normal 25px/1 FontAwesome;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}

.ffALink{
    margin-right: 0px;
}
.setFFBtn3 {
    margin-top:3%;
    margin-right: 0;
}

.setColRow12 {
    margin-top: 4.5%;
}
.setFFPAGEFFYET{
    padding: 115px 0px;
    color:#808080;
}
.setFFPAGEIMAGE{
    padding-top: 20px;
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setPageContent {
        position: relative;
        top: 5px;
    }
    .setColRow12 {
        margin-top: 3.3%;
    }
}

@media (max-width:1318px)
{
    .setPageContent {
        position: relative;
        top: -5px;
    }
}

@media (max-width:1029px)
{
    .setCAPTION{
        margin-left:36%;
    }
}

@media (min-width:320px) and (max-width:991px)
{
    .setCAPTION{
        margin-left:0% !important;
    }
    .setCol9RPP{
        margin-top:5%;
    }
    .setMAINMENU{
        display:none;
    }

    .setFEPPR{
        margin-right:0px;
    }
    .setFFPageContentWrapper{
        text-align:center;
    }
    .setDivSkillCol {
        margin-top: 6%;
        margin-left: 9%;

    }
    .setDivSkill{
        height:auto !important;
    }
    .setDivSkillCol {
        float:none !important;
        display:inline-block !important;
        height:160px !important;
        overflow: scroll;
    }
    .setFFTextCap{
    }
    .setFFTime{
        margin-left:0px !important;
    }
    .setFFButton{
        text-align:center;
    }
    .setFFLatestLogin {

    }

    .setFFBtn{
        top:3px;
    }
    .setFFreelanceName{
        font-size:20px;
    }
}


@media (min-width:320px) and (max-width:375px)
{
    .setFFButton{
        margin-left: -8%;
    }
    .setFFTextCap {
        font-size: 11px !important;
        margin-left: -23%;
    }
    .setFFTime {
        font-size: 11px !important;
    }
    .setFFLatestLogin {

    }
    .basic-info .description {
        color: #999;
        margin: 15px 0px 5px 0px;
        line-height: 15px;
        padding: 10px;
    }
    .setFFBtn {
        top: 3px;
        left: 14px;
    }
    .setFFBtn3 {
        margin-top: 4%;
        margin-right: 4px;
    }
    .setFFStar{
        margin-left: 16%;
    }

    .ffALink {
        margin-right:0%;
    }
}

@media (min-width:376px) and (max-width:629px)
{

    .setFFLatestLogin {
        margin-left:0px !important;
    }
    .basic-info .description {
        color: #999;
        margin: 15px 0px 5px 0px;
        line-height: 15px;
        padding: 0px 0px 30px 0px;
    }
    .setFFTime {
        margin-left: 0px !important;
        font-size: 10px !important;
    }
    .setFFTextCap {
        font-size: 11px !important;
    }

    .setFFButton{
        margin-left: -8%;
    }
}

@media (min-width:376px) and (max-width:411px)
{
    .setFFBtn {
        top: 3px;
        left: 14px;
    }
    .setFFStar{
        margin-left: 16%;
    }
    .ffALink {
        margin-right: 1px;
    }
    .setFFBtn3 {
        margin-top: 3%;
        margin-right: 1%;
    }
}

@media(min-width:412px) and (max-width:433px)
{
    .setFFBtn {
        top: 1px;
        left: -1px;
    }
    .setFFBtn3 {
        margin-top: 2%;
        margin-right: 1px;
    }
    .setFFButton {
        margin-right: 0%;
    }
    .ffALink{
        margin-right:-2px;
    }
}

#modalSendOffer .modal-content  {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

#modalSendOffer .modal-header{
    background-color: #f4f4f4;

    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;

    -moz-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.setRESUMEPAGERETIMA{
    margin-left: 0px !important;
}

#modalSendOffer .modal-footer{
    background-color: #f4f4f4;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#modalSendOffer .modal-title{
    padding-top: 5px;
}

#modalSendOffer button{
    background-color: #d7d7d7;
}

#modalSendOffer .modal-body, #modalSendOffer .modal-footer{
    background-color: #f7f7f7;
}

#modalSendOffer #slcProjectId{
    background-color: #ffffff;
    color: #57b029;
    font-weight: bold;
}

#modalSendOffer .amount {
    width: 50%;
    color: #57b029;
    font-weight: bold;
}

#modalSendOffer label {
    color: #666666;
    text-transform: uppercase;
}

#modalSendOffer .radio-labe1{
    padding-left: 10px;
    font-weight: bold;
}

#modalSendOffer .description{
    padding-left: 40px;
}

#modalSendOffer button {
    font-weight: 200;
}

#modalSendOffer .create-project{
    color: #57b029;
    font-weight: 600;
}

#modalSendOffer .cancel{
    color: #57b029;
    font-weight: bold;
    padding-left: 80px;
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    color: #666;
    font-weight: normal;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 3px;
    right: 0px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    border: 2.5px solid #57b029;
    background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: 10px;
    content: " ";
    display: block;
    background: #57b029;
}

@media (max-width:991px)
{
    #modalSendOffer .cancel {
        color: #57b029;
        font-weight: bold;
        padding-left: 55px;
    }
}