/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2013 - 2016
 * @version 4.0.1
 *
 * A simple yet powerful JQuery star rating plugin that allows rendering fractional star ratings and supports
 * Right to Left (RTL) input.
 *
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.rating-loading {
    width: 25px;
    height: 25px;
    font-size: 0;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}

/*
 * Stars
 */
.rating-container .rating {
    cursor: default;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.rating-disabled .rating {
    cursor: not-allowed;
}

.rating-container .star {
    display: inline-block;
    margin: 0 3px;
    text-align: center;
}

.rating-container .empty-stars {
    color: #aaa;
}

.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #fde16d;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px #777;
    text-shadow: 1px 1px #999;
}

.rating-rtl {
    float: right;
}

.rating-animate .filled-stars {
    transition: width 0.25s ease;
    -o-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
    left: auto;
    right: 0;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}

.rating-rtl.is-star .filled-stars {
    right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
    margin-right: 0.07em;
}

/**
 * Sizes
 */
.rating-xl {
    font-size: 4.89em;
}

.rating-lg {
    font-size: 3.91em;
}

.rating-md {
    font-size: 3.13em;
}

.rating-sm {
    font-size: 2.5em;
}

.rating-xs {
    font-size: 2em;
}

.rating-xl {
    font-size: 4.89em;
}

/**
 * Clear
 */
.rating-container .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
}

.clear-rating-active {
    cursor: pointer !important;
}

.clear-rating-active:hover {
    color: #843534;
}

.rating-container .clear-rating {
    padding-right: 5px;
}

/**
 * Caption
 */
.rating-container .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
    margin-top: -0.6em;
}

.rating-container .caption {
    margin-left: 5px;
    margin-right: 0;
}

.rating-rtl .caption {
    margin-right: 5px;
    margin-left: 0;
}

/**
 * Print
 */
@media print {
    .rating-container .clear-rating {
        display: none;
    }
}
.profile-sidebar{float:left;width:300px;margin-right:20px}.profile-content{overflow:hidden}.profile-sidebar-portlet{padding:30px 0 0!important}.profile-userpic img{float:none;margin:0 auto;width:50%;height:50%;-webkit-border-radius:50%!important;-moz-border-radius:50%!important;border-radius:50%!important}.profile-usertitle{text-align:center;margin-top:20px}.profile-usertitle-name{color:#5a7391;font-size:20px;font-weight:600;margin-bottom:7px}.profile-usertitle-job{text-transform:uppercase;color:#5b9bd1;font-size:13px;font-weight:800;margin-bottom:7px}.profile-userbuttons{text-align:center;margin-top:10px}.profile-userbuttons .btn{margin-right:5px}.profile-userbuttons .btn:last-child{margin-right:0}.profile-userbuttons button{text-transform:uppercase;font-size:11px;font-weight:600;padding:6px 15px}.profile-usermenu{margin-top:30px;padding-bottom:20px}.profile-usermenu ul li{border-bottom:1px solid #f0f4f7}.profile-usermenu ul li:last-child{border-bottom:none}.profile-usermenu ul li a{color:#93a3b5;font-size:16px;font-weight:400}.profile-usermenu ul li a i{margin-right:8px;font-size:16px}.profile-usermenu ul li a:hover{background-color:#fafcfd;color:#5b9bd1}.profile-usermenu ul li.active a{color:#5b9bd1;background-color:#f6f9fb;border-left:2px solid #5b9bd1;margin-left:-2px}.profile-stat{padding-bottom:20px;border-bottom:1px solid #f0f4f7}.profile-stat-title{color:#7f90a4;font-size:25px;text-align:center}.profile-stat-text{color:#5b9bd1;font-size:11px;font-weight:800;text-align:center}.profile-desc-title{color:#7f90a4;font-size:17px;font-weight:600}.profile-desc-text{color:#7e8c9e;font-size:14px}.profile-desc-link i{width:22px;font-size:19px;color:#abb6c4;margin-right:5px}.profile-desc-link a{font-size:14px;font-weight:600;color:#5b9bd1}@media (max-width:991px){.profile-sidebar{float:none;width:100%!important;margin:0}.profile-sidebar>.portlet{margin-bottom:20px}.profile-content{overflow:visible}}
.personal-info{
    background-color: #fff;
}

.setScroller{
    height:100px !important;
}

.set-fa-fa-fa-serach{
    position: absolute !important;
    right: 15px !important;
    top: 37% !important;
}

/*shared office popover*/


.set-p-fep{
    word-wrap: break-word;
}

.set-users-icon-image{
    width:20px !important;
    height:100% !important;
    border-radius: 0px !important;
    margin-top:2px !important;
}

.sharedofficeImage{
    width: 85px !important;
    border-radius: 1px !important;
    height: 45px !important;
    margin-top:0px !important;
}

.set-col-md-12-shared-0ffice-name{
    padding-top:2px !important;
}

.set-shared-office-name-fEp{
    font-size: 13px;
    word-wrap: break-word;
    color:#555;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
    margin-left:20px;
}
.set-shared-office-location-image{
    width: 9px !important;
    height: 11px !important;
    margin-top: 4px !important;
}

.set-col-md-12-shared-0ffice-location{
    display: flex;
}

.location-name-shared-office{
    font-size:13px;
    font-family: Montserrat, sans-serif !important;
    margin-left:4px;
    word-wrap: break-word;
}
.set-reviews-shared-office-box{

    color:#555;
    font-size:14px;
    text-transform: lowercase !important;
    margin-left:5px;
    font-family: Montserrat, sans-serif !important;
}

.set-fa-fa-star-sharedOffice-active{
    font-size: 12px;
    color:yellow !important;
}

.set-fa-fa-star-sharedOffice{
    font-size: 12px;
    color:#cccccc;
}

.set-col-md-7-shared-office-rating{
    padding-left: 0px;
    padding-right: 0px;
    width: 40%;
    margin-left: 14px;
}

.sharedOfficePopover{
    position: relative;
    display: inline-block;
}

.set-fa-fa-caret-left{
    position: absolute;
    left: -8px;
    font-size: 24px;
    top: 31px;
    color: #fff;
    text-shadow: -6px 0px 11px #ecf9e4;
}

.sharedOfficeBox{
    margin-left: 51px;
    margin-top: -31px;
    display:none;
    position:absolute;
    background-color:#fff;
    min-width:204px;
    box-shadow: -6px 2px 13px -4px #ecf9e4;
    z-index:1;
    border-radius: 5px;
    border:1px solid #F1F1F1;
    padding:11px 6px;
}
.sharedOfficePopover:hover .sharedOfficeBox {display: block;}

.sharedOfficePopover:hover .set-users-icon-image {}

.sharedOfficeBox:hover{
    display: block;
}
/*shared office popover*/

.order-status-menu{
    padding-top: 10px;
}

.setHeartactiveFree{
    position: absolute;
    right:10%;
    top:1px;
}

.setCol12FEP{
    margin-top:12px;
}
.find-expert-box-new{

}

.setHeart{
    position: absolute;
    right:10%;
    width:29px;
    height:30px;
    top:1px;
}

.setcol9SearchBox{
    width:65%;
    margin-bottom:10px;
}

.setcol12searchBoxP{
    margin-top:10px;
}

.setUDETAILSDESC{
    min-height: 70px;
}
.setFEXPERTPAGEIMAGE{
    margin:unset; float:unset;
}

.order-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}

.order-status-menu li.active {
    border-bottom: 5px solid #008fd5;
}

.portlet.box{
    background-color: #FFF;
}

.find-expert-box {
    padding-top: 20px !important;
    /*padding-bottom: 20px !important;*/
    background-color: #FFF;
}
/*
    Comment info
*/
.portlet.box > .portlet-title{
    color: #000;
}

.gray-box{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.complete-time, .order-id{
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.column{
    padding-top: 10px;
    padding-left: 35px;
}

.new-order a:hover{
    text-decoration: none;
}

.link{
    padding-left: 10px;
    padding-right: 10px;
}

.location{
    color: #999999;
}

.delete-info{
    padding-top: 10px;
}

.commenter li{
    display: inline;
    list-style: none;
    background-color: #659be0;
    color: #ffffff;
    padding: 5px;
}

/*
    personal info
*/
.personal-profile{
    padding-left: 35px;
    padding-right: 15px;
}

.personal-profile .gray-box{
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-profile ul{
    padding: 0px;
    margin-top: 10px;
}

.personal-profile li{
    display: inline;
    list-style: none;
    background-color: #659be0;
    color: #ffffff;
    padding: 5px;
}

.personal-profile .profile-userpic img {
    height: 140px;
    border: 5px solid #fafafa;
    width: 140px;
    object-fit: cover;
}

.gray01 {
    background-color: #c2cad8;
}

.btn.gray01:hover{
    background-color: #b8c0cd;
}

.link.details{
    padding-right: 15px;
}

.btn-evaluation{
    padding-left: 100px;
    padding-right: 100px;
}

.user-info{
    padding-top: 5px;
}

/*.user-info .basic-info {*/
/*margin: 0px 10px 0px 5px;*/
/*}*/

.user-info .basic-info .col-md-12 {
    padding: 0px;
}

.user-info .basic-info .latest-login {
    margin-top: 15px;
}

.comment-tab{
    padding: 15px;
}

.btn-complain{
    background-color: #dae0e6;
}

.img-auth{
    margin-top: 20px;
    float: none !important;
    width: 130px;
    height: 130px;
}

.item-skill{
    margin-top: 20px;
    border-radius: 2px;
}

.user-info img {
    margin-right: 0px;
    padding-top: 0 !important;
}

/*Tab*/

.tab li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.tab li.active{
    border-bottom: 5px solid #008fd5;
    padding-bottom: 15px;
}

/*Rating*/
.rate-label{
    padding-top: 5px;
}

.rating-16 {
    font-size: 16px;
}

.rating-12 {
    font-size: 12px;
}

.star-caption{
    font-size: 12px;
    color: #ffb344;
    background-color: #fff;
    font-weight: 900;
}

.rating-container .caption{
    padding-top: 8px;
}

.rating-container .filled-stars{
    color: #ff9800;
}

/*Modal Tailor Detail*/
.modal-dialog .portlet-body{
    padding: 15px;
}

.div-ttl-comment{
    padding-top: 10px;
}
.ttl-comment{
    border-bottom: 5px solid #008fd5;
    padding-bottom: 15px;
}

.sect-choose,
.sect-user-comment{
    padding: 15px;
}

.hr-line{
    margin: 0;
}

.rate-value{
    font-size: 60px;
    color: #659be0;
    padding-left: 30px;
    font-weight: 900;
}

.ttl-eval, .no-vote{
    color: #659be0;
    font-weight: 900;
}

.sect-star02 .star{
    color: #cccccc;
}

.no-star{
    color: #959595;
}

.sect-star01 {
    padding-top: 20px;
}

.sect-star02,
.sect-rate-histogram{
    padding-top: 25px;
    padding-left: 30px;
}

/*Rating Histogram*/
.histo {
    float: left;
    width: 80%;
    font-size: 8px;
}

.histo-star {
    float: left;
}

.histo-rate {
    width: 100%;
    display: block;
    clear: both;
}

.bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
}

.bar {
    padding: 5px;
    display: block;
}

#bar-five {
    width: 0;
    background-color: #eff5fc;
}

#bar-four {
    width: 0;
    background-color: #e0ebf9;
}

#bar-three {
    width: 0;
    background-color: #c1d7f3;
}

#bar-two {
    width: 0;
    background-color: #a3c3ec;
}

#bar-one {
    width: 0;
    background-color: #659be0;
}

/*User Comment*/
.user-comment .user-rate td{
    padding-top: 10px;
}

.user-comment .order-id{
    text-align: center;
    padding-top: 10px;
}

.user-comment .post-datetime{
    text-align: right;
    padding-top: 10px;
}

.user-comment .profile-userpic img{
    width: 90%;
}

.user-comment p {
    line-height: 30px;
}

/*Modal Arrow*/
.right-arrow{
    /*margin-right: -40px;*/
    margin-right: -90px;
}

.left-arrow{
    margin-left: -30px;
}

.right-arrow a,
.left-arrow a{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
}

.profile-image.next-tailor{
    width: 50%;
    padding-top: 35px;
}

.find-experts-success {
    margin-top: 15px;
    background-color: #57b029 !important;
    color: #fff;
    border: 2px solid #57b029 !important;
    width: 150px;
    padding: 9px 0px;
    border-radius: 5px;
}

.invite-freelance-gray,  .invite-freelance-gray:hover, .invite-freelance-gray:focus{
    margin-top: 30px;
    background-color: #f7f7f7 !important;
    color: #000;
    border: 2px solid #e8e8e8 !important;
    width: 150px;
    padding: 9px 0px;
    border-radius: 5px;
}

.find-experts-offer {
    margin-top: 15px;
    padding: 9px 0px;
    width: 150px;
    border: 2px solid #57b029 !important;
    color: #57b029;
    background-color: #fff;
    border-radius: 5px;

}

.find-experts-text-success {
    color: #57b029 !important;
}

.find-expert-status-container {
    margin-top: 20px;
}

.find-expert-status {
    font-weight: 600;
    font-size: 14px;
}

.find-expert-name {
    color : #404040;
    font-weight: 400;
    font-size: 26px;
    text-transform: capitalize;
}

.details-container {
    margin-top: 5px;
}

.details-container .title{
    color : #999;
    font-size : 14px;
    clear: both;
}

.details-container-s {
    margin-top: 15px;
}

.details-container .per-hr h3 {
    margin: 0px;
    font-size:26px;
    color: #57B029;
}
.basic-info .skill-div {
    padding-left : 0px;
    margin-top: 8px;
    /*height: 35px !important;*/
    display: inline;
    float: left;
}

.basic-info .fa-check-circle{
    color : #57b029;
    font-size :14px;
    position: absolute;
    margin-top: 5px !important;
}

.skill-div img {
    border: 2px solid #fff;
    border-radius: 30px;
    margin-right: 6px;
}

.basic-info .item-skill.official {
    background-color: #f9d23f !important;
    padding-left: 3px !important;
    border: none;
    color : #fff !important;
}

.basic-info .item-skill.success {
    background-color: #5dba2c !important;
    padding-left: 3px !important;
    border: none;
    color : #fff !important;
}

.basic-info .item-skill span {
    display: inline-block;
    font-family: 'Montserrat Light', Arial !important;
}

.basic-info .item-skill{
    display: inline;
    list-style: none;
    background-color: #fff;
    color: #909090;
    padding: 4px 20px !important;
    /*border : 1px solid #dedede;*/
    margin: 0px 5px 0px 0;
    float: left;
    font-size: 14px !important;
}

.basic-info .status{
    color : #57b029;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.basic-info .description {
    color: #999;
    margin: 15px 0px 5px 0px;
    line-height: 15px;
}

.item-skill {
    border-radius: 25px;
    background-color: #fff;
}

.user-info .definition{
    color : #808080;
    font-size : 16px;
    font-weight: 600;
}

.find-expert-text {
    font-size: 14px;
    color: #727272;
}

.find-expert-text-two {
    margin-left: 10px;
    font-size: 14px;
    color: #808080;
    font-weight: 600;
    font-style: italic;
}

.btn-check-detail {
    cursor: pointer;
}

.search-title-container {
    width: 255px;
}

.find-experts-search-title {
    color: #808080;
    font-size: 18px;
}

.experts-counts {
    color: #57b029;
    margin-left: 20px;
    font-size: 14px;
}

.find-experts-pagination {
    margin-right: -48px;
}

.find-experts-pagination .count{
    margin-left: 10px;
    margin-right: 10px;
    color : #808080;
    font-size: 14px;
    background:none;
}

.count.badge {
    background-color: #57b029;
    color: #fff;
    width: 20px;
    height: 20px;
}
/*
    Admin Review
*/

.admin-review{
    background-color: #fff;
}

/*
    Contact Info
*/

.contacts-info .contacts-info-sub {
    padding: 15px;
}

.contacts-info .contacts-info-sub img {
    width: 25px;
}

.contacts-info .contacts-info-sub span {
    padding: 5px;
    color: #7d7d7d;
    font-weight: 600;
}

.contacts-info .contacts-info-sub p {
    margin: 10px 0px 0px 0px;
    color: #B1B1B1;
    font-size: 16px;
}

.contacts-info .contacts-info-edit {
    padding: 15px 30px 15px 15px;
}

.contacts-info .contacts-info-edit a {
    color: #58AF2A;
}

.personal-profile .contact {
    position: absolute;
    width: 100%;
    box-shadow: 0 0 5px 0 #c1c1c1 !important;
    background-color: #fff;
    margin-top: -10px;
}

.personal-profile .contact .contacts-info:before {
    border: 15px solid #c1c1c1;
    content: '';
    position: absolute !important;
    top: -30px;
    border-color: transparent;
    border-bottom-color: #c1c1c1;
    left: 80px;
}

.personal-profile .contact .contacts-info:after {
    border: 14px solid #fff;
    content: '';
    position: absolute !important;
    top: -28px;
    left: 81px;
    border-color: transparent;
    border-bottom-color: #fff;
}

.favourite-freelancer{
    position: absolute;
    padding-left: 180px;
    margin-top: -25px;
    font-size: 20px;
}

.favourite-freelancer a{
    color: #808080;
}

.favourite-freelancer a.active
{
    color: #f4b00e;
}

.toast-info {
    background-color: #51a351;
}

.success-title{
    font-size: 20px;
    font-weight: normal;
    color:#000;
}

.success-message{
    font-size: 12px;
    color:#000;
}

/* For Read More Function usage */
.read-more-state {
    display: none;
}

.read-more-trigger{
    cursor: pointer;
    font-style: italic;
    color:#5DBA2C;
}

/*
*   Dropdown customize
*/

.customize.dropdown label
{
    padding-top: 2px;
}

.customize.dropdown li{
    background-color: unset;
    padding: unset;
}

.customize.dropdown ul{
    background-color: unset;
    margin-top: unset;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}
.search-box-field  #magicsuggest {
    margin-top: 0px;
    /*height: 45px;*/
    padding-top: 4px;
}
.customize.dropdown a.custom-select-btn{
    width: 100%;
    border-radius: 3px !important;
    box-shadow: 0 -2px 3px 0 #efefef !important;
    height: 45px;
}

.customize.dropdown a.item{
    background-color: #fff;
}

.customize.dropdown a.item:focus, .customize.dropdown a.item:hover{
    background-color: #e1e5ec
}

.customize.dropdown label{
    color: #64B12B;
}

/* Notification */

.col-md-1 i {
    padding:15px;
    font-size:35px;
    text-align: right;
    color:#57b029;
    font-weight: 100;
}

.notification{
    margin-left:-10px;
}

.notification-box{
    background-color: #fff;
}
.btn-close-box{
    top:-6px;
    right: -60px;
    vertical-align: center;
}
.btn-close{
    color:#57b029;
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    vertical-align: center;
    opacity: 1;
    padding:0px;
    background: 0 0;
    border: 0;
    display: inline-block;
    width: 30px;
    height: 40px;

}

.btn-close:hover{
    opacity: 0.5;
}

#button-list{
    margin-top: 15px;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

.setFEPPortlet:hover{

}


footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}

.setH3FXXP{
    width:180px;
    margin-left:20px !important;
}

.scroll-div{
    height:120px;
}

@media (max-width: 320px){
    .basic-info .item-skill {
        display: inline;
        list-style: none;
        background-color: #fff;
        color: #909090;
        padding: 4px 20px;
        /* border: 1px solid #dedede; */
        margin: 5px 5px 5px 0;
        float: left;
        font-size: 14px !important;
        /* height: 90% !important; */
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .setcol9SearchBox{
        width:100%;
        margin-bottom:10px;
    }

    .setClearFilterCol3{
        padding-left:17px !important;
    }

    .setcol12searchBoxP{
        margin-top:10px;
    }

    .setFEPPortlet {
        text-align:center;
    }
    .setFEPPSkillDiv{
        float:none !important;
        display:inline-block !important;
    }
    .setFEPPCM{
        text-align:center;
        display: inline-block;
    }
    .setFEPPBtn{
        width: 100% !important;
    }
}

@media (max-width:340px) and (min-width:320px)
{
    .setFEPPBtn{
        font-size:xx-small !important;
    }
}

.find-expert-box{
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
}

.basic-info .status{
	font-weight: normal;
}
.latest-login{
	padding: 0px;
	text-align: center;
}
.name-main{
	padding-left: 0px;
}
.find-expert-text-two{
	font-weight: normal;
	font-size: 13px;
	margin-left: 0px !important;
}
.find-expert-text{
	text-align: center;
	font-weight: normal;
	font-size: 13px !important;
	color: #a9a9a9 !important;
}
.profile-userpic{
	height: 165px;
}
.profile-userpic i{
	position: relative;
	background: #58AF2A;
	border: 7px solid white;
	border-radius: 50%;
	color: white;
	font-size: 22px;
	height: 48px;
	left: 44px;
	padding-top: 10px;
	top: -50px;
	width: 50px;
}
.profile-userpic i.gray-i{
	background: #B5B5B5;
}
.description{
	font-weight: normal;
	font-size: 13px;
}
.description a{
	font-style: italic;
	color: #5DBA2C;
}
.per-hr i{
	font-size: 30px;
	line-height: 20px;
	color: #B5B5B5;
	margin-top: 7px;
}
.per-hr i.heart-red{
	color: #C93032;
}
.personal-profile{
	padding-top: 0px !important;
}
.country-main{
	padding-top: 8px;
}
.country-main span{
	float: left;
}
.country-main img{
	border-radius: 10px;
	height: 30px;
	margin-top: -4px;
	width: 33px;
	margin-left: 20px;
}

.find-expert-box-new{
	border: 3px solid white;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1) !important;
}
.find-expert-box-new:hover{
	/*border: 3px solid #5DBA2D;*/
	moz-box-shadow: 0px 0px 9px 4px #c7ecc5 !important;
	-webkit-box-shadow: 0px 0px 9px 4px #c7ecc5 !important;
	box-shadow: 0px 0px 9px 4px #c7ecc5 !important;
}
.find-experts-request:hover,
.find-experts-request{
	color: #F8D23F !important;
	border: 2px solid #F8D23F !important;
}
.find-experts-success{
	font-size: 14px;
	font-weight: normal; 
	margin-bottom: -7px;
}
.find-experts-offer{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: -7px; 	
}
.find-experts-request{
	font-size: 14px;
	font-weight: normal;	
}
.find-experts-check i,
.find-experts-request i{
	font-size: 20px;
	height: 13px;
	margin-right: 10px;
}

.set-fa-fa-fa-envelope{
	margin-right:0px !important;
}

.skill-div{
	/*margin-right: 5px; */
}
.skill-div span{
	padding-left: 5px;
	padding-top: 2px;
}
.find-experts-offer:hover{
	background-color: #57B029 !important;
	color:#fff !important;
	border: 2px solid #57B029 !important;
}
.basic-info .description{
	line-height: 18px !important;
}

@media (min-width: 320px) and (max-width: 560px){
	.page-container{
		margin: 0px 15px !important;
	}
	.pagination{
		margin-top: 15px;
	}
	.country-main{
		overflow: hidden;
		padding-left: 0px;
	}
	.user-info #button-list{
		overflow: hidden;
		padding-bottom: 15px;
	}
	.find-expert-name {
		color: #404040;
		font-weight: 500;
		font-size: 20px;
		text-transform: capitalize;
		width:100% !important;
	}
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0; }
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }
.select2-container--default .select2-results__option[role=group] {
  padding: 0; }
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f6f6f6;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); }
  .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
  .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0); }
    .select2-container--classic .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }
  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
    .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #888 transparent;
      border-width: 0 4px 5px 4px; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0); }
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }
  .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0; }
.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }
.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }
.select2-container--classic .select2-dropdown--below {
  border-top: none; }
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }
.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }
.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }

/*! Select2 Bootstrap Theme v0.1.0-beta.4 | MIT License | github.com/select2/select2-bootstrap-theme */.select2-container--bootstrap{display:block}.select2-container--bootstrap .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);background-color:#fff;border:1px solid #c2cad8;border-radius:4px;color:#555;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;outline:0}.select2-container--bootstrap .select2-search--dropdown .select2-search__field{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);background-color:#fff;border:1px solid #c2cad8;border-radius:4px;color:#555;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px}.select2-container--bootstrap .select2-search__field{outline:0}.select2-container--bootstrap .select2-search__field::-webkit-input-placeholder{color:#999}.select2-container--bootstrap .select2-search__field:-moz-placeholder{color:#999}.select2-container--bootstrap .select2-search__field::-moz-placeholder{color:#999;opacity:1}.select2-container--bootstrap .select2-search__field:-ms-input-placeholder{color:#999}.select2-container--bootstrap .select2-results__option[role=group]{padding:0}.select2-container--bootstrap .select2-results__option[aria-disabled=true]{color:#777;cursor:not-allowed}.select2-container--bootstrap .select2-results__option[aria-selected=true]{background-color:#e1e5ec;color:#262626}.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{background-color:#337ab7;color:#fff}.select2-container--bootstrap .select2-results__option .select2-results__option{padding:6px 12px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__group{padding-left:0}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option{margin-left:-12px;padding-left:24px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-24px;padding-left:36px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-36px;padding-left:48px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-48px;padding-left:60px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-60px;padding-left:72px}.select2-container--bootstrap .select2-results__group{color:#777;display:block;padding:6px 12px;font-size:12px;line-height:1.42857;white-space:nowrap}.select2-container--bootstrap.select2-container--focus .select2-selection,.select2-container--bootstrap.select2-container--open .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(147,161,187,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(147,161,187,0.6);-webkit-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;-o-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;border-color:#93a1bb}.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b{border-color:transparent transparent #999 transparent;border-width:0 4px 4px 4px}.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection{border-bottom-right-radius:0;border-bottom-left-radius:0;border-bottom-color:transparent}.select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection{border-top-right-radius:0;border-top-left-radius:0;border-top-color:transparent}.select2-container--bootstrap .select2-selection__clear{color:#999;cursor:pointer;float:right;font-weight:bold;margin-right:10px}.select2-container--bootstrap .select2-selection__clear:hover{color:#333}.select2-container--bootstrap.select2-container--disabled .select2-selection{border-color:#c2cad8;-webkit-box-shadow:none;box-shadow:none}.select2-container--bootstrap.select2-container--disabled .select2-selection,.select2-container--bootstrap.select2-container--disabled .select2-search__field{cursor:not-allowed}.select2-container--bootstrap.select2-container--disabled .select2-selection,.select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice{background-color:#eef1f5}.select2-container--bootstrap.select2-container--disabled .select2-selection__clear,.select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove{display:none}.select2-container--bootstrap .select2-dropdown{-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175);border-color:#93a1bb;overflow-x:hidden;margin-top:-1px}.select2-container--bootstrap .select2-dropdown--above{margin-top:1px}.select2-container--bootstrap .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}.select2-container--bootstrap .select2-selection--single{height:34px;line-height:1.42857;padding:6px 24px 6px 12px}.select2-container--bootstrap .select2-selection--single .select2-selection__arrow{position:absolute;bottom:0;right:12px;top:0;width:4px}.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{border-color:#999 transparent transparent transparent;border-style:solid;border-width:4px 4px 0 4px;height:0;left:0;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{color:#555;padding:0}.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder{color:#999}.select2-container--bootstrap .select2-selection--multiple{min-height:34px}.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;display:block;line-height:1.42857;list-style:none;margin:0;overflow:hidden;padding:0;width:100%;text-overflow:ellipsis;white-space:nowrap}.select2-container--bootstrap .select2-selection--multiple .select2-selection__placeholder{color:#999;float:left;margin-top:5px}.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{color:#555;background:#fff;border:1px solid #ccc;border-radius:4px;cursor:default;float:left;margin:5px 0 0 6px;padding:0 6px}.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{background:transparent;padding:0 12px;height:32px;line-height:1.42857;margin-top:0;min-width:5em}.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove{color:#999;cursor:pointer;display:inline-block;font-weight:bold;margin-right:3px}.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove:hover{color:#333}.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear{margin-top:6px}.select2-container--bootstrap.input-sm,.select2-container--bootstrap.input-lg{border-radius:0;font-size:12px;height:auto;line-height:1;padding:0}.select2-container--bootstrap.input-sm .select2-selection--single,.input-group-sm .select2-container--bootstrap .select2-selection--single,.form-group-sm .select2-container--bootstrap .select2-selection--single{border-radius:3px;font-size:12px;height:30px;line-height:1.5;padding:5px 22px 5px 10px}.select2-container--bootstrap.input-sm .select2-selection--single .select2-selection__arrow b,.input-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,.form-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{margin-left:-5px}.select2-container--bootstrap.input-sm .select2-selection--multiple,.input-group-sm .select2-container--bootstrap .select2-selection--multiple,.form-group-sm .select2-container--bootstrap .select2-selection--multiple{min-height:30px}.select2-container--bootstrap.input-sm .select2-selection--multiple .select2-selection__choice,.input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,.form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{font-size:12px;line-height:1.5;margin:4px 0 0 5px;padding:0 5px}.select2-container--bootstrap.input-sm .select2-selection--multiple .select2-search--inline .select2-search__field,.input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,.form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{padding:0 10px;font-size:12px;height:28px;line-height:1.5}.select2-container--bootstrap.input-sm .select2-selection--multiple .select2-selection__clear,.input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,.form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear{margin-top:5px}.select2-container--bootstrap.input-lg .select2-selection--single,.input-group-lg .select2-container--bootstrap .select2-selection--single,.form-group-lg .select2-container--bootstrap .select2-selection--single{border-radius:6px;font-size:18px;height:46px;line-height:1.33333;padding:10px 31px 10px 16px}.select2-container--bootstrap.input-lg .select2-selection--single .select2-selection__arrow,.input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow,.form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow{width:5px}.select2-container--bootstrap.input-lg .select2-selection--single .select2-selection__arrow b,.input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,.form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{border-width:5px 5px 0 5px;margin-left:-5px;margin-left:-10px;margin-top:-2.5px}.select2-container--bootstrap.input-lg .select2-selection--multiple,.input-group-lg .select2-container--bootstrap .select2-selection--multiple,.form-group-lg .select2-container--bootstrap .select2-selection--multiple{min-height:46px}.select2-container--bootstrap.input-lg .select2-selection--multiple .select2-selection__choice,.input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,.form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{font-size:18px;line-height:1.33333;border-radius:4px;margin:9px 0 0 8px;padding:0 10px}.select2-container--bootstrap.input-lg .select2-selection--multiple .select2-search--inline .select2-search__field,.input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,.form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{padding:0 16px;font-size:18px;height:44px;line-height:1.33333}.select2-container--bootstrap.input-lg .select2-selection--multiple .select2-selection__clear,.input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,.form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear{margin-top:10px}.select2-container--bootstrap.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #999 transparent;border-width:0 5px 5px 5px}.input-group-lg .select2-container--bootstrap.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #999 transparent;border-width:0 5px 5px 5px}.select2-container--bootstrap[dir="rtl"] .select2-selection--single{padding-left:24px;padding-right:12px}.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__rendered{padding-right:0;padding-left:0;text-align:right}.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__arrow{left:12px;right:auto}.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__arrow b{margin-left:0}.select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice,.select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder{float:right}.select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:0;margin-right:6px}.select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}.has-warning .select2-dropdown,.has-warning .select2-selection{border-color:#c29d0b}.has-warning .select2-container--focus .select2-selection,.has-warning .select2-container--open .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #f4d03f;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #f4d03f;border-color:#927608}.has-warning.select2-drop-active{border-color:#927608}.has-warning.select2-drop-active.select2-drop.select2-drop-above{border-top-color:#927608}.has-error .select2-dropdown,.has-error .select2-selection{border-color:#e73d4a}.has-error .select2-container--focus .select2-selection,.has-error .select2-container--open .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #f2989f;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #f2989f;border-color:#d71b29}.has-error.select2-drop-active{border-color:#d71b29}.has-error.select2-drop-active.select2-drop.select2-drop-above{border-top-color:#d71b29}.has-success .select2-dropdown,.has-success .select2-selection{border-color:#27a4b0}.has-success .select2-container--focus .select2-selection,.has-success .select2-container--open .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #60d2dc;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #60d2dc;border-color:#1d7d86}.has-success.select2-drop-active{border-color:#1d7d86}.has-success.select2-drop-active.select2-drop.select2-drop-above{border-top-color:#1d7d86}.input-group .select2-container--bootstrap{display:table;table-layout:fixed;position:relative;z-index:2;float:left;width:100%;margin-bottom:0}.input-group.select2-bootstrap-prepend .select2-container--bootstrap .select2-selection{border-bottom-left-radius:0;border-top-left-radius:0}.input-group.select2-bootstrap-append .select2-container--bootstrap .select2-selection{border-bottom-right-radius:0;border-top-right-radius:0}.select2-bootstrap-append .select2-container--bootstrap,.select2-bootstrap-append .input-group-btn,.select2-bootstrap-append .input-group-btn .btn,.select2-bootstrap-prepend .select2-container--bootstrap,.select2-bootstrap-prepend .input-group-btn,.select2-bootstrap-prepend .input-group-btn .btn{vertical-align:top}.form-control.select2-hidden-accessible{position:absolute !important;width:1px !important}.form-inline .select2-container--bootstrap{display:inline-block}

#modalInviteToWork .modal-header{
    background-color: #f4f4f4;
}

#modalInviteToWork .modal-title{
    padding-top: 5px;
}

#modalInviteToWork button{
    background-color: #d7d7d7;
}

#modalInviteToWork .modal-body, #modalInviteToWork .modal-footer{
    background-color: #f7f7f7;
}

#modalInviteToWork .full-name{
    font-size: 26px;
    padding-top: 10px;
}

#modalInviteToWork .price{
    font-size: 16px;
    color: #5dba2c;
    padding-top: 15px;
}

#modalInviteToWork .job_position{
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    color: #57b029;
}

#modalInviteToWork .fa.fa-check-circle{
    color: green;
    position: absolute;
    margin-top: -20px;
    margin-left: 70px;
}

#modalInviteToWork #slcProjectId{
    background-color: #ffffff;
}

#modalInviteToWork label {
    color: #666666;
    text-transform: uppercase;
}

#modalInviteToWork button {
    font-weight: 200;
}

#modalInviteToWork .create-project{
    color: #57b029;
    font-weight: 600;
}
#modalSendOffer .modal-content  {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

#modalSendOffer .modal-header{
    background-color: #f4f4f4;

    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;

    -moz-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.setRESUMEPAGERETIMA{
    margin-left: 0px !important;
}

#modalSendOffer .modal-footer{
    background-color: #f4f4f4;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#modalSendOffer .modal-title{
    padding-top: 5px;
}

#modalSendOffer button{
    background-color: #d7d7d7;
}

#modalSendOffer .modal-body, #modalSendOffer .modal-footer{
    background-color: #f7f7f7;
}

#modalSendOffer #slcProjectId{
    background-color: #ffffff;
    color: #57b029;
    font-weight: bold;
}

#modalSendOffer .amount {
    width: 50%;
    color: #57b029;
    font-weight: bold;
}

#modalSendOffer label {
    color: #666666;
    text-transform: uppercase;
}

#modalSendOffer .radio-labe1{
    padding-left: 10px;
    font-weight: bold;
}

#modalSendOffer .description{
    padding-left: 40px;
}

#modalSendOffer button {
    font-weight: 200;
}

#modalSendOffer .create-project{
    color: #57b029;
    font-weight: 600;
}

#modalSendOffer .cancel{
    color: #57b029;
    font-weight: bold;
    padding-left: 80px;
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    color: #666;
    font-weight: normal;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 3px;
    right: 0px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    border: 2.5px solid #57b029;
    background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: 10px;
    content: " ";
    display: block;
    background: #57b029;
}

@media (max-width:991px)
{
    #modalSendOffer .cancel {
        color: #57b029;
        font-weight: bold;
        padding-left: 55px;
    }
}
.page-content-wrapper .page-content{
	margin-left: 0px;
    padding: 0px;
}
.search-box-field label{
	padding-bottom:10px;
	color: #C7C7C7;
    font-size:14px;
}

.find-expert-box-search:hover{
    box-shadow: 0px 1px 9px 2px #c7ecc5 !important;
}

.find-expert-box-search{
    padding-top: 20px !important;
     padding-bottom: 20px !important;
    background-color: #FFF;
}

.search-box-field input,.search-selectbox{
	margin-bottom:30px;
	height: 45px;
	border: 1px solid #e5e5e5;
	border-radius: 3px !important;
	box-shadow: 0 -2px 3px 0 #efefef !important;
}

.setSEARCHBOXNEWBTN{
    margin-top: 4px;
}

.search-selectbox select{
	padding: 10px;
	height: 40px;
	color: #707070;
}

.search-selectbox::after{
	top: 6px;
}

.personal-profile{
	padding: 15px 35px;
}

.search-box-main{
	box-shadow: none !important;
	border: 1px solid #E5E5E5;
}

.btn-search-custom , .btn-search-custom:hover{
	background-color: #61af2c;
    color: white;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    line-height: 34px !important;
    width: 185px;
}

.advance-filter-title a{
	color: #61AF2C;
	padding-bottom: 20px;
	font-size: 15px;
}

.advance-filter-title i{
	font-size: 18px;
	padding-left: 6px;
}

.clear-filter-title{
    color: #7E7E7E;
    padding-bottom: 20px;
    font-size: 14px;
}
.clear-filter-title-top{
    padding-left: 0px;
    margin-top: 45px;
}

.clear-filter-title i{
	font-size: 18px;
	padding-left: 6px;
}

.clear-filter-title-first{
	color: #7E7E7E;
	padding-top: 45px;
	font-size: 15px;	
}

.clear-filter-title-first i{
	font-size: 18px;
	padding-left: 6px;
}

#magicsuggest, #languageInput{
    min-height: 44px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 -2px 3px 0 #efefef !important;
}

.search-box-field #magicsuggest input,
.search-box-field #languageInput input{
    border: unset;
    margin-bottom: unset;
    box-shadow: unset !important;
    height: 32px;
}

/****
*   Search Skill
*****/
.ms-ctn
{
    background-color: #fff;
    border-radius: 5px;
}

.ms-ctn-focus {
    border-color: #efefef;
}

.ms-ctn .ms-sel-item {
    background: #57b029;
    color: #fff;
    border: 1px solid #84c165;
    padding: 5px 10px;
}

.ms-sel-ctn .ms-sel-item .ms-close-btn{
    background-image: url('../../../images/ms-close.png');
}

.ms-ctn input{
    padding: 5px 10px;
    width:100% !important;
}

.ms-res-ctn .ms-res-item{
    padding: 5px 20px;
}

.ms-helper{
    top: -25px;
}

.ms-helper a{
    color: #5ec329;
    font-weight: bold;
}

.search-type-text
{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.search-type-text.active,
.search-type-text:hover
{
    color: #5ec329;
}

.fa-search{
    position: absolute;
    right: 30px;
    top: 26px;
    color: #5ec329;
    font-size: 18px;
}

.search-desc{
    font-size: 12px;
}

.search-type-div{
    margin-top: 20px;
}

.search-type-btn-default{
    background: transparent;
    border: 1px solid #fff;
    width: 30%;
    margin-right: 2%;
    color: #fff !important;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
}

.search-type-btn-color{
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
    width: 30%;
    border: 1px solid #64B12B;
    background: #64B12B;
    color: #fff !important;
}

.btn-search{
    cursor: pointer;
}

.ms-sel-ctn
{
    padding-right: 0px;
}

.ms-sel-ctn input{
    color: #64B12B;
}

.ms-res-ctn .ms-res-item-active {
    background-color: #5ec329;
    color: #fff;
}

em{
    background-color: #fcc33a !important;
}

.search-desc em{
    background-color: #57b029 !important;
}

.ms-ctn.form-control{
    border: 1px solid #efefef;
}

.magicsuggest input{

}

.stylish-input-group{
    margin-bottom: 15px;
}
.stylish-input-group input{
    border-right: 0px !important;
    border-radius: 3px 0px 0px 3px !important;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    box-shadow: 0 -2px 3px 0 #efefef !important;
    border:1px solid #e5e5e5;
    border-left: 0px !important;
    border-radius: 0px 3px 3px 0px !important;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.stylish-input-group button span{
    color: #61AF2C;
}

@media (max-width:991px)
{
    .btn-search-custom , .btn-search-custom:hover{
        background-color: #61af2c;
        color: white;
        font-size: 14px;
        font-weight: normal;
        height: 50px;
        line-height: 34px !important;
        width: 185px;
        top:12px;
    }

}