/*.bootstrap-switch{*/
    /*border-radius: 50px;*/
    /*border-color: #61B02B;*/
    /*border-width: 2px;*/
    /*height: 23px;*/
    /*width: 41px !important;*/
    /*float: right;*/
/*}*/
/*.bootstrap-switch-container{*/
    /*height: 15px;*/
    /*width: 38px !important;*/
/*}*/
/*.bootstrap-switch.bootstrap-switch-focused{*/
    /*border-color: #61B02B;*/
/*}*/
/*.bootstrap-switch-on{*/
    /*background: #61B02B;*/
/*}*/
/*.bootstrap-switch-off{*/
    /*background: #E7E9EF;*/
/*}*/
/*.bootstrap-switch-container .bootstrap-switch-handle-on{*/
    /*color:#61B02B !important;*/
    /*background: #61B02B !important;*/
/*}*/
/*.bootstrap-switch-container .bootstrap-switch-handle-off{*/
    /*color:#E7E9EF !important;*/
/*}*/
.end-contract .desc-short-end-contract{
    color: #000;
}
/*.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label{*/
    /*border-radius: 50% !important;*/
    /*padding: 0px !important;*/
    /*height: 19px;*/
    /*width: 19px;*/
/*}*/

.bootstrap-switch-handle-on.bootstrap-switch-green, .bootstrap-switch-handle-off.bootstrap-switch-green{
    padding: 2px 9px 9px 8px !important;
    color: #fcfcfc !important;
    background: #57b029 !important;
    height: 45px !important;
}

.setFJJOBPAGE {
    min-width: 175px;
}
.setMSGPAGECF{
    overflow: unset;
}

.setRowIMNFCSSMessage{
    margin-top:4.4%;
}

html:lang(cn) .setFVJ {
    margin-right: 52px !important;
}

.setINPUTFMSGP{
    display:none !important;
}

.setFJJOBPAGE .setLILI a {
    padding: 11px 20px !important;
}
.setFVJ {
    position: relative !important;
    right: -2px !important;
    margin-right: -11px !important;
}
.setFFL {
    position: relative;
    right: -2px
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setRowIMNFCSSMessage {
        margin-top: 3%;
    }
}
#modalMakeOffer .modal-footer{
    background-color: #F7F7F7;
}

#modalMakeOffer .modal-body{
    padding-top: 0px;
    padding-bottom: 0px;
}

.setspantimesclose{
    font-size: 18px;
    line-height: 14px;
    font-weight: bold;
    display: grid;
}

#modalMakeOffer .modal-footer{
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#modalMakeOffer .modal-footer hr{
    margin-top: 0px;
}

.apply-job-modal .modal-content{
    border-radius: 5px !important;
}

.apply-job-modal .modal-header{
    background: #FCFCFC !important;
    padding: 15px 30px !important;
    border-radius: 5px 5px 0px 0px;
}

.apply-job-modal .modal-header h4{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.apply-job-modal .modal-header .btn{
    border: 1px solid #d9d9d9 !important;
    background: #fff !important;
    color: #BDBDBD !important;
    padding: 5px;
    border-radius: 3px;
}

.apply-job-modal .modal-body{
    padding: 15px 30px !important;
    background: #F7F7F7 !important;
    border-radius: 0px 0px 5px 5px;
}

.apply-job-modal .modal-body .btn-submit{
    background: #58af2a none repeat scroll 0 0;
    border: 1px solid #58af2a !important;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-transform: none;
}

.apply-job-modal .modal-body .form-group label{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.apply-job-modal .modal-body .form-control{
    border: 1px solid #e0e8ea;
    height: 45px;
    /*font-style: italic;*/
}

.apply-job-modal .modal-body textarea{
    height: 185px !important;
}

.apply-job-modal .modal-body .content-group img{
    width: 25px;
    height: auto !important;
}

.apply-job-modal .modal-body .content-group .input-group-addon{
    min-width: 50px;
    background: #F7F7F7;
    border-color: #e0e8ea;
}

.input-group-addon{
    padding:unset;
}
/********************
* switch
********************/

.bootstrap-switch{
    height: 45px;
    margin-left: 16px;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: #337ab7;
    width: 35px !important;
    height: 45px;
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 0;
    width: 45px;
}

.bootstrap-switch-container{
    height: 45px;
}

.bootstrap-switch-handle-on, .bootstrap-switch-handle-off{
    padding-top: 10px !important;
}

.bootstrap-switch-handle-on.bootstrap-switch-green, .bootstrap-switch-handle-off.bootstrap-switch-green {
    color: #fcfcfc;
    background: #57b029;
    height: 47px;
    padding: 10px 4px 6px 3px !important;
    width:95px !important;
}

.bootstrap-switch .bootstrap-switch-label{
    padding: 10px 12px;
}

/********************
* modal error message
********************/

.alert-danger{
    background-color: #fcfcfc;
    border-radius: 100px;
    border: solid 1px #ffbebe;
}

#model-alert-container .close
{
    background-image: none !important;
}
.lb-loader,.lightbox{text-align:center;line-height:0}body:after{content:url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);display:none}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}