.container-cells .custom-width-col-5{
    width:50%;
    padding-left: 0px;
    padding-right: 0px;
}

.conatiner-tabs{
    padding: 0px;
}

.container-cells .custom-width-col-4{
    width:31%;
}

.container-cells .custom-width-col-3{
    width:26%;
}

.btn-add-user{
    font-size: 15px;
    position: relative;
    top: 6px;
    left: 5px;
    border-radius: 35px;
    background-color: #25ce0f;
    color: #fff;
    border: 0px;
    /*padding:17px 32px 17px 32px;*/
    font-weight: bold;
}

/*tabs view*/

/* Style the buttons inside the tab */

#chat_room{
    border:0px !important;
}

.chat-user-inner-name{
    font-size: 15px;
    font-weight: bold;
    color: #1e2349;
}
.chat-user-status{
    font-size: 10px;
    color: #979797;
    font-weight: 600;
    position: relative;
    top:-7px;
}

.container-chat-section {
    background-color: #f6f6f6;
    width: 100%;
    height: 800px;
}
.search-header-chat-room {
    background-color: #00cf00;
    padding:10px;
    height: 60px;
}

.search-box input {
    border:0px;
    border-radius: 20px;
    width:100%;
    background-color: #80e780;
    float: right;
    color: #fff;
}
.search-box input::placeholder {
    color: #fff;
}

.fa-search-chat{
    position: relative;
    right: 24px;
    display: flex !important;
    align-items: center;
    color: #fff;
}

.chat-user-list span{
    color: #979797;
    font-size: 16px;
    font-weight: 600;
}
.chat-user-list{
    padding: 22px 16px;
    text-align: left;
}

.hr-chat-divider{
    margin:0px;
}

.search-box{
    display: inline-flex;
    float: right;
    width:30%;
    padding-right: 15px;
}

.chat-user-detail-header{
    float: right;
    width:20%;
    color:#fff;
}

.chat-user-name{
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 12px;
}

.chat-user-role{
    font-weight: bold;
    font-size: 9px;
    padding-left: 12px;
    position: relative;
    top: -6px;
}

.chat-user-detail-header img{
    position: relative;
    left: 5px;
    top: 4px;
    cursor: pointer;
}

.chat-user-drop-down {
    float: right;
}

.chat-user-drop-down img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.chat-user-drop-down{
    position: relative;
    top: -7px;
}

/*about chat users*/

#about{
    border:0px !important;
}

.custom-width-defined img{
    width:46px;
    object-fit: cover;
    height:46px;
    border-radius: 25px;
}

.about-chat-user{
    height:600px;
    background-color: #fff;
    box-shadow: 4px 7px 6px -2px #dadada;
    margin-top:12px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    padding-top:20px;
}

.about-chat-user img{
    width: 67.13px;
    height: 71.8px;
}

.user-name-about-section{
    color:#1e2349;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
}
.user-live-about-section{
    font-size: 9px;
    color: #a7a7a7;
    font-weight: bold;
    word-wrap: break-word;
}
.user-live-about-section-border{
    border-bottom: 1px solid #e3e4e6;
    margin-top:5px;
    margin-bottom: 0px;
    width:50%;
}

.about-us .about-text{
    display: inline-flex !important;
    font-size: 14px !important;
    color: #979797 !important;
    cursor: pointer !important;
}

.tabs-section-about-us{
    position: relative;
}

.about-us img{
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.custom-tab-content{
    position: absolute;
    top: 73px;
    width: 100%;
    left: 0;
    margin: 0 auto;
    max-width: 220px;
    display: block;
    right: 0;
}

.chat-image-avatar img{
    width: 42.99px;
    height: 45.99px;
}

.kick-user{
    color:#7f7f7f;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    width: 95%;
    cursor: pointer;
}

.user-icon-about-us{
    padding:15px;
    padding-top:0px;
    padding-right:6px;
}

.about-user-name .name-S{
    font-weight: bold;
    color: #979797;
    font-size: 12px;
}

.about-user-name .full-name-S{
    font-weight: 600;
    color: #979797;
    font-size: 10px;
    position: relative;
    top: -7px;
}

.phone-details{
    text-align:left;
    display: flex;
}

.email-details{
    text-align:left;
    display: flex;
}

.phone-image{
    padding:15px;
    padding-top:0px;
    padding-right:6px;
}

.phone-image img{
    width: 17px;
    height: 20px;
}

.email-image {
    padding:15px;
    padding-top:0px;
    padding-right:5px;
    position: relative;
    right: 2px;
}

.email-image img{
    width: 20px;
    height: 17px;
}

.skill-image{
    padding:15px;
    padding-top:0px;
    padding-right:5px;
    position: relative;
    right: 2px;
}

.skill-div {
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    float: none;
    display: inline-flex;
}

.skill-info .full-number-C {
    color: #979797;
    font-weight: 600;
    font-size: 10px;
    position: relative;
    top: 8px;
    left: 23px;
}

@media (max-width:2000px)
{
    .skill-info {
        position: absolute;
        left:0px;
        width: 100%;
    }
}
.skill-info .number-C {
    color: #979797;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    left: 39px;
}

.item-skill.official {
    background-color: #f9d23f !important;
    padding-left: 3px !important;
    border: none;
    color: #fff !important;
    padding: 3px 10px 5px 10px;
    border-radius: 20px;
    text-align: center;
}

.item-skill.admin-verified {
    background-color: #25ce0f !important;
    padding-left: 3px !important;
    border: none;
    color: #fff !important;
    padding: 3px 10px 5px 10px;
    border-radius: 20px;
    text-align: center;
}

.admin-verified .fa-check{
    border: 1px solid;
    border-radius: 10px;
    font-size: 10px;
    padding-right: 2px;
    padding-left: 2px;
}

.item-skill span {
    display: inline-block;
    font-family: 'Montserrat Light', Arial !important;
}

.item-skill{
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    padding: 3px 7px;
}

.item-skill img{
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 11px;
    padding: 2px;
}
.skill-image img{
    width: 20px;
    height: 17px;
}

.contact-info{
    position: relative;
    top: -6px;
}

.contact-info .number-C{
    color: #979797;
    font-weight: bold;
    font-size: 12px;
}

.contact-info .full-number-C{
    color: #979797;
    font-weight: 600;
    font-size: 10px;
    position: relative;
    top: -6px;
}


.about-user-name{
    text-align: left;
    position: relative;
    top:-6px;
}

.about-us-info{
    display: flex;
}

.user-icon-about-us img{
    width: 17px;
    height: 20px;
}

.about-us-nav-tabs .about-us {
    /*border-bottom:1px solid #25ce0f !important;*/
}

.about-us-nav-tabs .settings {
    /*border-bottom:1px solid #25ce0f !important;*/
}

.about-us-nav-tabs{
    border-bottom: 1px solid #979797 !important;
}

.about-us-nav-tabs .active, .active a{
    border-bottom: 1px solid #25ce0f !important;
    display: inline-flex;
}


.chat-image-avatar{
    float: left;
}

.chat-inner-details {
    float: left;
}

.chat-user-online-status {
    float: right;
    text-align: right;
}

#settings{
    border:0px !important;
}

.hr-tabs{
    border-bottom: 1px solid #979797;
    width: 95%;
}

.block-user{
    color:#7f7f7f;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    width: 95%;
    cursor: pointer;
}

.settings .setting-tab{
    display: inline-flex !important;
    font-size: 14px !important;
    color: #979797 !important;
}

.tabs-about{
    display: inline-flex;
}

.settings {
    cursor: pointer;
    color: #979797;
    margin-bottom: 3px;
}

.settings .fa{
    color: #B0B0B0;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.chat-inner{
    height:600px;
    background-color: #fff;
    box-shadow: 4px 7px 6px -2px #dadada;
    margin-top:12px;
}

.chat-inner-list{
    display: inline-block;
    padding:7px;
    width: 100%;
}

.chat-inner-list:hover{
    cursor: pointer;
    background-color: #ebebeb;
}

.image-user-chat img{
    width:46px;
    height:46px;
    border-radius: 25px;
    object-fit: cover;
}

.message-inner-right .download-attachment{
    border: 0px !important;
    text-decoration: none !important;
}

.inner-message-right .fa-times{
    position: relative;
    left: -7px;
    z-index:999;
    cursor: pointer;
    top: -20px;
    /*border: 1px solid lightgray;*/
    /*border-radius: 20px;*/
    color: #555;
    display: inline-block;
}

.color-dots{
    color:gray;
    font-size: 21px;
}

.inner-message .fa-times{
    position: relative;
    left: 20px;
    cursor: pointer;
    top: -20px;
    border-radius: 20px;
    color: #555;
    display: inline-block;
}

.chat-user-online-status{
    text-align: center;
    padding-left: 7px;
    padding-top: 2px;
    width: 20%;
}


.section-inner-user-list {
    height: 446px;
    padding: 0px;
}


.ago-status{
    font-size: 7px;
    font-weight: bold;
    color: #979797;
}

.online-dot{
    height: 8px;
    width: 8px;
    background-color: #25ce0f;
    border-radius: 50%;
    display: inline-block;
}

.custom-padding-col-md-3{
    padding-right:0px;
}

.chat-group-section{
    color:#979797;
    font-size: 20px;
    font-family: Montserrat, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.chat-message-section {
    height: 464px;
    padding-bottom: 15px;
}
.float-right-inner-chat{
    text-align: right;
    list-style: none;
    margin-bottom: 41px;
}

.input-type-file{

}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.inner-chat-user-name-right{
    color: #979797;
    font-size: 8px;
    font-weight: bold;
    display: -webkit-box;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.showBox{
    height:30px;
    width:30px;
}

.message-inner-right{
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: 0px;
    max-width: 70%;
    background: #fff;
    border-radius: 12px;
    display: inline-flex;
    min-height: 40px;
    padding-right: 12px;
    position: relative;
    color: #fff;
    right: 20px;
}

/* this CS forms the triangles */
.message-inner-right:after,
.message-inner-right:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}


/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.message-inner-right:after {
    top: 15px;
    border-color: transparent transparent transparent #fff;
    border-width: 10px;
}

/* this border color controlls the outside, thin border */
.message-inner-right:before {
    top: 15px;
    border-color: transparent transparent transparent #fff;
    border-width: 11px;
}

/*over lay*/
.no-click{
    pointer-events: none;
}
/*over lay*/

.custom-width-defined{
    float: right;
    width:10%;
    text-align: center;
    padding-left: 10px;
}

.message-inner-right p{
    color: #979797;
    margin-bottom: 18px;
    word-wrap: break-word;
}

.inner-message-right .fa-caret-right{
    font-size: 30px;
    display: inline;
    position: relative;
    top: 10px;
    right: 7px;
    color: #fff;
}

.inner-message-right{
    padding: 5px 0;
    margin: 0px auto;
    font-size: 12px;
}

.image-user-chat-right{
}

.inner-message{
    padding: 5px 0;
    margin: 0px auto;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.inner-message .fa-caret-left{
    font-size: 30px;
    text-align: right;
    color:#fff;
    width: 6%;
}

.image-user-chat{
    text-align: center;
    width:10%;
}

.inner-chat-user-name{
    color:#979797;
    font-size: 8px;
    font-weight: bold;
}

.changeColor{
    border: 1px solid red;
}

.message-inner p{
    color:#979797;
    padding-right: 10px;
    word-wrap: break-word;
}

.caret-image{
    top:-28px !important;
}

.set-fa-times{
    top: -38px !important;
}

.message-inner {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: 0px;
    max-width: 70%;
    padding-right: 12px;
    background: #fff;
    border-radius: 12px;
    min-height: 40px;
    position: relative;
    color: #fff;
    left: 30px;
}

/* this CS forms the triangles */
.message-inner:after,
.message-inner:before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    transform: rotate(-183deg) !important;
}


/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.message-inner:after {
    top: 15px;
    border-color: transparent transparent transparent #fff;
    border-width: 10px;
}

/* this border color controlls the outside, thin border */
.message-inner:before {
    top: 15px;
    border-color: transparent transparent transparent #fff;
    border-width: 11px;
}

.message-inner-chat{
    list-style: none;
    padding-left: 5px;
}

.chat-send-message-box input{
    height: 65px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 4px 7px 6px -2px #dadada !important;
    padding-right: 80px;
}

.chat-send-message-box .paper-send{
    background-color: #25ce0f;
    border-radius: 20px;
    position: relative;
    padding: 17px;
    top: -49px;
    right: 6px;
    float: right;
}


.paper-clip{
    text-decoration: none !important;
    border: 0px !important;
    float: right;
}

.chat-send-message-box .fa-paper-plane {
    position: absolute;
    bottom: 12px;
    font-size: 19px;
    right: 9px;
    color: #fff;
    transform: rotate(45deg);
}

.chat-send-message-box .fa-paperclip {
    transform: rotate(45deg);
    position: relative;
    top: -38px;
    cursor: pointer;
    right: 76px;
    font-size: 25px;
    color:#8e8f93;
}

.chat-inner-details{
    padding-left: 5px;
    padding-top: 8px;
}

.custom-padding-col-3{
    padding-left:0px;
}

.section-see-more {
    text-align: center;
    color: #979797;
    cursor: pointer;
    margin-top: 0px;
    padding: 21px;
}

.arrow-down{
    width: 11px;
    height: 5px;
    padding-left: 2px;
}

.chat-section-center{
    height: 300px;
}

/*about chat users*/

.check-that-time{
    position: absolute;
    text-align: right;
    right: 60px;
    top:156px;
}

.activatedClass{
    background-color: #EBEBEB;
}

/*slide effect*/
    .custom-width-slide{
        width:75%;
    }

    .removeCustomWidth{
        width:50%;
    }
/**slide effect/
 */

@media (max-width:991px) {
    .chat-inner {
        height: 145px;
        background-color: #fff;
        box-shadow: 4px 7px 6px -2px #dadada;
        margin-top: 12px;
    }
    .custom-padding-col-md-3 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .custom-width-slide {
        width: 100%;
    }
    .chat-send-message-box .paper-send {
        background-color: #25ce0f;
        border-radius: 20px;
        position: relative;
        padding: 17px;
        top: -49px;
        right: 0px;
        float: right;
    }
    .chat-send-message-box .fa-paperclip {
        transform: rotate(45deg);
        position: relative;
        top: -38px;
        cursor: pointer;
        right: 58px;
        font-size: 25px;
        color: #8e8f93;
    }
    .custom-width-defined {
        float: right;
        width: 55px;
        text-align: center;
        padding-left: 10px;
    }
    .custom-padding-col-md-3 {
        padding-right: 6px;
        padding-left: 6px;
    }
    .check-that-time {
        position: absolute;
        text-align: right;
        right: 60px;
        margin-top: -23px;
        top: 95px;
    }
}

@media (max-width: 767px) {
    .tab-pane-container .row{
        display: block;
    }
    .search-box{
        display: inline-flex;
        float: right;
        width:55%;
        padding-right: 15px;
    }

    .chat-user-detail-header {
        float: right;
        width: 30%;
        color: #fff;
    }
}

@media (max-width:500px) {
    .chat-user-name {
        margin: 0px;
        font-weight: bold;
        font-size: 12px;
        padding-left: 12px;
    }
    .chat-user-drop-down img {
        width: 40px;
        height: 40px;
        border-radius: 25px;
        object-fit: cover;
    }
    .ulLi {
        overflow: scroll;
    }
    .conatiner-tabs {
    }

    .conatiner-tabs .nav-tabs{
        width: 200%;
    }
}

@media (max-width:390px) {
    .conatiner-tabs .nav-tabs {
        max-width: fit-content;
        display: flex;
    }
    .chat-user-detail-header img {
        position: relative;
        left: 5px;
        top: 4px;
        cursor: pointer;
        width: 10px;
    }
}


@media (max-width: 320px) {
    .chat-user-name {
        margin: 0px;
        font-weight: bold;
        font-size: 9px;
        padding-left: 12px;
    }
}
