.profile-sidebar{float:left;width:300px;margin-right:20px}.profile-content{overflow:hidden}.profile-sidebar-portlet{padding:30px 0 0!important}.profile-userpic img{float:none;margin:0 auto;width:50%;height:50%;-webkit-border-radius:50%!important;-moz-border-radius:50%!important;border-radius:50%!important}.profile-usertitle{text-align:center;margin-top:20px}.profile-usertitle-name{color:#5a7391;font-size:20px;font-weight:600;margin-bottom:7px}.profile-usertitle-job{text-transform:uppercase;color:#5b9bd1;font-size:13px;font-weight:800;margin-bottom:7px}.profile-userbuttons{text-align:center;margin-top:10px}.profile-userbuttons .btn{margin-right:5px}.profile-userbuttons .btn:last-child{margin-right:0}.profile-userbuttons button{text-transform:uppercase;font-size:11px;font-weight:600;padding:6px 15px}.profile-usermenu{margin-top:30px;padding-bottom:20px}.profile-usermenu ul li{border-bottom:1px solid #f0f4f7}.profile-usermenu ul li:last-child{border-bottom:none}.profile-usermenu ul li a{color:#93a3b5;font-size:16px;font-weight:400}.profile-usermenu ul li a i{margin-right:8px;font-size:16px}.profile-usermenu ul li a:hover{background-color:#fafcfd;color:#5b9bd1}.profile-usermenu ul li.active a{color:#5b9bd1;background-color:#f6f9fb;border-left:2px solid #5b9bd1;margin-left:-2px}.profile-stat{padding-bottom:20px;border-bottom:1px solid #f0f4f7}.profile-stat-title{color:#7f90a4;font-size:25px;text-align:center}.profile-stat-text{color:#5b9bd1;font-size:11px;font-weight:800;text-align:center}.profile-desc-title{color:#7f90a4;font-size:17px;font-weight:600}.profile-desc-text{color:#7e8c9e;font-size:14px}.profile-desc-link i{width:22px;font-size:19px;color:#abb6c4;margin-right:5px}.profile-desc-link a{font-size:14px;font-weight:600;color:#5b9bd1}@media (max-width:991px){.profile-sidebar{float:none;width:100%!important;margin:0}.profile-sidebar>.portlet{margin-bottom:20px}.profile-content{overflow:visible}}
.personal-info{
    background-color: #fff;
    padding-top: 30px !important;
    border: 1px solid #e9e9e9;
}

.order-status-menu{
    padding-top: 10px;
}

.setRNUStars{
    text-align: -webkit-center;
}

.setConfirmAdd{
    background-color: #289d3e !important;
    border-radius: 5px;
    width: 144px;height:44px;
}

.set-padd-modal-footer-set-rate{
    padding-bottom: 30px;
}

#setvancekbtn{
    width: 144px;height:44px;
    background-color:#acacac;
    color:#fff;
    border-radius: 5px;
}

.set-fa-fa-stars-getDetails-page{
    color: #f4b00e;
    font-size: 24px;
    font: normal normal normal 14px/1 FontAwesome !important;
    float: none !important;
    /* display: flex; */
    font-size: 20px !important;
    margin: 0px;
    position: relative;
    left: 10px;
}

.set-fa-faangle-left-resume-page{
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: 17px !important;
}

.order-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}

.order-status-menu li.active {
    border-bottom: 5px solid #008fd5;
}

/*
    Comment info
*/
.portlet.box > .portlet-title{
    color: #000;
}

.gray-box{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.complete-time, .order-id{
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.column{
    padding-top: 10px;
    padding-left: 35px;
}

.new-order a:hover{
    text-decoration: none;
}

.link{
    padding-left: 10px;
    padding-right: 10px;
}

.location{
    color: #999999;
}

.delete-info{
    padding-top: 10px;
}

.commenter li{
    display: inline;
    list-style: none;
    background-color: #659be0;
    color: #ffffff;
    padding: 5px;
}

/*
    personal info
*/
.personal-profile{
    padding-top:10px;
    padding-left: 35px;
    padding-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.personal-profile .gray-box{
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-profile ul{
    padding: 0px;
    margin-top: 10px;
}

.personal-profile .skill-div {
    margin-top: 10px;
    height: 35px !important;
    display: inline;
    float: left;
    padding-left: 0 !important;
}

.personal-profile .item-skill.official {
    background-color: #f9d23f !important;
    border: none;
    color : #fff !important;
}

.personal-profile .item-skill.success {
    background-color: #5dba2c !important;
    border: none;
    color : #fff !important;
}

.personal-profile p {
    font-size : 14px;
    color : #808080;
}

.personal-profile .item-languages{
    border: 1px solid #fff;
    display: inline-block;
}

.personal-profile .item-languages span{
    display: block;
    margin-top: 14px;
    margin-left: 14px;
    min-height: 42px;
    max-width: 80px;
    color : #808080;
    font-size: 16px;
    font-family: 'Montserrat Light', Arial !important;
}

.personal-profile .profile-userpic img{
    width: 159px;
    height:159px;
    border: 4px solid #fafafa;
    margin-bottom: 20px;
}

.personal-profile .name {
    margin-top: 10px;
    color :  #404040;
    font-size: 26px;
    letter-spacing: 1px;
    display:block;
    text-align: center;
}

.profile-image .fa {
    color : #57b029;
}

.profile-image .login-time {
    color : #999999;
    font-size  : 12px;
}

.profile-image .login-time-details {
    color : #656565;
    font-size  : 14px;
    font-style: italic;
}

.profile-image button {
    background-color : #57b029;
    margin-top: 16px;
    text-transform: capitalize !important;
}

.profile-image button:hover {
    background-color : #57b029 !important;
}

.gray01 {
    background-color: #c2cad8;
}

.btn.gray01:hover{
    background-color: #b8c0cd;
}

.link.details{
    padding-right: 15px;
}

.btn-evaluation{
    padding-left: 100px;
    padding-right: 100px;
}

.user-info{
    padding-top: 5px;
}


.user-info .fa-star{
    color : #f4b00e;
    font-size: 24px;
}

.set-ModalChangeUserName{
    background-color: #289d3e !important;
}

.user-info .fa-check-circle{
    color : #57b029;
    font-size :14px;
    position: absolute;
    margin-top: 5px !important;
    font: normal normal normal 14px/1 FontAwesome;
}

.user-info .fa-edit{
    color : #656565;
    font-size: 18px;
}

.user-info .clearfix {
    margin-top: 5px;
}

.basic-info .subtitle{
    color : #666666;
    font-size : 14px;
    text-transform: uppercase;
}

.basic-info .full-name{
    color : #404040;
    font-size : 26px;
    clear: both;
    text-transform: capitalize;
    /*font-weight: 600;*/
}

.basic-info small{
    color : #999999;
    font-size : 14px;
}

.basic-info .details{
    color : #808080;
    font-size : 16px;
    font-family: 'Montserrat Light', Arial !important;
}

.basic-info .status{
    color : #57b029;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}



.item-skill {
    border-radius: 30px;
    background-color: #fff;
}

.comment-tab{
    padding: 15px;
}

.btn-complain{
    background-color: #dae0e6;
}

.img-auth{
    float: none !important;
}


.user-info img {
    margin-right: 0px;
}

/*Tab*/

.tab li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.tab li.active{
    border-bottom: 5px solid #008fd5;
    padding-bottom: 15px;
}

/*Rating*/
.rate-label{
    padding-top: 5px;
}

.rating-16 {
    font-size: 16px;
}

.rating-12 {
    font-size: 12px;
}

.star-caption{
    font-size: 12px;
    color: #ffb344;
    background-color: #fff;
    font-weight: 900;
}

.rating-container .caption{
    padding-top: 8px;
}

.rating-container .filled-stars{
    color: #ff9800;
}

/*Modal Tailor Detail*/
.modal-dialog .portlet-body{
    padding: 15px;
}

.div-ttl-comment{
    padding-top: 10px;
}
.ttl-comment{
    border-bottom: 5px solid #008fd5;
    padding-bottom: 15px;
}

.sect-choose,
.sect-user-comment{
    padding: 15px;
}

.hr-line{
    margin: 0;
}

.rate-value{
    font-size: 60px;
    color: #659be0;
    padding-left: 30px;
    font-weight: 900;
}

.ttl-eval, .no-vote{
    color: #659be0;
    font-weight: 900;
}

.sect-star02 .star{
    color: #cccccc;
}

.no-star{
    color: #959595;
}

.sect-star01 {
    padding-top: 20px;
}

.sect-star02,
.sect-rate-histogram{
    padding-top: 25px;
    padding-left: 30px;
}

/*Rating Histogram*/
.histo {
    float: left;
    width: 80%;
    font-size: 8px;
}

.histo-star {
    float: left;
}

.histo-rate {
    width: 100%;
    display: block;
    clear: both;
}

.bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
}

.bar {
    padding: 5px;
    display: block;
}

#bar-five {
    width: 0;
    background-color: #eff5fc;
}

#bar-four {
    width: 0;
    background-color: #e0ebf9;
}

#bar-three {
    width: 0;
    background-color: #c1d7f3;
}

#bar-two {
    width: 0;
    background-color: #a3c3ec;
}

#bar-one {
    width: 0;
    background-color: #659be0;
}

/*User Comment*/
.user-comment .user-rate td{
    padding-top: 10px;
}

.user-comment .order-id{
    text-align: center;
    padding-top: 10px;
}

.user-comment .post-datetime{
    text-align: right;
    padding-top: 10px;
}

.user-comment .profile-userpic img{
    width: 90%;
}

.user-comment p {
    line-height: 30px;
}

/*Modal Arrow*/
.right-arrow{
    /*margin-right: -40px;*/
    margin-right: -90px;
}

.left-arrow{
    margin-left: -30px;
}

.right-arrow a,
.left-arrow a{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
}

.profile-image.next-tailor{
    width: 50%;
    padding-top: 35px;
}

.usercenter.link-div {
    padding-left: 0 !important;
}

.usercenter.link-div a{
    color : #57b029;
    font-size: 18px;
    font-weight: bold;
}

.usercenter.link-div a span{
    margin-right: 10px;
    font-weight: bold;
    font: normal normal normal 15px/1 FontAwesome;
}

.usercenter.sidebar-title-div span{
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #808080;
}

.similar-profiles h5{
    color : #4d4d4d;
    font-weight: 600;
    font-size : 20px;
    letter-spacing: 1px;
}

.divSkills > .skill-div > .item-skill {
            margin-left: 0px;
}
.set-currency-rate{
    margin:0px;
    text-transform: capitalize !important;
    font-size: 16px;
    color:#000000;
    font-weight: 600;
    margin-bottom: 5px;
}

#tbxHourly{
    height:41px;
}

#currency{
    height:41px;
}

.set-exchange-icon{
    text-align: right;
}

.exchange-icon{
    position: relative;
    right: 82px;
    cursor: pointer;
}

.set-calculate-form-group{
    margin-bottom: 0px !important;
}

#tbx_monthly_pay{
    height:41px;
}

.set-hourly-rate{
    margin-bottom: 5px !important;
    margin:0px;
    font-weight: 600;
    text-transform: capitalize !important;
    font-size: 16px;
    color:#000000;
}

.set-monthly-rate{
    margin:0px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: capitalize !important;
    font-size: 16px;
    color:#000000;
}

.similar-profiles .fa{
    color : #57b029;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size :14px;
}

.similar-profiles span{
    color : #8c8c8c;
    font-size : 14px;
}

.similar-profiles a{
    color : #57b029;
    font-size : 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.review {
    background-color: #fff;
    padding: 30px !important;
    border: 1px solid #e9e9e9;
}

.review .full-name{
    color : #404040;
    font-size : 26px;
    clear: both;
    text-transform: capitalize;
    display: block;
    /*font-weight: 600;*/
}

.review .date{
    color : #404040;
    font-size : 12px;
    text-transform: uppercase;
}

.review .star {
    color : #f5b422;
    font: normal normal normal 14px/1 FontAwesome !important;
}

.review .fa-check-circle{
    color : #57b029;
    font-size :14px;
    font: normal normal normal 14px/1 FontAwesome !important;
    position: absolute;
    margin-top: 5px !important;
}

.review .project-id{
    color : #999999;
    font-size :12px;
    text-transform: uppercase;
}

.review blockquote{
    color : #999999;
    font-size :14px;
    font-style: italic;
    border: 0;
    padding: 0;
    margin-top: 10px !important;
}

/*
    Admin Review
*/

.admin-review{
    background-color: #fff;
}
.div-container{
    border: 1px solid #e5e5e5 !important;
}

.contacts-info .contacts-info-sub{
    padding: 29px;
}
.contacts-info .contacts-info-sub img{
    width: 25px;
}
.contacts-info .contacts-info-sub span{
    padding: 5px;
    color: #7d7d7d;
    font-weight: 600;
}
.contacts-info .contacts-info-sub p{
    margin: 10px 0px 0px 0px;
    color: #B1B1B1;
    font-size: 16px;
}
.contacts-info .contacts-info-edit{
    padding: 32px 30px 32px 0px;
}
.contacts-info .contacts-info-edit a{
    color: #58AF2A;
}

.personal-portfolio-empty{
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: 120px 0px;
    text-align: center;
}
.personal-portfolio-empty h5{
    margin-bottom: 50px;
    margin-top: 0px;
    color: #737373;
}
.personal-portfolio-empty img{
    height: 230px;
    width: 305px;
}
.main-well-custom .tabbable-line > .tab-content{
    padding: 15px !important;
}

.page-content-wrapper{
    margin-top: 15px;
}
.alert, .badge, .btn, .btn-group > .btn, .btn.btn-link:hover, .icon-btn, .label, .list-group1, .md-shadow-z-1, .note, .panel, .social-icons li > a, .social-icons.social-icons-color > li > a, .well{
    box-shadow: 0px 0px !important;
}
div.profile-details div.skill img{
    width: 22px;
    padding: 3px;
    border: 1px solid #fff;
}
div.profile-details div.skill{
    height: 31px !important;
}
div.profile-details div.label img{
    margin-top: -5px;
}
div.profile-details div.language img{
    width: 30px;
}
.qrcode{
    /*margin-top: 35px; */
}
.personal-info{
    border: 0px !important;
}
.review {
    border: 0px solid #e9e9e9 !important;
}
div.personal-info{
    max-width: 100% !important;
    width: 100%;
    overflow: hidden;
}
div.personal-info div{
    height: auto !important;
}
div.personal-info .left-div{
    padding:0px 15px !important;

}

div.personal-info .left-div .row {
    margin-bottom: 0px;
}
.user-img-main{
    position: relative;
}
.user-img-main .col-md-3{
    position: unset;
}
.user-img-main .btn{
    margin-top: 6px;
}
.user-img-main .dropdown-menu{
    position: absolute;
    width: 100%;
    top: 235px;
    box-shadow: 0 0 5px 0 #c1c1c1 !important;
}
.user-img-main .dropdown-menu .contacts-info:before{
    border: 15px solid #c1c1c1;
    content: '';
    position: absolute !important;
    top: -30px;
    border-color: transparent;
    border-bottom-color: #c1c1c1;
    left: 80px;
}

.setMUPBTNN2{
    width:135px;
}
.user-img-main .dropdown-menu .contacts-info:after{
    border: 14px solid #fff;
    content: '';
    position: absolute !important;
    top: -28px;
    left: 81px;
    border-color: transparent;
    border-bottom-color: #fff;
}

.icon-github {
    background: no-repeat url('../img/github-16px.png');
    width: 16px;
    height: 16px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.accordion {
    margin-bottom: -3px;
}

.accordion-group {
    border: none;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.user-title
{
    font-size: 15px;
    border: 1px solid #c1c1c1;
    margin-left: 50px;
    padding: 2px 10px 2px 10px;
}

.job_title
{
    padding: 10px 10px 10px 150px;
    position: absolute;
}

.label-custom .label-color {
    color: #fff;
    background: #58AF2A;
}

.label-custom label {
    font-weight: normal;
    text-transform: none;
    padding: 4px 15px 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.personal-info-designer .designer{
    color: #BCBCBC;
    font-size: 12px;
    line-height: 6px;
    margin: 0;
}

.personal-info-designer .desh{
    float: left;
    line-height: 37px;
    margin: 0;
    padding-right: 20px;
    color: #BCBCBC;
}

.personal-info-btn .btn-custom{
    background-color: #58AF2A !important;
    color: white;
    margin-top: 0px !important;
    padding: 8px 15px !important;
}

img.qrcode{
    margin-left: 0px;
    float: right;    
}

.edit-icon-link{
    padding-left: 15px;
    color: #56B02A;
}

.profile-picture-main{
    overflow: hidden;
    position: relative;
}

.profile-picture-main .camera-icon{
    background-color: #C7C7C7;
    background-color: rgba(173, 171, 172, 0.7);
    border-radius: 50%;
    bottom: 10px;
    left: 70px;
    padding: 5px 7px;
    position: absolute;
    color: #C7C7C7;
}

.skill.logo2{
    background-color: #f8d23f;
    padding-left: 5px !important;
    padding-top: 4px !important;
    color: white !important;
    border-color: #f8d23f !important;
}

.skill.logo2 img{
    border-radius: 50%;
}

.skill.checked{
    background-color: #5DBA2D;
    padding-left: 5px !important;
    padding-top: 4px !important;
    color: white !important;
    border-color: #5DBA2D !important;
}

.skill.checked img{
    border-radius: 50%;
}

.btn-personal-info,
.btn-personal-info:hover,
.btn-personal-info:focus
{
    background-color: #57b029;
    color: #fff;
    border-radius: 5px;
}

.div-personal-info{
    text-align: right;
    padding-right: 0px;
}

.btn-personal-info i
{
    font-size: 14px;
}

.fa.edit{
    padding-left: 10px;
    color: #57b029;
}

.ms-ctn
{
    background-color: #fff;
    border-radius: 5px;
    /*margin-top: 10px;*/
}

.ms-ctn-focus {
    /*border-color: #fff;*/
}

#msSkills.ms-ctn .ms-sel-item {
    background: #57b029;
    color: #fff;
    border: 1px solid #84c165;
    padding: 5px 10px;
}

#msSkills .ms-sel-ctn .ms-sel-item .ms-close-btn{
    background-image: url('../../../images/ms-close.png');
}

.ms-ctn input{
    padding: 5px 10px;
}

.ms-res-ctn .ms-res-item{
    padding: 5px 20px;
}

.ms-helper{
    top: -25px;
}

.ms-helper a{
    color: #5ec329;
    font-weight: bold;
}

.search-type-text
{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.search-type-text.active,
.search-type-text:hover
{
    color: #5ec329;
}

.fa-search{
    position: absolute;
    right: 30px;
    top: 26px;
    color: #5ec329;
    font-size: 18px;
}

.search-desc{
    font-size: 12px;
}

.search-type-div{
    margin-top: 20px;
}

.search-type-btn-defult{
    background: transparent;
    border: 1px solid #fff;
    width: 30%;
    margin-right: 4%;
    color: #fff !important;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
}

.search-type-btn-color{
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
    width: 30%;
    border: 1px solid #64B12B;
    background: #64B12B;
    color: #fff !important;
}

.btn-search, .img-popup{
    cursor: pointer;
}

.ms-sel-ctn input{
    color: #64B12B;
}

.ms-ctn{
    padding: 8px 12px;
}

.ms-res-ctn .ms-res-item-active {
    background-color: #5ec329;
    color: #fff;
}

em{
    background-color: #fcc33a !important;
}

.search-desc em{
    background-color: #57b029 !important;
}

.contacts-info input{
    border: 1px solid #e5e5e5;
}

.dropzone.dz-clickable .dz-message {
    font-size: 17px;
}

.dismiss-img{
    position: absolute;
    right: 30px;
    top: 35px;
    width: 20px;
    cursor: pointer;
}

.notice .close
{
    opacity: unset;
    margin-top: 10px;
    color: #57b029;
    width: 20px;
    height: 20px;
    background-image: url("../../../images/20X20_icon_close_green.gif") !important;
}

@media (max-width:991px) and (min-width:320px) {

    .setMUPCCBTNN1{
        margin-top: -48px !important;
        margin-left: -9px;
    }

    .setMAinMENU{
        display: none;
    }
    .setMUPIPUINFOR{
        display: contents;
    }
    .setMDIVCW {
        text-align: center;
    }

    #setuserPICIMAGE {
        float: none !important;
        margin-right: 0px !important;
    }
    .setBTNP {
        padding-left: 0px !important;
    }

    .setCOLMDSM8LDIV {
        display: contents;
    }

    .setMUPBTNN2 {
        width: 100% !important;
    }

    .setMUPCCBTNN1 {
        width: 100% !important;
    }

    .setETBMUPCol12 {
        display: inline-block;
    }
}

@media (max-width:991px) and (min-width:767px)
{
    .setQRCMUP {
        width: 58% !important;
    }
}
@media (max-width:766px) and (min-width:569px)
{
    .setQRCMUP {
        width: 62% !important;
    }
}

@media (max-width:568px) and (min-width:458px)
{
    .setQRCMUP {
        width: 69% !important;
    }
}

@media (max-width: 457px) and (min-width: 361px) {
    .setQRCMUP {
        width: 75% !important;
    }
}

@media (max-width: 360px) and (min-width: 320px) {
    .setQRCMUP {
        width: 90% !important;
    }
}
@media (max-width:375px)
{
    .personal-portfolio-empty img {
        height: 177px;
        width: 240px;
    }
}

@media (max-width: 320px)
{
    .personal-portfolio-empty img {
        height: 148px;
        width: 202px;
    }
}

@media (max-width:539px)
{
    .setCol8MdRowUCP{
    }
    .setCol8UCPMD{
        width: 100%;
        margin-bottom: 99px !important;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 165px !important;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        /* padding: 12px 16px; */
        z-index: 1;
        padding-top: 0px;
        padding-bottom: 0px;
        left: -96px;
    }
    .divider::after{
        display:none;
    }

    .job_position {
        font-size: 12px;
        color: #6e6e6e;
        position: absolute;
        top: 93px;
        right: 72px;
    }
    .setTitleChangeUserTitle{
        top: 62px;
        position: absolute;
        right: 53px;
    }
}

@media (max-width:355px)
{
    .setCol8MdRowUCP{
    }
    .setCol8UCPMD{
        width: 100%;
        margin-bottom: 99px !important;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 165px !important;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        /* padding: 12px 16px; */
        z-index: 1;
        padding-top: 0px;
        padding-bottom: 0px;
        left: -96px;
    }
    .divider::after{
        display:none;
    }

    .job_position {
        font-size: 12px;
        color: #6e6e6e;
        position: absolute;
        top: 81px !important;
        right: -7px !important;
    }
    .setTitleChangeUserTitle{
        top: 32px !important;
        position: absolute;
        right: -26px !important;
    }
}
.main-div{
	background-color: #fff;
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.05);
	padding: 15px 30px;
}
.setColRowR4{
	margin-bottom:7px;
}

.set-cross-click-pjmp{
	position: absolute;
	right: 25px;
	font-size: 33px;
	top: 0px;
	color: #808080;
}

.sendMEssagebtn{
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	font-size: 14px;
	border-radius: 6px;
}

.btndefault-sendMessage{
	color: #000;
	border-color: #e6e6e6;
	font-size: 14px;
	border-radius: 6px;
	background-color: #e6e6e6;
}

.setColRowRS3{
	margin-bottom:7px;
}

.setColMd6PJM{
	padding-left: 0px !important;
	margin-left: -15px;
}

.setColRowRS2{
	margin-bottom:7px;
}

.setColRowRS1{
	margin-bottom:7px;
}
.page-sidebar-wrapper{
	display: none;
}
.personal-profile{
	padding: 0px;
	margin: 0px;
}
.profile-userpic{
	height: 150px;
	width: 150px;
	position: relative;
}
.profile-userpic img{
	height: 150px;
	width: 150px;
}

.btn-bs-file:hover,
.btn-bs-file{
    background: rgba(204, 203, 203, 0.6);
    border-radius: 50%;
    bottom: 15px;
    color: #cccbcb;
    height: 30px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 30px;
}
.btn-bs-file i{
	font-size: 14px;
    left: 0px;
    margin: 0px;
    position: relative;
    top: 6px;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
.item-skill{
	padding: 4px 15px !important;
}
.personal-profile .item-languages span{
	float: left;
	margin-top: 0px;
}
.basic-info .status{
	font-weight: normal;
	text-transform: none;
}
.user-full-name img{
	float: none;
	width: 15px;
	margin: 5px;
	vertical-align: top;
}
.prising-section{
	border-top: 1px solid #f1f1f1; 
	border-bottom: 1px solid #f1f1f1; 
	margin: 15px 0px;
}
.prising-section-sub{
	color: #b1b1b1;
	padding: 30px 15px 30px 15px;
}
.prising-section-sub p{
	color: #7d7d7d;
    font-weight: 600;
    margin:0px 0px 5px 0px;
}
.btn-green-bg-white-text:hover,
.btn-green-bg-white-text{
	min-width: auto;
	text-transform: none;
	padding: 9px 15px;
}
.prising-section-sub .btn{
	margin-top: 10px;
}
.basic-info .btn-green-bg-white-text{
	position: absolute;
	top: 0px;
	right: 90px;
}
.description{
	padding: 0px;
	color: #7D7D7D;
}
.description h4{
	color: #57b029;
	font-weight: bold;
}
.description h5{
	color: #7d7d7d;
	font-weight: bold;
}
.description p{
	margin: 0px;
}

.milestone-desc{
	margin-top: 30px;
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	font-weight: 600;
}
.milestone-desc .tabpanel-custom label{
	font-weight: 600;

}

.nav-tabs{
	margin: 0px;
	padding: 25px 0px;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li:hover,
.nav-tabs li{
	border: 0px;
}
.nav-tabs li{
	width: 25%;
	border-right: 1px solid #ddd;
}
.nav-tabs li:last-child{
	border-right: 0px solid #ddd;
}
.nav-tabs li a{
	/*display: inline-block !important;*/
	/*padding: 6px;*/
	/*width: 185px;*/
	/*border-radius: 3px;*/
	color: #666666;
	/*border: 1px solid #fff;*/
}
.nav-tabs li.active a{
	border: 1px solid #57b029;
	color: #57b029;
	text-align: center;
}
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover,
.nav-tabs li a:hover{
	color: #57b029;
	border: 1px solid #57b029;
}

.new-milestone-add{
	padding-top: 15px;
	margin: 0px;
}
.set-this-col-md-12{
	margin-top:35px;
}
.tabpanel-custom label{
	color: #808080;
	font-size: 14px;
}
.tabpanel-custom textarea,
.tabpanel-custom input{
	border-color: #efefef !important;
	background-color: #fff !important;
}
.client-request .btn.default:not(.btn-outline),
.new-milestone-add .btn.default:not(.btn-outline),
.end-contract .btn.default:not(.btn-outline){
	background-color: #fff;
	border-color: #efefef;
	border-width: 1px 1px 1px 0px !important;
	line-height: 15px !important;
	color: #57b029;
	font-size: 16px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 0px;
	height: 34px;
}
.tabpanel-custom .btn-green-bg-white-text{
	min-width:150px;
}
.tabpanel-custom .btn-white-bg-green-text{
	background-color: #fff;
	border-color: #57b029;
	color:#67b642 !important;
	text-transform: none;
	margin-left:10px;
}
.released-milestone,
.current-milestone{
	padding-top: 30px;
	margin: 0px;
}
.current-milestone textarea{
	height: 100px;
}
.milestone-subpart-title{
	color: #7D7D7D;
	font-size: 14px;	
	margin-bottom: 10px;
}
.milestone-subpart-title .green{
	color: #57b029;
	padding-left: 10px;
} 
.current-milestone .btn{
	min-width: auto !important; 
	padding: 9px 15px;	
}
.custom-table td{
	border-top: 0px !important;
}
.custom-table td i{
	color: #F9D23F;
	font-size: 12px;
}
.custom-table td .title{
	color: #7d7d7d;
}
.release-milestone{
	padding-top: 15px;
	margin: 0px;
	border-top: 1px solid #f1f1f1;
}

.client-request{
	padding: 15px 0px;
	margin: 0px;
	border-bottom: 1px solid #f1f1f1;
}
.client-request .title{
	color: #7d7d7d;
}
.md-radio label > .box{
	border-color: #7d7d7d;
}
.md-radio label > .check{
	background-color: #57B029;	
	left: 0px;
	top: 0px;
	width: 20px;
	height: 20px;
}
.released-milestone .custom-table tr{
	border-bottom: 1px solid #f1f1f1;
}
.total-refund{
	padding: 15px 0px;
	margin: 0px;
}
.client-request label{
	width: 100%;
}
.client-request .input-addon{
	border-right: 0px;
}
.client-request .input-group-addon{
	background-color: #fff;
}
.client-request .input-group-addon i{
	color: #57B029;

}
.end-contract{
	padding-top: 15px;
	margin: 0px;
}
.end-contract p{
	color: #7d7d7d;
	margin:5px 0px 10px 0px;
}
.total-refund textarea,
.end-contract textarea{
	height: 120px;
}

.plus-tooltop{
	padding: 20px 0px;
	position: relative;
}
.plus-tooltop i{
	position: absolute;
	right: 30px;
	top: 23px;
}
.plus-tooltop .tooltop{
	display: none;
	position: absolute;
	right: -40px;
	top: 45px;
	background-color: #fff;
	padding: 10px;
	width: 150px;
	border-radius: 5px;
	box-shadow: 0 0 8px 0 #d1d1d1;
	z-index: 1001;
	color: #7D7D7D;
	font-size: 12px;
}
.plus-tooltop .tooltop label{
	font-weight: bold;
}
.plus-tooltop .tooltop:after{
    content:"";
    top:-16px;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;     
}
.plus-tooltop .tooltop:hover,
.plus-tooltop i:hover ~ .tooltop{
	display: block;
}


.setColXS12DISPUTMPKJU{
	padding-left: 0px;
}

.set-ColXS-12-DISPUT-MPKJU{
	padding-left:15px;
}

.setColXs12-Xs-xol{
	padding-left: 0px;
}

.setMilStoneRColXs12{
	padding-left:0px;
}

.end-contract{
	padding-top: 15px;
	margin: 0px;
}
.desc-short{
	margin: 0px 0px 15px 0px;
	font-weight: 500;
	color: #7D7D7D;
}

.end-contract textarea{
	height: 160px;
	margin-bottom: 30px;
}
.already-released{
	padding: 15px 15px 30px 15px;
}
.table-released{
	background: #F7F7F7;
	padding: 30px;
}
.table-released table{
	margin: 0px;
	color: #7D7D7D;
}
.table-released table tr{
	background: #fff;
	border-bottom: 2px solid #F7F7F7;
}
.table-released table tr td{
	border: 0px solid #fff;
	padding: 15px;
}

.already-released .m-already-released{
	padding: 0px 0px 10px 0px;
}
.already-released .m-already-released h4{
	color: #333;
	margin: 0px;
}
.already-released .m-already-released .md-radio label > .check{
	left: 4px;
	top: 4px;
	height: 12px;
	width: 12px;
}
.already-released .m-already-released .md-radio label>.box{
	border-color: #61B02B;
}

.bootstrap-switch{
	border-radius: 50px;
	border-color: #61B02B;
	border-width: 2px;
}
.bootstrap-switch.bootstrap-switch-focused{
	border-color: #61B02B;
}
.bootstrap-switch-on{
	background: #61B02B;	
}
.bootstrap-switch-off{
	background: #E7E9EF;	
}
.bootstrap-switch-container .bootstrap-switch-label{width: 30px !important; background: #fff; border-radius: 50% !important;}
.bootstrap-switch-container .bootstrap-switch-handle-on{color:#61B02B !important;width: 20px;background: #61B02B !important; border-radius: 50px 0px 0px 50px;}
.bootstrap-switch-container .bootstrap-switch-handle-off{color:#E7E9EF !important;width: 20px;}

.setColxs12PJMP{
	background-color: gainsboro;
	padding: 17px 11px 0px 11px;
}

.setCol12MSTONEA{
	margin-top:20px;
	padding-left:30px;
}

.set-col-md-12-re-m-s-t{
	padding-left:30px;
}

.setUL ul li{
	margin-top:1px !important;
	border-right: 2px solid #efefef;
	height:35px !important;
	padding: 0px 14px 8px 12px !important;
}

.setUL ul li.active .setLI{
	border: 2px solid #57b029;
	color: #83c169 !important;
	text-align: center;
	height: auto;
	width: 174px;
	border-radius: 5px;
	padding: 8px;
	font-size: 14px;
	display: inline-block !important;
	color: #666666;
}

.setUL ul li .setLI:hover{
	display: inline-block !important;
	border: 2px solid #57b029;
	color: #83c169 !important;
	text-align: center;
	height: auto;
	width: 175px !important;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px;
}

.setRO .slimScrollDiv{
	overflow: unset !important;
}

.setROewe .scroll-div{
	max-height: fit-content !important;
}

.setPpP{

}

.scroll-div{
	overflow: hidden;
	height:200px;
	max-height: fit-content;
}
.subtitle{
	color:#6B6B6B !important;
	font-weight: 600 !important;
}

.setSP0{
	color: #6B6B6B !important;
}
.status{
	font-weight: 600 !important;
	font-family: Sans-Serif !important;
}

html:lang(cn) .status{
	font-weight: 600 !important;
	font-family: "Noto Sans CJK JP Regular" !important;
}


.setSP{
	font-weight: 600 !important;
}

.setBNTNPJMBP {
	width: 96px !important;
	margin-top: -45px;
	height: 40px !important;
	padding: 8px 15px 10px 10px !important;
	font-size: 15px !important;
	font-weight: bold;
	font-family: Raleway,sans-serif !important;
	border-radius: 3px !important;
}

html:lang(cn) .setBNTNPJMBP {
	width: 96px !important;
	margin-top: -45px;
	height: 40px !important;
	padding: 8px 15px 10px 10px !important;
	font-size: 15px !important;
	font-weight: bold;
	font-family: "Noto Sans CJK JP Regular" !important;
	border-radius: 3px !important;
}


.setSpn1JMPP{
	margin-bottom:20px;
}

.set-mainRow-span1{
	color:#666666;
	font-size:12px;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

.setPHMPPP{
	width:22%;
}

.setPHMPPP i{
	display:block;
	color: #999999 !important;
}

.setULNAVVTBSA{
	border-bottom: 1px solid #efefef !important;
}

@media (max-width:991px) and (min-width:320px)
{
	.setBNTNPJMBP {
		width: 96px !important;
		margin-top: -20px;
		height: 40px !important;
		padding: 8px 15px 10px 10px !important;
		font-size: 15px !important;
		font-weight: bold;
		font-family: Raleway,sans-serif !important;
		border-radius: 3px !important;
	}
	.setPHMPPP {
		width: 100%;
	}
	.setFormPJMP{
		width: 100%;
		margin-left: 72px !important;
	}
	.setCol12MSTONEA{
		display:inline-block;
		margin-top:5%;
		width:100%;
	}
	.setPPROFILECol12MSP{
		text-align:center;
	}
	.setBNTNPJMBP{
		width:100% !important;
		position: inherit !important;
		right:0px !important;
	}
	.setProfileUserPICPJMP{
		display:inline-block;
	}
	.setSkillDIVPJM{
		float:none !important;
		display:inline-block;
		overflow: scroll;
		height:120px;
	}
	.setSkillRowCol12JPM{
		text-align:center;
	}
	.setLANGDIV{
		text-align:center;
	}
	.setLANGUAGEDIV{
		text-align: center;
	}
	.setBTNBNTPJM{
		width:100% !important;
	}
	.setDEscriptionJPJM{
		text-align: center;
	}
	.setUL{
		height:100px;
		overflow: scroll;
	}
	.setULNAVVTBSA{
		width:200%;
	}
	.setTabsPANEL{
		text-align:center;
	}
	.setColxs3{
		width:100% !important;
	}
	.setColXs2{
		width:100% !important;
	}
	.setColxs5{
		width:100% !important;
	}
	.setBNTNNTN{
		width:100% !important;
		margin-left:0px !important;
		margin:5px;
	}
	.setRowPJMBPAGE{
		overflow: scroll;
		height:200px;
		display:flex;
		max-height: fit-content;
	}
	.setCMPAGEBNTN{
		margin:5px;
	}
	.setULNAVVTBSA li a{

	}
	.setColxs6AMTODIS{
		width:100% !important;
	}
	.setMPDISPUTEBNT{
		width:100% !important;
		margin-left:0px !important;
		float:none;
		margin:5px;
	}
	.setContactInfo .contacts-info-sub{
		padding:10px !important;
	}
	.setPrisingSection .prising-section-sub {
		color: #b1b1b1;
		padding: 0px 15px 30px 15px;
	}
	.setCol3PJMILE{
		margin-left:-95px;
	}

	.setRLEASEBTNMSP{

		margin:2px;
	}
}
@media (max-width:411px) and (min-width:320px)
{
	.setBNTNNTN{
		width:100% !important;
		margin-left:0px !important;
	}
	.setRLEASEBTNMSP
	{
		margin:3px;
	}
	.setMPUPBNTN1{
		margin-left:0px !important;
	}
}

@media (max-width:457px) and (min-width:320px)
{
	.setColMd6PJM{
		margin-bottom: 35px;
	}
}

@media (max-width:380px) and (min-width:320px)
{
	.setColXS12DISPUTMPKJU{
		padding:0px 0px 10px 0px;
	}
}


@media (max-width:508px) and (min-width:419px)
{
	.setULNAVVTBSA {
		width: 226%;
	}
}
@media (max-width:418px) and (min-width:320px)
{
	.setUL ul li.active .setLI{
		border: 2px solid #57b029;
		color: #57b029;
		text-align: center;
		height: auto;
		width: 120px !important;
		padding: 8px;
		font-size: 12px;
		display: inline-block !important;
		color: #666666;
	}

	.setULNAVVTBSA {
		width: 285%;
		padding: 30px 0px 30px 0px;
	}
}


/*calender css*/



/*calender css end*/

.setScrollDiv .scroll-div{
    max-height: 70px;
}

.setScrollDiv, .set-skill-div{
    padding-left: 8px;
}

.item-skill {
    margin-top: 18px;
}

.setLable{
    font-size: 16px !important;
    font-family: Montserrat, sans-serif !important;
    color:#646464 !important;
}

html:lang(cn) .setLable{
    font-size: 16px !important;
    font-family: "Noto Sans CJK JP Regular" !important;
    color:#646464 !important;
}

.setpcolor{
    color:#808080 !important;
    font-size: 14px !important;
    width:102%;
}

.setcolorP{
    color:#808080 !important;
    font-size: 14px !important;
    position: relative;
    left:8%;
    top:-10px;
    width:65%;
}

.setspncolordollar{
    color:#57b029;
    font-size: 14px !important;
    font-family:  Montserrat, sans-serif !important;
}
.setclientRequest{
    color:#808080 !important;
    font-size: 14px !important;
}

.set-fa-circle{
    color:#f7f7f7 !important;
    font-size: 14px;
}

.setspldiv{
    color:#282828 !important;
    font-size:14px !important;
    font-family: Montserrat, sans-serif;
    position: relative;
    top:-10px;
}
#setHrWidth{
    width:85%;
}
.setinputBox001{
    width:85%;
}

.SetCol-md-3{
    width:20% !important;
}

.setTextarea{
    width:372px;
    height:103px !important;
}

.setBtndiv{
    margin-left:15px !important;
    margin-top:15px !important;
}

.setColXs1{
    width:3% !important;
}

.setuserbasicinfo{
    padding-left:115px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:2px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 20px;
    right:20%;
}

.setmilstonesubtitle{
    padding-left:15px;
}

.setcolMD3{
    width:26% !important;
}

.set-dot-active{
    background-color: #57af33;
    border:2px solid #57af33;

}

.setmilstonethatAlready{
    color:#808080 !important;
    font-size: 14px !important;
    font-family:  Montserrat, sans-serif !important;
}

html:lang(cn) .setmilstonethatAlready{
    color:#808080 !important;
    font-size: 14px !important;
    font-family: "Noto Sans CJK JP Regular" !important;
}


.setcontractPanel{
    font-size: 16px !important;
    font-family: Montserrat, sans-serif !important;
    color:#646464 !important;
}

html:lang(cn) .setcontractPanel{
    font-size: 16px !important;
    font-family: "Noto Sans CJK JP Regular" !important;
    color:#646464 !important;
}

.setdaily_updates{
    position: relative;
    left:8%;
}

.setprogressingProject{
    font-weight:bold;
}

/*radius toggle*/
    .SETContainer {
        position: absolute;
        transform: translate(2%,-50%);
        top: 20%;
    }
    .toggle-btn{
        width:48px;
        height:28px;
        background: gray;
        border-radius: 30px;
        padding:2px 2px;
    }

    .toggle-btn > .inner-circle{
        width:25px;
        height:24px;
        background:#fff;
        border-radius: 50%;

    }

    .toggle-btn.activee{
        background: #57b029;
    }

    .toggle-btn.activee > .inner-circle{
        margin-left:19px;
    }



    .SETContainer2 {
        position: absolute;
        transform: translate(2%,-50%);
        top: 73%;
    }
    .toggle-bbtn{
        width:48px;
        height:26px;
        background: gray;
        border-radius: 30px;
        padding:2px 2px;
    }

    .toggle-bbtn > .iinner-circle{
        width:23px;
        height:23px;
        background:#fff;
        border-radius: 50%;
    }

    .toggle-bbtn.activeee{
        background: #00acee;
    }

    .toggle-bbtn.activeee > .iinner-circle{
        margin-left:21px;
    }
/*radius toggle*/

.setLBLBLB{
    display: grid;
    left: 75px;
    position: absolute;
}

.setDIVIV{
    margin-top:10px;
    }

.setDVIVI2{
    margin-top:5px;
}

.setMRECEOPJOBDAP{
     display:block;
 }
.setTABLETDJDP{
    width:30%;
}
.setTTTTDIFAFA{
    color:green !important;
}
.setFDJDPBC{
    color:orangered;
}
.setSPANNN1JDP{
    color:green;
}
.setSPANNN2JDP{
    color:darkred;
}
.setJDPBUTTON1{
    min-width:0px;
}
.setJDPBUTTON2{
    min-width:90px;
}
.setSPNN3{
    color:red;
}
.setSPNN4{
    color:yellow;
}
.setSPNN5{
    color:green;
}
.setBOLDCOLOR{
    color:orangered;
}
.setBOLDCOLOR2{
    color:darkred;
}
.setBOLDCOLOR3{
    color:darkgreen;
}
.setFAFACRED{
    color:red;
}
.setFsetLableAFACGREEN{
    color:green;
}
.setBTNBTNJDP{
    border-color: #ccc !important;
    background-color: #57b029 !important;
}


.setCol12MRECEVIEORDEPAAGE{
    height:100px;
    overflow: hidden !important;
    max-height:fit-content;
    max-height: -moz-fit-content;
}

.setROWBINFO .slimScrollDiv
{
    overflow: unset !important;
}

.setB2{
    position: absolute;
    height: 85%;
    border: 0.5px solid #ddd;
    left: 33%;
    top: 7%;
    opacity: .3;
}

.setB3{
    position: absolute;
    height: 85%;
    border: 0.5px solid #ddd;
    left: 67%;
    top: 7%;
    opacity: .3;
}

.setDESC .scroll-div{
    height:135px;
    overflow: hidden !important;
    max-height: fit-content;
}

.setULNAVTBS ul li{
    margin-top:30px;
    border-right: 0px solid #ddd !important;
    height:40px;
    padding: 0px 1px 8px 5px !important;
}

.vr {
    width:2px;
    background-color:#ddd;
    height:25px;
    position:absolute;
    top:23.5% !important;
    bottom:0;
    left:0%;
}

.setCalenderWrap {
    max-height: fit-content;
    margin-top: 20px;
    width:100% !important;
}

.setrowmarginoff{
    margin-left:0px !important;
    margin-right:0px !important;
}

.set-main-row-col-4calender{
    padding: 2px 12px 0px 15px;
}

#applyFilter{
    background-color: #57af33 !important;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    width: 56px;
    height: 22px;
    padding: 2px 8px !important;
}

.setbtnApply{
    float:right;
    position: relative;
    right: 20px;
    top:-15px;
}

.table-condensed{
    border-collapse:unset !important;
    border-spacing: 6px !important;
}

#datetimepicker12{
    margin-left:0px;
    margin-top: 0px;
}

.datepicker-inline {
    width: 100% !important;
    padding-left: 0px;
}

@media (max-width:1075px)
{
    .datepicker-inline {
        width: 100% !important;
        padding-left: 10px;
    }
}

.setcolmd4{
    margin-top:2%;
}

.set-md-col{
    right: 2%;
    margin-top: 3%;
}

.datepicker .datepicker-switch, .datepicker .next, .datepicker .prev, .datepicker tfoot tr th {
    cursor: pointer;
    display: none !important;
}
.table-condensed thead{
    font-size:14px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.datepicker table tr td.new, .datepicker table tr td.old {
    color:#b4bbc2;
    font-size: 14px !important;
}
.datepicker table tr td, .datepicker table tr th {
    text-align: center !important;
    font-size: 14px !important;
    color:#4b5457;
    font-weight: bold !important;
}
.datepicker .active {
    background-color: #57af33!important;
    color:#fff !important;
    border-radius: 5px;
}
.datepicker .active:hover {
    color:#fff !important;
    background-color: #57af33!important;
}
.datepicker,
.table-condensed{
    width:100%;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 0px !important;
}
.table-condensed thead tr{
    background-color: #fff !important;
    color:#666666 !important;
}

.box{
    background-color:#F6F6F6;
    border-radius: 5px;
    height:210px;
}

.setThisMoth{
    color: #4b5457;
    font-size: 14px !important;
    position: absolute;
    top: 25px;
    left: 10%;
}

.setHRHRHR{
    width: 120px;
    position: absolute;
    top: 30px;
    left: 10%;
    background-color:#4b5457;
    font-weight: bold;
    height: 0.4%;
}

.totalEarning span{
    font-size: 22px !important;
    position:absolute;
    color:#57af33 !important;
    right:100%;
}

.setTotalHours span{
    font-size: 22px !important;
    position: absolute;
    color:#57af33 !important;
    display: contents;
}

.setTotalHours{
    color: #4b5457;
    font-size: 14px !important;
    position: absolute;
    top: 27%;
    left: 10%;
}
.totalEarning{
    font-size: 14px !important;
    color: #4b5457;
    position: absolute;
    top: 27%;
    left: 55%;
}

.setvr{
    width: 2px;
    background-color: #ddd;
    height: 25px;
    position: absolute;
    top: 21.3% !important;
    bottom: 0;
    left: 100.3%;
}


.nav-tabs {
    margin: 0px;
    padding: 0px 0px 30px !important;
}

.setULNAVTBS ul li.active .setLI{
    border: 2px solid #57b029;
    color: #83c169 !important;
    text-align: center;
    height:auto;
    width: 175px;
    padding: 8px;
    font-size: 14px;
    text-decoration: inherit;
    display: inline-block;
    border-radius: 5px;
}


.setULNAVTBS ul li .setLI:hover{
    border: 2px solid #57b029;
    color: #83c169 !important;
    text-align: center;
    height:auto;
    width: 180px;
    padding: 9px;
    font-size: 14px;
    text-decoration: inherit;
    display:inline-block;
    border-radius: 5px;
}

.setBTNJDPAGEMROP{
    width: 82px;
    font-size: 15px;
    margin-top: -25px;
}

.setStats{
    font-family: Sans-Serif !important;
    font-weight: bold !important;
}
.setMRECEOPJOBDAP{
    font-weight: 600;
    color: #BBBBBB;
}
.setSmall{
    font-weight: 600;
}

.setSP{
    font-weight: 600;
}

.details{
    color:#7d7d7d;
}
.subtitle{
    color:#6B6B6B;
    font-weight: 600;
}
.setSP0{
    color:#6B6B6B !important;
    font-weight: 600;
}

.setRowNewMileS{
    height:500px;
}

.setCol12LWHP{
    color: black;
}

.setSPN1LWHP{
    color: #57b029;
}

.setSPN2LWHP{
    color: #57b029;
}

.setLABEL1LWHP{
    display:  block;
}

.setColMd2LWHP{
    width:20% !important;
}

.setCol6MdLWHP{
    width:40% !important;
}

.setTDLWHP{
    display: flex;
}

.setTDLWHPINT{
    color: #ABABAB !important;
}

.setHRPTR th{

}

.setBTNTDHRP{
    display:flex;
}

.setBNBNJDP{
    text-decoration: none !important;
}

.setCOLORBLACK{
    color:black;
}

.setColorGreen{
    color:#57b029;
}

.setROWB .slimScrollDiv{
    overflow: unset !important;
}

.setPppP{
    font-weight: bold;
    text-transform: uppercase !important;
    color:#6B6B6B;
}

.setDYND{
    color: #6e6e6e;
}

.setRowNeWHeight{
    height:200px;
}

.setPPpPpP{
    position: relative;
    left:1%;
    color: #7D7D7D;
    font-size: medium;
}

.setroow{
    background-color: #F6F6F6;
    margin-top:2%;
    border-radius: 2px;
    border:1px solid #ddd;
    padding:15px;
    margin-left: 0px;
    margin-right: 0px;
}

.setSetRowP1{
    color:#4b5457;
    font-size: 13px;
}

.setSetRowP2{
    color:#4b5457;
    font-size: 13px;
}

.setSetRowP3{
    color:#4b5457;
    font-size: 13px;
}

.setRowNewMileSNew{
    height:1200px !important;
}

/*switch*/
    .set-btn{
        height: 27px !important;
        padding: 0px !important;
        width: 80px !important;
        text-decoration: none !important;
        font-size: 13px !important;
        border-radius: 0px !important;
        margin:-3px !important;
        color:#57af33 !important;
        border:1px solid #ddd !important;
    }

    .set-btn.active{
        background-color: #57af33 !important;
        color:#fff !important;
    }

    .set-btn:hover{
        border-radius: 0px !important;
        font-size:13px !important;
        border:1px solid #ddd !important;
        color:#fff !important;
        background-color: #57af33 !important;
    }

    .set-btn:focus{
        border-color: #fff !important;
    }

    .set-btn-2{
        height: 27px !important;
        padding: 0px !important;
        width: 115px !important;
        text-decoration: none !important;
        font-size: 13px !important;
        border-radius: 0px !important;
        margin:-3px !important;
        color:#57af33 !important;
        border:1px solid #ddd !important;
    }
    .set-btn-2.active{
        background-color: #57af33 !important;
        color:#fff !important;
    }
    .set-btn-2:hover{
        border-radius: 0px !important;
        font-size:13px !important;
        border:1px solid #ddd !important;
        color:#fff !important;
        background-color: #57af33 !important;
    }
/*switch*/

/*Link boxes*/
    .set-row-box{
        margin-top:-15px;
        margin-right: -20px !important;
    }

    .set-row-box-last{
        margin-left:15px !important;
    }

    .set-Col-md-2-box{
        background-color: #4b5457;
        width: 14%;
        height: 45px;
        padding: 13px 39px;
        margin-left:2px;
    }
    .set-Col-md-2-box span{
        text-transform: uppercase !important;
    }
    .setLink{
        color:#fff !important;
        font-size:15px;
    }
    .set-active{
        background-color: #57af33 !important;
        margi-top:0px !important;
        font-size: 15px !important;
        text-decoration: none !important;
    }
    .set-col-md-12-box2 h3{
        text-transform: uppercase !important;
        color:#939394 !important;
        font-size: 24px !important;
    }
    .set-col-md-12-box3 h1{
        color:#494949 !important;
        margin-top:-10px;
        font-size: 80px;
    }
    .set-col-md-6-1{
        width: 22% !important;
    }
    .set-col-md-6-2{
        width: 20% !important;
    }
    .set-col-md-6-2 h6{
        margin-left:-25px;
    }

    .set-fa-circle1{
        color: #57af33;
    }

    .set-fa-circle2{
        color: #C3D200;
    }

    .set-row-col-4-spn2{
        margin-left: -90px;
        margin-top: -3px;
        width: 50%;
    }

    .set-row-col-4-spn1{
        width: 60%;
        margin-top:-3px;
        margin-left: 107px;
    }

    .set-row-col-6-fa-circle-1{
        margin-left:165px;
    }

    .set-para {
        margin-top: -13px;
        font-size: smaller;
        margin-left: 12px;
    }
    .set-span-1{
        margin-left: 0px;
        color:#4b5457;
        font-size:14px;
    }
    .set-span-2{
        margin-left:0px;
        color:#4b5457;
        font-size:14px;
    }

    .set-Hours{
        color:#000;
    }

    .set-col-md-12-box4{
        margin-bottom: -20px;
    }

    .set-col-row-screen-shots{
        background-color:#F6F6F6;
        border:1px solid #ddd;
        margin-left:0px;
        margin-right:0px;
        border-radius: 3px;
        padding:10px;
    }
    .set-spn-screen-shots{
        color:#4b5457;
        text-transform: uppercase !important;
    }

    .set-col-md-12-box-last{
        margin-left:0px;
        margin-right:0px;
        margin-top:2%;
        margin-bottom:25%;
    }
    .set-col-md-2-box-last{
        background-color: #57af33;
        padding: 7px 15px;
        border-radius: 50px;
        height: 30px;
        font-size: 13px;
        color:#fff;
        margin-left:20px;
        margin: 0;
        margin-bottom: 3px
    }
    .set-col-md-6-box-last span{
        color:#fff !important;
    }

    .set-col-md-12-box-last-2{
        margin-top:1%;
    }

    .set-Image-screen-shoot{
        width:90%;
        height:108px;
    }

    .set-time-screen-shot{
        font-size: 14px;
        color: #4b5457 !important;
    }

    .set-delete-icon-row{
        position: absolute;
        right: 10%;
    }

    .setCol-md-12timeDate{
        display:inline-flex;
    }

    .set-delete-icon i{
        color: #AFE9A7 !important;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 19px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .set-col-md-3{
        margin-right:0px;
        margin-left:0px;
        padding-left:0px;
        padding-right:0px;
        width:23% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 19px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-row-imge-screen-shoots{
        height: 155px;
        margin-left: 3px;
        margin-right: -20px;
    }

    .active-battery{
        background-color:#57af33 !important;
    }

    .battery div:nth-child(2)
    {
        height: 19px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-btn-toggle{
        padding-bottom: 10px;
    }
    .set-col-md-date{
        color: #4b5457;font-size: 14px;
        margin-top:5px;
    }
/*Link boxes*/
.box2{
    width:100%;
    border: 1px solid #ddd;
    margin-top: 2%;
    border-radius: 5px;
}
.set-panel-heading{
    background-color: #fff !important;
}

.set-panel-heading span{
    color:#4b5457;
    font-size: 14px;
}

.set-row-section{
    border:1px solid #ddd;
    padding:10px;
    margin-left:0px;
    margin-right:0px;
    border-radius: 3px;
}

.set-tb-pills-row{
    margin-left:0px !important;
    margin-right: 0px !important;
}

/*nav-pills*/
.set-nav-pills>li>a, .set-nav-pills>li>a:focus, .set-nav-pills>li>a:hover {
    color: #fff;
    background-color: #959595;
    text-decoration: none;
}
.pil.nav>li>a {
    padding: 14px;
    width: 142px;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif !important;
}
.active {
    margin-top: 0;
    text-decoration: none !important;
}

.set-nav-pills li{
    margin-top:0px !important;
}

.set-nav-pills>li.active>a, .set-nav-pills>li.active>a:focus, .set-nav-pills>li.active>a:hover {
    color:#fff;
    background-color:#57af33 !important;
}
/*nav-pills*/

.setBox2hr{
    margin-top:1%;
}

.setColRow2{
    margin-top:10%;
}

/* battery bar css*/
    .setCo11PP{

    }
    .setCol11para{
        position: absolute;
        font-size: 16px !important;
        left:30%;
        bottom:-10%;
        padding:8px;
        color: #7D7D7D;
    }

    .setColMD1{
        /*position: absolute;*/
        top:30%;
        left:15px;
        color: #57af33;
    }

    .setColMDrow2{
        position: absolute;
        top:74%;
        left:15px;
        color: #57af33;
    }

    .setHR{
        width: 100%;
    }

    .setCol2sm span{
        font-size: 14px;
        color:#7d7d7d;
    }

    /* calender css */
    .setTBLE>thead>tr>th {
        vertical-align: bottom;
         border-bottom: 0px solid !important;
    }

    .setTBLE>tbody>tr>{
        border: 0px solid #fff !important;
    }

    table {
        border-collapse: separate !important;
        border-spacing: 0;
    }

    .setTBLE > thead tr {
        background: #fff !important;
    }
    .setTBLE>thead{
        background-color: #fff !important;
    }
    .setTBLE>tbody>tr>td{
        color: #bbb9b9;
        font-size: 14px !important;
        font-family: Montserrat, sans-serif;
    }
    .setTBLE>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 7px !important;
        line-height: 1.42857;
        vertical-align: top;
         border-top: 0px solid #fff !important;
    }

    .setTRLast td{
        color: #57af33 !important;
    }

    /* calender css */

    .setColMDrow2{
        position: absolute;
        top:74%;
        left:15px;
        color: #57af33;
    }

    .setspan0{
        position: absolute;
        bottom:0%;
        color: #57af33;
        margin:auto;
        text-align: center;
    }

    .setHr2{
        margin:0px !important;
    }

    .setColsm1{
        margin-top: 10%;
    }

    .setColsm1 p{
        color: #57af33;
    }

    .setcolparagraph{
        font-size: 14px;
        color:#7d7d7d;
        margin-top:10px;
    }

    .setCol11REPEAT{
        /*position: absolute;*/
        left: 8.3%;
    }

    .setCol11hrlast{
        margin-top: 3px;
        width: 110%;
        margin-left: -89px;
    }

    .setCol11hr{
        margin-top:3px;
    }

    .setSPNCOLOR{
        position: relative;
        left:2%;
        color: #4b5457;
        font-size: 16px;
    }

    .setSPNCOLOR0{
        color:#000;
    }
/*battery bar css*/

/* section 2 */

.setbtnmodal{
    background-color: #57af33;
    width:25% !important;
    border-radius: 5px !important;
}
.setCol4MModal{
    text-align: left;
    width: 50%;
}
.setsmallmodal{
    color:#404040;
    font-family: 'Raleway',Sans-Serif !important;
    font-size:14px !important;
    font-weight: 100 !important;

}

.setsmall2modal{
    font-family:'Raleway',Sans-Serif !important;
    font-weight:bold !important;
    font-size:14px !important;
    color:#404040;
    position: relative;
    right: 0%;
    left:5%;
}

.setModalImagecol4{
    width:50%;
}

.setHeaderModal{
    text-align: center;
}

.setcloseModal{
    color:#57af33;
}
.setfa-times{
    color:#57af33;
    font-size: larger;
    position: absolute;
    right: 16px
}
.setImagesModal{
    width: 120%;
    border-radius: 5px;
    /*position: absolute;*/
    /*left: 20%;*/
    height: 107px;
    padding:1px;
}
.settextareamodal{
    /*width:428px !important;*/
    height:161px !important;
}

.setModalDailog{
    width:95%;
}
.setModalTitle{
    color:#404040;
    font-family: 'Raleway',sans-serif !important;
    font-size: 20px;
}

.box2{
    overflow: scroll;
    overflow-x: hidden;
}
/*::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/
/* section 2 */


.set-PortLet-title{
    background-color: #fff !important;
}

.setdesc-div{
    line-height: 27px;
    margin: 3px;
    padding-top: 13px;
    padding-bottom: 40px;
}

.set-price{
    font-size:21px;
    color:#57af33;
    font-weight: bold;
}

.set-btn-div{

}

.set-btnbtn{
    padding:10px 30px !important;
    border-radius: 3px !important;
}

.set-description{
    padding: 15px !important;
    color: #7D7D7D !important;
}

.set-RoW-area{
    padding-top:30px;
}

.set-spn{
    color:#727272;
}

.set-Portlet-Body{
    padding:0px 15px 30px 0px !important;
}

.set-f-c-green{
    position: relative;
    top:-23px;
    left:-25px;
}

.setSpN-share-amount{
    position: absolute;
    font-size: smaller;
}

.set-Label-budget{
    font-size: smaller;
}

.set-difficulty-star{
    color:#57af33;
}

.set-title-name{
    font-weight: 500;
    position: relative;
    left: -35px;
    top:-8px;
}

.setf-c-gray-price-div{
    margin-top:-20px;
}

.set-offical-pro{
    margin:0px !important;
}

.set-skill-div .item-skill{
    height:15% !important;
}

.setRoww2{

}

.box2{
    overflow: scroll;
    overflow-x: hidden;
}


    .setCol11para2{
        position: absolute;
        font-size: 16px !important;
        left: 31%;
        top: 0%;
        margin-top: 10px;
        color: #7D7D7D;
    }
/* section 2 */
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 160px;
    cursor: pointer;
    margin-left:-15px;
}

@media (max-width:1140px) and (min-width:992px)
{
    .set-col-md-12-box-last-2{
        /*display: grid;*/
        /*text-align: -moz-center;*/
        /*text-align: -webkit-center;*/
        /*margin-top:30px;*/
    }

    .set-tb-pills-row{
        overflow-x: scroll;
        /*height:50px;*/
    }

    .set-nav-pills{
        width:118%;
        max-width: max-content;
    }
}

.datepicker table tr td.new, .datepicker table tr td.new:active{
    color: #fff;
    font-size: 14px !important;
}

@media (max-width:991px) and (min-width:320px)
{
    .setModalImagecol4 {
        width: 30%;
    }
    .setcancelbuttonbtn{
        margin-top:-30px !important;
    }
    .setCol4MModal{
        width:100%;
        text-align: center;
    }
    .setCol8MModal{
        width:100%;
    }
    .setImagesModal {
        width: 150px;
        border-radius: 5px;
        position: unset !important;
        height: 110px;
        padding:1px;
    }
    .setModalCol8{
        width:100%;
    }
    .setsmall2modal {
        position: relative;
         right: 0%;
        left: 0%;
    }
    .setbtnmodal {
        background-color: #57af33;
        width: 100% !important;
        border-radius: 5px !important;
    }
    .setModalRowImage{
        display: flex;
    }
    .setdaily_updates {
        position: relative;
        left: 0%;
    }
    .SETContainer {
        top: 0%;
        left: 6%;
    }
    #setHrWidth {
        width: 100%;
    }
    #endContract{
        width:100%;
    }
    .setcolorP {
         left: 0%;
        top: -10px;
        width: 100%;
    }
    .setuserbasicinfo {
        padding-left: 20px !important;
    }

    .setCol-md-4sla{
        width:100%;
    }

    .setinputBox001 {
        width: 100%;
    }

    .setTextarea {
        width: 100%;
        height: 103px !important;
    }
    .setrefunfbtn{
        width:100%;
    }
    .setBtndiv {
         margin-left: 0px !important;
        margin-top: 15px !important;
        margin:0px;
    }

    .main-div{
        text-align: center;
    }
    #widthhr {
        width: 100%;
    }
    
    .setThisMoth {
        color: #4b5457;
        font-size: 14px !important;
         position: unset !important;
    }
    .setHRHRHR {
        width: 80%;
        position: absolute;
        top: 30px;
        left: 10%;
        background-color: #4b5457;
        font-weight: bold;
        height: 0.4%;
    }
    .set-main-row-col-4calender {
        padding: 2px 6px 0px 5px;
    }
    .datepicker,
    .table-condensed {
        width: 100% !important;
        padding-left:5px !important;
        padding-right:6px !important;
    }
    .set-row-col-6-fa-circle-1 {
        margin-left: 0px !important;
    }
    .set-para {
        margin-top: -13px;
        font-size: smaller;
        margin-left: 12px;
        text-align: center;
        margin-bottom: 15px;
    }
    .totalEarning span {
        font-size: 17px !important;
        position: absolute;
        color: #57af33 !important;
        right: 100% !important;
    }
    .setTotalHours {
        color: #4b5457;
        font-size: 12px !important;
        position: absolute;
        top: 27%;
        left: 10%;
    }
    .setTOTALEarning {
        font-size: 12px !important;
    }
    .set-col-md-12-box3 h1 {
        color: #494949 !important;
        margin-top: -10px;
        font-size: 60px !important;
    }
    .setTotalHours span {
        font-size: 17px !important;
        position: absolute;
        color: #57af33 !important;
        display: contents;
    }
    .setSetRowP1{
        text-align: center;
    }
    .setSetRowP3{
        text-align: center;
    }
    .set-row-btn-toggle-2{
        text-align: center;
    }
    .set-col-md-date {
        color: #4b5457;
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
    }

    .set-col-md-3{
        margin-top:30px;
    }

    .set-row-imge-screen-shoots {
        height: 155px;
        margin-left: -7px;
        margin-right: -7px;
    }

    .set-tb-pills-row{
        overflow-x: scroll;
        /*height:50px;*/
    }

    .set-nav-pills{
        width:600%;
        max-width: max-content;
    }
    .set-skill-div .item-skill{
        height:15% !important;
    }
    .set-Row-PT{
        width:100%;
        line-height: 3;
        text-align: center;
    }

    .set-skill-div{
        line-height: 1;
    }

    .set-price-div{
        width:100%;
        text-align: center;
        line-height: 3;
    }

    .set-description {
        text-align: center;
    }

    .set-RoW-area {
       width:100%;
        text-align: center;
        line-height: 3;
    }

    .setdesc-div {
        line-height: 27px;
        margin: 3px;
        padding-top: 4px;
        padding-bottom: 6px;
    }

    .setSpN-share-amount{
        position: relative !important;
        font-size: smaller;
    }

    .setLBLBLB{
        position: unset;
    }
    
    /* button switch*/
    
    
    /* end button switch*/
    
    .setpcolcor{
        font-family: Montserrat, sans-serif !important;
        font-size:14px !important;
        color:#808080 !important;
        position: relative;
        left: 9%;
        width: 75%;
    }
    
    .setpcolcorec{
        font-family: Montserrat, sans-serif !important;
        font-size:14px !important;
        color:#808080 !important;
        position: relative;
        width: 120%;
        margin-bottom:-10px !important;
    }
    
    .setenContract{
        color: #505050 !important;
    }
    
    .setcontractPanel{
        font-size:16px !important;
        color:#646464 !important;
    }
    
    .sertform-group{
        margin-top:10px;
    }
    
    .setdailyupdates{
        position: relative;
        top:10px;
        left:9%;
        font-family: Montserrat, sans-serif !important;
        font-size: 16px !important;
        color:#505050 !important;
    }
    
    .setclientrequestDispute{
        color:#808080 !important;
        font-size: 14px !important;
        font-family: Montserrat, sans-serif !important;
    }
    .setInputBox{
        width:75% !important;
    }
    .setTextArea{
        width:373px !important;
        height:103px !important;
    }
    .setxs-1{
        width:1.5% !important;
    }
    
    #materialUnchecked{
    
    }
    .set-circle2{
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-radius: 50%;
        border:3px solid #acacac;
        display: inline-block;
        margin-top:20px;
    }
    .set-circle2-active{
        height: 20px;
        width: 20px;
        border:0px solid #acacac;
        background-color: #57b029;
        border-radius: 50%;
        display: inline-block;
        margin-top:20px;
    }
    .set-circle{
        height: 10px;
        width: 10px;
        background-color: #f7f7f7;
        border-radius: 50%;
        display: inline-block;
    }
    .setform-group-row{
        margin-top:-10px;
    }
    .setPSPAN{
        color:#57b029;
        font-size:14px;
        font-family: Montserrat, sans-serif;
    }
    
    #widthhr{
        width:85%;
    }
    
    .sets1{
        color:#282828 !important;
        font-size: 14px !important;
        font-family: Montserrat, sans-serif !important;
        position: relative;
        top:-10px;
    }
    .setuserbasicinfo{
        padding-left:115px;
    }
    
    .SETContainer {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 25%;
        left: 3%;
        display: flex;
    }

    .SETContainer2 {
        position: absolute;
        transform: translate(-50%,-33%);
        top: 54%;
        left: 16%;
        display: flex;
    }

    .setColxsHRP{
        width:100%;
    }

    .setColxsCCP{
        text-align:center;
        width:100% !important;
        display:contents;
    }

    .setColXsEC{
        width:100% !important;
    }

    .setWidthDART{
        width:100% !important;
    }

    .setTH2{
       text-align: center;
    }

    .setWidth{
        width:200% !important;
    }

    .setTBLESCROLL{
        overflow: scroll;
        height:200px;
        max-height: fit-content;
    }

    .setTBLESCROLL{
        overflow: scroll;
        height:200px;
        max-height: fit-content;
    }

    .setColXsWLP{
        width:100% !important;
    }
    .setRowMWHLP{
        text-align: center;
    }

    .setXsCol{
        width:100% !important;
    }

    .setColMd2LWHP{
        width:100% !important;
    }

    .setCol6MdLWHP{
        width:100% !important;
    }

    .setPPJDPAGEMRO{
        text-align:center;
    }

    .setBTNJDPAGEMROP{
        width:100% !important;
        position: inherit !important;
        text-align-last: center;
        right:0px !important;
    }

    .setPageContentWrapperMROPAGE{
        margin-top:40px;
    }
    .setSKILLMRECEVIXOPAGE{
        text-align:center;
    }
    .setCol12MRECEVIEORDEPAAGE{
        height:120px;
        /*overflow: scroll;*/
    }
    .setLANGUAGEMORPAEG{
        text-align:center;
    }
    .setLANGCol12{
        text-align: center;
    }
    .setB2{
        display:none;
    }
    .setB3{
        display:none;
    }
    .setDEscriptionMORP{
        text-align: center;
    }
    .setColXS{
        width:100% !important;
    }
    .setBNBNJDP{
        width:100% !important;
        margin:2px;
    }
    .setROWNEWMILSTONE{
        text-align: center;
    }
    .setULNAVTBS{
        height:95px;
        overflow: scroll;
    }
    .setULNAVTBS ul{
        width:200%;
    }

    .setULNAVTBS li a{

    }
    .setULNAVTBS li{
        padding:2px !important;
    }
    .setTBLEMRJOP{
        overflow: scroll;
        max-height: fit-content;
        max-height: -moz-fit-content;
    }
    .setProfileUserPICJDP{
        display:inline-block;
    }
    .setContactsINFO .contacts-info-sub{
        padding:10px;
    }
    .setJDPBUTTON1{
        width:100% !important;
        margin-left:0px !important;
        margin:5px;
    }

    .setTH3{
        text-align: center;
    }

    .set-Row-Portlet-body{
        width:100%;
        text-align: center;
    }
}

@media (max-width:897px) and (min-width:813px)
{
    .set-row-imge-screen-shoots {
        height: 155px;
        margin-left: -5px;
        margin-right: -6px;
    }
}

@media (max-width:790px)
{
    .setModalImagecol4 {
        width: 50%;
    }
}

@media (max-width:812px) and (min-width:677px)
{
    .set-col-md-3 {
        margin-top: 45px;
        width: 50% !important;
    }

    .set-Image-screen-shoot {
        width: 90%;
        height: 164px;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }
}

@media (max-width:676px) and (min-width:500px)
{
    .set-col-md-3 {
        margin-top: 45px;
        width: 50% !important;
    }

    .set-Image-screen-shoot {
        width: 90%;
        height: 110px;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 75% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }
}

@media (max-width:499px) and (min-width:320px)
{
    .set-Image-screen-shoot {
        width: 90%;
        height: 162px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-col-md-3 {
        margin-top: 45px;
        width: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }
}

@media (max-width:440px) and (min-width:375px)
{

    .set-Image-screen-shoot {
        width: 90%;
        height: 108px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-col-md-3 {
        margin-top: 10px;
        width: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 80% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }
}

@media (max-width:374px) and (min-width:320px)
{
    .table-condensed {
        border-collapse: unset !important;
        border-spacing: 2px !important;
    }
    .datepicker table tr td, .datepicker table tr th {
        text-align: center;
        width: 30px;
        height: 25px !important;
        border-radius: 4px;
        border: none;
    }
    .setbtnApply {
        float: right;
        position: relative;
        right: 20px;
        top: -5px !important;
    }
    .set-Image-screen-shoot {
        width: 90%;
        height: 72px;
    }
    .set-col-timeDate{
        width:100% !important;
    }

    .set-time-screen-shot {
        font-size: 9px;
        color: #4b5457 !important;
    }

    .set-col-md-3 {
        margin-top: 10px;
        width: 100% !important;
        margin-bottom: -54px;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 70% !important;
    }


    .set-delete-icon{
        font-size: 14px;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 12px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 12px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 12px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }
}


@media (max-width:322px){
    .SETContainer2 {
        position: absolute;
        transform: translate(-50%,-33%);
        top: 51%;
        left: 16%;
        display: flex;
    }
}

@media (max-width:508px) and (min-width:434px)
{
    .setULNAVTBS ul {
        width: 250%;
    }
}

@media (max-width:433px) and (min-width:320px)
{

    .setULNAVTBS ul li.active .setLI{
        border: 2px solid #57b029;
        color: #57b029;
        text-align: center;
        height:auto;
        width: 115px !important;
        padding: 8px;
        font-size: 12px;
    }

    .setULNAVTBS ul {
        width: 285%;
        padding: 30px 0px 30px 0px;
    }
}

@media (max-width:411px) and (min-width:320px)
{
    .setBNBNJDP {
        width: 100% !important;
        margin-left:0px !important;
        margin:5px;
        top:10px !important;
    }

    .setModalRowImage {
        display:block;
    }
}
.clear{
    clear:both;
}

@media (max-width:398px){
    .tbleWidth {
        /* width: 150% !important; */
        overflow: scroll;
        height: 300px;
    }
}

/* responsive calendar */
.inactive {
    background-color: lightgray;
}
/*!
 * Datetimepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datetimepicker{padding:4px;margin-top:1px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;direction:ltr}.datetimepicker-inline{width:220px}.datetimepicker.datetimepicker-rtl{direction:rtl}.datetimepicker.datetimepicker-rtl table tr td span{float:right}.datetimepicker-dropdown,.datetimepicker-dropdown-left{top:0;left:0}[class*=" datetimepicker-dropdown"]:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,.2);position:absolute}[class*=" datetimepicker-dropdown"]:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute}[class*=" datetimepicker-dropdown-top"]:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #ccc;border-top-color:rgba(0,0,0,.2);border-bottom:0}[class*=" datetimepicker-dropdown-top"]:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #fff;border-bottom:0}.datetimepicker-dropdown-bottom-left:before{top:-7px;right:6px}.datetimepicker-dropdown-bottom-left:after{top:-6px;right:7px}.datetimepicker-dropdown-bottom-right:before{top:-7px;left:6px}.datetimepicker-dropdown-bottom-right:after{top:-6px;left:7px}.datetimepicker-dropdown-top-left:before{bottom:-7px;right:6px}.datetimepicker-dropdown-top-left:after{bottom:-6px;right:7px}.datetimepicker-dropdown-top-right:before{bottom:-7px;left:6px}.datetimepicker-dropdown-top-right:after{bottom:-6px;left:7px}.datetimepicker>div{display:none}.datetimepicker.days div.datetimepicker-days,.datetimepicker.hours div.datetimepicker-hours,.datetimepicker.minutes div.datetimepicker-minutes,.datetimepicker.months div.datetimepicker-months,.datetimepicker.years div.datetimepicker-years{display:block}.datetimepicker table{margin:0}.datetimepicker td,.datetimepicker th{text-align:center;width:20px;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:none}.table-striped .datetimepicker table tr td,.table-striped .datetimepicker table tr th{background-color:transparent}.datetimepicker table tr td.day:hover,.datetimepicker table tr td.hour:hover,.datetimepicker table tr td.minute:hover{background:#eee;cursor:pointer}.datetimepicker table tr td.new,.datetimepicker table tr td.old{color:#999}.datetimepicker table tr td.disabled,.datetimepicker table tr td.disabled:hover{background:0 0;color:#999;cursor:default}.datetimepicker table tr td.today,.datetimepicker table tr td.today.disabled,.datetimepicker table tr td.today.disabled:hover,.datetimepicker table tr td.today:hover{background-color:#fde19a;background-image:-moz-linear-gradient(top,#fdd49a,#fdf59a);background-image:-ms-linear-gradient(top,#fdd49a,#fdf59a);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fdd49a),to(#fdf59a));background-image:-webkit-linear-gradient(top,#fdd49a,#fdf59a);background-image:-o-linear-gradient(top,#fdd49a,#fdf59a);background-image:linear-gradient(top,#fdd49a,#fdf59a);background-repeat:repeat-x;border-color:#fdf59a #fdf59a #fbed50;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.datetimepicker table tr td.today.active,.datetimepicker table tr td.today.disabled,.datetimepicker table tr td.today.disabled.active,.datetimepicker table tr td.today.disabled.disabled,.datetimepicker table tr td.today.disabled:active,.datetimepicker table tr td.today.disabled:hover,.datetimepicker table tr td.today.disabled:hover.active,.datetimepicker table tr td.today.disabled:hover.disabled,.datetimepicker table tr td.today.disabled:hover:active,.datetimepicker table tr td.today.disabled:hover:hover,.datetimepicker table tr td.today.disabled:hover[disabled],.datetimepicker table tr td.today.disabled[disabled],.datetimepicker table tr td.today:active,.datetimepicker table tr td.today:hover,.datetimepicker table tr td.today:hover.active,.datetimepicker table tr td.today:hover.disabled,.datetimepicker table tr td.today:hover:active,.datetimepicker table tr td.today:hover:hover,.datetimepicker table tr td.today:hover[disabled],.datetimepicker table tr td.today[disabled]{background-color:#fdf59a}.datetimepicker table tr td.active,.datetimepicker table tr td.active.disabled,.datetimepicker table tr td.active.disabled:hover,.datetimepicker table tr td.active:hover{background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-ms-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(top,#08c,#04c);background-repeat:repeat-x;border-color:#04c #04c #002a80;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datetimepicker table tr td.active.active,.datetimepicker table tr td.active.disabled,.datetimepicker table tr td.active.disabled.active,.datetimepicker table tr td.active.disabled.disabled,.datetimepicker table tr td.active.disabled:active,.datetimepicker table tr td.active.disabled:hover,.datetimepicker table tr td.active.disabled:hover.active,.datetimepicker table tr td.active.disabled:hover.disabled,.datetimepicker table tr td.active.disabled:hover:active,.datetimepicker table tr td.active.disabled:hover:hover,.datetimepicker table tr td.active.disabled:hover[disabled],.datetimepicker table tr td.active.disabled[disabled],.datetimepicker table tr td.active:active,.datetimepicker table tr td.active:hover,.datetimepicker table tr td.active:hover.active,.datetimepicker table tr td.active:hover.disabled,.datetimepicker table tr td.active:hover:active,.datetimepicker table tr td.active:hover:hover,.datetimepicker table tr td.active:hover[disabled],.datetimepicker table tr td.active[disabled]{background-color:#04c}.datetimepicker table tr td span{display:block;width:23%;height:54px;line-height:54px;float:left;margin:1%;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.datetimepicker .datetimepicker-hours span{height:26px;line-height:26px}.datetimepicker .datetimepicker-hours table tr td span.hour_am,.datetimepicker .datetimepicker-hours table tr td span.hour_pm{width:14.6%}.datetimepicker .datetimepicker-hours fieldset legend,.datetimepicker .datetimepicker-minutes fieldset legend{margin-bottom:inherit;line-height:30px}.datetimepicker .datetimepicker-minutes span{height:26px;line-height:26px}.datetimepicker table tr td span:hover{background:#eee}.datetimepicker table tr td span.disabled,.datetimepicker table tr td span.disabled:hover{background:0 0;color:#999;cursor:default}.datetimepicker table tr td span.active,.datetimepicker table tr td span.active.disabled,.datetimepicker table tr td span.active.disabled:hover,.datetimepicker table tr td span.active:hover{background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-ms-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(top,#08c,#04c);background-repeat:repeat-x;border-color:#04c #04c #002a80;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datetimepicker table tr td span.active.active,.datetimepicker table tr td span.active.disabled,.datetimepicker table tr td span.active.disabled.active,.datetimepicker table tr td span.active.disabled.disabled,.datetimepicker table tr td span.active.disabled:active,.datetimepicker table tr td span.active.disabled:hover,.datetimepicker table tr td span.active.disabled:hover.active,.datetimepicker table tr td span.active.disabled:hover.disabled,.datetimepicker table tr td span.active.disabled:hover:active,.datetimepicker table tr td span.active.disabled:hover:hover,.datetimepicker table tr td span.active.disabled:hover[disabled],.datetimepicker table tr td span.active.disabled[disabled],.datetimepicker table tr td span.active:active,.datetimepicker table tr td span.active:hover,.datetimepicker table tr td span.active:hover.active,.datetimepicker table tr td span.active:hover.disabled,.datetimepicker table tr td span.active:hover:active,.datetimepicker table tr td span.active:hover:hover,.datetimepicker table tr td span.active:hover[disabled],.datetimepicker table tr td span.active[disabled]{background-color:#04c}.datetimepicker table tr td span.old{color:#999}.datetimepicker th.switch{width:145px}.datetimepicker tfoot tr:first-child th,.datetimepicker thead tr:first-child th{cursor:pointer}.datetimepicker tfoot tr:first-child th:hover,.datetimepicker thead tr:first-child th:hover{background:#eee}.input-append.date .add-on i,.input-prepend.date .add-on i{cursor:pointer;width:14px;height:14px}
@font-face{font-family:arrows;
    /*src:url(../fonts/arrows.eot);src:url(../fonts/arrows.eot?#iefix) format('embedded-opentype'),url(../fonts/arrows.woff) format('woff'),url(../fonts/arrows.ttf) format('truetype');*/
    font-weight:400;font-style:normal}
[class*=icon-]:before{display:inline-block;
    font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-arrow-right:before{content:'\0042'}
.icon-arrow-left:before{content:'\0041'}
.calendar{height:84%;width:100%;box-sizing:border-box;user-select:none;
    /*color:#1e94a0;*/
    border: 1px solid #ddd !important;
    border-radius:5px;
}
.setFa{
    color:#fff;
}
.calendar__head{width:100%;height:21%;text-align:center;box-sizing:border-box;cursor:default;}
.calendar__head-text{font-size:20px;color:#fff; font-family: Montserrat, sans-serif !important;}
.calendar__head-days{width:30%;text-decoration:none;margin-top:2.5%;margin-left:5px; font-size: 14px;}
.calendar__head-days-item{position:relative}
.calendar__head-days-item:after{content:'';display:block;position:absolute;left:calc(100% - 2px);top:50%;margin-top:-10px;width:0px;height:20px;background-color:#00172d}
.calendar__head-days-item:last-child:after{display:none}
.calendar__nav{display:flex;justify-content:space-between;
    align-items:center;
    padding:0 2%;
    background-color:#57b029;
    height:56px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.calendar__btn{cursor:pointer;font-size:27px}
.calendar__body{
    width:100%;
    height:100%;
>>>>>>> Offical Project
    border-spacing:4px 3px;
    padding:3px 5px;
    text-align:center;
    /*font-family: Sans-Serif;*/
}
.calendar-cell{margin-left:10px;
    border-radius:8px;
    cursor:pointer;
    transition:box-shadow .22s ease-in;
    font-size:14px;
    height: 28px;
}
.calendar-cell:hover{
    /*box-shadow:inset 0 0 0 2px #001a33*/
    /*color:#fff;*/
}


.calendar-body-row{
}

.calendar-cell-selected{border-radius:7px;background:#42EB39;color:#fff;}
.calendar-cell-selected.calendar-cell-today {
    /*box-shadow:inset 0 0 0 2px #001a33*/
    color:#fff;
}
.calendar-cell-gray{color:#7D7D7D;cursor:default}
.calendar-cell-gray:hover{box-shadow:none}
.calendar-cell-green{}
.calendar-cell-today {
    background-color: #57b029;
    color: #fff;
    padding: 5px 1px 3px;
}
.body{}
/*.calendar-wrap{width:350px;height:290px;margin:0 auto;margin-top:115px}*/

table{
    color:#4b5457 !important;
}

.vr01 {
    width: 2px;
    background-color: #ddd;
    height: 306px !important;
    position: absolute;
    top: 77px !important;
    bottom: 0;
    left: 32%;
    opacity: .5;
}

.setTABLE0 {
    border-collapse: collapse;
    position: absolute;
    left: 66%;
    margin-bottom: 0px;
    bottom: 0%;
}

.setTOTALEarning {
    width: 100%;
    position: relative;
    right: 10%;
}

.setTR th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px 20px;
    font-size:small;
}

.setTR td{
    padding: 8px 20px;
    font-size:small;
    color:#D3D3D3;
}


.setTDL{
    color:#57af33 !important;
}

.setHW{
    position:absolute;
    left:64px;
}

.setTR:nth-child(even) {
    /*background-color: #dddddd;*/
}

.set-md-col{
    right:2%;
}

@media (max-width:991px) and (min-width:320px)
{
    .setTh-3{
        display: inline-block;
    }
    .setTh-1{
        display: inline-block;
    }

    .setTh-2{
        position: relative;
        left: 14%;
    }
    .set-md-col{
        right:0% !important;
    }
    .calendar__head-days {
        width: 100% !important;
        text-decoration: none;
        margin-top: 2.5%;
        margin-left: 1%;
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width:991px){
    .vr01{
        display: none;
    }
}

@media (max-width:705px)
{
    .setTh-2 {
        position: relative;
        left: 11%;
    }
}

@media (max-width: 466px)
{   .setTh-2 {
        position: relative;
        left: 5%;
    }
}