#endDateAppend{
    border: 0px !important;
    top:0px !important;
    bottom: 0px !important;
    color: #585858 !important;
    font-weight: 500 !important;
    margin-right: 13px !important;
    padding:0px !important;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

.daterangepicker select.monthselect {
    margin-right: 0% !important;
    width: 30% !important;
    border: 0px;
    background: #fff;
    font-size: 18px !important;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
}

.daterangepicker.single .ranges, .daterangepicker.single .drp-calendar {
    float: right !important;
}

.daterangepicker td.week, .daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
    display: none !important;
}

.daterangepicker td.in-range {
    background-color:#daffd5 !important;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.daterangepicker select.yearselect {
    width: 30% !important;
    border-radius: 0px;
    border: 0px;
    font-size: 18px !important;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    background: #fff;
}

.single .calendar-table .table-condensed thead tr th:first-child{
    display: none !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color:#25ce0f !important;
    border-color: transparent;
    color: #fff !important;
}

/*.daterangepicker td.start-date.end-date{*/
    /*border-radius: 20px !important;*/
/*}*/

/*.daterangepicker td.start-date{*/
    /*border-bottom-left-radius: 50% !important;*/
    /*border-top-left-radius: 50% !important;*/
/*}*/
/*.daterangepicker td.end-date{*/
    /*border-bottom-right-radius: 50% !important;*/
    /*border-top-right-radius: 50% !important;*/
/*}*/

.daterangepicker td.active, .daterangepicker td.available:hover{
    background-color:#ccc;
}

.daterangepicker.single .calendar, .daterangepicker.single .ranges{
    background-color:#f5f6f7 !important;
    height: 308px !important;
    width: 180px !important;
    text-align: center;
 }

.daterangepicker .ranges li{
    color:#979797 !important;
    padding: 10px !important;
    border-radius: 0px !important;
    margin:0px !important;
    border: 0px !important;
}

.daterangepicker .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin-top:62px !important;
}
.fa-times-calender{

}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover{
    color:#25ce0f !important;
    padding: 10px !important;
    border: 0px !important;
    border-radius: 0px !important;
    margin:0px !important;
    font-weight: 500 !important;
    background-color:#fff !important;
}

.daterangepicker .ranges li.active{
    border:0px !important;
    padding: 10px !important;
}

.daterangepicker {
    direction: ltr;
    text-align: left;
    border:1px solid #25ce0f !important;
}

.daterangepicker .drp-buttons {
    clear: both;
    text-align: right;
    padding: 8px;
    border-top: 1px solid #25ce0f !important;
    display: none;
    line-height: 12px;
    vertical-align: middle;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
    border-left: 0px solid #ddd !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
}


.monthselect {
    -webkit-appearance: none !important;
}
.yearselect{
    -webkit-appearance: none !important;
}
.tabs-headers{
    background-color:#25ce0f;
    padding: 10px;
}
.page-title{
    display: none;
}
.tabs-headers p{
    color: #fff;
    font-size: 24px;
    margin: 6px;
    font-weight: 600;
    font-family: Montserrat;
}

.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
    padding-top: 0px;
}

.page-content-white .page-content .page-bar{
    border:0px;
    margin-bottom: 12px;
    padding-top: 8px;
}
.conatiner-tabs ul li a{
    font-weight: 500;
}
.portlet.light .portlet-body {
    padding-top: 0px;
}
.slash{
    font-size: 18px !important;
}
.slash-gray{
    font-size: 18px !important;
    color: #979797 !important;
}

.color-green{
    color: #25ce0f !important;
}

.color-green a{
    color: #25ce0f !important;
}

.font-set a{
    font-size: 18px !important;
    font-weight: 600;
    font-family: Montserrat, Helvetica, sans-serif;
}

.color-gray{
    color: #979797 !important;
}

.color-gray a{
    color: #979797 !important;
}

.page-breadcrumb{
    background-color: #f7f7f6;
    width: 100%;
    font-family: Montserrat, Helvetica, sans-serif;
    padding: 13px !important;
}

.box-one{
    background-color: #fff;
    padding: 13px;
    border-radius: 4px;
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #25ce0f;
    box-shadow: 0px 2px 9px 1px #ebecec;
}

.box-one .fa-pencil{
    padding-right: 10px;
}
.box-two{
    background-color: #fff;
    padding: 13px;
    border-radius: 4px;
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #25ce0f;
    box-shadow: 0px 2px 9px 1px #ebecec;
}
.box-three{
    background-color: #25ce0f;
    padding: 13px;
    border-radius: 4px;
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    width:120px;
    box-shadow: 0px 2px 9px 1px #ebecec;
}

.box-three i{
    color:#fff;
}

.r-0 .custom-padding{
    padding-right: 0px;
}

.box-two img{
    padding-right: 10px;
}

.box-two span{
    position: relative;
    top:2px;
}
.r-0 .custom-width{
    width:12%;
}

.box-three span{
    font-weight: 600;
}

.custom-breadcrumb span{
    color:#979797;
    font-weight: bold;
}
.custom-breadcrumb p {
    margin:0px;
}
.custom-breadcrumb p a{
    text-decoration: none;
    color:#979797;
}
.custom-breadcrumb{
    padding:15px;
    background-color: #f5f6f7;
}

.r-1 .date-time-box{
    border: 1px solid #e5e5e5;
    text-align: center;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.date-time-box .right-sec{
    width: 45%;
    display: inline-block;
    font-family: Montserrat, Helvetica, sans-serif;
    text-align: left;
}

.date-time-box .right-sec h3 {
    color: #25ce0f;
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.date-time-box .right-sec input{
    border:0px;
    color: #585858;
    font-weight: 500;
    max-width: 83px;
    min-width: 83px;
}

.date-time-box .right-sec .fa-calendar{
    color:#25ce0f;
    font-size:19px;
}

.date-time-box .left-sec{
    width: 45%;
    display: inline-block;
    float: right;
    padding-left: 8px;
    text-align: left;
}


.date-time-box .left-sec h3 {
    color: #25ce0f;
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.date-time-box span{
    border: 1px solid lightgray;
    position: relative;
    bottom: 5px;
}

.date-time-box .left-sec .fa-calendar{
    color:#25ce0f;
    font-size: 19px;
}

.date-time-box .left-sec input{
    border:0px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    max-width: 83px;
    min-width: 83px;
    color: #585858;
    font-weight: 500;
}

.custom-width-section-two{
    width:30%;
}

.custom-search-box input{
    min-height:52px;
    max-height:52px;
    padding-left:16px;
    border: 1px solid #e5e5e5;
}
.custom-search-box .fa-search{
    float: right;
    padding: 18px;
    position: relative;
    bottom: 51px;
    background-color:#25ce0f;
    color: #fff;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}

.custom-width-col-firs .filter-box{
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #25ce0f;
    padding: 8px;
    font-weight: 600;
}

.filter-box .fa-filter{
    font-size: 22px;
}

.statements-box .fa-bars{
    font-size: 22px;
}

.custom-width-col-firs{
    display: inline-block;
    width:11%;
}

.custom-width-col-sec{
    float: right;
    text-align: center;
    width:14%;
    padding-right: 0px;
}

.custom-width-col-sec .statements-box{
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    color: #25ce0f;
    padding: 8px;
    font-weight: 600;
    padding-left: 0px;
}

.set-custom-padd-col-5{
    padding-right: 0px;
    padding-left: 6px;
    width: 45%;
    min-height: 52px;
    max-height: 52px;
}

@media (max-width:991px)
{
    .custom-width-section-two {
        width: 100%;
    }
    .r-0 .custom-width {
        width: 100%;
    }
    .box-fourth-modal-withdraw {
        position: relative;
         left: 0px;
        background-color: #25ce0f;
        padding: 13px;
        border-radius: 4px;
        text-align: center;
        font-weight: 600;
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: 16px;
        color: #fff;
        width: 100%;
        box-shadow: 0px 2px 9px 1px #ebecec;
        cursor: pointer;
    }
    .r-0 .custom-padding {
        padding-right: 15px;
    }
    .set-custom-padd-col-5 {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        min-height: 52px;
        max-height: 52px;
        margin-top: 17px;
    }
    .custom-width-col-sec {
        float: right;
        text-align: center;
        width: 43%;
        padding-right: 0px;
    }
    .date-time-box .left-sec {
        width: 50%;
        display: inline-block;
        float: right;
        padding-left: 8px;
        text-align: left;
    }
    .box-three {
        background-color: #25ce0f;
        padding: 13px;
        border-radius: 4px;
        text-align: center;
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: 16px;
        color: #fff;
        width: 100%;
        box-shadow: 0px 2px 9px 1px #ebecec;
    }
}

.tabled h1{
    color: #585858;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.set-table-striped tbody tr td{
    padding:20px;
    border-top: 0px;
    font-weight: 600;
    font-family: Montserrat, Helvetica, sans-serif;
}

.custom-style{
    color:#585858 !important;
    width:100%;
    font-weight: 600;
}

.custom-style span{
    font-size:12px;
    color:#9f9f9f !important;
    font-weight: 200 !important;
}

.custom-color-style{
    text-align: right;
    color:#585858 !important;
}

.custom-color-style span {
    font-weight: 200 !important;
    color:#9f9f9f !important;
}

.custom-align-style{
    text-align: center;
    font-size: 12px !important;
    color:#9f9f9f !important;
    font-weight: 500 !important;
    text-transform: uppercase;
}
.custom-align-style span{
    font-weight: 600 !important;
    color:#979797 !important;
    font-size: 16px !important;
}

.total-price span
{
    color:#585858;
    font-weight:bold;
}
.total-price{
    text-align: right;
    padding: 10px;
    padding-right: 0px;
    font-size: 15px;
    font-family: Montserrat, Helvetica, sans-serif;
}
.total-bill{
    color:#25ce0f !important;
    font-size: 20px;
    font-weight: 600 !important;
}


.container-cells .custom-width-col-5{
    width:50%;
    padding-left: 0px;
    padding-right: 0px;
}

.conatiner-tabs{
    padding: 0px;
}

.container-cells .custom-width-col-4{
    width:31%;
}

.container-cells .custom-width-col-3{
    width:26%;
}

.btn-add-user{
    font-size: 15px;
    position: relative;
    top: 6px;
    left: 5px;
    border-radius: 35px;
    background-color: #25ce0f;
    color: #fff;
    border: 0px;
    /*padding:17px 32px 17px 32px;*/
    font-weight: bold;
}

/*tabs view*/

/* Style the buttons inside the tab */

#chat_room{
    border:0px !important;
}

.chat-user-inner-name{
    font-size: 15px;
    font-weight: bold;
    color: #1e2349;
}
.chat-user-status{
    font-size: 10px;
    color: #979797;
    font-weight: 600;
    position: relative;
    top:-7px;
}

.container-chat-section {
    background-color: #f6f6f6;
    width: 100%;
    height: 800px;
}
.search-header-chat-room {
    background-color: #00cf00;
    padding:10px;
    height: 60px;
}

.search-box input {
    border:0px;
    border-radius: 20px;
    width:100%;
    background-color: #80e780;
    float: right;
    color: #fff;
}
.search-box input::placeholder {
    color: #fff;
}

.fa-search-chat{
    position: relative;
    right: 24px;
    display: flex !important;
    align-items: center;
    color: #fff;
}

.chat-user-list span{
    color: #979797;
    font-size: 16px;
    font-weight: 600;
}
.chat-user-list{
    padding: 22px 16px;
    text-align: left;
}

.hr-chat-divider{
    margin:0px;
}

.search-box{
    display: inline-flex;
    float: right;
    width:30%;
    padding-right: 15px;
}

.chat-user-detail-header{
    float: right;
    width:20%;
    color:#fff;
}

.chat-user-name{
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 12px;
}

.chat-user-role{
    font-weight: bold;
    font-size: 9px;
    padding-left: 12px;
    position: relative;
    top: -6px;
}

.chat-user-detail-header img{
    position: relative;
    left: 5px;
    top: 4px;
    cursor: pointer;
}

.chat-user-drop-down {
    float: right;
}

.chat-user-drop-down img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.chat-user-drop-down{
    position: relative;
    top: -7px;
}

/*about chat users*/

#about{
    border:0px !important;
}

.custom-width-defined img{
    width:46px;
    object-fit: cover;
    height:46px;
    border-radius: 25px;
}

.about-chat-user{
    height:600px;
    background-color: #fff;
    box-shadow: 4px 7px 6px -2px #dadada;
    margin-top:12px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    padding-top:20px;
}

.about-chat-user img{
    width: 67.13px;
    height: 71.8px;
}

.user-name-about-section{
    color:#1e2349;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
}
.user-live-about-section{
    font-size: 9px;
    color: #a7a7a7;
    font-weight: bold;
    word-wrap: break-word;
}
.user-live-about-section-border{
    border-bottom: 1px solid #e3e4e6;
    margin-top:5px;
    margin-bottom: 0px;
    width:50%;
}

.about-us .about-text{
    display: inline-flex !important;
    font-size: 14px !important;
    color: #979797 !important;
    cursor: pointer !important;
}

.tabs-section-about-us{
    position: relative;
}

.about-us img{
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.custom-tab-content{
    position: absolute;
    top: 73px;
    width: 100%;
    left: 0;
    margin: 0 auto;
    max-width: 220px;
    display: block;
    right: 0;
}

.chat-image-avatar img{
    width: 42.99px;
    height: 45.99px;
}

.kick-user{
    color:#7f7f7f;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    width: 95%;
    cursor: pointer;
}

.user-icon-about-us{
    padding:15px;
    padding-top:0px;
    padding-right:6px;
}

.about-user-name .name-S{
    font-weight: bold;
    color: #979797;
    font-size: 12px;
}

.about-user-name .full-name-S{
    font-weight: 600;
    color: #979797;
    font-size: 10px;
    position: relative;
    top: -7px;
}

.phone-details{
    text-align:left;
    display: flex;
}

.email-details{
    text-align:left;
    display: flex;
}

.phone-image{
    padding:15px;
    padding-top:0px;
    padding-right:6px;
}

.phone-image img{
    width: 17px;
    height: 20px;
}

.email-image {
    padding:15px;
    padding-top:0px;
    padding-right:5px;
    position: relative;
    right: 2px;
}

.email-image img{
    width: 20px;
    height: 17px;
}

.skill-image{
    padding:15px;
    padding-top:0px;
    padding-right:5px;
    position: relative;
    right: 2px;
}

.skill-div {
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    float: none;
    display: inline-flex;
}

.skill-info .full-number-C {
    color: #979797;
    font-weight: 600;
    font-size: 10px;
    position: relative;
    top: 8px;
    left: 23px;
}

@media (max-width:2000px)
{
    .skill-info {
        position: absolute;
        left:0px;
        width: 100%;
    }
}
.skill-info .number-C {
    color: #979797;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    left: 39px;
}

.item-skill.official {
    background-color: #f9d23f !important;
    padding-left: 3px !important;
    border: none;
    color: #fff !important;
    padding: 3px 10px 5px 10px;
    border-radius: 20px;
    text-align: center;
}

.item-skill.admin-verified {
    background-color: #25ce0f !important;
    padding-left: 3px !important;
    border: none;
    color: #fff !important;
    padding: 3px 10px 5px 10px;
    border-radius: 20px;
    text-align: center;
}

.admin-verified .fa-check{
    border: 1px solid;
    border-radius: 10px;
    font-size: 10px;
    padding-right: 2px;
    padding-left: 2px;
}

.item-skill span {
    display: inline-block;
    font-family: 'Montserrat Light', Arial !important;
}

.item-skill{
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    padding: 3px 7px;
}

.item-skill img{
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 11px;
    padding: 2px;
}
.skill-image img{
    width: 20px;
    height: 17px;
}

.contact-info{
    position: relative;
    top: -6px;
}

.contact-info .number-C{
    color: #979797;
    font-weight: bold;
    font-size: 12px;
}

.contact-info .full-number-C{
    color: #979797;
    font-weight: 600;
    font-size: 10px;
    position: relative;
    top: -6px;
}


.about-user-name{
    text-align: left;
    position: relative;
    top:-6px;
}

.about-us-info{
    display: flex;
}

.user-icon-about-us img{
    width: 17px;
    height: 20px;
}

.about-us-nav-tabs .about-us {
    /*border-bottom:1px solid #25ce0f !important;*/
}

.about-us-nav-tabs .settings {
    /*border-bottom:1px solid #25ce0f !important;*/
}

.about-us-nav-tabs{
    border-bottom: 1px solid #979797 !important;
}

.about-us-nav-tabs .active, .active a{
    border-bottom: 1px solid #25ce0f !important;
    display: inline-flex;
}


.chat-image-avatar{
    float: left;
}

.chat-inner-details {
    float: left;
}

.chat-user-online-status {
    float: right;
    text-align: right;
}

#settings{
    border:0px !important;
}

.hr-tabs{
    border-bottom: 1px solid #979797;
    width: 95%;
}

.block-user{
    color:#7f7f7f;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    width: 95%;
    cursor: pointer;
}

.settings .setting-tab{
    display: inline-flex !important;
    font-size: 14px !important;
    color: #979797 !important;
}

.tabs-about{
    display: inline-flex;
}

.settings {
    cursor: pointer;
    color: #979797;
    margin-bottom: 3px;
}

.settings .fa{
    color: #B0B0B0;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.chat-inner{
    height:600px;
    background-color: #fff;
    box-shadow: 4px 7px 6px -2px #dadada;
    margin-top:12px;
}

.chat-inner-list{
    display: inline-block;
    padding:7px;
    width: 100%;
}

.chat-inner-list:hover{
    cursor: pointer;
    background-color: #ebebeb;
}

.image-user-chat img{
    width:46px;
    height:46px;
    border-radius: 25px;
    object-fit: cover;
}

.message-inner-right .download-attachment{
    border: 0px !important;
    text-decoration: none !important;
}

.inner-message-right .fa-times{
    position: relative;
    left: -7px;
    z-index:999;
    cursor: pointer;
    top: -20px;
    /*border: 1px solid lightgray;*/
    /*border-radius: 20px;*/
    color: #555;
    display: inline-block;
}

.color-dots{
    color:gray;
    font-size: 21px;
}

.inner-message .fa-times{
    position: relative;
    left: 20px;
    cursor: pointer;
    top: -20px;
    border-radius: 20px;
    color: #555;
    display: inline-block;
}

.chat-user-online-status{
    text-align: center;
    padding-left: 7px;
    padding-top: 2px;
    width: 20%;
}


.section-inner-user-list {
    height: 446px;
    padding: 0px;
}


.ago-status{
    font-size: 7px;
    font-weight: bold;
    color: #979797;
}

.online-dot{
    height: 8px;
    width: 8px;
    background-color: #25ce0f;
    border-radius: 50%;
    display: inline-block;
}

.custom-padding-col-md-3{
    padding-right:0px;
}

.chat-group-section{
    color:#979797;
    font-size: 20px;
    font-family: Montserrat, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.chat-message-section {
    height: 464px;
    padding-bottom: 15px;
}
.float-right-inner-chat{
    text-align: right;
    list-style: none;
    margin-bottom: 41px;
}

.input-type-file{

}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.inner-chat-user-name-right{
    color: #979797;
    font-size: 8px;
    font-weight: bold;
    display: -webkit-box;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.showBox{
    height:30px;
    width:30px;
}

.message-inner-right{
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: 0px;
    max-width: 70%;
    background: #fff;
    border-radius: 12px;
    display: inline-flex;
    min-height: 40px;
    padding-right: 12px;
    position: relative;
    color: #fff;
    right: 20px;
}

/* this CS forms the triangles */
.message-inner-right:after,
.message-inner-right:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}


/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.message-inner-right:after {
    top: 15px;
    border-color: transparent transparent transparent #fff;
    border-width: 10px;
}

/* this border color controlls the outside, thin border */
.message-inner-right:before {
    top: 15px;
    border-color: transparent transparent transparent #fff;
    border-width: 11px;
}

/*over lay*/
.no-click{
    pointer-events: none;
}
/*over lay*/

.custom-width-defined{
    float: right;
    width:10%;
    text-align: center;
    padding-left: 10px;
}

.message-inner-right p{
    color: #979797;
    margin-bottom: 18px;
    word-wrap: break-word;
}

.inner-message-right .fa-caret-right{
    font-size: 30px;
    display: inline;
    position: relative;
    top: 10px;
    right: 7px;
    color: #fff;
}

.inner-message-right{
    padding: 5px 0;
    margin: 0px auto;
    font-size: 12px;
}

.image-user-chat-right{
}

.inner-message{
    padding: 5px 0;
    margin: 0px auto;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.inner-message .fa-caret-left{
    font-size: 30px;
    text-align: right;
    color:#fff;
    width: 6%;
}

.image-user-chat{
    text-align: center;
    width:10%;
}

.inner-chat-user-name{
    color:#979797;
    font-size: 8px;
    font-weight: bold;
}

.changeColor{
    border: 1px solid red;
}

.message-inner p{
    color:#979797;
    padding-right: 10px;
    word-wrap: break-word;
}

.caret-image{
    top:-28px !important;
}

.set-fa-times{
    top: -38px !important;
}

.message-inner {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: left;
    margin-left: 0px;
    max-width: 70%;
    padding-right: 12px;
    background: #fff;
    border-radius: 12px;
    min-height: 40px;
    position: relative;
    color: #fff;
    left: 30px;
}

/* this CS forms the triangles */
.message-inner:after,
.message-inner:before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    transform: rotate(-183deg) !important;
}


/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.message-inner:after {
    top: 15px;
    border-color: transparent transparent transparent #fff;
    border-width: 10px;
}

/* this border color controlls the outside, thin border */
.message-inner:before {
    top: 15px;
    border-color: transparent transparent transparent #fff;
    border-width: 11px;
}

.message-inner-chat{
    list-style: none;
    padding-left: 5px;
}

.chat-send-message-box input{
    height: 65px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 4px 7px 6px -2px #dadada !important;
    padding-right: 80px;
}

.chat-send-message-box .paper-send{
    background-color: #25ce0f;
    border-radius: 20px;
    position: relative;
    padding: 17px;
    top: -49px;
    right: 6px;
    float: right;
}


.paper-clip{
    text-decoration: none !important;
    border: 0px !important;
    float: right;
}

.chat-send-message-box .fa-paper-plane {
    position: absolute;
    bottom: 12px;
    font-size: 19px;
    right: 9px;
    color: #fff;
    transform: rotate(45deg);
}

.chat-send-message-box .fa-paperclip {
    transform: rotate(45deg);
    position: relative;
    top: -38px;
    cursor: pointer;
    right: 76px;
    font-size: 25px;
    color:#8e8f93;
}

.chat-inner-details{
    padding-left: 5px;
    padding-top: 8px;
}

.custom-padding-col-3{
    padding-left:0px;
}

.section-see-more {
    text-align: center;
    color: #979797;
    cursor: pointer;
    margin-top: 0px;
    padding: 21px;
}

.arrow-down{
    width: 11px;
    height: 5px;
    padding-left: 2px;
}

.chat-section-center{
    height: 300px;
}

/*about chat users*/

.check-that-time{
    position: absolute;
    text-align: right;
    right: 60px;
    top:156px;
}

.activatedClass{
    background-color: #EBEBEB;
}

/*slide effect*/
    .custom-width-slide{
        width:75%;
    }

    .removeCustomWidth{
        width:50%;
    }
/**slide effect/
 */

@media (max-width:991px) {
    .chat-inner {
        height: 145px;
        background-color: #fff;
        box-shadow: 4px 7px 6px -2px #dadada;
        margin-top: 12px;
    }
    .custom-padding-col-md-3 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .custom-width-slide {
        width: 100%;
    }
    .chat-send-message-box .paper-send {
        background-color: #25ce0f;
        border-radius: 20px;
        position: relative;
        padding: 17px;
        top: -49px;
        right: 0px;
        float: right;
    }
    .chat-send-message-box .fa-paperclip {
        transform: rotate(45deg);
        position: relative;
        top: -38px;
        cursor: pointer;
        right: 58px;
        font-size: 25px;
        color: #8e8f93;
    }
    .custom-width-defined {
        float: right;
        width: 55px;
        text-align: center;
        padding-left: 10px;
    }
    .custom-padding-col-md-3 {
        padding-right: 6px;
        padding-left: 6px;
    }
    .check-that-time {
        position: absolute;
        text-align: right;
        right: 60px;
        margin-top: -23px;
        top: 95px;
    }
}

@media (max-width: 767px) {
    .tab-pane-container .row{
        display: block;
    }
    .search-box{
        display: inline-flex;
        float: right;
        width:55%;
        padding-right: 15px;
    }

    .chat-user-detail-header {
        float: right;
        width: 30%;
        color: #fff;
    }
}

@media (max-width:500px) {
    .chat-user-name {
        margin: 0px;
        font-weight: bold;
        font-size: 12px;
        padding-left: 12px;
    }
    .chat-user-drop-down img {
        width: 40px;
        height: 40px;
        border-radius: 25px;
        object-fit: cover;
    }
    .ulLi {
        overflow: scroll;
    }
    .conatiner-tabs {
    }

    .conatiner-tabs .nav-tabs{
        width: 200%;
    }
}

@media (max-width:390px) {
    .conatiner-tabs .nav-tabs {
        max-width: fit-content;
        display: flex;
    }
    .chat-user-detail-header img {
        position: relative;
        left: 5px;
        top: 4px;
        cursor: pointer;
        width: 10px;
    }
}


@media (max-width: 320px) {
    .chat-user-name {
        margin: 0px;
        font-weight: bold;
        font-size: 9px;
        padding-left: 12px;
    }
}

/*over write js tabs classes*/
.availables {
    background-color: #25ce0f;
}

.inuse {
    background-color: rgb(227, 228, 230);
}

.booked {
    background-color: rgb(252, 184, 23);
}

/*
* * *  Select 2 customization on modal
*/
.select2-selection--single {
    border: none !important;
    border-bottom: 2px solid darkgray !important;
    border-radius: 0 !important;
    text-align: left !important;
    border-bottom: 2px solid #a8a8a8 !important;
    color: #a8a8a8 !important;
    font-weight: bold !important;
}

.select2-selection__clear {
    display: none !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #a8a8a8 !important;
    font-weight: bold !important;
}
/*
* * *  Select 2 customization on modal
*/

.nav-tabs a {
    font-family: Montserrat, Helvetica, sans-serif;
    border: 0px !important;
    font-size: 18px !important;
    color: #979797 !important;
    margin-right: 0px !important;
    font-weight: 600;
}

.active, .active a {
    margin-right: 0px;
    color: #25ce0f !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 3px solid #25ce0f;
}

.conatiner-tabs {
    width: 100%;
}

.conatiner-tabs ul li a:hover {
    background-color: transparent !important;
}

.tab-pane-container {
    width: 100%;
    padding: 10px;
    border: 0.5px solid #ebecec;
    box-shadow: 0 2px 10px 1px #ebecec;
    border-radius: 4px;
    border-top: 0px;
    padding-right: 0px;
}

#todaySales {
    border: 0px !important;
}

.datetimepicker {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    border: 1px solid #25ce0f;
    margin-top: 13px;
    margin-left: -10px;
}

.tab-pane-container .fa-calendar {
    padding-right: 10px;
    padding-left: 20px;
}

.tab-pane-container input {
    font-family: Montserrat, Helvetica, sans-serif;
    color: #979797 !important;
    font-weight: 100;
    width: 52px;
    border: 0px;
    font-size: 12px;
}

.tab-pane-container .time-table {
    padding-left: 0px;
    padding-right: 0px;
    width: 84.5%;
}

.tab-pane-container .calender {
    padding-left: 30px;
    width: 13%;
    text-align: center;
    padding: 10px;
}

.time-table ul li {
    float: left;
    width: 3.88%;
    cursor: pointer;
    margin-bottom: 2px;
    font-size: 9px;
    font-weight: bold;
    list-style: none;
    background-color: #f5f6f7;
    color: #585858;
    border: 1px solid #e3e4e6;
    padding: 0px 6px 0px 6px;
    margin-right: 2px;
    min-height: 30px;
    max-height: 30px;
    display: grid;
    text-align: center;
    align-items: center;
}

.time-table ul {
    margin: 0px;
    padding-left: 0px;
    width: 100%;
}

.tab-pane-container .row {
    display: flex;
    align-items: center;
}

.uordered-list {
    padding-left: 0px;
}


.uordered-list li {
    list-style: none;
    font-family: Montserrat, Helvetica, sans-serif !important;
    font-size: 12px !important;
    color: #979797;
    float: left;
    padding-right: 12px;
    position: relative;
    top: 4px;
}


.label-container {
    background-color: #25ce0f;
    height: 13px;
    width: 13px;
    margin-bottom: 0px;
    margin-right: 6px;
}

.label-container-2 {
    background-color: #fcb817;
    height: 13px;
    width: 13px;
    margin-bottom: 0px;
    margin-right: 6px;
}

.label-container-3 {
    background-color: #e3e4e6;
    height: 13px;
    width: 13px;
    margin-bottom: 0px;
    margin-right: 6px;
}

.container-cells {
    width: 100%;
    padding-left: 0px;
}

.availability {
    padding-left: 0px;
    padding-right: 0px;
}

.check-seats {
    font-size: 13px;
    padding-right: 6px;
    font-family: Montserrat, Helvetica, sans-serif;
}

.divider {
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
}

.set-alignment {
    text-align-last: center;
    padding-left: 10px;
}

.set-alignment option {
    text-align-last: center;
}

.custom-alignment {
    padding-right: 0px;
    text-align: right;
    padding-left: 7px;
}

.custom-alignment select {
    width: 100px;
}

.select_box {
    overflow: hidden;
    position: relative;
    display: inline-block;
    top: 5px;
}

.option {
    padding-left: 50px !important;
}

.select_box:after {
    width: 0px;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #555;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
}

.select_box select {
    background-color: #fff;
    font-size: 10px;
    min-height: 20px;
    max-height: 20px;
    padding: 2px 18px 2px 10px;
    font-weight: 600;
}

/*inner container*/
.tab-pane-inner-container {
    width: 100%;
    padding: 10px;
    border: 0.5px solid #e6e6e6;
    border-radius: 0px;
    padding-right: 0px;
}

.rooms {
    width: 13%;
}

.box-container {
    background-color: #f5f6f7;
    width: 100%;
    font-size: 13px;
    font-family: Montserrat, Helvetica, sans-serif !important;
    padding: 10px;
    text-align: center;
    color: #585858;
    font-weight: 600;
    word-wrap: break-word;
}

.cells {
    padding-left: 0px;
    padding-right: 0px;
    width: 84.5%;
}

.cells ul {
    padding-left: 0px;
    margin: 0px;
}

.cells ul li {
    float: left;
    list-style: none;
    /*background-color: #25ce0f;*/
    margin-right: 2px;
    width: 3.88%;
    min-height: 30px;
    max-height: 30px;
    display: grid;
    text-align: center;
    align-items: center;
    padding: 0px 16px 0px 15px;
    margin-bottom: 3px;
}

.tab-pane-inner-container .m-0 {
    margin-bottom: 8px !important;
}

.tab-pane-inner-container .row {
    display: flex;
    align-items: center;
}

/*inner container*/


/*select customization*/
.dropbtn {
    background-color: #fff;
    color: #25ce0f;
    font-size: 10px;
    width: 100px;
    font-weight: 600;
    height: 20px;
    border: 0.5px solid rgb(169, 169, 169);
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0px;
}

.dropdown-content a {
    color: #b6b6b6 !important;
    text-align: center !important;
    font-weight: 600;
    margin-top: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    border-bottom: 0px !important;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #b3edac;
    color: #25ce0f !important;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}

/*select customization*/

.fa-caret-down {
    font-size: 16px;
    color: #555;
    float: right;
}

@media (max-width: 2000px) and (min-width: 1528px) {
    .cells ul li {
        float: left;
        list-style: none;
        /*background-color: #25ce0f;*/
        margin-right: 2px;
        width: 3.97%;
        min-height: 30px;
        max-height: 30px;
        display: grid;
        text-align: center;
        align-items: center;
        padding: 0px 16px 0px 15px;
        margin-bottom: 3px;
    }

    .time-table ul li {
        float: left;
        width: 3.97%;
        cursor: pointer;
        margin-bottom: 2px;
        font-size: 9px;
        font-weight: bold;
        list-style: none;
        background-color: #f5f6f7;
        color: #585858;
        border: 1px solid #e3e4e6;
        padding: 0px 6px 0px 6px;
        margin-right: 2px;
        min-height: 30px;
        max-height: 30px;
        display: grid;
        text-align: center;
        align-items: center;
    }

    .custom-alignment {
        padding-right: 0px;
        text-align: right;
        padding-left: 7px;
        text-align: right;
    }
}

@media (max-width: 1527px) and (min-width: 1400px) {
    .cells ul li {
        float: left;
        list-style: none;
        /*background-color: #25ce0f;*/
        margin-right: 2px;
        width: 3.94%;
        min-height: 30px;
        max-height: 30px;
        display: grid;
        text-align: center;
        align-items: center;
        padding: 0px 16px 0px 15px;
        margin-bottom: 3px;
    }

    .time-table ul li {
        float: left;
        width: 3.94%;
        cursor: pointer;
        margin-bottom: 2px;
        font-size: 9px;
        font-weight: bold;
        list-style: none;
        background-color: #f5f6f7;
        color: #585858;
        border: 1px solid #e3e4e6;
        padding: 0px 6px 0px 6px;
        margin-right: 2px;
        min-height: 30px;
        max-height: 30px;
        display: grid;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 991px) {

    #reviews {
        margin-top:0px !important;
    }

    .tab-pane-container .row {
        display: initial;
    }
    .set-scroll {
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
    }

    #scroll-div {
        width: max-content;
    }

    .availability {
        width: 100%;
    }

    .uordered-list li{
        float: unset;
    }

    .tab-pane-inner-container .row {
        display: flex;
        align-items: center;
        margin: 0px;
        flex-direction: column;
        justify-content: center;
    }

    .cells {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .tab-pane-container .time-table {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .tab-pane-container input {
        font-family: Montserrat, Helvetica, sans-serif;
        color: #979797 !important;
        font-weight: 100;
        border: 0px;
        font-size: 12px;
        width: 26%;
    }
    .tab-pane-container .calender {
        width: 100%;
        text-align: center;
        display: inline-flex;
    }
    .container-cells .custom-width-col-5 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .tab-pane-container {
        width: 100%;
        padding: 10px;
        border: 0.5px solid #ebecec;
        box-shadow: 0 2px 10px 1px #ebecec;
        border-radius: 4px;
        border-top: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .box-container {
        padding-left: 30px;
        background-color: #f5f6f7;
        width: 90%;
        font-size: 13px;
        font-family: Montserrat, Helvetica, sans-serif !important;
        padding: 20px;
        text-align: center;
        color: #585858;
        font-weight: 600;
        word-wrap: break-word;
        margin-bottom: 10px;
    }

    .time-table ul li {
        width: 29px;
    }

    .rooms {
        width: 100%;
    }

    .custom-alignment {
        padding-right: 13px;
        text-align: -webkit-center;
        padding-left: 7px;
    }

    .sm-0 {
        width: 100%;
    }
}

@media (max-width:767px) {
    .container-cells .custom-width-col-5 {
        width: 100px;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
        display: inline-grid;
        text-align: -webkit-center;
        line-height: 2;

    }
    .tab-pane-container .row {
        display: initial;
    }
}

@media (max-width: 447px) {
    .tab-pane-container .row {
        display: block;
        align-items: center;
    }

    .tab-pane-container .calender {
        text-align: center;
        padding-left: 30px;
        width: 100%;
    }

    .cells {
        padding-right: 2px;
        width: 100%;
    }

    .tab-pane-container .time-table {
        padding-left: 11px;
        padding-right: 0px;
        width: 94%;
    }

    .sm-0 {
        width: 100%;
        text-align: center;
        padding-left: 50px;
        display: inline-block;
        margin-bottom: 10px;
    }
}

/*jquery table settings*/
.table-condensed thead tr {
    display: -webkit-box;
}

.table-condensed tbody tr {
    display: inherit;
}

/*jquery table settings*/
.datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active.disabled:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active[disabled] {
    background-color: #25ce0f !important;
    border-radius: 20px;
    border-bottom: 0px !important;
    font-weight: 600 !important;
    color: #fff !important;
    font-size: 12px !important;
}

.datepicker table td, .datepicker table th, .datetimepicker table td, .datetimepicker table th {
    font-family: 'Open Sans' !important;
    padding: 10px !important;
    border-radius: 20px;
}

.datetimepicker tfoot tr:first-child th, .datetimepicker thead tr:first-child th {
    cursor: pointer;
    width: 89px;
}

.table thead tr td {
    padding: 8px 20px !important;
    font-weight: bold;
    color: #747474;
    font-family: Montserrat, Helvetica, sans-serif !important;
}

.set-modal-footer {
    border: 0px !important;
    text-align: center;
    padding-top: 0px;
}

.btn-more .fa-plus {
    font-size: 10px;
    padding-right: 5px;
}

.set-modal-footer h3 {
    margin-top: 10px;
    font-weight: 600;
    color: #25ce0f;
}

.set-moda-body {
    padding-bottom: 0px;
    padding-bottom: 0px;
    border: 0px !important;
    padding-top: 0px;

}

.set-modal-header {
    border: 0px !important;
    padding-bottom: 0px;
    font-family: Montserrat, Helvetica, sans-serif;
}

.set-modal-title {
    font-family: Montserrat, Helvetica, sans-serif;
    color: #585858;
    border: 0px !important;
    font-weight: bold;
    font-size: 20px;
    margin-top: 16px;
}

.set-modal-content {
    border-radius: 0px;
    border: 2px solid #a8a8a8;
    box-shadow: none;
}

.set-modal-title span {
    font-family: Montserrat, Helvetica, sans-serif;
    color: #25ce0f !important;
}

.btn-more {
    background-color: #25ce0f;
    color: #fff;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 600;
    width: 160px;
}

.btn-more:hover {
    background-color: #25ce0f;
    color: #fff;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 600;
    width: 160px;
}

.btn-more:focus {
    background-color: #25ce0f;
    color: #fff;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 600;
    width: 160px;
}

.btn-more-confirm {
    background-color: #25ce0f;
    color: #fff;
    font-family: Montserrat, Helvetica, sans-serif;
    width: 160px;
    font-weight: 600;
}

.btn-more-confirm:hover {
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: #25ce0f;
    color: #fff;
    width: 160px;
    font-weight: 600;
}

.btn-more-confirm:focus {
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: #25ce0f;
    color: #fff;
    width: 160px;
    font-weight: 600;
}

.btn-times {
    float: right;
    background: transparent;
    border: 0px !important;
}

.btn-times .fa-times {
    color: #666666;
    font-weight: normal;
}

/*jquery section slide up*/
#panel {
    padding: 5px;
    text-align: center;
    background-color: #fff;
    /* border: solid 1px #c3c3c3; */
}

#panel {
    border-top: 1px solid lightgray;
    padding: 50px;
    /*display: none;*/
    padding-top: 15px;
    padding-bottom: 20px;
}

/*jquery section slide up*/

.set-form-control {
    border: 0px;
    border-bottom: 2px solid #a8a8a8;
    border-radius: 0px;
    color: #a8a8a8;
    font-weight: bold;
}

.image-arroww-down {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 22px;
    z-index: 999;
}

.group {
    cursor: pointer;
}

.datetimepicker-hours table tbody {
    display: contents;
}

.datetimepicker-hours table tbody tr td span:hover {
    background-color: #EEEEEE !important;
    border-radius: 20px !important;
    color: #555 !important;
}

.datetimepicker .active {
    background-color: #25ce0f !important;
    border-radius: 20px !important;
    color: #fff !important;
}

.datetimepicker .active:hover {
    background-color: #25ce0f !important;
    border-radius: 20px !important;
    color: #fff !important;
}

.datetimepicker-minutes table tbody {
    display: contents;
}

.datetimepicker-minutes table tbody tr td span:hover {
    border-radius: 20px !important;
    color: #555 !important;
}

.datetimepicker-minutes .active:hover {
    background-color: #25ce0f !important;
    border-radius: 20px !important;
    color: #fff !important;
}

.datetimepicker-minutes .active {
    background-color: #25ce0f !important;
    border-radius: 20px !important;
    color: #fff !important;
}

@media (max-width:480px) {
    .uordered-list{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .container-cells .custom-width-col-5{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
    }
    .btn-add-user {
    }
    .custom-alignment {
        padding-right: 13px;
        justify-content: center;
        padding-left: 7px;
        position: relative;
        margin-bottom: 10px;
        display: flex;
    }
    .customBtnAddUser {
        display: none;
    }
    .customlySetStars{
        text-align: center;
    }
    .customBtnAddUserSet{
        height: 60px;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .tab-pane-container .row {
        display: block;
    }
    .customBtnAddUserDisplay{
        display: block !important;
    }
    .progress {
        border: 0;
        background-image: none;
        filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100% !important;
    }
}
