body, h1, h2, h3, h4, h5, h6, p{
	letter-spacing: 0 !important;
	text-transform: none;
	font-family: 'Raleway', sans-serif;
}
.banner{
	background: url('/images/Company-Info/banner-policy.jpg');
	height: 400px;
	background-size: 100% 100%;
	width: 100%;
	margin: 0px;
}
.banner-terms{
	background: url('/images/Company-Info/banner-terms.jpg');
}
.body-content{
	margin: 50px 0px;
}
.body-content h1{
	color: #717171;
	margin-bottom:0px;
	font-weight: 600;
	margin: 0px;
}
.body-content p{
	color: #737373;
	font-size: 16px;
	text-align: justify;
	font-weight: normal;
}
.body-content ul{
	padding: 0px 15px;
}
.body-content ul li{
	list-style: unset;
}
.body-content ul li h3{
	margin: 0px;
	color: #737373;
	font-weight: 600;
}
.body-content ul li p{
	border-left: 1px solid #737373;
	padding-left: 15px;
}

@media (max-width:420px)
{
	.page-container-main {
		margin-top: 81px;
	}
}