body, h1, h2, h3, h4, h5, h6, p{
	letter-spacing: 0 !important;
	text-transform: none;
	font-family: 'Raleway', sans-serif;
}

.setSV2IMAGE{
	margin: 10px 0px 0px 10px;
}

.setSV2IMG2{
	margin: 10px 0px 0px 5px;
}

.banner{
	background: url('/images/banner2.jpg');
	height: 400px;
	background-size: 100% 100%;
	width: 100%;
	margin: 0px;
	background-size: 100% 100% !important;
}
.banner-inner-text h1{
	text-transform: none;
}
.banner-inner-text span{
	text-transform: none;
	/*border-bottom:1px solid #fff;*/
	font-size: 48px;
	font-weight: 300 !important;
}

.set-banner-ineer-text-h1{
	margin-top: 20px !important;
}
.title-name{
	font-weight: bold;
	color: #58AF2A;
	margin: 0px;
}
.title-name span{
	font-weight: 300;
}
.great-websiet{
	margin-top: 85px;
}
.great-websiet img{
	width: 100%;
}
.great-websiet .right p{
	font-weight: 500;
	font-size: 16px;
	margin-top: 10px;
}
.mobile-app{
	padding: 50px 15px 15px 15px;
	border-bottom: 1px solid #BEBEBE;
}
.mobile-app .left{
	padding-top: 15px;
}
.mobile-app .right{
	text-align: right;
}
.mobile-app .left p{
	font-weight: 500;
	font-size: 16px;
	margin-top: 10px;
}
.technology{
	margin: 0px -30px 45px -30px;
}
.technology h2{
	margin: 35px 0px;
}
.technology .technology-sub{
	background: #fff;
	width: 100%;
	box-shadow: 0 0 20px 5px #e8e8e8;
	padding: 30px 20px 20px 20px;
	margin-bottom: 30px;
}
.technology .technology-sub .img{
	height: 120px;
}
.technology .technology-sub .img img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.technology .technology-sub h2{
	border-top: 1px solid #BEBEBE;
	margin: 30px 0px 0px 0px;
	font-weight: 500;
	color: #727272;
	padding-top: 10px;
	font-size: 28px;
}

.our-team{
	border-top: 1px solid #BEBEBE;
	padding-top: 50px;
	margin: 0px;
}
.team-container{
	margin-top: 30px;
}
.our-teams{
	padding-left: 15px;
	margin: 20px 0px;
}
.our-teams .team-img{
	padding: 0px;
}
.our-teams .team-img .img{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border:5px solid #58B22C;
	overflow: hidden;
}
.our-teams .team-img .img img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
} 
.our-teams .team-desc{
	color: #58B22C;
	padding: 30px 0px;
}
.our-teams .team-desc h3{
	margin: 0px;
	color: #999999;
	font-size: 18px;
}
.our-teams .team-desc h3 span{
	border-bottom: 1px solid #999999;
	line-height: 0;
}
.our-teams .team-desc h2{
	color: #58B22C;
	margin: 0px;
	line-height: 1.2;
}
.last-contant{
	padding: 50px 15px 0px 15px;
}
.last-contant .right img{
	width: 100%;
}
.last-contant .left p{
	font-weight: 500;
	font-size: 16px;
	margin-top: 10px;
	width: 90%;
}

.our-team-horizontal{
	padding: 0px;
}
.our-team-horizontal-2,
.our-team-horizontal-l{
	padding-left: 0px;
}
.our-team-horizontal-2 .title-name,
.our-team-horizontal-l .title-name{
	margin-top: 15px;
}
.our-team-horizontal-r{
	padding-right: 0px;
}
.our-team-horizontal .last-contant{
	padding: 30px 0px 0px 0px;
}
.our-team-horizontal .our-teams{
	padding: 0px !important;
	margin: 0px 0px 20px 0px;
}
.our-team-horizontal .our-teams .team-desc{
	padding:30px 15px;
}
.our-team-horizontal .last-contant .right{
	margin-top: 50px;
	margin-left: -15px;
}
.our-team-horizontal .last-contant .left p{
	margin: 0px 0px 30px 0px;
}
.team-location{
	border-top: 1px solid #BEBEBE;	
	padding: 50px 0px;
	margin: 0px;
}
.team-location .txt-right{
	padding-top: 35px;
}
.team-location h1{
	margin: 0px;
	color: #878787;
}
.team-location h2{
	margin: 0px;
	font-weight: bold;
	font-size: 42px;
	line-height: 42px;
	color: #58B22C;
}
.our-teams-2{
	margin-top: 50px; 
}
.our-teams-2 .our-teams{
	margin-bottom: 50px;
}
.our-teams .team-desc-2{
	color: #58B22C;
	padding: 0px 0px;
}
.our-teams .team-desc-2 h3{
	margin: 0px;
	color: #777;
	font-size: 22px;
}
.our-teams .team-desc-2 h3 span{
	border-bottom: 1px solid #999999;
	line-height: 0;
}
.our-teams .team-desc-2 h2{
	color: #58B22C;
	margin: 0px;
	line-height: 1.2;
	margin-bottom: 10px;
}
.our-teams .team-desc-2 .detail{
	font-size: 18px;
	margin: 0px;
}
.our-teams .team-desc-2 .detail i{
	font-size: 16px;
	color: #818181;
	margin-right: 5px;
}

.team-contact{
	border-top: 1px solid #BEBEBE;	
	margin: 0px;
	background: #F7F7F7;
}
.team-contact .left{
	height: 245px;
	background: rgba(0, 0, 0, 0) url("/images/Company-Info/contact-f.png") no-repeat scroll 0 -235px / 80% 250%;
	padding: 0px;
}
.team-contact .right{
	margin-top: 30px;
}
.team-contact .right h2{
	margin: 15px 0px;
}
.team-contact .right h1{
	color: #7A7A7A;
	margin: 0px;
	font-size: 52px;
	line-height: 50px;
}
.team-contact .right .text-right{
	font-size: 22px;
}

.our-teams-contant{
	color: #777;
	padding-bottom: 50px;
}
.our-teams-contant h3{
	color: #777;
    font-size: 20px;
    font-weight: normal !important;
}
.our-teams-contant p{
	line-height: 20px;
}
.our-teams-contant h3 span{
	border-bottom: 1px solid #999999;
    line-height: 0;
}
.our-teams-contant img{
	float: right;
	width: 50%;
	margin-top: 15px;
}

.core-team{
	border-top: 1px solid #BEBEBE;
	padding-top: 50px;
	margin: 0px;
	background: #F7F7F7;
}
.core-team-container{
	margin-top: 30px;
	margin-bottom: 80px;
}
.core-team-member{
	margin-top: 35px;
	float: left;
	width: 20%;
	text-align: center;
}
.core-team-member p{
	margin: 0px;
	text-align: left;
}
.core-team-member h2{
	margin: 0px;
	line-height: 30px;
	color: #59AE2C;
	text-align: left;
}
.core-team-member1{
	padding: 0px 0px 25px 30px;
}
.core-team-member2{
	padding: 40px 0px 15px 0px;
}
.core-team-member3{
	padding: 20px 0px 30px 20px;
}
.core-team-member4{
	padding: 40px 0px 15px 50px;
}
.core-team-member5{
	padding: 20px 0px 15px 50px;
}


@media (max-width: 420px) {
	.core-team-member{
		width: 100%;
	}
	.core-team-member1,
	.core-team-member2,
	.core-team-member3,
	.core-team-member4,
	.core-team-member5{
		padding: 15px 0px 15px 50px;
	}
}

.setROWMEET{
	margin-right:0px !important;
	margin-left:0px !important;
}

@media (max-width:767px) and (min-width:320px)
{
	.setTEAMCONTAINER{
		text-align: -webkit-center;
	}
	.setOUTEAM{
		text-align: -webkit-center;
	}
	.setCORETEAMCONT .core-team-member{
		float:none !important;
		width:100% !important;
	}
	.setCORETEAMCONT .core-team-member .a{
		text-align-last: center;
		padding:5px !important;
	}
}