.setSV52IMG1{
    margin: 10px 0px 0px 6px;
}

.setSV52IMG2 {
    margin:10px 0px 0px -8px;
}
.setSV52IMG3{
    margin:25px 0px 0px -8px;
}

.setSV52IMG4{
    margin:20px 0px 0px 0px;
}
.setSV52IMG5{
    margin: 15px 0px 0px 8px;
}
@media (max-width:420px)
{
    .page-container {
        margin-top: 81px;
    }
}