.slideToUnlock {   
    position:relative;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;  
}

.progressBar {
    position: absolute;
    left:0;
    top:0;
    width: 0;
    height: 100%; 
    border-radius: 25px;
   } 
   .text {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%; 
    border-radius: 25px;
    background-color:transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
   }

.drag {
    position: absolute;
    width: 59px;
    height: 59px;
    left: 0%;
    top: -5px;
    display: inline-block;
    line-height: 52px;
    border-radius: 5px;
    cursor: pointer;
    background: #09992b;
    background-position: center;
    color: #fff;
    text-align: center;
    padding-left: 5px;
}


/* checkbox css*/
/* The container */
.set-container-checkbox-login-cowork {
    display: block;
    top:-7px;
    position: relative;
    padding-left: 30px;
    color:#000000 !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.set-container-checkbox-login-cowork input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark-login-coworkspace {
    position: absolute;
    top: -3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #e9e9e9;
}

/* On mouse-over, add a grey background color */
.set-container-checkbox-login-cowork:hover input ~ .checkmark-login-coworkspace {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.set-container-checkbox-login-cowork input:checked ~ .checkmark-login-coworkspace {
    background-color: #57b029;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-login-coworkspace:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.set-container-checkbox-login-cowork input:checked ~ .checkmark-login-coworkspace:after {
    display: block;
}

/* Style the checkmark/indicator */
.set-container-checkbox-login-cowork .checkmark-login-coworkspace:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* checkbox css*/

