    /*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

    /* ==========================================================================
       Base styles: opinionated defaults
       ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

.wizard .clearfix{
    font-family: "Montserrat" !important;
}

.add-form-text{
    color:#565D6C;
    font-weight:600;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*
    Common
*/

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    display: none;
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #2184be;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #9dc8e2;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content
{
    background: #fff;
    display: block;
    margin: 0.5em;
    min-height:100em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*
    Common
*/

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: absolute;
    display: block;
    width: 33%;
    right: 6%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    text-align: center;
    width: 33%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float:left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 7px 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #565D6C;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #25ce0f;
    color: #fff;
    font-weight: 500;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #9dc8e2;
    color: #fff;
    font-weight: 500;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content
{
    background: #fff;
    display: block;
    margin: 0.5em;
    min-height: 100em;
    overflow: hidden;
    position: relative;
    width: auto;
    margin-top: 50px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    border:1px solid lightgray;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}
.ulli{
    list-style: none;
    padding: 20px;
}


    .folderRectangle {
        background: #eee;
        color: #565D6C;
        cursor: pointer;
        font-weight: 500;
        list-style: none;
        display: block;
        text-align: center;
        width: 28%;
        padding: 7px 1em;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        margin-right: 20px;
    }

    .folder-selected {
        background: #25ce0f;
        color:#fff;
    }

    .ulList{
        display: inline-block;
        width: 45%;
        float: right;
    }


.Cancelcolor{
    background-color: #565D6C !important;
    color: #fff !important;
    font-weight: 500 !important;
    position: relative;
    right: 80px;
    border-radius: 5px !important;
    border: 0px !important;
    padding: 10px 36px 10px 36px !important;
}
.colorsss{
    border-radius: 5px !important;
    padding: 10px 22px 10px 22px !important;
    position: relative;
    right: 60px;
    background: #25ce0f !important;
    color:#fff !important;
    border: 0px !important;
    font-weight: 500 !important;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}

/* custom css */
.headOffice{
    color:#25ce0f;
    font-weight: bold;
    font-size: 30px;
    font-family: "Montserrat" !important;
}
    #image_file {
    }
    input[type="file"] {
        display: none !important;
    }
    .custom-file-upload {
        border: 0px;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        position: absolute;
        margin-top: -48px;
        right: 4%;
        background: #25ce0f;
        color:#fff !important;
        border-radius: 5px;
        font-weight: 500 !important;
    }
    .set-checkbox{
        height: 90px;
        align-items: center;
        display: flex !important;
    }
    .custom-width-working-days{
        position: relative;
        top: 12px;
    }
    label.containerCheck {
        padding-left: 28px;
    }
    .align-items{
        display: flex;
        align-items: center;
    }
    .removeborder th{
        vertical-align: inherit !important;
    }
    .removeborder select.form-control{
        padding: 5px !important;
        padding-left: 4px !important;
    }
    .removeborder td{
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .aligncenter{
        align-items: center;
        vertical-align: inherit !important;
        text-align: center;
    }
    .table {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 75px;
    }
   .removeborder{
        border-top-color: transparent !important;
        border-top-style: double !important;
    }
    .rowalign{
        text-align: center;
    }
    .pic-select{
        width: 70%;
        font-weight: bold;
        color:#565D6C !important
    }
    .img-preview {
        width: 100%;
        height: 300px;
        line-height: 300px;
        text-align: center;
        color: #ddd;
        font-weight: bold;
        font-size: 2.0em;
        padding: 0px !important;
        border: 0px solid lightgray !important;
    }
    .image-tag{
        color: #565D6C !important;
        font-weight: 600 !important;
        margin-bottom: 10px !important;
    }


    /* check mark csss */
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .containerCheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 32px;
        left: 14px;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid lightgray;
    }

    /* On mouse-over, add a grey background color */
    .containerCheck:hover input ~ .checkmark {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid lightgray;
    }

    /* When the checkbox is checked, add a blue background */
    .containerCheck input:checked ~ .checkmark {
        background: #25ce0f;
        cursor: pointer;
        border-radius: 4px;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .containerCheck input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .containerCheck .checkmark:after {
        left: 6px;
        top: 1px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* check mark csss */


    .fcontainerCheck {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    /* Hide the browser's default checkbox */
    .fcontainerCheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark2 {
        position: absolute;
        top: 0px;
        left: 3px;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid lightgray;
    }

    /* On mouse-over, add a grey background color */
    .fcontainerCheck:hover input ~ .checkmark2 {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid lightgray;
    }

    /* When the checkbox is checked, add a blue background */
    .fcontainerCheck input:checked ~ .checkmark2 {
        background: #25ce0f;
        cursor: pointer;
        border-radius: 4px;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark2:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .fcontainerCheck input:checked ~ .checkmark2:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .fcontainerCheck .checkmark2:after {
        left: 6px;
        top: 1px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* check mark csss */
    .locations{
        padding-left: 31px !important;
    }
    .set-search{
        position: absolute;
        top: 10px;
        left: 24px;
    }

    .checkedday{
        cursor: not-allowed;
        color: #ddd;
    }
    .closeChecked{
        cursor: not-allowed;
        background-color: #565D6C !important;
    }

    .cust-width{
        width: 14% !important;
    }

    .set-css-currency{
        color: #25ce0f !important;
        font-size: 20px;
    }
    .currency-width{
        padding-right: 0px !important;
        width: 14% !important;
    }
    .set-css-officeFee{
        font-size: 22px;
    }
    .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
        text-align: center;
    }
    .setInput input{
        display: block;
        border: 1px solid #ccc;
        height: 27px;
        width: 113px;
    }
    .buttonadd{
        border: 0px;
        border-radius: 9px;
        background-color:#565D6C !important;
        color:#fff !important;
        font-weight: 600;
    }

    .setOfficeDesks{
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        width: 11%;
    }
    .setInput td{
        vertical-align: inherit !important;
    }

    .setFeedDesks{
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        width: 11%;
    }
    .setDedicatedDesks{
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        width: 11%;
    }

    .buttonSbtruct{
        border: 0px;
        border-radius: 9px;
        color: #565D6C !important;
        font-weight: 600;
        font-size: 15px;
        height: 20px;
        padding: 6px;
        padding-top: 0px;
    }

    .set-h3Rows{
        font-size: 17px;
        font-weight: 600;
        font-family: "Montserrat";
    }

    .facility_number_custom_right {
        padding: 15px;
    }
    .custom-width-column{
        width: 11% !important;
    }

    .custom-width-row{
        width: 11% !important;
    }

    .facility_number_custom_right table tr td {
        border: unset !important;
        padding: 3px 8px !important;
    }
    .innerboxes {
        width: 38px;
        height: 38px;
        border: 2px solid #E3E3E3;
        border-radius: 7px;
        margin-right: 10px;
        float: right;
    }

    .set-custom-width-info{
        padding-right: 0px !important;
        width: 22% !important;
    }
    .active-checkbox {
        margin-top: 30px;
    }
    h2.step-heading {
        font-size: 22px;
        font-weight: bold;
        color: #565D6C;
        margin-bottom: 40px;
        margin-top: 0;
    }

    .fee-area .form-group{margin-bottom: 30px;}
    .fee-area textarea.form-control {
        height: 100px;
    }
    span.italic_text {
        display: block;
        font-weight: 300;
        font-style: italic;
    }
    body .wizard .content {
        min-height: 100px;
        border-bottom: 1px solid lightgray;
    }
    body .wizard .content > .body {
        width: 100%;
        height: auto;
        padding: 15px;
        position: relative;
        padding-bottom: 100px;
    }

    #map{
        width: 100%;
        height: 500px;
    }
    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }
    #infowindow-content .title {
        font-weight: bold;
    }
    #infowindow-content {
        display: none;
    }
    #map #infowindow-content {
        display: inline;
    }
    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }
    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }
    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }
    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }
    #pac-input {
        background-color: #fff;
        font-size: 15px;
        font-weight: 300;
        height:40px;
        border-radius: 0px !important;
        /*margin-left: 12px;*/
        text-overflow: ellipsis;
        padding: 6px 31px 4px !important;
    }
    #pac-input:focus {
        border-color: #4d90fe;
    }
    .pac-item:hover {
        background-color: #57b029 !important;
        color:#fff !important;
    }
    .activeClass{
        background-color: #57b029 !important;
        color:#fff !important;
    }
    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }
    #target {
        width: 345px;
    }

    .pac-item-selected, .pac-item-selected:hover {
        background-color: #57b029 !important;
        color:#fff !important;
    }

    .pac-item-selected .pac-icon-marker {
        background-position: -18px -161px;
    }

    .pac-item .pac-icon-marker:hover{
        background-position: -18px -161px !important;
    }



@media (max-width: 920px) {
    .m-t-r {
        margin-top: 21px;
    }
    .colorsss, .Cancelcolor {
        right: 0;
        bottom: 0;
    }


}
    @media (max-width: 768px) {
        .wizard > .steps {
            width: 100%;
            right: 0;
        }
        body .wizard .content > .body {
            padding-bottom: 0;
        }
        .colorsss, .Cancelcolor {
            right: 0;
            bottom: 0;
        }
        .fee-area .pic-select, #Officeform  .pic-select, #workForm .pic-select{
            width: 100%;
            margin-bottom: 12px;
            display: block;
        }
        .row.align-items {
            display: block;
        }
        #sharedoffice-form-p-1 br {
            display: none;
        }
        .col-md-2.custom-width-column {
            margin-top: 21px;
        }
        .currency-width {
            width: 100% !important;
        }
        #workForm .col-md-10.custom-padd .rowalign {
            margin: 0;
            margin-top: 22px;
        }
        #workForm .removeborder select.form-control {
            width: 76px;
        }
        .cust-width {
            width: 100% !important;
        }
        .wizard > .content > .body #workForm label {
            display: block;
        }
    }
    @media (max-width:1550px) and (min-width: 1318px)
    {
        .custom-padd{
            padding-left: 40px;
        }
    }

    @media (max-width:600px){
        .folderRectangle {
            background: #eee;
            color: #565D6C;
            cursor: pointer;
            font-weight: 500;
            list-style: none;
            display: block;
            text-align: center;
            width: 75% !important;
            padding: 7px 1em;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            float: left;
            margin-right: 20px;
        }
    }


    @media(max-width:480px){
        .customColMd10{
            display: block !important;
        }
        .row.align-items {
            display: block;
            overflow: scroll;
        }
        .table-responsive {
            width: 200% !important;
            margin-bottom: 15px;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 0px solid #e7ecf1 !important;
        }
        .custom-width-working-days{
            margin-bottom:20px;
        }

        .customsetRowButtons{
            position: relative;
            right: 20px;
        }
        .ulList {
            display: block;
            width: 100%;
             float: unset;
            padding: 0px !important;
        }
        .folderRectangle{
            width:100% !important;
            margin-bottom: 10px;
        }
        .headOffice {
            color: #25ce0f;
            font-weight: bold;
            font-size: 30px;
            font-family: "Montserrat" !important;
            text-align: center;
        }
        .add-form-text {
            color: #565D6C;
            font-weight: 600;
            text-align: center;
        }
        .customClassTableReponsive{
            overflow: scroll;
            overflow-y:unset;
        }
        .customTableResponsive{
            width: 200% !important;
        }
        .btn-success {
            color: #fff;
            background-color: #25ce0f !important;
            border-color: #25ce0f !important;
        }
    }

    @media (max-width:411px) {
        .table-responsive {
            width: 230% !important;
            margin-bottom: 15px;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 0px solid #e7ecf1 !important;
        }
        .customClassTableReponsive{
            overflow: scroll;
            overflow-x:unset;
        }
        .customScrollTableD{
            overflow: scroll;
            width: 100% !important;
            padding-left: 10px;
        }
        .customTableResponsive{
            width: 230% !important;
        }
    }
