#set-reload-page-content{
	display:none !important;
}

.breadcrumb_inner ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.breadcrumb_inner .liBradCrum {
	float: left;
	padding: 8px 27px 0 0;
	margin-right: 20px;
	font-size: 13px;
	color: #8f8f8f;
	font-weight: 400;
	background: url(/custom/css/frontend/coWork/image/arrow.png) right 8px no-repeat;
	background-size: 20px;
	background-position-y: center;
}

body{
	scroll-behavior: smooth !important;
}

.mobile-design-newest-spaces-available{
	display: none;
}

html {
	scroll-behavior: smooth;
}

.set-add-on{
	float: right;
	padding-top: 22px;
	padding-right: 14px;
}

.set-add-on-select{
	float: left;
	display: flex;
	padding-top: 19px;
	padding-left: 20px;
}

.set-box-transparent{
	width: 76%;
	background-image: url(/images/transparentboxx.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
}

.container-transparent-box{
	text-align: -moz-center;
	text-align: -webkit-center;
}

.set-btnbtn-search{
	float: left;
	height: 52px;
	width: 10%;
	background-color: #57b029;
	border: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color:#fff;
}

.set-input-box-search{
	float: left;
	padding-left: 20px;
	width: 90%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 0px;
	height: 52px;
}

.set-view-all-text{
	position: relative;
	right:30px;
}

#ui-datepicker-div {
	z-index: -1;
}

.set-scroll-to-image-go-to-top{
	position: absolute;
	margin-top: -59px;
	right: 43px;
	cursor: pointer;
}

.setCol3SearchBarP{
	text-align: center;
	padding-left: 0px;

}
.set-section-container-scroll{
	width:100%;
	padding-left:0px;
	padding-right:0px;
}

.set-col-md-12-scroll-view-area{
	padding-left:0px;
	padding-right:7px;
	padding-top:10px;
	margin-top:0%;
}

.set-reserve-col-md-3-text{
	font-size:12px;
	font-family: Montserrat, sans-serif !important;
	font-weight: 500;
}

.set-col-md-2-language{
	top: 20px;
	width: 130px;
	position: absolute;
	right: 100px;
}

.set-footer-container{
	width:100%;
}

.donot-be-late{
	font-size: 12px;
	font-family: Montserrat, sans-serif !important;
	font-weight: lighter !important;
	color:#555 !important;
}

.set-col-12-md-col-12-modal-list-space{
	margin-top:15px;
}
.set0close-icon:hover{
	color:#fff !important;
}

.set0close-icon{
	position: absolute;
	right: 12px;
	top:10px;
	border: 1px solid #57b029;
	border-radius: 3px;
	background-color: #57b029;
	color:#fff;
	padding: 3px 6px 2px 6px !important;
	width: unset !important;
	height: unset !important;
}

.set0close-icon img{
	width:14px;
}

.set-company-name-input{
	border-radius: 0px !important;
	height:37px;
	color:#555;
	font-family: Montserrat, sans-serif !important;
	font-size:14px !important;
}

#google-map{
	height: 212px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#listMap{
	position: unset !important;
}

.set-form-group-list-space{
	height: 260px;
	padding-top: 17px;
	border: 2px solid #cccccc;
	border-style: dashed;
	border-radius: 29px;
	text-align: center;
	width: 100%;
}
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: "Glyphicons Halflings" !important;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome !important;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.set-btnbtn-listspace-btn:hover{
	background:#57b029 !important;
	background-color:#57b029 !important;
}

.set-btnbtn-listspace-btn:focus{
	background:#57b029 !important;
	background-color:#57b029 !important;
}

.set-btnbtn-listspace-btn{
	width:136px;
	height:38px;
	background:#57b029;
	color:#fff;
	font-size: 14px;
	font-family: Montserrat, sans-serif !important;
}

/*input type file customization*/


.file-input-wrapper {
	/*width: 200px;*/
	/*height: 40px;*/
	/*overflow: hidden;*/
	/*position: relative;*/
}
.file-input-wrapper > input[type="file"] {
	font-size: 15px;
	position: absolute;
	bottom: 37px;
	right: 105px;
	opacity: 0;
	height: 36px;
	cursor: pointer;
	width: 173px;
}

.file-input-wrapper > .btn-file-input {
	display: inline-block;
	height: 40px;
	background-color: #57b029;
	border: 2px solid #57b029;
	color: #fff;
	font-size: 14px;
	font-family: Montserrat, sans-serif !important;
	font-weight: 500;
	border-radius: 0px;
	padding: 1px 25px 2px 25px;
	position: absolute;
	bottom: 35px;
	left: 35%;
}

.graphicImage{
	position: absolute;
	top: 17%;
	left: 47%;
}

.dragdropimages{
	position:relative;
	top:71px;
	color:#555;
	font-size: 14px;
	font-family: Montserrat, sans-serif !important;
}

.set-fa-fa-bars{
	z-index: 999999;
	position: absolute;
	right: 10%;
	top:31%;
}

input[id="pac-input"]::placeholder{
	font-size: 12px;
}
/*input ype file customization*/

#ui-datepicker-div{

}


.icon-search-image{
	position: absolute;
	top: 10px;
	right: 56px;
	cursor: pointer;
}

.vldivider{
	border-left: 1.5px solid lightgray;
	height: 23px;
	position: absolute;
	top: 7px;
	right: 45px;
}

.set-cross-image-icon{
	position: absolute;
	top:10px;
	right:20px;
	width:17px;
	cursor: pointer;
}

#google-map img{
	width:100%;
}

.small-txt-search{
	font-size: 10px;
	position: absolute;
	top: 13px;
	right: 100px;
	color: gray;
}

.set-modal-header-list-space{
	border-bottom:0px !important;
}

.set-modal-footer-list-space{
	border-top:0px !important;
}

.set-modal-content-list-space{
	width:420px;
	margin-left:85px;
	border-radius: 2px;
	position: relative;
	top:59px;
}


.set-col-md-12-popover-box{
	margin-bottom:25px !important;
}

.list-you-space-today{
	font-size:28px;
	font-family: Montserrat, sans-serif !important;
	font-weight:bold;
	color:#555 !important;
}

#contact_address{
	word-wrap: break-word;
}

.setFooterContainer{
	width:100%;
}

.set-shred-officess-images{
	width: 120px;
	height: 70px;
}


/*styling google maps effectss marker hover*/
.gm-style-iw.gm-style-iw-c button{
	display:none !important;
}

.set-shared-office-name{
	font-size: 11px;
	font-weight: bold;
	font-family: Montserrat, sans-serif !important;
	word-wrap: break-word;
	margin-left: -7px;
}

.set-dollar-sign-2-dollar-sign{
	z-index: 9999;
	font-size: 12px;
	font-weight: bold;
}

.set-col-md-6-fa-fa-stars{
	font-size:0px;
	text-align:left;
	left:-12px;
	margin-top:6px;
	width:89%;
	padding-left:9px;
}

.set-col-5-md-revirews{
	width: 54%;
	top: 5px;
	left: 77px;
	font-size: 11px;
	font-weight: bold;
	font-family: Montserrat, sans-serif !important;
	position: absolute;
	padding-left: 0px !important;
}

.set-monthly-area{
	font-weight: bold;
	font-size: 11px;
	font-family: Montserrat, sans-serif !important;
}

.set-col-md-12-price-row{
	text-align: left;
	margin-left: -2px;
	letter-spacing: .5px;
	margin-top:-12px;
}


.set-col-md-12-office-name{
	text-align: left;
	margin-left:-2px;
}

.set-shared-office-p-price{
	font-family: Montserrat, sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	word-wrap: break-word;
}

.gm-style .gm-style-iw-c{
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
	top: 0;
	left: 0;
	transform: translate(-50%,-100%);
	background-color: #57b029;
	color:#fff !important;
	border-radius: 15px;
	padding: 12px 0px;
	box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
	width: 140px;
	height:auto;
}

.set-fa-fa-active-color{
	color:yellow !important;
}

.gm-style-iw-d{
	overflow: hidden !important;
}

.gm-style .gm-style-iw-t::after {
	background: #57b029;
	box-shadow: -2px 2px 2px 0 rgba(178,178,178,.4);
	content: "";
	height: 15px;
	left: 0;
	position: absolute;
	top: 0;
	transform: translate(-50%,-50%) rotate(-45deg);
	width: 15px;
	z-index: -1;
}

/*styling google maps effectss marker hover*/

.set-arrow-image-select-language{
	width: 12px;
	position: absolute;
	top: 8px;
	right: 5px;
}

/*.set-list-plus{*/
	/*right:60px;*/
/*}*/

.ui-state-active , .ui-button:active:hover
{
	border:1px solid #5CC22F !important;
	background: #5CC22F !important;
	color:#fff !important;
}

.ui-state-active , .ui-button:active:hover:nth-child(1){
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.ui-state-active , .ui-button:active:hover:nth-last-child{
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.ui-menu-item{
	margin-top:-3px !important;
}
.ui-menu-item:hover{
	margin-top:-3px !important;
}

.ui-menu .ui-menu-item-wrapper {
	position: relative;
	margin-right:-3px !important;
	margin-left:-3px !important;
	padding: 8px 0em 9px 0.4em !important;
}
.ui-menu .ui-menu-item-wrapper:hover{
	position: relative;
	margin-right: -3px !important;
	margin-left: -3px !important;
	padding: 8px 0em 9px 0.4em !important;
}
.ui-menu, .ui-widget, .ui-widget-content{
	border-radius: 3px !important;
	top: 579px !important;
	left: 276px;
	width: 750px;
	padding:3px 5px !important;
}

.fa-building {
	padding-left:0px;
}

.fa-building:hover{
	padding-left:0px;
}

.ui-menu-item-wrapper , .glyphicon-map-marker{
	padding-left:0px !important;
}

.ui-menu-item , .col-md-11, .description{
	margin-top: -16px;
	margin-left: 19px;
	padding-left:0px;
}

.ui-menu-item , .col-md-11, .description:hover{
	margin-top: -16px;
	margin-left: 19px;
	padding-left:0px;
}

/*customize select2 meun*/
#select-type , .select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 58px !important;
	user-select: none;
	-webkit-user-select: none;
	background-color: #5CC22F !important;
	padding: 12px !important;
	font-weight: bold;
}
#select-type, .select2-container .select2-selection--single .select2-selection__rendered {
	display: block;
	font-size: 18px;
	border:0px !important;
	padding-left: 8px;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff !important;
}

.select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection {
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-color: transparent;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	background-color: #fff;
	border: 1px solid #c2cad8;
	border-radius: 4px;
	color: #555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	display: none !important;
}

.select2-search--dropdown {
	display: block;
	padding-top: 0px !important;
	padding:0px !important;
}
#select2-select-type-result-a9kq-meeting_room{
	border-bottom: 0px !important;
}
.select2-selection__arrow {
	height: 26px;
	position: absolute;
	top: 14px !important;
	right: 8px !important;
	width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #fff transparent transparent transparent !important;
}
/*customize select2 menu*/


/*hover to drop down languages*/
.setLNGDD{
	list-style: none;
	width: 110px;
	height: 26px;
	padding:1px 4px;
	border: 1px solid #cccccc;
}
.setDDLNGUL{
	top: 43px;
	margin-left: 0px;
	min-width: 42px !important;
	border-radius: 3px !important;
	width:110px !important;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/*.set-row-col-md-10{*/
	/*display: table-row;*/
	/*padding-left:40px;*/
/*}*/

.set-col-md-2-head-m{
	display: contents;
}

.set-span-versions{
	font-weight:unset !important;
	font-size: 12px;
	margin-left:6px;
	color:#2e404e !important;
	text-decoration:none;
}

.set-main-image{
	margin-left: 0px !important;
}

.fafafafa-angel{
	font-size: 17px;
	color:#808080;
}

.set-image-cn-en{
	padding-left: 4px !important;
}

.set-span-versions {
	font-weight: unset !important;
	font-size: 12px;
	margin-left: 6px;
	color: #2e404e !important;
	text-decoration: none;
}

.en-cn-version{
	padding: 0px 0px !important;
}

.set-image-cn-en{
	font-size:12px;
	color:#2e404e;

}

.set-footer-container{
	padding-left:0px;
	padding-right:0px;
}

.setFooterContainer{
	padding-left: 0px;
	padding-right: 0px;
}

.setColFooter{
	padding-left:0px;
	padding-right: 0px;
}

.footer-btn-section-title{
	padding-left:0px;
	padding-right: 0px;
}

.set-image-cn-en img{
	padding-right: 0px;
}
/*hover to drop down languages*/

.set-btn-modal-book-space{
	margin-top:20px;
}

.set-col-book-space-modal{
	padding-left: 20px;
	padding-right: 20px;
}

.set-col-md-6-book-spaces-rooms-1{
	padding-left:20px;
}

.setBookNowDiv{
	padding-right: 2px;
}

.set-office-main-images{
	padding-left:4px;
	padding-right:0px;
	position: relative;
	top: 0px;
	margin-bottom: 10px;
}

.set-col-md-6-2-images-2{
	padding-right:0px;
	padding-left:0px;
}

.set-col-md-6-book-spaces-rooms-2{
	padding-right:20px;
	padding-left:0px;
}

.set-book-space-cross-image{
	position: absolute;
	right:10px;
}

.set-head-text-book-space-1{
	color:#2a2a2a;
	font-family: Montserrat, sans-serif !important;
	font-size: 28px;
	font-weight: bold;
	margin-top:12px;
}

.set-head-text-book-space-2{
	color:#2a2a2a;
	font-family: Montserrat, sans-serif !important;
	font-size: 12px;
}

.set-modal-head-book-space-today{
	border-bottom: 0px !important;
}

.set-box-border-radius{
	border-radius: 0px !important;
}

.set-box-select-1{
	height:37px;
	color:#707070 !important;
	border: 2px solid lightgray;
	padding-left: 50px;
}

.set-input-box-1{
	height:37px;
	color:#707070 !important;
	border: 2px solid lightgray;
}


.set-input-box-2{
	height:37px;
	color:#707070 !important;
	border: 2px solid lightgray;
}

.set-box-select-2{
	height:37px;
	color:#707070 !important;
	border: 2px solid lightgray;
	padding-left: 50px;
}

.setBookNowBtn
{
	background-color: #5CC22F !important;
	background: #5CC22F !important;
	height:38px;
	width:136px;
	font-family: Montserrat, sans-serif !important;
	font-size: 14px;
	color:#fff;
	border-radius: 0px !important;
    position: relative;
    right: 18px;
}

.set-text-area-book-now{
	width:100%;
	height:117px !important;
	color:#707070 !important;
	border: 2px solid lightgray;
}

.set-col-md-6-book-spaces-rooms-2{

}

.set-select-rooms-1{
	width:100%;
	height:37px;
	color:#707070 !important;
	border: 2px solid lightgray;
}

.header-search-btn a {
	font-size: 25px;
	width: 100%;
	font-weight: bold;
	margin-left: 0px;
	border-radius: 10px;
}

.set-select-rooms-2{
	width:100%;
	height:37px;
	color:#707070 !important;
	border: 2px solid lightgray;
}

.set-book-space-modal-content{
	width:416px;
	margin-left:90px;
	position:relative;
	top:70px;
}

.set-modal-footer-book-spaces{
	border-top: 0px !important;
}

.set-date-time-bbo-space-modal-datetimeimg{
	position: absolute;
	top: 7px;
	left: 9%;
}

.set-arrow-down-img{
	position: absolute;
	right: 8%;
	top: 40%;
}

@media(max-width:600px)
{
	.set-book-space-modal-content {
		width: 100%;
		 margin-left: 0px !important;
	}

	.setBookNowBtn {
		background-color: #5CC22F !important;
		height: 38px;
		width: 100%;
		font-family: Montserrat, sans-serif !important;
		font-size: 14px;
		color: #fff;
		border-radius: 0px !important;
		right:0px;
	}
}


/*range slider*/
input {
	box-shadow: 0;
	outline: 0;
}
.range-slider {
	width: 191px;
	margin: auto;
	text-align: center;
	position: relative;
	left: -26px;
	top: 10px;
}
.range-slider svg,
.range-slider input[type=range] {
	position: absolute;
	left: 0;
	bottom: 0;
}
.set-slider-number-1{
	border: 0px solid #ddd;
	text-align: center;
	font-size: 18px;
	-moz-appearance: textfield;
	position: absolute;
	top: 5px;
	right: 69%;
	width: 61px;
	color: #555;
}


.set-slider-number-2{
	border: 0px solid #ddd;
	text-align: center;
	font-size: 18px;
	-moz-appearance: textfield;
	position: absolute;
	left: 67%;
	top: 5px;
	width: 61px;
	    font-weight: 400;
}

.set-dollar-sign{
	position: absolute;
	left: 0%;
	top: 4px;
	z-index: 9999;
}

.set-dollar-sign-2 {
	position: absolute;
	right: 2px;
	top: 4px;
	z-index: 9999;
}

.set-slider-number::-webkit-outer-spin-button,
.set-slider-number::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.set-slider-number:invalid,
.set-slider-number:out-of-range {
	border: 2px solid #ff6347;
}
.set-slider-range {
	-webkit-appearance: none;
	width: 100%;
}
.set-slider-range:focus {
	outline: none;
}
.set-slider-range:focus::-webkit-slider-runnable-track {
	/*background: #cccccc;*/
}
.set-slider-range:focus::-ms-fill-lower {
	/*background: #cccccc;*/
}
.set-slider-range:focus::-ms-fill-upper {
	/*background: #cccccc;*/
}

/*set price range line color and width*/
.set-slider-range::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	background-color:#5CC22F;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
}

/*set handles of price range slider*/
.set-slider-range::-webkit-slider-thumb {
	z-index: 2;
	position: relative;
	box-shadow: 0px 0px 0px #000;
	border: 1px solid #CCCCCC;
	height: 15px;
	width: 15px;
	border-radius: 2px;
	background: #CCCCCC;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6px;
}
.set-slider-range::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: #2497e3;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
}
.set-slider-range::-moz-range-thumb {
	z-index: 2;
	position: relative;
	/*box-shadow: 0px 0px 0px #000;*/
	/*border: 1px solid #2497e3;*/
	height: 18px;
	width: 18px;
	border-radius: 5px;
	background: #5CC22F;
	cursor: pointer;
}
.set-slider-range::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
.set-slider-range::-ms-fill-lower,
.set-slider-range::-ms-fill-upper {
	background: #5CC22F;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
}
.set-slider-range::-ms-thumb {
	z-index: 2;
	position: relative;
	/*box-shadow: 0px 0px 0px #000;*/
	border: 1px solid #5CC22F;
	height: 18px;
	width: 18px;
	border-radius: 5px;
	/*background: #cccccc;*/
	cursor: pointer;
}

/*range slider*/

.main-section{
	font-family: 'Montserrat', 'Raleway',sans-serif !important;
}
.border{
	border:1px solid #c2c2c2;
}
.p-0{
	padding:0px;
}
.p-2{
	padding:0px 12px;
}
.m-0{
	margin: 0px;
	font-weight:bold;
}
.banner-img{
	/*background-image: url("../image/Shared-Co-Working-Offices.png");*/
	background-image: url("/compresses/SharedOfficeHomePageImage/chairs-contemporary-daylight-1170412.jpg") !important;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	height:580px;
  	width: 100%;
  	position: relative;
	text-align: center;
}
.hedare-banner-text-section{
	position: absolute;
	color:#fff;
	top:75%;
}
.main-second-header ul{
	list-style: none;
}
.plus-tag-header-right a{
	float:right;
	position: relative;
	top:10px;
	font-weight: normal;
	font-size:12px;
	color:#2e404e;
}
.plus-tag-header-right a i{
	color:#57AF2A;
	padding-right:6px;
}
.main-second-header p{
	color:#2e404e;
	font-size:12px;
	font-weight: 500;
	font-family: Montserrat, Helvetica, sans-serif !important;
	display: inline-block;
}

.main-second-header a:hover{
	text-decoration:none;
}
.main-second-header{
	position: relative;
	padding:17px 0px;
}
.main-second-header .bredcum{
	width:130px;
	float:left;
}

.select2-container--bootstrap .select2-selection--single {
	height: 34px;
	font-weight: 501 !important;
	font-size: 18px !important;
	text-align: center;
	line-height: 1.8 !important;
	padding-left: 0px !important;
	padding: 6px 24px 6px 12px;
	border: 0px !important;
}

.main-second-header span{
	color:#57AF2A;
	font-weight: bold;
	font-family: Montserrat, Helvetica, sans-serif !important;
}

.set-p-0-city{
	margin-left:15px !important;
}

.main-second-header .setArrowImage{
	position: absolute;
	top:-8px;
	margin-left:75px;
	font-size:60px;
}
.banner-head-text{
	color: #fff;
	font-size: 41px;
	font-weight: 800;
	position: relative;
	top: 174px;
}

.setPOSTIMGROW{
	margin-right:0px;
	margin-left:0px;
}

.setCaptionBox{
	height: 330px;
	background-color: #fff;
}


.setPanelBody{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.setPanelFooter{
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.set-select{
	font-size:19px;
	height:55px;
	width:100%;
	border-radius: 10px;
	color:#fff;
	border:1px solid #57af2a;
	background-color: #57af2a;
	padding: 0px 4px;
	/*-webkit-appearance: none;*/
	-moz-appearance: none;
	appearance: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-position: right center;
}

.header-banner-second-part select > .set-select-all{

}

.header-banner-second-part .form-control option{
	background-color:#fff;
	color:#2e404e;
	font-size:15px;
	font-weight:500;
	padding:10px 0px;
	border-bottom:1px solid red !important;
}
.inner-addon {
  position: relative;
}
.header-banner-second-part{
	position: relative;
	top:-220px;
}
.header-search-btn a{
	font-size:25px;
	width:100%;
	font-weight: bold;
	margin-left:-15px;
	border-radius: 10px;
}
.header-search-btn a:hover{
	color:#fff;
}
.min-price,.max-price{
	font-weight:600;
	font-size:13px;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  color:#827b79 !important;
  pointer-events: none;
}
.custom-btn{
	width: 100%;
	color:#fff;
	background-color:#57af2a;
	border-radius: 0px;
	font-weight: bold;
	padding: 10px;
	font-size: 12px;
}

.custom-btn:hover{
	color:#fff;
}

.set-image-search-bar{
	border-radius:10px;
	font-size:20px;
	padding: 28px 45px !important;
}
.inner-addon i{
	position: relative;
	top:8px;
	left:5px;
	font-size:22px;
}
.sidebar-text span{
	font-size:17px;
	color:#131A2A;
}
.sidebar-text span.label-text{
	font-size:17px;
	color:#131A2A;
	padding-left: 35px;
	position: relative;
}
.sidebar-text p{
	color:#2e404e;
	font-weight:500;
	font-size:22px;
	margin-top:-20px;
}
.sidebar-text input[type="checkbox"], input[type="radio"]{
	position: absolute;
	left: 19px;
}
.sidebar-text input[type="checkbox"] + .label-text:before{
	content: "";
	height: 22px !important;
	width: 22px !important;
	border-radius: 8px;
	border:1px solid #57AF2A;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
	font-size:28px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #fff;
}
.sidebar-text input[type="checkbox"]:checked + .label-text:before{
	background-color: #57AF2A;
	animation: effect 250ms ease-in;
}
.sidebar-text input[type="checkbox"]:disabled + .label-text{
	color:#aaa;
}
.sidebar-text input[type="checkbox"]:disabled + .label-text:before{
	content:"\f0c8";
	color:#ccc;
}
@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}
.label-text{
	font-size:12px;
	font-weight: normal;
}
.right-section-hedding p{
	font-size:23px;
	margin-top:-20px;
	color:#2e404e;
	font-weight: 500;
}
.right-section-hedding span{
	color:#8d8d8d;
	font-weight: 500;
	font-size:15px;
}
.right-section-hedding-text span{
	color:#44525e;
	font-size:12px;
}
.post-border{
	top:15px;
	right:20px;
	height:35px;
	position: absolute;
	border-right:2px solid #D5D5D5;
}

.post-title p,.post-second-title p{
	color:#2e404e;
	font-size:20px;
	margin-top:8px;
	font-weight:600;
}
.post-title span,.post-second-title span{
	color:#3e4242;
	font-size:14px;
	font-weight: 500;
}
.post-btn .btn{
	border-bottom:1px solid #fff;
	font-weight: bold;
	padding:10px;
}
.post-box-img img{
	width: 100%;
}

.post-box{
	box-shadow:0px 4px 5px #a2dc84;
}

.select2-dropdown {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0px 6px 12px -3px #58AE29 !important;
	border: 0px !important;
	/*#c0dcb4*/
}

.select2-container--default .select2-selection--single .select2-selection__clear {
	cursor: pointer;
	float: right;
	font-weight: bold;
	display: none;
}

.post-btn .btn:hover{
	color:#fff;
}
.post-btn .custom-btn{
	font-size:12px !important;
	border-radius:0px;
	margin-top:42px;
}


.post-btn{
	padding-left:0px;
	padding-right:0px;
}


.setPaginationRow{
	margin-top:20px;
}

.pagination{
	position:relative;
	top:0px;
  	display: inline-block;
}
.pagination a{
	font-size:18px;
	margin:0px 1px;
  	color:black;
  	float:left;
  	font-weight: 500;
  	width:30px;
  	border-radius:3px;
  	height:30px;
 	padding:2px 8px;
  	text-decoration:none;
  	background-color:#ebebeb;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #4CAF50;color:#fff;}
.footer-btn-section-title p{
	font-size:22px;
	color:#2e404e;
	font-weight:500;
}

.footer-btn-section{
	background-color: #fff !important;
}

.custom-btn-footer{
	background-color:#57AF2A;
	width:170px;
	color:#fff;
	border-radius:10px;
	padding:10px 20px;
	font-size:18px;
	margin:0px 10px;
}
.custom-btn-footer:hover{
	color:#fff;
}
.sidebar-text span i{
	color:#fff200;
}
.sidebar-text span .defulat-star{
	color:#c2c2c2;
}
.and-up{
	color:#C2C2C2 !important;
	font-size:12px;
}
.ui-widget-header{
	background:#57AF2A !important;
}
.ui-slider-horizontal {
    height: 3px !important;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -8px !important;
}
.ui-slider .ui-slider-handle{
	background-color:#B7B7B7 !important;
	width:14px !important;
	height:14px !important;
}
.pagination{
	text-align: center;
}
.pagination i{
	position: relative;
	top:-3px;
	color:#404041;
	font-size:30px;
}
.pagination i:hover{
	color:#fff;
}
.ui-widget.ui-widget-content{
	border:0px solid #57AF2A !important;
	margin-top: 1px !important;
	width:671px !important;
}

/*slider start*/
.slider-section .title h2{
	font-size:22px;
	color:#2E404E;
	margin-bottom:-8px;
	font-weight: 500;
}
.slider-section{
	padding:5px 0px 30px 0px;
	background-color: #F4F5F6;
	margin-top:-55px;
	margin-bottom:30px;
}
.slider-section img { max-width:100%; object-fit: cover; }
/* Page Header */
.slider-section .page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
.slider-section .page-header h3 {
    line-height: 0.88rem;
    color: #000;
}
.slider-section ul.thumbnails {
  	list-style: none;
  	margin: 0;
  	padding: 0;
}
.slider-section .caption-box{
	padding:1px 10px;
	background-color:#fff;
	height:130px;
	cursor: pointer;
}
.slider-section .caption-box h4 {
    font-size:16px;
    color: #2e404e;
    font-weight:600;
    padding-top:8px;
    margin:0px;
}
.slider-section .caption-box span{
	color:#838484;
	position: relative;
	top:5px;
	font-size:12px;
	font-weight:400;
}

.slider-section .caption-box p {
    font-size:15px;
    color: #838484;
    padding:7px 0px 0px 0px !important;
}

.setImageCMP{
	height: 150px;
}

.caption-box img{
	margin-top:-3px;
}

/* Control box
------------------------------------------------ */
.slider-section .control-box {
    width: 100%;
}

.slider-section .carousel-control{
    background: #fff !important;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
	margin-right:20px;
    opacity: 0.5;
    height: 30px;
    width: 30px;
	margin-right: 90px;
}
.left i , .right i{
	position: relative;
	top:-5px;
	color:#000 !important;
}
.left{
	float:right !important;
}
.right{
	float:right !important;
}
.control-box a:hover{
	text-decoration: none;
}
.view-all-text-slider{
	color:#3E3E3E;
	font-size:18px;
	position: relative;
	top:2px;
	font-weight: 500;
	margin:0px 30px 0px 0px;
}
.view-all-text-slider:hover{
	color:#3E3E3E !important;
}
.box{
	position: relative;
	width:18%;
	padding: 0px;
	margin:10px 11px;
}
.box:hover .box-hidden{
	display:block;
	-moz-transition: all 0.5s;
}
.box-hidden p{
	font-weight:600;
	font-size:14px;
}
.box-hidden{
	transition: all 0.5s;
	display:none;
	bottom:129px;
	width: 100%;
	padding:8px;
	color:#fff;
	background-color:rgba(87, 175, 42,0.7);
	position: absolute;
	text-align: center;
}
.box:hover .caption-box{
	box-shadow:0px 6px 8px -2px #77d248 !important;
}
.set-view-all-text{
    position: relative;
    right: 30px;
}

.set-center-title-neweset{
	margin-bottom: 20px;
}
.nex-prev-btn-section .left{
	position: relative;
	margin-right:112px;
	float:right !important;
}
.nex-prev-btn-section{
	margin-bottom:4px;
}
/* Mobile only
------------------------------------------------ */

.map-secion .title h2{
	font-size:23px;
	color:#2E404E;
	font-weight: 500;
}
.map-secion-img img{
	/*margin-top:20px;*/
}
.slider-section-second{
	margin-top:0px;
}
.slider-section-second .title{
	margin-top:20px;
	margin-bottom: 20px;
}
.slide-star-part i{
	color:#FFF200;
	position: relative;
	top:5px;
}
.slider-like-part span{
	font-weight:600 !important;
	color:#2E404E !important;
	font-size:15px !important;
}
.box-second:hover .caption-box{
	box-shadow: unset !important;
}
.carousel-control{
	text-shadow: unset !important;
}

.set-tool-bars{
	display:none;
}

.set-col-md-6-2-modal-dp{
	padding-right: 0px;
}

.set-col-md-6-modal-dp{
	padding-left: 0px;
}

.set-contact-name-details{
	margin-left: 0px;
}

.set-fafaenvolope{
	margin-right: 0px;
	margin-top: 10px
}

.setSearchSelectInput {
	padding-left: 8px;
	padding-right: 17px;
}


.select2-container--bootstrap .select2-dropdown{
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0px 5px 8px -3px #58AE29 !important;
	border-color: transparent !important;
	overflow-x: hidden;
	margin-top: -1px;
	border: 0px !important;
}

.select2-container {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	/*margin-left: !important;*/
}

.select2-dropdown {
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051;
	margin-left: 0px;
}

.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #fff !important;
}


.select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 28px;
	user-select: none;
	-webkit-user-select: none;
	text-align: left;
	font-size: 18px !important;
	font-weight: 501 !important;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.select2-search--dropdown .select2-search__field {
	padding: 4px;
	width: 100%;
	box-sizing: border-box;
	display: none !important;
}

.select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 28px;
	user-select: none;
	-webkit-user-select: none;
	border: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #888 transparent transparent transparent;
	border-style: solid;
	border-width: 7px 7px 0 7px !important;
	height: 0;
	left: 50%;
	margin-left: -10px !important;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
}


.select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
	position: absolute;
	bottom: 0;
	right: 12px;
	top: 0;
	width: 7px !important;
	color: #fff !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
	border-color: #999 transparent transparent transparent;
	border-style: solid;
	border-width: 7px 7px 0 7px !important;
	height: 0;
	left: 0;
	margin-left: -10px !important;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 10px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
	border-color: #fff transparent transparent transparent !important;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	height: 0;
	left: 0;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 10px !important;
}

.select2-results__option {
	padding-left: 20px !important;
	user-select: none;
	border-bottom: 1px solid #B7B7B7;
	-webkit-user-select: none;
	font-size: 14px !important;
	font-weight: 500;
	color:#2e404e !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
	background-color: #337ab7;
	color: #fff;
	font-weight: 500;
}

select2-container--bootstrap .select2-selection--single {
	height: 34px;
	line-height: 1.42857;
	padding: 6px 24px 6px 12px;
	padding-left: 15px !important;
}

/*.ui-widget.ui-widget-content{*/
	/*display: block !important;*/
/*}*/

@media (max-width:2000px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 37.88% !important;
	}
}

@media (max-width:1950px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 37.83% !important;
	}
}

@media (max-width:1900px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 37.8% !important;
	}
}

@media (max-width:1895px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 37.7% !important;
	}
}

@media (max-width:1850px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 37.65% !important;
	}
}

@media (max-width:1800px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 37.55% !important;
	}
}
@media (max-width:1700px)
{
		.ui-widget.ui-widget-content {
			border: 0px solid #57AF2A !important;
			margin-top: 1px !important;
			width: 40.88% !important;
		}
}

@media (max-width:1650px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 44.32% !important;
	}
}

@media (max-width: 1550px){
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 47.52% !important;
	}
}

@media (max-width: 1450px) {

	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 48.7% !important;
	}
}

@media (max-width: 1450px) {
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 48.5% !important;
	}
}

@media (max-width: 1318px) {
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 51.5% !important;
	}
}

@media(max-width:2000px) and (min-width:1654px)
{
	.set-box-transparent {
		width: 55%;
		background-image: url(/images/transparentboxx.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
	}
	.select2-container {
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		position: relative;
		vertical-align: middle;
		width: 100% !important;
	}
	.set-list-plus {
		right: 14px !important;
		float: right !important;
	}
	.set-col-md-2-language {
		top: 21px;
		width: 130px;
		position: absolute;
		right: 85px;
	}
}

@media (max-width:1700px)
{
	.set-box-transparent {
		width: 60%;
		background-image: url(/images/transparentboxx.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
	}
}


@media (max-width:1655px) and (min-width:1554px)
{
	.set-box-transparent {
		width: 65%;
		background-image: url(/images/transparentboxx.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
	}
	.select2-container {
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		position: relative;
		vertical-align: middle;
		width: 200px !important;
	}

	.set-list-plus {
		right: 14px !important;
		float: right !important;
	}
	.set-col-md-2-language {
		top: 21px;
		width: 130px;
		position: absolute;
		right: 79px;
	}
	.select2-container {
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		position: relative;
		vertical-align: middle;
		width: 208px !important;
	}
}

@media (max-width:1553px) and (min-width:1454px)
{
	.set-box-transparent {
		width: 70%;
		background-image: url(/images/transparentboxx.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
	}
	.select2-container {
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		position: relative;
		vertical-align: middle;
		width: 200px !important;
	}
	.set-list-plus {
		right: 14px !important;
		float: right !important;
	}
	.set-col-md-2-language {
		top: 21px;
		width: 130px;
		position: absolute;
		right: 79px;
	}
}

@media (max-width:1453px) and (min-width:1354px)
{
	.set-box-transparent {
		width: 72%;
		background-image: url(/images/transparentboxx.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
	}

	.select2-container {
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		position: relative;
		vertical-align: middle;
		width: 200px !important;
	}

	.set-list-plus {
		right: 16px !important;
		float: right !important;
	}
	.set-col-md-2-language {
		top: 21px;
		width: 130px;
		position: absolute;
		right: 79px;
	}
}

@media (max-width:1353px) and (min-width:1254px)
{
	.set-box-transparent {
		width: 77%;
		background-image: url(/images/transparentboxx.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
	}

	.slider-section .carousel-control {
		background: #fff !important;
		border: 0px;
		border-radius: 0px;
		display: inline-block;
		font-size: 34px;
		font-weight: 200;
		line-height: 18px;
		opacity: 0.5;
		height: 30px;
		width: 30px;
		margin-right: 22px;
	}
	.nex-prev-btn-section .left {
		position: relative;
		margin-right: 43px;
		float: right !important;
	}
    .setSearchSelectInput{
        text-align: -webkit-center;
        text-align: -moz-center;
        width:auto;
    }
    .set-image-search-bar {
        border-radius: 10px;
        font-size: 20px;
        padding: 28px 45px !important;
        width: 769px;
    }
    .header-search-btn a {
        font-size: 25px;
        width: 242px;
        font-weight: bold;
        margin-left: -15px;
        border-radius: 10px;
    }
	.set-list-plus {
		right: 18px !important;
		float: right !important;
	}
	.set-col-md-2-language {
		top: 21px;
		width: 130px;
		position: absolute;
		right: 79px;
	}
}

@media (max-width:1350px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 51.71% !important;
	}
}

@media (max-width:1253px) and (min-width:1200px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 56.7% !important;
	}
	.set-box-transparent {
		width: 85%;
		background-image: url(/images/transparentboxx.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
	}

	.set-list-plus {
		right: 14px !important;
		float: right !important;
	}
	.set-col-md-2-language {
		top: 21px;
		width: 130px;
		position: absolute;
		right: 79px;
	}
}


@media (max-width:1199px) and (min-width:992px){

	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 66.9% !important;
	}

	.container-transparent-box{
		width: 100%;
	}

    .set-input-box-search {
        float: left;
        padding-left: 20px;
        width: 90%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 0px;
        height: 52px;
    }

	.set-box-transparent {
		width: 100%;
		background-image: url(/images/transparentboxx.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
		position: relative;
	}

	.setRightSection{
		width:100%;
	}

	.setCol3SearchBarP{
		width:100%;
	}

	.setby-space1{
		position: absolute;
		width:22%;
		left:3%;
	}

	.setCategory1{
		position: absolute;
		left:41%;
	}

	.setCategory2{
		position: relative;
		width:20%;
		left:80%;
	}

	.setCaptionBox {
		height: 361px;
		background-color: #fff;
	}

	.setCategory3{
		margin-top:13%;
		width:100%;
		text-align: center;
	}

	.set-slider-number-1 {
		border: 0px solid #ddd;
		text-align: center;
		font-size: 18px;
		-moz-appearance: textfield;
		position: absolute;
		top: 5px;
		right: 90%;
		width: 61px;
		color: #555;
	}

	.set-slider-number-2 {
		border: 0px solid #ddd;
		text-align: center;
		font-size: 18px;
		-moz-appearance: textfield;
		position: absolute;
		left: 90%;
		top: 5px;
		width: 61px;
		font-weight: 400;
	}

	.setSearchSelectInput{
		margin-top:0px;
		margin-bottom:8px;
	}
}

@media (max-width:1117px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 1px !important;
		width: 56.5% !important;
	}
}

@media (max-width:1025px)
{
	.ui-widget.ui-widget-content {
		border: 0px solid #57AF2A !important;
		margin-top: 3px !important;
		width: 61.5% !important;
	}
}

@media (max-width:991px)
{
	.set-box-transparent {
		width: 100%;
		background-image: url(/images/transparentboxx.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 180px;
	}

	.set-add-on-select {
		float: left;
		display: flex;
		padding-top: 15px;
		padding-left: 15px;
		width: 100%;
		padding-right:15px;
	}

	.set-add-on {
		float: right;
                width: 100%;
		padding-top: 22px;
		padding-right: 15px;
	}

	.header-search-btn a {
		font-size: 25px;
		width: 100%;
		font-weight: bold;
		margin-left: 0px;
		border-radius: 10px;
	}
	#ui-datepicker-div{
		z-index: -1;
	}

	.set-col-md-6-book-spaces-rooms-1 {
		padding-left: 20px;
		padding-right: 20px;
	}

	.set-col-md-6-book-spaces-rooms-2 {
		padding-right: 20px;
		padding-left: 20px;
	}

	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 69.66% !important;
		margin-top: 97px !important;
	}
	.set-list-plus{
		right:0px !important;
	}

	.set-col-md-2-language {
	}

	.set-office-main-images {
		padding-left: 16px;
		width: 100% !important;
	}
	.set-col-md-6-2-images-2{
		width: 100% !important;
		padding-right: 16px;
		padding-left: 16px;
		margin-top:15px;
	}
	.setBookNowDiv{
		text-align: center;
	}

	.set-col-md-6-2-office-details-page{
		width:100% !important;
	}

	#select-type , .select2-container {
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		position: relative;
		vertical-align: middle;
	}
	#select-type, .select2-container .select2-selection--single {
		box-sizing: border-box;
		cursor: pointer;
		display: block;
		height: 55px !important;
		user-select: none;
		text-align: center !important;
		-webkit-user-select: none;
		background-color: #5CC22F !important;
		padding: 12px !important;
	}
	.main-second-header .setArrowImage {
		position: absolute;
		top: 15px;
		margin-left: 55px;
		font-size: 60px;
	}

	.set-main-image-shared-office{
		width:100% !important;
	}
	.setImageModify{
		width:100% !important;
	}
	.set-select-rooms-2 {
		width: 100%;
		height: 37px;
		color: #707070 !important;
		border: 2px solid lightgray;
		margin-top: 10px;
	}
	.set-col-md-6-modal-dp{
		padding-right:0px;
	}

	.set-col-md-6-2-modal-dp{
		padding-left:0px;
	}

	.set-btn-succes-dp{
		width:100%;
	}
	.set-fafauser-dp{
		font:normal normal normal 14px/1 FontAwesome !important;
	}
	.set-fafaenvolope{
		font:normal normal normal 14px/1 FontAwesome !important;
	}

	.set-fafauser-dp{
		margin-right:0px !important;
	}

	.set-slider-number-2{
		border: 0px solid #ddd;
		text-align: center;
		font-size: 18px;
		-moz-appearance: textfield;
		position: absolute;
		left: 88%;
		top: 5px;
		width: 61px;
		color: #555;
	}

	.set-slider-number-1 {
		border: 0px solid #ddd;
		text-align: center;
		font-size: 18px;
		-moz-appearance: textfield;
		position: absolute;
		top: 5px;
		right: 90%;
		width: 61px;
		    font-weight: 400;
	}

	.range-slider {
		width: 100%;
		margin: auto;
		text-align: center;
		position: relative;
	}

	 .set-image-search-bar{
		border-radius: 28px;
		 width:100%;
		font-size: 20px;
		padding: 28px 45px !important;
	}
	.setSearchSelectInput{
		margin-top:8px;
		margin-bottom:8px;
	}
	.setCol3SearchBarP{
		padding-left:30px;
	}


	.setCaptionBox {
		height: 100%;
		background-color: #fff;
		text-align: center;
	}

	.box-hidden {
		transition: all 0.5s;
		display: none;
		bottom: 129px;
		width: 100%;
		padding: 8px;
		color: #fff;
		background-color: rgba(87, 175, 42,0.7);
		position: absolute;
		text-align: center;
	}

	.header-banner-second-part select {
		font-size: 19px;
		height: 55px;
		width: 100%;
		border-radius: 0px;
		color: #fff;
		border: 1px solid #57af2a;
		background-color: #57af2a;
		padding:0px 4px;
	}
	.header-search-btn a {
		font-size: 25px;
		width: 100%;
		font-weight: bold;
		margin-left: 0px;
		border-radius: 28px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.setContainerText{
		display: inline-block;
		width: 100%;
	}
	.setContainerSearch{
		display: inline-block;
		width: 100%;
		margin-top: -10%;
	}
	.slider-section .caption-box {
		padding: 1px 10px;
		background-color: #fff;
		height: 160px;
	}
	.box {
		position: relative;
		width: 21%;
		padding: 0px;
		margin: 10px 12px;
		float: left;
	}
	#myCarousel{
		margin-right:0px !important;
		margin-left:0px !important;
	}

	#myCarousel2{
		margin-right:0px !important;
		margin-left:0px !important;
	}


	.main-second-header {
		position: relative;
		padding: 17px 0px;
		padding-left: 27px;
		padding-right: 27px;
	}
	.custom-btn-footer {
		background-color: #57AF2A;
		width: 170px;
		color: #fff;
		border-radius: 10px;
		padding: 10px 20px;
		font-size: 18px;
		margin: 0px 10px 14px;
	}
	.main-second-header .bredcum {
		width: 120px;
		float: left;
	}
}

@media (max-width:967px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 72.9% !important;
		margin-top: 102px !important;
	}
}


@media (max-width:920px)
{
    .ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
        width: 76.4% !important;
        margin-top: 105px !important;
    }
}

@media (max-width:837px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 84% !important;
		margin-top: 114px !important;
	}
}

@media (max-width:768px)
{
	.searchSection{
		width:100%;
	}
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 84% !important;
		margin-top: 119px !important;
	}
}

@media (max-width:737px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 82.6% !important;
		margin-top: 113px !important;
	}
	.set-row-col-md-10 {
		display: contents !important;
		padding-left: 17px;
		width: 100% !important;
	}
}

@media(max-width:667px)
{
	#ui-datepicker-div {
		position: absolute !important;
		left: 120px !important;
		display: block;
		top: 468px !important;
		z-index: -1;
	}
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 82% !important;
		margin-top: 121px !important;
	}

	.header-banner-second-part {
		position: relative;
		top: -179px;
	}
	.box {
		position: relative;
		width: 45%;
		padding: 0px;
		margin: 10px 12px;
		float: left;
	}
	#myCarousel {
		margin-right: 0px !important;
		margin-left: 0px !important;

	}
	.slider-section .control-box {
		width: 100%;
		margin-top: 30px;
	}
	.main-second-header .bredcum {
		width: 91px;
		float: left;
	}
	.set-row-col-md-10 {
		display: contents !important;
		padding-left: 17px;
		width: 100% !important;
	}
	.setAsia {
		left: 112px;
	}
}

@media (max-width:564px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 79% !important;
		margin-top: 126px !important;
	}
}

@media (max-width:557px)
{
	.mobile-design-newest-spaces-available{
		display: block;
	}
	.set-modal-content-list-space{
		margin-left:0px !important;
		width:100% !important;
	}

	.set-col-md-2-language {
		top: 20px;
		width: 130px;
		position: absolute;
		right: 22px;
	}
	.set-footer-container {
		width: 100% !important;
	}
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 89% !important;
		margin-top: 15px;
	}
	.ui-menu-item, .col-md-11, .description:hover {
		margin-top: -16px;
		margin-left: 19px;
		padding-left: 0px;
		width: 282px !important;
	}
	.set-contact-name-details{
		width:100%;
	}

	.set-slider-number-2{
		border: 0px solid #ddd;
		text-align: center;
		font-size: 18px;
		-moz-appearance: textfield;
		position: absolute;
		left: 80%;
		top: 5px;
		width: 61px;
		color: #555;
		font-weight: 400;
	}

	.set-slider-number-1 {
		border: 0px solid #ddd;
		text-align: center;
		font-size: 18px;
		-moz-appearance: textfield;
		position: absolute;
		top: 5px;
		right: 84%;
		width: 61px;
		color: #555;
		font-weight: 400;
	}

	.range-slider {
		width: 100%;
		margin: auto;
		text-align: center;
		position: relative;
		left: 0px !important;
		top: 10px;
		margin-bottom: 45px !important;
	}


	/*tabs links*/

	/* Style the tab */
	.tab{
		margin-left: 25px;
		margin-right: 25px;
		border: 1px solid #cccccc;
		border-radius: 10px;
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #fff;
	}

	/* Style the buttons inside the tab */
	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		width: 75.5px;
		transition: 0.3s;
		font-size: 17px;
		height: 54px;
		border-right: 2px solid #cccccc;
	}

	.not-match-border{
		border-right:0px !important;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background-color: #5CC22F;
	}

	.tab button:hover .set-span-and-up-rating{
		color:#fff !important;
	}
	.tab button:hover .set-span-text-all-rating{
		color:#fff !important;
	}

	.set-scroller{

	}

	/* Create an active/current tablink class */
	.tab button.active {

	}

	/* Style the tab content */
	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	}
	/*tab links*/


	/* input type checkbox css customization*/
	.set-container-checkbox {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: absolute;
		right: 40px;
		top: 20px;
	}

	/* Hide the browser's default checkbox */
	.set-container-checkbox input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.set-checkmark-checkbox {
		position: absolute;
		top: 0;
		left: 0;
		height: 22px;
		width: 23px;
		color: black;
		border: 2px solid #5CC22F;
		border-radius: 8px;
	}

	/* On mouse-over, add a grey background color */
	.set-container-checkbox:hover input ~ .set-checkmark-checkbox {
	}

	/* When the checkbox is checked, add a blue background */
	.set-container-checkbox input:checked ~ .set-checkmark-checkbox {
		color:#fff;
		background-color: #5CC22F;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.set-checkmark-checkbox:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.set-container-checkbox input:checked ~ .set-checkmark-checkbox:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.set-container-checkbox .set-checkmark-checkbox:after {
		left: 6px;
		top: 0px;
		width: 8px;
		height: 15px;
		border: 2px solid #fff;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	/* input type checkbox css customization*/
	.set-tool-bars{
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;
		height: 57px;
	}

	.set-back-image{
		width:22px;
	}

	.set-modal-head-title{
		position: absolute;
		right: 30px;
		top: 15px;
	}

	.set-span-text-headbanner{
		font-size:20px;
		color:#555;
		font-weight: bold;
		font-family: Montserrat, sans-serif !important;
	}

	.set-col-md-12-headbanner{
		text-align: center;
	}

	.set-searchBar-box{
		padding: 21px 40px !important;
		border-radius: 28px;
	}

	.set-searchBar-image{
		position: absolute;
		top: 40px;
		left: 26px;
		width:20px;
	}

	.set-modal-header-headbanner{
		border-bottom:0px;
	}

	.set-space-modal-section{
		font-size:20px;
		color:#2e404e;
		font-weight: bold;
		border-bottom:2px solid #5CC22F;
		font-family: Montserrat, sans-serif !important;
	}

	.set-type-modal-section{
		font-size:20px;
		color:#2e404e;
		font-weight: bold;
		font-family: Montserrat, sans-serif !important;
	}

	.set-col-row-search-type{
		margin-top:20px;
	}

	.set-col-row-search-type .col-md-12{
		padding:16px;
	}

	.set-modal-footer-headbanner{
		border-top: 0px;
	}
	.set-image-search-bar{
		border-radius: 32px;
		font-size: 16px;
		padding: 28px 45px !important;
	}

	.set-apply-filter-button{
		width: 100%;
		height: 48px;
		background-color: #5CC22F;
		color:#fff;
		font-size: 20px;
		font-weight: bold;
		font-family: Montserrat, sans-serif !important;
	}

	.set-tab-links .set-fa-fa-stars-rating{
		font-size:8px;
		top:0px ;
		color:#cccccc;
		left: 0px;
	}

	.activated {
		background-color: green;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.set-span-and-up-rating{
		color:#fff;
	}

	.active-fa-stars{
		color:yellow !important;
	}

	.set-col-md-12-rating-1{
		padding:16px;
	}

	.set-col-row-rating-stars-divider{
		margin-left: 25px;
		margin-right: 25px;
		border: 1px solid #cccccc;
		border-radius: 10px;
	}

	.set-col-2-md-rating-section{
		margin: auto;
	}

	.set-primary-title{
		font-size: 22px;
		line-height: 25px;
		color: #2e404e;
		font-family: "Montserrat";
		font-weight: bold;
	}


	.set-span-text-all-rating{
		color:#5CC22F;
	}

	.set-col-2-md-rating-section span{
		font-size:15px;
	}

	.set-span-and-up-rating{
		font-size:10px !important;
		padding-left:3px;
		color:#5CC22F;
	}

	.set-col-12-rating-section{
		display:flex;
	}

	.set-col-row-spaces{
		margin-top:15px;
	}

	.set-col-12-spaces-1{
		padding:15px;
		border-bottom: 1px solid #ddd;
	}

	.set-col-rating{
		font-size:20px;
		color:#2e404e;
		font-weight: bold;
		border-bottom:2px solid #5CC22F;
		font-family: Montserrat, sans-serif !important;
	}

	.set-row-col-rating{
		margin-top:10px;
	}

	.reason-box {
		height: 255px !important;
	}

	.reason-box {
		background: #82c35f;
		padding-top: 0px !important;
		padding-bottom: 150px;
		text-align: left;
	}
	.ccontainer{
		display: block !important;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
		text-align: left;
		margin-left: 190px;
	}

	.checkmark {
		left:2% !important
	}
	.setArrowImage{
		width:15px !important;
	}

	.worlImageArrowIcon{
		left:20px;
	}

	.setAsiaP0{
		margin-left:-3px;
	}

	.setCategory1 {
		position: unset !important;
		width: 100% !important;
		text-align: center;
	}
	.setCategory2 {
		position: unset !important;
		width: 100% !important;
		text-align: center;
	}

	.setCategory3 {
		position: relative;
		top: 0px;
		padding-right: 10px;
		padding-bottom: 40px;
	}

	.main-second-header p {
		color: #2e404e;
		font-size: 11px;
		display: inline-block;
	}

	.setCol3SearchBarP {
		padding-left: 30px;
		text-align: center;
		margin-top: -100px;
		width: 100%;
		display: flow-root;
	}

	.setColMd10 {
		width: 100%;
		margin-top: 20% !important;
		text-align: center;
	}

	.setCategory3 {
		position: relative;
		top: 0px !important;
		padding-right: 15px;
		text-align: center;
		padding-left: 15px;
	}

	.setby-space1 {
		position: unset !important;
		width: 100% !important;
		text-align: center;
	}

	.box {
		position: relative;
		width: 44%;
		padding: 0px;
		margin: 10px 12px;
		float: left;
	}
	.main-second-header {
		position: relative;
		padding: 17px 0px;
		padding-left: 15px;
		padding-right: 8px;
	}
	.first-rating{
		position: relative;
		left: -33px;
	}
	html:lang(cn).ccontainer {
		display: block !important;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
		text-align: left;
		margin-left: 123px;
	}

}


@media (max-width:556px)
{
	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		width: 100%;
		transition: 0.3s;
		font-size: 17px;
		height: 54px;
	}
}

@media (max-width:474px)
{
	.set-col-md-2-language {
		top: 54px;
		right: 0px;
	}

	.set-list-plus {
		width: 100%;
		right: 122px !important;
	}
}

@media (max-width:399px)
{

	#ui-datepicker-div {
		position: absolute !important;
		left: 50px !important;
		display: block;
		top: 468px !important;
		z-index: -1;
	}

	.set-col-md-2-language {
	}
	.ui-menu .ui-menu-item-wrapper {
		position: relative;
		margin-right: -3px !important;
		margin-left: -3px !important;
		padding: 8px 0em 9px 0.4em !important;
	}

	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 87% !important;
		margin-top: 9px;
	}
	.first-rating{
		position: relative;
		left: 0px !important;
	}
	.ccontainer{
		display: block !important;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
		text-align: left;
		margin-left: 76px;
	}

	html:lang(cn).ccontainer {
		display: block !important;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
		text-align: left;
		margin-left: 123px;
	}

	.banner-head-text {
		color: #fff;
		font-size: 30px;
		font-weight: 800;
		position: relative;
		top: 225px;
	}
	.set-main-image {
	}
	.main-second-header .setArrowImage{
		position: absolute;
		top: 15px;
		margin-left: 39px !important;
		font-size: 60px;
	}
	.main-second-header .bredcum {
		width: 88px;
		float: left;
	}
	.setAsia {
		left: 74px;
	}

	.setMalaysiabredcrum{
		margin-left: -23px;
	}

	.setSepang{
		margin-left: 10px;
	}

	.box {
		position: relative;
		width: 93%;
		padding: 0px;
		margin: 10px 12px;
		float: left;
	}
}

@media (max-width:375px)
{
	.ui-menu-item, .col-md-11, .description:hover {
		margin-top: -16px;
		margin-left: 19px;
		padding-left: 0px;
		width: 213px !important;
	}
	.set-list-plus {
		width: 100%;
		position: absolute;
		top: 61px;
	}
	.set-col-md-2-language {
		top: 64px;
		right: 0px;
	}
	.checkmark {
		left: 2% !important;
	}
	.main-second-header .bredcum {
		width: 106px;
		float: left;
		margin-bottom: 25px;
	}
	.main-second-header .setArrowImage {
		position: absolute;
		top: 15px !important;
		margin-left: 61px !important;
		font-size: 60px;
	}

	.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
		min-width: 160px;
		max-width: 275px;
		width: 275px;
		z-index: 9995;
		margin-left: 36px !important;
	}

	.setAsia {
		left: 79px;
	}
	.setSepang {
		margin-left: -32px;
		width: 0px !important;
	}
}

 .pac-card {
	 margin: 10px 10px 0 0;
	 border-radius: 2px 0 0 2px;
	 box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 outline: none;
	 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	 background-color: #fff;
	 font-family: Roboto;
 }
#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}
.pac-container { z-index: 10000 !important; }
.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}
.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#pac-input {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	/*margin-left: 12px;*/
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
}
#pac-input:focus {
	border-color: #4d90fe;
}
#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}
#target {
	width: 345px;
}


/*----------------------mobile view design----------------------------------*/
/*mobile-web-responsive-design*/
.mobile-web-responsive-devices{
	display:none;
}
.mobile-view-design{
	display: none;
}

.mobile-view-design-header{
	display: none;
}

.mobile-view-section-footer{
	display: none;
}


.mobile-view-design-head-banner{
	display:none;
}
.header-search-mobile{
	display: none;
}
.mobile-content-main{
	display: none;
}

@media (max-width: 557px){
	.header-search-mobile {
		display: inline-block;
		position: relative;
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
		height: 50px;
	}
	.header-search-mobile .search-green-icon {
		position: absolute;
		left: 7px;
		width: 15px;
		z-index: 1;
		top: 12px;
	}
	.header-search-mobile .search-filter-icon {
		width: 36px;
		position: absolute;
		right: 0px;
		top: 6px;
	}
	.header-search-mobile input {
		width: 100%;
		height: 30px;
		border-radius: 25px;
		padding-left: 30px;
		margin-top: -20px;
		font-size: 9px;
		position: relative;
		top: 24px;
	}
	.co-worker-head {
		display: inline-block;
		width: 100%;
		padding-top: 10px;
	}
	.co-worker-head p {
		float: left;
		margin: 0;
		font-size: 11px;
		font-weight: 600;
		color:#2e404e;
	}
	.co-worker-head a {
		float: right;
		width: auto;
		font-size: 8px;
		color: #aaa;
		font-weight: 600;
		position: relative;
		bottom: -5px;
	}
	.mobile-content-main{
		display: block;
	}
	.co-worker-widget-image img {
		width: 100%;
		border-radius: 15px 15px 0px 0px;
		height:111.63px;
	}
	.co-worker-widget-detail {
		padding: 5px 10px 10px 10px;
        height: 95px;
	}
	.co-worker-widget-detail span {
		font-size: 12px;
		font-weight: 400;
		color:#838484;
	}

	.co-worker-widget-detail .location-icon{
		height:10px;
	}
	.co-worker-widget-detail h2 {
		font-size: 12px;
		font-weight: 600;
		margin: 0px;
		color:#2e404e;
	}
	.co-worker-widget-detail p {
		font-size: 12px;
		margin: 0;
		color:#838484;
	}
    .custom-padding {
        padding-left: 10px;
        padding-right: 10px;
    }

	.camera-icon-view-co-worker{
		width:19px !important;
		object-fit: contain !important;
	}

	.co-worker-widget {
		margin-bottom: 15px;
		border-radius: 15px;
		background: #f1f1f1;
		display: inline-block;
		width: 100%;
		box-shadow: 5px 4px 14px -3px #ccc !important;
	}
	.co-worker-widget-detail ul {
		margin: 0;
		padding: 0;
	}
	.co-worker-widget-detail ul li{
		list-style: none;
		display: inline-block;
		padding-right: 3px;
	}
	.co-worker-widget-detail ul li img{
		width: 15px;
	}
	.co-worker-widget-image {
		position: relative;
	}
	.ratting-star-co-worker {
		position: absolute;
		top: 0;
		right: 8px;
	}
	.ratting-star-co-worker ul {
		margin: 0px;
		padding: 0px;
	}
	.ratting-star-co-worker ul li{
		display: inline-block;
	}
	.ratting-star-co-worker ul li i{
		color:gray;
		font-size: 10px;
	}
	.ratting-star-co-worker p {
		color: #fff;
		font-size: 9px;
		margin: 0;
		text-align: right;
		line-height: 5px;
	}
	.price-co-worker {
		position: absolute;
		bottom: 5px;
		left: 5px;
	}
	.price-co-worker p {
		margin: 0px;
		color: #fff;
		font-size: 12px;
		font-weight: 500;
	}
	.view-co-worker {
		position: absolute;
		bottom: 5px;
		right: 5px;
		top:43px;
		color: #fff;
	}
	.view-co-worker p {
		display: inline-block;
		font-size: 12px;
		margin: 0px;
	}

	.top-co-works-spaces img
	{
		width: 100%;
		height: 111.63px;
		border-radius: 15px;
	}

	.custom-padding-top-spaces-1{
		padding-right: 4px;
		padding-left: 10px;
	}

	.custom-padding-top-spaces-2{
		padding-left: 4px;
		padding-right: 10px;
	}

	.set-li-slider{
		display: flex;
		float: left;
		margin: 1px 10px 10px 10px;
		width: auto;
		max-width: fit-content;
		height: inherit;
	}

	.set-ul-custom-slider{
		overflow: scroll;
		padding-left:0px;
		margin-bottom: 0px !important;
		height: inherit;
	}

	.likes-count-most-reviewed {
		position: absolute;
		right: 15px;
		padding-right: 0px;
		top: 83px;
		color: #2e404e !important;
	}

	.likes-count-most-reviewed span{
		position: relative;
		top: 2px;
		color:#2e404e !important;
	}

	.custom-padding-most-review-co-work-spaces{
		padding: 2px;
		margin-right: 6px;
	}

	.ratting-star-co-worker-most-review li{
		padding-right:0px !important;
	}

	.ratting-star-co-worker-most-review li i{
		font-size:10px;
		color:gray;
	}

	.most-reviwed-cowork-spaces{
		width:150px !important;
		margin-bottom: 0px;
		height:135px;
	}

	.top-co-works-spaces p{
		position: absolute;
		bottom: 3px;
		padding: 10px;
		color: #fff;
		font-weight: 500;
		margin-bottom: 0px;
	}

	.co-worker-widget-detail-most-reviewed{
		padding: 3px 10px 0px 10px!important;
	}

	.most-reviwed-cowork-spaces-shared-office-image{
		height:80px !important;
		border-top-left-radius: 10px !important;
		border-top-right-radius: 10px !important;
	}

	.location-icon-most-review{
		height:9px;
	}


	.set-panel-deafult-mobile-view-responsive-head {
		height: 28px !important;
		border: none;
	}
	.tablinkHead {
		height: 28px !important;
		font-weight: 600;
	}
	.tablinkHead:hover {
		height: 28px !important;
	}
	.set-searchBtnbtn {
		width: 53px;
		position: relative;
		top: -38px;
		font-weight: bold;
		font-family: Montserrat, Helvetica, sans-serif !important;
		color: #fff !important;
		font-size: 9px;
		left: 159px;
		background-color: #57b029;
		border-radius: 25px;
		height: 37px;
	}

	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		margin-top: 15px !important;
		top: 207px !important;
		left: 0px !important;
		width: 100% !important;
		z-index: 999999999999999999;
	}

	.ui-menu .ui-menu-item-wrapper {
		position: relative;
		display: grid;
	}

	.website-resonsive-design{
		display:none !important;
	}

 	.footer-btn-section{
		display: none !important;
	 }

 	.main-second-header{
		display:none;
	}

	.web-view-header-include{
		display:none;
	}

	.main-header-banner-section{
		display: none;
	}

	.mobile-web-responsive-devices{
		display:block;
	}

	.mobile-view-design-head-banner{
		display:block;
	}

	.mobile-view-design-header{
		display: block;
	}

	.mobile-view-section-footer{
		display: block;
	}


	.mobile-responsive-container{
		background-color: #57b029;
		height:50px;
	}


	/*menu stylish*/
	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
		-webkit-transition: 250ms all;
		transition: 250ms all;
	}

	.menu-opener {
		cursor: pointer;
		height: 64px;
		position: absolute;
		top: 3px;
		left: 5px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 64px;
	}
	.menu-opener:hover, .menu-opener.active {
		background: transparent;
	}

	.menu-opener-inner {
		background: #fff;
		height: .5rem;
		margin-left: .75rem;
		margin-top: 1.75rem;
		width: 2.5rem;
	}
	.menu-opener-inner::before, .menu-opener-inner::after {
		background: white;
		content: '';
		display: block;
		height: .5rem;
		width: 2.5rem;
	}
	.menu-opener-inner::before {
		-webkit-transform: translateY(-0.75rem);
		-ms-transform: translateY(-0.75rem);
		transform: translateY(-0.75rem);
	}
	.menu-opener-inner::after {
		-webkit-transform: translateY(0.25rem);
		-ms-transform: translateY(0.25rem);
		transform: translateY(0.25rem);
	}
	.menu-opener-inner.active {
		background: transparent;
	}
	.menu-opener-inner.active::before {
		-webkit-transform: translateY(0rem) rotate(-45deg);
		-ms-transform: translateY(0rem) rotate(-45deg);
		transform: translateY(0rem) rotate(-45deg);
	}
	.menu-opener-inner.active::after {
		-webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
		-ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
		transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
	}

	.menu {
		background: #57b029;
		color: transparent;
		height: 64px;
		position: absolute;
		top: 2%;
		left: 1%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 0rem;
		z-index: -1;
	}
	.menu.active {
		width: -webkit-calc(100% - 2rem);
		width: calc(100% - 2rem);
	}
	.menu.active .menu-link {
		color: white;
		font-weight: 400;
	}

	.menu-inner {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		height: 100%;
		list-style-type: none;
		margin: 0;
		margin-left: 4rem;
		padding: 0;
	}

	.menu-link {
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		font-size: 2rem;
		font-weight: 100;
		height: 100%;
		text-align: center;
		text-decoration: none;
	}
	.menu-link li {
		margin: auto;
	}

		.menu {
			height: auto;
		}
		.menu-inner {
			display: block;
		}
		.menu-link {
			padding: 10px 0;
			font-size: 1.2em;
			position: relative;
			left:-20px;
		}
		.menu.active {
			width: -webkit-calc(100% - 0.5rem);
			/*width: calc(100% - 0.5rem);*/
			left:0px;
			top:50px;
			width:100%;
			z-index: 9999999;
		}
	/*menu stylish*/

	.mobile-view-h2-head{
		font-size:15px;
		font-weight: bold;
		color:#fff;
		text-align: center;
		margin-top:18px;
	}

	.set-image-mobile-responsive-view{
		float: right;
		position: absolute;
		right: 10px;
		top: 13px;
		width: 22px;
	}

	.image-background-mobile-view-container{
		padding-left: 0px;
		padding-right: 0px;
		background-repeat: no-repeat;
		background-image: url(/images/header-bg.png);
		height: auto;
		background-size: cover;
		text-align: -moz-center;
		text-align: -webkit-center;
	}

	.image-background-mobile-view-container > img{
		/*width:100%;*/
		/*-webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!*/
		/*filter: grayscale(100%);*/
	}

	.image-background-mobile-view-container > h2{
		font-size: 19px;
		text-align: center;
		margin-top: 18%;
		color: #fff;
		font-weight: bold;
	}

	.searchbar-mobile-view-header{
		width:375px;
		height:40px;
		border-radius: 25px;
		padding-left:36px;
		margin-top:-20px;
		font-size: 12px;
	}

	.set-toolbar-mobile-responsive-view{
		position: relative;
		width: 51px;
		left: 163px;
		top: -39px;
	}

	.set-search-bar-image-mobile-responsive{
		position: relative;
		top: 8px;
		right: 167px;
	}

	/*set tab content tab links*/
	/* Style the buttons inside the tab */
	.tablinkHead {
		color: #555;
		float: left;
		background-color: transparent;
		text-align: -webkit-center;
		text-align: -moz-center;
		text-align: center;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 10px;
		height: 38px;
		width: 138px;
	}

	.tablinkHead:hover {
		background-color: #57b029;
		font-size: 10px;
		color:#fff;
		border-radius: 20px;
		height: 38px;
		width: 104px;
	}

	.SpaceActive{
		background-color: #57b029;
	}

	.allSpaces{

	}

	.openspaces{

	}

	.sharedworkspaces{
		width:119px !important;
	}

	.privatespaces{

	}

	.eventspaces{

	}

	/*set tab content tab links*/

	.set-panel-deafult-mobile-view-responsive-head{
		height: 40px;
		width: 93%;
		border-radius: 20px;
		display: flex;
	}


	.tab-view-container-body{
		background-color: #f1f1f1 !important;
	}

    .menu-opener i {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
        color: #fff;
    }

	/*newest spaces available*/
	.newest-spaces-image
	{
		width:100%;
		height:120px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.mobile-design-newest-spaces-available{
		padding-top:15px;
		background-color: #f1f1f1;
	}
	.newest-spaces-box{
		border-radius: 5px;
		padding:0px 0px 0px 0px;
		background-color: #fff;
		margin-bottom: 12px;
	}
	.newest-spaces-inner-box{
		padding:4px 10px 0px 10px;
		width: 100%;
		display: inline-block;
	}
	.left-side {
		width: 50%;
		float: left;
	}
	.right-side{
		float: right;
		width:50%;
	}
	.newest-space-office-price{
		color: #57b029;
		font-family: Montserrat, Helvetica, sans-serif !important;
		font-size: 12px;
		font-weight: bold;
		text-align: right;
		margin-bottom: 4px;
		margin-top: 1px;
	}
	.activeStars{
		color:yellow !important;
	}
	.newest-space-office-rating{
		font-family: Montserrat, Helvetica, sans-serif !important;
		font-size: 10px;
		text-align: right;
		font-weight: 300;
		list-style: none;
		margin-bottom: -5px;
	}

	.newest-space-office-rating ul li {
		display: inline-block;
		list-style: none;
	}

	.newest-space-office-rating  i{
		font-size: 10px;
		color:gray;
	}

	.newest-space-office-facilities li{
		list-style: none;
	}

	.newest-space-office-facilities img{
		width: 19px;
		float: right;
		margin-left: 4px;
		margin-bottom: 4px;
	}
	.newest-space-office-time{
		font-size: 8px;
		font-family: Montserrat, Helvetica, sans-serif !important;
		font-weight: 300;
		margin-bottom: 8px;
	}
	.newest-space-office-location{
		font-size: 11px;
		text-transform: capitalize;
		font-weight: 300;
		margin-bottom: 3px;
	}
	.newest-space-office-location img{
		width: 7px;
		position: relative;
		top: -2px;
		margin-right:1px;
	}
	.newest-space-office-name{
		font-size: 13px;
		width: 213px;
		font-family: Montserrat, Helvetica, sans-serif !important;
		margin-bottom: 2px;
		margin-top: 1px;
		font-weight: bold;
	}
	/*newest spaces available*/

}


/*mobile-web-responsive-design*/


@media (max-width:540px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		margin-top: 15px !important;
		top: 203px !important;
		left: 0px !important;
		width: 100% !important;
		display:none;
	}
}

@media (max-width:480px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		margin-top: 15px !important;
		top: 193px !important;
		left: 0px !important;
		width: 100% !important;
	}
}

@media (max-width:441px)
{

	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		margin-top: 15px !important;
		top: 193px !important;
		left: 0px !important;
		width: 100% !important;
	}

	.tablinkHead {
		color: #555;
		float: left;
		background-color: transparent;
		text-align: -webkit-center;
		text-align: -moz-center;
		text-align: center;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 8px;
		height: 38px;
		padding: 0px !important;
	}

	.image-background-mobile-view-container > h2 {
		font-size: 17px;
		text-align: center;
		margin-top: 18%;
		color: #fff;
		font-weight: bold;
	}

	.tablinkHead:hover{
		color: #fff;
		float: left;
		background-color: #57b029;
		text-align: -webkit-center;
		text-align: -moz-center;
		text-align: center;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 9px;
		height: 38px;
		width: 104px;
		padding: 0px !important;
	}

	.searchbar-mobile-view-header {
		width: 375px;
		height: 40px;
		border-radius: 25px;
		padding-left: 36px;
		margin-top: -20px;
		font-size: 11px;
	}

	.allSpaces {
		width: 18% !important;
	}
}

@media (max-width:414px) {

	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		margin-top: 15px !important;
		top: 158px !important;
		left: 38px !important;
		width: 85% !important;
	}

	.set-searchBtnbtn{
		width: 53px;
		position: relative;
		top: -13px;
		font-weight: bold;
		font-family: Montserrat, Helvetica, sans-serif !important;
		color: #fff !important;
		font-size: 9px;
		left: 115px;
		background-color: #57b029;
		border-radius: 25px;
		height: 36px;
	}

	.image-background-mobile-view-container > h2 {
		font-size: 14px;
		text-align: center;
		margin-top: 40px;
		color: #fff;
		font-weight: bold;
		position: relative;
		top: 17px;
		margin-bottom: 5px;
	}

	.searchbar-mobile-view-header {
		width: 286px;
		height: 38px;
		border-radius: 25px;
		padding-left: 30px;
		margin-top: -20px;
		font-size: 9px;
		position: relative;
		top: 24px;
	}

	.set-search-bar-image-mobile-responsive {
		position: relative;
		top: 33px;
		right: 125px;
		z-index: 999;
		width:16px;
	}
	.set-panel-deafult-mobile-view-responsive-head {
		height: 40px;
		width: 93%;
		border-radius: 20px;
		display: flex;
		position: relative;
		top: 10px;
	}
	.set-toolbar-mobile-responsive-view {
		position: relative;
		width: 50px;
		left: 118px;
		top: -13px;
	}
}


@media (max-width:397px) and (min-width:320px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 70% !important;
		margin-top: 15px !important;
		left: 58px !important;
		top: 196px !important;
	}

	.tablinkHead {
		color: #555;
		float: left;
		background-color: transparent;
		text-align: -webkit-center;
		text-align: -moz-center;
		text-align: center;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 8px;
		height: 38px;
		width: 104px;
		padding: 0px !important;
	}
	.tablinkHead:hover{
		color: #fff;
		float: left;
		background-color: #57b029;
		text-align: -webkit-center;
		text-align: -moz-center;
		text-align: center;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 9px;
		height: 38px;
		width: 104px;
		padding: 0px !important;
	}
	.set-toolbar-mobile-responsive-view {
		position: relative;
		width: 51px;
		left: 119px;
		top: -14px;
	}
	.set-panel-deafult-mobile-view-responsive-head {
		height: 40px;
		width: 97%;
		border-radius: 20px;
		display: flex;
		position: relative;
		top: 10px;
	}
}


@media (max-width:385px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 73% !important;
		margin-top: 15px !important;
		left: 51px !important;
		top: 150px !important;
	}
	.openspaces {
		width: 80px !important;
	}
	.allSpaces {
		width: 21% !important;
	}
}


@media (max-width:365px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 75% !important;
		margin-top: 15px !important;
		left: 45px !important;
		top: 150px !important;
	}
}

@media (max-width:345px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 80% !important;
		margin-top: 15px !important;
		left: 35px !important;
		top: 187px !important;
	}
}

@media (max-width:330px)
{
	.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
		width: 84% !important;
		margin-top: 15px !important;
		left: 25px !important;
		top: 153px !important;
	}
}


/*mobile-web-responsive-design*/







