.preload>img{
    display: none;
}

@media (max-width:557px)
{

    .mobile-web-responsive-devices {display:none;}
    .preload {
        width:100px;
        height: 150px;
        position: relative;
        top: 50%;
        left: 35%;
        text-align: center;
        margin-bottom: 0px;
        background: #fff;
    }
    .preload >img{
        display: inline-block;
        text-align-last: center;
        width: 50px;
        align-items: center;
        margin-top:50px;
    }

    .set-co-work-around-us-container{
        background-color: #fff;
        margin-top:3px;
        margin-bottom: 3px;
    }

    .set-mobile-responsive-views-around-you{
        position: relative;
        z-index: 999;
        top: 18px;
        color:#555;
        font-weight: bold;
        right: 15px;
        font-size: 10px;
        float: right;
    }

    .set-panel-body-body-mobile-view-around-you{
        /* height: 210px; */
        /* width: 257px; */
        background-color: #fff;
        border-radius: 20px;
    }


    .set-fa-fa-fastars-mobile-web-view-around-you{
        z-index: 999;
        position: relative;
        float: right;
        top: 8px;
        color:gray;
        left:30px;
    }

    .set-showall-btnbtn{
        position: absolute;
        right: 25px;
        margin-top: -30px;
        background: #57b029;
        padding: 3px 3px 2px 5px;
        border-radius: 5px;
        font-size: 10px;
        color: #fff;
        font-weight: bold;
        height: 19px;
        width: 51px;
    }

    .set-section-container-two-image-around-you{
        width: 100%;
        height: 125px;
        position: relative;
        top:-14px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .set-panel-heading-around-you{
        padding: 0px;
        display: inline;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .set-container-section-2area-mobile-view-area-most-reviewed{
        background-color: #fff;
    }

    .set-validation-show-all{
        float: right;
        /* position: relative; */
        /* right: 18px; */
        margin-top: -34px;
        position: absolute;
        right: 20px;
    }

    .set-validation-show-all a{
        color: #555;
        font-size: 13px;
        line-height: 22px;
    }

    .slider-shfacilities{
        width: 21px !important;
        position: relative !important;
        top: -37px !important;
        margin-right: 5px !important;
    }

    .set-col-xs-6-body-mobile-view-slider-width{
        width:100%;
        padding-left:3px !important;
        padding-right: 3px !important;
    }

    .set-panel-body-body-mobile-view-slider{
        height: 220px;
        margin-bottom: 0px;
        width: 243px;
        background-color: #fff;
        box-shadow: 5px 4px 14px -3px #ccc !important;
        border-radius: 20px;
    }

    .set-panel-body-body-mobile-view-slider > .panel-heading{
        padding:0px;
        border-radius: 20px;
    }

    .set-slider-width{
        width:100% !important;
    }

    .mobile-web-responsive-devices{
        background-color: #e9e9e9 !important;
    }
    .tab-view-container-body{
        padding-right:0px;
        padding-left:0px;
        margin-bottom: 3px;
        background-color: #e9e9e9 !important;
    }
    .set-col-md-row-responsive-view-body{
        background-color: #fff !important;
        padding-left:10px;
    }
    .set-col-md-row-responsive-view-body > h2{
        /*background-color: #e9e9e9 !important;*/
        font-size: 12px !important;
        margin-bottom: 15px;
    }
    .set-col-xs-6-body-mobile-view{
        padding-left:0px;
        padding-right:10px;
    }
    .set-panel-body-body-mobile-view{
        height:225px;
        /*width:257px;*/
        background-color: #fff;
        box-shadow: 5px 4px 14px -3px #ccc !important;
        border-radius: 20px;
    }

    .set-panel-body-body-mobile-view > .panel-heading{
        background-color: transparent;
        border-bottom: 0px;
        text-align: end;
        padding:0px;
    }

    .set-mobile-view-panel-head-body-image{
        width: 100%;
        height: 125px;
        object-fit: cover;
        position: relative;
        top:-14px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .activeStars{
        color: yellow !important;
    }

   .set-fa-fa-fastars-mobile-web-view{
       color: gray;
       z-index: 999;
       position: relative;
       float: right;
       left: 30px;
       top: 5px;
    }

   .set-mobile-responsive-price{
       z-index: 999;
       position: relative;
       top: -42px;
       left: 10px;
       display: flex;
       color: #555;
       font-weight: 500;
   }

   .set-time-mobile-responsive{
       position: relative;
       display: inline-block;
       top: -33px;
       right: 4px;
       font-size: 13px;
       color:#838484;
       font-weight: lighter;
   }

   .set-office-name-mobile-web-responsive{
       color:#2e404e;
       position: relative;
       font-size: 13px;
        font-weight: bold;
       top: -36px;
       right: 4px;
   }

   .set-title-mobile-web-responsive{
       display: inline-block;
       position: relative;
       top: -35px;
       right: 3px;
       font-size: 13px;
   }

   .set-title-mobile-web-responsive > img {
       position: relative;
       top:-1px;
       padding-right: 5px;
       width: 13px;
   }

   .set-mobile-responsive-views{
       position: relative;
       z-index: 999;
       top: 15px;
       color:#555;
       font-weight: bold;
       right: 15px;
       font-size: 10px;
       float: right;
   }

   .set-panel-panel-body-web-responsive{
       position: relative;
       top:-16px;
       padding-left: 12px;
   }

   .set-shfacilities-web-responsive-images{
       width: 21px;
       position: relative;
       top: -31px;
       margin-right: 6px;
   }

    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }

   .carousel-container-mobile-web-responsive{
       width:100%;
       background-color: #fff;
       padding:0px !important;
   }

   .set-col-md-row-responsive-view-body-crousel > h2{
       background-color: #fff !important;
       font-size: 12px !important;
       margin-bottom: 15px
   }

   .set-mobile-view-panel-head-body-image-most-reviewed{
       width: 100%;
       height: 125px;
       object-fit: cover;
       position: relative;
       top: 1px;
       border-top-right-radius: 20px;
       border-top-left-radius: 20px;
   }
   .set-panel-panel-body-web-responsive-most-reviewed{
       position: relative;
       height: 72px;
       top: 30px;
   }
   .set-mobile-responsive-views-most-reveiwed{
       position: relative;
       z-index: 999;
       top: -38px;
       color: #555;
       font-weight: bold;
       right: 15px;
       font-size: 10px;
       float: right;
   }
   .set-like-icon-most-reviewed-spaces{
       position: relative;
       top: -3.5px;
       left: 10px;
   }
   .set-fa-fa-fastars-mobile-web-view-most-reviewed{
       color: gray;
       z-index: 999;
       position: relative;
       float: left;
       top: -38px;
       left:-5px;
   }

   .set-panel-panel-body-web-responsive-container-two{
       padding:0px;
   }
   .set-location-in-the-country{
       position: relative;
       top: -60px;
       left: 10px;
       color:#fff;
       word-wrap: break-word;
       font-family: Montserrat, Helvetica, sans-serif !important;
   }
   .set-section-container-two-image{
       width: 100%;
       height: 238px;
       border-radius:18px;
   }
    .menu-opener i {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
        color: #fff;
    }

}

@media (max-width:516px) {
    .set-shfacilities-web-responsive-images{
        width: 20px;
        position: relative;
        top: -37px;
        margin-right: 4px;
    }

    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }

}

@media (max-width:474px)
{
    .set-shfacilities-web-responsive-images{
        width: 20px;
        position: relative;
        top: -37px;
        margin-right: 3px;
    }

    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }
}

@media (max-width:460px)
{
    .set-shfacilities-web-responsive-images{
        width: 18px;
        position: relative;
        top: -37px;
        margin-right: 2px;
    }

    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }
}

@media (max-width:442px)
{
    .set-shfacilities-web-responsive-images {
        width: 18px;
        position: relative;
        top: -37px;
        margin-right: 2px !important;
    }

    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }
}

@media (max-width:418px)
{
    .set-panel-body-body-mobile-view {
        height: 205px;
        margin-top:15px;
        /* width: 257px; */
        background-color: #fff;
        box-shadow: 5px 4px 14px -3px #ccc !important;
        border-radius: 20px;
    }

    .set-shfacilities-web-responsive-images {
        width: 18px;
        position: relative;
        top: -37px;
        margin-right: 1px !important;
    }

    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }
}

@media (max-width:414px)
{
    .set-section-container-two-image {
        width: 100%;
        height: 203px;
    }

    .set-panel-body-body-mobile-view-around-you{
        height: 205px;
        /* width: 257px; */
        background-color: #fff;
        border-radius: 20px;
    }
    .set-office-name-mobile-web-responsive-around-you{
        font-size:12px;
        position: relative;
        font-weight: bold;
        top: -16px;
    }

    .set-time-mobile-responsive-around-you{
        font-size:12px;
        top: -14px;
        position: relative;
    }

    .set-title-mobile-web-responsive-around-you >img{
        width:8px;
        margin-right: 5px;
    }

    .set-title-mobile-web-responsive-around-you{
        display: inline-block;
        font-size: 12px;
        position: relative;
        top: -18px;
    }

    .set-panel-body-body-mobile-view-slider {
        height: 207px;
        margin-bottom: 0px;
        width: 207px;
        background-color: #fff;
        box-shadow: 5px 4px 14px -3px #ccc !important;
        border-radius: 20px;
    }
    .set-fa-fa-fastars-mobile-web-view-most-reviewed {
        color: gray;
        z-index: 999;
        position: relative;
        float: left;
        top: -38px;
        left: -5px;
        font-size: 11px;
    }
    .set-office-name-mobile-web-responsive {
        font-size: 11px;
    }
    .set-office-name-mobile-web-responsive {
        color: #2e404e;
        position: relative;
        font-size: 13px;
        font-weight: bold;
        top: -37px;
        right: 4px;
    }
    .set-title-mobile-web-responsive {
        font-size: 11px;
    }
    .set-title-mobile-web-responsive {
        display: inline-block;
        position: relative;
        top: -40px;
        right: 3px;
        font-size: 13px;
    }
    .set-shfacilities-web-responsive-images {
        width: 15px;
        position: relative;
        top: -42px;
        left:-3px;
        margin-right: 4px !important;
    }

    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }

    .set-time-mobile-responsive{
        font-size:12px;
        top:-37px;
    }
    .set-office-name-mobile-web-responsive{
        font-size: 12px;
    }
    .set-title-mobile-web-responsive{
        font-size: 12px;
    }
    .set-title-mobile-web-responsive > img{
        width:13px;
    }
    .set-mobile-responsive-price{
        font-size: 12px;
    }
}

@media (max-width:404px)
{
    .set-shfacilities-web-responsive-images {
        width: 15px;
        position: relative;
        top: -37px;
        margin-right: 2px !important;
    }

    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }
}


@media (max-width:400px)
{
    .set-col-md-row-responsive-view-body-crousel > h2{
        margin-top:40px;
    }

    .set-panel-body-body-mobile-view {
        /* width: 257px; */
        background-color: #fff;
        box-shadow: 5px 4px 14px -3px #ccc !important;
        border-radius: 20px;
    }

    .set-time-mobile-responsive {
        font-size: 10px;
    }
    .set-office-name-mobile-web-responsive {
        font-size: 10px;
        position: relative;
        top: -39px;
    }
    .set-title-mobile-web-responsive {
        font-size: 10px;
        position: relative;
        top: -42px;
    }
    .set-mobile-view-panel-head-body-image {
        width: 100%;
        height: 109px;
        object-fit: cover;
        position: relative;
        top: -20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}

@media (max-width:378px)
{
    .set-office-name-mobile-web-responsive-around-you {
        font-size: 9px;
        position: relative;
        top: -20px;
        font-weight: bold;
    }

    .set-title-mobile-web-responsive-around-you {
        display: inline-block;
        font-size: 10px;
        position: relative;
        top: -21px;
    }

    .set-time-mobile-responsive-around-you {
        font-size: 10px;
        top: -14px;
        position: relative;
    }

    .set-shfacilities-web-responsive-images {
        width: 15px;
        position: relative;
        top: -37px;
        margin-right: 1px !important;
    }
    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }
    .set-office-name-mobile-web-responsive {
        font-size: 10px;
        position: relative;
        top: -38px;
        display: block;
    }

    .set-title-mobile-web-responsive {
        font-size: 10px;
        position: relative;
        top: -41px;
    }

    .most-rev {
        top: -42px !important;
    }
}

@media (max-width:375px)
{
    .set-shfacilities-web-responsive-images {
        width: 15px;
        position: relative;
        top: -42px;
        margin-right: 0px !important;
    }
    /*.set-fa-fa-fastars-mobile-web-view {*/
        /*color: #e9e9e9;*/
        /*z-index: 9999999999;*/
        /*position: relative;*/
        /*right: 10px;*/
        /*font-size: 10px;*/
    /*}*/
    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }
}



@media (max-width:360px)
{
    .set-shfacilities-web-responsive-images {
        width: 15px;
        position: relative;
        top: -37px;
        margin-right: 0px !important;
    }
    /*.set-fa-fa-fastars-mobile-web-view {*/
        /*color: #e9e9e9;*/
        /*z-index: 9999999999;*/
        /*position: relative;*/
        /*right: 10px;*/
        /*font-size: 10px;*/
    /*}*/
    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }
}

@media (max-width:348px)
{
    .set-title-mobile-web-responsive {
        font-size: 9px;
        position: relative;
        top: -39px;
    }

    .set-shfacilities-web-responsive-images {
        width: 14px;
        position: relative;
        top: -37px;
        margin-right: 1px !important;
    }

    .set-icons {
        width: 15px;
        height: 12px;
        margin-right: 6px !important;
    }

    .set-office-name-mobile-web-responsive {
        font-size: 9px;
        position: relative;
        top: -34px;
        display: block;
    }
}
