.section-mobile-view-office-details{
    display: none;
}
.preload>img{
    display: none;
}
@media (max-width:557px) {

    .section-mobile-view-office-details {display:none;}
    .office-details-panel-default {display:none;}
    .preload {
        width:100%;
        height: 150px;
        position: relative;
        top: 50%;
        text-align: center;
        margin-bottom: 0px;
        background: #fff;
    }
    .preload >img{
        display: inline-block;
        text-align: -webkit-center;
        width: 50px;
        align-items: center;
        margin-top:50px;
    }

    .set-main-image-shared-office {
        height: 260px;
        width: 100%;
        object-fit: cover;
        padding: 0px !important;
    }

    .set-fa-fa-fastars-mobile-web-view{
        color:gray !important;
    }

    .activeStars{
        color:yellow !important;
    }

    .swiper-container {
        width: 100%;
        height: 250px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


    .section-mobile-view-office-details{
        display: block;
    }

    #closemodal{
        position: absolute;
        right: 10px;
    }

    .panel-body-mobile-view-2{
        padding-left: 6px;
        padding-top: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .set-mobile-view-panel-head-body-image-2{
        width: 100%;
        height: 100px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
    }

    .set-office-details-mobile-view-panel-2{
        height: 195px;
        width: 210px;
        margin:0px 10px;
        border-radius: 20px;
    }

    .set-office-details-per-month-mobile-view-panel-2{
        font-weight: 600;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }

    .set-office-details-para-mobile-view-panel-2{
        margin-bottom: 0px;
        font-weight: 600;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }

    .set-office-details-location-mobile-view-panel-2{

    }

    .set-office-details-location-mobile-view-panel-2 > img{
        padding-right: 5px;
    }

    .set-sharedofficesss{

    }

    .panel-heading-mobile-view-2{
        padding:0px;
    }

    .set-li-slider {
        width: max-content;
        /* float: left !important; */
        display: flex;
    }

    .set-ul-custom-slider{
        overflow: scroll;
        padding-left:0px;
        background-color: #f6f7fa;
        height: 214px;
        list-style: none;
    }

    .set-similar-spaces-mobile-view{
        padding: 1px 10px 0px 10px;
        background-color: #f6f7fa;
    }

    .set-similar-spaces-mobile-view > h2{
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size: 17px;
        text-transform: capitalize;
    }

    .set-span-location-office-details{
        padding-left: 6px;
        word-wrap: break-word;
        width: 225px;
        font-size: 15px;
        font-weight: 500;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }

    .set-office-description-office-details{
        height:100px;
        overflow: scroll;
        text-align: justify;
    }

    .set-email-cowork{
        padding-left:5px;
        word-wrap: break-word;
    }

    .open-bloxk{
        text-align: right;
    }

    .set-open-now-block{
        background-color: #57b029;
        padding: 8px;
        font-family: Montserrat, Helvetica, sans-serif !important;
        border-radius: 22px;
        color:#fff;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .set-open-now-time{
        font-size: 11px;
        margin-top: 10px;
        font-weight: 501;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }

    .set-telephone-number{
        padding-left:5px;
    }

    .set-telephone-block{
        margin-top:20px;
    }

    .set-envolope-block{
        margin-top:5px;
        margin-bottom: 12px;
    }

    .office-details-div{
        display: flex;
    }

    .office-details-location-image{
        height: 100%;
    }

    .office-details-panel-default{
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        background-color: #fff !important;
        border:1px solid lightgray;
        margin-bottom: 0px;
    }

    .office-details-panel-heading{
        border:1px solid lightgray;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom: 0px !important;
        background-color: #fff !important;
    }

    .set-facilitites-office-details-mobile-view{
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size: 17px;
        text-transform: uppercase;
    }

    .set-border-right-mobile-view{
        border-right: 1px solid gray;
        height: 26px;
    }

    .set-mobile-view-office-details-facilities > h6{
        font-size: 12px;
        font-weight: bold;
        margin-top:0px;
        margin-bottom: 0px;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }

    .set-mobile-view-office-details-facilities > h5{
        font-size: 12px;
        font-weight: 505;
        margin-top: 0px;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }

    .set-office-detail-office_name{
        font-size: 20px;
        width: 263px;
        word-wrap: break-word;
        font-family: Montserrat, Helvetica, sans-serif;
    }

    .office-details-hr{
        width:95%;
        border: 1px solid lightgray;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .office-details-panel-body{
        height: auto;
    }

    .image-background-mobile-view-container{
        display: none;
    }

    .set-office-details-mobile-view-col-xs-6{
        padding-left:0px;
    }

    .setFacilitieRowsUFF-mobile-view-office-details{
        margin-right: 0px;
        max-height: fit-content;
        overflow: scroll;
    }

    .set-book-now-office-details-mobile-view{
        background-color: #57b029;
        padding: 9px;
        text-transform: uppercase;
        font-family: Montserrat, Helvetica, sans-serif !important;
        color: #fff;
        border-radius: 20px;
        font-weight: 500;
    }

    .set-chat-message-image-mobile-view{
        width: 50px;
        position: relative;
        left:15px;
    }

    .set-book-now-office-details-mobile-view > img{
        width:20px;
        margin-right:5px;
    }

    .set-book-now-mobile-view{
        text-align: center;
        position: relative;
        top:0px;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .facilitie-bellow h5 {
        font-size: 12px;
        line-height: 25px;
        color: #58af29;
        font-family: "Montserrat";
        font-weight: 400;
        width: 100%;
        display: flex;
    }

    .set-main-image-shared-office-mobile-responsive{
        height: 240px;
    }

    .setFacilitie-mobile-view-office-details{
        margin-bottom: -10px;
    }

    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
        display: none;
    }

    .setMainContainer {
        display: none;
    }

    .set-col-md-6-pull-left-mobile-view-2
    {
        padding-left:0px;
        word-wrap: break-word;
    }

    .set-col-md-6-pull-right-mobile-view-2
    {
        padding-right:0px;
        word-wrap: break-word;
    }

}


@media (max-width:526px)
{
    .set-scrolller-office-detail-mobile-view-12{
        overflow: scroll;
    }

    .scroller-view-mobile {
        display: flex;
        width: 113%;
    }
}


@media (max-width:508px)
{

    .set-col-md-6-pull-left-mobile-view-2
    {
        padding-left:0px;
        word-wrap: break-word;
        width:35%;
    }


    .set-col-md-6-pull-right-mobile-view-2
    {
        padding-right:0px;
        word-wrap: break-word;
    }

    .set-office-detail-office_name {
        font-size: 17px;
        width: 263px;
        word-wrap: break-word;
        font-family: Montserrat, Helvetica, sans-serif;
    }

    .office-details-location-image {
        height: 100%;
        width: 10px;
    }

    .set-span-location-office-details {
        padding-left: 6px;
        word-wrap: break-word;
        width: 169px;
        font-size: 11px;
        font-weight: 500;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }
}

@media (max-width:464px)
{
    .set-office-detail-office_name {
        font-size: 17px;
        width: 220px;
        word-wrap: break-word;
        font-family: Montserrat, Helvetica, sans-serif;
    }

    .set-scrolller-office-detail-mobile-view-12{
        overflow: scroll;
    }

    .scroller-view-mobile {
        display: flex;
        width: 120%;
    }
}

@media (max-width:433px)
{
    .set-scrolller-office-detail-mobile-view-12{
        overflow: scroll;
    }

    .scroller-view-mobile {
        display: flex;
        width: 130%;
    }
}


@media (max-width:415px)
{
    .set-book-now-office-details-mobile-view {
        background-color: #57b029;
        padding: 9px;
        text-transform: uppercase;
        font-family: Montserrat, Helvetica, sans-serif !important;
        color: #fff;
        border-radius: 20px;
        font-weight: 500;
        font-size: 12px;
    }

    .set-office-details-para-mobile-view-panel-2 {
        margin-bottom: 0px;
        font-weight: 600;
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size: 13px;
    }

    .set-office-details-location-mobile-view-panel-2 {
        font-size: 13px;
    }

    .set-office-details-per-month-mobile-view-panel-2 {
        font-weight: 600;
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size: 13px;
    }

    .set-chat-message-image-mobile-view {
        width: 48px;
        position: relative;
        left: 15px;
    }

    .set-office-detail-office_name {
        font-size: 17px;
        width: 152px;
        word-wrap: break-word;
        font-family: Montserrat, Helvetica, sans-serif;
    }
}


@media (max-width:405px)
{
    .set-scrolller-office-detail-mobile-view-12{
        overflow: scroll;
    }

    .scroller-view-mobile {
        display: flex;
        width: 140%;
    }
}


@media (max-width:379px)
{
    .set-office-detail-office_name {
        font-size: 17px;
        width: 115px;
        word-wrap: break-word;
        font-family: Montserrat, Helvetica, sans-serif;
    }

    .set-chat-message-image-mobile-view {
        width: 45px;
        position: relative;
        left: 15px;
    }

    .set-book-now-office-details-mobile-view {
        background-color: #57b029;
        padding: 9px;
        text-transform: uppercase;
        font-family: Montserrat, Helvetica, sans-serif !important;
        color: #fff;
        border-radius: 20px;
        font-weight: 500;
        font-size: 11px;
    }

    .set-col-md-6-pull-right-mobile-view-2 {
        padding-right: 0px;
        word-wrap: break-word;
        padding-left: 0px;
    }

    .set-scrolller-office-detail-mobile-view-12{
        overflow: scroll;
    }

    .scroller-view-mobile {
        display: flex;
        width: 150%;
    }
}



@media (max-width: 414px)
{
    .set-telephone-block >img {
        width:17px;
    }

    .set-office-detail-office_name {
        font-size: 16px;
        width: 115px;
        word-wrap: break-word;
        font-family: Montserrat, Helvetica, sans-serif;
    }

    .set-telephone-number {
        padding-left: 5px;
        font-size: 12px;
    }
    .set-email-cowork {
        padding-left: 5px;
        word-wrap: break-word;
        font-size: 12px;
    }

    .set-email-cowork > img {
        width: 17px;
    }
    .set-open-now-block {
        background-color: #57b029;
        padding: 8px;
        font-family: Montserrat, Helvetica, sans-serif !important;
        border-radius: 22px;
        color: #fff;
        font-size: 9px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .set-office-description-office-details {
        height: 100px;
        overflow: scroll;
        text-align: justify;
        font-size: 12px;
    }
}
