.checkradios-green {
    font-size:12px;
    color:rgba(33,164,151,1);
    border:2px solid rgba(117,117,117,1);
    -webkitbox-shadow:inset 0px 0.1em 0.1em rgba(33,164,151,0.3);
    -moz-box-shadow:inset 0px 0.1em 0.1em rgba(33,164,151,0.3);
    box-shadow:inset 0px 0.1em 0.1em rgba(33,164,151,0.3);
}
.w100 {
    width: 100%;
}
