.form-field .ratting{
    margin-bottom: 10px;
}

.form-field .ratting .fa-star{
    font-size: 15px;
    color: #61B02B;
    margin-left: 5px;
    margin-right: 5px;
}

.form-field .ratting .star-o{
    font-size: 15px;
    color: #BEBEBE;
}

.form-field .ratting span{
    color: #7f7f7f;

}

.form-field .ratting .last-star-fill {
    font-size: 20px;
}

.form-field .total{
    color: #6f6f6f;
    font-weight: bold;
    margin: 70px 0px 30px 0px;
    padding-left: 30px;
}

.form-field .total h1 {
    color: #61B02B;
    font-size: 82px;
    margin: 0px;
    line-height: 82px;
    font-family: 'Montserrat', sans-serif !important;
}

.form-field textarea{
    width: 100%;
    margin-bottom: 15px;
}

.form-field .see-ex{
    color: #61B02B;
}

.recommendation{
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.label-custom label {
    font-weight: normal;
    text-transform: none;
    padding: 4px 15px 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.label-custom .label-color {
    color: #fff;
    background: #58AF2A;
}

.label-custom .label-default {
    color: #6f6f6f;
    background: #F7F7F7;
}
