.margin-r-10{
    margin-right: 10px;
}
.btn-customs-all:hover,
.btn-customs-all:focus,
.btn-customs-all{
    text-transform: capitalize;
    width: 115px;
    border: 2px solid #58AF2A !important;
    height: 40px;
    border-radius: 4px;
    font-weight: normal;
}
.btn-green-custom{
    background: #58AF2A;
    color: #fff;
}
.btn-default-custom{
    background: #fff;
    color: #58AF2A;
}
div.checker.hover span.checked, div.checker.focus span.checked,
div.checker span.checked{
    background-position: 1px 3px;
}
div.checker span{
    background: #fff no-repeat;
    border: 2px solid #C7C7C7;
    background-position: 1px 3px;
}
.checked div.checker span{
    background: url('/images/icons/checkmark.png') #fff no-repeat;
    border: 2px solid #58B028;
    background-position: 1px 3px;
}
.header-action div.checker span{
    background-position: 1px 3px;
}
.message-status-menu{
    padding-top: 10px;
}

.message-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}

.message-status-menu li.active {
    color: #36c5d3;
    border-bottom: 5px solid #36c5d3;
}

.inbox .pagination-control, .inbox th.text-right {
    text-align: right;
}

.btn {
    border-width: 1px !important;
}

.panel {
    margin-bottom: 10px;
}

.dateTime{
    color: #000000;
}

.message-title{
    padding-left: 20px;
}

.gray-box {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portlet.box > .portlet-title {
    color: #000;
}

.complete-time, .order-id {
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.order-status-menu {
    padding-top: 10px;
}

.column {
    padding-top: 10px;
    padding-left: 35px;
}

a.view{
    text-decoration: underline;
}





.order-status-menu{
    padding-top: 10px;
}
.order-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}
.order-status-menu li.active {
    border-bottom: 5px solid #008fd5;
}
.top-tabs-menu{
    padding: 0px;
    border-bottom: 1px solid #e7ecf1;
}
.right-top-main{
    margin-left: 20px;
}
.order-status-menu{
    padding-top: 0px;
}
.order-status-menu ul{
    margin-bottom: 19px !important;
}
.order-status-menu ul li {
    padding: 16px 20px !important;
}
.order-status-menu ul li a{
    color: #5a5a5a;
    padding: 20px 10px !important;
    text-decoration: none;
}
.order-status-menu ul li.active a{
    color: #58AF2A;
    text-decoration: none;
}
.order-status-menu li.active{
    border-bottom: 4px solid #58AF2A;
}

.header-action{
    margin-top: 15px;
}
.header-action .checkbox-all{
    width: 50px;
    text-align: center;
    line-height: 35px;
    float: left;
}
.header-action .back{
    color: #808080;
    text-transform: uppercase;
}
.header-action .back i{
    margin-right: 10px;
    color: #58AF2A;
}
.header-action .search-selectbox{
    width: 160px;
}
.portlet.box{
    margin-top: 15px;
}
.inbox-main-section .portlet-body{
    padding: 25px 0px !important;
}
.inbox-main-section .inbox-mail{
    margin: 0px;
    background: #fff;
}
.inbox-main-section .inbox-mail.striped{
    background: #EBEBEB;
}
.inbox-main-section .inbox-mail .checkbox-sub{
    padding: 20px 15px;

}
.inbox-main-section .inbox-mail .inbox-mail-detail{
    padding: 10px 15px;
    border-bottom: 1px solid #E6E6E6;
}
.inbox-main-section .inbox-mail-detail .user-img{
    padding: 0px;
    border-right: 1px solid #58AF2A;
}
.inbox-main-section .inbox-mail-detail .user-imgs{
    height: 45px;
    width: 45px;
    position: relative;
}
.inbox-main-section .inbox-mail-detail .user-imgs img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.inbox-main-section .inbox-mail-detail .user-imgs i{
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    font-size: 10px;
    bottom: -3px;
    right: 2px;
    line-height: 8px;
}
.inbox-main-section .inbox-mail-detail .user-imgs i.online{
    color: #57AF25;
}
.inbox-main-section .inbox-mail-detail .user-imgs i.offline{
    color: #737373;
}
.inbox-main-section .inbox-mail-detail .user-name h5{
    margin: 5px 0px 0px 0px;
    color: #808080;
    font-size: 16px;
}
.inbox-main-section .inbox-mail-detail .user-name h6{
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    color: #58AF2A;
}
.inbox-main-section .inbox-mail-detail .user-message{
    padding: 0px;
}
.inbox-main-section .inbox-mail-detail .user-message p{
    margin: 0px;
    padding: 10px 0px;
    color: #808080;
}
.inbox-main-section .inbox-mail-detail .user-message p span.green-color{
    color: #58AF2A;
}
.inbox-main-section .inbox-mail-detail .time{
    font-size: 12px;
    color: #808080;
    padding: 10px 15px;
    text-align: right;
}


/*Chat Details CSS*/
.chat-details-section .portlet.box > .portlet-body{
    padding: 0px;
}
.chat-details-section .header-section{
    margin: 0px 15px;
    padding: 15px 0px;
    border-bottom: 1px solid #ECECEC;
}
.chat-details-section .header-section h5{
    margin: 5px 0px 0px 0px;
    color: #808080;
    font-size: 16px;
}
.chat-details-section .header-section h6{
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    color: #58AF2A;
}
.chat-details-section .body-section{
    margin: 0px 15px 30px 15px;
}
.chat-details-section .message-section{
    margin-top: 30px;
}
.chat-details-section .message-section .user-img img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.chat-details-section .message-section .user-detail h5{
    color: #58AF2A;
    margin: 3px 0px 2px 0px;
}
.chat-details-section .message-section .user-detail span{
    color: #C3C3C3;
    font-size: 12px;
    font-style: italic;
}
.chat-details-section .message-section .user-detail p{
    margin: 0px;
    color: #808080;
    margin-top: 10px;
}

.upload-btn-custom{
    text-align: left;
    width: 50%;
    float: left;
    font-size: 22px;
}
.upload-btn-custom a{
    color: #58AF2A;
}
.chat-form{
    background: #FCFCFC;
    border-top: 1px solid #ECECEC;
}
.chat-form-main{
    margin: 0px;
}
.chat-form-l{
    padding: 0px;
}
.chat-form-r{
    padding: 0px;
}
.chat-form .input-cont {
    margin-right: 0px !important;
    position: relative;
}
.chat-form .submit-btn-custom .btn-submit{
    position: absolute;
    right: 1px;
    top: 2px;
    padding: 10px 15px 7px 15px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px;
    background: transparent;
}
.chat-form .submit-btn-custom .btn-submit i{
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    color: #56B128;
    font-size: 20px;
}
#message{
    height: 40px;
}

.message-section-sub{
    background: #F8F8F8;
    border-radius: 5px;
    margin:15px 0px 0px 0px;
    padding: 15px 0px;
}
.message-section-subs p{
    color: #666 !important;
    margin:5px 0px 0px 0px !important;
}
.message-section-subs p span{
    font-style: normal !important;
    color: #808080 !important;
    font-size: 14px !important;
}

.search-selectbox::after {
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 24px;
    color: #57B029;
    font-family: FontAwesome;
}

.search-selectbox {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    position: relative;
}
.search-selectbox:after {
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 24px;
    color: #57B029;
    font-family: FontAwesome;
}

.search-selectbox select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: medium none;
    box-shadow: none;
    padding: 5px;
    width: 100%;
}
.btn-search-custom{
    background-color: #D6911A;
}
