@media (max-width: 480px) {
    .page-sidebar.navbar-collapse.in{
    }
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.open>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li:hover>a{
        background: #fff;
    }

    .page-sidebar, .page-sidebar.in{
        margin:0px !important;
    }
    .page-sidebar, .page-sidebar.navbar-collapse.in{
        margin:0px !important;
    }
    .page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
        color:#fff;
    }
    .page-header.navbar {
        background-color: #28303b !important;
    }
    .page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i{
        color:#fff;
    }
    .portlet.light>.portlet-title>.caption>.caption-subject {
        font-weight: 500 !important;
        text-transform: capitalize !important;
    }
    .portlet.light.bordered>.portlet-title{
    }
    .portlet.light {
        padding: 12px 0px 15px;
        background-color: #fff;
    }
    .portlet.light>.portlet-title>.caption{
        padding-left: 20px;
    }
    .portlet.light .portlet-body{
        padding-left: 20px;
    }
    .page-content-wrapper .page-content{
        display: flex;
        justify-content: center;
        height: -webkit-fill-available;
    }
    .page-content-white .page-content .page-bar{
        display: none;
    }
    .portlet.light.bordered{
        border-radius:17px;
        width: 90%;
        height: fit-content;
    }
    .page-boxed .page-footer, .page-footer .page-footer-inner{
        justify-content: left;
        display: none !important;
    }
    .dataTables_filter label{
        width: 100%;
    }
    .table-responsive{
        border: 0px !important;
    }
    .dataTables_filter{
        float: unset;
    }
    .uordered-list{
        display: flex;
        justify-content: center;
    }
    .someStyle{
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    .btn-circle {
        color: #fff;
        background-color: #25ce0f;
        border-color: #25ce0f;
        border-top-right-radius: 7px !important;
        border-bottom-right-radius: 7px !important;
    }
    .actions{
        width: 100%;
        justify-content: center;
    }
    .formStyle {
        display: flex;
        width: 90%;
    }
}
