.custombarssetiing{
    display:none !important;
}
.mobileFooter{
    display: none !important;
}
@media (max-width:991px) {
    body {
        background-color: #fff !important;
    }
    .body-alert-container{
        position: fixed !important;
        width: 100% !important;
        top: 46px !important;
    }
    #profile{
        width: 100%;
    }
    .mobileFooter{
        background: #fff;
        display: flex;
        width: 100%;
        padding: 0px !important;
    }

    .customFontSizeIcon{
        font-size: 15px;
    }

    .customfontSize{
        font-size: 10px;
        color:#848484
    }

    .customUl{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: baseline;
        padding: 0px !important;
        margin-bottom: 0px !important;
    }

    .mobileFooter{
        display: block !important;
    }

    .page-boxed .page-footer, .page-footer .page-footer-inner{
        justify-content: left;
        display: none !important;
    }

    html{
        background: #fff !important;
    }

    .page-footer{
        background:#fff;
    }
    .activeCustom .customFontSizeIcon{
        color:#25ce0f;
    }
    .activeCustom .customfontSize{
        color:#25ce0f;
    }
    .customUl li{
        list-style: none;
        font-size: 12px;
        padding: 0px 15px 7px 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        line-height: 3.5;
    }

    .page-header-inner {

    }
    .page-header.navbar .top-menu{
        display: none;
    }
    .page-header.navbar .page-logo {
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    .page-header.navbar .menu-toggler.responsive-toggler {
        position: absolute;
        left: 10px;
    }

    .custombarssetiing{
        display: block !important;
        position: absolute;
        left: 10px;
    }

    .page-header.navbar .menu-toggler.responsive-toggler img{
        width:20px;
    }
    .showMobileWeb {
        display: block !important;
        float: right;
        position: absolute;
        right: 50px;
        top: 12px;
    }
    .page-container-bg-solid .page-bar .page-breadcrumb, .page-content-white .page-bar .page-breadcrumb{
        display: none;
    }
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.open>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li:hover>a {
        background: #fff;
    }
    .page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
        color: #fff;
    }
    .page-sidebar, .page-sidebar.in{
        margin:0px !important;
    }
    .page-sidebar, .page-sidebar.navbar-collapse.in{
        margin:0px !important;
    }
    .page-content-wrapper .page-content .page-title{
        display: none;
    }
    .portlet.light.bordered{
        border-radius:17px;
        width: 100%;
        height: fit-content;
    }
    .page-content-white .page-content .page-bar{
        display: none;
    }
    .customCaptionCss {
        float: right;
        display: flex;
        margin-top: 21px;
    }
    #workingSheet{
        width:90%;
    }
    .monthly-price-box {
        margin-top: 14px;
        margin-bottom: 19px;
        border-radius: 10px;
        height: 55px;
    }
    .worksheet .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .btn {
        padding: 10px 0px;
        box-shadow: 1px 2px 6px #ccc !important;
        padding-right: 17px;
        border-radius: 10px;
        height: 55px;
    }
    .box-dropdown .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    }
    input.btn-green {
        width: 100%;
        border-radius: 10px;
    }
    .caretDownIcon {
        display: block !important;
        position: absolute;
        right: 20px;
        top: 13px;
        width: 16px;
    }
    .bg-heading h2 {
         background: transparent;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        color: #747474;
        text-align: center;
    }
    .userControlePopUp ul li {
        list-style: none;
        margin-bottom: 10px;
    }
    .userControlePopUp ul li a{
        color:#555;
    }
    .userControlePopUp ul{
        padding-left: 10px;
    }
    .userControlePopUp{
        width: 135px;
        position: absolute;
        top: 45px;
        right: 10px;
        padding: 10px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #C0C0C0;
    }
    .box-one {
        background-color: #fff;
        padding: 13px;
        border-radius: 10px;
        text-align: center;
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: 16px;
        color: #25ce0f;
        box-shadow: 0px 2px 9px 1px #ebecec;
        border: 1px solid #ebecec;
    }
    .r-0 .custom-padding {
        padding-right: 15px;
        margin-bottom: 16px;
        border-radius: 10px;
        width: 65%;
    }
    .box-two {
        background-color: #fff;
        padding: 13px;
        border-radius: 10px;
        text-align: center;
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: 16px;
        color: #25ce0f;
        box-shadow: 0px 2px 9px 1px #ebecec;
        border: 1px solid #ebecec;
    }
    .r-0 .custom-width {
        width: 50%;
    }
    .customDisplaySet{
        display: flex;
    }
    .custom-width-col-sec {
        float: right;
        text-align: center;
        width: 40%;
        padding-right: 0px;
    }
    .custom-width-col-firs {
        display: inline-block;
        width: 50%;
    }
    .custom-width-col-firs .filter-box {
        text-align: center;
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: 16px;
        color: #25ce0f;
        padding: 8px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    .statements-box .fa-bars {
        font-size: 22px;
        padding-right: 15px;
    }
    .filter-box .fa-filter {
        font-size: 22px;
        padding-right: 15px;
    }
    .statements-box {
        text-align: center;
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: 16px;
        color: #25ce0f;
        padding: 8px;
        font-weight: 600;
        padding-left: 0px;
        display: flex;
        align-items: center;
    }
    .simpleOne{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .customStyleSet2{
        text-align:-webkit-center;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .conatiner-tabs .nav-tabs {
        width: 180%;
    }
    .setCustomClassTimeSheet{
    }
    .customsetClass{
        text-align: center;
    }
    .bar1{
        width: 25px;
        background: #fff;
        border-radius: 10px;
        height: 3px;
    }
    .bar2{
        margin-top: 3px;
        width: 20px;
        background: #fff;
        border-radius: 10px;
        height: 3px;
    }
    .bar3{
        margin-top: 3px;
        width: 15px;
        background: #fff;
        border-radius: 10px;
        height: 3px;
    }
    .dropbtn {
        background-color: #fff;
        color: #25ce0f;
        font-size: 10px;
        width: 100px;
        font-weight: 600;
        height: 20px;
        border: 0.5px solid rgb(169, 169, 169);
        display: none;
    }
    .innerQRleft {
        display: inline-block;
        float: left;
        text-align: center;
        width: 25%;
        height: 100%;
         border-right: 0px solid #b7b7b7;
    }
    .innerQRright {
        display: inline-block;
        float: right;
        width: 75%;
        height: 100%;
        padding: 17px;
    }
    .QRimg {
        display: block;
        margin: auto;
        margin-top: 20%;
        margin-left: 9%;
        width: 83%;
        height: 100px;
        object-fit: contain;
    }
    .QRcontainer {
        width: 100%;
        border: 0px solid #e5e5e5;
        height: 200px;
        box-shadow: 0px 0px #f0f0f0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .custombarssetiing ul{
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 14px;
        height:40px;
    }
    .custombarssetiing ul li{
        list-style: none;
    }
}

@media (max-width: 750px) {
    .customDropBox {
        border: 1px solid #efefef;
        padding: 10px;
        border-radius: 6px;
        padding-bottom: 0px;
        position: absolute;
        width: 96%;
        background: #fff;
        z-index: 9999;
    }
}

@media (max-width: 426px) {
    .customDropBox {
        border: 1px solid #efefef;
        padding: 10px;
        border-radius: 6px;
        padding-bottom: 0px;
        position: absolute;
        width: 93%;
        background: #fff;
        z-index: 9999;
    }
    .conatiner-tabs .nav-tabs {
        width: 230%;
    }
    .QRimg {
        display: block;
        margin: auto;
        margin-top: 20%;
        margin-left: 9%;
        width: 83%;
        height: 75px;
        object-fit: contain;
    }
    .p2 {
        display: flex;
        color: #25ce0f;
        font-weight: 700;
        font-size: 9pt;
        height: 30px;
        width: 135px;
    }
}

@media (max-width:360px) {
    .innerQRright {
        display: inline-block;
        float: right;
        width: 76%;
        height: 100%;
        padding: 6px;
    }
    .QRimg {
        display: block;
        margin: auto;
        margin-top: 16%;
        margin-left: 9%;
        width: 83%;
        height: 72px;
    }
    .innerQRleft {
        display: inline-block;
        float: left;
        text-align: center;
        width: 24%;
        height: 100%;
        border-right: 0px solid #b7b7b7;
    }
    .portlet>.portlet-body p {
        margin-top: 0;
        font-size: 11px;
    }
}

@media (max-width:330px) {
    .QRcontainer {
        width: 100%;
        border: 0px solid #e5e5e5;
        height: 200px;
        box-shadow: 0px 0px #f0f0f0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .innerQRright {
        display: inline-block;
        float: right;
        width: 100%;
        height: 100%;
        padding: 17px;
    }
    .innerQRleft {
        display: inline-block;
        float: left;
        text-align: center;
        width: 35%;
        height: 100%;
        border-right: 0px solid #b7b7b7;
    }
    .QRimg {
        display: block;
        margin: auto;
        margin-top: 20%;
        margin-left: 9%;
        width: 100%;
        height: 100px;
    }
}
