.box-dropdown .bootstrap-select .caret:before {
    content: "\f0d7";
}
.box-dropdown .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
    color: #25ce0f;
    font-weight: bold;
}
.box-dropdown .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.worksheet .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .btn {
    border-radius: 5px;
    padding: 10px 0px;
    box-shadow: 1px 2px 6px #ccc !important;
    padding-right: 17px;
}
.monthly-price-box {
    position: relative;
    box-shadow: 1px 2px 6px #ccc !important;
    color: #25ce0f;
    font-weight: bold;
    padding: 9px 24px;
    border-radius: 5px;
}
.monthly-price-box span {
    display: inline-block;
    margin-right: 12px;
}
.monthly-price-box input.form-control {
    display: inline-block;
    width: 59px;
    height: 26px;
    padding: 6px 7px;
}
input.btn-green {
    background: #25ce0f;
    color: #fff;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 2px 6px #ccc;
    padding: 13px 25px;
    transition: all .4s ease-in-out 0s;
}
input.btn-green:hover {background: #747474;}
.table-report span.short-area {
    display: block;
    font-size: 9px;
}
.table-report th {
    text-align: center;
    vertical-align: top !important;
}
.table-report span.small {
    font-size: 10px;
    font-weight: normal;
}
.table-report th {
    background: #F5F6F7;
}
.table-report a.apply-now {
    display: block;
    color: #747474;
    font-weight: bold;
    border: 1px solid #25ce0f;
    margin-top: 16px;
    font-size: 12px;
    padding: 7px;
    border-radius: 5px;
    transition: all .4s ease-in-out 0s;
}
.table-report a.apply-now:hover { color: #fff; background: #25ce0f; text-decoration: none;}
.table-report, .custom-table {
    position: relative;
}
.table-report .minimum, .table-report .maximum {
    position: absolute;
    left: -90px;
    transform: rotate(-90deg);
    top: 57px;
    background: #25ce0f;
    color: #fff;
    height: 32px;
    font-weight: bold;
    text-align: center;
    width: 148px;
    padding-top: 4px;
}
.table-report .maximum {

    background: #747474;

}
.table-report {
    padding-left: 25px;
}
.custom-table {
    margin-bottom: 35px;
}
.bg-heading h2 {
    background: #f7f7f7;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #747474;
}
.modal .confirm-popup .modal-header {
    border: 0;
    text-align: center;
}
.modal .confirm-popup .modal-header h5 {
    font-weight: bold;
    color: #000;
    font-size: 25px;
}
.confirm-popup .modal-body {
    text-align: center;
    padding-top: 0;
    line-height: 1.8;
}
.confirm-popup .modal-footer {
    border-top: 0;
    text-align: center;
    padding: 0;
}

.confirm-popup .modal-footer button.btn {
    border-radius: 0px 0px;
    border: 0;
    float: left;
    width: 50%;
    font-weight: bold;
    font-size: 17px;
    padding: 11px 5px;
    margin-top: 10px;
}
.confirm-popup .modal-footer .btn+.btn {
    margin-left: 0;
}
.confirm-popup .modal-footer button.btn.btn-secondary {
    background: #7f7f7f;
    color: #fff;
    border-radius: 0px 0px 0px 7px;
}
.confirm-popup .modal-footer button.btn.btn-success {
    border-radius: 0px 0 10px 0px;
    background:#25ce0f;
}
.confirm-popup.modal-content{border-radius: 10px;}
.modal.in .modal-dialog.vertical-align-center{
    -webkit-transform: translate(0,50%);
    -ms-transform: translate(0,50%);
    -o-transform: translate(0,50%);
    transform: translate(0,50%);
}

@media (min-width: 768px) {
    .modal .modal-sm {
        width: 400px;
    }
}

@media (max-width: 1070px) {
    .monthly-price-box {
        text-align: center;
    }
    .monthly-price-box input.form-control {
        margin-top: 7px;
    }
}

@media (max-width: 768px) {
    .monthly-price-box {
        margin-top: 14px;
        margin-bottom: 19px;
    }
    input.btn-green {
        width: 100%;
    }
}
