.coWorkSpace-login-logo {
    text-align: center;
    padding-top: 35%;
    padding-right: 48%;
    position: relative;
}

.set-row-margin-show-content-page-reload {
    margin: 0px !important;
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
    padding: 20px;
    position: relative;
    display: none;
}

.set-sign-in-image-coWork:hover{
       color: #fff;
}

.set-fa-fapaperplane{
    position: relative;
    left:-12px;
}

.emailaddress-c{
    font-size: 10px;
    width: 181px;
    text-align: start;
    position: relative;
    display: inline-block;
}

.set-form-group-email-margin-bottom {
    margin-bottom: 20px;
}

.resetpassword-c{
    color: #010101;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}


@media (max-width: 2000px) and (min-width:1369px) {
    .set-sign-in-image-coWork {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        width: 100%;
        display: inline-block;
        position: relative;
        top: -35px;
        right: 0px;
    }
    .set-login-email-label-coWork {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 11px;
        color: #343333;
        position: relative;
        width: 95%;
        text-align: left;
    }

    .set-col-md-6-login-coworkSpace {
        width: 53%;
        display: unset;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
}


@media (max-width: 1216px) {

    .set-col-md-6-forgot-password-col-md-6{
        width:100%;
    }

    .coWorkSpace-login-logo {
        text-align: center;
        padding-top: 35%;
        padding-right: 35%;
        position: relative;
    }

    .set-col-md-6-login-coworkSpace {
        width: 100% ;
        display: unset;
        padding-left: 0px;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .set-sign-in-image-coWork {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        width: 100%;
        display: inline-block;
        position: relative;
        top: -37px;
        background: transparent;
    }
}

@media (max-width:1132px)
{

}


@media (max-width:991px)
{
    .set-sign-in-image-coWork {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        width: 100%;
        display: inline-block;
        position: relative;
        top: -37px;
        background: transparent;
    }
    .emailaddress-c {
        font-size: 10px;
        width: 100%;
        text-align: center;
        position: relative;
        display: inline-block;
    }
    .set-padding-col-md-6-2login-cowork-space {
        padding-left: 15px;
    }
    .set-col-md-6-forgot-password-col-md-6 {
        width: 100%;
    }
    .coWorkSpace-login-logo {
        text-align: center;
        padding-top: 17%;
        padding-right: 0%;
        position: relative;
        padding-left: 0%;
        width: 100% !important;
    }
}
