p, small, input{
    font-family: 'Montserrat', 'Raleway',sans-serif !important;
}


.multi-languages ul li {
    list-style: none;
    display: flex;
    margin-bottom: 3px;
}

.multi-languages{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 999;
    right: 65px;
    top: 10px;
}

.img1 span{
    font-size: 10px;
    color:#555 !important;
    padding-left: 8px;
    padding-top: 2px;
}

.img2 span{
    font-size: 10px;
    color:#555 !important;
    padding-left: 8px;
    padding-top: 2px;
}

.select-languages{
    position: absolute;
    top: 35px;
    right: 5%;
    background: #fff;
    padding:6px 12px 4px 12px;
    box-shadow:0px 1px 6px 1px #ededed;
}

.defaultImage img{
    width: 26px;
}

.img1{
    cursor: pointer;
}
.img2{
    cursor: pointer;
}

.img1 img{
    width:20px !important;
}
.img2 img{
    width:20px !important;
}

.main-second-header{
    display: none;
}

.set-row-margin-show-content-page-reload {
    margin: 0px !important;
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
    padding: 20px;
    position: relative;
    display: none;
}

.set-main-row-login-coWorkSpace{
    margin-top:-75px;
}

.settopHeds{
    display: none;
}

.main-header-banner-section{
    display: none;
}
.footer-btn-section-title{
    display: none;
}

.setColFooter{
    display: none;
}

.set-col-md-3-forgotPassword{
    padding:0px;
    width: 27%;
    text-align: end;
    display: flex;
    position: relative;
    left: 17px;
}

.set-fonts-rememberMe{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    float: inherit;
}

.set-fonts-forgotPassword{
    text-transform: uppercase;
    font-weight: bold;
    color:#000000;
    font-size: 12px;
    border-bottom: 2px solid lightgray;
    display: inline-block;
    float: right;
    position: relative;
    left: 0px;
    top:1px;
    cursor: pointer;
}

.set-padding-col-md-6-2login-cowork-space{
    padding-left:4%;
}

.set-col-md-3-remember {
    padding: 0px;
    width: 65%;
}

/* checkbox css*/
/* The container */
.set-container-checkbox-login-cowork {
    display: block;
    position: relative;
    padding-left: 30px;
    color:#000000 !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.set-container-checkbox-login-cowork input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark-login-coworkspace {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.set-container-checkbox-login-cowork:hover input ~ .checkmark-login-coworkspace {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.set-container-checkbox-login-cowork input:checked ~ .checkmark-login-coworkspace {
    background-color: #57b029;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-login-coworkspace:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.set-container-checkbox-login-cowork input:checked ~ .checkmark-login-coworkspace:after {
    display: block;
}

/* Style the checkmark/indicator */
.set-container-checkbox-login-cowork .checkmark-login-coworkspace:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* checkbox css*/

.set-col-md-6-paragraph-small-text{
    text-align: center;
    position: absolute;
    top: 60%;
    padding-right: 0px;
}

.set-small-text-image{
    word-wrap: break-word;
    width: 324px;
    display: inline-block;
    font-size: 13px;
}
.set-padding-login-col-md-6-2-left{
    padding-left:0px;
    background-image: url("/custom/css/frontend/coWork/image/loginCowoelSpace.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 697px;
}

.set-image-bubbles-login{
    position: relative;
    top: -185px;
    width: 100%;
    left: -64px;
}

.coWorkSpace-login-logo{
    text-align: center;
    padding-top: 12%;
    padding-right: 76.5%;
}

.set-col-md-6-login-coworkSpace{
}

.set-btn-btn-image-background-coworkLogin{
    object-fit: cover;
    width: 1100px;
}

.set-login-email-label-coWork{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 11px;
    color: #343333;
}

.set-width-form-group-sign-up{
    width: 295px;
    text-align: center;
}


.set-coWork-login-sign-up-if-no-account{
    font-family: Montserrat, Helvetica, sans-serif !important;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-weight: 501;
    color: #57b029;
    border-bottom: 2px solid #57b029;
    text-transform: capitalize;
}

.set-coWork-login-donthave-account{
    font-family: 'Myriad Pro', 'Raleway', sans-serif !important;
    font-size: 13px;
    width: 295px;
    display: inline-block;
    text-align: center;
}

.set-login-coWork-image{
    width: 295px;
    height: 42px;
}

.set-form-group-sign-in-coWork{
    text-align: -webkit-center;
    text-align: -moz-center;
}

.set-sign-in-image-coWork{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 295px;
    display: inline-block;
    position: relative;
    top: -37px;
    background: transparent;
}

.set-form-group-email-margin-bottom{
    margin-bottom: 10px;
}

.set-login-password-label-coWork{
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    color: #343333;
}

.set-form-login-coWorkspace{
    /*position: absolute;*/
    /*top: 38%;*/
    /*left: 8%;*/
    /*!* right: 0px; *!*/
    /*transform: translate(0%, 0%);*/
}

.set-login-email-input{
    border-radius: 0px;
    width:295px;
    height: 42px;
}

.set-login-password-input{
    border-radius: 0px;
    width:295px;
    height: 42px;
}

.set-logo-xenren-name{
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    color:#57b029;
}

.set-small-logo-xenren-name{
    font-size: 8px;
    position: relative;
    top: -16px;
    color: #57b029;
}

.set-image-with-coworker-login{
    position: relative;
    top: -114px;
    width: 100%;
}

.set-login-padding-right{
    padding-right: 0px;
    padding-left: 0px;
    z-index: 9;
    text-align: center;
}

.set-login-paragraph{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 15px;
}

.set-margin-botton-singin-CowOrkSpace{
    margin-bottom: 5px;
    cursor: pointer;
}

@media (max-width:2650px) and (min-width: 2400px)
{
   .coWorkSpace-login-logo {
       padding-right: 73%;
    } 
}

@media (max-width:2399px) and (min-width: 2000px)
{
   .coWorkSpace-login-logo {
       padding-right: 70%;
    } 
}

@media (max-width:2000px) and (min-width: 1990px)
{
   .coWorkSpace-login-logo {
       padding-right: 65%;
    } 
}

@media (max-width:2000px) and (min-width: 1860px)
{
    .set-padding-login-col-md-6-2-left {
        padding-left: 0px;
        background-image: url(/custom/css/frontend/coWork/image/loginCowoelSpace.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1049px;
    }
    .set-col-md-3-forgotPassword {
        padding: 0px;
        width: 27%;
        text-align: end;
        display: flex;
        position: absolute;
        left: 232px;
    }

    .coWorkSpace-login-logo {
        text-align: center;
        padding-top: 8%;
        padding-right:63%;
    }
    .set-sign-in-image-coWork {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        width: 295px;
        display: inline-block;
        position: relative;
        top: -30px;
        right: 0px;
    }

    .set-fonts-forgotPassword {
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
        font-size: 12px;
        border-bottom: 2px solid lightgray;
        display: inline-block;
        float: right;
        position: relative;
        left: 11px;
        top: 0px;
    }
}

.set-col-md-6-login-coworkSpace {
    width: 311px;
    display: unset;
}

@media (max-width:1859px) and (min-width: 1760px)
{
    .set-padding-login-col-md-6-2-left {
        padding-left: 0px;
        background-image: url(/custom/css/frontend/coWork/image/loginCowoelSpace.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 973px;
    }

    .set-fonts-forgotPassword {
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
        font-size: 12px;
        border-bottom: 2px solid lightgray;
        display: inline-block;
        float: right;
        position: relative;
        left: 11px;
        top: 0px;
    }

    .coWorkSpace-login-logo {
        text-align: center;
        padding-top: 11%;
        padding-right: 62%;
    }
}

@media (max-width:1759px) and (min-width: 1660px)
{
    .set-padding-login-col-md-6-2-left {
        padding-left: 0px;
        background-image: url(/custom/css/frontend/coWork/image/loginCowoelSpace.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 915px;
    }
    .set-fonts-forgotPassword {
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
        font-size: 12px;
        border-bottom: 2px solid lightgray;
        display: inline-block;
        float: right;
        position: relative;
        left: 0px;
        top:3px;
    }
    .coWorkSpace-login-logo {
        text-align: center;
        padding-top: 11%;
        padding-right: 58%;
    }
}

@media (max-width:1659px) and (min-width: 1625px)
{
    .set-padding-login-col-md-6-2-left {
        padding-left: 0px;
        background-image: url(/custom/css/frontend/coWork/image/loginCowoelSpace.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 867px;
    }

    .coWorkSpace-login-logo {
        text-align: center;
        padding-top: 12%;
        padding-right: 55%;
    }
    .set-fonts-forgotPassword {
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
        font-size: 12px;
        border-bottom: 2px solid lightgray;
        display: inline-block;
        float: right;
        position: relative;
        left: -11px;
        top: 3px;
    }
}

@media (max-width:1624px) and (min-width: 1550px)
{
   .coWorkSpace-login-logo {
       padding-right: 56%;
    } 
}

@media (max-width:1549px) and (min-width: 1480px)
{
   .coWorkSpace-login-logo {
       padding-right: 51%;
    } 
}

@media (max-width:1479px) and (min-width: 1319px)
{
   .coWorkSpace-login-logo {
       padding-right: 48%;
    } 
}

@media (max-width:1624px) and (min-width: 1369px)
{
    .set-padding-login-col-md-6-2-left {
        padding-left: 0px;
        background-image: url(/custom/css/frontend/coWork/image/loginCowoelSpace.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 867px;
    }
    .set-fonts-forgotPassword {
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
        font-size: 12px;
        border-bottom: 2px solid lightgray;
        display: inline-block;
        float: right;
        position: relative;
        left: 0px;
        top: 2px;
    }
}

@media (max-width:1318px)
{
    .set-col-md-12-login-cowork-space{
        padding-left:0px;
    }
    .set-col-md-6-login-coworkSpace {
        width: 311px;
        display: unset;
         padding-left: 0px;
    }
    .coWorkSpace-login-logo {
        padding-right: 51.5%;
    }
}

@media (max-width: 1216px)
{
    .set-col-md-3-remember {
        padding: 0px;
        width: 27%;
        display: flex;
    }
    .set-col-md-3-forgotPassword {
        padding: 0px;
        width: 31%;
        text-align: end;
        display: flex;
        position: relative;
        left: 23px;
    }

    .set-container-checkbox-login-cowork {
        display: block;
        position: relative;
        padding-left: 30px;
        color: #000000 !important;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: initial;
    }
    .coWorkSpace-login-logo {
        padding-right: 38%;
    }
    .set-col-md-6-login-coworkSpace {
        padding-left: 6%;
    }
}

@media (max-width:1179px)
{
    .set-col-md-3-forgotPassword {
        padding: 0px;
        width: 31%;
        text-align: end;
        display: flex;
        position: relative;
        left: 33px;
    }
    .coWorkSpace-login-logo {
        padding-right: 30%;
    }
    .set-col-md-6-login-coworkSpace {
        padding-left: 8%;
    }
}

@media (max-width:1131px)
{
    .set-col-md-3-forgotPassword {
        padding: 0px;
        width: 45%;
        text-align: end;
        display: flex;
        position: relative;
        left: 51px;
    }
    .set-col-md-3-remember {
        padding: 0px;
        width: 31%;
        display: flex;
    }

    .set-col-md-6-login-coworkSpace {
        padding-left: 12%;
    }
    .coWorkSpace-login-logo {
        padding-right: 20%;
    }
}

@media (max-width:1069px)
{
    .set-col-md-6-login-coworkSpace {
        padding-left: 15%;
    }
    .coWorkSpace-login-logo {
        padding-right: 10%;
    }
}

@media (max-width:1024px)
{
    .set-col-md-3-forgotPassword {
        padding: 0px;
        width: 46%;
        text-align: end;
        display: flex;
        position: relative;
        left: 51px;
    }
    .set-col-md-3-remember {
        padding: 0px;
        width: 35%;
        display: flex;
    }
    .set-col-md-6-login-coworkSpace {
        padding-left: 17%;
    }
}

@media (max-width: 991px)
{
    .set-padding-col-md-6-2login-cowork-space{
        float:none !important;
    }
    .set-col-md-6-paragraph-small-text{
        display: none;
    }
    .set-padding-login-col-md-6-2-left{
        background-image: url("/custom/css/frontend/coWork/image/bubbleslogin.png");
        padding-right: 0px;
        height: 100%;
    }
    .set-col-md-3-remember {
        padding: 0px;
        width: 100%;
        display: flex;
    }
    .set-col-md-3-forgotPassword {
        padding: 0px;
        width: 100%;
        text-align: -webkit-right;
        display: -webkit-box;
        position: relative;
        left: 0px;
        top: -30px;
    }
    .set-col-md-12-login-cowork-space {
        padding-left: 0px;
        padding-right: 0px;
    }
    .coWorkSpace-login-logo {
        padding-left: 0px;
        padding-right:0px;
        text-align: center;
        padding-top: 15%;
        position: relative;
        top:30px;
        margin-bottom: 20px;
    }
    .set-col-md-6-login-coworkSpace {
        padding-left: 0px;
        width: 100%;
        text-align: -webkit-center;
        padding-right: 0px;
    }
    .set-login-coWork-image {
        width: 100%;
        height: 42px;
    }
    .set-col-md-6-login-coworkSpace {
        padding-left: 0px;
        width: 100%;
        text-align: -webkit-center;
    }
    .set-login-password-input {
        border-radius: 0px;
        width: 100%;
        height: 42px;
    }
    .set-login-email-input {
        border-radius: 0px;
        width: 100%;
        height: 42px;
    }
}

@media (max-width:560px)
{
    .setbtnbtnColllapseN {
        color: #5ec329;
        /* height: 52%; */
        background-color: transparent;
        border: 0;
        /* position: absolute; */
        /* right: 20px; */
        /* top: 30px; */
        display: block;
        text-align: -webkit-right;
        text-align: -moz-right;
    }

    .setbtnbtnColllapseN2 {
        color: #5ec329;
        /* height: 52%; */
        background-color: transparent;
        border: 0;
        /* position: absolute; */
        /* right: 20px; */
        /* top: 30px; */
        display: block;
        text-align: -webkit-right;
        text-align: -moz-right;
    }
    .page-header-row {
        height: 64px;
    }
}

@media (max-width:557px)
{
    .footer-btn-section{
        display: block;
    }
    .web-view-header-include{
        display: block;
    }
    .mobile-view-design-head-banner{
        display:none;
    }
    .mobile-view-section-footer{
        display: block;
        background-color:#30303c;
    }
    .set-mobile-view-footer {
        font-family: Montserrat, Helvetica, sans-serif !important;
        color: #828282;
    }
    .set-un-order-list-mobile-view-footer > li >a {
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-weight: 500;
        color: #828282;
        text-decoration: none;
        font-size: 12px;
        padding-top: 10px;
    }
    .mobile-view-design-header{
        display: none;
    }
}