.set-office-details-fa-marker{
    position: unset !important;
    padding: 10px;
}
h5 {
    font-size: 14px;
    line-height: 25px;
    color: #838484;
    font-family: "Montserrat";
    font-weight: 300;
    margin-bottom: 0px;
}


#contact_email{
   word-wrap: break-word;
}

.errornoimage{
    width: 456px;
    height: 258px;
}

@media (max-width:991px) {
    .errornoimage{
        width:100%;
    }
}
@media (max-width:557px)
{
    .setCol3SearchBarP {
        padding-left: 0px;
        text-align: center;
        margin-top: -100px;
        width: 100%;
        display: flow-root !important;
        top: 116px !important;
        margin-bottom: 15px;
    }
}

@media (max-width:491px)
{
    .setColMd10 {
        width: 100%;
        margin-top: 25% !important;
        text-align: center;
    }
}

@media (max-width:399px)
{
    .primary-title {
        font-size: 22px;
        line-height: 25px;
        color: #2e404e;
        font-family: "Montserrat";
        font-weight: 500;
        margin-left: 10px;
        margin-top: 40px;
    }
}