p, small, input, h2{
    font-family: 'Montserrat', 'Raleway',sans-serif !important;
}

.set-main-row-register-coWorkSpace{
    margin-top:-75px;
}

.set-row-margin-show-content-page-reload {
    margin: 0px !important;
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
    padding: 20px;
    position: relative;
    display: none;
}

.set-signUp-cowork-space-main-row{
    display: grid;
    text-align: center;
}

.settopHeds{
    display: none;
}

.main-second-header{
    display: none;
}

.main-header-banner-section{
    display: none;
}
.footer-btn-section-title{
    display: none;
}

.setColFooter{
    display: none;
}


/*//images css*/
.set-image-with-coworker-register{
    width:100%;
    position: relative;
    top: -4px;
    z-index: 999;
}

.set-back-image-button-sign-up{
    height: 40px;
    width: 294px;
    position: relative;
    top:10px;
}

.set-image-bubbles{
    position: absolute;
    top: -13%;
    left: -4%;
    width: 67%;
}

.set-align-center-text{
    text-align: -webkit-center;
    text-align: -moz-center;
    cursor: pointer;
}

.set-creat-account{
    z-index: 10053;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    top: -30px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    width: 102%;
    height: 42px;
}

.set-register-container-2{
    width:100%;
}

/*.set-register-container-2{*/
    /*background-color: #ffffff;*/
    /*border-top: 0px !important;*/
    /*border: 1px solid #e9e9e9;*/
    /*text-align: center;*/
    /*text-align: -webkit-center;*/
    /*text-align: -moz-center;*/
    /*position: relative;*/
    /*left: -77px;*/
/*}*/

.set-padding-right{
    padding-right:0px;
    padding-left:0px;
    text-align: center;
}

.set-paragraph{
    position: relative;
    top: -316px;
    z-index: 999;
    font-size: 20px;
    /* display: inline-block; */
    /* width: 300px; */
    /* display: inline-block; */
    font-weight: bold;
    margin-top:80px;
}

.set-small-text-image{
    max-width: 303px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -320px;
    z-index: 999;
    font-size: 13px;
}

.set-padding-left{
    padding-left:0px;
}

.set-xenren-welcome{
    font-weight: bold;
    color: #050505;
    font-size: 20px;
    margin-top: 65px;
    text-align: left;
    position: relative;
    left: 0px;
}

.set-form-group{
    margin-bottom: 10px;
}

.set-padding-left-12{
    padding-left:0px;
    padding-left: 0px;
    text-align: -webkit-center;
}

.set-padding-left-6{
    padding-left:0px;
    padding-right: 0px;
}

.set-label-cowork-space-register{
    float: left;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    color:#343333;
}

.set-email-input{
    border-radius: 0px;
}


.set-xenren-signup{
    color:#343333;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    position: relative;
    left: 0px;
    margin-bottom: 35px;
    margin-top: 0px;
    top: -7px;
}

.set-select-2{
    width:294px;
    height:35px;
    border-radius: 0px;
    font-size: 11px;
}

.set-email-input{
    width: 294px;
    height: 35px;
}

.set-already-account{
    font-family: 'Myriad Pro', 'Raleway', sans-serif !important;
    font-size: 13px;
}

.set-sign-in {
    color: #57b029;
    cursor: pointer;
    border-bottom: 2px solid #57b029;
    font-family: 'Myriad Pro', 'Raleway', sans-serif !important;
    font-size: 13px;
    font-weight: bold;
}

@media (max-width:2000px) and (min-width:1551px)
{
    .set-small-text-image {
        max-width: 303px;
        display: inline-block;
        text-align: center;
        position: relative;
        top: -473px;
        z-index: 999;
        font-size: 13px;
    }
    .set-paragraph {
        position: relative;
        top: -486px;
        z-index: 999;
        font-size: 20px;
        /* display: inline-block; */
        /* width: 300px; */
        /* display: inline-block; */
        font-weight: bold;
    }
    .set-image-bubbles{
        position: absolute;
        /* left: -24%; */
        top: -27%;
        /* height: 59%; */
        height: 200%;
        left: -10%;
        width: 75%;
    }
    .set-image-with-coworker-register {
        width: 100%;
        position: relative;
        top: -160px;
        z-index: 999;
    }
    .set-select-2 {
        width: 100%;
        height: 35px;
        border-radius: 0px;
        font-size: 11px;
    }
    .set-email-input {
        width: 100%;
        height: 35px;
    }
    .set-back-image-button-sign-up {
        height: 40px;
        width: 100%;
        position: relative;
        top: 10px;
    }
}


@media (max-width:1550px) and (min-width:1400px)
{
    .set-image-bubbles {
        position: absolute;
        /* left: -24%; */
        top: -22%;
        /* height: 59%; */
        height: auto;
        left: -10%;
        width: 75%;
    }
    .set-image-with-coworker-register {
        width: 100%;
        position: relative;
        z-index: 999;
    }
    .set-select-2 {
        width: 100%;
        height: 35px;
        border-radius: 0px;
        font-size: 11px;
    }
    .set-email-input {
        width: 100%;
        height: 35px;
    }
    .set-back-image-button-sign-up {
        height: 40px;
        width: 100%;
        position: relative;
        top: 10px;
    }
}

@media (max-width:1399px) {
    .set-back-image-button-sign-up {
        height: 40px;
        width: 294px;
        position: relative;
        top: 10px;
        margin-right: 22px;
    }
}

@media (max-width:991px)
{
    .set-image-bubbles {
        display: block;
        position: absolute;
        /* left: -24%; */
        top: -17%;
        /* height: 59%; */
        /* height: 166%; */
        left: -10%;
        width: 100%;
        height: 116%;
        object-fit: contain;
    }

}

@media (max-width:991px)
{
    .set-register-container-2 {
        width: 100%;
        margin-top: 100px;
    }
    .set-creat-account {
        z-index: 9999999999999999999999;
        position: relative;
        top: -21px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        display: block;
    }
    .set-padding-left-12{
        padding-right: 0px;
        padding-left: 0px;
        text-align: -webkit-center;
    }

    .set-back-image-button-sign-up {
        height: 40px;
        width: 100%;
        cursor: pointer;
        position: relative;
        top: 10px;
    }

    .set-padding-right{
        display: none;
    }
    .set-image-with-coworker-register{
        display: none;
    }
    /*.set-image-bubbles{*/
        /*display: none;*/
    /*}*/

    .set-label-cowork-space-register {
        float: none;
    }
    .set-image-bubbles{
        display: none;
    }

    .set-xenren-welcome {
        font-weight: bold;
        color: #050505;
        font-size: 20px;
        margin-top: 0px;
        text-align: center;
        position: relative;
        left: 0px;
    }
    .set-xenren-signup {
        color: #343333;
        font-size: 11px;
        font-weight: normal;
        text-align: center;
        position: relative;
        left: 0px;
        margin-bottom: 35px;
        margin-top: 0px;
        top: -7px;
    }

    .set-select-2 {
        width: 100%;
        height: 35px;
        border-radius: 0px;
        font-size: 11px;
    }

    .set-email-input {
        width: 100%;
        height: 35px;
    }
}


@media (max-width:560px) {
    .page-header-row {
        height: 64px;
    }
    .set-xenren-welcome {
        font-weight: bold;
        color: #050505;
        font-size: 20px;
        margin-top: 30px;
        text-align: center;
        position: relative;
        left: 0px;
    }
    .setbtnbtnColllapseN {
        color: #5ec329;
        /* height: 52%; */
        background-color: transparent;
        border: 0;
        /* position: absolute; */
        /* right: 20px; */
        /* top: 30px; */
        display: block;
        text-align: -webkit-right;
        text-align: -moz-right;
    }
    .setbtnbtnColllapseN2 {
        color: #5ec329;
        /* height: 52%; */
        background-color: transparent;
        border: 0;
        /* position: absolute; */
        /* right: 20px; */
        /* top: 30px; */
        display: block;
        text-align: -webkit-right;
        text-align: -moz-right;
    }
}

@media (max-width:557px)
{
    .set-creat-account {
        z-index: 9999999999999999999999;
        position: relative;
        top: -30px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        display: block;
    }
    .footer-btn-section{
        display: block;
    }
    .web-view-header-include{
        display: block;
    }
    .mobile-view-design-head-banner{
        display:none;
    }
    .mobile-view-section-footer{
        display: block;
        background-color:#30303c;
    }
    .set-mobile-view-footer {
        font-family: Montserrat, Helvetica, sans-serif !important;
        color: #828282;
    }
    .set-un-order-list-mobile-view-footer > li >a {
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-weight: 500;
        color: #828282;
        text-decoration: none;
        font-size: 12px;
        padding-top: 10px;
    }
    .mobile-view-design-header{
        display: none;
    }
}
