.set-col-md-2-left-side-bar{
    position: relative;
    left: 40px;
    padding-left:0px;
}

.primary-title {
    font-size: 22px;
    line-height: 0px;
    color: #2e404e;
    font-family: "Montserrat";
    font-weight: 500;
    margin-left: 0px;
    margin-top: 44px;
    margin-bottom: 20px;
}

.p-2 , .post-title{
    padding-left:0px;
    padding-right:0px;
}

.set-col-ms-12-search {
    padding-left: 0px;
    left: 10px;
}

.set-col-md-12-p-2-title{

}

.set-m-0-p-0{
    margin-bottom:-5px !important;
}

.post-box {
    box-shadow: 0px 4px 5px #a2dc84 !important;
    cursor: pointer;
}

.header-search-btn a {
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    margin-left: -15px;
    border-radius: 10px;
}

.set-right-section-search-head{
    padding-left:10px;
    margin-bottom:15px;
}

.set-slider-number-1 {
    border: 0px solid #ddd;
    text-align: center;
    font-size: 18px;
    -moz-appearance: textfield;
    position: absolute;
    top: 5px;
    right: 74%;
    width: 61px;
    color: #555;
}

.set-slider-number-2 {
    border: 0px solid #ddd;
    text-align: center;
    font-size: 18px;
    -moz-appearance: textfield;
    position: absolute;
    left: 67%;
    top: 5px;
    width: 61px;
    font-weight: 400;
    color:#555;
}

@media(max-width: 2000px) and (min-width: 1318px) {
    .primary-title {
        font-size: 22px;
        line-height: 0px;
        color: #2e404e;
        font-family: "Montserrat";
        font-weight: 500;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width:1317px)
{
    .range-slider {
        width: 191px;
        margin: auto;
        text-align: center;
        position: relative;
        left: -5px;
        top: 10px;
    }
    .set-col-md-2-left-side-bar {
        position: relative;
        left: 18px;
        top:-26px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .setCategory1 {
        position: absolute;
        left: 229%;
        width: 100%;
    }

    .setCategory3 {
        margin-top: 56%;
        width: 149%;
        text-align: center;
    }

    .setby-space1 {
        position: absolute;
        width: 100%;
        left: 3%;
    }
    .setRightSection {
        width: 100%;
        margin-top: 7%;
    }

    .setCategory2 {
        position: relative;
        width: 100%;
        left: 498%;
    }
}

@media (max-width:991px)
{
    .header-search-btn a {
        font-size: 25px;
        width: 100%;
        font-weight: bold;
        margin-left: 0px;
        border-radius: 10px;
    }
    .set-col-md-2-left-side-bar {
        position: relative;
        left: 0px;
    }
    .setby-space1 {
        position: absolute;
        left: 6%;
        width: 32%;
    }
    .setCategory1 {
        position: absolute;
        left: 39%;
        width: 28%;
    }
}

@media (max-width:568px)
{
}

@media (max-width:557px)
{
    .set-col-md-2-left-side-bar {
        position: relative;
        left: 0px;
        margin-top: -145px;
    }
}