.mobile-view-search-results{
    display: none;
}
.preload>img{
    display: none;
}

.mobile-view-search-results{
    display: none;
}
@media (max-width:557px)
{
    .set-container-tabs-girdandlist{display: none}
    #btnContainer{display: none}
    .set-box-container{display: none}
    .preload {
        width:100%;
        height: 150px;
        position: relative;
        top: 50%;
        text-align: -moz-center;
        text-align: -webkit-center;
        text-align-last: center;
        text-align: center;
        margin-bottom: 0px;
        background: #fff;
    }

    .preloadsmall{
        height: 30px !important;
        width:100%;
        position: relative;
        top: 50%;
        text-align: -moz-center;
        text-align: -webkit-center;
        text-align-last: center;
        text-align: center;
        margin-bottom: 0px;
        background: #fff;
    }

    .preload >img{
        position: relative;
        display: inline-block;
        text-align-last: center;
        width: 50px;
        align-items: center;
        margin-top:50px;
    }

    .small-preload{
        width: 20px !important;
        display: inline-block;
        text-align-last: center;
        margin-top:10px !important;
    }

    .ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
        width: 70% !important;
        margin-top: 15px;
        left: 0px !important;
        position: absolute;
        left: 62px !important;
        top: 198px !important;
    }

    .set-fa-fa-fastars-mobile-grid-view{
        color: gray !important;
        font-size:11px;
    }

    .activeSearchStars{
      color:#57b029 !important;
        font-size:11px;
    }

    .set-search-bar-image-mobile-responsive-tabs-grid-li0t{
        position: absolute;
        top: 103px;
        left: 56px;
        display: flex;
    }

    .set-grid-view-review{
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size: 13px;
        color: #57b029;
    }

    .set-features-grid-view {
        font-size: 11px;
        font-weight: 500;
        color: #626262;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }
    .set-price-grid-view{
        font-size: 11px;
        font-weight: bold;
        color: #626262;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }
    .set-col-md-6feature-grid-view{
        padding: 0px;
        position: relative;
       float: left;
    }

    .set-col-md-6price-grid-view {
        padding: 0px;
        position: relative;
        float: right;
        width: 100px;
    }


    .set-grid-view-row-2 {
        position: relative;
        top: -33px;
        display: -webkit-box;
    }

    .grid-view-stars{
        margin: 0px;
        position: relative;
        top: -35px;
        margin-bottom: -2px;
    }

    .image-background-mobile-view-container{
        display: none;
    }

    .search-container{
        padding-top: 10px;
        text-align: -moz-center;
        text-align: -webkit-center;
        display: inline-block;
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
    }

    .set-search-input-results{
        width: 100%;
        font-family: Montserrat, Helvetica, sans-serif !important;
        border-radius: 25px;
        height: 37px;
        box-shadow: 0px 6px 5px -1px #d6d6d6;
        padding-left: 40px;
        font-size: 12px;
    }

    .section-web-view-search-results{
        display: none;
    }

    .found-items-results{
        position: absolute;
        left: 15px;
        font-weight: 500;
        top: 12px;
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size:11px;
        color:#2e404e;
    }

    .set-col-sm-xs-6-grid-view{
        padding:0px;
    }

    .mobile-view-search-results{
        display: block;
        background-color: #f6f6f6;
    }

    .vl {
        border-left: 1px solid lightgray;
        height: 20px;
        position: absolute;
        right: 102px;
        top: 8px;
    }

    .set-sort-by-search-results{
        position: absolute;
        right: 20px;
        top: 10px;
        font-weight: 500;
        color: #2e404e;
        font-size: 13px;
    }

    #btnContainer{
        text-align: right;
        position: relative;
        top:-15px;
        margin-bottom: -4px;
    }

    .fa-fa-fabars-grid:hover{
        color:#57b029;
    }

    .fa-fa-fabars-list:hover{
        color:#57b029;
    }

    .fa-fa-fabars-grid{
        font-size: 16px !important;
        top: 11px;
        color: #2e404e;
        right: 126px;
        position: relative;
        cursor: pointer;
    }

    .set-image-mobile-responsive-view {
        float: right;
        position: absolute;
        right: 10px;
        top: 12px;
        width: 25px;
    }

    .set-office-space-name-grid-view{
        position: relative;
        top: -15px;
        font-size: 16px;
        font-weight: 501;
        word-wrap: break-word;
    }

    .set-panel-default-search-results-list-view{
        box-shadow: 0px 3px 5px -1px #d6d6d6 !important;
        margin-bottom: 6px;
    }

    .set-panel-heading-search-results-list-view{
        padding:8px;
        background-color: #fff !important;
    }

    .set-fa-fa-fastars-mobile-list-view{
        color:gray !important;
        font-size: 12px;
    }

    .sctiveStarsListView{
        color:#57b029 !important;
        font-size: 12px;
    }

    .set-list-view-review{
        font-family: Montserrat, Helvetica, sans-serif !important;
        color: #57b029;
        font-weight: 400;
        font-size: 12px;
        position: relative;
        top: -2px;
    }

    .list-view-stars{
        margin: 0px;
        position: relative;
        top: -12px;
    }

    .set-list-view-hr{
        margin: 0px;
        border: 0.5px solid lightgray;
        width: 100%;
        position: relative;
        top:-12px;
    }

    .set-price-list-view{
        font-family: Montserrat, Helvetica, sans-serif !important;
        position: absolute;
        right: 3px;
        font-weight: bold;
        color:#2e404e;
        font-size: 10px;
        position: absolute;
        top:90%;
    }

    .set-features-list-view{
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-weight: 500;
        color: #626262;
        position: absolute;
        top: 86%;
        font-size: 12px;
    }

    .set-list-view-image{
        width: 100%;
        border-radius: 5px;
        height: 145px;
        object-fit: cover;
    }

    .set-col-md-3-list-view{
        width: 30%;
        padding:0px;
        padding-left:0px;
    }

    .set-col-md-9-list-view{
        padding-right: 5px;
        width: 70%;
        padding-left:12px;
    }

    .set-list-view-description{
        font-size: 12px;
        word-wrap: break-word !important;
        text-align: start;
    }

    .set-row-list-view{
        display: flex;
    }

    .set-office-space-name-list-view{
        font-size: 19px;
        font-weight: 501;
        word-wrap: break-word;
    }

    .set-office-name-location-list-view{
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size: 13px;
        position: relative;
        top:-10px;
        margin-bottom: 3px;
    }

    .set-office-location-list-view{
        width: 9px;
        margin-right: 5px;
    }

    .set-office-location-grid-view{
        width: 8px;
        margin-right: 4px;
        position: relative;
        top:-1px;
    }

    .set-office-name-location-grid-view{
        position: relative;
        top: -27px;
        margin-bottom: 8px;
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size:11px;
    }

    .fa-fa-fabars-list{
        color: #2e404e;
        position: relative;
        top: 11px;
        right: 116px;
        font-size: 16px !important;
        cursor: pointer;
    }

    .set-search-bar-image-mobile-responsive {
        position: absolute;
        top: 102px;
        display: inline-block;
        left: 33px;
    }

    .set-box-container {
        width: 100%;
        padding:0px;
        height: 30px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 4px 6px -1px #d6d6d6 !important;
    }

    .set-panel-body-search-results-grid-view{
        padding:9px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .set-panel-default-search-results-grid-view{
        background-color: #fff;
        border-radius: 0px;
        margin-right: 2px;
        height: 202px !important;
        margin-bottom: 10px;
        box-shadow: 0px 6px 7px -1px #d6d6d6 !important;
    }

    .set-panel-heading-search-results-grid-view{
        background-color: #fff !important;
        padding:9px;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .set-gird-view-image{
        width: 100%;
        border-radius: 5px;
        height: 115px;
        object-fit: cover;
    }

    .gridviewcolumn{
        border-radius: 10px;
        display: flex;
    }

    .set-head2-images-location {
        position: relative;
        top: 4px;
        width: 8px;
    }

    .set-container-tabs-girdandlist {
        padding-top:1px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .set-location-name-search-result {
        position: relative;
        top: 4px;
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size: 10px;
        font-weight: 501;
        color: #2e404e;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Style the buttons */
    .btn {
        border: none;
        outline: none;
        padding: 0px !important;
        background-color: #57b029;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #57b029;
    }

   .activeViews {
        color: #57b029;
    }


   .set-search-bar-image-mobile-responsive-tabs-grid-list{
       position: absolute;
       top: 71px;
       left: 35px;
   }

}


@media (max-width:477px)
{
    .set-price-grid-view{
        font-size: 9px;
        font-weight: bold;
        color: #626262;
        font-family: Montserrat, Helvetica, sans-serif !important;
        position: relative;
        left: 9px;
    }

    .set-grid-view-review {
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size: 11px;
        color: #57b029;
    }

    .set-features-grid-view {
        font-size: 9px;
        font-weight: 500;
        color: #626262;
        font-family: Montserrat, Helvetica, sans-serif !important;
    }

    .set-office-name-location-grid-view{
        position: relative;
        top: -27px;
        margin-bottom: 8px;
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size:10px;
    }

    .set-office-space-name-grid-view {
        position: relative;
        top: -15px;
        font-size: 12px;
        font-weight: 501;
        word-wrap: break-word;
    }

    .set-office-space-name-list-view {
        font-size: 16px;
        font-weight: 501;
        margin-bottom: 8px;
        word-wrap: break-word;
    }
    .set-office-name-location-list-view {
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-size: 12px;
        position: relative;
        margin-bottom: 2px;
        top: -10px;
    }
    .set-office-location-list-view {
        width: 9px;
        margin-right: 5px;
    }
    .set-list-view-description {
        font-size: 9px;
        text-align: start;
        position: relative;
        top: -8px;
    }
    .set-features-list-view {
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-weight: 500;
        color: #626262;
        font-size: 10px;
        position: absolute;
        top:89%;
    }
    .set-price-list-view {
        font-family: Montserrat, Helvetica, sans-serif !important;
        position: absolute;
        right: 3px;
        font-weight: bold;
        color: #2e404e;
        font-size: 9px;
        top:90%;
    }
    .set-list-view-image {
        width: 100%;
        border-radius: 5px;
        height: 105px;
        object-fit: cover;
    }
    .set-fa-fa-fastars-mobile-list-view {
        color: #57b029;
        font-size: 12px !important;
    }
    .set-list-view-review {
        font-family: Montserrat, Helvetica, sans-serif !important;
        color: #57b029;
        font-weight: 400;
        font-size: 11px;
        position: relative;
        top: -1px;
    }
}