html:lang(en) body,
html:lang(en) h1, html:lang(en) h2, html:lang(en) h3, html:lang(en) h4, html:lang(en) h5, html:lang(en) h6,
html:lang(en) p, small , nav ,
html:lang(en) a,
html:lang(en) ul,
html:lang(en) li,
html:lang(en) span,
html:lang(en) option,
html:lang(en) button,
html:lang(en) b,
html:lang(en) input,
html:lang(en) .sub-heading,
html:lang(en) .btn,
html:lang(en) small,
html:lang(en) .label , .skill-main , .item-skill{
    font-family: 'Myriad Pro', 'Raleway', sans-serif ;
}

html:lang(cn) body,
html:lang(cn) h1, html:lang(cn) h2, html:lang(cn) h3, html:lang(cn) h4, html:lang(cn) h5, html:lang(cn) h6,
html:lang(cn) p, small,span ,ul ,li , nav ,
html:lang(cn) a,
html:lang(cn) span,
html:lang(cn) option,
html:lang(cn) button,
html:lang(cn) b,
html:lang(cn) input,
html:lang(cn) .sub-heading,
html:lang(cn) .btn,
html:lang(cn) small,
html:lang(cn) .label {
    font-family: 'Noto Sans SC', sans-serif;
}

.setHNFLDM {
    margin-top: 2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.setTopmenuAfterLogin {
    display: block !important;
    position: absolute;
    right: 1.5%;
    top: 10px;
}
.glyphicon-globe{
    padding:0px !important;
}

.setColMD6H{
    z-index: 9999999;
}

.setLOGO {
    max-width: 45px !important;
    padding-top: 15px !important;
    position: relative;
    float: none !important;
    left:16px;
    cursor: pointer;
    z-index: 99999;
}

.settoplinks {
    padding: 27px 0px 0px 17px !important;
    display: inline !important;
    z-index: 9999999;
}

@media (max-width: 2000px) and (min-width: 1801px) {
    .setLOGO {
        max-width: 45px !important;
        padding-top: 15px !important;
        position: relative;
        left: -3px;
        cursor: pointer;
        z-index: 99999;
    }

    .set-row-col-md-10 {
        display: table-row;
        padding-left: 16px;
    }
    .setULH {
        /* margin-right: 4px !important; */
        padding: 3px 36px 6px 6px;
        margin-right: -17px;
    }
}

@media (max-width: 1800px) and (min-width: 992px)
{
    .setULH {
        /* margin-right: 4px !important; */
        /*margin-top: -54px;*/
        padding: 3px 32px 6px 6px;
        margin-right:0px;
    }

    .setRow {
        height: 74px;
        margin-left:0px;
        margin-right:0px;
    }

    .dropdown-menu-logout {
        box-shadow: 0px 0px !important;
        background: #fff !important;
        border: 1px solid #e9e9e9 !important;
        border-radius: 0px !important;
        margin-top: 11px !important;
        width: 236px !important;
        margin-left: -145px;
    }

    html:lang(cn) .dropdown-menu-logout {
        box-shadow: 0px 0px !important;
        background: #fff !important;
        border: 1px solid #e9e9e9 !important;
        border-radius: 0px !important;
        margin-top: 11px !important;
        width: 236px !important;
        margin-left: -175px;
    }

    #MainHeaderSection, .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.newBellIcon1 {
    color: #fff !important;
    background: #57a224;
    padding: 10px 10px 10px 10px;
    position: relative;
    left: 37px;
    border-radius: 100%;
}

.newBellIcon2 {
    color: #fff !important;
    background: #57a224;
    padding: 10px 10px 10px 10px;
    position: relative;
    left: 23px;
    border-radius: 100%;
}


@media (max-width: 1500px) and (min-width: 1400px) {
    .setTopmenuAfterLogin {
        display: block !important;
        position: absolute;
        right: 2%;
        top: 10px;
    }
}


@media (max-width: 1399px) and (min-width: 1200px) {
    .setTopmenuAfterLogin {
        display: block !important;
        position: absolute;
        right: 2.3%;
        top: 10px;
    }
}

@media (max-width: 1330px) {
    .settoplinks li {
        text-decoration: none !important;
        list-style: none !important;
        display: inline-block !important;
        padding: 2px 6px 2px 0px;
        text-transform: uppercase !important;
    }
}

@media (max-width:1199px)
{
    .setTopmenuAfterLogin {
        display: block !important;
        position: absolute;
        right: 0%;
        top: -47px;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    .setMainContainer{
        width:100%;
    }

    .set-row-col-md-10 {
        display: table-row;
        padding-left: 17px;
    }

    .set-head-main-container{
        width: 100%;
    }
}

html:lang(cn) .setFFL {
    margin-right: 0px;
}

html:lang(cn) .setFVJ {
    margin-right: 35px;
}

html:lang(en) .setFVJ {
    position: relative !important;
    right: 29px !important;
}

html:lang(cn) .setFFL{
     position: relative;
     right: 6px;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

.settoplinks li a {
    /* font-size: 16px; */
    color: #777;
    cursor: pointer;
}
.setFVJ {
    position: relative !important;
    right: 20px !important;
}
.setNB2 {
    margin-right: -39% !important;
}

.searchBar{
    display: none;
}

#msHeaderSearchBar.ms-ctn {
    padding: 2px 12px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

#msHeaderSearchBar.ms-ctn-focus, #msHeaderSearchBar.ms-ctn:hover {
    border-color: #64B12B !important;
}
#msHeaderSearchBar.ms-ctn {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 18px;
}

.ms-ctn {
    position: relative;
    padding: 5px 12px;
    height: auto;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 14px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}
.setNB1 {
    left: 25%;
}

.setMainContainer > .row{
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
}


span.photo.col-md-2 {
    padding-left: 0px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
    min-width: 160px;
    max-width: 275px;
    width: 275px;
    z-index: 9995;
    margin-left: -247px;
}

#msHeaderSearchBar.ms-ctn {
    padding: 2px 12px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

/*.setDDMLIST{*/
    /*overflow: scroll;*/
/*}*/

/*.setICONBELL{*/

/*}*/

.showZIndex{
    z-index:-1 !important;
}

.mobile-view-section-footer{
    display:none;
}

/** footer section **/
@media (max-width:557px)
{
    .set-asia{
        width:50px;
    }

    .set-africa{
        width: 50px;
    }

    .set-north-america{
        width: 95px;
    }

    .set-antarctica{
        width: 75px;
    }

    .set-europe{
        width: 60px;
    }

    .set-south-america{
        width: 95px;
    }

    .set-australia{
        width: 80px;
    }

    .setColFooter{
        background-color: #fff;
        padding-left:0px;
        padding-right: 0px;
        margin-top:0px;
    }
    .custom-btn-footer {
        background-color: #57AF2A;
        color: #fff;
        border-radius: 2px;
        padding: 2px;
        font-size: 12px;
        margin:2px;
    }

    .set-container-by-reigion{
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-btn-section-title p {
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #555;
        font-weight: 500;
        background-color: #fff;
        margin-bottom: 0px;
    }
    .mobile-view-section-footer{
        display:block;
        background-color:#304654;
        height: auto;
        position: relative;
    }
    .set-container-footer{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .set-un-order-list-mobile-view-footer{
        list-style: none;
        padding-left:0px;
        margin-bottom: 0px;
    }
    .set-un-order-list-mobile-view-footer > li >a{
        font-family: Montserrat, Helvetica, sans-serif !important;
        font-weight: 500;
        color:#fff;
        text-decoration: none;
        font-size: 12px;
        padding-top: 10px;
    }
    .set-mobile-view-footer{
        font-family: Montserrat, Helvetica, sans-serif !important;
        color:#fff;
    }
}
/** footer section **/
