.wrapper {
    margin: 20px auto;
    width: 400px;
}
.main-div{
    margin: 0px auto;
}
.main-div h2{
    text-align: center;
}
#myAutocomplete {
    width: 100%;
}

.ui-autocomplete-multiselect.ui-state-default {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0px 3px;
    overflow: hidden;
    cursor: text;
    min-height: 50px;
    margin: 0px auto;
    width: 100% !important;
    border-radius: 30px;
    text-align: left;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #ffffff !important;
    font-weight: bold !important;
    color: #57b029 !important;
}

.autoooComplete {
    top:2px;
    margin-left: 5px;
    background: transparent !important;
    width:auto;
    position:absolute;
    border-radius: 36px;
    padding-top: 10px;
    display: inline-block;
    overflow: auto;
    padding-bottom: 8px;
    padding-left: 11px;
}

.dropdownInput{
    top:39px;
    margin-left:5px;
    background: transparent !important;
    width:auto;
    position:static;
    border-radius: 36px;
    padding-top: 10px;
    display: inline-block;
    overflow: auto;
    padding-bottom: 2px;
    padding-left: 11px;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
    float: right;
    cursor: pointer;
    position: relative;
    top:3px;
}


.setAutoComplete{
    width: 41.66666667%;
    margin: 0px auto !important;
    float: unset;
}
.adujustAutoComplete{
    width: 96.966667%;
    margin: 0px auto !important;
    float: unset;
}
.audjustAutoComplete1{
    width: 96.2%;
    margin: 0px auto !important;
    float: unset;
}
.audjustAutoComplete2{
    width: 92.966667%;
    margin: 0px auto !important;
    float: unset;
}

.audjustAutoComplete3{
    width: 92.466667%;
    margin: 0px auto !important;
    float: unset;
}
.audjustAutoComplete4{
    width: 92.1%;
    margin: 0px auto !important;
    float: unset;
}
.audjustAutoComplete5{
    width: 91.5%;
    margin: 0px auto !important;
    float: unset;
}
.audjustAutoComplete6{
    width: 90.5%;
    margin: 0px auto !important;
    float: unset;
}

.ui-icon, .ui-widget-content .ui-icon{
    background-image: url(../images/ms-close.png);
    width: 7px;
    cursor: pointer;
    height: 7px;
    float: right;
    margin: 6px 2px 0 10px;
    background-position: 0 -7px;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
    display: inline-block;
    border: 1px solid #57b029;
    border-radius: 14px;
    margin-right: 4px;
    margin-bottom: 0px;
    color: #fff;
    background-color: #57b029;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 12px;
    padding: 1px 10px;
}

.ui-autocomplete-multiselect input {
    display: inline-block;
    border: none;
    outline: none;
    height: auto;
    margin: 0;
    overflow: visible;
    margin-bottom: 0;
    vertical-align: bottom;
    text-align: left;
    margin-left: 10px;
    color:#25ce0f !important;
}

.ui-autocomplete-multiselect.ui-state-active {
    outline: none;
    border: 1px solid #7ea4c7;
    -moz-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -webkit-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -khtml-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    box-shadow: 0 0 5px rgba(50,150,255,0.5);
}

.ui-autocomplete {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-widget.ui-widget-content {
    max-height: 200px !important;
    height: auto !important;
    min-height: 80px !important;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: inherit;
    left:0px !important;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.ui-widget.ui-widget-content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: #fff;
    height: 5px !important;
    display: none !important;
    width: 4px;
    background-color: #fff;
    overflow: hidden;
}
.ui-widget.ui-widget-content::-webkit-scrollbar
{
    width: 4px;
    background-color: #fff;
    height: 5px !important;
    border-radius: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 10px;
    overflow: hidden;
    display: none !important;
}
.ui-widget.ui-widget-content::-webkit-scrollbar-track
{
    width: 4px;
    overflow: hidden;
    height: 50% !important;
    max-height: 50%;
    background-color: transparent !important;
    display: none !important;
}