/*@import 'https://fonts.googleapis.com/css?family=Noto+Sans';*/
* {
    box-sizing: border-box;
}

.floating-chat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    transform: translateY(70px);
    transition: all 250ms ease-out;
    border-radius: 50%;
    opacity: 0;
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.floating-chat.enter:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 1;
}
.floating-chat.enter {
    transform: translateY(0);
    opacity: 0.6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14);
}
.floating-chat.expand {
    width: 300px;
    max-height: 500px;
    height: 500px;
    border-radius: 5px;
    cursor: auto;
    opacity: 1;
}
.floating-chat :focus {
    outline: 0;
    box-shadow: 0 0 3pt 2pt rgba(14, 200, 121, 0.3);
}
.floating-chat button {
    background: transparent;
    border: 0;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}
.floating-chat .chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: all 250ms ease-out;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.floating-chat .chat.enter {
    opacity: 1;
    border-radius: 0;
    margin: 10px;
    width: auto;
    height: auto;
}
.floating-chat .chat .header {
    flex-shrink: 0;
    padding-bottom: 10px;
    display: flex;
    background: transparent;
}
.floating-chat .chat .header .title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 5px;
}
.floating-chat .chat .header button {
    flex-shrink: 0;
}
.floating-chat .chat .messages {
    padding: 10px;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    border-radius: 4px;
    background: transparent;
}
.floating-chat .chat .messages::-webkit-scrollbar {
    width: 5px;
}
.floating-chat .chat .messages::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}
.floating-chat .chat .messages::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}
.floating-chat .chat .messages li {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 14px;
    margin: 0 0 20px 0;
    font: 12px/16px "Noto Sans", sans-serif;
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
    word-wrap: break-word;
    max-width: 81%;
}
.floating-chat .chat .messages li:before {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    content: "";
    background-size: cover;
}
.floating-chat .chat .messages li:after {
    position: absolute;
    top: 10px;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid rgba(25, 147, 147, 0.2);
}
.floating-chat .chat .messages li.other {
    animation: show-chat-odd 0.15s 1 ease-in;
    -moz-animation: show-chat-odd 0.15s 1 ease-in;
    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
    float: right;
    margin-right: 45px;
    color: #0AD5C1;
}
.floating-chat .chat .messages li.other:before {
    right: -45px;
    background-image: url(https://github.com/Thatkookooguy.png);
}
.floating-chat .chat .messages li.other:after {
    border-right: 10px solid transparent;
    right: -10px;
}
.floating-chat .chat .messages li.self {
    animation: show-chat-even 0.15s 1 ease-in;
    -moz-animation: show-chat-even 0.15s 1 ease-in;
    -webkit-animation: show-chat-even 0.15s 1 ease-in;
    float: left;
    margin-left: 45px;
    color: #0EC879;
}
.floating-chat .chat .messages li.self:before {
    left: -45px;
    background-image: url(https://github.com/ortichon.png);
}
.floating-chat .chat .messages li.self:after {
    border-left: 10px solid transparent;
    left: -10px;
}
.floating-chat .chat .footer {
    flex-shrink: 0;
    display: flex;
    padding-top: 10px;
    max-height: 90px;
    background: transparent;
}
.floating-chat .chat .footer .text-box {
    border-radius: 3px;
    background: rgba(25, 147, 147, 0.2);
    min-height: 100%;
    width: 100%;
    margin-right: 5px;
    color: #0EC879;
    overflow-y: auto;
    padding: 2px 5px;
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar {
    width: 5px;
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}

@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}
@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@media (max-width:568px){

    .floating-chat{
        bottom:0px !important;
        right:50px !important;
    }
    .floating-chat.expand {
        width: 252px;
        max-height: 330px;
        height: 500px;
        border-radius: 5px;
        cursor: auto;
        opacity: 1;
    }
    .setFCHARTBTN {
        margin: 0 0px -49px 200px !important;
        z-index: 99;
    }
    .setFCHARADIV iframe{
        width: 231px;
        height: 310px;
    }
}

@media (max-width:420px)
{
    .floating-chat{
        bottom:0px !important;
        right:50px !important;
    }
    .floating-chat.expand {
        width: 252px;
        max-height: 393px;
        height: 500px;
        border-radius: 5px;
        cursor: auto;
        opacity: 1;
    }
    .setFCHARTBTN {
        margin: 0 0px -49px 200px !important;
        z-index: 99;
    }
    .setFCHARADIV iframe{
        width: 231px;
        height: 368px;
    }
}

@media (max-width:320px)
{
    .floating-chat.expand {
        width: 252px;
        max-height: 393px;
        height: 500px;
        border-radius: 5px;
        cursor: auto;
        opacity: 1;
    }
    .setFCHARTBTN {
        margin: 0 0px -49px 200px !important;
        z-index: 99;
    }
    .setFCHARADIV iframe{
        width: 231px;
        height: 368px;
    }
}