
.activatedBarCode{
    background-color: #25ce0f !important;
    color:#fff;
}
.type{
    border: 0px;
    background: transparent;
    width: 20px;
}
.video-area {
    cursor: pointer;
    background: #57b029;
    padding: 7px;
    border-radius: 50px;
    display: inline-block;
    text-align: -webkit-match-parent;
    position: relative;
    top: -16px;
    float: right;
}
.video-area img{
    width: 24px;
    height: 24px;
}

.fa-time-close {
    position: absolute;
    right: -6px;
    background: #fff;
    border-radius: 20px;
    padding: 5px;
    width: 20px;
    border: 0.5px solid lightgray;
    cursor: pointer;
    z-index: 999;
    top: -9px;
    font-weight: lighter !important;
}

.showVideo{
    display:inline-flex !important;
}

.stylishHover{
    width: 200px;
    height: 115px;
    float: right;
    position: relative;
    z-index: 9;
}

.hover-box-show-video{
    width: 230px;
    float: right;
    position: relative;
    bottom: 115px;
    border: 1px solid lightgray;
    padding: 1px;
    text-align: -webkit-center;
    text-align: -moz-center;
    display:inline-flex;
    right: 5px;
    background: #fff;
    border-radius: 5px;
}

.innerQRleft img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
}
.modal-content{
    text-align: -webkit-center;
    text-align: -moz-center;
}

.xenre-logo{
    position: absolute;
    top: 50px;
    width: 95%;
}

.modal-body .bgImage{
    /*background-image: url(/images/backgroundCover.png) !important;*/
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 830px !important;
    width:100% !important;
    margin-top: 14px !important;
}

.xenre-logo img{
    width: 95px;
    height: 116.5px;
    position: relative;
    top: 20px;
}
.xenre-logo p{
    color: #6bc30f;
    font-weight: bold;
    font-size: 79px;
    margin-top: 8px !important;
    font-family: Montserrat;
    margin-bottom: -26px;
}
.xenre-logo span{
    font-size: 21px;
    font-family: Montserrat;
    color: #6bc30f;
    font-weight: normal;
}
.three-rounded-circle{
    text-align: center;
    display: block;
    width: 95%;
    position: absolute;
    top: 300px;
}

.three-rounded-circle  .circle-1 p{
    color: #6bc30f;
    font-size: 10px;
    margin: 0px;
    position: relative;
    top: -84px;
}

.three-rounded-circle  .circle-1 .iconnn{
    width: 45px;
    height: 50px;
    position: relative;
    top: -93px;
}
.three-rounded-circle  .circle-1 .circle{
    height: 120px;
    width: 120px;
}

.set-custom-cs-container{
    padding: 0px;
    width: 85%;
    align-items: center;
    display: flex;
}

.three-rounded-circle  .circle-1{
    background: #fff;
    height: 120px;
    width: 120px;
    border-radius: 65px;
    display: inline-block;
    margin: 20px;
    box-shadow: 8px 25px 55px -3px #6ABB48;
    margin-top: 23px;
}
.qr-frame {
    position: absolute;
    top: 445px;
    width: 95%;
}
.qr-frame img{
    width: 220px;
    height: 220px;
}

.qr-frame p{
    font-weight: bold;
    font-size: 45px;
    position: relative;
    top: 0px;
    color: #fff;
    font-family: Montserrat;
}

.QRimg {
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-left: 9%;
    width: 83%;
    height: 170px;
}

.qr-frame span{
    color: #fff;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: normal;
    position: relative;
    top: 50px;
    opacity: .9;
}

.fit-frame .iframe{
    /*background-image: url(/images/qrFrame.png) !important;*/
    background-repeat: no-repeat;
    background-size: contain;
    height: 220px;
    width: 220px;
    display: block;
}

.fit-frame{
    width: 100%;
    height: 180px;
}

.fit-to-qr-frame{
    width: 175px !important;
    height: 175px !important;
    top: -198px;
    border: 12px solid #fff;
    z-index: 999;
    position: relative;
    -webkit-print-color-adjust: exact;
}

.printQr{
    color: #6ABB48;
    position: relative;
    top: 35px;
}
.mobilewebDesign{
    display: none !important;
}
.pcWeb{
    display: block !important;
}
@media (max-width: 460px){
    .mobilewebDesign{
        display: block !important;
    }
    .pcWeb{
        display: none !important;
    }
    .setChatRoom{
        margin:0px;
        padding-left:10px;
        height:33px;
    }
    .setChatRoom:nth-child(3){
        display: flex;
        align-items: flex-end;
    }
    .setChatRoom:nth-child(2){
        display: flex;
        align-items: center;
    }
    .setQrImage {
        display: block;
        margin: auto;
        margin-top: 0%;
        margin-left: 0%;
        width: auto;
        height: 100px;
        object-fit: contain;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .switch {
        position: absolute;
        display: flex;
        width: 42px;
        height: 30px;
        right: 15px;
        margin-top: 4px !important;
    }
    .btnbtnPublic{
        position: absolute;
        right: 67px;
        margin: 0px;
    }
    .customContainer{
        display:flex;
        margin-top: 14px;
        padding: 0px;
    }
    .innerContainer{

    }
    .innerContainer {
        margin-bottom: 0px;
    }
    .customRowBtn{
        justify-content: center;
        display: flex;
        margin-top: 23px;
        margin-bottom: 20px;
    }
    .setdefaultbtn {
        background-color: #fff;
        color: #656565;
        font-weight: 700;
        border-radius: 6px;
        border: 1px solid #e5e5e5;
        height: 35px;
        width: 175px;
        outline: none;
        font-size: 13px;
    }
    .video-area img {
        width: 24px;
        height: 24px;
        padding: 3px;
    }
    .customRow2{
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        border-bottom: 1px solid #C0C0C0;
        padding-bottom: 20px;
    }
    .customp{
        margin: 0px;
        display: flex;
        color: #25ce0f;
        font-weight: 700;
        font-size: 9pt;
    }
    .video-area {
        cursor: pointer;
        background: #57b029;
        padding: 7px;
        border-radius: 50px;
        display: inline-block;
        text-align: -webkit-match-parent;
        position: relative;
        top: 0px !important;
        float: right;
    }
    .font-green-sharp {
        color: #25ce0f!important;
        font-size: 16px;
        font-weight: 900;
    }
    .faSearch{

    }
    .customRowCss {
        display: flex;
        margin-right: 0px !important;
        width: 100% !important;
        max-width: 100%;
        margin: 0px !important;
    }
    .customColMd6{
        flex:1;
        padding-left: 0px;
    }
    .customRowColMd62{
        padding-right: 0px;
        text-align: end;
    }
    .page-content-wrapper .page-content {
        display: flex;
        justify-content: center;
        height: fit-content;
        padding-top: 10px !important;
    }
}

@media (max-width: 480px) {
    .qr-frame span{
        color: #fff;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: normal;
        position: relative;
        top: 33px;
        opacity: .9;
    }
}

@media (max-width: 370px) {
    .setQrImage {
        display: block;
        margin: auto;
        margin-top: 0%;
        margin-left: 0%;
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .setChatRoom {
        margin: 0px;
        padding-left: 10px;
        height: 27px;
        font-size: 13px;
    }
    .customp {
        margin: 0px;
        display: flex;
        color: #25ce0f;
        font-weight: 700;
        font-size: 8pt;
    }
    .setdefaultbtn {
        background-color: #fff;
        color: #656565;
        font-weight: 700;
        border-radius: 6px;
        border: 1px solid #e5e5e5;
        height: 30px;
        width: 130px;
        outline: none;
        font-size: 12px;
    }
}
