html:lang(en) body,
html:lang(en) h1,
html:lang(en) h2,
html:lang(en) h3,
html:lang(en) h4,
html:lang(en) h5,
html:lang(en) h6,
html:lang(en) p, small,
span html:lang(en) .sub-heading,
html:lang(en) .btn html:lang(en) .label{
    font-family: 'Raleway', sans-serif !important;
}
.p-5{
    padding:10px;
}

.no-record-yet{
    padding:100px;
    text-align: center;
}

.no-record-yet p{
    margin-bottom: 20px;
}

.set-counter-span-receivedprojectinboxmessages{
    position: absolute;
    margin-left: -25px;
    top: -5px;
    font-size: 10px;
    background-color: #58AF2A;
    padding: 5px 10px;
    border-radius: 54%;
    color:#fff;
}
.portlet>.portlet-body p {
    margin-top: 0;
    width: 100%;
    word-wrap: break-word;
}

.p-0{
    padding:0px;
}
.m-0{
    margin: 0px;
}
p{
    display: inline-block;
    margin: 0px;
}
.portlet.light .portlet-body{
    padding: 0px;
}
.award-hedding-title h1{
    color:#646464;
    font-family: 'Raleway',Sans-Serif;
    font-size:18px;
    font-weight: bold;
    margin-top:13px;
    margin-bottom:6px;
}
.award-section{
    border-bottom:1px solid #e2e2e2;
}
.award-body,.award-section{
    padding: 15px 16px 10px 19px;
}
.award-body,.award-main-section{
    padding: 10px 14px 16px 19px;
}
.label-title{
    font-weight: 500;
    padding: 4px 0px 5px;
    color: #61AF39;
    background-color: #fff; 
    width: 23px;
    border-radius: 5px;
    display: inline-table;
    font-size: 17px;
    font-family: 'Raleway',Sans-Serif;
    position: relative;
    left: 6px;
    border: 1px solid #61AF39;
}

.setLABELTITIT1{
    position: relative;
    left:8px !important;
    top:-2px;
}

.label-title-main{
    font-size: 10px !important;
    position: relative;
    top: -3px;
}

.btn.default:not(.btn-outline),
.new-milestone-add .btn.default:not(.btn-outline),
.end-contract .btn.default:not(.btn-outline){
	background-color: #fff;
	border-color: #efefef;
	border-width: 1px 1px 1px 0px !important;
	line-height: 15px !important;
	color: #57b029;
	font-size: 16px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 0px;
	height: 34px;
}

.input-group-btn{
    position: absolute;
    top: 0px;
    right: 22px;
}

.dropbtn{
    background-color: #fff;
    border: none;
    padding: 0;
    outline: none;
}

.dropbtn:hover, .dropbtn:focus {
  color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  right: 120%;
  top: -5%;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid #61AF39;
  border-radius: 10px;
  padding: 5px 0;
}

.dropdown-content a {
  color: black;
  padding: 3px 15px;
  text-decoration: none;
  display: block;
}

.dropdown:focus-within .dropdown-content {display: block;}

.posted-title{
    margin-top:-10px;
    font-size: 12px !important;
    font-family: 'Raleway',Sans-Serif;
    color:#c4c4c4;
}

html:lang(cn) .posted-title{
    margin-top:-10px;
    font-size: 12px !important;
    font-family: 'Noto Sans SC', sans-serif;
    color:#c4c4c4;
}

.award-description h2{
    color:#646464;
    font-size:24px;
    font-family: 'Raleway',Sans-Serif !important;
    font-weight: bold;
    margin-bottom:8px !important;
}
.award-description .setSpnMP{
    font-size:16px;
    font-family: 'Raleway',Sans-Serif;
    margin-right:25px;
    font-weight: 500;
}

html:lang(cn) .award-description .setSpnMP{
    font-size:16px;
    font-family: 'Noto Sans SC', sans-serif;
    margin-right:25px;
    font-weight: 500;
}

.setCol3PRAD img{
    margin:5px;
}

.award-description-btn-section{
    text-align:right;
}

.seth1pp{
    color: #646464;
    font-family: 'Raleway',Sans-Serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 6px;
}
.award-left-icon-section img{
    width:35px !important;
    margin-left:10px !important;
    margin-top: -5px;
}
.fa-trash{
    border:1px solid #e73d4a;
    color:#e73d4a;
}
.fa-pencil{
    border:1px solid #61AF39;
    color:#61AF39;
}
.award-second-section{
    margin-top:8px;
}
.award-section-second{
    border-bottom:1px solid #e2e2e2;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
}
.award-second-section-title h2{
    font-size: 18px;
    font-weight: bold;
    margin-top: -5px !important;
    margin-bottom: 3px !important;
    color: #646464;
    text-transform: uppercase !important;
    position: relative;
    left: 5px;
}
.setCol3PRAD .ifImage{
    margin:2px !important;
}
.award-second-section-description .user-icon{
    height: 45px !important;
    width: 45px !important;
    margin-top: 8px;
    border-radius: 50%;
}

.setCol3MPRPBTN{

}

.setISKILLMRPAGE{
    margin-left:10px;
}

.award-second-section-center{
    padding-left:0px;
    margin-bottom:-15px;
}
.award-second-section-center h3{
    font-size:24px;
    margin-top:11px;
    font-weight:bold;
    color:#656565;
    font-family: 'Raleway',Sans-Serif !important;
}
.award-second-section-project-name p{
    font-weight: 500;
    font-size:18px;
    margin-bottom:20px !important;
}
.award-project-second-part{
    padding:5px 13px 17px 3px !important;
}
.setCol3PRAD2
{
    text-align: right;
    margin-top: 9px;
    margin-bottom: 8px;
    right: 8px;
}

.setCol3PRAD2 img{
    margin:3px;
}
.award-project-second-part img{
    width:35px !important;
    margin-left:8px;
    margin-top:0px;
}
.label-pill{
    border-radius: 15px;
    padding: 4px 15px 3px 15px;
    font-size: 12px !important;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500;
    margin-left:4px;
    position: relative;
    top: -5px;
}

.setSectionFooter{
    margin-left: 17px;
}

html:lang(cn) .label-pill{
    border-radius: 15px;
    padding: 4px 15px 3px 15px;
    font-size: 12px !important;
    text-transform: capitalize;
    font-family: 'Noto Sans SC', sans-serif !important;
    font-weight: 500;
    margin-left:4px;
    position: relative;
    top: -5px;
}

.award-second-section-center p{
    color:#61AF39;
    margin-bottom:10px !important;
    padding:0px !important;
    line-height: 24px;
    font-size: 18px !important;
    font-family: 'Raleway',Sans-Serif !important;
    text-transform: capitalize !important;
    font-weight: 500;
}
.setAPCol8{
    margin-top:9px;
}
.award-second-section-center .dolor-part{
    font-size:13px;
    font-family: 'Montserrat', sans-serif !important;
}
.award-second-section-center p .project-price{
    font-size: 14px;
    font-family: 'Raleway',Sans-Serif !important;
    font-weight:500;
    color:#a1a1a1;
    margin-left:12px;
}

html:lang(cn) .award-second-section-center p .project-price{
    font-size: 14px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight:500;
    color:#a1a1a1;
    margin-left:12px;
}

.award-second-section-center p .project-time{
    font-size:14px;
    font-family: 'Raleway',Sans-Serif !important;
    font-weight:bold;
}
.label-pendding{
    background-color: #EF6334;
}
.label-completed{
    background-color:#61AF39;
}
.label-proccesing{
    background-color: #61AF39;
}
.footer-section{
    background-color: #F2F2F2;
    padding: 20px 15px;
}
.hour-part{
    color:#58AF55 !important;
    font-weight: bold !important;
}
.award-part-icon-section{
}
.second-part-icon a{
    position: relative;
}
.second-part-icon a .tooltip{
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
}
.received-second-part-icon img{
    text-align: right;
    margin-top:-12px !important;
}
.footer-section-right a{
    font-size:14px;
    color:#57a224;
}
.pagination{
    display: inline-block;
}
.pagination{
    margin-right:-15px;
}
.pagination a {
    color:#636363;
    float: left;
    font-weight: normal;
    font-size: 14px;
    padding: 2px 8px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
.pagination-arrow{
    margin:0px 10px;
    color:#636363;
    font-size:24px;
    margin-top: 2px;
}
.hourly-rate-part{
    font-weight: 500;
    font-size:13px;
    color:#a1a1a1;
    margin-top:10px;
}
.hourly-rate-part span{
    color:#61AF39;
    font-size:12px;
}
.award-description p a{
    color:#61AF39;
}
.award-description .description-part{
    margin: 9px 0px 0px 0px !important;
    font-size:15px;
    font-weight:500;
    color:#6D6D6D;
}
.received-left-icon-section{
    margin-top:27px;
}
.received-left-icon-section img{
    width:35px;
    margin-left: 2px;
}
.dolor-part{
    font-size:10px;
    margin:0px;
    padding:0px;
}
.item-skill,.item-skill-second{
    float:unset;
    text-align: center;
    padding:4px 8px 5px 10px !important;
}
.hourly-rate-part span{
    color:#d2d2d2;
}
.award-img-btn a img{
    margin-top:10px;
}

.tab-button{
    width: 49.5%;
    color: #61AF39;
    font-size: 14px;
    font-weight: 600;
    background-color: #f9f9f9;
    border: none;
    border-radius: 3px;
    padding: 1.5% 0;
    box-shadow: 0px 2px 2px 0px rgba(133,133,133,1);
    outline: transparent;
    text-align:center;
}

.tab-button:hover, .tab-button:focus, tab-button:active{
    color: #fff;
    background-color: #61AF39;
    border: 1px solid #61AF39;
}

.tab-button-green{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background-color: #61AF39;
    border: 1px solid #61AF39;
    border-radius: 3px;
    padding: 1.5% 0;
    box-shadow: 0px 2px 2px 0px rgba(133,133,133,1);
    outline: transparent;
}

.pay-type-count{
     display:inline-block;
     height:auto;
     background-color: #fff;
     color: #61AF39;
     border: 1px solid #61AF39;
     border-radius: 4px;
     padding: 0 5px;
}

.milestoneBtn{
    color: #fff;
    font-size: 14px;
    background-color: #61AF39;
    border: none;
    border-radius: 2px;
    padding: 1.5% 2.5%;
}

.milestoneBtn:hover{
    color: #000;
}

.milestonemodal-content {
  color: #333;
  font-size: 14px;
  background-color: #fefefe;
  margin: auto;
  margin-top: 100px;
  padding: 18px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%;
  overflow-y: auto;
}

.milestonemodal-content2 {
  color: #333;
  font-size: 14px;
  background-color: #fefefe;
  margin: auto;
  margin-top: 100px;
  padding: 18px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
  overflow-y: auto;
}

.modaltitle{
    font-weight: bold;
    font-size: 20pt;
    margin-top: 10px;
    text-align: center;
    padding-left: 5%;
    padding-right: 0;
}

.bonusinput{
    padding:0px 0px;
    border:1.5px solid #cccccc;
    text-align:center;
    overflow-x: auto;
}

.underline{
    border-bottom: 1px solid #cccccc;
    padding-bottom:4px;
    overflow-x: auto;
}

.approve-pay-btn{
    background-color: #61AF39;
    color: #fff;
    border: none;
    padding: 6% 15%;
    font-weight: 200;
    text-transform: none;
}

.approve-pay-btn:active, .approve-pay-btn:focus{
    color: #fff;
}

.mile-submit-btn{
    background-color: #61AF39;
    color: #fff;
    border: none;
    padding: 6% 30%;
    font-weight: 200;
    text-transform: none;
}

.mile-submit-btn:active, .mile-submit-btn:focus{
    color: #fff;
}

.closeModal {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  height: 35px;
  position: relative;
  top:-10px;
  right: 5px;
}

.closeModal:hover,
.closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.setSideMenuScroll{
    z-index:999;
}

@media (max-width:2050px) and (min-width:1414px)
{
    .page-content-wrapper {
        position: relative;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    .setSideMenuScroll {
        min-height: -webkit-fill-available !important;
        position: relative;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        border: 1px solid #e5e5e5 !important;
        /* margin-bottom: 10%; */
    }
    .page-content-wrapper .page-content {
        margin-left: 235px;
        margin-top: 0px;
        min-height: 600px;
        padding: 0px 0 0 20px;
        display: flex;
    }

    .setPageeContent {
        /* margin-top: .6%; */
        position: relative;
        top: 32px;
        width:100%;
        display: inline-flex;
    }
}

@media (max-width:1750px) and (min-width:1414px)
{
    .setPageeContent {
        width:100%;
        /* margin-top: .6%; */
        position: relative;
        top:35px;
        display: inline-flex;
    }
    .setCol9RPP{
        margin-bottom: 3px;
    }
}

@media (max-width:1413px) and (min-width:992px)
{
    .setPageeContent {
        /* margin-top: .6%; */
        position: relative;
        top:0px;
        width:100%;
        display: inline-flex;
    }
    .setCol9RPP{
        margin-bottom: 3px;
    }
}

@media (max-width:1272px) and (min-width:1200px)
{
    .setPageeContent {
        /* margin-top: .6%; */
        position: relative;
        top: 2px;
        width:100%;
        display: inline-flex;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .setPageeContent {
        /* margin-top: .6%; */
        position: relative;
        top: 19px;
        display: inline-flex;
        width: 100%;
    }
    .setRowCol12 {
        margin-top: 4.4%;
        display: flex;
    }
    .page-content{
        display: grid;
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .setCol3PRAD2 {
        text-align: center;
        margin-top: 9px;
        margin-bottom: 8px;
        right: 8px;
        width: 100%;
    }

    .setPBAB{
        text-align:center;
    }
    .setCol12ASSTAS{
        text-align: center;
    }

    .setCol3PRAD{
        float:none !important;
        display:inline-block;
    }
    .approve-pay-btn{
        width: 100%;
    }
    .bonusinput{
        width: 100%;
    }
    .tableOutline{
        border: 1px solid #cccccc;
    }
}

/* receive projects responsive page setting */
@media (max-width:991px) and (min-width:320px)
{
    .setISKILLMRPAGE{
        display: inline-block !important;
    }

    .setCol9RPP{
        margin-top:5%;
        text-align-last: center;
    }
    .setHRP{
        display: table-caption;
    }
    .setOFFERRBTN
    {
        display:contents;
    }
    .setMRPPP{
        display:grid;
    }
    .setCol3MPRPBTN{
        margin-top:2%;
        display:contents;
    }
    .setRECEVIEDORDERS{
        margin-left:0% !important;
    }
    .setMAinMENU{
        display:none;
    }
    .setMRPPPBAB{
        text-align: -webkit-center;
    }
}
