/* chat room list*/
.job.portlet {
    margin-top: 20px;
}
.fa {
    font: normal normal normal 14px/1 FontAwesome !important;
}

.portlet {
    box-shadow: 0px 0px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
}

.main-tabs-div {
    padding: 0px !important;
}

.main-tabs-div .tabbable-line > .nav-tabs {
    padding-left: 15px;
}

.main-tabs-div .tabbable-line > .nav-tabs > li {
    padding: 0px 30px 5px 30px;
    position: relative;
    left: 20px;
}

.main-tabs-div .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #58AF2A;
    font-weight: bold;
    text-decoration: none !important;
}

.main-tabs-div .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #58AF2A;
    font-weight: bold;
    text-decoration: none !important;
}

.tab-content{
    border-top: 1px solid #eef1f5 !important;
}

.settabcontents{
    border-top: 0px solid #eef1f5 !important;
}

.main-tabs-div .tabbable-line > .nav-tabs > li.active > a {
    color: #58AF2A !important;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    text-decoration: none !important;
    font-weight: bold;
}

.main-tabs-div .tabbable-line > .tab-content {
    padding: 15px 15px !important;
}

.chat-section .title {
    color: #666666;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-family: Montserrat, sans-serif !important;
}

.chat-room-memb-div {
    padding: 15px !important;
    border:1px solid #f4f4f4 !important;
    height:600px;
    max-height:fit-content;
}

.mt-action .mt-action-img > img {
    border-radius: 50% !important;
    margin-bottom: 2px;
}

.mt-actions .mt-action .mt-action-img {
    width: 75px;
    float: left;
}

.mt-action-footer {
    margin-top: 5px;
}

.mt-action-footer .btn-award {
    background: #4e9e25 none repeat scroll 0 0;
    border: 2px solid #4e9e25 !important;
    border-radius: 3px;
    box-shadow: 0 0;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px !important;
    text-transform: none;
    margin-right: 10px;
}

.mt-action-footer .btn-reject {
    margin-right: 10px;
    background: #fff none repeat scroll 0 0;
    border: 2px solid #4e9e25 !important;
    border-radius: 3px;
    box-shadow: 0 0;
    color: #4e9e25;
    font-weight: bold;
    padding: 5px 10px !important;
    text-transform: none;
}

.mt-actions .mt-action {
    margin: 0;
    padding: 0px 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f7f8f9;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details {
    display: table-cell;
    vertical-align: top;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .mt-action-author {
    color: #2f353b;
    font-family: 'Raleway',sans-serif !important;
    font-size: 16.93px;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .mt-action-author span {
    color: #57B029;
    font-size: 12px;
    position: relative;
    top: -7px;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .mt-action-desc {
    color: #a7a7a7;
    font-size: 12px;
    font-family: 'Raleway',sans-serif !important;
    margin: 0px;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .more {
    text-transform: uppercase;
    color: #58AF2A;
    font-size: 13px;
    font-weight: 600;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info {
    display: table-cell;
    vertical-align: top;
}

.mt-actions .mt-action .mt-action-body .mt-action-row {
    display: table;
    width: 100%;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-datetime {
    vertical-align: top;
    display: table-cell;
    text-align: center;
    width: 150px;
    white-space: nowrap;
    padding-top: 15px;
    color: #A6A8A8;
}

.mt-actions .mt-action .mt-action-body {
    position: relative;
    overflow: hidden;
    left: -5px;
    top: -1px;
}

.mt-action-author span {
    position: relative;
    top: -5px;
}

/*Chat room */
.chat-room-div .scroller {
    padding: 0px;
}

.chat-room-div .scroller .chats {
    padding: 0px;
    margin: 15px 0px;
    padding-left: 10px;
}

.chat-room-div .scroller .chats li {
    margin: 0px 0px 15px 0px;
    padding: 0px 15px 0px 15px;
}

.chat-room-div .scroller .chats li img {
    width: 40px;
    height: 40px;
    position: relative;
    top:6px;
}

.chat-room-div .scroller .chats li a {
    color: #58AF2A;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    font-weight: 600;
}

.chat-room-div .scroller .chats li .datetime {
    font-size: 12px;
    font-family: Montserrat, sans-serif !important;
    color: #bfbfbf;
    margin: 0px 0px 8px 0px;
    position: relative;
    top:4px;
}

.chat-room-div .scroller .chats li .body {
    font-size: 14px;
    color: #666666;
    margin-bottom: 0px;
    position: relative;
    top:9px;
    font-family: Montserrat, sans-serif !important;
}

.chats li.in .message .arrow {
    left: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid #f5f5f5;
}

.chats li.in .message {
    text-align: left;
    border-left: 0px solid #fff;
    margin-left: 50px;
    background: #fff;
    color: #555555;
}

.chats li.out .message .arrow {
    right: -8px;
    border-left: 8px solid #659be0;
}

.chats li.out .message {
    border-right: 0px solid #659be0;
    margin-right: 65px;
    background: #fff;
    text-align: right;
    color: #ffffff;
}

.chats li.in .datetime {
    color: #cccccc;
    /*padding-left: 65px;*/
    font-size: 11px;
}

.chats li.out .datetime {
    color: #cccccc;
    margin-right: 65px;
    font-size: 11px;
}

.chats li.in .div-datetime {
    text-align: left;
}

.chats li.out .div-datetime {
    text-align: right;
}

.chats li.in .name {
    color: #555555;
}

.chats li.out .name {
    color: #ffffff;
}

.upload-btn-custom {
    text-align: left;
    width: 50%;
    float: left;
    font-size: 22px;
    position: relative;
    top:0px;
}

.upload-btn-custom a {
    color: #58AF2A;
}

.chat-form {
    background: #FCFCFC;
    border-top: 1px solid #ECECEC;
}

.chat-form-main {
    margin: 0px;
}

.chat-form-l {
    padding: 0px;
    position: relative;
    height: 31px;
}

.chat-form-r {
    padding: 0px;
}

.sound-icon {
    font-size: 30px;
}

.message.images {
    width: 35%;
}

.message.sound {
    width: 10%;
}

.message.images .body, .message.sound .body {
    text-align: center;
}

.chat-form .input-cont {
    margin-right: 0px !important;
    position: relative;
}

.chat-form .input-cont .btn-submit {
    position: absolute;
    right: 1px;
    top: 2px !important;
    padding: 10px 15px 7px 15px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px;
    background: transparent;
}

.chat-form .input-cont .btn-submit i {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    color: #56B128;
    font-size: 20px;
}
