
.setFullCol12{
    padding-left:25px;
}

/* dispute*/

.Createdot{
    height:17px;
    width:17px;
    background-color:#f7f7f7;
    border-radius:50%;
    display:inline-block;
    position: absolute;
    top: 6px;
    right: 6%;
}

/*set carousal*/
/* Slideshow container */
.slideshow-container {
    max-width: 526px;
    position: relative;
    margin: auto;
    background-color: #f7f7f7 !important;
    height: 370px;
    margin: 50px auto;
    position: relative;
    left: -28px;
}
.prev img{
    width: 20px;
    position: absolute;
    left: 30px;
    top: 6%;
}

.next img {
    width: 20px;
    position: relative;
    left: 30px;
    top: 15px;
}
.setDotCol2{
    width: 1%;
    position: absolute;
    right: 8%;
    top: 5%;
}
.scrollSlider{

}

.set-slider-container > .inner-container {
    width: 400px;
    max-height: 500px;
    background-color: #f7f7f7;
    position: absolute;
    margin: 0 auto;
    transition: all 1s ease-in-out;
}


.set-slider-container{
    width: 400px;
    height: 284px;
    margin: 30px auto;
    position: relative;
    overflow:scroll;
    top: 40px;
    overflow-x: hidden;
}

.setCol12DMSLIDER{
    margin-top:2%;
    overflow: hidden;
}

.mySlides {
    margin: 3px !important;
    margin-left: 35px;
    background-color: #fff;
    height: 50px;
    width: 395px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.setInputDDATD{
    width:223px;
    height:50px;
}

.setLabelATDD{
    color:#646464 !important;
    font-family: Montserrat, sans-serif !important;
    font-size:14px !important;
}

.setDPAGE{
    height:100% !important;
    max-height: fit-content;
}

.setTbodyDD tr td{
    font-family: Montserrat, sans-serif !important;
    font-size:14px !important;
    color:#949494;
}
.pendingTDD{
    color:#f9d553 !important;
}
.askCustomerTDD{
    color:#57b029 !important;
}

.tdCompleted{
    color:#747474 !important;
}
.setTheadDD{
 background-color:#f7f7f7 !important;
    height:75px !important;
}
.setTheadDD tr th{
    padding:13px !important;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
/*set carousal*/

#setItemCD{
    background-color: #fff;
    height: 70px;
    width: 95%;
    margin: 0 auto;
    padding:20px;
    /* position: absolute; */
    /* right: 1%; */
}

.setDotCD{
    height:17px;
    width:17px;
    background-color:#57b029;
    border-radius:50%;
    display:inline-block;
    position: absolute;
    top: 6px;
    right: 6%;
}

.setlabelCarousal1{
    color:#8a8a8a !important;
    font-family:Montserrat, sans-serif !important;
    font-size:13px !important;
}

.setlabel1D{
    color: #646464 !important;
    font-size: 16px !important;
    font-family: Montserrat, sans-serif !important;
}
.setlabel2D{
    color: #808080 !important;
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
}

.setlabel3d{
    color:#666666 !important;
    font-family: Montserrat, sans-serif !important;
    font-size:16px !important;
}

.setlabel3d span{
    color:#57b029 !important;
}

.setcol12DR{
    padding-left:0px;
    margin-top:-10px;
}

.setcol1DisputeCol12Col1{
    width: 3%;
    padding-left: 20px;
}

.setRowDcol12{
    margin-left:-16px;
}
.setCol122D{
    margin-left:14px;
}

.setCol11-D2{
    margin-left:-7px;
}

.setCol6-2D{

}

.setlabel4DT{
    color:#7f7f7f !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px !important;
}

.setinputad{
    width:223px;
    height:50px;
}

.setlabel5DT{
    color:#646464 !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px !important;
}

.setspn0d{
    color:#57b029 !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 20px;
}

.setcol6dt{
    text-align: center;
}

.setlabel7DL{
    font-family: Montserrat, sans-serif !important;
    font-size: 14px !important;
    color:#646464 !important;
}
.setlabel6RDD{
    font-family: Montserrat, sans-serif !important;
    font-size: 16px !important;
    color:#808080 !important;
}
.settextareaD{
    width:100%;
    height:88px !important;
}
.setbtnbtnDT{
    background-color: #57b029 !important;
    font-family: 'Raleway', sans-serif !important;
    font-size:14px !important;
    border-radius: 5px !important;
    width:170px !important;
    height:40px !important;
}
.setdotD{
    height:17px;
    width:17px;
    background-color:#57b029;
    border-radius:50%;
    display:inline-block;
}
.setcol12dPad{
    padding-left:0px;
}
.setcoldotD{
    width:2%;
    top:3px;
}

.setuparrowCD{
    position: absolute;
    left:8%;
    font-size: 25px;
}

.setdownarrowCD{
    position: absolute;
    left:8%;
    top:-25px;
}
/* end dispute*/

/*Pause Contract*/
.setPauseContract{
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
    color:#808080 !important;
}
.setPforPauseC{
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
    color:#808080 !important;
    margin-top:5px;
}
.setbtnPauseContract{
    width:170px !important;
    height:40px !important;
    font-family: 'Raleway', Sans-Serif !important;
    font-size:13px !important;
    background-color: #57af33 !important;
    color:#fff !important;
    border-radius: 5px !important;
}
/*end Pause Contract*/

/*top up salary*/

.setTopUpSalaryH{
    /*max-height: fit-content;*/
}

.setTopUpSalary{
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
    color:#808080 !important;
}
.settopUpclassp{
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
    color:#808080 !important;
    margin-top:5px;
}
.createBoxtopupsalary{
    width:403px;
    height:210px;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding:30px;
    padding-left:30px;
}
.setblancetopupsalary{
    color:#666666 !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 16px !important;
    font-weight: bold;
}
.setHrbalance{
    position: relative;
    top: -15px;
    border: 1px solid #666666;
    opacity: .5;
    width: 40%;
}
.setbffletpus{
    font-size: 12px !important;
    font-family: Montserrat, sans-serif !important;
    color:#666666 !important;
}

.settotalpricetpus{
    color:#57af33 !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 20px !important;
}

.setbfftfletpus{
    font-size: 12px !important;
    font-family: Montserrat, sans-serif !important;
    color:#666666 !important;
}

.setpriceforfreelance{
    color:#57af33 !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 20px !important;
}

.setpriceperhour{
    font-size: 12px !important;
    font-family: Montserrat, sans-serif !important;
    color:#666666 !important;
}

.settpusforminput{
    width:223px !important;
    height:50px !important;
}

.settpsurow1{
    padding-left:0px !important;
    margin-left:-25px !important;
}

.setbtntpsubtn1{
    width:170px !important;
    height:40px !important;
    border-radius:5px !important;
    background-color: #57af33 !important;
    color:#fff !important;
}

.setbtntpsubtn2{
    width:170px !important;
    height:40px !important;
    border-radius:5px !important;
    background-color: #fff !important;
    color:#57af33 !important;
    border:2px solid #57af33 !important;
    position: relative;
    left: 10px;
    top: -5px;
}
.settpsurow2{
    display: flex;
    padding:0px;
    margin-left:-25px;
    margin-top: -5px;
}
/*end top up salary*/


/* increase hourly rate */
.setincreasehourlyRatelabel{
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
    color:#808080 !important;
}
.createBoxincreasehourlyRate{
    width:501px;
    height:192px;
    background-color: #f7f7f7;
    padding:30px;
    padding-left:30px;
}

.setincreasehCr{
    font-size: 16px !important;
    font-family: Montserrat, sans-serif !important;
    color:#666666;
}
.setHrihr{
    position: relative;
    top: -15px;
    border: 1px solid #666666;
    opacity: .5;
    width: 40%;
}

.setcb{
    color:#666666;
    font-size: 12px !important;
    font-family: Montserrat, sans-serif !important;
}

.setchr{
    font-size: 12px !important;
    font-family: Montserrat, sans-serif !important;
    color:#666666;
}

.setchrcb1{
    font-size: 22px;
    color:#57af33;
    font-family: Montserrat, sans-serif !important;
}

.setchrcb2{
    font-size: 22px;
    color:#57af33;
    font-family: Montserrat, sans-serif !important;
}

.setPlus{
    color:#666666;
    position:absolute;
    left:-5px;
    font-size:21px;
}

.settotalph{
    color:#666666;
    font-size: 22px;
}

.setincreasehourlyRcol7{
 margin-left:-25px;
}
.setihpsucol4{
    width:38% !important;
}

.createcommitBoxbonus{
    width:205px;
    height:54px;
    background-color:#f7f7f7;
    padding:10px;
    border-radius:5px;
    padding-left:20px;
}
.setcommitBonus{
    color:#808080 !important;
    font-size:13px !important;
    font-family:Montserrat, sans-serif !important;
    width:85px;
}
.setihrcol9{
    padding-left:30px;
}

.setdot{
    height: 8px;
    width: 8px;
    background-color: #57b029;
    border-radius: 50%;
    display: inline-block;
}
.setdotyellow{
    height: 8px;
    width: 8px;
    background-color: #f9d23f;
    border-radius: 50%;
    display: inline-block;
}
.setdotred{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color:#d32e2e;
}
.seticreashourlyraterow2{
    margin-left:0px !important;
}
.setspnihrspn{
    color:#57b029 !important;
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
}
.setihrl3{
    color:#959595 !important;
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
}
.setihrl2{
    color:#959595 !important;
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
}
.setihrl1{
    color:#959595 !important;
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
}
.set-col1ihr{
    width:3% !important;
}
.setcurruntrateihrBox{
    margin-left:-15px;
    margin-top:-10px;
}

.settotalpihr{
    font-family: Montserrat, sans-serif !important;
    font-size:14px !important;
    color:#57b029;
    position:relative;
    top: -3px;
    left: 10px;
}
.setisequalto{
    color:#808080;
    position: relative;
    top:40px;
}
.setcommitHourBonus{
    font-family: 'Raleway',Sans-Serif !important;
    font-size:16px !important;
    color:#808080 !important;
}
.setnewhourlyr{
    font-family: 'Raleway',Sans-Serif !important;
    font-size:16px !important;
    color:#808080 !important;
}
.hourly_rate{
    width:223px;
    height:50px;
}
.commit_hour_bonus{
    width:223px;
    height:50px;
}

.setlessthenhourlyrate{
    color:#808080 !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px !important;
}
.setrowlessthen{
    margin-left:0px !important;
}

.setincreasehourlyratebtn{
    background-color: #57b029 !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    font-family: 'Raleway',Sans-Serif !important;
    width:170px !important;
    height:40px !important;
}
/* end increase hourly rate */

/* adjustworking houe*/

.setlabel1awh{
    color:#808080 !important;
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
}

.setlabeldwna{
    color:#808080 !important;
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
}

.setcol1hwb{
    width:3% !important;
}
.setcol11hwb{
    padding-left:0px;
}
.setdotawh{
    height: 8px;
    width: 8px;
    background-color: #57b029;
    border-radius: 50%;
    display: inline-block;
}
.setdotawh1{
    height: 8px;
    width: 8px;
    background-color: #9bcb64;
    border-radius: 50%;
    display: inline-block;
}
.setspn1hwb{
    color:#9bcb64 !important;
    font-weight: 600 !important;
}
.setdotawh2{
    height: 8px;
    width: 8px;
    background-color: #fe6f42;
    border-radius: 50%;
    display: inline-block;
}
.setspn2hwb{
    color:#fe6f42 !important;
    font-weight: 600 !important;
}
.setlabel3hwb{
    font-family: Montserrat, sans-serif !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    color:#808080 !important;
}
.setspn0hwb{
    color:#57b029 !important;
    font-weight: 600 !important;
}
.setcol12hwb{
    padding-left:0px;
}
.setCard{
    margin-top:10px;
    box-shadow:0 10px 30px 0 rgba(0,0,0,0.2);
    transition:0.3s;
    width:70%;
    border-radius:10px;
}
.setfooter{
    border-top: 1px solid #ececec;
    height:40px;
}
.set-cardcontainer{
    height:75px;
}
.setlabel0bh{
    font-family:Montserrat, sans-serif !important;
    font-size:10px !important;
    color:#808080 !important;
    padding-left:20px;
}
.setawhrow1{
    margin-top:10px;
}
.setW3Border{
    margin-top:31px;
    background-color:#ececec;
    height:5px;
    width: 74%;
    border-radius: 10px;
}
.setw3colo1{
    height:5px;
    background-color:#fe6f42;
    border-radius:10px;
    margin-left:-14px;
}
.setw3colo2{
    height:5px;
    background-color:#2aae2a;
    border-radius:10px;
    margin-left:-30px;
    margin-right:-30px;
}
.setw3colo3 {
    height:5px;
    background-color:#9bcb64;
    border-radius:10px;
    margin-right:-6px;
}
.setawhcol4{
    text-align: center;
}
.setlabel5pb{
    color:#fe6f42 !important;
    font-family: Montserrat, sans-serif !important;
    font-size:10px !important;
}

.setlabel5pb1{
    color:#2aae2a !important;
    font-family: Montserrat, sans-serif !important;
    font-size:10px !important;
}

.setlabel5pb2{
    color:#9bcb64 !important;
    font-family: Montserrat, sans-serif !important;
    font-size:10px !important;
}

.setawhcol3{
    text-align: center;
}

.setlabel5th{
    color:#808080 !important;
    font-family: Montserrat, sans-serif !important;
    font-size:11px !important;
}
.setspnawh{
    color:#57b029 !important;
    font-family: Montserrat, sans-serif !important;
    font-size:14px !important;
}
.setawh3col{
    margin-top:13px;
}

.setcolwhb{
    padding-left:0px;
}

.setinput6wcbh{
    color:#808080;
    font-family: 'Raleway',Sans-Serif !important;
    font-size: 16px;
    font-weight: bold;
    width: 318px;
    height: 50px;
}
.setcol6whb{
    width:35%;
}
.setinput7wcbh{
    color:#808080;
    font-family: 'Raleway',Sans-Serif !important;
    font-size: 16px;
    font-weight: bold;
    width: 188px;
    height: 50px;
}
.setinput1col4whb{
    color:#808080;
    font-family: 'Raleway',Sans-Serif !important;
    font-size: 16px;
    font-weight: bold;
    width: 193px;
    height: 50px;
}
.setinput2col4whb{
    color:#808080;
    font-family: 'Raleway',Sans-Serif !important;
    font-size: 16px;
    font-weight: bold;
    width: 193px;
    height: 50px;
}
.setcol4whb{
    width:21%;
}
.ssetspnPluswhb{
    color:#808080;
    font-family: 'Raleway',Sans-Serif !important;
    font-size: 45px;
}
.setcolwhb1{
    width:2%;
}
.setspnwbh2{
    color:#57b029;
    font-size: 16px;
    font-family: 'Raleway',Sans-Serif !important;
    font-weight: bold;
    position: absolute;
    top: 27px;
}
.setwhbbtn1{
    width:170px !important;
    height:40px !important;
    background-color: #57b029 !important;
    font-family: 'Raleway',Sans-Serif !important;
    font-size:12px !important;
    color:#fff !important;
    border-radius: 5px !important;
}
.setwhbbtn2{
    width:170px !important;
    height:40px !important;
    color:#57b029 !important;
    background-color: #fff !important;
    font-family: 'Raleway',Sans-Serif !important;
    font-size:12px !important;
    border-radius: 5px !important;
    border:2px solid #57b029 !important;
    padding:0px;
}
.setcolwhb12{
    padding-left:0px;
}
.setcolwhb6{
    width:19%;
}
/* adjust working hour */


/* end contract*/
.setLabel1endC{
    font-family: Montserrat, sans-serif !important;
    font-size: 16px !important;
    color:#646464 !important;
}

.setlabel2endC{
    color:#808080 !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.setcol12endC{
    width:63%;
}
.setlabelrofeC{
    color:#808080 !important;
    font-family: 'Raleway',Sans-Serif !important;
    font-size: 16px !important;
}

.settextAenDc{
    width:568px;
    height:189px;
    border-radius: 5px;
}
.setbtnendC{
    background-color: #57b029 !important;
    font-family:'Raleway',Sans-Serif !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    color:#fff !important;
    width:170px !important;
    height:40px !important;

}
/* end end contract*/


/* contract control panel*/

.setlabel1CCP{
    font-size: 16px !important;
    font-family: Montserrat, sans-serif !important;
    color:#646464 !important;
}

.container-btn {
    position: absolute;
    transform: translate(-50%,-20%);
    top: 19%;
    left: 4%;
}

.btn-toggle{
    width:48px;
    height:26px;
    background: gray;
    border-radius: 30px;
    padding:2px 2px;
}

.btn-toggle > .set-inner-circle{
    width:23px;
    height:22px;
    background:#fff;
    border-radius: 50%;

}

.btn-toggle.btn-active{
    background: #57b029;
}

.btn-toggle.btn-active > .set-inner-circle{
    margin-left:21px;
}


.container-btn2 {
    position: absolute;
    transform: translate(-50%,-20%);
    top: 19%;
    left: 4%;
}

.btn-toggle2{
    width:48px;
    height:26px;
    background: gray;
    border-radius: 30px;
    padding:2px 2px;
}

.btn-toggle2 > .set-inner-circle2{
    width:23px;
    height:22px;
    background:#fff;
    border-radius: 50%;

}

.btn-toggle2.btn-active2{
    background: #57b029;
}

.btn-toggle2.btn-active2 > .set-inner-circle2{
    margin-left:21px;
}

.setlabelCHCCP{
    color:#505050 !important;
    font-family:Montserrat, sans-serif !important;
    font-size: 16px !important;
    position: absolute;
    left: 9%;
}
.setlabeltextPCCP{
    color:#808080 !important;
    font-family: Montserrat, sans-serif !important;
    font-size:14px !important;
    position: absolute;
    left: 9%;
    width: 58%;
}
.setCCPH{
    max-height: fit-content;
}

.setModalDialogCCP{
    position:relative;
    top:6%;
    width:734px;
}

.setModalContentCCP1{
    height:403px;
    background-color: #f7f7f7 !important;
}

.set-modal-titlte-ch{
    color:#535050 !important;
    font-family: 'Raleway',Sans-Serif !important;
    font-size: 18px !important;
    margin-top:3px;
}

.setModalHeaderCCP{
    background-color:#f4f4f4 !important;
    height:62px !important;
}

.setCloseModalbtn{
    width: 45px;
    height: 33px;
    background-color: #d7d7d7;
    border: 0px solid !important;
    position: absolute;
    right: 2%;
}

.setCloseFa{
    color:#000000 !important;
    font-size:12px !important;
    position:relative;
    top: -3px;
}

.setModalBodyCCP{
    background-color: #f7f7f7 !important;
    text-align: center;
}
.setModalBodyCCP .setYRP{
    color:#646464;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
}

.setModalBodyCCP p{
    color:#8d8d8d !important;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.setspn0CCP{
    color:#545454 !important;
    font-size: 16px;
    font-family: Montserrat, sans-serif !important;
    position: relative;
    top: -25px;
}

.setlabel1CCPModal{
    font-family:Montserrat, sans-serif !important;
    font-size:20px !important;
    margin-top:8px;
}

.setlabel1CCPModal span{
    color:#57b029 !important;
}

.setlabel2CCPModal{
    font-family:Montserrat, sans-serif !important;
    font-size:20px !important;
    margin-bottom:11px;
}

.setlabel2CCPModal span{
    color:#57b029 !important;
}

.setinput3CCPCH1{
    margin-top:-12px;
    text-align: center;
}

.setModalDialog2CCP{
    position:relative;
    top:8%;
    width:734px;
}

.setmodalContentHCCP{
    height:500px;
    background-color: #f7f7f7 !important;
}

.setRowCCPCH2{
    margin-top:18px;
}

.setRow2CCPCH2{
    margin-top:6px;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align-last: center;
}
.setbtnbtnMCCPCH2{
    background-color: #57b029 !important;
    width:170px !important;
    height:40px !important;
    border-radius: 5px !important;
    color:#fff !important;
    font-family: 'Raleway',Sans-Serif !important;
    font-size:14px !important;
}

.setCloseModalbtn2{
    width: 45px;
    height: 33px;
    background-color: transparent;
    border: 0px solid !important;
    position: absolute;
    right: -1%;
    top: -60px;
    font-size: 55px !important;
    font-weight: 100 !important;
}

.setCloseFa2 {
    color: #fff !important;
    font-size: 12px !important;
    position: relative;
    top: -3px;
}

.setEndContractH{
    max-height: fit-content;
}
/* end contract control panel */


/* calender .css*/
.vr02 {
    width: 2px;
    background-color: #ddd;
    height: 316px !important;
    position: absolute;
    top: 77px !important;
    bottom: 0;
    left: 32%;
    opacity: .5;
}

#datetimepicker12{
    padding: 11px;
    font-size: 14px !important;
    width: 100% !important;
    margin-top: -10px !important;
}

.datepicker table tr td, .datepicker table tr th {
    text-align: center !important;
    font-size: 14px !important;
    color:#4b5457;
    font-weight: bold !important;
}

.datepicker-inline {
    width: 100% !important;
    padding-left: 0px;
}


.setCalenderWrap {
    max-height: fit-content;
    margin-top: 20px;
    width:100% !important;
}

.setrowmarginoff{
    margin-left:0px !important;
    margin-right:0px !important;
}

.set-main-row-col-4calender{
    padding: 2px 12px 0px 15px;
}

#applyFilter{
    background-color: #57af33 !important;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    width: 56px;
    height: 22px;
    padding: 2px 8px !important;
}

.setbtnApply{
    float:right;
    position: relative;
    right: 20px;
    top:-15px;
}

.table-condensed{
    border-collapse:unset !important;
    border-spacing: 6px !important;
}

#datetimepicker12{
    margin-left:0px;
    margin-top: 0px;
}

.table-condensed thead{
    font-size:14px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.datepicker table tr td.new, .datepicker table tr td.old {
    color:#b4bbc2;
    font-size: 14px !important;
}
.datepicker table tr td, .datepicker table tr th {
    text-align: center !important;
    font-size: 14px !important;
    color:#4b5457;
    font-weight: bold !important;
}
.datepicker .active {
    background-color: #57af33!important;
    color:#fff !important;
    border-radius: 5px;
}
.datepicker .active:hover {
    color:#fff !important;
    background-color: #57af33!important;
}
.datepicker,
.table-condensed{
    width:100%;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 0px !important;
}
.table-condensed thead tr{
    background-color: #fff !important;
    color:#666666 !important;
}

.setcolmd4{
    margin-top:2%;
}

.set-md-col{
    right: 2%;
    margin-top: 3%;
}

.datepicker .datepicker-switch, .datepicker .next, .datepicker .prev, .datepicker tfoot tr th {
    cursor: pointer;
    display: none !important;
}
/* end calender.css*/


/*radius toggle*/
.SETContainer {
    position: absolute;
    transform: translate(200%,-20%);
    top: 19%;
    right: 60%;
}

.toggle-btn{
    width:48px;
    height:26px;
    background: gray;
    border-radius: 30px;
    padding:2px 2px;
}

.toggle-btn > .inner-circle{
    width:23px;
    height:22px;
    background:#fff;
    border-radius: 50%;

}

.toggle-btn.activee{
    background: #57b029;
}

.toggle-btn.activee > .inner-circle{
    margin-left:21px;
}



.SETContainer2 {
    position: absolute;
    transform: translate(2%,-50%);
    top: 73%;
}
.toggle-bbtn{
    width:48px;
    height:26px;
    background: gray;
    border-radius: 30px;
    padding:2px 2px;
}

.toggle-bbtn > .iinner-circle{
    width:23px;
    height:23px;
    background:#fff;
    border-radius: 50%;
}

.toggle-bbtn.activeee{
    background: #00acee;
}

.toggle-bbtn.activeee > .iinner-circle{
    margin-left:21px;
}
/*radius toggle*/

.setLBLBLB{
    display: grid;
    left: 75px;
    position: absolute;
}

.setDIVIV{
    margin-top:10px;
}

.setDVIVI2{
    margin-top:5px;
}

.setMRECEOPJOBDAP{
    display:block;
}
.setTABLETDJDP{
    width:30%;
}
.setTTTTDIFAFA{
    color:green;
}
.setFDJDPBC{
    color:orangered;
}
.setSPANNN1JDP{
    color:green;
}
.setSPANNN2JDP{
    color:darkred;
}
.setJDPBUTTON1{
    min-width:0px;
}
.setJDPBUTTON2{
    min-width:90px;
}
.setSPNN3{
    color:red;
}
.setSPNN4{
    color:yellow;
}
.setSPNN5{
    color:green;
}
.setBOLDCOLOR{
    color:orangered;
}
.setBOLDCOLOR2{
    color:darkred;
}
.setBOLDCOLOR3{
    color:darkgreen;
}
.setFAFACRED{
    color:red;
}
.setFAFACGREEN{
    color:green;
}
.setBTNBTNJDP{
    border-color: #ccc !important;
    background-color: #57b029 !important;
}


.setCol12MRECEVIEORDEPAAGE{
    height:100px;
    overflow: hidden !important;
    max-height:fit-content;
    max-height: -moz-fit-content;
}

.setROWBINFO .slimScrollDiv
{
    overflow: unset !important;
}

.setB2{
    position: absolute;
    height: 85%;
    border: 0.5px solid #a19e9e;
    left: 33%;
    top: 7%;
    opacity: .1;
}

.setB3{
    position: absolute;
    height: 85%;
    border: 0.5px solid #a19e9e;
    left: 67%;
    top: 7%;
    opacity: .1;
}

.setDESC .scroll-div{
    height:135px;
    overflow: hidden !important;
    max-height: fit-content;
}

.setULNAVTBS ul li{
    margin-top:30px;
    border-right: 0px solid #ddd !important;
    height:40px;
    padding: 0px 1px 8px 5px !important;
}

.vr {
    width:2px;
    background-color:#ddd;
    height:25px;
    position:absolute;
    top:23.5% !important;
    bottom:0;
    left:0%;
}

.setCalenderWrap{
    max-height: fit-content;
}



.box{
    background-color:#F6F6F6;
    border-radius: 5px;
    height:210px;
}

.setThisMoth{
    color: #4b5457;
    font-size: 14px !important;
    position: absolute;
    top: 15px;
    left: 10%;
}

.setHRHRHR{
    width: 120px;
    position: absolute;
    top: 30px;
    left: 10%;
    background-color:#4b5457;
    font-weight: bold;
    height: 0.4%;
}

.totalEarning span{
    font-size: 22px !important;
    position:absolute;
    color:#57af33 !important;
}

.setTotalHours span{
    font-size: 22px !important;
    position: absolute;
    color:#57af33 !important;
    display: contents;
}

.setTotalHours{
    color: #4b5457;
    font-size: 14px !important;
    position: absolute;
    top: 27%;
    left: 10%;
}
.totalEarning{
    font-size: 14px !important;
    color: #4b5457;
    position: absolute;
    top: 27%;
    left: 55%;
}

.setvr{
    width: 2px;
    background-color: #ddd;
    height: 25px;
    position: absolute;
    top: 21.3% !important;
    bottom: 0;
    left: 100.3%;
}


.nav-tabs {
    margin: 0px;
    padding: 0px 0px 30px !important;
}

.setULNAVTBS ul li.active .setLI{
    border: 2px solid #57b029;
    color: #57b029;
    text-align: center;
    height:auto;
    width: 175px;
    padding: 8px;
    font-size: 14px;
    text-decoration: inherit;
    display: inline-block;
    border-radius: 4px;
}


.setULNAVTBS ul li .setLI:hover{
    border: 2px solid #57b029;
    color: #57b029;
    text-align: center;
    height:auto;
    width: 180px;
    padding: 9px;
    font-size: 14px;
    text-decoration: inherit;
    display:inline-block;
    border-radius: 4px;
}

.setBTNJDPAGEMROP{
    width: 82px;
    font-size: 15px;
    margin-top: -25px;
}

.setStats{
    font-family: Sans-Serif !important;
    font-weight: bold !important;
}
.setMRECEOPJOBDAP{
    font-weight: 600;
    color: #BBBBBB;
}
.setSmall{
    font-weight: 600;
}

.setSP{
    font-weight: 600;
}

.details{
    color:#7d7d7d;
}
.subtitle{
    color:#6B6B6B;
    font-weight: 600;
}
.setSP0{
    color:#6B6B6B !important;
    font-weight: 600;
}

.setRowNewMileS{
    height:500px;
}

.setCol12LWHP{
    color: black;
}

.setSPN1LWHP{
    color: #57b029;
}

.setSPN2LWHP{
    color: #57b029;
}

.setLABEL1LWHP{
    display:  block;
}

.setColMd2LWHP{
    width:20% !important;
}

.setCol6MdLWHP{
    width:40% !important;
}

.setTDLWHP{
    display: flex;
}

.setTDLWHPINT{
    color: #ABABAB !important;
}

.setHRPTR th{

}

.setBTNTDHRP{
    display:flex;
}

.setBNBNJDP{
    text-decoration: none !important;
}

.setCOLORBLACK{
    color:black;
}

.setColorGreen{
    color:#57b029;
}

.setROWB .slimScrollDiv{
    overflow: unset !important;
}

.setPppP{
    font-weight: bold;
    text-transform: uppercase !important;
    color:#6B6B6B;
}

.setDYND{
    color: #6e6e6e;
}

.setRowNeWHeight{
    height:200px;
}

.setPPpPpP{
    position: relative;
    left:1%;
    color: #7D7D7D;
    font-size: medium;
}

.setroow{
    background-color: #F6F6F6;
    margin-top:2%;
    border-radius: 2px;
    border:1px solid #ddd;
    padding:15px;
    margin-left: 0px;
    margin-right: 0px;
}

.setSetRowP1{
    color:#4b5457;
    font-size: 13px;
}

.setSetRowP2{
    color:#4b5457;
    font-size: 13px;
}

.setSetRowP3{
    color:#4b5457;
    font-size: 13px;
}

.setRowNewMileSNew{
    height:1200px !important;
}

/*switch*/
.set-btn{
    height: 27px !important;
    padding: 0px !important;
    width: 80px !important;
    text-decoration: none !important;
    font-size: 13px !important;
    border-radius: 0px !important;
    margin:-3px !important;
    color:#57af33 !important;
    border:1px solid #ddd !important;
}

.set-btn.active{
    background-color: #57af33 !important;
    color:#fff !important;
}

.set-btn:hover{
    border-radius: 0px !important;
    font-size:13px !important;
    border:1px solid #ddd !important;
    color:#fff !important;
    background-color: #57af33 !important;
}

.set-btn:focus{
    border-color: #fff !important;
}

.set-btn-2{
    height: 27px !important;
    padding: 0px !important;
    width: 115px !important;
    text-decoration: none !important;
    font-size: 13px !important;
    border-radius: 0px !important;
    margin:-3px !important;
    color:#57af33 !important;
    border:1px solid #ddd !important;
}
.set-btn-2.active{
    background-color: #57af33 !important;
    color:#fff !important;
}
.set-btn-2:hover{
    border-radius: 0px !important;
    font-size:13px !important;
    border:1px solid #ddd !important;
    color:#fff !important;
    background-color: #57af33 !important;
}
/*switch*/

/*Link boxes*/
.set-row-box{
    margin-top:-15px;
    margin-right: -20px !important;
}

.set-row-box-last{
    margin-left:15px !important;
}

.set-Col-md-2-box{
    background-color: #4b5457;
    width: 14%;
    height: 45px;
    padding: 13px 39px;
    margin-left:2px;
}
.set-Col-md-2-box span{
    text-transform: uppercase !important;
}
.setLink{
    color:#fff !important;
    font-size:15px;
}
.set-active{
    background-color: #57af33 !important;
    margi-top:0px !important;
    font-size: 15px !important;
    text-decoration: none !important;
}
.set-col-md-12-box2 h3{
    text-transform: uppercase !important;
    color:#939394 !important;
    font-size: 24px !important;
}
.set-col-md-12-box3 h1{
    color:#494949 !important;
    margin-top:-10px;
    font-size: 80px;
}
.set-col-md-6-1{
    width: 22% !important;
}
.set-col-md-6-2{
    width: 20% !important;
}
.set-col-md-6-2 h6{
    margin-left:-25px;
}

.set-fa-circle1{
    color: #57af33;
}

.set-fa-circle2{
    color: #C3D200;
}

.set-row-col-4-spn2{
    margin-left: -90px;
    margin-top: -3px;
    width: 50%;
}

.set-row-col-4-spn1{
    width: 60%;
    margin-top:-3px;
    margin-left: 107px;
}

.set-row-col-6-fa-circle-1{
    margin-left:165px;
}

.set-para {
    margin-top: -13px;
    font-size: smaller;
    margin-left: 12px;
}
.set-span-1{
    margin-left: 0px;
    color:#4b5457;
    font-size:14px;
}
.set-span-2{
    margin-left:0px;
    color:#4b5457;
    font-size:14px;
}

.set-Hours{
    color:#000;
}

.set-col-md-12-box4{
    margin-bottom: -20px;
}

.set-col-row-screen-shots{
    background-color:#F6F6F6;
    border:1px solid #ddd;
    margin-left:0px;
    margin-right:0px;
    border-radius: 3px;
    padding:10px;
}
.set-spn-screen-shots{
    color:#4b5457;
    text-transform: uppercase !important;
}

.set-col-md-12-box-last{
    margin-left:0px;
    margin-right:0px;
    margin-top:2%;
    margin-bottom:25%;
}
.set-col-md-2-box-last{
    background-color: #57af33;
    padding: 7px 15px;
    border-radius: 50px;
    height: 30px;
    font-size: 13px;
    color:#fff;
    margin-left:20px;
    margin: 0;
    margin-bottom: 3px
}
.set-col-md-6-box-last span{
    color:#fff !important;
}

.set-col-md-12-box-last-2{
    margin-top:1%;
}

.set-Image-screen-shoot{
    width:90%;
    height:108px;
}

.set-time-screen-shot{
    font-size: 14px;
    color: #4b5457 !important;
}

.set-delete-icon-row{
    position: absolute;
    right: 10%;
}

.setCol-md-12timeDate{
    display:inline-flex;
}

.set-delete-icon i{
    color: #AFE9A7 !important;
}

.battery{
    position: absolute;
    width: 4px;
    height: 19px;
    background-color: #bbb9b9;
    left: 99%;
    top: 18% !important;
}

.set-col-md-3{
    margin-right:0px;
    margin-left:0px;
    padding-left:0px;
    padding-right:0px;
    width:23% !important;
}

.battery-charge-cell{
    width: 4px;
    height: 19px;
    background-color: #bbb9b9;
    margin:0px 0px 2px;
}

.set-row-imge-screen-shoots{
    height: 155px;
    margin-left: 3px;
    margin-right: -20px;
}

.active-battery{
    background-color:#57af33 !important;
}

.battery div:nth-child(2)
{
    height: 19px;
    background-color: #bbb9b9;
    margin:0px 0px 2px;
}

.set-btn-toggle{
    padding-bottom: 10px;
}
.set-col-md-date{
    color: #4b5457;font-size: 14px;
    margin-top:5px;
}
/*Link boxes*/
.box2{
    width:100%;
    border: 1px solid #ddd;
    margin-top: 2%;
    border-radius: 5px;
}
.set-panel-heading{
    background-color: #fff !important;
}

.set-panel-heading span{
    color:#4b5457;
    font-size: 14px;
}

.set-row-section{
    border:1px solid #ddd;
    padding:10px;
    margin-left:0px;
    margin-right:0px;
    border-radius: 3px;
}

.set-tb-pills-row{
    margin-left:0px !important;
    margin-right: 0px !important;
}

/*nav-pills*/
.set-nav-pills{
    width:102%;
}
.set-nav-pills>li>a, .set-nav-pills>li>a:focus, .set-nav-pills>li>a:hover {
    color: #fff;
    background-color: #939394;
    text-decoration: none;
}
.pil.nav>li>a {
    padding: 14px 44.5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif !important;
}
.active {
    margin-top: 0;
    text-decoration: none !important;
}

.set-nav-pills li{
    margin-top:0px !important;
}

.set-nav-pills>li.active>a, .set-nav-pills>li.active>a:focus, .set-nav-pills>li.active>a:hover {
    color:#fff;
    background-color:#57af33 !important;
}
/*nav-pills*/

.setBox2hr{
    margin-top:1%;
}

.setColRow2{
    margin-top:10%;
}

/* battery bar css*/
.setCo11PP{

}
.setCol11para{
    position: absolute;
    font-size: 16px !important;
    left:30%;
    bottom:-10%;
    padding:8px;
    color: #7D7D7D;
}

.setColMD1{
    /*position: absolute;*/
    top:30%;
    left:15px;
    color: #57af33;
}

.setColMDrow2{
    position: absolute;
    top:74%;
    left:15px;
    color: #57af33;
}

.setHR{
    width: 100%;
}

.setCol2sm span{
    font-size: 14px;
    color:#7d7d7d;
}

/* calender css */
.setTBLE>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid !important;
}

.setTBLE>tbody>tr>{
    border: 0px solid #fff !important;
}

table {
    border-collapse: separate !important;
    border-spacing: 0;
}

.setTBLE > thead tr {
    background: #fff !important;
}
.setTBLE>thead{
    background-color: #fff !important;
}
.setTBLE>tbody>tr>td{
    color: #bbb9b9;
}
.setTBLE>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 7px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 0px solid #fff !important;
}

.setTRLast td{
    color: #57af33 !important;
}

/* calender css */

.setColMDrow2{
    position: absolute;
    top:74%;
    left:15px;
    color: #57af33;
}

.setspan0{
    position: absolute;
    bottom:0%;
    color: #57af33;
    margin:auto;
    text-align: center;
}

.setHr2{
    margin:0px !important;
}

.setColsm1{
    margin-top: 10%;
}

.setColsm1 p{
    color: #57af33;
}

.setcolparagraph{
    font-size: 14px;
    color:#7d7d7d;
    margin-top:10px;
}

.setCol11REPEAT{
    /*position: absolute;*/
    left: 8.3%;
}

.setCol11hrlast{
    margin-top: 3px;
    width: 110%;
    margin-left: -89px;
}

.setCol11hr{
    margin-top:3px;
}

.setSPNCOLOR{
    position: relative;
    left:2%;
    color: #4b5457;
    font-size: 16px;
}

.setSPNCOLOR0{
    color:#000;
}
/*battery bar css*/

/* section 2 */

.box2{
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
/* section 2 */


.set-PortLet-title{
    background-color: #fff !important;
}

.setdesc-div{
    line-height: 27px;
    margin: 3px;
    padding-top: 13px;
    padding-bottom: 40px;
}

.set-price{
    font-size:21px;
    color:#57af33;
    font-weight: bold;
}

.set-btn-div{

}

.set-btnbtn{
    padding:10px 30px !important;
    border-radius: 3px !important;
}

.set-description{
    padding: 15px !important;
    color: #7D7D7D !important;
}

.set-RoW-area{
    padding-top:30px;
}

.set-spn{
    color:#727272;
}

.set-Portlet-Body{
    padding:0px 15px 30px 0px !important;
}

.set-f-c-green{
    position: relative;
    top:-23px;
    left:-25px;
}

.setSpN-share-amount{
    position: absolute;
    font-size: smaller;
}

.set-Label-budget{
    font-size: smaller;
}

.set-difficulty-star{
    color:#57af33;
}

.set-title-name{
    font-weight: 500;
    position: relative;
    left: -35px;
    top:-8px;
}

.setf-c-gray-price-div{
    margin-top:-20px;
}

.set-offical-pro{
    margin:0px !important;
}

.set-skill-div .item-skill{
    height:15% !important;
}

.setRoww2{

}

.box2{
    overflow: scroll;
    overflow-x: hidden;
}


.setCol11para2{
    position: absolute;
    font-size: 16px !important;
    left: 31%;
    top: 0%;
    margin-top: 10px;
    color: #7D7D7D;
}
/* section 2 */

.setPauseContractH{
    max-height: fit-content;
}

.datepicker table tr td.new, .datepicker table tr td.new:active{
    color: #fff;
    font-size: 14px !important;
}


@media (max-width:1140px) and (min-width:992px)
{
    .setCard{
        width:100%;
    }
    .set-cardcontainer {
        height: 75px;
        width: 100%;
    }
    .setawhrow1 {
        margin-top: 10px;
        margin-right: 100px;
    }
    .set-col-md-12-box-last-2{
        /*display: grid;*/
        /*text-align: -moz-center;*/
        /*text-align: -webkit-center;*/
        /*margin-top:30px;*/
    }

    .set-tb-pills-row{
        overflow-x: scroll;
        height:55px;
    }

    .set-nav-pills{
        width:118%;
        max-width: max-content;
    }
}

@media (max-width:1084px)
{
    .setcol6whb {
        width: 100%;
    }
    .setinput6wcbh {
        width: 100%;
    }
    .setcol6whb2{
        width:100%;
    }
    .setinput7wcbh{
        margin-top:10px;
        width:100%;
    }
    .setcol4whb {
        width: 100%;
    }
    .setinput1col4whb {
        width: 100%;
    }
    .setcolwhb1 {
        width: 100%;
        text-align: center;
    }
    .setinput2col4whb {
        width: 100%;
    }
    .setlenghtofawhb{
        height:100% !important;
    }
    .setcolmd3whb{
        text-align:center;
        width:100%;
    }
    .setcolwhb6 {
        width: 100%;
    }
    .setwhbbtn1 {
        width: 100% !important;
    }
    .setwhbbtn2 {
        width: 100% !important;
        margin-top:5px;
    }
    .setcolwhb12 {
        padding-left: 0px;
        margin-top: 10px;
    }
    .setspnwbh2 {
         position:unset !important;
    }
}

@media (max-width:1035px)
{
    .setcol12dPad{
        text-align: center;
        width:100%;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        background-color: #f7f7f7 !important;
        height: 377px;
        position: relative;
        left: 0px;
    }
    .mySlides {
        margin: 3px !important;
        margin-left: 35px;
        background-color: #fff;
        height: 50px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 1.5px;
    }

    .next img {
        width: 20px;
        position: absolute;
        left: 30px;
        top: 90%;
    }

    .setcol12ATDDPAGE{
        text-align: center;
    }

    .setbtnbtnDT {
        background-color: #57b029 !important;
        font-family: 'Raleway', sans-serif !important;
        font-size: 14px !important;
        border-radius: 5px !important;
        width: 100% !important;
        height: 40px !important;
    }
    .setInputDDATD {
        width: 100%;
        height: 50px;
    }
    .inner-container {
        height: 301px;
        background-color: #f7f7f7;
        top: 55px;
        position: relative;
        width: 95%;
        margin: 0 auto;
        max-height: fit-content;
    }
    .setCol6WidthD{
        width:100%;
    }
    .setCol5WidthD{
        width:100%;
    }
    .setCol6-2D {
        width: 100%;
    }
    .setCol122D {
         margin-left: 0px;
        text-align: center;
    }
    .setinputad {
        width: 100%;
        height: 50px;
    }
    .setCol11-D2 {
        margin-left:0px;
        text-align: center;
    }
    .setcol6dt {
        text-align: center;
        width: 100%;
    }
    .setCol12001DD{
        text-align: center;
    }
}

@media (max-width:615px){

}

@media (max-width:991px) and (min-width:320px)
{
    .setTableDD{
        width: 200%;
        max-width: max-content;
    }
    .scrollDDPAGE{
        overflow: scroll;
        height:200px;
    }
    .vr02{
        display:none;
    }

    .set-main-row-col-4calender {
        padding: 2px 6px 0px 5px;
    }

    .setHRHRHR {
        width: 80%;
        position: absolute;
        top: 30px;
        left: 10%;
        background-color: #4b5457;
        font-weight: bold;
        height: 0.4%;
    }

    .setThisMoth{
        color: #4b5457;
        font-size: 14px !important;
        position: unset !important;
    }

    .datepicker,
    .table-condensed {
        width: 100% !important;
        padding-left:5px !important;
        padding-right:6px !important;
    }
    .setModalDialog2CCP {
        position: relative;
        top: 12%;
        width:734px;
    }

    .setModalDialogCCP {
        position: relative;
        top: 0%;
        width: 734px;
    }

    .setlabelCHCCP {
         position:relative;
         left: 0% !important;
    }
    .setlabeltextPCCP {
         position:relative;
         left: 0%;
         width: 100%;
    }
    .container-btn {
        top: 10%;
        left: 4%;
    }
    .container-btn2{
        top: 10%;
        left: 4%;
    }
    .setcol12endC {
        width: 100%;
    }
    .settextAenDc {
        width: 100%;
    }
    .setbtnendC{
        width:100% !important;
    }
    .setCard{
        width:100%;
    }
    .setW3Border {
        margin-top: 31px;
        background-color: #ececec;
        height: 5px;
        width: 74%;
        border-radius: 10px;
        position: absolute;
        z-index: -1;
    }
    .set-cardcontainer {
        height: 75px;
        width: 100%;
    }
    .setawhrow1 {
        margin-top: 10px;
        display: inline-flex;
        width: 100%;
    }
    .setawhcol2{
        width:100%;
    }
    .setawhcol4 {
        text-align: center;
        width: 100%;
    }
    .setawhcol3 {
        text-align: center;
        width: 100%;
    }
    .setawh3col {
        margin-top: 13px;
        width: 100%;
    }
    .set-rowicreasehourlyrate{
        height:790px;
    }
    .createBoxincreasehourlyRate {
        width: 100% !important;
        text-align: left;
    }
    .setisequalto {
        color: #808080;
        position: relative;
        top: 10px;
    }
    .createcommitBoxbonus{
        width:100% !important;
    }
    .set-Col3ihr{
        margin-left:15px !important;
        margin-top:10px;
    }

    .setcommitBonus {
        color: #808080 !important;
        font-size: 13px !important;
        font-family: Montserrat, sans-serif !important;
        width: 85px;
        position: absolute;
        left: 2%;
    }

    .SETContainer {
        /* position: absolute; */
        transform: translate(200%,15%) !important;
    }
    .seticreashourlyraterow2 {
        margin-left: 0px !important;
        display: flex !important;
    }

    .hourly_rate {
        width: 100%;
        height: 50px;
    }
    .commit_hour_bonus {
        width: 100%;
        height: 50px;
    }
    .setincreasehourlyratebtn {
        width: 100%!important;
        height: 40px !important;
        position: relative;
        right: 10px;
    }

    .setincreasehourlyRcol7 {
        margin-left: 26%;
        margin-top: -61px;
    }

    .settpsurow1{
        text-align: center;
    }

    .settpusforminput{
        width:100% !important;
    }

    .setbtntpsubtn2{
        width:100% !important;
        left:0px !important;
        top:1px !important;
    }

    .settpsurow2{
        display: block;
    }
    .setbtntpsubtn1{
        width:100% !important;
    }

    .settpsucol7{
        position: relative;
        left: 0%;
        top: -58px;
        margin-left: 40%;
    }
    .createBoxtopupsalary{
        width:100% !important;
        text-align: left;
    }
    .setbtnPauseContract{
        width:100% !important;
    }

    .set-row-col-6-fa-circle-1 {
        margin-left: 0px !important;
    }
    .set-para {
        margin-top: -13px;
        font-size: smaller;
        margin-left: 12px;
        text-align: center;
        margin-bottom: 15px;
    }
    .totalEarning span {
        font-size: 17px !important;
        position: absolute;
        color: #57af33 !important;
        right: 100% !important;
    }
    .setTotalHours {
        color: #4b5457;
        font-size: 12px !important;
        position: absolute;
        top: 27%;
        left: 10%;
    }

    .totalEarning {
        font-size: 14px !important;
        color: #4b5457;
        position: absolute;
        top: 27%;
        left: 50%;
    }
    .setTOTALEarning {
        font-size: 12px !important;
    }
    .set-col-md-12-box3 h1 {
        color: #494949 !important;
        margin-top: -10px;
        font-size: 60px !important;
    }
    .setTotalHours span {
        font-size: 17px !important;
        position: absolute;
        color: #57af33 !important;
        display: contents;
    }
    .setSetRowP1{
        text-align: center;
    }
    .setSetRowP3{
        text-align: center;
    }
    .set-row-btn-toggle-2{
        text-align: center;
    }
    .set-col-md-date {
        color: #4b5457;
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
    }

    .set-col-md-3{
        margin-top:30px;
    }

    .set-row-imge-screen-shoots {
        height: 155px;
        margin-left: -7px;
        margin-right: -7px;
    }

    .set-tb-pills-row{
        overflow-x: scroll;
    }

    .set-nav-pills{
        width:600%;
        max-width: max-content;
    }
    .set-skill-div .item-skill{
        height:15% !important;
    }
    .set-Row-PT{
        width:100%;
        line-height: 3;
        text-align: center;
    }

    .set-skill-div{
        line-height: 1;
    }

    .set-price-div{
        width:100%;
        text-align: center;
        line-height: 3;
    }

    .set-description {
        text-align: center;
    }

    .set-RoW-area {
        width:100%;
        text-align: center;
        line-height: 3;
    }

    .setdesc-div {
        line-height: 27px;
        margin: 3px;
        padding-top: 4px;
        padding-bottom: 6px;
    }

    .setSpN-share-amount{
        position: relative !important;
        font-size: smaller;
    }

    .setLBLBLB{
        position: unset;
    }

    .SETContainer {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 0%;
        left: 16%;
        display: flex;
    }

    .SETContainer2 {
        position: absolute;
        transform: translate(-50%,-33%);
        top: 54%;
        left: 16%;
        display: flex;
    }

    .setColxsHRP{
        width:100%;
    }

    .setColxsCCP{
        text-align:center;
        width:100% !important;
        display:contents;
    }

    .setColXsEC{
        width:100% !important;
    }

    .setWidthDART{
        width:100% !important;
    }

    .setTH2{
        text-align: center;
    }

    .setWidth{
        width:200% !important;
    }

    .setTBLESCROLL{
        overflow: scroll;
        height:200px;
        max-height: fit-content;
    }

    .setTBLESCROLL{
        overflow: scroll;
        height:200px;
        max-height: fit-content;
    }

    .setColXsWLP{
        width:100% !important;
    }
    .setRowMWHLP{
        text-align: center;
    }

    .setXsCol{
        width:100% !important;
    }

    .setColMd2LWHP{
        width:100% !important;
    }

    .setCol6MdLWHP{
        width:100% !important;
    }

    .setPPJDPAGEMRO{
        text-align:center;
    }

    .setBTNJDPAGEMROP{
        width:100% !important;
        position: inherit !important;
        text-align-last: center;
        right:0px !important;
    }

    .setPageContentWrapperMROPAGE{
        margin-top:40px;
    }
    .setSKILLMRECEVIXOPAGE{
        text-align:center;
    }
    .setCol12MRECEVIEORDEPAAGE{
        height:120px;
        /*overflow: scroll;*/
    }
    .setLANGUAGEMORPAEG{
        text-align:center;
    }
    .setLANGCol12{
        text-align: center;
    }
    .setB2{
        display:none;
    }
    .setB3{
        display:none;
    }
    .setDEscriptionMORP{
        text-align: center;
    }
    .setColXS{
        width:100% !important;
    }
    .setBNBNJDP{
        width:100% !important;
        margin:5px;
    }
    .setROWNEWMILSTONE{
        text-align: center;
    }
    .setULNAVTBS{
        height:95px;
        overflow: scroll;
    }
    .setULNAVTBS ul{
        width:200%;
        display: flex;
    }

    .setULNAVTBS ul li {
        margin-top: 30px;
        border-right: 0px solid #ddd !important;
        height: 40px;
        padding: 0px 50px 8px 5px !important;
        width: 185px !important;
    }

    .setULNAVTBS li a{
        width:185px;
    }
    .setULNAVTBS li{
        padding:2px !important;
    }
    .setTBLEMRJOP{
        overflow: scroll;
        max-height: fit-content;
        max-height: -moz-fit-content;
    }
    .setProfileUserPICJDP{
        display:inline-block;
    }
    .setContactsINFO .contacts-info-sub{
        padding:10px;
    }
    .setJDPBUTTON1{
        width:100% !important;
        margin-left:0px !important;
        margin:5px;
    }

    .setTH3{
        text-align: center;
    }

    .set-Row-Portlet-body{
        width:100%;
        text-align: center;
    }

}

@media (max-width:897px) and (min-width:813px)
{
    .set-row-imge-screen-shoots {
        height: 155px;
        margin-left: -5px;
        margin-right: -6px;
    }
}

@media (max-width:737px)
{
    .createBoxincreasehourlyRate {
        width: 100% !important;
        text-align: center;
        height: 285px;
        margin-top:-45px;
    }
    .setHrihr {
        position: relative;
        top: -15px;
        border: 1px solid #666666;
        opacity: .5;
        width: 100%;
    }
    .set-rowicreasehourlyrate{
        height:820px;
    }
    .setisequalto {
        color: #808080;
        position: relative;
        top: 0px;
    }
    .setihpsucol4 {
        width: 100% !important;
    }
    .setcurruntrateihrBox {
        margin-left: -15px;
        margin-top: -10px;
        text-align: center;
    }
    .setincreasehourlyRcol7 {
         margin-left: 0% !important;
         margin-top: 0px !important;
    }
    .setPlus {
        color: #666666;
        position: absolute;
        font-size: 21px;
        top: -10px;
        left: 50%;
    }
}

@media (max-width:812px) and (min-width:677px)
{
    .set-col-md-3 {
        margin-top: 45px;
        width: 50% !important;
    }

    .set-Image-screen-shoot {
        width: 90%;
        height: 164px;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }
}

/*@media (max-width:566px){*/
    /*.setawh3col {*/
        /*margin-top: 0px;*/
    /*}*/
    /*.setlabel5pb2 {*/
        /*color: #9bcb64 !important;*/
        /*font-family: Montserrat, sans-serif !important;*/
        /*font-size: 10px !important;*/
        /*width: 10px;*/
    /*}*/
    /*.setlabel5pb1 {*/
        /*color: #2aae2a !important;*/
        /*font-family: Montserrat, sans-serif !important;*/
        /*font-size: 10px !important;*/
        /*width: 10px;*/
    /*}*/
    /*.setlabel5pb {*/
        /*color: #fe6f42 !important;*/
        /*font-family: Montserrat, sans-serif !important;*/
        /*font-size: 10px !important;*/
        /*width: 10px;*/
    /*}*/
/*}*/

@media (max-width:750px)
{
    .setModalDialogCCP {
        position: relative;
        top: 0%;
        width: auto !important;
    }
    .setModalDialog2CCP {
        position: relative;
        top: 12%;
        width: auto;
    }
}

@media (max-width:676px) and (min-width:320px)
{
    .setawhrow1 {
        margin-top: 10px;
        display: block;
        width: 100%;
    }
    .set-cardcontainer {
        height: 100%;
        width: 100%;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .setawhcol2 {
        width: 100%;
        /* text-align: left; */
    }
    .setw3colo2 {
        height: 5px;
        background-color: #2aae2a;
        border-radius: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .setw3colo1 {
        height: 5px;
        background-color: #fe6f42;
        border-radius: 10px;
        margin-left: 0px;
    }
    .setw3colo3 {
        height: 5px;
        background-color: #9bcb64;
        border-radius: 10px;
        margin-right: 0px;
    }
    .setlabel0bh {
        font-family: Montserrat, sans-serif !important;
        font-size: 10px !important;
        color: #808080 !important;
        padding-left:0px;
    }
    .setfooter {
        border-top: 1px solid #ececec;
        height: 100%;
        padding: 0px;
    }
}

@media (max-width:676px) and (min-width:500px)
{
    .set-col-md-3 {
        margin-top: 45px;
        width: 50% !important;
    }

    .set-Image-screen-shoot {
        width: 90%;
        height: 110px;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 75% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }
}

@media (max-width:537px) {
    .createBoxtopupsalary {
        width: 100% !important;
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
        height: 270px !important;
    }
    .settpsucol7 {
         position: relative;
         left: 0%;
         top: 0px;
         margin-left: 0%;
    }
}

@media (max-width:366px)
{
    .createBoxtopupsalary {
        width: 100% !important;
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
        height: 290px !important;
    }
}

@media (max-width:332px)
{
    .setrowflb{
        margin-top:-20px;
    }
    .createBoxtopupsalary {
        width: 100% !important;
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
        height: 350px !important;
    }
}

@media (max-width:499px) and (min-width:320px)
{
    .set-Image-screen-shoot {
        width: 90%;
        height: 162px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-col-md-3 {
        margin-top: 45px;
        width: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }
}

@media (max-width:440px) and (min-width:375px)
{
    .setRowNewMileS {
        height: 600px;
    }


    .set-rowicreasehourlyrate {
        height: 900px;
    }

    .set-Image-screen-shoot {
        width: 90%;
        height: 108px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-col-md-3 {
        margin-top: 10px;
        width: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 80% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }
}

@media (max-width:374px) and (min-width:320px)
{

    .totalEarning span {
        font-size: 17px !important;
        position: absolute;
        color: #57af33 !important;
        right: 80% !important;
    }

    .table-condensed {
        border-collapse: unset !important;
        border-spacing: 2px !important;
    }
    .datepicker table tr td, .datepicker table tr th {
        text-align: center;
        width: 30px;
        height: 25px !important;
        border-radius: 4px;
        border: none;
    }
    .setbtnApply {
        float: right;
        position: relative;
        right: 20px;
        top: -5px !important;
    }

    .setcb {
        color: #666666;
        font-size: 12px !important;
        font-family: Montserrat, sans-serif !important;
        margin-top: 11px;
    }
    .createBoxincreasehourlyRate {
        width: 100% !important;
        text-align: center;
        height: 320px;
        margin-top: -45px;
    }
    .setRowNewMileS {
        height: 660px;
    }

    .set-rowicreasehourlyrate {
        height: 1020px;
    }
    .set-Image-screen-shoot {
        width: 90%;
        height: 72px;
    }
    .set-col-timeDate{
        width:100% !important;
    }

    .set-time-screen-shot {
        font-size: 9px;
        color: #4b5457 !important;
    }

    .set-col-md-3 {
        margin-top: 10px;
        width: 100% !important;
        margin-bottom: -54px;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 70% !important;
    }


    .set-delete-icon{
        font-size: 14px;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 12px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 12px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 12px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }
}


@media (max-width:322px){
    .SETContainer2 {
        position: absolute;
        transform: translate(-50%,-33%);
        top: 51%;
        left: 16%;
        display: flex;
    }
}

@media (max-width:508px) and (min-width:434px)
{
    .setULNAVTBS ul {
        width: 250%;
    }
}

@media (max-width:433px) and (min-width:320px)
{
    .setULNAVTBS ul li.active .setLI{
        border: 2px solid #57b029;
        color: #57b029;
        text-align: center;
        height:auto;
        width: 185px !important;
        padding: 8px;
        font-size: 12px;
    }

    .setULNAVTBS ul {
        width: 285%;
        padding: 30px 0px 30px 0px;
    }
}

@media (max-width:411px) and (min-width:320px)
{
    .setBNBNJDP {
        width: 100% !important;
        margin-left:0px !important;
        margin:5px;
        top:10px !important;
    }
}
.clear{
    clear:both;
}

@media (max-width:398px){
    .tbleWidth {
        /* width: 150% !important; */
        overflow: scroll;
        height: 300px;
    }
    .setwhbbtn2 {
        font-size: 10px !important;
    }
    .setwhbbtn1{
        font-size: 10px !important;
    }
}

/* responsive calendar */
.inactive {
    background-color: lightgray;
}


.tab-content{
    margin-bottom: 100px !important;
}


@media (max-width:375px) and (min-width:320px)
{
    .set-col-md-12-box3 h1{
        font-size: 50px !important;
    }
}