.vr-1 {
    width: 1px;
    background-color: #ddd;
    height: 390px;
    position: absolute;
    top: 1.5% !important;
    bottom: 0;
    right: 67% !important;
    opacity: .3;
}

.setB2 {
    position: absolute;
    height: 85%;
    border: 0.5px solid #ddd;
    left: 33%;
    top: 7%;
    opacity: .3;
}
.setB3 {
    position: absolute;
    height: 85%;
    border: 0.5px solid #ddd;
    left: 67%;
    top: 7%;
    opacity: .3;
}
.setContactInfo {
    margin-left: 10px;
    position: relative;
    top: -60px;
}
.setuserbasicinfo {
    padding-left: 115px;
}
.set-sub-con {
    position: relative;
    top: -6px;
    font-size: 14px !important;
    color: #57af33;
}
.set-spnof-JMp {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color: #999999 !important;
}
.fa-star {
    color: #57af33 !important;
    font-size: 14px !important;
}
.full-name {
    color: #373737 !important;
}
.set-This-small {
    font-family: Montserrat, sans-serif !important;
    font-size: 12px !important;
    color: #999999 !important;
    position: relative;
    top: -5px;
}
.setSmall {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color: #373737 !important;
    font-weight: normal !important;
}
.basic-info .btn-green-bg-white-text {
    position: absolute;
    top: 10px;
    right: 30px !important;
}
.set-row-main-2 {
    position: relative;
    top: -25px;
}
.set-row-main-3 {
    position: relative;
    top: -40px;
}
.set-row-main-4 {
    position: relative;
    top: -55px;
}
.set-spn2-JMP {
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    color: #999999;
}
.set-row-main {
    position: relative;
    top: -10px;
}
.prising-section {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin: 0px 0px !important;
}

.set-mainrow-span1 {
    color: #666666;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

@media (max-width:991px)
{
    .set-col-8-right-area {
        width: 100% !important;
    }
    .setBNTNPJMBP {
        width: 100% !important;
        position: inherit !important;
        left: 0px !important;
    }
    .set-col-btn-8 {
        display: flex;
        position: relative;
        top: -40px;
    }
    .set-col-4-top {
        position: relative !important;
        top: 3px !important;
    }
    .vr-1{
        display:none;
    }
    .setuserbasicinfo {
        padding-left: 20px !important;
    }
    .set-row-main {
        display: initial;
    }
    .setB2{
        display:none;
    }
    .setB3{
        display:none;
    }
    .setProfileUserPICJDP {
        display: inline-block;
    }
}