html:lang(en) body,
html:lang(en) h1,
html:lang(en) h2,
html:lang(en) h3,
html:lang(en) h4,
html:lang(en) h5,
html:lang(en) h6,
html:lang(en) p, small,
span html:lang(en) .sub-heading,
html:lang(en) .btn html:lang(en) .label{
    font-family: 'Raleway', sans-serif !important;
}

.setfiledispute{
    color:#000000;
    font-family: 'Raleway',Sans-Serif !important;
    font-size:36px;
}

.setWHMD{
    width:571px;
    height:713px;
}

.thumbImages{
    padding-left:0px;
}

.scroll-div{
    overflow: hidden;
    width: auto;
    height: 200px;
    max-height: fit-content;
}

.setcol5With{
    width:35%;
}

.setCol7Width{
    width: 65%;
}

.setFDPP{
    margin-bottom:30px;
}

.uploadImage {
    background-color: #efefef;
    height: 80px;
    border-radius: 5px;
}
.plusIcon {
    display: block !important;
    margin: 0 auto;
    border: 1px solid;
    width: 21px;
    padding: 4px 10px 2px 4px;
    border-radius: 50%;
    color: #61AF2C;
    margin-top: 25px;
    cursor: pointer;
}

.textforpara{
    font-family: 'Raleway',Sans-Serif !important;
    font-size:24px;
    color:#57b029 !important;
}

.setbtnbtnfiledP1{
    width:165px !important;
    height:53px !important;
}
.setbtnbtnfiledP2{
    width:165px !important;
    height:53px !important;
}

.setCol12FDP{
    padding-left:14px;
    margin-bottom:20px;
}

.setspnfileD0{
    color:#57b029 !important;
    font-family: 'Raleway',Sans-Serif !important;
    font-size: 16px;
}

.setspnfileD1{
    color:#949ba6 !important;
    font-family: 'Raleway',Sans-Serif !important;
    font-size: 16px;
}

.setformgroup1{
    padding-left: 14px;
}

.setformgroup01{
    padding-left:14px;
    margin-top:-20px;
}

.usercomment{
    height:160px !important;
    width:517px;
    border-radius: 5px;
}

.setFormFileDisputeM{
    text-align: -webkit-center;
    text-align: -moz-center;
}

.m-0{
    margin: 0px;
}
.p-0{
    padding:0px;
}
.plr-0{
    padding-left: 0px;
    padding-right: 0px;
}
.pl-0{
    padding-left: 0px;
}
.evidence-main-part{
    padding:25px;
}
.evidence-title-section h1{
    font-size:30px;
    color:#61AF2B;
    font-weight: 500;
}
.evidence-box-section,.evidence-box{
    padding:28px 10px;
    border-radius:8px;
}
.evidence-box-section{
    /*padding:25px 20px;*/
}
.evidence-box{
    background-color: #F0F0F0;
}
.evidence-box p{
    margin-bottom:5px;
    color:#181818;
    font-size:24px;
}
.evidence-box span{
    color:#61AF2B;
    font-size:18px;
    font-weight:500;
}
.evidence-admin-section{
    margin-top: 30px;
    padding-bottom:80px;
}
.evidence-description-section{
    padding-left: 0px !important;
}
.evidence-admin div{
    width: 130px;
}
.evidence-admin img{
    border:5px solid #F7F7F7;
    /*padding:20px;*/
    background-color:#FAFAFA;
    height: 125px;
    width: 125px;
}
.evidence-description-section p{
    margin-bottom:5px;
    color:#181818;
    font-size:23px;
    font-weight: 500;
}
.label-success{
    background-color: #5BB528;
    font-size:15px;
    font-weight: normal;
}
.evidence-user-description-section-main{
    padding:35px 0px;
    border-top:2px solid #F3F3F3;
}
.evidence-user-section img{
    height:125px;
    width:125px;
    margin-top:5px !important;
    border-radius: 50%;
    border:5px solid #F7F7F7;
}
.evidence-user-description-section h2{
    margin:5px 0px 18px 0px;
    font-size: 25px;
    color:#181818;
    font-weight:500;
}
.evidence-user-description-left{
    margin-left: 0px;
}
.evidence-user-description-left .second-user-title{
    padding:100px 0px -10px 0px !important;
}
.evidence-user-description-left .evidence{
    color:#000;
    font-weight: 500;
    font-size:18px;
}
.evidence-user-description-left .update-date{
    font-size:15px;
    color:#8A8A8A;
}
.user-label{
    font-weight: 500;
    border-radius:20px;
    font-size:14px;
    padding:8px 20px;
    text-transform: unset;
    margin-bottom:10px !important;
}
.user-discription{
    margin-bottom:30px;
}
.user-discription span{
    position:relative;
    top:15px;
    color:#7D7D7D;
    font-weight:500;
}
.item-skill,.item-skill-second{
    float:unset;
    margin-left:7px;
    color:#BDBDBD;
    font-size:17px !important;
    text-align: center;
    padding:7px 32px 11px 29px !important;
}
.item-skill-second{
    padding:7px 18px 8px 15px !important;
}

.download-btn .btn-color-custom:hover,
.btn-color-custom{
    background: #58AF2A;
    text-transform: none;
    color: #fff;
    border: 3px solid #58AF2A !important;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
    line-height: 22px !important;
    padding: 12px 10px;
    width:160px;
}
.download-btn .btn-color-non-custom:hover,
.btn-color-non-custom{
    background: #fff;
    color: #4E9E25;
    border:3px solid #4E9E25 !important;
    font-weight: bold;
    border-radius: 5px;
    line-height: 22px !important;
    min-width: 100px;
    text-transform: unset;
    font-size:18px;
    padding: 12px 10px;
    margin-right: 10px;
    width:160px;
}
.btn-color-custom:focus{
    color:#fff;
}
.btn-color-non-custom:focus{
    color: #4E9E25;
}
.upload-box-section{
    margin:5px 0px 25px 0px;
}
.upload-box-section .upload-box{
    width:120px;
    background-color: #F0F0F0;
    font-size:20px;
    color:#58AF2A;
    border-radius:5px;
    text-align: center;
    padding:0px 0px;
    float:left;
    margin-right:12px;
    height: 90px;
    margin-top: 6px;
}
.upload-btn-wrapper button:hover{
    cursor: pointer !important;
}
.upload-btn-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload-btn-wrapper .btn {
    border: 2px solid gray;
    color:#58AF2A;
    background-color: #F0F0F0 !important;
    padding:23px 45px;
    border-radius:5px;
    font-size: 20px;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.upload-btn-wrapper button i{
    border:2px solid #58AF2A;
    border-radius: 50%;
    padding:4px 3px;
}

.setImageDisputeFileE{
    width:100px;
    height:60px;
}

.searchFa:before{
    position: relative;
    top: 39px;
}

.removeAttachment{
    color: red;
    cursor: pointer;
    position: relative;
    top: -40px;
    left: 23px;
}

@media (max-width:991px){
    .download-btn{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .setCol12FDP{
        margin-top:12%;
        margin-bottom: 0px;
    }

    .setcol5With{
        width:100%;
    }

    .setCol7Width{
        width: 100%;
    }
    .setbtnbtnfiledP1 {
        width: 100% !important;
        height: 53px !important;
    }
    .setbtnbtnfiledP2 {
        width: 100% !important;
        height: 53px !important;
        margin-top:10px;
    }
}

@media (max-width:767px)
{
    .setWHMD {
        width: 95%;
        height: 713px;
    }
    .usercomment {
        height: 160px !important;
        width: 100%;
        border-radius: 5px;
    }
    .uploadImage {
        background-color: #efefef;
        height: 80px;
        border-radius: 5px;
        padding: 1px;
    }
    .setformgroup01 {
        padding-left: 14px;
        margin-top: 0px;
    }
    .setCol12FDP {
         margin-top: 0%;
        margin-bottom: 0px;
    }
}

@media (max-width:411px)
{
    .setbtnbtnfiledP2 {
        width: 100% !important;
        height: 53px !important;
        margin-top: 10px;
        margin-left: 0px;
    }
}