.portlet.box{
	padding: 30px !important;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.10) !important;
}
.caption .count-record {
    color: #57B029;
    margin: 0px 0px 0px 10px;
}
.page-content {
    margin-top: 20px !important;
}

.find-expert-box {
    padding: 20px 35px !important;
    background-color: #FFF;
}

.btn-success-color {
    margin-top: 15px;
    background-color: #57b029 !important;
    color: #fff;
    border: 2px solid #57b029 !important;
    width: 120px;
    padding: 9px 0px;
    text-transform: unset;
    border-radius: 3px;
}

.btn-default-color {
    border-radius: 3px;
    margin-top: 15px;
    padding: 9px 0px;
    width: 120px;
    border: 2px solid #57b029 !important;
    color: #57b029;
    background-color: #fff;
    text-transform: unset;
}

.right-content{
	text-align: right;
}
.right-content .bottom-btn{
	position: absolute;
	bottom: 0px;
	right: 15px;
}

.right-content .fa-star {
    color: #f4b00e;
    font-size: 24px;
    font: normal normal normal 25px/1 FontAwesome;
}
.right-content-btn{
	padding-top: 10px;
	min-height: 196px;
	position: relative;
}
.right-content-btn.right-content-btn-big{
	min-height: 288px;
}
.skill{
    margin: 20px 0px;
}
.skill-div{
    display: inline;
    float: left;
    height: 30px !important;
    margin-right: 5px;
}
.item-skill{
    background-color: #fff;
    border: 1px solid #dedede;
    color: #909090;
    display: inline;
    float: left;
    font-size: 14px !important;
    list-style: outside none none;
    margin: 0px 5px 5px 0;
    height: auto !important;
    padding: 4px 15px !important;
    border-radius: 25px;
}
.project-name{
	padding-bottom: 5px;
}
.middel-content .project-name h4{
	padding-left: 50px !important;
}
.project-name img{
	float: left;
	width: 35px;
	position: absolute;
	top: 0px;
}
.description{
	padding-top: 5px;
    text-align: justify;
    color: #5a5a5a;
}
.price-div-sm{
	line-height: 22px;
}
.top-smoll{
    color: #808080;
}
.top-smoll .price{
    color: #4E9E25;
}
.top-smoll .type{
    color: #5a5a5a;
}
.user-content-footer img{
	float: left;
	border-radius: 50%;
}
.user-content-footer p{
	color: #808080;
	padding-left: 15px;
	float: left;
	line-height: 18px;
	margin: 0px;
}
.user-content-footer p span{
	color: #5a5a5a !important;
	padding-left: 0px;
}
.user-content-img img{
	width: 160px;
}
.user-content-budget{
	padding: 40px 15px;
}
.user-content-budget span{
	color: #5a5a5a;
}
.user-content-budget h3{
	color: #59af28;
	margin: 0px;
	padding: 3px 0px 5px 0px;
}
.user-content-budget .share{
	color: #D1D1D1;
}
.middel-content .description{
	padding-top: 10px;
}

.middel-content .possition,
.middel-content .defficulty{
	padding-top: 15px;
	color: #62B02A;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}

.setSCROLLDIVDESC{
    overflow: hidden auto;
    max-height: 250px;
}
.setColROWFJPAGECol12{
    padding-left: unset;
}

.setFPJOBIMAGE{
    padding-left: 20px;
    margin-top:-30px;
}

.setFJPAGEFJY{
    padding: 115px 0px;
    color:#808080;
}
.setFJPCol4Span{
    padding-left:0px;
}

.setMAINMENU{
    font-weight: bolder !important;
}

@media(max-width:1029px) {
    .setFJOBS{
        margin-left:36%;
    }
}

.setMAINMENU{
    font-weight: bolder;
}
.setFJOBS{
    font-weight: bolder !important;
}
 .setBTNCD{
    margin-bottom: 20px !important;
}

.setCol12 {
    margin-top: 4.5%;
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setPageContent
    {
        position: relative;
        top:10px;
    }

    .setCol12 {
        margin-top: 3.3%;
    }
}

.setMAINMENU{
    font-weight: bolder;
}

@media (max-width:991px) and (min-width:320px)
{
    .page-container{
        margin: 0px !important;
    }
    .setFJOBS{
        margin-left:0%;
    }
    .setCol9RPP{
        text-align: -webkit-center;
        margin-top:5%;
    }
    .setMAINMENU{
        display:none;
    }
    .setPCWFJ{
        text-align: -webkit-center;
    }
    .setBTNFJOBS{
        width:100% !important;
    }
    .setUSERCONTENTFOOTER{
        display:inline-grid;
    }
    .setCOL12DIVSKILL{
        display: inline-block;
    }
    .setSCROLLDIVDESC{
        text-align: -webkit-center;
    }
    .setPriceDIV{
        display:inline-grid;
    }
    .setBTNCD {
        width: 100% !important;
        right: 0px !important;
        margin-bottom: 20px !important;
    }
    .setCol12FAFAStar{
        text-align: -webkit-center;
    }
}
