.page-sidebar-wrapper {
    display: none !important;
}

.setLiFBPCBTN{
    position: absolute !important;
    left:80% !important;
    top:20px;
    padding-right: 0px !important;
}

.setLiFBPCBTN:hover{
    text-decoration: none !important;
    text-underline: none !important;
    border-bottom: 0px !important;
}

.textfeedbackPage {
    display: block;
    color: #989898 !important;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 600;
}

.page-contant {
    margin: 0px;
}

.title {
    padding: 0px;
}

.setFeedback{
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
}
.setHistory{
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
}

.title h3 {
    font-weight: 500;
    color: #666666;
    font-size: 24px;
    font-family: Montserrat, sans-serif !important;
}
.chat-room-div{
    position: relative;
    left:20px;
    width:70% !important;
}

.set-col-md-3PJ{
    position: relative;
    left:30px;
}

.setPBHTABLEFBP thead tr{
    color:#666666;
    font-family: Montserrat, sans-serif !important;
}

.setPBHTABLEFBP tbody tr{
    color:#666666;
    font-weight: bold;
    font-family: Montserrat, sans-serif !important;
}

.set-Main-Div{
    border-radius: .5% !important;
}

.box-shadow {
    border-radius: .5% !important;
    box-shadow: 0px 2px 2px 3px #EDEDED !important;
}

.tabbable-line{
    padding-top:6px !important;
}


.title h4 {
    color: #7F7F7F;
    line-height: 32px;
    font-size: 18px;
    font-family: Montserrat, sans-serif !important;
}

.body-box {
    background: #fff;
    box-shadow: 0px 0px 5px 0px #F1F1F1;
    margin-top: 30px;
    border-radius: 5px;
    padding: 50px 35px 35px 35px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.form-field label {
    color: #6f6f6f;
    font-size: 15px;
    margin-bottom: 10px;
}

.form-control {
    height: 40px;
    border: 1px solid #e5e5e5;
}

.form-group textarea {
    height: 150px;
}

.search-selectbox {
    height: 40px;
}

.search-selectbox::after {
    color: #C7C7C7 !important;
}

.screenshot {
    border-radius: 5px;
}

.screenshot img {
    border-radius: 5px;
    width: 150px;
    height: 100px;
}

.screenshot_add {
    background: #EFEFEF;
    text-align: center;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.screenshot_add input[type='file'] {
    display: none;
}

.screenshot_add i {
    border-radius: 50%;
    border: 2px solid #61AF2C;
    padding: 6px;
    color: #61AF2C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mt-action-author span {
    position: relative;
    top: -5px;
}

.chat-room-div .scroller .chats li .body {
    margin-top: 5px;
}

.history .table .btn:hover,
.history .table .btn {
    margin-right: 0px !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 3px;
    padding: 0px;
    color: #fff;
}

.history .table .btn.default {
    background: #ACACAC;
    border-color: #ACACAC !important;
}

.no-feeback-sect
{
    padding: 200px;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    border-radius: 5px;
}

.tab-content
{
    background-color: #fcfcfc;
}

@media (max-width:420px) and (min-width:320px)
{
    .setPBTABLETD5{
        padding:0px !important;
    }
}

.setFBCKPAGESS{
    display:none;
}

.setFBPAGEPRR{
    padding-top: 15px;
}
.setFBPAGECol12{
    padding:0px;
}
.setFEEDBACKPAGECS{
    display:block;
}
.setPBFBPAGESC{
    height: 525px;
}
.setIMAGEAVAFBPFF{
    width: 55.38px;
    height: 55.68px;
    position: relative;
    top:-4px;
}
.setFBACKPAGEMTA{
    display: unset;
}

.setPBTABLETD5 a{
    display:inline-block;
}

@media (max-width: 780px){
    .no-feeback-sect{
        padding:50px 0px;
    }
    /*.page-container{*/
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
    /*}*/
    footer{
        padding: 0px 15px;
    }
    .title div{
        width: 100%;
        text-align: right;
        padding-bottom: 10px;
    }
}

.navbar-nav > li > a.normal-link {
    margin-top: -1px;
}

@media (max-width:1199px){
    .page-contant {
        margin: 10px;
    }
    .navbar-nav > li > a.normal-link {
        margin-top: -1px;
    }
}

@media (max-width:991px) and (min-width:600px)
{
    .setUPLDBTNC{
        width:5% !important;
    }
}

@media (max-width:599px) and (min-width:499px)
{
    .setUPLDBTNC{
        width:6% !important;
    }
}

@media (max-width:498px) and (min-width:399px)
{
    .setUPLDBTNC{
        width:10% !important;
    }
}

@media (max-width:398px) and (min-width:320px)
{
    .setUPLDBTNC{
        width:13% !important;
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .setLiFBPCBTN {
        position: relative !important;
        width: 100%;
        position: absolute;
        top: 0px !important;
        left: 0px !important;
    }

    .main-tabs-div .tabbable-line > .nav-tabs > li {
         padding: 0px !important;
        position: relative;
        left: 20px;
    }
    .setTitle{
        text-align: center;
    }
    .setFBPAGEBTN{
        top:32px !important;
    }
    .setFBPC{
    }
    .setFBPBTN {
        width: 100% !important;
    }

    .setPBHTABLEFBP{
        overflow: scroll;
        height:auto !important;
    }
    .set-col-md-3PJ {
        position: relative;
        left: 0px;
    }
    .chat-room-div {
        position: relative;
        left: 0px;
        width: 100% !important;
    }
    .setFBPAGEPRR {
        padding-top: 15px;
        float:none !important;
    }
}


.setAJAXLOADER{

}

.preloader_bg{
    width:150px;
    height:150px;
    background: url('images/loader_bg.png') no-repeat;
    position: relative;
    left:39%;
    top:24%;
}
.qp-circular-loader {
    width:150px;
    height:150px;
}
.qp-circular-loader-path {
    stroke-dasharray: 58.9;
    stroke-dashoffset: 58.9;

}


.qp-circular-loader, .qp-circular-loader * {
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
.qp-circular-loader {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 4000.00ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fillunfill {
    from {
        stroke-dashoffset: 58.8

    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -58.4

    }
}
@-webkit-keyframes rot {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@-webkit-keyframes colors {
    from {
        stroke: #f5a52b;
    }
    to {
        stroke: #f5a52b;
    }
}
.qp-circular-loader-path {
    -webkit-animation-name: fillunfill, rot, colors;
    -webkit-animation-duration: 1333ms, 5332ms, 5332ms; /* ARCTIME, 4*ARCTIME, 4*ARCTIME */
    -webkit-animation-iteration-count: infinite, infinite, infinite;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
    -webkit-animation-play-state: running, running, running;
    -webkit-animation-fill-mode: forwards;
}

/*.loader {*/
    /*text-align: center;*/
    /*border: 16px solid #f3f3f3;*/
    /*border-radius: 50%;*/
    /*border-top: 16px solid #3498db;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*position: relative;*/
    /*left:45%;*/
    /*top:35%;*/
    /*-webkit-animation: spin 2s linear infinite; !* Safari *!*/
    /*animation: spin 2s linear infinite;*/
/*}*/

/*!* Safari *!*/
/*@-webkit-keyframes spin {*/
    /*0% { -webkit-transform: rotate(0deg); }*/
    /*100% { -webkit-transform: rotate(360deg); }*/
/*}*/

/*@keyframes spin {*/
    /*0% { transform: rotate(0deg); }*/
    /*100% { transform: rotate(360deg); }*/
/*}*/