.personal-info{
    background-color: #fff;
}

.setScroller{
    height:100px !important;
}

.set-fa-fa-fa-serach{
    position: absolute !important;
    right: 15px !important;
    top: 37% !important;
}

/*shared office popover*/


.set-p-fep{
    word-wrap: break-word;
}

.set-users-icon-image{
    width:20px !important;
    height:100% !important;
    border-radius: 0px !important;
    margin-top:2px !important;
}

.sharedofficeImage{
    width: 85px !important;
    border-radius: 1px !important;
    height: 45px !important;
    margin-top:0px !important;
}

.set-col-md-12-shared-0ffice-name{
    padding-top:2px !important;
}

.set-shared-office-name-fEp{
    font-size: 13px;
    word-wrap: break-word;
    color:#555;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
    margin-left:20px;
}
.set-shared-office-location-image{
    width: 9px !important;
    height: 11px !important;
    margin-top: 4px !important;
}

.set-col-md-12-shared-0ffice-location{
    display: flex;
}

.location-name-shared-office{
    font-size:13px;
    font-family: Montserrat, sans-serif !important;
    margin-left:4px;
    word-wrap: break-word;
}
.set-reviews-shared-office-box{

    color:#555;
    font-size:14px;
    text-transform: lowercase !important;
    margin-left:5px;
    font-family: Montserrat, sans-serif !important;
}

.set-fa-fa-star-sharedOffice-active{
    font-size: 12px;
    color:yellow !important;
}

.set-fa-fa-star-sharedOffice{
    font-size: 12px;
    color:#cccccc;
}

.set-col-md-7-shared-office-rating{
    padding-left: 0px;
    padding-right: 0px;
    width: 40%;
    margin-left: 14px;
}

.sharedOfficePopover{
    position: relative;
    display: inline-block;
}

.set-fa-fa-caret-left{
    position: absolute;
    left: -8px;
    font-size: 24px;
    top: 31px;
    color: #fff;
    text-shadow: -6px 0px 11px #ecf9e4;
}

.sharedOfficeBox{
    margin-left: 51px;
    margin-top: -31px;
    display:none;
    position:absolute;
    background-color:#fff;
    min-width:204px;
    box-shadow: -6px 2px 13px -4px #ecf9e4;
    z-index:1;
    border-radius: 5px;
    border:1px solid #F1F1F1;
    padding:11px 6px;
}
.sharedOfficePopover:hover .sharedOfficeBox {display: block;}

.sharedOfficePopover:hover .set-users-icon-image {}

.sharedOfficeBox:hover{
    display: block;
}
/*shared office popover*/

.order-status-menu{
    padding-top: 10px;
}

.setHeartactiveFree{
    position: absolute;
    right:10%;
    top:1px;
}

.setCol12FEP{
    margin-top:12px;
}
.find-expert-box-new{

}

.setHeart{
    position: absolute;
    right:10%;
    width:29px;
    height:30px;
    top:1px;
}

.setcol9SearchBox{
    width:65%;
    margin-bottom:10px;
}

.setcol12searchBoxP{
    margin-top:10px;
}

.setUDETAILSDESC{
    min-height: 70px;
}
.setFEXPERTPAGEIMAGE{
    margin:unset; float:unset;
}

.order-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}

.order-status-menu li.active {
    border-bottom: 5px solid #008fd5;
}

.portlet.box{
    background-color: #FFF;
}

.find-expert-box {
    padding-top: 20px !important;
    /*padding-bottom: 20px !important;*/
    background-color: #FFF;
}
/*
    Comment info
*/
.portlet.box > .portlet-title{
    color: #000;
}

.gray-box{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.complete-time, .order-id{
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.column{
    padding-top: 10px;
    padding-left: 35px;
}

.new-order a:hover{
    text-decoration: none;
}

.link{
    padding-left: 10px;
    padding-right: 10px;
}

.location{
    color: #999999;
}

.delete-info{
    padding-top: 10px;
}

.commenter li{
    display: inline;
    list-style: none;
    background-color: #659be0;
    color: #ffffff;
    padding: 5px;
}

/*
    personal info
*/
.personal-profile{
    padding-left: 35px;
    padding-right: 15px;
}

.personal-profile .gray-box{
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-profile ul{
    padding: 0px;
    margin-top: 10px;
}

.personal-profile li{
    display: inline;
    list-style: none;
    background-color: #659be0;
    color: #ffffff;
    padding: 5px;
}

.personal-profile .profile-userpic img {
    height: 140px;
    border: 5px solid #fafafa;
    width: 140px;
    object-fit: cover;
}

.gray01 {
    background-color: #c2cad8;
}

.btn.gray01:hover{
    background-color: #b8c0cd;
}

.link.details{
    padding-right: 15px;
}

.btn-evaluation{
    padding-left: 100px;
    padding-right: 100px;
}

.user-info{
    padding-top: 5px;
}

/*.user-info .basic-info {*/
/*margin: 0px 10px 0px 5px;*/
/*}*/

.user-info .basic-info .col-md-12 {
    padding: 0px;
}

.user-info .basic-info .latest-login {
    margin-top: 15px;
}

.comment-tab{
    padding: 15px;
}

.btn-complain{
    background-color: #dae0e6;
}

.img-auth{
    margin-top: 20px;
    float: none !important;
    width: 130px;
    height: 130px;
}

.item-skill{
    margin-top: 20px;
    border-radius: 2px;
}

.user-info img {
    margin-right: 0px;
    padding-top: 0 !important;
}

/*Tab*/

.tab li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.tab li.active{
    border-bottom: 5px solid #008fd5;
    padding-bottom: 15px;
}

/*Rating*/
.rate-label{
    padding-top: 5px;
}

.rating-16 {
    font-size: 16px;
}

.rating-12 {
    font-size: 12px;
}

.star-caption{
    font-size: 12px;
    color: #ffb344;
    background-color: #fff;
    font-weight: 900;
}

.rating-container .caption{
    padding-top: 8px;
}

.rating-container .filled-stars{
    color: #ff9800;
}

/*Modal Tailor Detail*/
.modal-dialog .portlet-body{
    padding: 15px;
}

.div-ttl-comment{
    padding-top: 10px;
}
.ttl-comment{
    border-bottom: 5px solid #008fd5;
    padding-bottom: 15px;
}

.sect-choose,
.sect-user-comment{
    padding: 15px;
}

.hr-line{
    margin: 0;
}

.rate-value{
    font-size: 60px;
    color: #659be0;
    padding-left: 30px;
    font-weight: 900;
}

.ttl-eval, .no-vote{
    color: #659be0;
    font-weight: 900;
}

.sect-star02 .star{
    color: #cccccc;
}

.no-star{
    color: #959595;
}

.sect-star01 {
    padding-top: 20px;
}

.sect-star02,
.sect-rate-histogram{
    padding-top: 25px;
    padding-left: 30px;
}

/*Rating Histogram*/
.histo {
    float: left;
    width: 80%;
    font-size: 8px;
}

.histo-star {
    float: left;
}

.histo-rate {
    width: 100%;
    display: block;
    clear: both;
}

.bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
}

.bar {
    padding: 5px;
    display: block;
}

#bar-five {
    width: 0;
    background-color: #eff5fc;
}

#bar-four {
    width: 0;
    background-color: #e0ebf9;
}

#bar-three {
    width: 0;
    background-color: #c1d7f3;
}

#bar-two {
    width: 0;
    background-color: #a3c3ec;
}

#bar-one {
    width: 0;
    background-color: #659be0;
}

/*User Comment*/
.user-comment .user-rate td{
    padding-top: 10px;
}

.user-comment .order-id{
    text-align: center;
    padding-top: 10px;
}

.user-comment .post-datetime{
    text-align: right;
    padding-top: 10px;
}

.user-comment .profile-userpic img{
    width: 90%;
}

.user-comment p {
    line-height: 30px;
}

/*Modal Arrow*/
.right-arrow{
    /*margin-right: -40px;*/
    margin-right: -90px;
}

.left-arrow{
    margin-left: -30px;
}

.right-arrow a,
.left-arrow a{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
}

.profile-image.next-tailor{
    width: 50%;
    padding-top: 35px;
}

.find-experts-success {
    margin-top: 15px;
    background-color: #57b029 !important;
    color: #fff;
    border: 2px solid #57b029 !important;
    width: 150px;
    padding: 9px 0px;
    border-radius: 5px;
}

.invite-freelance-gray,  .invite-freelance-gray:hover, .invite-freelance-gray:focus{
    margin-top: 30px;
    background-color: #f7f7f7 !important;
    color: #000;
    border: 2px solid #e8e8e8 !important;
    width: 150px;
    padding: 9px 0px;
    border-radius: 5px;
}

.find-experts-offer {
    margin-top: 15px;
    padding: 9px 0px;
    width: 150px;
    border: 2px solid #57b029 !important;
    color: #57b029;
    background-color: #fff;
    border-radius: 5px;

}

.find-experts-text-success {
    color: #57b029 !important;
}

.find-expert-status-container {
    margin-top: 20px;
}

.find-expert-status {
    font-weight: 600;
    font-size: 14px;
}

.find-expert-name {
    color : #404040;
    font-weight: 400;
    font-size: 26px;
    text-transform: capitalize;
}

.details-container {
    margin-top: 5px;
}

.details-container .title{
    color : #999;
    font-size : 14px;
    clear: both;
}

.details-container-s {
    margin-top: 15px;
}

.details-container .per-hr h3 {
    margin: 0px;
    font-size:26px;
    color: #57B029;
}
.basic-info .skill-div {
    padding-left : 0px;
    margin-top: 8px;
    /*height: 35px !important;*/
    display: inline;
    float: left;
}

.basic-info .fa-check-circle{
    color : #57b029;
    font-size :14px;
    position: absolute;
    margin-top: 5px !important;
}

.skill-div img {
    border: 2px solid #fff;
    border-radius: 30px;
    margin-right: 6px;
}

.basic-info .item-skill.official {
    background-color: #f9d23f !important;
    padding-left: 3px !important;
    border: none;
    color : #fff !important;
}

.basic-info .item-skill.success {
    background-color: #5dba2c !important;
    padding-left: 3px !important;
    border: none;
    color : #fff !important;
}

.basic-info .item-skill span {
    display: inline-block;
    font-family: 'Montserrat Light', Arial !important;
}

.basic-info .item-skill{
    display: inline;
    list-style: none;
    background-color: #fff;
    color: #909090;
    padding: 4px 20px !important;
    /*border : 1px solid #dedede;*/
    margin: 0px 5px 0px 0;
    float: left;
    font-size: 14px !important;
}

.basic-info .status{
    color : #57b029;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.basic-info .description {
    color: #999;
    margin: 15px 0px 5px 0px;
    line-height: 15px;
}

.item-skill {
    border-radius: 25px;
    background-color: #fff;
}

.user-info .definition{
    color : #808080;
    font-size : 16px;
    font-weight: 600;
}

.find-expert-text {
    font-size: 14px;
    color: #727272;
}

.find-expert-text-two {
    margin-left: 10px;
    font-size: 14px;
    color: #808080;
    font-weight: 600;
    font-style: italic;
}

.btn-check-detail {
    cursor: pointer;
}

.search-title-container {
    width: 255px;
}

.find-experts-search-title {
    color: #808080;
    font-size: 18px;
}

.experts-counts {
    color: #57b029;
    margin-left: 20px;
    font-size: 14px;
}

.find-experts-pagination {
    margin-right: -48px;
}

.find-experts-pagination .count{
    margin-left: 10px;
    margin-right: 10px;
    color : #808080;
    font-size: 14px;
    background:none;
}

.count.badge {
    background-color: #57b029;
    color: #fff;
    width: 20px;
    height: 20px;
}
/*
    Admin Review
*/

.admin-review{
    background-color: #fff;
}

/*
    Contact Info
*/

.contacts-info .contacts-info-sub {
    padding: 15px;
}

.contacts-info .contacts-info-sub img {
    width: 25px;
}

.contacts-info .contacts-info-sub span {
    padding: 5px;
    color: #7d7d7d;
    font-weight: 600;
}

.contacts-info .contacts-info-sub p {
    margin: 10px 0px 0px 0px;
    color: #B1B1B1;
    font-size: 16px;
}

.contacts-info .contacts-info-edit {
    padding: 15px 30px 15px 15px;
}

.contacts-info .contacts-info-edit a {
    color: #58AF2A;
}

.personal-profile .contact {
    position: absolute;
    width: 100%;
    box-shadow: 0 0 5px 0 #c1c1c1 !important;
    background-color: #fff;
    margin-top: -10px;
}

.personal-profile .contact .contacts-info:before {
    border: 15px solid #c1c1c1;
    content: '';
    position: absolute !important;
    top: -30px;
    border-color: transparent;
    border-bottom-color: #c1c1c1;
    left: 80px;
}

.personal-profile .contact .contacts-info:after {
    border: 14px solid #fff;
    content: '';
    position: absolute !important;
    top: -28px;
    left: 81px;
    border-color: transparent;
    border-bottom-color: #fff;
}

.favourite-freelancer{
    position: absolute;
    padding-left: 180px;
    margin-top: -25px;
    font-size: 20px;
}

.favourite-freelancer a{
    color: #808080;
}

.favourite-freelancer a.active
{
    color: #f4b00e;
}

.toast-info {
    background-color: #51a351;
}

.success-title{
    font-size: 20px;
    font-weight: normal;
    color:#000;
}

.success-message{
    font-size: 12px;
    color:#000;
}

/* For Read More Function usage */
.read-more-state {
    display: none;
}

.read-more-trigger{
    cursor: pointer;
    font-style: italic;
    color:#5DBA2C;
}

/*
*   Dropdown customize
*/

.customize.dropdown label
{
    padding-top: 2px;
}

.customize.dropdown li{
    background-color: unset;
    padding: unset;
}

.customize.dropdown ul{
    background-color: unset;
    margin-top: unset;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}
.search-box-field  #magicsuggest {
    margin-top: 0px;
    /*height: 45px;*/
    padding-top: 4px;
}
.customize.dropdown a.custom-select-btn{
    width: 100%;
    border-radius: 3px !important;
    box-shadow: 0 -2px 3px 0 #efefef !important;
    height: 45px;
}

.customize.dropdown a.item{
    background-color: #fff;
}

.customize.dropdown a.item:focus, .customize.dropdown a.item:hover{
    background-color: #e1e5ec
}

.customize.dropdown label{
    color: #64B12B;
}

/* Notification */

.col-md-1 i {
    padding:15px;
    font-size:35px;
    text-align: right;
    color:#57b029;
    font-weight: 100;
}

.notification{
    margin-left:-10px;
}

.notification-box{
    background-color: #fff;
}
.btn-close-box{
    top:-6px;
    right: -60px;
    vertical-align: center;
}
.btn-close{
    color:#57b029;
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    vertical-align: center;
    opacity: 1;
    padding:0px;
    background: 0 0;
    border: 0;
    display: inline-block;
    width: 30px;
    height: 40px;

}

.btn-close:hover{
    opacity: 0.5;
}

#button-list{
    margin-top: 15px;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

.setFEPPortlet:hover{

}


footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}

.setH3FXXP{
    width:180px;
    margin-left:20px !important;
}

.scroll-div{
    height:120px;
}

@media (max-width: 320px){
    .basic-info .item-skill {
        display: inline;
        list-style: none;
        background-color: #fff;
        color: #909090;
        padding: 4px 20px;
        /* border: 1px solid #dedede; */
        margin: 5px 5px 5px 0;
        float: left;
        font-size: 14px !important;
        /* height: 90% !important; */
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .setcol9SearchBox{
        width:100%;
        margin-bottom:10px;
    }

    .setClearFilterCol3{
        padding-left:17px !important;
    }

    .setcol12searchBoxP{
        margin-top:10px;
    }

    .setFEPPortlet {
        text-align:center;
    }
    .setFEPPSkillDiv{
        float:none !important;
        display:inline-block !important;
    }
    .setFEPPCM{
        text-align:center;
        display: inline-block;
    }
    .setFEPPBtn{
        width: 100% !important;
    }
}

@media (max-width:340px) and (min-width:320px)
{
    .setFEPPBtn{
        font-size:xx-small !important;
    }
}
