.page-content-wrapper .page-content{
	margin-left: 0px;
    padding: 0px;
}
.search-box-field label{
	padding-bottom:10px;
	color: #C7C7C7;
    font-size:14px;
}

.find-expert-box-search:hover{
    box-shadow: 0px 1px 9px 2px #c7ecc5 !important;
}

.find-expert-box-search{
    padding-top: 20px !important;
     padding-bottom: 20px !important;
    background-color: #FFF;
}

.search-box-field input,.search-selectbox{
	margin-bottom:30px;
	height: 45px;
	border: 1px solid #e5e5e5;
	border-radius: 3px !important;
	box-shadow: 0 -2px 3px 0 #efefef !important;
}

.setSEARCHBOXNEWBTN{
    margin-top: 4px;
}

.search-selectbox select{
	padding: 10px;
	height: 40px;
	color: #707070;
}

.search-selectbox::after{
	top: 6px;
}

.personal-profile{
	padding: 15px 35px;
}

.search-box-main{
	box-shadow: none !important;
	border: 1px solid #E5E5E5;
}

.btn-search-custom , .btn-search-custom:hover{
	background-color: #61af2c;
    color: white;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    line-height: 34px !important;
    width: 185px;
}

.advance-filter-title a{
	color: #61AF2C;
	padding-bottom: 20px;
	font-size: 15px;
}

.advance-filter-title i{
	font-size: 18px;
	padding-left: 6px;
}

.clear-filter-title{
    color: #7E7E7E;
    padding-bottom: 20px;
    font-size: 14px;
}
.clear-filter-title-top{
    padding-left: 0px;
    margin-top: 45px;
}

.clear-filter-title i{
	font-size: 18px;
	padding-left: 6px;
}

.clear-filter-title-first{
	color: #7E7E7E;
	padding-top: 45px;
	font-size: 15px;	
}

.clear-filter-title-first i{
	font-size: 18px;
	padding-left: 6px;
}

#magicsuggest, #languageInput{
    min-height: 44px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 -2px 3px 0 #efefef !important;
}

.search-box-field #magicsuggest input,
.search-box-field #languageInput input{
    border: unset;
    margin-bottom: unset;
    box-shadow: unset !important;
    height: 32px;
}

/****
*   Search Skill
*****/
.ms-ctn
{
    background-color: #fff;
    border-radius: 5px;
}

.ms-ctn-focus {
    border-color: #efefef;
}

.ms-ctn .ms-sel-item {
    background: #57b029;
    color: #fff;
    border: 1px solid #84c165;
    padding: 5px 10px;
}

.ms-sel-ctn .ms-sel-item .ms-close-btn{
    background-image: url('../../../images/ms-close.png');
}

.ms-ctn input{
    padding: 5px 10px;
    width:100% !important;
}

.ms-res-ctn .ms-res-item{
    padding: 5px 20px;
}

.ms-helper{
    top: -25px;
}

.ms-helper a{
    color: #5ec329;
    font-weight: bold;
}

.search-type-text
{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.search-type-text.active,
.search-type-text:hover
{
    color: #5ec329;
}

.fa-search{
    position: absolute;
    right: 30px;
    top: 26px;
    color: #5ec329;
    font-size: 18px;
}

.search-desc{
    font-size: 12px;
}

.search-type-div{
    margin-top: 20px;
}

.search-type-btn-default{
    background: transparent;
    border: 1px solid #fff;
    width: 30%;
    margin-right: 2%;
    color: #fff !important;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
}

.search-type-btn-color{
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
    width: 30%;
    border: 1px solid #64B12B;
    background: #64B12B;
    color: #fff !important;
}

.btn-search{
    cursor: pointer;
}

.ms-sel-ctn
{
    padding-right: 0px;
}

.ms-sel-ctn input{
    color: #64B12B;
}

.ms-res-ctn .ms-res-item-active {
    background-color: #5ec329;
    color: #fff;
}

em{
    background-color: #fcc33a !important;
}

.search-desc em{
    background-color: #57b029 !important;
}

.ms-ctn.form-control{
    border: 1px solid #efefef;
}

.magicsuggest input{

}

.stylish-input-group{
    margin-bottom: 15px;
}
.stylish-input-group input{
    border-right: 0px !important;
    border-radius: 3px 0px 0px 3px !important;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    box-shadow: 0 -2px 3px 0 #efefef !important;
    border:1px solid #e5e5e5;
    border-left: 0px !important;
    border-radius: 0px 3px 3px 0px !important;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.stylish-input-group button span{
    color: #61AF2C;
}

@media (max-width:991px)
{
    .btn-search-custom , .btn-search-custom:hover{
        background-color: #61af2c;
        color: white;
        font-size: 14px;
        font-weight: normal;
        height: 50px;
        line-height: 34px !important;
        width: 185px;
        top:12px;
    }

}