.find-expert-box{
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
}

.basic-info .status{
	font-weight: normal;
}
.latest-login{
	padding: 0px;
	text-align: center;
}
.name-main{
	padding-left: 0px;
}
.find-expert-text-two{
	font-weight: normal;
	font-size: 13px;
	margin-left: 0px !important;
}
.find-expert-text{
	text-align: center;
	font-weight: normal;
	font-size: 13px !important;
	color: #a9a9a9 !important;
}
.profile-userpic{
	height: 165px;
}
.profile-userpic i{
	position: relative;
	background: #58AF2A;
	border: 7px solid white;
	border-radius: 50%;
	color: white;
	font-size: 22px;
	height: 48px;
	left: 44px;
	padding-top: 10px;
	top: -50px;
	width: 50px;
}
.profile-userpic i.gray-i{
	background: #B5B5B5;
}
.description{
	font-weight: normal;
	font-size: 13px;
}
.description a{
	font-style: italic;
	color: #5DBA2C;
}
.per-hr i{
	font-size: 30px;
	line-height: 20px;
	color: #B5B5B5;
	margin-top: 7px;
}
.per-hr i.heart-red{
	color: #C93032;
}
.personal-profile{
	padding-top: 0px !important;
}
.country-main{
	padding-top: 8px;
}
.country-main span{
	float: left;
}
.country-main img{
	border-radius: 10px;
	height: 30px;
	margin-top: -4px;
	width: 33px;
	margin-left: 20px;
}

.find-expert-box-new{
	border: 3px solid white;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1) !important;
}
.find-expert-box-new:hover{
	/*border: 3px solid #5DBA2D;*/
	moz-box-shadow: 0px 0px 9px 4px #c7ecc5 !important;
	-webkit-box-shadow: 0px 0px 9px 4px #c7ecc5 !important;
	box-shadow: 0px 0px 9px 4px #c7ecc5 !important;
}
.find-experts-request:hover,
.find-experts-request{
	color: #F8D23F !important;
	border: 2px solid #F8D23F !important;
}
.find-experts-success{
	font-size: 14px;
	font-weight: normal; 
	margin-bottom: -7px;
}
.find-experts-offer{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: -7px; 	
}
.find-experts-request{
	font-size: 14px;
	font-weight: normal;	
}
.find-experts-check i,
.find-experts-request i{
	font-size: 20px;
	height: 13px;
	margin-right: 10px;
}

.set-fa-fa-fa-envelope{
	margin-right:0px !important;
}

.skill-div{
	/*margin-right: 5px; */
}
.skill-div span{
	padding-left: 5px;
	padding-top: 2px;
}
.find-experts-offer:hover{
	background-color: #57B029 !important;
	color:#fff !important;
	border: 2px solid #57B029 !important;
}
.basic-info .description{
	line-height: 18px !important;
}

@media (min-width: 320px) and (max-width: 560px){
	.page-container{
		margin: 0px 15px !important;
	}
	.pagination{
		margin-top: 15px;
	}
	.country-main{
		overflow: hidden;
		padding-left: 0px;
	}
	.user-info #button-list{
		overflow: hidden;
		padding-bottom: 15px;
	}
	.find-expert-name {
		color: #404040;
		font-weight: 500;
		font-size: 20px;
		text-transform: capitalize;
		width:100% !important;
	}
}