.main-div{
	background-color: #fff;
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.05);
	padding: 15px 30px;
}
.setColRowR4{
	margin-bottom:7px;
}

.set-cross-click-pjmp{
	position: absolute;
	right: 25px;
	font-size: 33px;
	top: 0px;
	color: #808080;
}

.sendMEssagebtn{
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	font-size: 14px;
	border-radius: 6px;
}

.btndefault-sendMessage{
	color: #000;
	border-color: #e6e6e6;
	font-size: 14px;
	border-radius: 6px;
	background-color: #e6e6e6;
}

.setColRowRS3{
	margin-bottom:7px;
}

.setColMd6PJM{
	padding-left: 0px !important;
	margin-left: -15px;
}

.setColRowRS2{
	margin-bottom:7px;
}

.setColRowRS1{
	margin-bottom:7px;
}
.page-sidebar-wrapper{
	display: none;
}
.personal-profile{
	padding: 0px;
	margin: 0px;
}
.profile-userpic{
	height: 150px;
	width: 150px;
	position: relative;
}
.profile-userpic img{
	height: 150px;
	width: 150px;
}

.btn-bs-file:hover,
.btn-bs-file{
    background: rgba(204, 203, 203, 0.6);
    border-radius: 50%;
    bottom: 15px;
    color: #cccbcb;
    height: 30px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 30px;
}
.btn-bs-file i{
	font-size: 14px;
    left: 0px;
    margin: 0px;
    position: relative;
    top: 6px;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
.item-skill{
	padding: 4px 15px !important;
}
.personal-profile .item-languages span{
	float: left;
	margin-top: 0px;
}
.basic-info .status{
	font-weight: normal;
	text-transform: none;
}
.user-full-name img{
	float: none;
	width: 15px;
	margin: 5px;
	vertical-align: top;
}
.prising-section{
	border-top: 1px solid #f1f1f1; 
	border-bottom: 1px solid #f1f1f1; 
	margin: 15px 0px;
}
.prising-section-sub{
	color: #b1b1b1;
	padding: 30px 15px 30px 15px;
}
.prising-section-sub p{
	color: #7d7d7d;
    font-weight: 600;
    margin:0px 0px 5px 0px;
}
.btn-green-bg-white-text:hover,
.btn-green-bg-white-text{
	min-width: auto;
	text-transform: none;
	padding: 9px 15px;
}
.prising-section-sub .btn{
	margin-top: 10px;
}
.basic-info .btn-green-bg-white-text{
	position: absolute;
	top: 0px;
	right: 90px;
}
.description{
	padding: 0px;
	color: #7D7D7D;
}
.description h4{
	color: #57b029;
	font-weight: bold;
}
.description h5{
	color: #7d7d7d;
	font-weight: bold;
}
.description p{
	margin: 0px;
}

.milestone-desc{
	margin-top: 30px;
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	font-weight: 600;
}
.milestone-desc .tabpanel-custom label{
	font-weight: 600;

}

.nav-tabs{
	margin: 0px;
	padding: 25px 0px;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li:hover,
.nav-tabs li{
	border: 0px;
}
.nav-tabs li{
	width: 25%;
	border-right: 1px solid #ddd;
}
.nav-tabs li:last-child{
	border-right: 0px solid #ddd;
}
.nav-tabs li a{
	/*display: inline-block !important;*/
	/*padding: 6px;*/
	/*width: 185px;*/
	/*border-radius: 3px;*/
	color: #666666;
	/*border: 1px solid #fff;*/
}
.nav-tabs li.active a{
	border: 1px solid #57b029;
	color: #57b029;
	text-align: center;
}
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover,
.nav-tabs li a:hover{
	color: #57b029;
	border: 1px solid #57b029;
}

.new-milestone-add{
	padding-top: 15px;
	margin: 0px;
}
.set-this-col-md-12{
	margin-top:35px;
}
.tabpanel-custom label{
	color: #808080;
	font-size: 14px;
}
.tabpanel-custom textarea,
.tabpanel-custom input{
	border-color: #efefef !important;
	background-color: #fff !important;
}
.client-request .btn.default:not(.btn-outline),
.new-milestone-add .btn.default:not(.btn-outline),
.end-contract .btn.default:not(.btn-outline){
	background-color: #fff;
	border-color: #efefef;
	border-width: 1px 1px 1px 0px !important;
	line-height: 15px !important;
	color: #57b029;
	font-size: 16px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 0px;
	height: 34px;
}
.tabpanel-custom .btn-green-bg-white-text{
	min-width:150px;
}
.tabpanel-custom .btn-white-bg-green-text{
	background-color: #fff;
	border-color: #57b029;
	color:#67b642 !important;
	text-transform: none;
	margin-left:10px;
}
.released-milestone,
.current-milestone{
	padding-top: 30px;
	margin: 0px;
}
.current-milestone textarea{
	height: 100px;
}
.milestone-subpart-title{
	color: #7D7D7D;
	font-size: 14px;	
	margin-bottom: 10px;
}
.milestone-subpart-title .green{
	color: #57b029;
	padding-left: 10px;
} 
.current-milestone .btn{
	min-width: auto !important; 
	padding: 9px 15px;	
}
.custom-table td{
	border-top: 0px !important;
}
.custom-table td i{
	color: #F9D23F;
	font-size: 12px;
}
.custom-table td .title{
	color: #7d7d7d;
}
.release-milestone{
	padding-top: 15px;
	margin: 0px;
	border-top: 1px solid #f1f1f1;
}

.client-request{
	padding: 15px 0px;
	margin: 0px;
	border-bottom: 1px solid #f1f1f1;
}
.client-request .title{
	color: #7d7d7d;
}
.md-radio label > .box{
	border-color: #7d7d7d;
}
.md-radio label > .check{
	background-color: #57B029;	
	left: 0px;
	top: 0px;
	width: 20px;
	height: 20px;
}
.released-milestone .custom-table tr{
	border-bottom: 1px solid #f1f1f1;
}
.total-refund{
	padding: 15px 0px;
	margin: 0px;
}
.client-request label{
	width: 100%;
}
.client-request .input-addon{
	border-right: 0px;
}
.client-request .input-group-addon{
	background-color: #fff;
}
.client-request .input-group-addon i{
	color: #57B029;

}
.end-contract{
	padding-top: 15px;
	margin: 0px;
}
.end-contract p{
	color: #7d7d7d;
	margin:5px 0px 10px 0px;
}
.total-refund textarea,
.end-contract textarea{
	height: 120px;
}

.plus-tooltop{
	padding: 20px 0px;
	position: relative;
}
.plus-tooltop i{
	position: absolute;
	right: 30px;
	top: 23px;
}
.plus-tooltop .tooltop{
	display: none;
	position: absolute;
	right: -40px;
	top: 45px;
	background-color: #fff;
	padding: 10px;
	width: 150px;
	border-radius: 5px;
	box-shadow: 0 0 8px 0 #d1d1d1;
	z-index: 1001;
	color: #7D7D7D;
	font-size: 12px;
}
.plus-tooltop .tooltop label{
	font-weight: bold;
}
.plus-tooltop .tooltop:after{
    content:"";
    top:-16px;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;     
}
.plus-tooltop .tooltop:hover,
.plus-tooltop i:hover ~ .tooltop{
	display: block;
}


.setColXS12DISPUTMPKJU{
	padding-left: 0px;
}

.set-ColXS-12-DISPUT-MPKJU{
	padding-left:15px;
}

.setColXs12-Xs-xol{
	padding-left: 0px;
}

.setMilStoneRColXs12{
	padding-left:0px;
}

.end-contract{
	padding-top: 15px;
	margin: 0px;
}
.desc-short{
	margin: 0px 0px 15px 0px;
	font-weight: 500;
	color: #7D7D7D;
}

.end-contract textarea{
	height: 160px;
	margin-bottom: 30px;
}
.already-released{
	padding: 15px 15px 30px 15px;
}
.table-released{
	background: #F7F7F7;
	padding: 30px;
}
.table-released table{
	margin: 0px;
	color: #7D7D7D;
}
.table-released table tr{
	background: #fff;
	border-bottom: 2px solid #F7F7F7;
}
.table-released table tr td{
	border: 0px solid #fff;
	padding: 15px;
}

.already-released .m-already-released{
	padding: 0px 0px 10px 0px;
}
.already-released .m-already-released h4{
	color: #333;
	margin: 0px;
}
.already-released .m-already-released .md-radio label > .check{
	left: 4px;
	top: 4px;
	height: 12px;
	width: 12px;
}
.already-released .m-already-released .md-radio label>.box{
	border-color: #61B02B;
}

.bootstrap-switch{
	border-radius: 50px;
	border-color: #61B02B;
	border-width: 2px;
}
.bootstrap-switch.bootstrap-switch-focused{
	border-color: #61B02B;
}
.bootstrap-switch-on{
	background: #61B02B;	
}
.bootstrap-switch-off{
	background: #E7E9EF;	
}
.bootstrap-switch-container .bootstrap-switch-label{width: 30px !important; background: #fff; border-radius: 50% !important;}
.bootstrap-switch-container .bootstrap-switch-handle-on{color:#61B02B !important;width: 20px;background: #61B02B !important; border-radius: 50px 0px 0px 50px;}
.bootstrap-switch-container .bootstrap-switch-handle-off{color:#E7E9EF !important;width: 20px;}

.setColxs12PJMP{
	background-color: gainsboro;
	padding: 17px 11px 0px 11px;
}

.setCol12MSTONEA{
	margin-top:20px;
	padding-left:30px;
}

.set-col-md-12-re-m-s-t{
	padding-left:30px;
}

.setUL ul li{
	margin-top:1px !important;
	border-right: 2px solid #efefef;
	height:35px !important;
	padding: 0px 14px 8px 12px !important;
}

.setUL ul li.active .setLI{
	border: 2px solid #57b029;
	color: #83c169 !important;
	text-align: center;
	height: auto;
	width: 174px;
	border-radius: 5px;
	padding: 8px;
	font-size: 14px;
	display: inline-block !important;
	color: #666666;
}

.setUL ul li .setLI:hover{
	display: inline-block !important;
	border: 2px solid #57b029;
	color: #83c169 !important;
	text-align: center;
	height: auto;
	width: 175px !important;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px;
}

.setRO .slimScrollDiv{
	overflow: unset !important;
}

.setROewe .scroll-div{
	max-height: fit-content !important;
}

.setPpP{

}

.scroll-div{
	overflow: hidden;
	height:200px;
	max-height: fit-content;
}
.subtitle{
	color:#6B6B6B !important;
	font-weight: 600 !important;
}

.setSP0{
	color: #6B6B6B !important;
}
.status{
	font-weight: 600 !important;
	font-family: Sans-Serif !important;
}

html:lang(cn) .status{
	font-weight: 600 !important;
	font-family: "Noto Sans CJK JP Regular" !important;
}


.setSP{
	font-weight: 600 !important;
}

.setBNTNPJMBP {
	width: 96px !important;
	margin-top: -45px;
	height: 40px !important;
	padding: 8px 15px 10px 10px !important;
	font-size: 15px !important;
	font-weight: bold;
	font-family: Raleway,sans-serif !important;
	border-radius: 3px !important;
}

html:lang(cn) .setBNTNPJMBP {
	width: 96px !important;
	margin-top: -45px;
	height: 40px !important;
	padding: 8px 15px 10px 10px !important;
	font-size: 15px !important;
	font-weight: bold;
	font-family: "Noto Sans CJK JP Regular" !important;
	border-radius: 3px !important;
}


.setSpn1JMPP{
	margin-bottom:20px;
}

.set-mainRow-span1{
	color:#666666;
	font-size:12px;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

.setPHMPPP{
	width:22%;
}

.setPHMPPP i{
	display:block;
	color: #999999 !important;
}

.setULNAVVTBSA{
	border-bottom: 1px solid #efefef !important;
}

@media (max-width:991px) and (min-width:320px)
{
	.setBNTNPJMBP {
		width: 96px !important;
		margin-top: -20px;
		height: 40px !important;
		padding: 8px 15px 10px 10px !important;
		font-size: 15px !important;
		font-weight: bold;
		font-family: Raleway,sans-serif !important;
		border-radius: 3px !important;
	}
	.setPHMPPP {
		width: 100%;
	}
	.setFormPJMP{
		width: 100%;
		margin-left: 72px !important;
	}
	.setCol12MSTONEA{
		display:inline-block;
		margin-top:5%;
		width:100%;
	}
	.setPPROFILECol12MSP{
		text-align:center;
	}
	.setBNTNPJMBP{
		width:100% !important;
		position: inherit !important;
		right:0px !important;
	}
	.setProfileUserPICPJMP{
		display:inline-block;
	}
	.setSkillDIVPJM{
		float:none !important;
		display:inline-block;
		overflow: scroll;
		height:120px;
	}
	.setSkillRowCol12JPM{
		text-align:center;
	}
	.setLANGDIV{
		text-align:center;
	}
	.setLANGUAGEDIV{
		text-align: center;
	}
	.setBTNBNTPJM{
		width:100% !important;
	}
	.setDEscriptionJPJM{
		text-align: center;
	}
	.setUL{
		height:100px;
		overflow: scroll;
	}
	.setULNAVVTBSA{
		width:200%;
	}
	.setTabsPANEL{
		text-align:center;
	}
	.setColxs3{
		width:100% !important;
	}
	.setColXs2{
		width:100% !important;
	}
	.setColxs5{
		width:100% !important;
	}
	.setBNTNNTN{
		width:100% !important;
		margin-left:0px !important;
		margin:5px;
	}
	.setRowPJMBPAGE{
		overflow: scroll;
		height:200px;
		display:flex;
		max-height: fit-content;
	}
	.setCMPAGEBNTN{
		margin:5px;
	}
	.setULNAVVTBSA li a{

	}
	.setColxs6AMTODIS{
		width:100% !important;
	}
	.setMPDISPUTEBNT{
		width:100% !important;
		margin-left:0px !important;
		float:none;
		margin:5px;
	}
	.setContactInfo .contacts-info-sub{
		padding:10px !important;
	}
	.setPrisingSection .prising-section-sub {
		color: #b1b1b1;
		padding: 0px 15px 30px 15px;
	}
	.setCol3PJMILE{
		margin-left:-95px;
	}

	.setRLEASEBTNMSP{

		margin:2px;
	}
}
@media (max-width:411px) and (min-width:320px)
{
	.setBNTNNTN{
		width:100% !important;
		margin-left:0px !important;
	}
	.setRLEASEBTNMSP
	{
		margin:3px;
	}
	.setMPUPBNTN1{
		margin-left:0px !important;
	}
}

@media (max-width:457px) and (min-width:320px)
{
	.setColMd6PJM{
		margin-bottom: 35px;
	}
}

@media (max-width:380px) and (min-width:320px)
{
	.setColXS12DISPUTMPKJU{
		padding:0px 0px 10px 0px;
	}
}


@media (max-width:508px) and (min-width:419px)
{
	.setULNAVVTBSA {
		width: 226%;
	}
}
@media (max-width:418px) and (min-width:320px)
{
	.setUL ul li.active .setLI{
		border: 2px solid #57b029;
		color: #57b029;
		text-align: center;
		height: auto;
		width: 120px !important;
		padding: 8px;
		font-size: 12px;
		display: inline-block !important;
		color: #666666;
	}

	.setULNAVVTBSA {
		width: 285%;
		padding: 30px 0px 30px 0px;
	}
}
