html:lang(en) body,
html:lang(en) h1, html:lang(en) h2, html:lang(en) h3, html:lang(en) h4, html:lang(en) h5, html:lang(en) h6,
html:lang(en) p, small ,ul ,li , nav ,
html:lang(en) a,
html:lang(en) span,
html:lang(en) option,
html:lang(en) button,
html:lang(en) b,
html:lang(en) input,
html:lang(en) .sub-heading,
html:lang(en) .btn,
html:lang(en) small, span,
html:lang(en) .label , .skill-main , .item-skill{
    font-family: 'Myriad Pro', 'Raleway', sans-serif;
}

html:lang(cn) body,
html:lang(cn) h1, html:lang(cn) h2, html:lang(cn) h3, html:lang(cn) h4, html:lang(cn) h5, html:lang(cn) h6,
html:lang(cn) p, small ,ul ,li , nav ,
html:lang(cn) a,
html:lang(cn) span,
html:lang(cn) option,
html:lang(cn) button,
html:lang(cn) b,
html:lang(cn) input,
html:lang(cn) .sub-heading,
html:lang(cn) .btn,
html:lang(cn) small,
html:lang(cn) .label {
    font-family: 'Noto Sans SC', sans-serif;
}

.markAllRead{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: left;
    height: 25px;
    line-height: 3px !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background: #fff;
    border:0px !important;
    cursor: pointer !important;
    font-family: 'Myriad Pro', 'Raleway', sans-serif !important;
}

.markAllRead :hover{
    background: #fff !important;
}

.set-reload-page-show-content{
    position: relative;
    top: 85px;
    z-index: 999;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0px !important;
    text-align: -webkit-center;
    text-align: -moz-center;
    display: none;
}
.set-row-margin-show-content-page-reload{
    margin:0px !important;
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
    padding: 20px;
}
.set-row-margin-show-content-page-reload > a{
    cursor: pointer;
    text-decoration: none;
    padding-right: 10px;
}

.setInnerNavNHPH{
    /*<<<<<<< HEAD*/
    margin-bottom: 0px;
}


.awardedProjects{
    padding-left:14px !important;
}

.postProject-pad{
    padding-left:14px !important;
}


.setPHEADERTOP{
    height:40px !important;
}

#header_feedback span {
    border: 2px solid #57b029 !important;
    padding: 7px 13px !important;
    border-radius: 5px !important;
    color:#57b029 !important;
    font-weight: bold !important;
    line-height: 20px !important;
    font-size: 14px !important;
}

.setNormalLink{
    margin-top:1%;
}

.setTopmenuAfterLogin {
    display: block !important;
    position: absolute;
    right: 1.5%;
    top: 10px;
}

.setLOGO {
    max-width: 45px !important;
    padding-top: 15px !important;
    position: relative;
    float: right;
    left:-5px;
}

html:lang(cn) .setLILI .setMRO {
    padding-left: 0px;
    padding-right: 81px !important;
}

/*html:lang(en) .setLILI .setMRO{*/
    /*padding-left: 0px;*/
    /*padding-right: 6px !important;*/
    /*margin-left: -6px;*/
/*}*/

html:lang(cn) .setNB2{
    margin-right: -115px;
    padding: 7px 5px !important;
}

html:lang(cn) .setNB1{
    margin-right: -130px;
    padding: 7px 5px !important;
}

html:lang(cn) .setFFL{
    margin-right: 73.2px;
}

.setFFL{
    /*position: relative;*/
    /*right:50px;*/
}

html:lang(cn) .setFVJ{
    margin-right: 47px;
}

html:lang(en) .setFVJ{
    position: relative !important;
    right: 37px !important;
}

.setNotification{
    margin-top:-10px !important;
}

.settoplinks li {
    text-decoration: none !important;
    list-style: none !important;
    display: inline-block !important;
    padding: 2px 10px 2px 0px;
    text-transform: uppercase !important;
}

.setBNTN1{
    border: 2px solid #5ec329 !important;
    background-color: #5ec329;
    border-radius: 6px;
    text-transform: capitalize;
    color:#FFFFFF;
    margin-top:-7px;
    padding: 8px 14px 6px 14px;
    width:80px;
}

.setBNTN1:hover{
    color:#FFFFFF;
}

.setBNTN1:focus{
    color:#FFFFFF;
}



#ti-angel:hover{
    color: #999 !important;
}

.setULH{
    /*margin-right:4px !important;*/
    margin-top:-54px;
    padding: 3px 54px 6px 6px;
}

.setGINB{

}

.setJ0BSLink a:hover{
    /*border-radius: 50px;*/
    /*background-color: #57af2a !important;*/
    /*color: #fff;*/
    /*display: inline-block;*/
    /*line-height: 38px;*/
}

.setH2DDM{
    padding: 12px 14px 8px 0px;
    margin-top:10px !important;
    min-width:140px !important;
}

.setHOme{
    border-radius: 50px;
    background-color: #5ec329 !important;
    display: inline-block;
    line-height: 29px;
}
.setHOme a{
    color:#fff !important;
    margin-left:11px;
}

.setFee{
    fonts-size:15px !important;
}

.setULH .setBNTN1{
    margin-right:10px;
}

.setLANGUAGE{
    margin-top:-5px;
}

.setColMD6H {
    margin-top: 30px !important;
    bottom:11px;
    text-align-last:end;
}
.setRow{
    /*display:inline-block !important;*/
}

.settoplinks{
    padding: 27px 0px 0px 18px !important;
    display:inline !important;
}

.settoplinks li a{
    /*font-size:16px;*/
    color:#777;
    font-family: Sans-Serif;
}

.setJ0BSLink{
    margin-left:10px;
}

.setFEHTOA .top-nav-menu-div{
    text-align:left !important;
}

.setFEHTOA ul li a{
    color:#777 !important;
}
.setHOME:hover{
    background-color:#57af2a;
    color:#fff;
    border-radius: 50px;
}

.setTOPMDIV{
    padding:33px 0px 16px 0px !important;
    font-weight: normal !important;
}

.setHeadDDMENU {
    min-width: 235px !important;
    margin-top: 30px !important;
    border-radius: 2px !important;
}

.setFINDEXPPAGELI {
    margin-top: 30px;
    border-radius: 2px !important;
}

.setFJJOBPAGE{
    margin-top:30px;
    border-radius: 2px !important;
}
.settopHeds{
    max-height:90px;
}

.setCol3H {
    display: inline-block;
    margin-top: 0px;
    position: relative;
    /*left: 7.8%;*/
}
.setTIAN{
    font-size:8px;
    margin-top:10px;
    margin-left:-1px;
    color: #777 !important;
}
.setOAHWCol3{
    display:-webkit-box;
    padding: 3px 17px 13px 70px;
}

.setLOGODEFAULT{

}

.headerMS .ms-ctn{
    margin-left:50px;
}

.setBNTN2{
    border: 2px solid #5ec329 !important;
    background-color: #FFFFFF;
    border-radius: 6px;
    color:#5ec329;
    margin-top:-7px;
    text-transform: capitalize;
    padding: 8px 14px 6px 14px;
    width: 85px;
}

.setEngImage{
    width:16px;
    margin-right:7px;
}
.setchinesImage {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right:7px;
}

.setBNTN2:hover{
    color:#5ec329;
}

.setBNTN2:focus{
    color:#5ec329;
}

.setDDLI{
    margin-top:-6px;
}

.top-nav-menu li a:hover,
.top-nav-menu li a.active{
    border-bottom: 0px solid #5ec329 !important;
    color: #5ec329;
    font-weight: normal;
}

.setFJJOBPAGE .setLILI a{
    padding:11px 11px !important;
}

.

.setHeadDDMENU .setLILI a{
    /*padding:8px 8px !important;*/
}

.setLILI:hover{
    background-color: #fff;
}

.setTopmenuAfterLogin {
    display: block !important;
    position: absolute;
    right: 0%;
    top: 10px;
}

.beforeLogin {
    /*margin-right: 30px;*/
}

.setLFLG{
    width:25px;
    height:25px;
    border-radius: 50%;
 }

.setFVJ{
    position: relative !important;
    right: 26px !important;
}

.setNB1{
    left:24%;
}

html:lang(cn) .setLILI > .awardedProjects{
    margin-right: 73px;
}

html:lang(cn) .setNB1 {
    margin-right: -93px !important;
}
.setNB2 {
    margin-right: -37% !important;
}

html:lang(cn) .setNB2 {
    margin-right: -118px !important;
}
.setMRO{
    margin-right: 36px;
    width: 200px;
    padding: 8px 23px 10px 13px !important;
}
.setLILI a:hover{
    background-color: #fff !important;
    color: #555 !important;
}

.setLNGDDT:hover{
    background-color:#fff !important;
}

.setLNGDDT:focus{
    background-color:#fff !important;
}

.setH2DDMLI{
    font-size:11px;
    margin:0px 10px;
}

.setH2DDMLI:hover{
    background-color: #fff !important;
}

.setHEADIMAGEAVATAR1{
    margin-top:-21px !important;
}

/**/

.setCol-Md-2{
    position: absolute;
    top: 34%;
    right: 0%;
}

.setlngec {
    display: flex;
    position: absolute;
    top: 25%;
    margin-top: -8px;
    width: 96%;
    right: 9px;
    background-color: #E8E7E8;
}

.setbtnbtnColllapseN{
    display:none;
}
.setbtnbtnColllapseN2{
    display:none;
}
.setCustomCollapse2{
    display:none;
}

.setCustomCollapse3{
    display:none;
}
.setNAVBARHOMEPAGE1{
    display:none;
}

/**/

@media (max-width:1800px) and (min-width:992px)
{
    .set-page-header-inner{
        height: 74px;
    }
    .set-container{
        height:74px;
    }
    .setRow{
        height:74px;
    }
}

.set-User-Li{
    height:110px;
}

.setlngec {
    display: flex;
    position: absolute;
    top: 25%;
    margin-top: -8px;
    width: 100%;
    right: 0px;
    height:40px;
    background-color: #E8E7E8;
}

.setaImgEng:hover{
    background-color: #E8E7E8 !important;
    color: #000 !important;
}

.setaImgEng{
    margin-left:9px;
    font-size: 11px;
    margin-top:8px;
}

.setaImgEng img{
    width:16px !important;
    height:16px !important;
}

.setaImgChin{
   font-size: 11px;
    margin-top:8px;
    position: relative;
    right:15px;
}

.setaImgChin img{
    width:16px !important;
    height:16px !important;
    border-radius: 50%;
}


@media (max-width:1500px) and (min-width:1473px)
{

    html:lang(cn) .setAfterLMenu{
        margin-right: 20px !important;
        margin-top: 0px;
    }
}

@media (max-width:1500px) and (min-width: 1200px)
{
    .setULH {
        /* margin-right: 4px !important; */
        margin-top: -54px;
        padding: 3px 50px 6px 6px;
    }

    .settopHeds {
        max-height: 75px;
    }
}

@media (max-width:1318px)
{
    .setULH {
        /* margin-right: 4px !important; */
        margin-top: -54px;
        padding: 3px 35px 6px 6px;
    }
}


@media (max-width:1301px) and (min-width:1300px)
{
    .setLOGO {
        max-width: 45px !important;
    }


    html:lang(cn) .setAfterLMenu{
        margin-right: 20px !important;
        margin-top: 3px;
    }

}


@media (max-width:2000px) and (min-width:1200px)
{
    .setULH {
        /*margin-right: 4px !important;*/
        margin-top: 10px;
        padding: -1px 85px 6px 6px;
        margin-right:18px;
    }

    .setTopmenuAfterLogin {
        display: block !important;
        position: relative;
        top:10px;
        left: -5%;
    }

    .setColMD6H {
        margin-top: 30px !important;
        bottom: 11px;
        text-align-last: end;
        right: 11px;
        width: 48%;
    }
}

@media (max-width:1760px) and (min-width:1200px){
    .setColMD6H {
        bottom:21px;
        position: absolute;
        right: 0%;
        left: 26%;
        width: 35%;
        margin-left: 20%;
    }


    .setTopmenuAfterLogin {
        display: block !important;
        position: relative;
        top: 10px;
        left: -3%;
    }

    html:lang(cn) .setColMD6H {
        bottom:21px;
        position: absolute;
        right: 0%;
        left: 29%;
        width: 30%;
        margin-left: 19%;
    }
    .setTopmenuAfterLogin {
        display: block !important;
        position: relative;
        top: 10px;
        right:2%;
        /*right: 3%;*/
    }

    html:lang(cn) .setTopmenuAfterLogin {
        display: block !important;
        position: relative;
        top: 10px;
        right: 0%;
    }

}

@media (max-width:1599px) and (min-width:1500px)
{
    .setULH {
        /* margin-right: 4px !important; */
        margin-top: 10px;
        padding: -1px 85px 6px 6px;
        margin-right: 0px;
    }

    .setTopmenuAfterLogin {
        display: block !important;
        position: relative;
        top: 10px;
        left: -3%;
    }

    .setColMD6H {
        bottom: 21px;
        position: absolute;
        right: 0%;
        left: 25%;
    }
}

@media (max-width:1499px) and (min-width:1400px)
{

    .setULH {
        /* margin-right: 4px !important; */
        margin-top: 10px;
        padding: -1px 85px 6px 6px;
        margin-right: 0px;
    }

    .setTopmenuAfterLogin {
        display: block !important;
        position: relative;
        top: 10px;
        left: -3%;
    }

    .setColMD6H {
        bottom: 21px;
        position: absolute;
        right: 0%;
        left: 23%;
    }
}

@media (max-width:1399px) and (min-width:1300px)
{
    .setULH {
        /* margin-right: 4px !important; */
        margin-top: 10px;
        padding: -1px 85px 6px 6px;
        margin-right: 0px;
    }

    .setTopmenuAfterLogin {
        display: block !important;
        position: relative;
        top: 10px;
        left: -2%;
    }

    .setColMD6H {
        bottom: 21px;
        position: absolute;
        right: 0%;
        left: 23%;
    }
}

@media (max-width:1299px) and (min-width:1200px)
{
    .setULH {
        /* margin-right: 4px !important; */
        margin-top: 10px;
        padding: -1px 85px 6px 6px;
        margin-right: 0px;
    }

    .setColMD6H {
        bottom: 21px;
        position: absolute;
        right: 0%;
        left: 27%;
        width: 40%;
        margin-left: 11%;
    }
}

/*small screen media query for search box*/
@media(max-width:1317px)
{
    .setULH {
        /* margin-right: 4px !important; */
        margin-top: 10px;
        padding: -1px 85px 6px 6px;
        margin-right: 0px;
    }

    .setCol3H {
        display: inline-block;
        margin-top: 0px;
        position: relative;
        left: -1.7%;
    }
}
/*end small screen media query for search box*/


/*search box center*/
@media (max-width:1680px) and (min-width:1664px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 8% !important;
        margin-left: 8%;
    }
}

@media (max-width:1663px) and (min-width:1655px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 7.9% !important;
        margin-left: 8%;
    }
}

@media (max-width:1654px) and (min-width:1640px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 7.6% !important;
        margin-left: 8%;
    }
}

@media (max-width:1639px) and (min-width:1629px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 7.4% !important;
        margin-left: 8%;
    }
}

@media (max-width:1629px) and (min-width:1619px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 7.2% !important;
        margin-left: 8%;
    }
}

@media (max-width:1618px) and (min-width:1616px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 7% !important;
        margin-left: 8%;
    }
}

@media (max-width:1615px) and (min-width:1606px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 6.8% !important;
        margin-left: 8%;
    }
}

@media (max-width:1605px) and (min-width:1600px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 6.6% !important;
        margin-left: 8%;
    }
}

@media (max-width:1599px) and (min-width:1589px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 6.4% !important;
        margin-left: 8%;
    }
}

@media (max-width:1588px) and (min-width:1579px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 6.2% !important;
        margin-left: 8%;
    }
}

@media (max-width:1578px) and (min-width:1569px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 6% !important;
        margin-left: 8%;
    }
}

@media (max-width:1568px) and (min-width:1559px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 5.8% !important;
        margin-left: 8%;
    }
}

@media (max-width:1558px) and (min-width:1549px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 5.6% !important;
        margin-left: 8%;
    }
}

@media (max-width:1548px) and (min-width:1539px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 5.4% !important;
        margin-left: 8%;
    }
}

@media (max-width:1538px) and (min-width:1529px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 5.2% !important;
        margin-left: 8%;
    }
}

@media (max-width:1528px) and (min-width:1519px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 5% !important;
        margin-left: 8%;
    }
}

@media (max-width:1518px) and (min-width:1510px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 4.8% !important;
        margin-left: 8%;
    }
}

@media (max-width:1509px) and (min-width:1500px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 4.5% !important;
        margin-left: 8%;
    }
}

@media (max-width:1499px) and (min-width:1489px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 4.2% !important;
        margin-left: 8%;
    }
}

@media (max-width:1488px) and (min-width:1479px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 4% !important;
        margin-left: 8%;
    }
}

@media (max-width:1478px) and (min-width:1473px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 3.7% !important;
        margin-left: 8%;
    }
}

@media (max-width:1472px) and (min-width:1462px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 3.4% !important;
        margin-left: 8%;
    }
}

@media (max-width:1461px) and (min-width:1451px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 3.1% !important;
        margin-left: 8%;
    }
}

@media (max-width:1450px) and (min-width:1440px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2.8% !important;
        margin-left: 8%;
    }
}

@media (max-width:1439px) and (min-width:1429px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2.6% !important;
        margin-left: 8%;
    }
}

@media (max-width:1428px) and (min-width:1418px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 8%;
    }
}

@media (max-width:1417px) and (min-width:1407px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 8% !important;
    }
}

@media (max-width:1406px) and (min-width:1400px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 7.8% !important;
    }
}

@media (max-width:1399px) and (min-width:1393px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 7.6% !important;
    }
}

@media (max-width:1392px) and (min-width:1385px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 7.3% !important;
    }
}

@media (max-width:1384px) and (min-width:1375px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 7% !important;
    }
}

@media (max-width:1374px) and (min-width:1365px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 6.7% !important;
    }
}

@media (max-width:1364px) and (min-width:1355px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 6.4% !important;
    }
}

@media (max-width:1354px) and (min-width:1345px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 6.1% !important;
    }
}
@media (max-width:1344px) and (min-width:1335px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 5.7% !important;
    }
}

@media (max-width:1334px) and (min-width:1325px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 5.4% !important;
    }
}

@media (max-width:1324px) and (min-width:1315px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 5.1% !important;
    }
}

@media (max-width:1315px) and (min-width:1305px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 4.8% !important;
    }
}

@media (max-width:1304px) and (min-width:1295px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 4.5% !important;
    }
}

@media (max-width:1294px) and (min-width:1285px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 4.2% !important;
    }
}

@media (max-width:1284px) and (min-width:1275px)
{
    .setCol3H {
        display: inline-block !important;
        margin-top: 0px !important;
        position: absolute !important;
        left: 2% !important;
        margin-left: 3.9% !important;
    }
}




/*search box center*/

@media (max-width:1199px) and (min-width:992px){
    .setCol6Inner{
        display:none;
    }
    .setULH {
        margin-right: 4px !important;
        margin-top: -46px;
        padding: 3px 9px 6px 6px;
        float:right;
    }
    .setCol3H{
        width:50%;
    }
    .setGuestMenuToggler{
        display: inline-block !important;
        float: right;
        position: relative;
        left: -100%;
        top: 5px;
    }

    .setGUESTMUL{
        top: 60px;
        margin-right: 100px;
    }

    .setMEnuToggler{
        margin-right:-853px !important;
        margin-top:-90px !important;
    }

    .setAfterLoginMenu{
        border: 0!important;
        border-radius: 2px!important;
        margin-right: -471%;
        margin-top: -40px;
    }

    .setTopmenuAfterLogin {
        top:-46px;
        padding:30px !important;
        margin:30px !important;
    }
}

@media (max-width:1139px) and (min-width:992px){
    /*.setTopmenuAfterLogin {*/
        /*top: -46px;*/
        /*padding: 30px !important;*/
        /*margin: 30px !important;*/
    /*}*/
    .setMEnuToggler {
        margin-right: -796px !important;
        margin-top: -90px !important;
    }
}


@media (min-width:320px) and (max-width:991px)
{
    .set-reload-page-show-content {
        position: relative;
        top: 0px;
        z-index: 999;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px !important;
        text-align: -webkit-center;
        text-align: -moz-center;
        display: none;
    }
    .setbtnbtnColllapseN2{
        color: #5ec329;
        /*height: 52%;*/
        background-color: transparent;
        border: 0;
        position: absolute;
        right: 20px;
        top: 30px;
        display:block;
    }

    .setNAVBARHOMEPAGE1{
        width:100%;
        display:block;
    }

    .setbtnbtnColllapseN2:hover{
        color:#57b029;
    }

    .setLiInnerNav{
        padding-left:25px !important;
    }

    .setCustomCollapse3{
        background-color: #fff;
        position: absolute;
        top: 70px !important;
        width: 100%;
        padding-bottom:20px;
        right:0px !important;
    }

    .setNewCTNB{
        padding:15px !important;
    }
    .setNewCTNB:hover{
        padding:15px;
        background-color: #57b029 !important;
        color:#fff !important;
        border-radius: 25px !important;
    }
    .setGuestMenuToggler{
        padding: 30px !important;
        margin: -36px 30px 30px 30px !important;
    }

    .setCol-Md-2 {
        position: absolute;
        top: 22%;
        right: 2%;
    }

    .setHEADIMAGEAVATAR2{
        display:none !important;
    }

    .setTopmenuAfterLogin {
        position: absolute;
        right: 0%;
        top: 14px;
    }
    .setGUESTMUL{
        margin-right:85px;
        margin-top:-35px;
    }
    .setCol6Inner{
        display:none;
    }

    .settopHeds{
        max-height:145px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
        width: 65px;
        height: 65px;
        padding: 5px;
        margin-top: -15px !important;
    }

    .setCol3H {
        width: 100%;
        left:0px !important;
    }

    .setSPanNoti{
        display:inline-grid;
        margin-left:60px;
        line-height: 20px !important;
    }
    .setTIME{
        margin-right:11px;
        line-height: 15px;
    }
    .setSPanNotiFICATION{

    }
    .setLOGO {
        width: 45px;
    }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
        margin-right: 55px;
        padding: 25px 12px 20px 7px;
    }
    .setAfterLoginMenu{
        margin-top: -10px;
        margin-right: 10px;
    }
}

@media (max-width:991px) {
    .set-DropDown-User-Area{
        display:none !important;
    }
    .setMEnuToggler {
        display:inline-block;
        padding:0px !important;
        margin: -15px 2px 30px 30px !important;
    }
}

@media (max-width:767px)
{
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
        margin-right: 55px;
        padding: 26px 10px 22px 1px;
        margin-top: -9px;
    }
}

@media (max-width:676px)
{
    .setAfterLMenu{
        margin-left:-52px;
    }
}

@media (max-width:560px)
{
    .set-reload-page-show-content {
        position: relative;
        top: 31px;
        z-index: 999;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px !important;
        text-align: -webkit-center;
        text-align: -moz-center;
        display: none;
    }
    .setAfterLMenu{
        margin-left:-52px;
    }

    html:lang(en) .setAfterLMenu{
        margin-left:-72px;
    }
}

@media (max-width:450px)
{
    html:lang(en) .setAfterLMenu{
        margin-left:-92px;
    }
}

@media (max-width:376px)
{
    .setAfterLMenu{
        margin-left:-92px;
    }

}

@media (max-width:420px){
    /*.setMEnuToggler {*/
        /*margin-right: -194px !important;*/
        /*margin-top: -115px !important;*/
    /*}*/
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
        margin-right: 11px;
        padding: 28px 9px 19px 3px;
    }

    #header_feedback span {
        border: 2px solid #57b029;
        padding: 7px 13px !important;
        border-radius: 5px;
        color: #5ec329;
        font-weight: bold;
        font-size: xx-small;
    }

    .setTopmenuAfterLogin {
        position: absolute;
        right: 20%;
        top: 14px;
    }
}

@media (max-width:980px) and (min-width: 320px)
{
    .page-header.navbar .menu-toggler.responsive-toggler {
        display: inline-block;
        float: right;
        margin-right: 49px;
        margin-top: -199px;
    }

    .setGUESTMUL{
        margin-right:-100px;
        margin-top:25px;
    }
}

@media (max-width:560px) and (min-width:320px) {
    .setGUESTMUL{
        margin-right:-20px !important;
        margin-top:25px;
    }
}

/*setdropdown before login*/



/* set dropdown after login */
    @media (max-width:980px) and (min-width:775px)
    {
        .setAfterLoginMenu{
            border: 0!important;
            border-radius: 2px!important;
            margin-right: 0px !important;
        }
    }
    @media (max-width:774px) and (min-width:320px)
    {
        .setAfterLoginMenu{
            border: 0!important;
            border-radius: 2px!important;
            margin-right: 50px !important;
        }
    }
/* set dropdown after login */

@media (max-width:560px){
    /*.page-content {*/
        /*margin-top: -200px;*/
        /*padding: 0px;*/
    /*}*/
}


/*
    Font size
*/

.f-s-16{
    font-size: 16px !important;
}

.f-s-18{
    font-size: 18px !important;
}

/*
    Right side nav menu
*/
.nav.navbar-nav.navbar-right{
    padding-top: 0px;
    /*padding-right: 20px;*/
}

.navbar-nav > li > a{
    /*padding:26px 0px;*/
    color: #000;
}

.navbar-nav > li > a.normal-link {
    color: #7FB0DA;
}

.navbar-nav > li > a.active.normal-link {
    color: #ff8c34;
    background-color: #ffffff;
}

.navbar-nav > li > a.active{
    color: #4E9E25;
    text-decoration: none;
    background-color: #fff;
    /*border-bottom: 3px solid #57af2a;*/
}

.nav > li > a:focus, .nav > li > a:hover{
    color: #4E9E25;
    text-decoration: none;
    background-color: #fff;
    /*border-bottom: 3px solid #57af2a;*/
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .normal-link {
    margin: 0px;
    padding: 29px 12px 20px 12px;
    font-weight: 700;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .normal-link:hover,
.page-header.navbar .top-menu .navbar-nav > li.dropdown .normal-link:focus{
    color: #000;
    background-color: #f9fafc;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu::after{
    border-bottom-color: #fff;
}

#header_notification_bar > ul:nth-child(2)::after {
    /*border-bottom-color: #eaedf2;*/
}

.page-header.navbar .top-menu .navbar-nav li.dropdown-dark .dropdown-menu::before {
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-radius:100px !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > .badge {
    font-family: "Open Sans",sans-serif;
    position: absolute;
    top: 25px;
    right: 4px;
    font-weight: bold;
    padding: 3px 5px;
    height: 18px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
    background: #EFF2F6 !important;
    padding: 0px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
    background: #ebf8ff!important;
}

span.photo.col-md-2{
    padding-left: 10px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
    background: #eaedf2;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    color: #888 !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
    color: #62878f;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
    color: #cdcdcd;
    border-bottom: 1px solid #EFF2F6 !important;
}

/*
    Left side nav menu
*/

.top-nav-menu a{
    text-decoration: none;
    color: #000000;
    /*font-weight: bolder;*/
}

.top-nav-menu a.active,
.top-nav-menu a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #f47d31;
    font-weight: bolder;
}

/*Top Menu Responsive*/
@media (max-width: 980px) {
    /* 767px */
    .guest-menu{
        /*margin: 80px 10px 10px 10px !important;*/
        position: absolute;
    }

    .guest-menu .page-sidebar-menu > li{
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .guest-menu .page-sidebar-menu{
        list-style: none;
    }

    .guest-menu.collapse.in {
        position: relative;
        overflow: hidden !important;
        overflow-y: auto !important;
        display: block !important;
    }
}

/* 5 equal column */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

a:focus, a:hover {
    text-decoration: none;
}

.page-header.navbar.navbar-fixed-top, body{
    max-width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.page-header.navbar {
    width: auto;
}

@media (min-width: 1140px) {
    .container {
        width: 100%;
    }
}

.container, .container-fluid {
    /* padding-left: 0px; */
    /* padding-right: 0px; */
}

.page-container {
    margin: 0px;
    position: relative;
}

.dropdown-menu-logout{
    box-shadow: 0px 0px !important;
    background: #fff !important;
    border: 1px solid #e9e9e9 !important;
    border-radius: 0px !important;
    margin-top: 11px !important;
    width: 236px !important;
}

.setNavLinkToggle span{
    color:#999;
}

@media (max-width:1199px ) and (min-width:320px)
{
    .setSideMEnu li
    {
        width:100% !important;
    }

    .setNAVBARHOMEPAGE li{
        margin-top:3px;
    }
    .activatedLink{
        background-color: #5CC22F !important;
        color: #fff !important;
        border-radius: 25px !important;
        padding: 15px !important;
    }

    .activatedLink span{
        color:#fff;
    }

    .setbtnbtnColllapseN{
        color: #5ec329;
        /*height: 52%;*/
        background-color: transparent;
        border: 0;
        position: absolute;
        right: 20px;
        top: 30px;
        display:block;
    }

    .setbtnbtnColllapseN:hover{
        color:#57b029;
    }

    .setbtnbtnColllapseN:focus {
        border:0px;
    }

    .setCustomCollapse2 {
        background-color: #fff;
        position: absolute;
        top: 70px !important;
        width: 100%;
        /*display: block;*/
        padding-bottom:20px;
        right:0px !important;
    }
    .setNAVBARHOMEPAGE, .nav-item {
        width:90%;
        padding-left:25px;
        margin-top:30px;
        /*background-color: #57b029;*/
        /*color:#fff;*/
    }
    .setNavLinkToggle {
        padding: 15px !important;
        font-size: small;
    }
    .setNavLinkToggle:hover {
        background-color: #5CC22F !important;
        color: #fff !important;
        border-radius: 25px !important;
        padding: 15px !important;
    }

    .setNavLinkToggle:hover span{
        color: #fff !important;
    }
    .setTopmenuAfterLogin {
        padding-right:0px !important;
        margin-right:0px !important;
    }


    .setH2DDM{
        padding: 12px 14px 8px 0px;
        margin-top:17px !important;
        min-width:140px !important;
    }
    .dropdown-menu-logout{
        box-shadow: 0px 0px !important;
        background: #fff !important;
        border: 1px solid #e9e9e9 !important;
        border-radius: 0px !important;
        margin-top: 23px !important;
        width: 236px !important;
    }
}

.dropdown-menu-logout:after{
    right: 21px !important;
}
.dropdown-menu-logout:before{
    right: 20px !important;
}
.dropdown-menu-logout hr{
    margin: 0px;
}
.dropdown-menu-logout .user{
    padding: 10px 8px;
}
.dropdown-menu-logout .user-img{
    float: left;
    width: 50px;
}
.dropdown-menu-logout .user-name{
    float: left;
    color: #cdcdcd;
}
.dropdown-menu-logout .user-name span{
    color: #000;
    font-size: 16px;
}
.dropdown-menu-logout li{
    /*margin: 0px 5px;*/
    border-bottom: 1px solid #e9e9e9;
}
.dropdown-menu-logout li:last-child,
.dropdown-menu-logout li:first-child{
    border-bottom: 0px solid #e9e9e9;
}
/*.dropdown-menu-logout{
    display: block;
}*/
.dropdown-menu-logout li a{
    padding: 5px 15px !important;
    color: #787878 !important;
}
.dropdown-menu-logout li a img{
    width: 25px;
}
.dropdown-menu-logout li a span{
    padding-left: 10px;
}
.dropdown-menu-logout .set-HHover a:focus,
.dropdown-menu-logout .set-HHover a:hover,
.dropdown-menu-logout .set-HHover a:hover i,
.dropdown-menu-logout .set-HHover a:focus i,
.dropdown-menu-logout li .change-status a:hover,
.dropdown-menu-logout li .change-status a:focus,
.dropdown-menu-logout li .change-status a:hover i,
.dropdown-menu-logout li .change-status a:focus i{
    background: #58AF2A !important;
    color: #fff !important;
}

.dropdown-menu-logout .setlngec a:hover{
    background-color: #E8E7E8 !important;
    color:#000 !important;
}
.dropdown-menu-logout li.change-status a,
.dropdown-menu-logout li.change-status a i{
    color: #E1AC05 !important;
}
.dropdown-menu-logout li.change-status a{
    padding: 0px 8px !important;
}
.dropdown-menu-logout li.change-status a span{
    padding: 0px 5px;
}
.dropdown-menu-logout li.change-status a img{
    width: 35px;
}

.user-status-modal .modal-content{
    border-radius: 5px !important;
}
.user-status-modal .modal-header{
    background: #FCFCFC !important;
    padding: 15px 30px !important;
    border-radius: 5px 5px 0px 0px;
}
.user-status-modal .modal-header h4{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
}
.user-status-modal .modal-header .btn-c{
    border: 1px solid #d9d9d9 !important;
    background: #fff !important;
    color: #BDBDBD !important;
    padding: 5px;
    border-radius: 3px;
}
.user-status-modal .modal-body{
    padding: 15px 30px !important;
    background: #F7F7F7 !important;
    border-radius: 0px 0px 5px 5px;
}
.user-status-modal .modal-body .btn-submit{
    background: #58af2a none repeat scroll 0 0;
    border: 1px solid #58af2a !important;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-transform: none;
}

.user-status-modal .modal-body .radio{
    display: none !important;
}
.user-status-modal .modal-body .status-box:last-child{
    display: none;
}
.user-status-modal .modal-body .status-box-label{
    width:100%;
    cursor:pointer;
    margin-bottom: 15px;
    border:1px solid #e0e8ea;
    color: #58AF2A;
    background: #fff;
    border-radius: 5px;
    padding: 0px 10px;
    font-weight: 600;
}
.user-status-modal .modal-body .status-box-right .status-box-label{
    color: #E1AC05 !important;
}
.user-status-modal .modal-body .status-box-label img{
    width: 40px;
}
.user-status-modal .modal-body .check{
    border:2px solid #58AF2A !important;
    color: #58AF2A !important;

    background-image: url('/images/checkmark.png');
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 205px 5px;
}
.user-status-modal .modal-body .icon-color{
    color:#58AF2A;
    font-size: 18px;
    margin-right: 15px;
    position: relative;
    top: 4px;
}
.user-status-modal .modal-body .icon-black{
    color: #000;
    font-size: 18px;
    margin-right: 15px;
    position: relative;
    top: 4px;
}

.modal .input-group-addon img{
    width: 20px;
    height: 20px;
}

.user-status-modal .modal-dialog{
    width: 850px !important;
    top: 100px;
}
.header h4{
    font-size: 25px;
    line-height: 35px;
    text-transform: lowercase;
}
.header h4:first-letter{
    text-transform: uppercase;
}
.header p{
    text-align: center;
    font-size: 17px;
    margin-top: 0;
    color: #777777;
}
.submit-button{
    width: 400px;
    height: 55px;
    text-transform: uppercase !important;
    font-weight: normal !important;
    margin-bottom: 10px;
}
.submit-button i{
    font-size: 20px;
}
.status-box-label{
    padding: 40px !important;
}

.user-status-modal .modal-body .status-box-label div {
    padding: 0px !important;
    width: 163px;
    margin-left: 0;
}

.status-box-label{
    font-weight: normal !important;
    /*padding: 40px 50px !important;*/
    color: #c1c1c1 !important;
    text-align: center;
    border: 2px solid #d6d6d6 !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
}
.status-box-label i{
    font-size: 35px;
}
.status-box-label:hover{
    color: #58AF2A !important;
    border: 2px solid #58AF2A !important;
}
.submit-button{
    font-size: 18px;
    width: 400px;
    height: 55px;
    text-transform: uppercase !important;
    font-weight: normal !important;
}
.submit-button i{
    font-size: 20px;
}

.is_read {
    background-color: #fff;
}

.setLOGODEFAULT{
    height:45px;
}
.setHEADDDI{
    text-align:center;
    margin: 10px 0 0px 0;
}
.setHeadDDMENU{
    min-width: 220px
}
.setHEADIMAGEAVATAR2{
    width: 39px;
    height: 39px;
}
.setHeadCBOTH{
    clear:both;
}
.setHEADCol3ROW{
    padding-left: 0px;
}

@media (min-width: 320px) and (max-width: 560px){
    .search-type-btn-default:hover,
    .search-type-btn-default{
        width: 110px;
    }
    .search-type-btn-default.find-freelancer-btn{
        margin: 0px 3px;
    }
    .main-nav .inner-nav > ul{
        padding: 28px 0px 0px 0px;
    }
    .navbar-toggle{
        height: 60px;
    }
    .people-shortstory{
        text-align: center;
    }
    .home-services-main-l-icon{
        margin: auto;
    }
    .home-services-main-l{
        margin-bottom: 15px;
    }
    .home-services-main-r{
        text-align: center;
    }
    .footer-sub-first .row.mrg-top-10,
    .footer-sub-first .row.mrg-top-10 .mrg-top-10{
        text-align: center !important;
    }

    .page-header-row{
        height: 150px;
    }

    .page-header.navbar .page-top{
        position: absolute;
        background: transparent;
        right: 70px;
        width: 65%;
    }

    .page-header-row div:nth-child(2){
        right: 30px;
        top: 0px;
    }
    .page-header-row .ms-ctn.form-control.ms-no-trigger{
        float: right;
        width: 90%;
    }
}
