.notificationBell {
    border: 1px solid #58AF2A;
    padding: 6px 19px 4px 2px;
    border-radius: 50%;
    background-color: #58AF2A;
    color: white !important;
    float: right;
}
.notificationBellBubble {
    position: absolute;
    margin-top: -6px !important;
    right: 5px;
    display: inline;
    padding: 4px 6px 2px !important;
    border: 1px solid white !important;
    background-color: #58af2a !important;
}

.m-0{
    margin:0px !important;
}
.p-0{
    padding:0px !important;
}
/*bind-facebook-success start*/
.facebook-success-content{
    width:75% !important;
    padding:8px 13px;
    border-radius:10px !important;
    transform: translate(18%,30%);
}
.facebook-success-header{
    border:none !important;
}
.facebook-success-footer{
    border:none !important;
}
.facebook-success-body{
    padding:0px !important;
}
.facebook-success-body h2{
    font-weight:normal;
    font-size:27px;
    color:#191717;
    margin-top:15px;
}
.facebook-success-body p{
    font-size:17px;
    color:#272323;
    margin:-5px 0px 20px 0px;
}
.facebook-success-footer .btn{
    border-radius:5px;
    padding:19px 0px;
    font-size:15px;
    font-weight: 500;
    background:#58AF2A;
}
/*bind-facebook-success end*/

/*change-status-model start*/

.change-status-content{
    width: 910px !important;
    padding: 8px 13px;
    border-radius: 2px !important;
    right: 58%;
    transform: translate(23%,0%);
}
.change-status-header ,.change-status-footer{
    border:none !important;
}
.change-status-bg-img{
    background-image:url('images/icon/looking-for-project.png');
}
.change-status-close-btn{
    position:absolute;
    right:25px;
    top:25px;
}
.change-status-title h2{
    font-size:25px;
}
.change-status-title p{
    font-size:17px;
    color:#847d7d;
    font-weight:normal;
}
.change-status-content label{
    font-weight: normal;
    font-family: "Montserrat", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #3e3e3e;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom:0px !important;
    text-align:center;
    display:inline;
}
.change-status-content input[type=checkbox] {
    display: none;
}
.change-status-content input:checked + div:before {
    content: "\2713" !important;
    position:absolute !important;
    color:#58AF2A !important;
    right:40px !important;
    top:15px !important;
    font-size:20px !important;
}
.change-status-content input:checked + div .box{
    border-color:#41ae3d;
    color:#41ae3d !important;
    border-radius:5px;
}
.change-status-content .box{
    border-radius:3px;
    border:1px solid #b5b5b5;
    height:155px;
}
.change-status-body-box p{
    font-size:17px;
    color: #b5b5b5;
    line-height: 20px;
}
.change-status-bg-img,
.change-status-bg-img-second,
.change-status-bg-img-third{
    background-image: url("/images/icons/icons8-View.png");
    height: 50px;
    background-repeat: no-repeat, repeat;
    background-position: center;
    margin:30px 0px 5px 0px;
}
.change-status-bg-img-second{
    background-image: url("/images/icons/icons8-Find User Male.png");
}
.change-status-bg-img-third{
    background-image: url("/images/icons/icons8-Find Matching Job.png");
}
.change-status-content input:checked + div .box .change-status-bg-img{
    background-image: url("/images/icons/icons8-View-color.png");
}
.change-status-content input:checked + div .box .change-status-bg-img-second{
    background-image: url("/images/icons/icons8-Find User Male-color.png");
}
.change-status-content input:checked + div .box .change-status-bg-img-third{
    background-image: url("/images/icons/icons8-Find Matching Job-color.png");
}
.change-status-content input:checked + div .box p{
    color: #41ae3d;
}
.change-status-footer .btn{
    font-size:14px;
    font-weight: 500;
    padding:23px 150px !important;
    border-radius:5px;
    background-color: #58AF2A;
    margin:8px 0px;
}
.change-status-footer .btn i{
    font-size:25px;
    position: relative;
    top:5px;
    right:10px;
}
/*change-status-model end*/

/*add-skill-dialog start*/
.add-skill-dialog{
    width:800px !important;
    top: 20%;
}
.add-skill-content{
    border-radius:0px !important;
}
.fstMultipleMode .fstControls{
    width:100% !important;
}
.add-skill-header{
    border:none !important;
}
.add-skill-body{
    padding: 25px 15px 40px 15px;
}
.add-skill-body p{
    margin-top:20px;
    color:#b7b7b7;
    font-size:17px;
    font-weight:600;
}
.fstChoiceItem{
    background-color:transparent !important;
    color:#8a8787;
    font-size:16px;
    padding:3px 33px 3px 15px !important;
    border-radius:20px;
    border:1px solid #D9D9D9 !important;
    margin:8px 0px 12px 10px;
}
.fstChoiceRemove{
    color:#8a8787;
    left:unset;
    font-size: 20px;
    right:5px !important;
}
.fstElement{
    width:100% !important;
    border-radius:4px;
    border: 2px solid #41ae3d;
}
.add-skill-title h2{
    margin-top:12px;
}
.add-skill-title p{
    font-weight: normal;
    font-size:17px;
    color:#9c9494;
}
.add-skill-footer{
    border:unset !important;
    padding-bottom: 25px;
}
.fstElement:focus{
    border:1px solid red !important;
}
.add-skill-footer .btn{
    padding:18px 0px;
    border-radius:5px;
    background-color: #58AF2A;
    width: 60%;
    margin-right: 0px;
}
/*add-skill-dialog end*/

/*email-model start*/
.email-model-title img{
width: 200px;
height:200px;
margin:-25px 0px -50px 0px;
}
.email-Model-body p{
color:#B3B3B3;
font-weight: 500;
font-size:20px;
}
.email-Model-body h2{
font-weight: 500;
color:#5f5c5c;
}
/*email-model end*/

/*facebook register start*/
.facebook-register-img .facebbok-icon-img img{
width:60px;
height:60px;
}
.facebook-register-body h2{
margin-top:40px;
font-size:25px;
}
.facebook-register-body p{
font-size:17px;
}
/*facebook register end*/

/*email confirm password*/
.logo-icon-img img{
width:120px;
height:120px;
}
.email-pass-confirn-body{
margin-top:20px;
}
.email-pass-confirn-body input{
border-radius:4px;
}
.email-pass-confirn-body button{
width:100%;
font-size:14px;
background-color:#5CC230;
border-radius:3px;
padding:16px 0px;
margin-bottom:0px;
}
.email-pass-conpassword-content{
padding:0px 2px;
}

/*facebook-registration model*/
.xpopup_6_bodys{
    margin-top: 30px !important;
}

.xpopup_6_bodys p{
 color:#B3B3B3 !important;
}
.facebook-registration-body p{
    margin:0px;
    padding:0px;
    margin-top:20px;
    color:#000;
}
.facebook-registration a img{
    position: absolute !important;
    top:10px !important;
    right:20px !important;
}
.facebook-registration .facebook-img{
    width:60px !important;
    margin-top:20px;
    height:60px !important;
}
.facebook-registration-body h2{
    font-size:23px;
    font-weight: normal;
}
.facebook-registration-dialog{
    width:35% !important;
    margin-top:100px !important;
}
.facebook-registration-btn{
    padding:12px 0px !important;
    text-transform: capitalize !important;
    margin-bottom:2px !important;
}
.facebook-registration-btn img{
    width:25px;
    margin-right:20px;
    margin-left:-15px;
}

/*email-registration-facebook*/
.Xpopup5-body{
    padding: 30px 0px !important;
}
.email-registration-facebook{
    padding:0px 15px !important;
}
.email-registration-facebook button{
    color:#fff !important;
    font-size:14px !important;
    background-color:#465993 !important;
    text-transform: capitalize;
}
.email-registration-facebook .fa-facebook{
    font-size:25px;
    text-align:left;
    position: relative;
    left:-5px;
    top:3px;
}
.email-registration-facebook .btn{
    padding:10px 0px !important;
}


@media (max-width: 385px){

    .facebook-success-content {
        width: 75% !important;
        padding: 8px 13px;
        border-radius: 10px !important;
        transform: translate(18%,30%);
    }

    .facebook-success-footer .btn {
        border-radius: 5px;
        padding: 19px 0px;
        font-size: 13px;
        font-weight: 500;
        background: #58AF2A;
    }
}


@media (max-width: 353px){

    .facebook-success-content {
        width: 75% !important;
        padding: 8px 13px;
        border-radius: 10px !important;
        transform: translate(18%,30%);
    }

    .facebook-success-footer .btn {
        border-radius: 5px;
        padding: 19px 0px;
        font-size: 11px;
        font-weight: 500;
        background: #58AF2A;
    }
}


@media (max-width: 319px){

    .facebook-success-content {
        width: 75% !important;
        padding: 8px 13px;
        border-radius: 10px !important;
        transform: translate(18%,30%);
    }

    .facebook-success-footer .btn {
        border-radius: 5px;
        padding: 19px 0px;
        font-size: 9px;
        font-weight: 500;
        background: #58AF2A;
    }
}
