.section.home-services{
	background-size: 100% 100%;
	padding-top: 80px;
}
.home-services .heading{
	text-align: left;
}
.home-services .heading .border-custom{
	width: 50px;
	height: 4px;
	background:#82B441;
}

.home-services-main{
	margin-bottom: 30px;
}

.home-services .heading h3{
	color: #fff;
	font-size: 20px;
	margin-bottom: 62px;
}

.home-services-main-l img{
	width: 80px;
}
.home-services-main-r a{
	color: #fff;
	font-size: 16px;
}
.home-services-main-r p{
	line-height: 20px;
	padding: 10px 0px;
	font-family: fantasy;
}
.team-section{
	background-image: url("/../images/bg-dash.jpg") !important;
	background-size: 100% 100%;
}
.team-section .our-team{
	padding-bottom: 0px !important;
}
.amazing-team .top-border-header,
.team-section .our-team .top-border-header{
	background: #5EC329;
	width: 50px;
	margin: auto;
	height: 6px;
}
.team-section .our-team h2{
	margin-bottom: 30px;
}
.team-section .our-team h4{
	margin-top: -20px !important;
	padding-bottom: 10px !important;
}
.team-div{
	position: relative;
}	
.team-div img{
	position: relative;
	z-index: 100;
	left: 3px;
}
.team-div-shadow{
	background: #1E374B;
    border-radius: 50%;
    height: 30px;
    margin: auto;
    position: relative;
    bottom: 35px;
    width: 90px;
    z-index: 10;
    box-shadow:0 0 20px 10px #344758;

}
.section-slider{
	border-bottom: 0px solid #fff;
}
.amazing-team{
	background-image: linear-gradient(rgba(46, 64, 78, 1), rgba(46, 64, 78, 0.8)), url("/../images/startupstockphotos-36.jpg") !important;
	background-size: 100% 100%;
	border-bottom: 0px solid #fff;
}
.amazing-team .heading{
	color: #fff !important;
}
.amazing-team .team-style-1 .team-member .member-img{
	position: relative;
	box-shadow: 0px 0px 5px 0px #2A3843;
}
.amazing-team .team-style-1 .team-member .member-info{
	background: linear-gradient(to bottom, transparent 0%,transparent 0%,#273540 20%,#273540 100%) !important;
	box-shadow: 0px 0px 0px 0px #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom: 0px solid #fff;

}
.amazing-team .team-style-1 .team-member .member-info > h3{
	color: #fff !important;
	margin-top: 0px !important;
	padding-top: 0px !important;
}