.modal-body{
    width: 100%;
}
.section.home-services{
	background-size: 100% 100%;
	padding-top: 80px;
}
.home-services .heading{
	text-align: left;
}
.home-services .heading .border-custom{
	width: 50px;
	height: 4px;
	background:#82B441;
}
.status-box-label{
    font-weight: normal !important;
    padding: 40px 50px !important;
    color: #c1c1c1 !important;
    text-align: center;
    border: 2px solid #d6d6d6 !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
}
.status-box-label i{
    font-size: 35px; 
}
.status-box-label:hover{
    color: #58AF2A !important;
    /*border-color: #58AF2A !important;*/
    border: 2px solid #58AF2A !important;
}
.home-services-main{
	margin-bottom: 30px;
}
.home-services .heading h3{
	color: #fff;
	font-size: 26px;
	margin-bottom: 62px;
}
.header h4{
    font-size: 25px;
    line-height: 35px;
    text-transform: lowercase;
}
.header h4:first-letter{
    text-transform: uppercase;
}
.header p{
    text-align: center;
    font-size: 17px; 
}
.home-services-main-l img{
	width: 80px;
}
.home-services-main-r a{
	color: #fff;
	font-size: 16px;
}
.   home-services-main-r p{
	line-height: 20px;
	padding: 10px 0px;
    font-size: 14px;
}
.banner-logo{
	width: 200px !important;
    /*height: 160px;*/
}

.user-status-modal .modal-dialog{
	width: 850px !important;
    top: 100px;
}
.user-status-modal .modal-content{
    border-radius: 5px !important;
}
.user-status-modal .modal-header{
    background: #FCFCFC !important;
    padding: 15px 30px !important;
    border-radius: 5px 5px 0px 0px;
}
.user-status-modal .modal-header h4{
    color: #676767;
    text-transform: uppercase;
    font-weight: 500 !important;
    font-size: 18px !important;
}
.user-status-modal .modal-header .btn-c{
    border: 1px solid #d9d9d9 !important;
    background: #fff !important;
    color: #BDBDBD !important;
    padding: 5px;
    border-radius: 3px;
    margin: 0px !important; 
}
.user-status-modal .modal-body{
    padding: 15px 30px !important;
    background: #F7F7F7 !important;
    border-radius: 0px 0px 5px 5px;
}
.user-status-modal .modal-body .btn-submit{
    background: #58af2a none repeat scroll 0 0;
    border: 1px solid #58af2a !important;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-transform: none;
}

.user-status-modal .modal-body .status-box input[type="radio"]{
    display: none !important;
}
.user-status-modal .modal-body .status-box:last-child{
    display: none;
}
.test-l{
    float: left;
    width: 50%;
}
.test-r{
    float: right;
    width: 50%;
}
.user-status-modal .modal-body .status-box-label{
    width:100%;
    cursor:pointer;
    margin-bottom: 15px;
    border:1px solid #e0e8ea;
    color: #59B129;
    background: #FCFCFC;
    border-radius: 5px;   
    padding: 0px 10px;
    font-weight: 600;
}
.user-status-modal .modal-body .status-box-right .status-box-label{
    color: #E1AC05 !important;
}
.user-status-modal .modal-body .status-box-label img{
    width: 40px;
}
.user-status-modal .modal-body .check{
    border:2px solid #58AF2A !important; 
    color: #58AF2A !important;

    background-image: url('/images/checkmark.png');
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 205px 5px;   
}
.user-status-modal .modal-body .icon-color{
    color:#58AF2A;
    font-size: 18px;
    margin-right: 15px;
    position: relative;
    top: 4px;
}
.user-status-modal .modal-body .icon-black{
    color: #000;
    font-size: 18px;
    margin-right: 15px;
    position: relative;
    top: 4px;
}

.footer-main{
    /*background: #333333;*/
}
.footer-main .section-top{
    border-bottom: 2px solid #434142;
    margin-top: 15px;
}
.footer-main .social-section h3,
.footer-main .link h3{
    color: #fff;
    font-weight: 600;
    letter-spacing: 0px;    
    text-transform: none;
}
.footer-main .link ul li a{
    color: #fff;
    letter-spacing: 0px;    
    line-height: 0px;
}

.footer-main .social-section{
    border-left: 2px solid #434142;
}
.footer-main .social-section .social-icon{
    overflow: hidden;
    margin-left: 5px;
}
.footer-main .social-section .social-icons{
    background: #69B2E5;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
    margin-right: 30px;
    line-height: 40px;
    color: #333333;
    transform: rotate(45deg);
}
.footer-main .social-section .social-icons i{
    transform: rotate(-45deg);
    font-size: 26px;
}
.footer-main .barcode-section{
    padding: 35px 0px;
    text-align: center;
    width: 80%;
}
.footer-main .barcode-section img{
    width: 105px;
    height: 105px;
}
.footer-main .section-middal .left{
    padding:30px 15px;
}
.footer-main .section-middal .left img{
    width: 70px;
}
.footer-main .section-middal .left h1{
    color: #fff;
    margin:0px;
    letter-spacing: 0px;    
    text-transform: none;
    font-size: 26px;
    margin-bottom: -5px;
    
}
.footer-main .section-middal .left span{
    color: #69B2E5;
    letter-spacing: 0px; 
    font-size: 16px;
}
.footer-main .section-middal .right{
    padding:30px 15px;
    border-left: 2px solid #434142;
}
.footer-main .section-middal .right h3{
    color: #fff; 
    font-weight: 600;
    letter-spacing: 0px;    
    text-transform: none;
    margin-top: 5px;
}
.footer-main .section-middal .mobile-app{
    padding:5px 0px;
}
.footer-main .section-middal .mobile-app img{
    float: left;
    width: 50px;
}
.footer-main .section-middal .mobile-app div{
    float: left;
    width: 70%;
    color: #fff;
}
.footer-main .section-middal .mobile-app div h3{
    padding: 0px;
    line-height: 0px;
    font-size: 18px;
}
.footer-main .section-middal .mobile-app div small{
    font-weight: normal;
    font-size: 10px;
}

.section-last{
    padding: 15px 0px;
}
.section-last .footer-list-custom{
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    padding-left: 15px;
    color: #fff !important;
    letter-spacing: 0px;    
}
.section-last .footer-list-custom span{
    text-transform: uppercase;
    line-height: 14px;
}
.section-last .footer-list-custom p{
    line-height: 14px;
    color: #69b2e5;
}
.section-last .footer-list-custom address{
    color: #69b2e5;
}
.section-last .footer-list-custom .icon{
    float: left;
    width: 50px;
}
.section-last .footer-list-custom .icon-text{
    float: left;
}
.footer-bottom{
    background: #272727;
    padding: 10px 0px;
}
.footer-bottom .copyright{
    color: #fff;
    text-align: center;
}
.footer-bottom .footer-line{
    padding:12px 0px 0px 0px;
}
.footer-bottom .footer-line p{
    border:1px solid #fff;
    width: 35%;
    margin: 0px;
}
.submit-button{
    width: 400px;
    height: 55px;
    text-transform: uppercase !important;
    font-weight: normal !important;
}
.submit-button i{
    font-size: 20px;
}
.mobile-menu{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    padding: 8px 0px;
    border-bottom: 1px solid #fff;
    display: none;
}
.mobile-menu i{
    float: right;
    margin-top: 6px;
}

.dismiss-img{
    position: absolute;
    right: 5px;
    top: 20px;
    width: 20px;
    cursor: pointer;
}

/*Responcive CSS*/
@media (max-width: 460px) {
    .mobile-menu{
        display: block;
    }
    .menu nav{
        display: none;
    }
    .nav ul li a{
        border-bottom:1px solid #58af2a !important;
        padding: 5px 0px !important;
    }
    .nav ul li a:hover{
        border-bottom:1px solid #fff !important;
    }
    footer .social-icon > a:nth-of-type(1){
        margin-left: 0px;
    }
    footer img{
        width: 40px;
    }
    .footer-main .section-middal .right,
    .footer-main .section-middal .mobile-app{
        overflow: hidden;
    }
    .footer-line{
        display: none;
    }
    .section.home-services{
        background-size: auto;
    }
    #modalAddUserStatus.modal{
        width: 90%;
        margin: auto;
    }
    #modalAddUserStatus.modal .modal-dialog{
        width: 100% !important;
        margin: auto !important; 
    }
    .user-status-modal .modal-content .pull-right{
        float: right !important;
    }
    .user-status-modal .modal-content #add-user-status-form .status-box{
        padding: 0px;
    }
}
@media (min-width: 461px) and (max-width: 800px) {
    footer .social-icon > a:nth-of-type(1){
        margin-left: 0px;
    }
    footer img{
        width: 40px;
    }
    .footer-main .section-middal .right,
    .footer-main .section-middal .mobile-app{
        overflow: hidden;
    }
    .footer-main .social-section .social-icons{
        margin-bottom: 25px;
    }
    .footer-main .barcode-section{
        padding: 5px 0px 35px 0px;
    }
    .section-last .footer-list-custom .icon-text{
        width: 75%;
    }
    .section-last .footer-list-custom .icon{
        width: 24%;
    }
    .user-status-modal .modal-content .pull-right{
        float: right !important;
    }
    .footer-bottom .copyright{
        float: left !important;
    }
    .footer-bottom .footer-line .pull-right{
        float: right !important;
    }
}
