.card-justify {
    margin-right: -1.5625rem;
    margin-left: -1.5625rem;
    display: flex;
    flex-flow: row wrap;
}

.entry-title{
    margin: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.27;
    letter-spacing: 0px;
    text-align: inherit;
    text-transform: inherit;
    padding-top: 10px;
}

.entry-title a:hover, .post-date__link, .post-author{
    color: #eb43a6;
}

.post-date__link, .post-author{
    text-transform: uppercase;
    font-size: 10px;
}

.entry-title a,.post-date__link:hover, .post-author:hover{
    color: #29272a;
}

.posts-list--vertical-justify .card {
    -webkit-flex: 1 0 calc(100%/4 - 3.125rem);
    -ms-flex: 1 0 calc(100%/4 - 3.125rem);
    flex: 1 0 calc(100%/4 - 3.125rem);
    max-width: calc(100%/4 - 3.125rem);
}

.card-justify .card {
    margin-right: 1.5625rem;
    margin-left: 1.5625rem;
}

.big-justify-block .entry-title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.27;
    font-family: Merriweather Sans;
    letter-spacing: 0px;
}

.entry-meta > span:not(:empty) {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 0;
}

.has-thumb.small-justify-block .post-thumbnail {
    margin: 0 0 19px;
}

.post .post-list__item-content {
    position: relative;
    padding: 0;
}

.big-justify-block .post-content_wrap{
    position: absolute;
    left: 25px;
    bottom: 5px;
    color: white;
    padding: 4px;
    font-size: 17px;
    line-height: 18px;
}

.big-justify-block a,
.big-justify-block .post__date a,
.big-justify-block .post__author a{
    color: white;
    text-shadow: 1px 1px black;
}

.big-justify-block a:hover,
.big-justify-block .post__date a:hover,
.big-justify-block .post__author a:hover
{
    color: black;
}

.small-justify-block, .big-justify-block
{
    padding-left: 0px;
    padding-right: 0px;
}

.bg-dark-large
{
    padding-bottom: 180px !important;
}
.services-secure
{
    height: 390px !important;
}

.explore-span
{
    cursor: pointer;
    width: 51px;
    height: 51px;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 15px 0;
    display: inline-block;
    font-size: 25px;
    color: #5ec329!important;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.31);
}

section#slider
{
    border-bottom: 0;
}

#testimonial
{
    position: relative;
    padding-top: 15px;
    padding-bottom: 35px;
}

.testimonial > .oval-shape-top
{
    background: url("../../../images/oval-shape.png") no-repeat center;
    width: 100%;
    height: 60px;
    position: absolute;
    top: -59px;
}

.testimonial > .oval-shape-bottom
{
    background: url("../../../images/oval-shape.png") no-repeat center;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: -59px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.container > h2.heading
{
    font-size: 26px;
    margin-top: 10px;
    color: #2e404e;
}

#testimonial h2.heading
{
    text-transform: none;
    font-weight: 100;
}

.title-icon
{
    display: block;
    padding-bottom: 25px;
}

#testimonial .testimonial-1 .item
{
    max-width: 900px;
    margin-top: 0;
    min-height: 235px;
    overflow: hidden;
}

.testimonial .people-avatar
{
    width: 180px;
    height: 180px;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 7px solid #23323d;
    border-radius: 50%;
    margin: 0 auto;
}

#secure .people-avatar
{
    border:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

#testimonial .people-shortstory
{
    text-align: left;
}

#testimonial .people-shortstory h1
{
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-top:35px;
    line-height: 20px;
    text-transform: none;

}

#testimonial .people-shortstory h3
{
    letter-spacing: 0;
    color: #5ec329;
    margin-top: 0;
    font-size: 16px;
    text-transform: none;
}

#testimonial .people-shortstory p
{
    font-size: 18px;
    margin-top: 20px;
    line-height: 24px;
}

#testimonial .owl-nav-1 .owl-buttons .next, .owl-nav-1 .owl-buttons .prev
{
    font-size: 50px;
    top: 10%;
}

#team > .container {
    max-width: 900px;
}

.section
{
    padding-bottom:35px;
}

.team-style-1 .team-member .member-info
{
    background: #ffffff;
    color: #7a7b7b;
    text-align: center;
    border-bottom: 4px solid #2e404e;
    -webkit-box-shadow: 0 0 60px -10px rgba(45,63,77,0.15);
    -moz-box-shadow: 0 0 60px -10px rgba(45,63,77,0.15);
    box-shadow: 0 0 60px -10px rgba(45,63,77,0.15);
}

.team-style-1 .team-member .member-img
{
    -webkit-box-shadow: 0 0 60px -10px rgba(45,63,77,0.15);
    -moz-box-shadow: 0 0 60px -10px rgba(45,63,77,0.15);
    box-shadow: 0 0 60px -10px rgba(45,63,77,0.15);
}

.team-style-1 .team-member .member-info > h3
{
    font-size: 20px;
    letter-spacing: 0;
    color: #7a7b7b;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 3px;
    padding-top: 30px;
}

.team-style-1 .team-member .member-info > .member-title
{
    color: #5ec329;
    font-size: 14px;
    padding-left: 0;
    padding-bottom: 20px;
}

#secure .our-team
{
    padding-bottom:0px;
}

#secure .our-team h4
{
    font-size: 20px;
    color :#ffffff;
    text-transform: none;
    padding-bottom: 40px;
    margin-top: 20px;
}

#secure > .our-team > .title-icon
{
    padding-bottom: 80px;
}

.our-team .sub-heading
{
    clear: both;
    margin: 0 auto;
    width: 70%;
    padding-top: 30px;
}

#secure
{
    position: relative;
}

#quick-order
{
    padding-top: 100px;
}

.submenu>a:after
{
    display: none;
}

.hero-caption.caption-height-center {
    top: 30%;
}
.mrg-top-15 {
    margin-top: 15px !important;
}
.secure {
    border-bottom: none !important;
    padding-bottom: 50px !important;
}

hr.services {
    border-top: 2px solid #fff !important;
}

section.home-services {
    background-image: linear-gradient( rgba(46, 64, 78, 0.8), rgba(46, 64, 78, 0.8) ), url('../images/bg-services-sm.jpg') !important;
    /*background-color: tomato !important;*/
    /*height: 670px!important;*/
}

.hero-caption.caption-height-center h1{
    margin: 15px 0px 0px 0px;
    color: #fff;
}

.hero-caption.caption-height-center h3{
    margin: 0px 0px;
    color: #69C32A;
}

.hero-caption.caption-height-center h1.big-text{
    letter-spacing: 0px;
    font-size: 36px;
}

.hero-caption.caption-height-center h3.big-text{
    letter-spacing: 0px;
    font-size: 20px;
}

.ms-ctn
{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}
.ms-ctn:hover{
    border-color: #64B12B;
}

.ms-ctn-focus {
    border-color: #64B12B;
}

.ms-ctn .ms-sel-item {
    background: #57b029;
    color: #fff;
    border: 1px solid #84c165;
    padding: 5px 10px;
}

.ms-sel-ctn .ms-sel-item .ms-close-btn{
    background-image: url('../../../images/ms-close.png');
}

.ms-ctn input{
    padding: 5px 10px;
}

.ms-res-ctn .ms-res-item{
    padding: 5px 20px;
    position: relative;
    z-index: 10 !important;
}
.ms-res-ctn .add-more{
    border: 1px solid #fff;
    border-radius: 3px;
    line-height: 28px;
    padding: 0 10px;
    position: absolute;
    top: 3px;
    right: 15px;
    z-index: 1001 !important;
}

.ms-helper{
    top: -25px;
    top: 120px;
    font-size: 16px;
    width: 100%;
}

.ms-helper a{
    color: #5ec329;
    font-weight: bold;
}

.search-type-cn{
    font-size:17px;
}

.search-type-en{
    font-size:12px;
}

.search-type-text
{
    /*font-size: 14px;*/
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.search-type-text.active,
.search-type-text:hover
{
    color: #5ec329;
}

.fa-search{
    position: absolute;
    right: 30px;
    top: 26px;
    color: #5ec329;
    font-size: 18px;
}

.search-desc{
    font-size: 12px;
    font-family: "Helvetica", "Microsoft Yahei", "微软雅黑";
    font-weight: 700;
}

.search-plus{
    position: absolute;
    right:14px;
    top:10px;
    font-weight: lighter;
    font-size: 16px;
    color: #5ec329;
}

.search-type-div{
    margin-top: 20px;
}
.search-type-btn-default{
    background: transparent;
    /*border: 1px solid transparent;*/
    border: 1px solid #fff;
    width: 30%;
    margin-right: 2%;
    color: #fff;
    border-radius: 5px;
    /*font-size: 12px;*/
    padding: 2px 0px;
}
.search-type-btn-color{
    border-radius: 5px;
    /*font-size: 12px;*/
    padding: 2px 0px;
    width: 30%;
    border: 1px solid #FFF;
    background: #64B12B;
    color: #fff;
}
.search-type-btn-default:hover{
    border: 1px solid #5ec329;
    color: #5ec329;
}
.search-type-btn-color:hover{
    border: 1px solid #fff;
    color: #fff;
}
.search-type-btn-color:focus{
    border: 1px solid #fff;
    color: #fff;
}
.btn-search{
    cursor: pointer;
}
.ms-sel-ctn input{
    color: #64B12B;
}
.ms-ctn{
    padding: 8px 12px;
}

.ms-res-ctn .ms-res-item-active {
    background-color: #5ec329;
    color: #fff;
}

.ms-res-ctn .ms-res-item-active .search-plus{
    color:#fff;
}

em{
    background-color: #fcc33a !important;
}

.search-desc em{
    background-color: #57b029 !important;
}

@media (max-width: 460px){
    .search-type-btn-defult,
    .search-type-btn-color{
        width: 100%;
        margin-bottom: 10px;
    }
    .fa-search{
        top: 15px;
    }
}

#add-new-skill-keyword-form label,
#add-new-skill-keyword-form .control-label{
    font-size: 15px;
}

/***
*   Add Skill Modal
***/
#modalChangeUserSkill h4 {
    font-size: 18px;
}

#modalChangeUserSkill .control-label{
    font-size: 14px;
}

#modalChangeUserSkill .btn{
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

#msSkills .ms-helper{
    font-size: 10px;
    position: absolute;
    top: -24px;
    right: 0;
    text-align: right;
}

#modalChangeUserSkill.modal{
    z-index: 1050;
}

#modelAddNewSkillKeyword.modal{
    z-index: 2090;
}

#search-type{
    font-size: 16px;
    width: 100%;
    color: #5ec329;
    font-weight: bold;
}


.mobile-search-type-btn-default{
    background: transparent;
    /*border: 1px solid transparent;*/
    border: 2px solid #fff;
    width: 30%;
    margin-right: 2%;
    color: #000;
    border-radius: 5px;
    /*font-size: 12px;*/
    padding: 2px 0px;
}
.mobile-search-type-btn-color{
    border-radius: 30px;
    /*font-size: 12px;*/
    padding: 2px 0px;
    width: 30%;
    border: 2px solid #64B12B;
    /*background: #64B12B;*/
    color: #000 !important;
}