

.setiAIMG{
	cursor: pointer;
}

.setgetImage{
	width: 130px;
}

.set-col-md-1-identity-auth-divider{
	width:5%;
}

/* sweet alert edges rounded */
.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
	margin: auto;
	border-radius: 10px !important;
}
/* sweet alert edges rounded */

.frontCardImage > img{
	height: 135px;
    width: 100%;
}

.backCardDefaultImage{
	width: 100% !important;
	padding: 0px 7px 0px 7px !important;
	border: 0px !important;
	margin: 0px 0px 9px !important;
	height: 131px !important;
}

.backCardDefaultImage > img{
	margin: 0px !important;
	width: 100%;
	position: relative;
	display: inline-block;
}

.frontCardDefaultImage{
	/*height: 89px !important;*/
}


.setbtnReAuth{
	color:#fff !important;
	border-radius: 5px !important;
	background-color: #57b029 !important;
	width:212px !important;
	height:43px !important;
	font-size:14px !important;
	padding: 12px !important;
}

.setwaiting{
	color:#CDC1C7;
}

.setSuccessLabel{
	font-size: 20px !important;
	text-transform: capitalize !important;
}

.setCOLROW {
	margin-top: 4.4%;
}


@media (max-width:2000px) and (min-width:1414px)
{
	.identityStatus {
		text-align: center;
		color: #fff;
		font-size: 12px;
		position: relative;
		left: -8px !important;
		margin: 0 auto;
		padding: 5px;
		border-radius: 20px;
		width: 100%;
	}
	.setCOLROW {
		margin-top: 2.7%;
	}
}

@media (max-width:1650px)
{
	.setPageContent {
		position: relative;
		top: 20px !important;
		display: flex !important;
	}
}

@media (max-width:1413px) and (min-width:992px)
{
	.setPageContent {
		position: relative;
		top: 0px !important;
		display: flex !important;
	}
}
@media (max-width:1318px) and (min-width:992px)
{
	.setPageContent {
		position: relative;
		top: 2px !important;
		display: flex !important;
	}
}

@media (max-width:1029px)
{
	.setAUTHENTICATION{
		margin-left:38%;
	}
}
.setFILEINPUTAUTHNP{
	width: 100%;
	max-height: 150px;
	margin: 0px 0px 9px !important;
	padding: 0px !important;
	border: 0px !important;
}
.setFILEINPUTEAUTHNP{
	width: 100%;
	height: 138px;
	padding: 0px 10px 0px 10px !important;
	border: 0px !important;
}
.setIAUTHPAGEQRC{
	width: 200px; height: 190px;
}
.setAUTHPAGENT{
	width: 200px; height: 190px;
}


.gray-box {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sec-title {
    padding-left: 20px;
    padding-right: 20px;
}

.set-name-title-area{
	font-weight: bold;
}

.id-card{
    color: #999999;
    padding: 10px 0px 10px 12px !important;
	font-weight: 500;
}

.input-group-addon > i {
    color: inherit;
}

.select2.select2-container{
    width: 100% !important;
}

.page-content-wrapper {
    margin-top: 15px;
}
.portlet.light.bordered{
	border: 1px solid #e5e5e5 !important;
	border-radius: 0px !important;
	box-shadow: 0px 0px 7px 2px #e5e5e5;
}
.portlet-title{
	text-align: center !important;
}
.caption{
	float: none !important;
	padding-top: 40px !important;
	text-align: -moz-center;
	text-align: -webkit-center;
}
.caption p{
	color: #aaaaaa !important;
	width:291px;
}
.caption-subject{
	color: #6e6e6e !important;
	font-weight: normal !important;
	text-transform: capitalize !important;
	font-size: 30px !important;
}
.caption span:first-letter{
	text-transform: uppercase !important;
}
.control-label{
	text-transform: uppercase;
	color: #b8b8b8;
	padding-right:0px;
	padding-top: 10px !important;
}

#real_name {
	color:#9f9f9f !important;
}

#id_card_no{
	color:#9f9f9f !important;
}

#address{
	color:#9f9f9f !important;
}

#handphone_no{
	color:#9f9f9f !important;
}

.form-body input{
	height: 50px !important;
	border: 2px solid #c1c1c1;
}
.form-body input:hover{
	height: 50px !important;
	border: 2px solid #c1c1c1 !important;
}
.form-body input:focus{
	border: 2px solid #58af2a !important;
	height: 50px !important;
}
.browse-btn{
	background-color: #00b82b;
	color: white;
	width: 200px;
	border-radius: 5px;
	margin-top: 0px;
}
.browse-btn:hover ,.submit:hover {
	color: white;
}
.submit{
	font-size: 16px;
	font-weight: normal;
	height: 65px;
	width: 460px;
	background-color: #58AF2A;
	color: white;
	border-radius: 5px;
}
.submit i{
	font-size: 20px;
}

.select2-container--bootstrap .select2-selection{
	border:2px solid #c1c1c1 !important;
	height: 50px;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
	padding: 8px 0px !important;
}
.upload-label{
	margin-top: 80px;
	font-weight: bold;
}


/*Radio Btn CSS*/

.xc-radio-btn{
	float: left;
	padding-left:15px !important;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 10px;
}

.xc-radio-btn input[type="radio"]{
	position:absolute !important;
	opacity:0 !important;
	z-index:1 !important;
}

.xc-radio-btn label{
	display:inline-block !important;
	line-height:24px !important;
	vertical-align:middle !important;
	position:relative !important;
	padding-left:20px !important;
	cursor:pointer !important;
	user-select:none !important;
	color:#9C9C9C !important;
}

.xc-radio-btn label::after{
	position:absolute !important;
	content:"" !important;
	width:25px !important;
	height:25px !important;
	left:0 !important;
	top:0 !important;
	margin-left:-18px !important;
	background-color:white !important;
	border:2px solid #AAAAAA !important;
	border-radius:50% !important;
	background-clip:padding-box !important;
	cursor:pointer !important;
}

.xc-radio-btn label::before{
	position:absolute !important;
	content:"" !important;
	top:5px !important;
	left:1px !important;
	margin-left:-14px !important;
	border:7px solid #58AF2A !important;
	background:transparent !important;
	-moz-transform:rotate(-45deg) !important;
	-o-transform:rotate(-45deg) !important;
	-ms-transform:rotate(-45deg) !important;
	-webkit-transform:rotate(-45deg) !important;
	transform:rotate(-45deg) !important;
	opacity:0 !important;
	-webkit-transition:all 0.15s ease-in-out !important;
	-o-transition:all 0.15s ease-in-out !important;
	transition:all 0.15s ease-in-out !important;
	z-index:1 !important;
}

.xc-radio-btn input[type="radio"]:checked+label{
	color:#747474 !important;
}

.xc-radio-btn input[type="radio"]:checked+label::after{
	border:2px solid #58AF2A !important;
}

.xc-radio-btn input[type="radio"]:checked+label::before{
	opacity:1 !important;
}

.xc-radio-btn input[type="radio"]:disabled+label{
	color:#787878 !important;
	cursor:pointer !important;
}

.xc-radio-btn label::before{
	width:12px;
	height:12px;
	border:none;
	top:6px;
	left:6px;
	-webkit-border-radius:50%;
	border-radius:50%;
	background-clip:padding-box;
	background-color:#000000;
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
}
.set-image-padding-identityAuth{

}

.set-cross-identityAuth{
	display: block;
	position: relative;
	left: 93px;
	top: -6px;
}

.set-cross-identityAuth > img{
	width:15px;
	cursor: pointer;
}

.input-layout {
	border: 2px dashed #CCC;
	width: 225px;
	height: 250px;
	text-align:center;
	padding-top: 10px;
	vertical-align: middle;
	border-radius: 10px;
}

.frontCardImage{
	padding:0px;
}

.backCardImage {
	height: 138px;
	width: 100%;
	padding: 0px 10px 0px 10px;
	border: 0px;
}
.frontCardImage > img{
	/*display: inline-block !important;*/
}

.backCardImage >img{
	/*display: inline-block !important;*/
}

.backCardImage{
	height:auto;
	padding:0px;
	width: 200px;
	display: inline-block !important;
}

.backCardImage > img{
	height: 135px;
	width: 100% !important;
}

.setAUTHPAGENT >img{
	margin: 0px !important;
}

.setIAUTHPAGEQRC >img{
	margin: 0px !important;
	width: 165px !important;
	display: inline-block !important;
}

.qrcode-layout {
	border: 0px solid #CCC;
	width: 225px;
	height:190px;
	padding-left:10px;
	padding-right:10px;
	padding:0px !important;
	vertical-align: middle;
	border-radius: 10px;
}

.qrcode-box{
	position:absolute;
	border-width:0px;
	width: 195px !important;
}

.id-photo{
	margin-top:10px;
}

.errorColor{
	border: 2px solid red !important;
}

.setImage2 > img{
	margin: 0px !important;
	width: 165px !important;
	display: inline-block !important;
}

.identityStatus {
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: relative;
    left: 2px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    width: 75%;
}
.set-refresh-icon{
	position: relative;
	left:-15px;
}

.identityStatus.identityStatusPending {
    background-color: #f2a122;
}
.identityStatus.identityStatusRejected {
    background-color: red;
}
.identityStatus.identityStatusApproved {
    background-color: #28a745;
}

.set-fa-facheck{
	position: relative;
	left:-15px;
}

footer {
	padding: 25px 0;
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
	background-color: #30303c;
}

footer p {
	font-size: 14px;
	margin: 0;
}

footer ul {
	margin-bottom: 0;
}

footer ul li a {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
	text-decoration: none;
	color: #57af2a;
}

.setPortletBodyPI{
	padding:20px;
}

@media (max-width:2000px)
{
	.setPageContent {
		position: relative;
		top: 19px;
	}
}

@media (min-width:320px) and (max-width:991px)
{
	.setPageContent {
		display: block !important;
	}
	.setAUTHENTICATION{
		margin-left:0%;
	}

	.setCOLROW{
		margin-top:8%;
		text-align: center;
	}
	.setLINEHIA{
		line-height: 1.3;
	}

	.setMAinMENU
	{
		display:none;
	}
	.setSUBMITBTN{
		width:100% !important;
	}
	.setportletBodyForm {
		width: 100%;
	}
	.setportletBodyForm .setGenderBox {
		margin-left: 30%;
	}
	.setportletBodyForm .setBirthDay .col-md-8 .input-group {
		width: 100% !important;
	}
	.setportletBodyForm .setCardBarcode{
		text-align:center;
	}

	.setportletBodyForm .setCardBarcode .col-md-3 .setImage1 {
		display: block;
		margin-top: 5%;
		margin-left:18px;
	}
	.setportletBodyForm .setCardBarcode2{
		text-align: center;
	}
	.setportletBodyForm .setCardBarcode2 .col-md-3 .setImage2{
		display: block;
		margin-top: 0%;
		margin-left:18px;
	}
}


@media (max-width:414px)
{
	.setportletBodyForm .setCardBarcode {
		text-align: center;
		margin-top: -16%;
	}
	.setportletBodyForm .setGenderBox {
		margin-left: 6%;
	}
	.setportletBodyForm .setCardBarcode .col-md-3 .setImage1 {
		display: block;
		margin-top: -11%;
	}
	.setportletBodyForm .setCardBarcode2 .col-md-3 .setImage2 {
		display: block;
		margin-top: -11%;
	}
	.setportletBodyForm .setCardBarcode2 {
		text-align: center;
		margin-top: -16%;
	}
}

@media (max-width:375px)
{
	.setSUBMITBTN {
		font-size: 12px;
	}
	.setportletBodyForm .setCardBarcode {
		text-align: center;
		margin-top: -30%;
	}
	.setportletBodyForm .setCardBarcode .col-md-3 .setImage1 {
		display: block;
		margin-top: -8%;
	}
	.setportletBodyForm .setCardBarcode2 .col-md-3 .setImage2 {
		display: block;
		margin-top: -8%;
	}
}
