/*.bootstrap-switch{*/
    /*border-radius: 50px;*/
    /*border-color: #61B02B;*/
    /*border-width: 2px;*/
    /*height: 23px;*/
    /*width: 41px !important;*/
    /*float: right;*/
/*}*/
/*.bootstrap-switch-container{*/
    /*height: 15px;*/
    /*width: 38px !important;*/
/*}*/
/*.bootstrap-switch.bootstrap-switch-focused{*/
    /*border-color: #61B02B;*/
/*}*/
/*.bootstrap-switch-on{*/
    /*background: #61B02B;*/
/*}*/
/*.bootstrap-switch-off{*/
    /*background: #E7E9EF;*/
/*}*/
/*.bootstrap-switch-container .bootstrap-switch-handle-on{*/
    /*color:#61B02B !important;*/
    /*background: #61B02B !important;*/
/*}*/
/*.bootstrap-switch-container .bootstrap-switch-handle-off{*/
    /*color:#E7E9EF !important;*/
/*}*/
.end-contract .desc-short-end-contract{
    color: #000;
}
/*.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label{*/
    /*border-radius: 50% !important;*/
    /*padding: 0px !important;*/
    /*height: 19px;*/
    /*width: 19px;*/
/*}*/

.bootstrap-switch-handle-on.bootstrap-switch-green, .bootstrap-switch-handle-off.bootstrap-switch-green{
    padding: 2px 9px 9px 8px !important;
    color: #fcfcfc !important;
    background: #57b029 !important;
    height: 45px !important;
}

.setFJJOBPAGE {
    min-width: 175px;
}
.setMSGPAGECF{
    overflow: unset;
}

.setRowIMNFCSSMessage{
    margin-top:4.4%;
}

html:lang(cn) .setFVJ {
    margin-right: 52px !important;
}

.setINPUTFMSGP{
    display:none !important;
}

.setFJJOBPAGE .setLILI a {
    padding: 11px 20px !important;
}
.setFVJ {
    position: relative !important;
    right: -2px !important;
    margin-right: -11px !important;
}
.setFFL {
    position: relative;
    right: -2px
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setRowIMNFCSSMessage {
        margin-top: 3%;
    }
}