.set-pagination-inbox-page , .pagination{
    padding-right:4px;
}

.set-right-top-main{

}

.margin-r-10{
    margin-right: 10px;
}

.setINBOXMPOSPR li{
    text-decoration: none !important;
}

.btn-customs-all:hover,
.btn-customs-all:focus,
.btn-customs-all{
    text-transform: capitalize;
    width: 115px;
    border: 2px solid #58AF2A !important;
    height: 40px;
    border-radius: 4px;
    font-weight: normal;
}
.btn-green-custom{
    background: #58AF2A;
    color: #fff;
}
.btn-default-custom{
    background: #fff;
    color: #58AF2A;
}
div.checker.hover span.checked, div.checker.focus span.checked,
div.checker span.checked{
    background-position: 1px 3px;
}
div.checker span{
    background: #fff no-repeat;
    border: 2px solid #C7C7C7;
    background-position: 1px 3px;
}
.checked div.checker span{
    background: url('/images/icons/checkmark.png') #fff no-repeat;
    border: 2px solid #58B028;
    background-position: 1px 3px;
}
.header-action div.checker span{
    background-position: 1px 3px;
}
.message-status-menu{
    padding-top: 10px;
}

.message-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}

.message-status-menu li.active {
    color: #36c5d3;
    border-bottom: 5px solid #36c5d3;
}

.inbox .pagination-control, .inbox th.text-right {
    text-align: right;
}

.btn {
    border-width: 1px !important;
}

.panel {
    margin-bottom: 10px;
}

.dateTime{
    color: #000000;
}

.message-title{
    padding-left: 20px;
}

.gray-box {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portlet.box > .portlet-title {
    color: #000;
}

.complete-time, .order-id {
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.order-status-menu {
    padding-top: 10px;
}

.column {
    padding-top: 10px;
    padding-left: 35px;
}

a.view{
    text-decoration: underline;
}





.order-status-menu{
    padding-top: 10px;
}
.order-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}
.order-status-menu li.active {
    border-bottom: 5px solid #008fd5;
}
.top-tabs-menu{
    padding: 0px;
    border-bottom: 1px solid #e7ecf1;
}
.right-top-main{
    /*margin-left: 29px;*/
}

@media (max-width:1109px) and (min-width:992px)
{
    .right-top-main{
        margin-left: 29px;
    }
}
.order-status-menu{
    padding-top: 0px;
}
.order-status-menu ul{
    margin-bottom: 19px !important;
}
.order-status-menu ul li {
    padding: 16px 20px !important;
}
.order-status-menu ul li a{
    color: #5a5a5a;
    padding: 20px 10px !important;
    font-family: 'Raleway',Sans-Serif;
    font-size: 16px !important;
}

html:lang(cn) .order-status-menu ul li a{
    color: #5a5a5a;
    padding: 20px 10px !important;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px !important;
}

.search-selectbox select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: none;
    border: medium none;
    box-shadow: none;
    padding: 0px 12px;
    height: 44px;
    margin-top:-1px;
}

.spnItemTick-228{
    position: relative;
    top:-5px;
}

.spnItemTick-228  div.checker, div.checker span, div.checker input{
    width:22px !important;
    height:22px !important;
}

.search-selectbox:after {
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 24px;
    color: #57B029;
    font-family: FontAwesome;
    top: 4px;
}

.setIBOXMPCol12{
    margin-left:16px;
    width: 104%;
}

.order-status-menu ul li.active a{
    color: #58AF2A;
    font-family: 'Raleway',Sans-Serif;
    font-size: 16px !important;
}
.order-status-menu li.active{
    border-bottom: 4px solid #58AF2A;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    border-radius: 12px !important;
    padding: 2px;
    font-size: 15px;
}
.header-action{
    margin-top: 10px;
}
.header-action .checkbox-all{
    width: 50px;
    text-align: center;
    line-height: 40px;
    float: left;
}
.header-action .back{
    color: #808080;
    text-transform: uppercase;
    font-family: 'Raleway',Sans-Serif;
    font-size:14px !important;
}
.header-action .back i{
    margin-right: 10px;
    color: #58AF2A;
}
.header-action .search-selectbox{
    width: 168px;
    height:44px;
}
.portlet.box{
    margin-top: 15px;
}
.inbox-main-section .portlet-body{
    padding: 25px 0px !important;
}
.inbox-main-section .inbox-mail{
    margin: 0px;
    background: #fff;
}
.inbox-main-section .inbox-mail.striped{
    background: #EBEBEB;
}
.inbox-main-section .inbox-mail .checkbox-sub{
    padding: 20px 20px;
    width: 6%;
}
.inbox-main-section .inbox-mail .inbox-mail-detail{
    padding: 10px 15px;
    border-bottom: 1px solid #E6E6E6;
}
.inbox-main-section .inbox-mail-detail .user-img{
    padding: 0px;
    border-right: 1px solid #58AF2A;
}
.inbox-main-section .inbox-mail-detail .user-imgs{
    height: 45px;
    width: 45px;
    position: relative;
}
.inbox-main-section .inbox-mail-detail .user-imgs img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.inbox-main-section .inbox-mail-detail .user-imgs i{
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    font-size: 10px;
    bottom: -3px;
    right: 2px;
    line-height: 8px;
}
.inbox-main-section .inbox-mail-detail .user-imgs i.online{
    color: #57AF25;
}
.inbox-main-section .inbox-mail-detail .user-imgs i.offline{
    color: #737373;
}
.inbox-main-section .inbox-mail-detail .user-name h5{
    margin: 5px 0px 0px 0px;
    color: #808080;
    font-size: 16px;
    font-family: 'Raleway',Sans-Serif;
}
.inbox-main-section .inbox-mail-detail .user-name h6{
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    color: #58AF2A;
    font-family: 'Raleway',Sans-Serif;
}
.inbox-main-section .inbox-mail-detail .user-message{
    padding: 0px;
}
.inbox-main-section .inbox-mail-detail .user-message p{
    margin: 0px;
    padding: 10px 0px;
    color: #808080;
    font-family: 'Raleway',Sans-Serif;
    font-size:14px !important;
}

html:lang(cn) .inbox-main-section .inbox-mail-detail .user-message p{
    margin: 0px;
    padding: 10px 0px;
    color: #808080;
    font-family: 'Noto Sans SC', sans-serif;
    font-size:14px !important;
}

.inbox-main-section .inbox-mail-detail .user-message p span.green-color{
    color: #58AF2A;
}
.inbox-main-section .inbox-mail-detail .time{
    font-size: 12px;
    color: #808080;
    padding: 10px 15px;
    text-align: right;
    margin-left: -22px;
}


/*Chat Details CSS*/
.chat-details-section .portlet.box > .portlet-body{
    padding: 0px;
}
.chat-details-section .header-section{
    margin: 0px 15px;
    padding: 15px 0px;
    border-bottom: 1px solid #ECECEC;
}
.chat-details-section .header-section h5{
    margin: 5px 0px 0px 0px;
    color: #808080;
    font-size: 16px;
    font-family: 'Raleway',Sans-Serif;
}
.chat-details-section .header-section h6{
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    color: #58AF2A;
    font-family: 'Raleway',Sans-Serif;
}
.chat-details-section .body-section{
    margin: 0px 15px 30px 15px;
}
.chat-details-section .message-section{
    margin-top: 30px;
}
.chat-details-section .message-section .user-img img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.chat-details-section .message-section .user-detail h5{
    color: #58AF2A;
    margin: 3px 0px 2px 0px;
    font-size:14px !important;
}
.chat-details-section .message-section .user-detail span{
    color: #C3C3C3;
    font-style: italic;
    font-family: Montserrat, sans-serif !important;
    font-size:14px !important;
}

html:lang(cn) .chat-details-section .message-section .user-detail span{
    color: #C3C3C3;
    font-style: italic;
    font-family: 'Noto Sans SC', sans-serif !important;
    font-size:14px !important;
}

.chat-details-section .message-section .user-detail p{
    margin: 0px;
    color: #808080;
    margin-top: 10px;
    font-size: 14px !important;
}

.upload-btn-custom{
    text-align: left;
    width: 50%;
    float: left;
    font-size: 22px;
}
.upload-btn-custom a{
    color: #58AF2A;
}
.chat-form{
    background: #FCFCFC;
    border-top: 1px solid #ECECEC;
}
.chat-form-main{
    margin: 0px;
}
.chat-form-l{
    padding: 0px;
}
.chat-form-r{
    padding: 0px;
}
.chat-form .input-cont {
    margin-right: 0px !important;
    position: relative;
}
.chat-form .submit-btn-custom .btn-submit{
    position: absolute;
    right: 1px;
    top: 2px;
    padding: 10px 15px 7px 15px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px;
    background: transparent;
}
.chat-form .submit-btn-custom .btn-submit i{
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    color: #56B128;
    font-size: 20px;
}
#message{
    height: 40px;
}

.setbtnbtnInboxMessages{
    font-family: 'Raleway', Sans-Serif;
    font-size: 14px !important;
}

.message-section-sub{
    background: #F8F8F8;
    border-radius: 5px;
    margin:15px 0px 0px 0px;
    padding: 15px 0px;
    width: 725px;
    max-height: fit-content;
}

.message-section-subs p{
    color: #666 !important;
    margin:5px 0px 0px 0px !important;
}

.message-section-subs p span{
    font-style: normal !important;
    color: #808080 !important;
    font-size: 14px !important;
}

.no-inbox-sect
{
    padding: 200px;
    background-color: #ffffff;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}
.setALL3BTNMP{
    width: 33%;
    display: flex;
    position: relative;
    left: 75px;
}
.setDELETEBTN{
    font-size:14px;
}

html:lang(cn) .setDELETEBTN{
    font-family: 'Noto Sans SC', sans-serif;
    font-size:14px;
}

.setJOBDETAILS{
    font-size:14px;
}

.setRowCol12 {
    margin-top: 4.4%;
}
.setINBOXPAGEINBOXIMAGE{
    padding-bottom: 250px;
}

/* inbox setting responsive center */

@media (max-width:2000px) and (min-width:1414px)
{
    .header-action{
        margin-top: -4px;
    }

    .setRowCol12 {
        margin-top: 3%;
    }
    /*.setRowIMNFCSSMessage{*/
    /*position: relative;*/
    /*margin-left: -150px;*/
    /*width: 1400px;*/
    /*}*/
    .setSideMenuScroll{
        /*margin-top:46px;*/
    }
    .inbox-main-section .inbox-mail .checkbox-sub {
        padding: 20px 20px;
        width: 4%;
    }
    .inbox-main-section .inbox-mail-detail .user-img {
        padding: 0px;
        border-right: 1px solid #58AF2A;
        width: 6%;
    }
    /*.setPortletBoxMessage{*/
    /*margin-left: -133px;*/
    /*width: 1100px;*/
    /*}*/
}

@media (max-width:2000px)
{
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 112.1%;
    }
}

@media (max-width:1850px) {
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 110.5%;
    }
}

@media (max-width:1750px) {
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 109.6%;
    }
}

@media (max-width:1650px)
{
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 108.5%;
    }
}

@media (max-width: 1550px)
{
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 107.1%;
    }
}

@media (max-width: 1450px)
{
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 105.5%;
    }
}

@media (max-width:1399px)
{
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 104.8%;
    }
}

@media (max-width: 1317px) {
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 104%;
    }
}

@media (max-width: 1299px) {
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 103%;
    }
}

@media (max-width:1250px)
{
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 102.2%;
    }
}

@media (max-width:1199px)
{
    .setIBOXMPCol12 {
        margin-left: 16px;
        width: 101.3%;
    }
}

@media (max-width:1109px) and (min-width:992px)
{
    .setIBOXMPCol12{
        margin-left: 30%;
        width: 100%;
    }
    .setIBOXMPTC{
        margin-left:20px;
    }
}

@media (max-width:991px) and (min-width:509px)
{
    .right-top-main{
        margin-left: 29px;
    }

    .setROWBODYSECTION{
        text-align: -webkit-center;
    }

    .setIBOXMPCol12{
        display:flow-root;
        margin-top:5%;
    }
    .setINBOXMPPB{
        text-align: -webkit-center;
    }
    .setINBOXMPPBTCol2{
        text-align: center !important;
        margin-left:0px !important;
    }
}

@media (max-width:508px) and (min-width:320px)
{
    .right-top-main{
        margin-left: 29px;
    }

    .setROWBODYSECTION{
        text-align: -webkit-center;
    }
    .setINBOXMPPB{
        text-align: -webkit-center;
    }
    .setINBOXMPOSPR {
        margin-left: -10px;
        height: 60px;
        overflow: scroll;
    }
    .setINBOXMPOSPR ul li{
        display: -webkit-inline-box !important;
        font-size: small;
        margin-left:-37px;
    }
    .setINBOXMPPBTCol2{
        text-align: center !important;
    }
    .setINBOXPPBNISECT{
        padding:0px !important;
    }
    .setIBOXMPCol12{
        display:flow-root;
        margin-top:5%;
    }
}


/* indox messages settings responsive */

@media (max-width:991px) and (min-width:569px)
{
    .setALL3BTNMP{
        display:inline-flex;
        margin-top: 5%;
    }
    .setJOBDETAILS{
        width:auto;
    }
    .setDELETEBTN{
        width:auto;
    }
    .setUNDELETEBTN{
        width:auto;
    }

    .setUPMPICONS{
        width:4%;
    }
    .setFORMICMP{
        width:90%;
    }
    .setBTNMP{
        margin-top:-37px;
        left:90%;
    }
}

@media (max-width:568px) and (min-width:376px)
{
    .setALL3BTNMP{
        display:inline-flex;
        margin-top: 5%;
    }
    .setUPMPICONS{
        width:6%;
    }
    .setFORMICMP {
        width: 85%;
    }
    .setBTNMP{
        margin-top:-37px;
        left:86%;
    }
    .setJOBDETAILS{
        width:auto;
    }
    .setDELETEBTN{
        width:auto;
    }
    .setUNDELETEBTN{
        width:auto;
    }
}

@media (max-width:375px) and (min-width:320px)
{
    .setJOBDETAILS{
        width:auto;
    }
    .setDELETEBTN{
        width:auto;
    }
    .setUNDELETEBTN{
        width:auto;
    }
    .setALL3BTNMP{
        display:inline-flex;
        margin-top:5%;
    }
    .setUPMPICONS{
        width:8%;
    }
    .setFORMICMP {
        width: 85%;
    }
    .setBTNMP{
        margin-top:-37px;
        left:83%;
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .setIBOXMPCol12{
        width: 97%;
        margin-left:0px !important;
    }

    .setJOBDETAILS {
        font-family: 'Raleway', Sans-Serif !important;
        font-size: 14px;
        width: 100% !important;
    }
    .setALL3BTNMP {
        display: block !important;
        margin-top: 5% !important;
        width: 100% !important;
    }
    .setDELETEBTN {
        width: 100% !important;
        margin-top: 4px;
    }
    .setALL3BTNMP{
        left:0px !important;
    }
    .setbtnbtnInboxMessages {
        font-family: 'Raleway', Sans-Serif;
        font-size: 14px !important;
        width: 100% !important;
        margin:2px;
    }
    .message-section-sub{
        background: #F8F8F8;
        border-radius: 5px;
        margin: 15px 0px 0px 0px;
        padding: 15px 0px;
        width: 100%;
        max-height: fit-content;
    }

    .setMAinMENU{
        display:none;
    }
}