html:lang(en) h2{
	font-family: "Open Sans",sans-serif !important;
} 
.page-sidebar-wrapper{
	display: none;
}
.step-main-div{
	margin: 0px;
}
.stephedding{
	padding: 0px;
	margin: 0px;
	top:13px;
	text-align: center;
}
.wizard-form{
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0px 0px 7px 5px #ECECEC;
	padding: 0px 50px;
}
.stephedding h2{
	margin: 0px;
	margin-bottom: 5px;
	font-size:30px;
	color:#6F6F6F;
	font-weight: 400;
	font-family: "Open Sans",sans-serif !important;
}
.stephedding span{
	color:#A1A1A1;
	font-size:20px;
	font-weight: 400 !important;
}
.stepbody{
	top:55px;
	padding: 0px;
	margin-bottom: 100px;
	font-family: "Open Sans",sans-serif !important;
}
.detailes span{
	color:#727272;
	font-size:18px;
	font-family: "Open Sans",sans-serif !important;
}
.detailes{
	margin-top:50px;
}
.detailes h1{
	text-align: justify;
	font-size:26px;
	color:#56B02A;
	padding: 0px;
	margin: 50px 0px 30px 0px;
}

.detailes li{
	font-weight: bold;
	margin-top:45px;
	text-align: justify;
	font-size:20px;
	color:#7F7F7F;
}
.textskill{
	padding: 0px 20px;
}

.detailes li span{
	font-weight: normal;
	font-size:18px;
	color:#727272;
}
.detaileslast{
	margin: 30px 0px;
}
.detaileslast span{
	font-weight: normal;
	font-size:18px;
	color:#727272;
	line-height: 60px;
	font-family: "Open Sans",sans-serif !important;
}
.next-step{
	height:58px;
	width:435px;
	background-color:#58AF2A;
	margin-top:28px;	
	border-radius:5px;
	margin-bottom:40px;
	letter-spacing:1px;
	font-size:17px;
	font-weight: normal;
}
.next-step:hover{

	background-color:#58AF2A;
}

.phpbutton{
	border-radius:20px;
}
.phpbutton img{
	border-radius:10px;
	border:2px solid white;
	width:20px;
	height:20px;
	color:white;
}
.javascriptbuttton{
	border-radius:20px;
	font-size:13px;
}




.step1-tab{
	width: 1% !important;
}
.step1-tab a{
	left: 57px;
}

.step2-tab,
.step3-tab,
.step4-tab{
	width: 33% !important;
}
.detailes strong{
	font-weight: bold;
	color:#7F7F7F;
}
.detailes i{
	color:#58AF2A;
}
.nextstep2{
	margin-top:28px;
	width:440px;
	color:white;
	background-color:#58AF2A; 
}
.nextstep2:hover{
	background-color:#58AF2A;
	color:white;
}

.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color:white;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 3px; 
    background: #ECECEC;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, 
.wizard .nav-tabs > li.active > a:hover, 
.wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #ECECEC;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    color: #A2A2A2;
} 
.wizard li.active span.round-tab {
    background: #58AF2A;
    color: #fff;
} 

span.round-tab:hover {
    color: #fff;
    background: #58AF2A;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    float: right;
}

.wizard .tab-pane {
    position: relative;
}

.post{
	margin-top: 30px;
}
.post .left{
	padding: 0px;
}
.post .left .img{
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #EBEBEB;
}
.post .right{
	margin-top: 10px;
	padding-left: 35px;
}

.post .right .title{
	width: 200px;
	height: 12px;
	background-color: #C9E6BA;
	margin-bottom: 15px;
}
.post .right .designation{
	width: 170px;
	height: 12px;
	margin-bottom: 15px;
	background-color: #EBEBEB;
}
.post .right .desc{
	width: 100%;
	height: 12px;
	margin-bottom: 15px;
	background-color: #EBEBEB;	
}
.post .right .desc-last{
	width: 50%;
	height: 12px;
	margin-bottom: 15px;
	background-color: #EBEBEB;
}
.description-skill{
	overflow: hidden;
	margin: 20px 0px;
}
.description-skill .official{
	background-color: #FAD23F;
	border-color: #FAD23F;
}
.description-skill .success{
	background-color: #5DBA2D;
	border-color: #5DBA2D;	
}
.description-skill .item-skill{
	color: #fff;
	font-size: 16px !important;
	padding: 4px 15px 4px 5px  !important;
}

.screen-img{
	margin: 35px 0px;
}

@media( max-width : 585px ) {

    .wizard {
        width: 100%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .next-step{
    	width: 90%;
    }
    .step1-tab{
		width: 10% !important;
	}
	.step1-tab a{
		left: 15px;
	}

	.step2-tab,
	.step3-tab,
	.step4-tab{
		width: 30% !important;
	}
}