
.portlet.box.gray-color {
    border: 1px solid #f7f7f7;
    border-top: 0;
}

.portlet.gray-color{
    background-color: #f5f5f5;
}

.portlet.box > .portlet-title{
    color: #000000;
}

.control-label {
    text-align: left!important;
    padding-left: 40px;
}

.chk-detail, .tranfer{
    padding-right: 40px;
}

.gray{
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-top: 15px;
}

.portlet.qrcode-info
{
    margin-top: 18px;
    padding: 15px 25px 30px 25px;
}

.qr-title{
    padding-left: 10px;
    color: #888888;
    font-weight: 600;
}

.qr-status-title
{
    color: #888888;
    font-weight: 600;
}

.qr-image{
    margin-bottom: 30px;
}

.invite-status{
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.available-xen{
    color: #404040;
    font-weight: 600;
}

.available-xen-value
{
    border-radius: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    padding: 5px 10px;
}

.available-xen-value .fa{
    color: #57b029;
}

.is-verified, .is-verified:hover, .is-verified:focus{
    text-align: center;
    padding: 3px 10px;
    margin-top: 5px;
}

.invite-status .name
{
    padding-left: 10px;
}

.xen-description{
    padding-top: 100px;
}

.how-many-people{
    color: #808080;
    font-weight: 600;
    padding-bottom: 10px;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}
.setCol12Row {
    margin-top: 4.4%;
}
.setIPAGEAVATAR{
    width: 39px;
    height: 39px;
}

@media (max-width:2000px) and (min-width:1414px)
{

    .setPageContent{
       position:relative;
        top:8px;
    }

    .setCol12Row {
        margin-top: 3.2%;
    }
}

@media (max-width:1029px){
    .setIU{
        margin-left:36%;
    }
}
@media (max-width:991px) and (min-width:320px)
{
    .setIU{
        margin-left:0%;
    }
    .setMAINMENU{
        display:none;
    }
    .setITJOIN{
        margin-top:5%;
        text-align: -webkit-center;
    }
}