
/*calender css*/



/*calender css end*/

.setScrollDiv .scroll-div{
    max-height: 70px;
}

.setScrollDiv, .set-skill-div{
    padding-left: 8px;
}

.item-skill {
    margin-top: 18px;
}

.setLable{
    font-size: 16px !important;
    font-family: Montserrat, sans-serif !important;
    color:#646464 !important;
}

html:lang(cn) .setLable{
    font-size: 16px !important;
    font-family: "Noto Sans CJK JP Regular" !important;
    color:#646464 !important;
}

.setpcolor{
    color:#808080 !important;
    font-size: 14px !important;
    width:102%;
}

.setcolorP{
    color:#808080 !important;
    font-size: 14px !important;
    position: relative;
    left:8%;
    top:-10px;
    width:65%;
}

.setspncolordollar{
    color:#57b029;
    font-size: 14px !important;
    font-family:  Montserrat, sans-serif !important;
}
.setclientRequest{
    color:#808080 !important;
    font-size: 14px !important;
}

.set-fa-circle{
    color:#f7f7f7 !important;
    font-size: 14px;
}

.setspldiv{
    color:#282828 !important;
    font-size:14px !important;
    font-family: Montserrat, sans-serif;
    position: relative;
    top:-10px;
}
#setHrWidth{
    width:85%;
}
.setinputBox001{
    width:85%;
}

.SetCol-md-3{
    width:20% !important;
}

.setTextarea{
    width:372px;
    height:103px !important;
}

.setBtndiv{
    margin-left:15px !important;
    margin-top:15px !important;
}

.setColXs1{
    width:3% !important;
}

.setuserbasicinfo{
    padding-left:115px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:2px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 20px;
    right:20%;
}

.setmilstonesubtitle{
    padding-left:15px;
}

.setcolMD3{
    width:26% !important;
}

.set-dot-active{
    background-color: #57af33;
    border:2px solid #57af33;

}

.setmilstonethatAlready{
    color:#808080 !important;
    font-size: 14px !important;
    font-family:  Montserrat, sans-serif !important;
}

html:lang(cn) .setmilstonethatAlready{
    color:#808080 !important;
    font-size: 14px !important;
    font-family: "Noto Sans CJK JP Regular" !important;
}


.setcontractPanel{
    font-size: 16px !important;
    font-family: Montserrat, sans-serif !important;
    color:#646464 !important;
}

html:lang(cn) .setcontractPanel{
    font-size: 16px !important;
    font-family: "Noto Sans CJK JP Regular" !important;
    color:#646464 !important;
}

.setdaily_updates{
    position: relative;
    left:8%;
}

.setprogressingProject{
    font-weight:bold;
}

/*radius toggle*/
    .SETContainer {
        position: absolute;
        transform: translate(2%,-50%);
        top: 20%;
    }
    .toggle-btn{
        width:48px;
        height:28px;
        background: gray;
        border-radius: 30px;
        padding:2px 2px;
    }

    .toggle-btn > .inner-circle{
        width:25px;
        height:24px;
        background:#fff;
        border-radius: 50%;

    }

    .toggle-btn.activee{
        background: #57b029;
    }

    .toggle-btn.activee > .inner-circle{
        margin-left:19px;
    }



    .SETContainer2 {
        position: absolute;
        transform: translate(2%,-50%);
        top: 73%;
    }
    .toggle-bbtn{
        width:48px;
        height:26px;
        background: gray;
        border-radius: 30px;
        padding:2px 2px;
    }

    .toggle-bbtn > .iinner-circle{
        width:23px;
        height:23px;
        background:#fff;
        border-radius: 50%;
    }

    .toggle-bbtn.activeee{
        background: #00acee;
    }

    .toggle-bbtn.activeee > .iinner-circle{
        margin-left:21px;
    }
/*radius toggle*/

.setLBLBLB{
    display: grid;
    left: 75px;
    position: absolute;
}

.setDIVIV{
    margin-top:10px;
    }

.setDVIVI2{
    margin-top:5px;
}

.setMRECEOPJOBDAP{
     display:block;
 }
.setTABLETDJDP{
    width:30%;
}
.setTTTTDIFAFA{
    color:green !important;
}
.setFDJDPBC{
    color:orangered;
}
.setSPANNN1JDP{
    color:green;
}
.setSPANNN2JDP{
    color:darkred;
}
.setJDPBUTTON1{
    min-width:0px;
}
.setJDPBUTTON2{
    min-width:90px;
}
.setSPNN3{
    color:red;
}
.setSPNN4{
    color:yellow;
}
.setSPNN5{
    color:green;
}
.setBOLDCOLOR{
    color:orangered;
}
.setBOLDCOLOR2{
    color:darkred;
}
.setBOLDCOLOR3{
    color:darkgreen;
}
.setFAFACRED{
    color:red;
}
.setFsetLableAFACGREEN{
    color:green;
}
.setBTNBTNJDP{
    border-color: #ccc !important;
    background-color: #57b029 !important;
}


.setCol12MRECEVIEORDEPAAGE{
    height:100px;
    overflow: hidden !important;
    max-height:fit-content;
    max-height: -moz-fit-content;
}

.setROWBINFO .slimScrollDiv
{
    overflow: unset !important;
}

.setB2{
    position: absolute;
    height: 85%;
    border: 0.5px solid #ddd;
    left: 33%;
    top: 7%;
    opacity: .3;
}

.setB3{
    position: absolute;
    height: 85%;
    border: 0.5px solid #ddd;
    left: 67%;
    top: 7%;
    opacity: .3;
}

.setDESC .scroll-div{
    height:135px;
    overflow: hidden !important;
    max-height: fit-content;
}

.setULNAVTBS ul li{
    margin-top:30px;
    border-right: 0px solid #ddd !important;
    height:40px;
    padding: 0px 1px 8px 5px !important;
}

.vr {
    width:2px;
    background-color:#ddd;
    height:25px;
    position:absolute;
    top:23.5% !important;
    bottom:0;
    left:0%;
}

.setCalenderWrap {
    max-height: fit-content;
    margin-top: 20px;
    width:100% !important;
}

.setrowmarginoff{
    margin-left:0px !important;
    margin-right:0px !important;
}

.set-main-row-col-4calender{
    padding: 2px 12px 0px 15px;
}

#applyFilter{
    background-color: #57af33 !important;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    width: 56px;
    height: 22px;
    padding: 2px 8px !important;
}

.setbtnApply{
    float:right;
    position: relative;
    right: 20px;
    top:-15px;
}

.table-condensed{
    border-collapse:unset !important;
    border-spacing: 6px !important;
}

#datetimepicker12{
    margin-left:0px;
    margin-top: 0px;
}

.datepicker-inline {
    width: 100% !important;
    padding-left: 0px;
}

@media (max-width:1075px)
{
    .datepicker-inline {
        width: 100% !important;
        padding-left: 10px;
    }
}

.setcolmd4{
    margin-top:2%;
}

.set-md-col{
    right: 2%;
    margin-top: 3%;
}

.datepicker .datepicker-switch, .datepicker .next, .datepicker .prev, .datepicker tfoot tr th {
    cursor: pointer;
    display: none !important;
}
.table-condensed thead{
    font-size:14px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.datepicker table tr td.new, .datepicker table tr td.old {
    color:#b4bbc2;
    font-size: 14px !important;
}
.datepicker table tr td, .datepicker table tr th {
    text-align: center !important;
    font-size: 14px !important;
    color:#4b5457;
    font-weight: bold !important;
}
.datepicker .active {
    background-color: #57af33!important;
    color:#fff !important;
    border-radius: 5px;
}
.datepicker .active:hover {
    color:#fff !important;
    background-color: #57af33!important;
}
.datepicker,
.table-condensed{
    width:100%;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 0px !important;
}
.table-condensed thead tr{
    background-color: #fff !important;
    color:#666666 !important;
}

.box{
    background-color:#F6F6F6;
    border-radius: 5px;
    height:210px;
}

.setThisMoth{
    color: #4b5457;
    font-size: 14px !important;
    position: absolute;
    top: 25px;
    left: 10%;
}

.setHRHRHR{
    width: 120px;
    position: absolute;
    top: 30px;
    left: 10%;
    background-color:#4b5457;
    font-weight: bold;
    height: 0.4%;
}

.totalEarning span{
    font-size: 22px !important;
    position:absolute;
    color:#57af33 !important;
    right:100%;
}

.setTotalHours span{
    font-size: 22px !important;
    position: absolute;
    color:#57af33 !important;
    display: contents;
}

.setTotalHours{
    color: #4b5457;
    font-size: 14px !important;
    position: absolute;
    top: 27%;
    left: 10%;
}
.totalEarning{
    font-size: 14px !important;
    color: #4b5457;
    position: absolute;
    top: 27%;
    left: 55%;
}

.setvr{
    width: 2px;
    background-color: #ddd;
    height: 25px;
    position: absolute;
    top: 21.3% !important;
    bottom: 0;
    left: 100.3%;
}


.nav-tabs {
    margin: 0px;
    padding: 0px 0px 30px !important;
}

.setULNAVTBS ul li.active .setLI{
    border: 2px solid #57b029;
    color: #83c169 !important;
    text-align: center;
    height:auto;
    width: 175px;
    padding: 8px;
    font-size: 14px;
    text-decoration: inherit;
    display: inline-block;
    border-radius: 5px;
}


.setULNAVTBS ul li .setLI:hover{
    border: 2px solid #57b029;
    color: #83c169 !important;
    text-align: center;
    height:auto;
    width: 180px;
    padding: 9px;
    font-size: 14px;
    text-decoration: inherit;
    display:inline-block;
    border-radius: 5px;
}

.setBTNJDPAGEMROP{
    width: 82px;
    font-size: 15px;
    margin-top: -25px;
}

.setStats{
    font-family: Sans-Serif !important;
    font-weight: bold !important;
}
.setMRECEOPJOBDAP{
    font-weight: 600;
    color: #BBBBBB;
}
.setSmall{
    font-weight: 600;
}

.setSP{
    font-weight: 600;
}

.details{
    color:#7d7d7d;
}
.subtitle{
    color:#6B6B6B;
    font-weight: 600;
}
.setSP0{
    color:#6B6B6B !important;
    font-weight: 600;
}

.setRowNewMileS{
    height:500px;
}

.setCol12LWHP{
    color: black;
}

.setSPN1LWHP{
    color: #57b029;
}

.setSPN2LWHP{
    color: #57b029;
}

.setLABEL1LWHP{
    display:  block;
}

.setColMd2LWHP{
    width:20% !important;
}

.setCol6MdLWHP{
    width:40% !important;
}

.setTDLWHP{
    display: flex;
}

.setTDLWHPINT{
    color: #ABABAB !important;
}

.setHRPTR th{

}

.setBTNTDHRP{
    display:flex;
}

.setBNBNJDP{
    text-decoration: none !important;
}

.setCOLORBLACK{
    color:black;
}

.setColorGreen{
    color:#57b029;
}

.setROWB .slimScrollDiv{
    overflow: unset !important;
}

.setPppP{
    font-weight: bold;
    text-transform: uppercase !important;
    color:#6B6B6B;
}

.setDYND{
    color: #6e6e6e;
}

.setRowNeWHeight{
    height:200px;
}

.setPPpPpP{
    position: relative;
    left:1%;
    color: #7D7D7D;
    font-size: medium;
}

.setroow{
    background-color: #F6F6F6;
    margin-top:2%;
    border-radius: 2px;
    border:1px solid #ddd;
    padding:15px;
    margin-left: 0px;
    margin-right: 0px;
}

.setSetRowP1{
    color:#4b5457;
    font-size: 13px;
}

.setSetRowP2{
    color:#4b5457;
    font-size: 13px;
}

.setSetRowP3{
    color:#4b5457;
    font-size: 13px;
}

.setRowNewMileSNew{
    height:1200px !important;
}

/*switch*/
    .set-btn{
        height: 27px !important;
        padding: 0px !important;
        width: 80px !important;
        text-decoration: none !important;
        font-size: 13px !important;
        border-radius: 0px !important;
        margin:-3px !important;
        color:#57af33 !important;
        border:1px solid #ddd !important;
    }

    .set-btn.active{
        background-color: #57af33 !important;
        color:#fff !important;
    }

    .set-btn:hover{
        border-radius: 0px !important;
        font-size:13px !important;
        border:1px solid #ddd !important;
        color:#fff !important;
        background-color: #57af33 !important;
    }

    .set-btn:focus{
        border-color: #fff !important;
    }

    .set-btn-2{
        height: 27px !important;
        padding: 0px !important;
        width: 115px !important;
        text-decoration: none !important;
        font-size: 13px !important;
        border-radius: 0px !important;
        margin:-3px !important;
        color:#57af33 !important;
        border:1px solid #ddd !important;
    }
    .set-btn-2.active{
        background-color: #57af33 !important;
        color:#fff !important;
    }
    .set-btn-2:hover{
        border-radius: 0px !important;
        font-size:13px !important;
        border:1px solid #ddd !important;
        color:#fff !important;
        background-color: #57af33 !important;
    }
/*switch*/

/*Link boxes*/
    .set-row-box{
        margin-top:-15px;
        margin-right: -20px !important;
    }

    .set-row-box-last{
        margin-left:15px !important;
    }

    .set-Col-md-2-box{
        background-color: #4b5457;
        width: 14%;
        height: 45px;
        padding: 13px 39px;
        margin-left:2px;
    }
    .set-Col-md-2-box span{
        text-transform: uppercase !important;
    }
    .setLink{
        color:#fff !important;
        font-size:15px;
    }
    .set-active{
        background-color: #57af33 !important;
        margi-top:0px !important;
        font-size: 15px !important;
        text-decoration: none !important;
    }
    .set-col-md-12-box2 h3{
        text-transform: uppercase !important;
        color:#939394 !important;
        font-size: 24px !important;
    }
    .set-col-md-12-box3 h1{
        color:#494949 !important;
        margin-top:-10px;
        font-size: 80px;
    }
    .set-col-md-6-1{
        width: 22% !important;
    }
    .set-col-md-6-2{
        width: 20% !important;
    }
    .set-col-md-6-2 h6{
        margin-left:-25px;
    }

    .set-fa-circle1{
        color: #57af33;
    }

    .set-fa-circle2{
        color: #C3D200;
    }

    .set-row-col-4-spn2{
        margin-left: -90px;
        margin-top: -3px;
        width: 50%;
    }

    .set-row-col-4-spn1{
        width: 60%;
        margin-top:-3px;
        margin-left: 107px;
    }

    .set-row-col-6-fa-circle-1{
        margin-left:165px;
    }

    .set-para {
        margin-top: -13px;
        font-size: smaller;
        margin-left: 12px;
    }
    .set-span-1{
        margin-left: 0px;
        color:#4b5457;
        font-size:14px;
    }
    .set-span-2{
        margin-left:0px;
        color:#4b5457;
        font-size:14px;
    }

    .set-Hours{
        color:#000;
    }

    .set-col-md-12-box4{
        margin-bottom: -20px;
    }

    .set-col-row-screen-shots{
        background-color:#F6F6F6;
        border:1px solid #ddd;
        margin-left:0px;
        margin-right:0px;
        border-radius: 3px;
        padding:10px;
    }
    .set-spn-screen-shots{
        color:#4b5457;
        text-transform: uppercase !important;
    }

    .set-col-md-12-box-last{
        margin-left:0px;
        margin-right:0px;
        margin-top:2%;
        margin-bottom:25%;
    }
    .set-col-md-2-box-last{
        background-color: #57af33;
        padding: 7px 15px;
        border-radius: 50px;
        height: 30px;
        font-size: 13px;
        color:#fff;
        margin-left:20px;
        margin: 0;
        margin-bottom: 3px
    }
    .set-col-md-6-box-last span{
        color:#fff !important;
    }

    .set-col-md-12-box-last-2{
        margin-top:1%;
    }

    .set-Image-screen-shoot{
        width:90%;
        height:108px;
    }

    .set-time-screen-shot{
        font-size: 14px;
        color: #4b5457 !important;
    }

    .set-delete-icon-row{
        position: absolute;
        right: 10%;
    }

    .setCol-md-12timeDate{
        display:inline-flex;
    }

    .set-delete-icon i{
        color: #AFE9A7 !important;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 19px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .set-col-md-3{
        margin-right:0px;
        margin-left:0px;
        padding-left:0px;
        padding-right:0px;
        width:23% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 19px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-row-imge-screen-shoots{
        height: 155px;
        margin-left: 3px;
        margin-right: -20px;
    }

    .active-battery{
        background-color:#57af33 !important;
    }

    .battery div:nth-child(2)
    {
        height: 19px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-btn-toggle{
        padding-bottom: 10px;
    }
    .set-col-md-date{
        color: #4b5457;font-size: 14px;
        margin-top:5px;
    }
/*Link boxes*/
.box2{
    width:100%;
    border: 1px solid #ddd;
    margin-top: 2%;
    border-radius: 5px;
}
.set-panel-heading{
    background-color: #fff !important;
}

.set-panel-heading span{
    color:#4b5457;
    font-size: 14px;
}

.set-row-section{
    border:1px solid #ddd;
    padding:10px;
    margin-left:0px;
    margin-right:0px;
    border-radius: 3px;
}

.set-tb-pills-row{
    margin-left:0px !important;
    margin-right: 0px !important;
}

/*nav-pills*/
.set-nav-pills>li>a, .set-nav-pills>li>a:focus, .set-nav-pills>li>a:hover {
    color: #fff;
    background-color: #959595;
    text-decoration: none;
}
.pil.nav>li>a {
    padding: 14px;
    width: 142px;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif !important;
}
.active {
    margin-top: 0;
    text-decoration: none !important;
}

.set-nav-pills li{
    margin-top:0px !important;
}

.set-nav-pills>li.active>a, .set-nav-pills>li.active>a:focus, .set-nav-pills>li.active>a:hover {
    color:#fff;
    background-color:#57af33 !important;
}
/*nav-pills*/

.setBox2hr{
    margin-top:1%;
}

.setColRow2{
    margin-top:10%;
}

/* battery bar css*/
    .setCo11PP{

    }
    .setCol11para{
        position: absolute;
        font-size: 16px !important;
        left:30%;
        bottom:-10%;
        padding:8px;
        color: #7D7D7D;
    }

    .setColMD1{
        /*position: absolute;*/
        top:30%;
        left:15px;
        color: #57af33;
    }

    .setColMDrow2{
        position: absolute;
        top:74%;
        left:15px;
        color: #57af33;
    }

    .setHR{
        width: 100%;
    }

    .setCol2sm span{
        font-size: 14px;
        color:#7d7d7d;
    }

    /* calender css */
    .setTBLE>thead>tr>th {
        vertical-align: bottom;
         border-bottom: 0px solid !important;
    }

    .setTBLE>tbody>tr>{
        border: 0px solid #fff !important;
    }

    table {
        border-collapse: separate !important;
        border-spacing: 0;
    }

    .setTBLE > thead tr {
        background: #fff !important;
    }
    .setTBLE>thead{
        background-color: #fff !important;
    }
    .setTBLE>tbody>tr>td{
        color: #bbb9b9;
        font-size: 14px !important;
        font-family: Montserrat, sans-serif;
    }
    .setTBLE>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 7px !important;
        line-height: 1.42857;
        vertical-align: top;
         border-top: 0px solid #fff !important;
    }

    .setTRLast td{
        color: #57af33 !important;
    }

    /* calender css */

    .setColMDrow2{
        position: absolute;
        top:74%;
        left:15px;
        color: #57af33;
    }

    .setspan0{
        position: absolute;
        bottom:0%;
        color: #57af33;
        margin:auto;
        text-align: center;
    }

    .setHr2{
        margin:0px !important;
    }

    .setColsm1{
        margin-top: 10%;
    }

    .setColsm1 p{
        color: #57af33;
    }

    .setcolparagraph{
        font-size: 14px;
        color:#7d7d7d;
        margin-top:10px;
    }

    .setCol11REPEAT{
        /*position: absolute;*/
        left: 8.3%;
    }

    .setCol11hrlast{
        margin-top: 3px;
        width: 110%;
        margin-left: -89px;
    }

    .setCol11hr{
        margin-top:3px;
    }

    .setSPNCOLOR{
        position: relative;
        left:2%;
        color: #4b5457;
        font-size: 16px;
    }

    .setSPNCOLOR0{
        color:#000;
    }
/*battery bar css*/

/* section 2 */

.setbtnmodal{
    background-color: #57af33;
    width:25% !important;
    border-radius: 5px !important;
}
.setCol4MModal{
    text-align: left;
    width: 50%;
}
.setsmallmodal{
    color:#404040;
    font-family: 'Raleway',Sans-Serif !important;
    font-size:14px !important;
    font-weight: 100 !important;

}

.setsmall2modal{
    font-family:'Raleway',Sans-Serif !important;
    font-weight:bold !important;
    font-size:14px !important;
    color:#404040;
    position: relative;
    right: 0%;
    left:5%;
}

.setModalImagecol4{
    width:50%;
}

.setHeaderModal{
    text-align: center;
}

.setcloseModal{
    color:#57af33;
}
.setfa-times{
    color:#57af33;
    font-size: larger;
    position: absolute;
    right: 16px
}
.setImagesModal{
    width: 120%;
    border-radius: 5px;
    /*position: absolute;*/
    /*left: 20%;*/
    height: 107px;
    padding:1px;
}
.settextareamodal{
    /*width:428px !important;*/
    height:161px !important;
}

.setModalDailog{
    width:95%;
}
.setModalTitle{
    color:#404040;
    font-family: 'Raleway',sans-serif !important;
    font-size: 20px;
}

.box2{
    overflow: scroll;
    overflow-x: hidden;
}
/*::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/
/* section 2 */


.set-PortLet-title{
    background-color: #fff !important;
}

.setdesc-div{
    line-height: 27px;
    margin: 3px;
    padding-top: 13px;
    padding-bottom: 40px;
}

.set-price{
    font-size:21px;
    color:#57af33;
    font-weight: bold;
}

.set-btn-div{

}

.set-btnbtn{
    padding:10px 30px !important;
    border-radius: 3px !important;
}

.set-description{
    padding: 15px !important;
    color: #7D7D7D !important;
}

.set-RoW-area{
    padding-top:30px;
}

.set-spn{
    color:#727272;
}

.set-Portlet-Body{
    padding:0px 15px 30px 0px !important;
}

.set-f-c-green{
    position: relative;
    top:-23px;
    left:-25px;
}

.setSpN-share-amount{
    position: absolute;
    font-size: smaller;
}

.set-Label-budget{
    font-size: smaller;
}

.set-difficulty-star{
    color:#57af33;
}

.set-title-name{
    font-weight: 500;
    position: relative;
    left: -35px;
    top:-8px;
}

.setf-c-gray-price-div{
    margin-top:-20px;
}

.set-offical-pro{
    margin:0px !important;
}

.set-skill-div .item-skill{
    height:15% !important;
}

.setRoww2{

}

.box2{
    overflow: scroll;
    overflow-x: hidden;
}


    .setCol11para2{
        position: absolute;
        font-size: 16px !important;
        left: 31%;
        top: 0%;
        margin-top: 10px;
        color: #7D7D7D;
    }
/* section 2 */
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 160px;
    cursor: pointer;
    margin-left:-15px;
}

@media (max-width:1140px) and (min-width:992px)
{
    .set-col-md-12-box-last-2{
        /*display: grid;*/
        /*text-align: -moz-center;*/
        /*text-align: -webkit-center;*/
        /*margin-top:30px;*/
    }

    .set-tb-pills-row{
        overflow-x: scroll;
        /*height:50px;*/
    }

    .set-nav-pills{
        width:118%;
        max-width: max-content;
    }
}

.datepicker table tr td.new, .datepicker table tr td.new:active{
    color: #fff;
    font-size: 14px !important;
}

@media (max-width:991px) and (min-width:320px)
{
    .setModalImagecol4 {
        width: 30%;
    }
    .setcancelbuttonbtn{
        margin-top:-30px !important;
    }
    .setCol4MModal{
        width:100%;
        text-align: center;
    }
    .setCol8MModal{
        width:100%;
    }
    .setImagesModal {
        width: 150px;
        border-radius: 5px;
        position: unset !important;
        height: 110px;
        padding:1px;
    }
    .setModalCol8{
        width:100%;
    }
    .setsmall2modal {
        position: relative;
         right: 0%;
        left: 0%;
    }
    .setbtnmodal {
        background-color: #57af33;
        width: 100% !important;
        border-radius: 5px !important;
    }
    .setModalRowImage{
        display: flex;
    }
    .setdaily_updates {
        position: relative;
        left: 0%;
    }
    .SETContainer {
        top: 0%;
        left: 6%;
    }
    #setHrWidth {
        width: 100%;
    }
    #endContract{
        width:100%;
    }
    .setcolorP {
         left: 0%;
        top: -10px;
        width: 100%;
    }
    .setuserbasicinfo {
        padding-left: 20px !important;
    }

    .setCol-md-4sla{
        width:100%;
    }

    .setinputBox001 {
        width: 100%;
    }

    .setTextarea {
        width: 100%;
        height: 103px !important;
    }
    .setrefunfbtn{
        width:100%;
    }
    .setBtndiv {
         margin-left: 0px !important;
        margin-top: 15px !important;
        margin:0px;
    }

    .main-div{
        text-align: center;
    }
    #widthhr {
        width: 100%;
    }
    
    .setThisMoth {
        color: #4b5457;
        font-size: 14px !important;
         position: unset !important;
    }
    .setHRHRHR {
        width: 80%;
        position: absolute;
        top: 30px;
        left: 10%;
        background-color: #4b5457;
        font-weight: bold;
        height: 0.4%;
    }
    .set-main-row-col-4calender {
        padding: 2px 6px 0px 5px;
    }
    .datepicker,
    .table-condensed {
        width: 100% !important;
        padding-left:5px !important;
        padding-right:6px !important;
    }
    .set-row-col-6-fa-circle-1 {
        margin-left: 0px !important;
    }
    .set-para {
        margin-top: -13px;
        font-size: smaller;
        margin-left: 12px;
        text-align: center;
        margin-bottom: 15px;
    }
    .totalEarning span {
        font-size: 17px !important;
        position: absolute;
        color: #57af33 !important;
        right: 100% !important;
    }
    .setTotalHours {
        color: #4b5457;
        font-size: 12px !important;
        position: absolute;
        top: 27%;
        left: 10%;
    }
    .setTOTALEarning {
        font-size: 12px !important;
    }
    .set-col-md-12-box3 h1 {
        color: #494949 !important;
        margin-top: -10px;
        font-size: 60px !important;
    }
    .setTotalHours span {
        font-size: 17px !important;
        position: absolute;
        color: #57af33 !important;
        display: contents;
    }
    .setSetRowP1{
        text-align: center;
    }
    .setSetRowP3{
        text-align: center;
    }
    .set-row-btn-toggle-2{
        text-align: center;
    }
    .set-col-md-date {
        color: #4b5457;
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
    }

    .set-col-md-3{
        margin-top:30px;
    }

    .set-row-imge-screen-shoots {
        height: 155px;
        margin-left: -7px;
        margin-right: -7px;
    }

    .set-tb-pills-row{
        overflow-x: scroll;
        /*height:50px;*/
    }

    .set-nav-pills{
        width:600%;
        max-width: max-content;
    }
    .set-skill-div .item-skill{
        height:15% !important;
    }
    .set-Row-PT{
        width:100%;
        line-height: 3;
        text-align: center;
    }

    .set-skill-div{
        line-height: 1;
    }

    .set-price-div{
        width:100%;
        text-align: center;
        line-height: 3;
    }

    .set-description {
        text-align: center;
    }

    .set-RoW-area {
       width:100%;
        text-align: center;
        line-height: 3;
    }

    .setdesc-div {
        line-height: 27px;
        margin: 3px;
        padding-top: 4px;
        padding-bottom: 6px;
    }

    .setSpN-share-amount{
        position: relative !important;
        font-size: smaller;
    }

    .setLBLBLB{
        position: unset;
    }
    
    /* button switch*/
    
    
    /* end button switch*/
    
    .setpcolcor{
        font-family: Montserrat, sans-serif !important;
        font-size:14px !important;
        color:#808080 !important;
        position: relative;
        left: 9%;
        width: 75%;
    }
    
    .setpcolcorec{
        font-family: Montserrat, sans-serif !important;
        font-size:14px !important;
        color:#808080 !important;
        position: relative;
        width: 120%;
        margin-bottom:-10px !important;
    }
    
    .setenContract{
        color: #505050 !important;
    }
    
    .setcontractPanel{
        font-size:16px !important;
        color:#646464 !important;
    }
    
    .sertform-group{
        margin-top:10px;
    }
    
    .setdailyupdates{
        position: relative;
        top:10px;
        left:9%;
        font-family: Montserrat, sans-serif !important;
        font-size: 16px !important;
        color:#505050 !important;
    }
    
    .setclientrequestDispute{
        color:#808080 !important;
        font-size: 14px !important;
        font-family: Montserrat, sans-serif !important;
    }
    .setInputBox{
        width:75% !important;
    }
    .setTextArea{
        width:373px !important;
        height:103px !important;
    }
    .setxs-1{
        width:1.5% !important;
    }
    
    #materialUnchecked{
    
    }
    .set-circle2{
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-radius: 50%;
        border:3px solid #acacac;
        display: inline-block;
        margin-top:20px;
    }
    .set-circle2-active{
        height: 20px;
        width: 20px;
        border:0px solid #acacac;
        background-color: #57b029;
        border-radius: 50%;
        display: inline-block;
        margin-top:20px;
    }
    .set-circle{
        height: 10px;
        width: 10px;
        background-color: #f7f7f7;
        border-radius: 50%;
        display: inline-block;
    }
    .setform-group-row{
        margin-top:-10px;
    }
    .setPSPAN{
        color:#57b029;
        font-size:14px;
        font-family: Montserrat, sans-serif;
    }
    
    #widthhr{
        width:85%;
    }
    
    .sets1{
        color:#282828 !important;
        font-size: 14px !important;
        font-family: Montserrat, sans-serif !important;
        position: relative;
        top:-10px;
    }
    .setuserbasicinfo{
        padding-left:115px;
    }
    
    .SETContainer {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 25%;
        left: 3%;
        display: flex;
    }

    .SETContainer2 {
        position: absolute;
        transform: translate(-50%,-33%);
        top: 54%;
        left: 16%;
        display: flex;
    }

    .setColxsHRP{
        width:100%;
    }

    .setColxsCCP{
        text-align:center;
        width:100% !important;
        display:contents;
    }

    .setColXsEC{
        width:100% !important;
    }

    .setWidthDART{
        width:100% !important;
    }

    .setTH2{
       text-align: center;
    }

    .setWidth{
        width:200% !important;
    }

    .setTBLESCROLL{
        overflow: scroll;
        height:200px;
        max-height: fit-content;
    }

    .setTBLESCROLL{
        overflow: scroll;
        height:200px;
        max-height: fit-content;
    }

    .setColXsWLP{
        width:100% !important;
    }
    .setRowMWHLP{
        text-align: center;
    }

    .setXsCol{
        width:100% !important;
    }

    .setColMd2LWHP{
        width:100% !important;
    }

    .setCol6MdLWHP{
        width:100% !important;
    }

    .setPPJDPAGEMRO{
        text-align:center;
    }

    .setBTNJDPAGEMROP{
        width:100% !important;
        position: inherit !important;
        text-align-last: center;
        right:0px !important;
    }

    .setPageContentWrapperMROPAGE{
        margin-top:40px;
    }
    .setSKILLMRECEVIXOPAGE{
        text-align:center;
    }
    .setCol12MRECEVIEORDEPAAGE{
        height:120px;
        /*overflow: scroll;*/
    }
    .setLANGUAGEMORPAEG{
        text-align:center;
    }
    .setLANGCol12{
        text-align: center;
    }
    .setB2{
        display:none;
    }
    .setB3{
        display:none;
    }
    .setDEscriptionMORP{
        text-align: center;
    }
    .setColXS{
        width:100% !important;
    }
    .setBNBNJDP{
        width:100% !important;
        margin:2px;
    }
    .setROWNEWMILSTONE{
        text-align: center;
    }
    .setULNAVTBS{
        height:95px;
        overflow: scroll;
    }
    .setULNAVTBS ul{
        width:200%;
    }

    .setULNAVTBS li a{

    }
    .setULNAVTBS li{
        padding:2px !important;
    }
    .setTBLEMRJOP{
        overflow: scroll;
        max-height: fit-content;
        max-height: -moz-fit-content;
    }
    .setProfileUserPICJDP{
        display:inline-block;
    }
    .setContactsINFO .contacts-info-sub{
        padding:10px;
    }
    .setJDPBUTTON1{
        width:100% !important;
        margin-left:0px !important;
        margin:5px;
    }

    .setTH3{
        text-align: center;
    }

    .set-Row-Portlet-body{
        width:100%;
        text-align: center;
    }
}

@media (max-width:897px) and (min-width:813px)
{
    .set-row-imge-screen-shoots {
        height: 155px;
        margin-left: -5px;
        margin-right: -6px;
    }
}

@media (max-width:790px)
{
    .setModalImagecol4 {
        width: 50%;
    }
}

@media (max-width:812px) and (min-width:677px)
{
    .set-col-md-3 {
        margin-top: 45px;
        width: 50% !important;
    }

    .set-Image-screen-shoot {
        width: 90%;
        height: 164px;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }
}

@media (max-width:676px) and (min-width:500px)
{
    .set-col-md-3 {
        margin-top: 45px;
        width: 50% !important;
    }

    .set-Image-screen-shoot {
        width: 90%;
        height: 110px;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 75% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }
}

@media (max-width:499px) and (min-width:320px)
{
    .set-Image-screen-shoot {
        width: 90%;
        height: 162px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-col-md-3 {
        margin-top: 45px;
        width: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 30px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }
}

@media (max-width:440px) and (min-width:375px)
{

    .set-Image-screen-shoot {
        width: 90%;
        height: 108px;
    }

    .set-col-timeDate{
        width:100% !important;
    }

    .set-col-md-3 {
        margin-top: 10px;
        width: 100% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 80% !important;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0%;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 18px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }
}

@media (max-width:374px) and (min-width:320px)
{
    .table-condensed {
        border-collapse: unset !important;
        border-spacing: 2px !important;
    }
    .datepicker table tr td, .datepicker table tr th {
        text-align: center;
        width: 30px;
        height: 25px !important;
        border-radius: 4px;
        border: none;
    }
    .setbtnApply {
        float: right;
        position: relative;
        right: 20px;
        top: -5px !important;
    }
    .set-Image-screen-shoot {
        width: 90%;
        height: 72px;
    }
    .set-col-timeDate{
        width:100% !important;
    }

    .set-time-screen-shot {
        font-size: 9px;
        color: #4b5457 !important;
    }

    .set-col-md-3 {
        margin-top: 10px;
        width: 100% !important;
        margin-bottom: -54px;
    }

    .set-delete-icon-row {
        position: absolute;
        right: 0% !important;
        left: 70% !important;
    }


    .set-delete-icon{
        font-size: 14px;
    }

    .battery{
        position: absolute;
        width: 4px;
        height: 12px;
        background-color: #bbb9b9;
        left: 99%;
        top: 18% !important;
    }

    .battery-charge-cell{
        width: 4px;
        height: 12px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }

    .battery div:nth-child(2)
    {
        height: 12px;
        background-color: #bbb9b9;
        margin:0px 0px 2px;
    }
}


@media (max-width:322px){
    .SETContainer2 {
        position: absolute;
        transform: translate(-50%,-33%);
        top: 51%;
        left: 16%;
        display: flex;
    }
}

@media (max-width:508px) and (min-width:434px)
{
    .setULNAVTBS ul {
        width: 250%;
    }
}

@media (max-width:433px) and (min-width:320px)
{

    .setULNAVTBS ul li.active .setLI{
        border: 2px solid #57b029;
        color: #57b029;
        text-align: center;
        height:auto;
        width: 115px !important;
        padding: 8px;
        font-size: 12px;
    }

    .setULNAVTBS ul {
        width: 285%;
        padding: 30px 0px 30px 0px;
    }
}

@media (max-width:411px) and (min-width:320px)
{
    .setBNBNJDP {
        width: 100% !important;
        margin-left:0px !important;
        margin:5px;
        top:10px !important;
    }

    .setModalRowImage {
        display:block;
    }
}
.clear{
    clear:both;
}

@media (max-width:398px){
    .tbleWidth {
        /* width: 150% !important; */
        overflow: scroll;
        height: 300px;
    }
}

/* responsive calendar */
.inactive {
    background-color: lightgray;
}