.setContactInfo{
    margin-left:10px;
    position: relative;
    top: -60px;
}

.set-fa-comments{
    width:20px;
    height:16px;
    font-size: 18px;
}

.set-This-small{
    font-family: Montserrat, sans-serif !important;
    font-size: 12px !important;
    color:#999999 !important;
    position: relative;
    top: -5px;
}

.set-sub-con{
    position: relative;
    top:-6px;
    font-size: 14px !important;
    color: #57af33;
}

.fa-star {
    color: #57af33 !important;
    font-size: 14px !important;
}

.set-spnof-JMp{
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color:#999999 !important;
}

.setSmall {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color:#373737 !important;
    font-weight: normal !important;
}

.full-name{
    color:#373737 !important;
}

.set-spn2-JMP{
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    color:#999999;
}
.set-row-main{
    position: relative;
    top:-10px;
}
.set-row-main-2{
    position: relative;
    top:-25px;
}

.set-row-main-3{
    position: relative;
    top: -40px;
}

.set-row-main-4{
    position: relative;
    top: -55px;
}

.prising-section {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin: 0px 0px !important;
}

.prising-section-sub {
    color: #b1b1b1;
    padding: 40px 15px 30px 15px !important;
}

.basic-info .btn-green-bg-white-text {
    position: absolute;
    top: 10px;
    right: 30px !important;
}

.vr-1 {
    width: 1px;
    background-color: #ddd;
    height: 390px;
    position: absolute;
    top: 1.5% !important;
    bottom: 0;
    right: 67% !important;
    opacity: .3;
}

.vr01 {
    width: 1px;
    background-color: #ddd;
    height: 150px;
    position: absolute;
    top: 8.5% !important;
    bottom: 0;
    right: 67%;
    opacity: .3;
}

.vr02 {
    width: 1px;
    background-color: #ddd;
    height: 150px;
    position: absolute;
    top: 8.5% !important;
    bottom: 0;
    right: 34%;
    opacity: .3;
}

.set-mainrow-span1{
    color:#666666;
    font-size:14px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

html:lang(cn) .set-mainrow-span1{
    color:#666666;
    font-size:14px;
    font-family: "Noto Sans CJK JP Regular";
    font-weight: bold;
    letter-spacing: 1px;
}

.setSubtitle{
    font-size: 14px !important;
    font-family: Montserrat, sans-serif !important;
}

html:lang(cn) .setSubtitle{
    font-size: 14px !important;
    font-family: "Noto Sans CJK JP Regular" !important;
}

.setspn1JMPP{
    margin-bottom:20px;
}

.setSpn1JMPP {
    margin-bottom: 20px;
}

@media (max-width:991px)
{
    .setContactInfo{
        margin-left:10px;
        position: relative;
        top: -60px;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .setSpn1JMPP {
        margin-bottom: 20px;
    }
    .setProfileUserPICJDP {
        display: inline-block;
        margin-top: 15px !important;
    }
    .setspn1JMPP {
        margin-bottom: 20px !important;
        width: 100% !important;
        text-align: center !important;
        left: 0px !important;
        position: absolute;
    }

    .set-col-8-right-area{
        width:100% !important;
    }

    .set-row-main{
        display: initial;
    }

    .set-col-btn-8{
        display: flex;
        position: relative;
        top: -40px;
    }
    .set-col-4-top{
        position: relative !important;
        top:3px !important;
    }

    .setBNTNPJMBP {
        width: 100% !important;
        position: inherit !important;
        left: 0px !important;
        margin-top:44px;
    }

    .vr-1{
        display: none;
    }
    .vr01{
        display:none;
    }
    .vr02{
        display:none;
    }
}