.page-content-wrapper .page-content{
    margin-left: 0px;
    padding: 0;
}

.setBtnBtnOffical{

}

.set-mt-action-owner{
    display: flex !important;
    max-height: fit-content !important;
    border-bottom: 1px solid lightgray;
    max-width:90% !important;
    margin-bottom: 10px;
}

.set-wechat-color-share{
    background-color:#5FC332;
    padding: 12px 10px 10px 45px;
    color:#fff;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 10px;
    font-weight: bold;
}

.set-wechat-color-share:hover{
    color:#fff;
}

.set-email-color-share:hover{
    color: #fff;
}
.set-email-color-share{
    background-color:#FDB632;
    padding: 12px 10px 10px 37px;
    color:#fff;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.set-email-color-share > img{
    width: 20px;
    position: relative;
    float: left;
    margin-right: -25px;
    top: 2px;
    left: 17px;
}

.set-fa-fa-link-share{
    float: left;
}

.set-fa-fa-messanger{
    float: left;
}

.set-wechat-color-share >img{
    width: 20px;
    position: relative;
    float: left;
    margin-right: -28px;
    left: 15px;
}

.set-col-md-4-share-twitter{
    display: grid;
    margin-bottom: 14px;
    width: 45%;
    float: right;
}
.set-col-md-4-share-wechat{
    display: grid;
    margin-bottom: 14px;
    width: 45%;
}

.set-col-md-4-share-email{
    display: grid;
    margin-bottom: 14px;
    width: 45%;
    float: right;
}

.set-modal-content-share-links{
    width:85%;
}

.set-col-md-4-share-facebook{
    display: grid;
    width: 45%;
    margin-bottom: 14px;
}

.set-twitter-color-share{
    padding: 12px 10px 10px 33px;
    background-color:#2CA7E0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color:#fff;
}

.set-twitter-color-share:hover{
    color: #fff;
}

.img-tag-qr-image{
    width: 57%;
    /*border: 2px solid gray;*/
    padding: 19px;
    z-index: 9999999;
}

.set-span-text-share{
    position: relative;
}

.set-modal-footer-share{
    text-align: center;
    border-top: 1px solid lightgray !important;
}

.share-this-property{
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    left: 16px;
    position: relative;
    margin-bottom: 0px;
}

.set-twitter-color-share > img{
    width: 20px;
    position: relative;
    float: left;
    margin-right: -25px;
    left: 22px;
}

.set-facebook-color-share:hover{
    color:#fff;
}

.set-copylink-color-share{
    background-color:#9A9A9A;
    color:#fff;
    border:0px !important;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    font-weight: bold;
    height: 42px;
    padding: 13px 10px 10px 34px;
    align-items: center;
}

.set-copylink-color-share:hover{
    color:#fff;
}

.set-facebook-color-share{
    text-transform: capitalize;
    padding: 12px 10px 10px 33px;
    background-color:#3B5998;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    color:#fff;
}

.icon-link:before {
    content: "\e08d";
    position: relative;
    left: -32px;
    margin-right: -22px;
}

.set-copy-link-span{
    position: relative;
    top: -1px;
}

.set-messaengerl-color-share{
    padding: 12px 10px 10px 33px;
    background-color:#2F89F9;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    color:#fff;
}

.set-messaengerl-color-share >img{
    width: 20px;
    position: relative;
    float: left;
    margin-right: -9px;
    left: 16px;
}

/*social noetworks*/

/*social noetworks*/


.set-messaengerl-color-share:hover{
    color:#fff;
}


.set-facebook-color-share >img {
    width: 20px;
    position: relative;
    float: left;
    margin-right: -28px;
    left: 15px;
}

.set-modal-header-share-modal{
    text-align: left;
    border:0px !important;
}

.set-close-btn-share{
    cursor: pointer;
    z-index: 999;
}

.set-modal-body-share-modal{
    border:0px;
    height: auto;
}

.set-without-login-container{
    padding:20px;
    font-size: 22px;
    color:#000000;
    text-align: center;
    width: 100%;
    text-align: -webkit-center;
    height: 325px;
    text-align: -moz-center;
}

.set-no-proposal > h2{
    font-size: 20px;
    color: #808080;
}

.set-col-md-5-without-login{

}

.fav-add-active{
    color:#f4b00e !important;
}

.set-without-login-section{
    height: auto;
}
.input-box-1{
    height:51px;
    width:429px;
    color:#3a4656;
    border-radius:3px;
    border:2px solid #b5b9bd;
    font-size:16px;
    padding-left:46px;
    padding-top:5px;
}

.input-box-1:hover{
    border:2px solid #57b029;
    height:51px;
    width:429px;
    color:#3a4656;
    border-radius:3px;
    font-size:16px;
    padding-left:46px;
    padding-top:5px;
}

.set-col-md-5-without-login-5:hover{

}

.btn-without-login{
    border-radius:3px;
    background-color:#57b029 !important;
    width:179.16px;
    height:60px;
    font-weight:500;
    font-size:14px;
    font-family: 'Raleway Regular' !important;
    color:#fff;
}

.set-form-group-bottom{
    margin-bottom:21px;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.set-form-group-bottom-1{
    margin-bottom:-10px;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: -31px;
}

.set-col-md-image{
    position: relative;
    top: 41px;
    background-repeat: no-repeat;
    background-image: url(/images/user_images.png);
    /* border-right: 1px solid #b5b9bd; */
    display: inline-block;
    right: 182px;
    /* z-index: 999999999999999999999999; */
    width: 29px;
    height: 17px;
}

.set-col-md-image-pass{
    position: relative;
    top: 42px;
    background-repeat: no-repeat;
    background-image: url(/images/lock_images.png);
    /* border-right: 1px solid #b5b9bd; */
    right: 182px;
    display: inline-block;
    width: 29px;
    height: 20px;
}

.set-form-group-bottom-2{
    margin-top:-31px;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.set-form-group-bottom-3{
    margin-top:-25px;
    margin-bottom:20px;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.set-color-green-price{
    color:#57b029;
    font-weight: bold;
    font-size: 14px;
    padding-left:4px;
    font-family: 'Myriad Pro', 'Raleway', sans-serif !important;
}

.set-public-type{
    font-size: 14px;
    color:#808080;
    text-transform: capitalize;
    font-weight: 500;
    padding-left:6px;
    font-family: 'Myriad Pro', 'Raleway', sans-serif !important;
}

.set-col-md-image-2 {
    position: relative;
    top: 41px;
    background-repeat: no-repeat;
    background-image: url(/images/user_images.png);
    /* border-right: 1px solid #b5b9bd; */
    display: inline-block;
    right: 182px;
    /* z-index: 999999999999999999999999; */
    width: 29px;
    height: 17px;
}

.hover-class{
    position:relative;
    top:41px;
    background-image:url(/images/green_users_image.png);
    background-repeat:no-repeat;
    /* border-right: 1px solid #b5b9bd; */
    display:inline-block;
    right:182px;
    /* z-index: 999999999999999999999999; */
    width:29px;
    height:17px;
}

.set-col-md-image-pass-2 {
    position: relative;
    top: 42px;
    background-repeat: no-repeat;
    background-image: url(/images/lock_images.png);
    /* border-right: 1px solid #b5b9bd; */
    right: 182px;
    display: inline-block;
    width: 29px;
    height: 20px;
}


.hover-class1{
    position: relative;
    top: 42px;
    background-repeat: no-repeat;
    background-image: url(/images/green_locak_image.png);
    /* border-right: 1px solid #b5b9bd; */
    right: 182px;
    display: inline-block;
    width: 29px;
    height: 20px;
}

.input-box-2{
    font-size:16px;
    height:51px;
    width:429px;
    color:#3a4656;
    border-radius:3px;
    border:2px solid #b5b9bd;
    padding-left:46px;
    padding-top:5px;
}

.input-box-2:hover{
    font-size:16px;
    height:51px;
    width:429px;
    color:#3a4656;
    border-radius:3px;
    border:2px solid #57b029;
    padding-left:46px;
    padding-top:5px;
}

.setJDButton3 {
    text-align: -webkit-right;
    position: absolute;
    right: 25px;
    top:54px;
    text-align: -moz-right;
}

html:lang(cn) .setJDButton3{
    text-align: -webkit-right;
    position: absolute;
    text-align: -moz-right;
    right: 50px;
    top: 54px;
}

#lightboxset img{
    border-radius: 0px !important;
}

#lightboxset a{
    color: #808080 !important;
}

.set-col-md-12-scroller-jdp >.slimScrollDiv{
    height:170px;
}

.setScroller{
    /*height: 168px !important;*/
    max-height: fit-content;
}

.sharedimages{
    width: 32px;
    margin-left: 0px;
}

.setDotsLinks{
    font-size: 14px;
    color: #57b029;
    font-weight: bold;
}

.setCol2More{
    position: absolute;
    right: 0px;
    left: 77%;
}

.set-Col-10Md{
    margin-bottom:30px !important;
}

html:lang(cn) .setCol2More{
    position: absolute;
    right: 0px;
    left: 77%;
}


.setCol2JDPM{
    /*position: absolute;*/
    /*top: 34%;*/
    /*right: 15%;*/
}

.setJDPROWPFF{
    display:initial;
}

#message-icon{
    margin-top:10px;
}

.setPDIVONSCROLL{
    height: 540px !important;
}

.chat-room-user-info{
    max-width: 100%;
    right: 0px;
    top:10px;
    position: relative;
    padding-left: 5px;
}

.setCol12NewD{
    margin-top:10px;
}

#hrChatRoomUserInfo{
    width: 90%;
    position: relative;
    left: 0px;
}

.setCol8NewD{
    margin-top:12px;
}

.setChat_user_info_image{
    width: 61px;
    height: 61px;
    border-radius: 100%;
    margin-top:9px;
}

.setSpnCNJP{
    color:#373737 !important;
    font-family: Montserrat, sans-serif !important;
    font-size:14px;
}

.setSpn01OTS{
    color:#898989 !important;
    font-family: Montserrat, sans-serif !important;
    font-weight:lighter;
    font-size: 14px;
}

.active_fa_starts{
    color:#57b029;
}

.setFaStars{
    color:#e3e3e3;
}

.mark_dot {
    height: 18px;
    width: 18px;
    background-color: #ff400c;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #fff;
    position: absolute;
    top: 70%;
    right: 8%;
}

.highlight_silver{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 9%;
    left: 15%;
    border: 3px solid #fff;
    background-color: #C0C0C0;
}

.highlight_brown{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 9%;
    left: 15%;
    border: 3px solid #fff;
    background-color: #946d46;
}

.highlight_gold{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 9%;
    border: 3px solid #fff;
    background-color: #f9d23f;
    left: 15%;
}

.setNewSectionCol9{
    margin-top:10px;
    padding-left:0px;
}

.setDownload{
    position: relative;
    top:0px !important;
}

/*loader*/
.setAJAXLOADER{

}

.preloader_bg{
    width:150px;
    height:150px;
    background: url('images/loader_bg.png') no-repeat;
    position: relative;
    left:39%;
    top:35%;
}
.qp-circular-loader {
    width:150px;
    height:150px;
}
.qp-circular-loader-path {
    stroke-dasharray: 58.9;
    stroke-dashoffset: 58.9;
}

.qp-circular-loader, .qp-circular-loader * {
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
.qp-circular-loader {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 4000.00ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fillunfill {
    from {
        stroke-dashoffset: 58.8

    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -58.4

    }
}
@-webkit-keyframes rot {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@-webkit-keyframes colors {
    from {
        stroke: #f5a52b;
    }
    to {
        stroke: #f5a52b;
    }
}
.qp-circular-loader-path {
    -webkit-animation-name: fillunfill, rot, colors;
    -webkit-animation-duration: 1333ms, 5332ms, 5332ms; /* ARCTIME, 4*ARCTIME, 4*ARCTIME */
    -webkit-animation-iteration-count: infinite, infinite, infinite;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
    -webkit-animation-play-state: running, running, running;
    -webkit-animation-fill-mode: forwards;
}
/*loader*/

.icon .glyphicon {
    font-size: 30px;
}

.btn.fa-close{
    margin-top: 4px;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.div-question{
    padding: 5px 45px;
}

.div-close-question{
    padding-top: 10px;
}

.price-icon, .project-type{
    float: left;
    padding-top: 15px;
    padding-right: 15px;
}

/*project detail*/
.column {
    padding-top: 20px;
    padding-left: 30px;
}

.div-title{
    padding-top: 5px;
}

.div-title.price{
    padding-top: 2px;
    font-size: 18px;
}

.job.portlet {
    margin-bottom: 20px;
}

.job.portlet.box > .portlet-title {
    background-color: #fff;
    font-weight: bold;
    padding: 30px 30px 0px 30px;
}

.job.portlet.box > .portlet-body {
    padding: 0px 30px 30px 30px;
}

.job-rock.portlet.box > .portlet-title {
    padding: 0px 30px;
}

.job-rock.portlet.box > .portlet-title .title {
    padding: 15px 0px;
}

.job-rock.portlet.box > .portlet-title hr {
    margin: 0px;
}

.job-rock.portlet.box .official-pro-right .portlet-title img {
    position: absolute;
    left: -5px;
    top: -30px;
}

.job-rock.portlet.box .official-pro-right .portlet-title .title-green-c {
    padding-left: 60px;
}

.portlet.box > .portlet-footer {
    background-color: #f5f5f5;
    color: #9f9f9f;
    padding: 30px;
}

.title-profile-image{
    padding-top: 20px;
}

.profile-name{
    padding-right: 20px;
}

.font-black {
    color: #000000;
}

.date-time{
    padding-top: 5px;
}

.tailor-action{
    padding-right: 20px;
}

.div-title{
    color: #000;
}

.apply-order{
    margin-right: 10px;
}

.b-1{
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.m-5{
    margin: 5px
}

.input-group-addon {
    min-width: 100px;
}

.btn-make-offer{
    padding: 42px 14px;
}

.portlet:not(.light) .tabbable-line {
    padding-top: 0px;
}

.btn-chat-room,
.btn-freelance-detail{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    cursor: hand;
}

.btn-chat-room.active,
.btn-freelance-detail.active{
    background-color: orange;
    color: #fff;
    border-color: #FF9B05;
}

.btn-chat-room:hover,
.btn-freelance-detail:hover{
    background-color: orange;
    color: #fff;
    border-color: #FF9B05;
}

/* chat room list*/
.mt-action .mt-action-img > img {
    border-radius: 50% !important;
    margin-bottom: 2px;
}

.setDateTime{
    font-family: Montserrat, sans-serif;
    font-size:14px;
    color:#bfbfbf;
}

.setMessageBody{
    font-family: Montserrat, sans-serif !important;
    font-size:14px;
    color:#666666;
}

.setName{
    font-family: Montserrat, sans-serif !important;
    font-size:14px;
    color:#57b029;
}

.Image_highlight_gold{
    border:2px solid #f9d23f;
}

.Image_highlight_brown{
    border: 2px solid #946d46;
}

.Image_highlight_sliver{
    border: 2px solid #C0C0C0;
}
.setAvater{
    border-radius: 100%;
    width: 50px !important;
    height: 50px !important;
    margin-top:6px;
}

.mt-actions .mt-action .mt-action-img {
    width: 75px;
    float: left;
}

.mt-action-footer {
    margin-left: 75px;
    margin-top: 5px;
}

.mt-action-footer .btn-award,
.mt-action-footer .btn-check-offer{
    background: #4e9e25 none repeat scroll 0 0;
    border: 2px solid #4e9e25 !important;
    border-radius: 3px;
    box-shadow: 0 0;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px !important;
    text-transform: none;
    margin-right: 10px;
}

.mt-action-footer .btn-reject {
    margin-right: 10px;
    background: #fff none repeat scroll 0 0;
    border: 2px solid #4e9e25 !important;
    border-radius: 3px;
    box-shadow: 0 0;
    color: #4e9e25;
    font-weight: bold;
    padding: 5px 10px !important;
    text-transform: none;
}
.mt-actions .mt-action {
    margin: 0;
    padding: 0px 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #eee*/
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details {
    /*display: table-cell;*/
    vertical-align: top;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .mt-action-author{
    color: #2f353b;
    font-size: 16px;
}
.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .mt-action-author span{
    color: #57B029;
    font-size: 12px;
}
.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .mt-action-desc{
    color: #8f8f8f;
    font-size: 13px;
    margin: 0px;
    margin-top:16px;
}
.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .more{
    text-transform: uppercase;
    color: #58AF2A;
    font-size: 13px;
    font-weight: 600;
}
.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info {
    display: table-cell;
    vertical-align: top;
}

.mt-actions .mt-action .mt-action-body .mt-action-row {
    display: table;
    width: 100%;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-datetime {
    vertical-align: top;
    display: table-cell;
    text-align: center;
    width: 150px;
    white-space: nowrap;
    padding-top: 15px;
    color: #A6A8A8;
}

.mt-actions .mt-action .mt-action-body {
    /*padding-left: 15px;*/
    position: relative;
    overflow: hidden;
}

.icon-group span
{
    font-family: Simple-Line-Icons !important;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-group span:hover, .icon-group span:focus
{
    color: #57b029;
}

.share.dropdown-menu hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.share.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 90px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.share.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 91px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.admin-feature.dropdown-menu hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.admin-feature.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 200px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.admin-feature.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 201px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.admin-feature .icon{
    color: #57b029 !important;
    font-size: 20px;
    margin-right: 20px;
    font-family: Simple-Line-Icons !important;
}

.admin-feature li{
    padding: 5px 0;
}

.admin-feature.dropdown-menu > li > a {
    padding: 8px 20px;
}

.send-message-sect .fa-comments-o,
.send-message-sect .fa-ellipsis-v
{
    position: relative;
    top: 15px;
}

/*Chat room *
.chat-room-div .scroller{
    padding: 0px;
}
.chat-room-div .scroller .chats{
    padding: 0px;
    margin: 15px 0px;
}
.chat-room-div .scroller .chats li{
    margin: 0px 0px 15px 0px;
    padding: 0px 15px 0px 15px;
}
.chat-room-div .scroller .chats li img{
    width: 55px;
    height: 55px;
}
.chat-room-div .scroller .chats li a{
    color: #58AF2A;
    font-size: 16px;
    font-weight: 600;
}
.chat-room-div .scroller .chats li .datetime{
    font-size: 13px;
    color: #999;
    margin: 0px 0px 8px 0px;
}
.chat-room-div .scroller .chats li .body{
    font-size: 14px;
    color: #505050;
    margin-bottom: 0px;
}
.chats li.in .message .arrow {
    left: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid #f5f5f5;
}

.chats li.in .message {
    text-align: left;
    border-left: 0px solid #fff;
    margin-left: 65px;
    background: #fff;
    color: #555555;
}

.chats li.out .message .arrow {
    right: -8px;
    border-left: 8px solid #659be0;
}

.chats li.out .message {
    border-right: 0px solid #659be0;
    margin-right: 65px;
    background: #fff;
    text-align: right;
    color: #ffffff;
}
*/

.chats li.in .datetime {
    color: #888888;
    /*padding-left: 65px;*/
    font-size: 11px;
    margin-bottom: 10px;
}

.chats li.out .datetime {
    color: #cccccc;
    margin-right: 65px;
    font-size: 11px;
}

.chats li.in .div-datetime {
    text-align: left;
}

.chats li.out .div-datetime {
    text-align: right;
}

.chats li.in .name {
    color: #5DBA2C;
    font-size: 13px;
    font-weight: 500;
}

.chats li.out .name {
    color: #ffffff;
}

.upload-btn-custom{
    text-align: left;
    /*width: 50%;*/
    float: left;
    font-size: 22px;
}
.upload-btn-custom a{
    color: #58AF2A;
}
.chat-form{
    background: #FCFCFC;
    border-top: 1px solid #ECECEC;
}
.chat-form-main{
    margin: 0px;
}
.chat-form-l{
    padding: 0px;
}
.chat-form-r{
    padding: 0px;
}
.sound-icon{
    font-size: 30px;
}

.message.images{
    width: 35%;
}

.message.sound{
    width: 10%;
}

.message.images .body, .message.sound .body{
    text-align: center;
}

.chat-form .input-cont {
    margin-right: 0px !important;
    position: relative;
}
.chat-form .input-cont .btn-submit{
    position: absolute;
    right: 1px;
    top: 2px;
    padding: 10px 15px 7px 15px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px;
    background: transparent;
}
.chat-form .input-cont .btn-submit i{
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    color: #56B128;
    font-size: 20px;
}
#message{
    height: 40px;
    padding-right: 55px;
}

.btn-cont .arrow{
    z-index: 100;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
    color: #aaa;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #eee;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.project-conversation .portlet.box > .portlet-title {
    color: #000;
}

.set-fc-green{
    color:#57b029;
}

.mt-action-author .fa-check-circle
{
    margin-top: 0px;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
}

/*New Style*/
.usercenter.link-div a{
    color : #57b029;
    font-size: 18px;
    font-weight: 500;
    z-index: 9991;
    position: relative;
}

.icon-link{
    cursor: pointer;
}
.icon-share{
    cursor: pointer;
    position: relative;
    right:10px;
}

.page-content-wrapper {
    margin-top: 12px !important;
}

.usercenter.link-div a span{
    font-weight: 600;
    margin-right: 10px;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size:18px !important;
}
.job.portlet{
    margin-top: 20px;
}
.portlet{
    box-shadow: 0px 0px;
    border: 1px solid #EDEDED;
    border-radius: 5px;

}
.project-name{
    font-size: 20px !important;
    cursor: pointer;
    color: #404040;
    text-decoration: none;
}


.div-jobDiscussion-main hr{
    margin: 10px 0px !important;
}
.job.portlet.box > .portlet-title{
    font-weight: normal;
}
.div-jobDiscussion-main .portlet-title .fa-star{
    color: #d4d4d5;
    font: normal normal normal 24px/1 FontAwesome !important;
    font-size: 24px;
}
.favourite{
    color: #f4b00e;
}

.div-jobDiscussion-main .portlet-title .price-div{
    margin: 10px 0px 5px 0px;
}
.div-jobDiscussion-main .portlet-title .top-smoll{
    color: #404040;
}
.div-jobDiscussion-main .portlet-title:first-child .top-smoll{
    margin-right: 15px;
}
.div-jobDiscussion-main .portlet-title .top-smoll .price,
.div-jobDiscussion-main .portlet-title .top-smoll .type{
    color: #777777;
}

/*button*/
.btn-oficial-project:hover,
.btn-oficial-project{
    background: #fff;
    color: #4E9E25;
    border: 2px solid #4E9E25 !important;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px 20px !important;
    margin-right: 30px;
    margin-top: 0px;
    box-shadow: 0px 0px;
}

.set-btn-btn-join-discussion{
    height:40px !important;
    font-size:19px !important;
    font-weight: normal !important;
    width:200px !important;
    padding:0px !important;
    border-radius: 3px !important;
}

.setJDButton1 {
    text-align: right;
    position: relative;
    top: 0px;
}

.set-left-padding-col-6{
    padding-left:0px;
}

.set-right-padding-col-6{
    padding-right:0px;
}

.set-price-price-type{
    font-size: 14px;
    /*font-family: Montserrat, Helvetica, sans-serif !important;*/
    text-transform: capitalize;
    color:#a6a6a6;
}
.set-price-type{
    font-size: 14px;
    /*font-family: Montserrat, Helvetica, sans-serif !important;*/
    text-transform: capitalize;
    color:#a6a6a6;
}

.set-a-link-share-project{
    font-size: 15px;
    text-transform: uppercase;
    color:#57b029;
    /*font-family: Montserrat, Helvetica, sans-serif !important;*/
    cursor: pointer;
    font-weight: 500;
}

.set-a-link-share-project:hover{
    color:#57b029 !important;
}

.btn-make-offer:hover,
.btn-make-offer{
    font-size: 14px;
    background: #4E9E25;
    text-transform: none;
    color: #fff;
    border: 2px solid #4E9E25 !important;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px 60px;
    /*margin-top: -12px;*/
    box-shadow: 0px 0px;
}
.btn-share-pro:hover,
.btn-share-pro{
    font-size: 14px;
    background: #fff;
    text-transform: none;
    color: #4E9E25;
    border: 2px solid #fff !important;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px 0px !important;
    width: 200px;
    margin-top: -5px;
    box-shadow: 0px 0px;
}
.portlet-body-title{
    /*margin-top: 15px;*/
}

@media only screen and (max-width: 390px) {
    .portlet-body-title {
        margin-top: -80px;
    }
}
.portlet-body-title h5{
    text-transform: uppercase;
    font-weight: bold;
    color: #666666;
    letter-spacing: 1px !important;
}

.portlet-body-title h5 span{
    font-weight: normal;
    text-transform: none;
    color: #57b029;
    font-size: 12px;
    padding-left: 15px;
}

.set-portlet-body-border-end-jdp{
    border: 0px !important;
}

@media(max-width:991px)
{
    .set-skill-div-join-discussion-page{
        margin: 10px 5px 0px 0px !important;
        display: inline-flex !important;
    }
    .set-Scroller-join-d-Page{
        overflow: scroll !important;
        height: 150px !important;
        margin-bottom: 20px;
    }
}

.portlet-body .description {
    color: #808080;
    text-align: justify;
    min-height: 150px;
    min-height: max-content;
    font-weight: 500;
    word-wrap: break-word;
}

.skill-main .skill-div{
    display: inline;
    float: left;
    height: 30px;
    margin-right: 5px;
}
.skill-main .item-skill{
    background-color: #fff;
    font-family: 'Myriad Pro', 'Raleway', sans-serif !important;
    border: 1px solid #dedede;
    color: #8c8c8c !important;
    display: inline;
    float: left;
    font-size: 14px !important;
    list-style: outside none none;
    margin: 8px 5px 5px 0;
    height: auto !important;
    padding: 4px 15px !important;
    border-radius: 25px;
}

.set-download-span{
    color:#57b029 !important;
    font-size: 12px !important;
    font-weight: 700 !important;
}

.link-div{
    padding-left:6px;
}

@media only screen and (max-width: 390px) {
    .skill-main .skill-div {
        overflow: scroll;
        max-height: 90px;
    }
}

#attachment-download-all{
    margin-top: 5px;
}

.portlet-body-title > h5{
    margin-top:20px;
}

.qr_code_image{
    text-align: -webkit-center;
    position: absolute;
    right: 45%;
    z-index: 9999999;
    top: 68px;
    display: none;
}


.img-tag{
    width: 173px;
    border: 2px solid gray;
    padding: 19px;
    z-index: 9999999;
}

.cross-area-img-div{
    display: inline-block;
    position: absolute;
    cursor: pointer;
    z-index: 9999999;
    right: 6px;
    top:0px;
}

.set-p-without-login{
    font-size:20px;
    font-family: 'Raleway Regular' !important;

}


.set-title-of-project{
    color:#57b029;
    font-size:20px;
    font-weight: 500;
    font-family:'Myriad Pro', 'Raleway', sans-serif !important;
}



@media (max-width:991px)
{
    .set-form-group-bottom-2{
        margin-top:-25px;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .set-form-group-bottom-3{
        margin-top:-22px;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .set-form-group-bottom{
        margin-bottom:21px;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .item-skill {
        display: inline;
        list-style: none;
        padding: 4px 14px !important;
        margin: 3px 12px 0px -4px;
        float: left;
        font-size: 14px !important;
        height: 90% !important;
        border-radius: 25px;
        border: 1px solid #dedede;
    }
    .skill-main .item-skill{
        background-color: #fff;
        border: 1px solid #dedede;
        color: #909090;
        display: inline;
        float: none;
        font-size: 14px !important;
        list-style: outside none none;
        margin: 5px 5px 5px 0;
        height: auto !important;
        padding: 4px 15px !important;
        border-radius: 25px;
    }

    .portlet-body-title > h5{
        margin-top:100px;
    }
}

@media (max-width:596px)
{
    .set-right-padding-col-6 {
        padding-right: 0px;
        display: inline-block;
        width: 100% !important;
    }
    .setJDButton3 {
        text-align: -webkit-center;
        text-align: -moz-center;
        position: relative;
        top: 12px;
        left: 7px;
    }

    .img-tag {
        width: 173px;
        border: 2px solid gray;
        padding: 19px;
        z-index: 9999999;
        position: relative;
        top: 73px;
        left: 59px;
    }
    .cross-area-img-div {
        display: inline-block;
        position: absolute;
        cursor: pointer;
        z-index: 9999999;
        right: -53px;
        top: 74px;
    }
    .set-left-padding-col-6 {
        padding-left: 12px;
        width: 100%;
        /* display: inline-block; */
        text-align: center !important;
        display: grid;
        padding-right: 0px !important;
    }
    .project-name {
        font-size: 20px !important;
        cursor: pointer !important;
        color: #404040;
        text-decoration: none;
        text-align: -webkit-center !important;
        text-align: -moz-center;
        display: inline-grid !important;
    }
    .setJDButton1 {
        text-align: -webkit-center;
        position: relative;
        top: 0px;
    }
}

.attachment-main{
    margin: 10px 0px;
}
.attachment-main .attachment-sub{
    width: 85px;
    float: left;
}


.attachment-main .attachment-file{
    background: #FAFAFA;
    height: 80px;
    width: 75px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding-top: 12px;
    text-align: center;
}
.attachment-main .attachment-file img{
    width: 50px;
    height: 55px;
}
.attachment-main .attachment-name a{
    color: #666666;
    font-size: 13px;
    line-height: 30px;
}

.posted-by{
    margin-top: 15px;
}
.posted-by img{
    width: 45px;
    height: 45px;
}
.posted-by span{
    color: #808080;
}
.main-tabs-div{
    padding: 0px !important;
}
.main-tabs-div .tabbable-line > .nav-tabs{
    padding-left: 15px;
}

.set-tabs-li-jobDP > a:focus , .set-tabs-li-jobDP > a:hover {
    cursor: pointer;
    font-weight: bold;
    text-align:center !important;
}

.set-margin-type{
    margin-right: 15px;
}

.set-tabs-li-jobDP{
    text-align:center !important;
}

.set-tabs-li-jobDP{
    margin-right: 60px !important;
}

.set-tabs-li-jobDP:active{
    color:#57b029 !important;
}

.set-tabs-li-jobDP:focus > a{
    color:#57b029 !important;
}

.set-tabs-li-jobDP > a{
    margin-bottom: -3px;
    font-weight: bold;
    font-family: Montserrat, Helvetica, sans-serif !important;
    text-transform: capitalize;
}

.tabbable-line>.nav-tabs>li.active > a{
    color:#57b029 !important;
    cursor: pointer;
}

.job-description-image-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: -12px;
    position: relative;
    top:2px;
    background-size: 31px;
    background-image: url(/images/jobDescriptionGray.png);
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.job-hover-icon-class:hover{
    width: 100%;
    margin-bottom: -12px;
    position: relative;
    top:2px;
    background-size: 31px;
    margin-top: 10px;
    background-image: url(/images/jobDescription.png);
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.room-hover-icon-class:hover{
    background-position: center;
    width: 100% !important;
    margin-top:10px;
    margin-bottom: -12px;
    position: relative;
    top:2px;
    background-size: 56px;
    background-image: url("/images/disscussRoomgreen.png");
    height: 50px;
    background-repeat: no-repeat;
}

.discuss-room-width{
    background-position: center;
    width: 100% !important;
    margin-bottom: -12px;
    position: relative;
    top:2px;
    margin-top:10px;
    background-image: url("/images/disscussRoom.png");
    height: 50px;
    background-size: 56px;
    background-repeat: no-repeat;
}

.details-hover-icon-class:hover{
    background-position: center;
    margin-bottom: -12px;
    position: relative;
    top:3px;
    width: 100%;
    margin-top:10px;
    background-size: 31px;
    background-image: url("/images/freeLanceDetailsgreen.png");
    background-repeat: no-repeat;
    height: 50px;
}

.free-lance-details-width{
    background-position: center;
    margin-bottom: -12px;
    position: relative;
    top:3px;
    width: 100%;
    margin-top:10px;
    background-size: 31px;
    background-image: url("/images/freeLanceDetails.png");
    background-repeat: no-repeat;
    height: 50px;
}

.tabbable-line>.nav-tabs>li.active{
    color:#57b029 !important;
    cursor: pointer;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
    background: 0 0;
    border-bottom: 2px solid #7ed535;
    cursor: pointer;
    margin-top:1px;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li {
    cursor: pointer;
    margin-top:1px;
}


.tabbable-line>.nav-tabs>li.active {
    background: 0 0;
    border-bottom: 2px solid #25ce0f;
    position: relative;
}

.tabbable-line>.nav-tabs>li.open>a, .tabbable-line>.nav-tabs>li:hover>a {
    border: 0;
    background: 0 0!important;
    color: #57b029;
    cursor: pointer;
}
.main-tabs-div .tabbable-line > .nav-tabs > li{
    padding: 10px;
    padding-left: 0px !important;
    padding-right:0px !important;
}
.main-tabs-div .tabbable-line > .nav-tabs > li:hover{
    border-bottom: 2px solid #7ed535;
    padding-left: 0px !important;
    padding-right:0px !important;
}

.set-project-creator-img{
    width: 34px;
    border-radius: 115px;
    height: 34px;
}

.date_time_posted_area{
    font-weight: normal !important;
    font-family: Montserrat, Helvetica, sans-serif !important;
    color: #808080 !important;
    font-size: 13px;
}

.posted-by-area > i{
    font-size: 13px;
}

.posted-by-area{
    margin-top: 10px;
    margin-left: 16px;
    padding-left: 0px;
}

.posted-by-area{
    display: inline-flex;
}

.main-tabs-div .tabbable-line > .nav-tabs > li.active{
    border-bottom: 4px solid #58AF2A;
    padding-left: 0px;
    padding-right:0px;
}
.main-tabs-div .tabbable-line > .nav-tabs > li.active >a{
    color: #58AF2A !important;
    font-size: 14px;
}
.main-tabs-div .tabbable-line > .tab-content{
    padding: 15px 15px !important;
}
.chat-section .title{
    color: #2f353b;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.chat-room-memb-div{
    padding: 5px !important;
    max-height: 600px;
}

.chat-room-memb-parent{
    overflow: hidden;
}

.chat-room-memb-child{
    /*overflow-y: scroll;*/
    max-height: -webkit-fill-available;
    max-width: 100%;
    /*overflow-x: hidden;*/
    right: -15px;
    position: relative;
    padding-left: 5px;
    height: -webkit-fill-available !important;
    /*padding-right: 30px;*/
}

.chat-room-memb{
    overflow: hidden;
    max-height: 640px;
}

/************************
* official project info
*************************/

.official-pro-left {
    padding: 20px 20px 20px 30px;
    width: 22%;
}

.official-pro-left img {
    border-radius: 5px;
}

.official-pro-left .desc-div {
    margin: 15px 0px;
}

.official-pro-left .desc-div label {
    color: #5a5a5a;
    font-weight: 600;
}

.official-pro-left .desc-div .price {
    color: #58AF2A;
    font-size: 20px;
}

.official-pro-left .desc-div span {
    color: #727272;
    font-size: 14px;
}

.official-pro-left .btn-div button {
    width: 145px;
    line-height: 16px !important;
    white-space: normal;
}

.official-pro .portlet-body {
    padding: 0px 15px 30px 0px !important;
}

.official-pro .portlet-title {
    padding: 30px 15px 0px 0px;
    /*font-style: italic;*/
}

.official-pro .portlet-title .medall-icon-round {
    background: #f4b00e;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    margin-right: 5px;
}

.official-pro .portlet-title .top-info {
    margin-top: 20px;
}

.official-pro .portlet-title .top-info ul {
    padding: 0px;
}

.official-pro .portlet-title .top-info ul li:first-child {
    list-style: none;
    padding-left: 0px;
}

.official-pro .portlet-title .top-info ul li {
    float: left;
    margin-right: 30px;
    padding-left: 15px;
    color: #A6A6A6;
    padding-top: 10px;
}

.official-pro .portlet-title .top-info ul li span {
    color: #5a5a5a;
}

.official-pro .portlet-title .top-info ul li span span {
    color: #58AF2A;
}

.official-pro .portlet-body .description {
    margin: 10px 0px;
}

.official-pro .portlet-body label {
    float: left;
    font-weight: 600;
    color: #727272;
    margin-right: 15px;
}

.official-pro .portlet-body .possition span,
.official-pro .portlet-body .difficulty-star {
    color: #55B12A;
}

.official-pro .portlet-body .skill-div {
    margin-top: -5px;
}

.official-pro .label {
    color: #727272;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0px;
}

.official-pro .label .fa {
    color: #55B12A;
    font-size: 25px;
    padding-right: 10px;
}

.portlet-body .news .panel.panel-default {
    border: 1px solid #ddd;
    border-radius: 0px;
    margin-top: 15px;
}

.portlet-body .news .panel.panel-default .panel-heading {
    background: #F7F7F7;
}

.portlet-body .news .news-des {
    color: #808080;
}

.portlet-body .news .news-date {
    padding: 5px 15px;
}

.portlet-body .news .news-date .star {
    color: #F4B00F;
    font-size: 16px;
}

.portlet-body .news .news-date .repeat {
    color: #58AF2A;
    font-size: 16px;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .status {
    font-size: 13px;
    font-weight: 600;
    margin: 0px;
    margin-left:-20px;
    text-transform: uppercase;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .status.joined {
    color: #4E9E25;
}

.mt-actions .mt-action .mt-action-body .mt-action-row .mt-action-info .mt-action-details .status.interviewing {
    color: #b07c29;
}

.mt-actions .mt-action .mt-action-body {
    min-height: 50px;
}

.modal-content {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.bootstrap-switch{
    height: 34px;
}

/*Start Freelancer Detail CSS*/
.proposals-mein-div:hover{
    -moz-box-shadow:   0px 1px 9px 3px #c7ecc5;;
    -webkit-box-shadow: 0px 1px 9px 3px #c7ecc5;;
    box-shadow: 0px 1px 9px 3px #c7ecc5;
}

.proposals-mein-div{
    margin: 30px 15px 30px 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ededed;
    padding: 12px;
}
.proposals-mein-div .img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.proposals-mein-div .descriptions{
    padding: 5px 0px 0px 0px;
}
.proposals-mein-div .descriptions .btn-thumbs{
    padding-left: 0px;
}
.proposals-mein-div .descriptions .desc-right{
    padding-left: 0px;
    padding-top: 15px;
}
.proposals-mein-div .desc-right .title{
    color : #999;
    font-size : 12px;
    font-weight: normal;
    text-transform: unset;
}
.proposals-mein-div .desc-right .definition{
    color: #666;
    font-size: 18px;
}
.proposals-mein-div .btn-thumbs-default{
    background: #fff;
    padding: 0px;
    height: 32px;
    width: 45px;
    color: #ABABAB;
    border-radius: 3px;
    border:1px solid #ABABAB !important;
    font-size: 18px;
    margin-right: 5px;
}
.proposals-mein-div .btn-thumbs-color{
    margin-right: 5px;
    border-radius: 3px;
    background: #58AF2A;
    border:1px solid #58AF2A !important;
    color: #fff;
    padding: 0px;
    height: 32px;
    width: 45px;
    font-size: 18px;
}

.proposals-mein-div .descriptions .user-name h5{
    margin: 0px 0px 6px 0px;
    color: #58AF2A;
}
.proposals-mein-div .descriptions .user-name h6{
    margin: 0px 0px 6px 0px;
    color: #BFBFBF;
}
.proposals-mein-div .descriptions .price{
    color: #666;
}
.proposals-mein-div .descriptions .price span{
    color: #58AF2A;
}

.proposals-mein-div .descriptions .user-cover-latter{
    margin: 5px 0px;
    color: #737373;
}
.description-skill .skill-div {
    padding-left : 0px;
    margin-top: 10px;
    height: 35px !important;
    display: inline;
    float: left;
}
.description-skill .skill-div img {
    border: 2px solid #fff;
    padding: 4px 2px 4px 3px;
    border-radius: 30px;
    margin-right: 6px;
}
.description-skill .item-skill.official {
    background-color: #f9d23f !important;
    padding-left: 3px !important;
    border: none;
    color : #fff !important;
}
.description-skill .item-skill.success {
    background-color: #5dba2c !important;
    padding-left: 3px !important;
    border: none;
    color : #fff !important;
}
.description-skill .item-skill span {
    display: inline-block;
    margin-top: 2px;
    font-family: 'Montserrat Light', Arial !important;
}
.description-skill .item-skill{
    display: inline;
    list-style: none;
    background-color: #fff;
    color: #909090;
    padding: 3px 20px !important;
    border : 1px solid #dedede;
    margin: 5px 5px 5px 0;
    float: left;
    font-size: 14px !important;
    height: 90% !important;
}
.proposals-mein-div .descriptions .bottom-all-btn{
    margin-top: 30px;
}
.proposals-mein-div .descriptions .btn-default{
    background: #fff;
    color: #4E9E25;
}
.proposals-mein-div .descriptions .btn-color{
    background: #4E9E25;
    color: #fff;
}
.proposals-mein-div .descriptions .btn-custom{
    border:1px solid #4E9E25 !important;
    width: 125px;
    padding: 0px;
    text-transform: unset;
    line-height: 38px;
    font-weight: normal;
    font-size: 14px;
    border-radius: 3px;
    float: left;
    margin-right: 8px;
}
.proposals-mein-div .descriptions .last-login{
    float: right;
    font-size: 12px;
    color: #999;
    margin-top: 3px;
    float: left;
}
.proposals-mein-div .descriptions .last-login span{
    color: #666;
}
.freelancer-detail .chat-room-member .mt-actions{
    border-bottom: 1px solid #ededed;
}
.freelancer-detail .chat-room-member .mt-actions .mt-action{
    margin: 10px 0px;
}
.freelancer-detail .chat-room-memb-div{
    padding-top: 0px !important;
}

/*End Freelancer Detail CSS*/

/* News */
.panel-footer a,
.panel-footer a.focus,
.panel-footer a.hover
{
    color: #57b029;
}

.no-chat-room-messege-sect
{
    padding: 15px 0px;
    background-color: #FCFCFC;
    border-radius: 5px;
    overflow: hidden;
    margin: 80px 65px !important;
}
.no-chat-room-messege-sect .top-text{
    color: #9e9e9e;
    font-size: 14px;
    padding: 0px 100px;
}
.no-chat-room-img{
    background-color: #fff;
    border-radius: 50%;
    height: 150px;
    margin: auto;
    padding-top: 40px;
    width: 150px;
}
.no-chat-room-img img{
    width: 90px !important;
    height: 80px !important;
}
.download-text{
    width: 50%;
    margin-top: 15px;
    float: left;
    text-align: center;
}
.download-text .recommended{
    padding: 0px 80px;
    text-align: center;
}
.download-text .recommended p{
    margin: 10px 0px;
}
.download-text .recommended img{
    width: 22px !important;
    height: 22px !important;
}
.download-text .download{
    color: #2b50c3 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
.chat-form-main .upload-btn-custom i{
    padding: 15px 0px !important;
    font-size: 24px !important;
}
.chat-form-main .upload-btn-custom i.fa-paperclip{
    transform:rotate(45deg);
}


@media (max-width: 480px){
    .set-icon-group-office-p{
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .set-btnbtn-officalp{
        width: 100% !important;
        margin: 0px !important;
    }

    .btn-make-offer:hover, .btn-make-offer{
        margin-top: 15px !important;
        float: left !important;
    }
    .set-btn-btn-join-discussion{
        width:100% !important;
        margin: 0px !important;
    }
    .set-right-padding-col-6 {
        padding-right: 0px;
        display: inline-block;
        width: 100% !important;
        padding-left: 0px;
    }
    .bshare-custom{
        position: absolute;
        right: 0px;
        top: 15px;
    }
    .project-name{
        width: 100%;
    }
    .no-chat-room-messege-sect{
        padding: 0px !important;
    }
    .no-chat-room-messege-sect{
        margin: 80px 15px !important;
    }
    .download-text .recommended,
    .no-chat-room-messege-sect .top-text{
        padding: 0px 30px;
    }
    .download-text{
        width: 100%;
    }
}

@media (max-width: 1000px){
    .input-cont {
        margin-top:50px;
        margin-right: 0px !important;
        position: relative;
    }
}
p.mt-action-desc{
    color: #808080;
    font-size: 13px;
    margin: 0px;
}

.quit-interview{
    color: #57b029;
    position: relative;
    top: 15px;
}

.item-skill.official {
    background-color: #f9d23f !important;
    padding-left: 3px !important;
    border: none;
    color: #fff !important;
}

.item-skill.success {
    background-color: #5dba2c !important;
    padding-left: 3px !important;
    border: none;
    color: #fff !important;
}

.chat-form-custom{
    overflow: unset;
}
.chat-form-custom ul li:hover > a,
.chat-form-custom ul li:hover{
    background-color: #fff !important;
}
.chat-form-custom ul li{
    position: relative;
    padding: 15px 0px;
    border-bottom: 1px solid #F7F7F7;
}
.chat-form-custom ul li a{
    padding: 0px;
    line-height: unset;
    color: #3a3a3a;
    font-size:16px;
}
.chat-form-custom .checker{
    position: absolute;
    right: 25px;
    top: 10px;
}
.chat-form-custom .checker span{
    background-image: none;
}
.chat-form-custom .dropdown-menu{
    min-width: 250px;
    border-radius: 5px !important;
    left: -40px;
    bottom: 50px;
    padding: 0px 10px;
}
.chat-form-custom .dropdown-menu:after{
    display: block !important;
    position: absolute;
    bottom:-29px;
    left: 35px;
    content:"";
    border:15px solid transparent;
    border-top-color:#fff;
}
.s-switch input[type='checkbox']{display:none}

.s-switch {
    width: 42px;
    height: 24px;
    background: #E5E5E5;
    z-index: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
}

.s-switch:before {
    content: ' ';
    background: #D9534F !important;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 40px;
    height: 22px;
    background: #FFFFFF;
    z-index: 1;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
}

.s-switch:after {
    content: ' ';
    height: 21px;
    width: 21px;
    border-radius: 28px;
    z-index: 2;
    background: #FFFFFF;
    position: absolute;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    top: 1px;
    left: 3px;
    -webkit-box-shadow: 0 2px 5px #999999;
    box-shadow: 0 2px 5px #999999;
}

.s-switch-on, .s-switch-on:before{
    background: #4DAF48 !important;
}
.s-switch-on:after{
    left: 18px !important;
}
.s-switch-readonly, .s-switch-disabled{
    opacity: 0.8;
}


/* Design Changed for Chat box */
.chats {
    margin: -15px 0 0;
    padding: 15px;
}

.chats li.in .message {
    border-left: 0px;
    background: none;
}

.chats li .body {
    font-size: 14px;
    margin-bottom: 0px;
}

/* Design for adjustment in join disdcussion page*/
.adjust-left{
    margin-left:-10px;
}

.fa fa-comments{
    font-size: 200px;
}


@media (max-width:991px) and (min-width:320px) {

    .set-modal-content-share-links {
        width: 100%;
    }
    .set-col-md-4-share-facebook {
        display: grid;
         width: 100%;
        margin-bottom: 14px;
        padding: 0px;
    }

    .set-col-md-4-share-twitter {
        display: grid;
        margin-bottom: 14px;
        width: 100%;
        float: right;
        padding: 0px;
    }

    .set-col-md-4-share-wechat {
        display: grid;
        margin-bottom: 14px;
        width: 100%;
        padding:0px;
    }
    .set-col-md-4-share-wechat {
        display: grid;
        margin-bottom: 14px;
        width: 100%;
        padding:0px;
    }
    .set-col-md-4-share-email {
        display: grid;
        margin-bottom: 14px;
        width: 100%;
        padding:0px;
        float: none;
    }

    .set-icon-group-office-p{
        margin-bottom: 10px;
    }

    .set-projectTypeOffical{
        width:100%;
        text-align: center;
    }

    .set-col-12-officalpdesc{
        text-align: center !important;
        width:100%;
    }

    .set-col-3-offical-pro-left{
        width:100%;
    }

    .set-share-uppercase-officalp{
        float: none !important;
    }

    .highlight_gold {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 16%;
        left: 6%;
        border: 3px solid #fff;
        background-color: #f9d23f;
    }

    .highlight_brown {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 16%;
        left: 6%;
        border: 3px solid #fff;
        background-color: #946d46;
    }

    .highlight_silver {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 16%;
        left: 6%;
        border: 3px solid #fff;
        background-color: #C0C0C0;
    }

    .setPDIVONSCROLL{
        height:330px !important;
    }
    .skill-main .skill-div {
        /*overflow: scroll;*/
    }

    /*.setJDPAFDDM{*/
    /*position: relative;*/
    /*left:70px !important;*/
    /*min-width:230px;*/
    /*top:0px !important;*/
    /*}*/

    .setchat-room-memb-div{
        min-height: 330px !important;
        max-height: fit-content;
    }

    .setJDPortletBox {
        text-align: center;
    }

    .setJDPRDailyUpdate {
        margin-top: 11%;
    }

    .setJDLBCol3 {
        margin-top: 2%;
    }

    .setJDLLT {
        float: none !important;
        padding-right: 20px !important;
    }

    .setJDPBtnCol4 {
        float: none !important;
    }

    .setJDPCSkillDiv{
        display: inline-block !important;
        float:none !important;
    }

    .setJDPCSkillDiv > .item-skill{
        height: auto !important;
    }
}

@media (max-width:767px){
    .setJDPAFDDM {
        top: -20px !important;
        min-width: 230px;
    }
}

@media (max-width:736px)
{
    .set-tabs-li-jobDP {
        margin-right: 0px !important;
        width: 100%;
    }
}

@media (max-width:676px)
{
    .input-box-1 {
        height: 51px;
        width: 100%;
        border-radius: 0px;
        color:#3a4656;
        border: 2px solid #b5b9bd;
        font-size: 16px;
        padding-left: 46px;
        padding-top: 5px;
    }

    .input-box-2 {
        font-size: 16px;
        height: 51px;
        width: 100%;
        border-radius: 0px;
        color:#3a4656;
        border: 2px solid #b5b9bd;
        padding-left: 46px;
        padding-top: 5px;
    }
    .input-box-1:hover {
        border: 2px solid #57b029;
        height: 51px;
        width: 100%;
        border-radius: 0px;
        color:#3a4656;
        font-size: 16px;
        padding-left: 46px;
        padding-top: 5px;
    }
    .input-box-2:hover {
        border: 2px solid #57b029;
        height: 51px;
        width: 100%;
        border-radius: 0px;
        color:#3a4656;
        font-size: 16px;
        padding-left: 46px;
        padding-top: 5px;
    }

    .set-col-md-image-2 {
        position: absolute;
        top: 16px;
        background-repeat: no-repeat;
        background-image: url(/images/user_images.png);
        /* border-right: 1px solid #b5b9bd; */
        display: inline-block;
        left: 30px;
        /* z-index: 999999999999999999999999; */
        width: 29px;
        height: 17px;
    }

    .set-form-group-bottom-1 {
        margin-bottom: 18px;
        text-align: -webkit-center;
        text-align: -moz-center;
        margin-top: -25px;
    }
    .set-form-group-bottom-2 {
        margin-top: -25px;
        text-align: -webkit-center;
        text-align: -moz-center;
        margin-bottom: 40px;
    }

    .set-col-md-image-pass{
        position: absolute;
        top: 16px;
        background-repeat: no-repeat;
        background-image: url(/images/lock_images.png);
        /* border-right: 1px solid #b5b9bd; */
        left:30px;
        display: inline-block;
        width: 29px;
        height: 20px;
    }
    .set-col-md-image{
        position: absolute;
        top: 16px;
        background-repeat: no-repeat;
        background-image: url(/images/user_images.png);
        /* border-right: 1px solid #b5b9bd; */
        display: inline-block;
        left: 30px;
        /* z-index: 999999999999999999999999; */
        width: 29px;
        height: 17px;
    }
    .set-col-md-image-pass-2 {
        position: absolute;
        top: 16px;
        background-repeat: no-repeat;
        background-image: url(/images/lock_images.png);
        /* border-right: 1px solid #b5b9bd; */
        left:30px;
        display: inline-block;
        width: 29px;
        height: 20px;
    }
}

@media (max-width:414px)
{
    .set-form-group-bottom-1{
        padding:0px
    }
    .set-form-group-bottom{
        padding: 0px;
    }
    .set-without-login-container{
        padding:0px;
    }
}

@media only screen and (max-width: 390px) {
    .btn-make-offer {
        margin-left: 15px;
    }

    .setJDPAFDDM {
        min-width: 230px;
        left: -208px !important;
    }
}
