.mobile-menu{
    display: block;
}
.menu nav{
    display: none;
}
.nav ul li a{
    border-bottom:1px solid #58af2a !important;
    padding: 5px 0px !important;
}
.nav ul li a:hover{
    border-bottom:1px solid #fff !important;
}
footer .social-icon > a:nth-of-type(1){
    margin-left: 0px;
}
footer img{
    width: 40px;
}
.footer-main .section-middal .right,
.footer-main .section-middal .mobile-app{
    overflow: hidden;
}
.footer-line{
    display: none;
}
.section.home-services{
    background-size: auto;
}
#modalAddUserStatus.modal{
    width: 90%;
    margin: auto;
}
#modalAddUserStatus.modal .modal-dialog{
    width: 100% !important;
    margin: auto !important; 
}
.user-status-modal .modal-content .pull-right{
    float: right !important;
}
.user-status-modal .modal-content #add-user-status-form .status-box{
    padding: 0px;
}

.footer-main{
    background: #333333;
}
.footer-main .section-top{
    border-bottom: 2px solid #434142;
    margin-top: 15px;
}
.footer-main .social-section h3,
.footer-main .link h3{
    color: #fff;
    font-weight: 600;
    letter-spacing: 0px;    
    text-transform: none;
}
.footer-main .link ul li a{
    color: #fff;
    letter-spacing: 0px;    
    line-height: 0px;
}

.footer-main .social-section{
    /*border-left: 2px solid #434142;*/
}
.footer-main .social-section .social-icon{
    overflow: hidden;
    padding: 15px;
}
.footer-main .social-section .social-icons{
    background: #69B2E5;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
    margin-right: 30px;
    line-height: 40px;
    color: #333333;
    transform: rotate(45deg);
}
.footer-main .social-section .social-icons i{
    transform: rotate(-45deg);
    font-size: 26px;
}
.footer-main .barcode-section{
    padding: 35px 0px;
    text-align: center;
    width: 80%;
}
.footer-main .barcode-section img{
    width: 105px;
    height: 105px;
}
.footer-main .section-middal .left{
    padding:30px 15px;
}
.footer-main .section-middal .left img{
    width: 70px;
}
.footer-main .section-middal .left h1{
    color: #fff;
    margin:0px;
    letter-spacing: 0px;    
    text-transform: none;
    font-size: 26px;
    margin-bottom: -5px;
    
}
.footer-main .section-middal .left span{
    color: #69B2E5;
    letter-spacing: 0px; 
    font-size: 16px;
}
.footer-main .section-middal .right{
    padding:30px 15px;
    /*border-left: 2px solid #434142;*/
}
.footer-main .section-middal .right h3{
    color: #fff; 
    font-weight: 600;
    letter-spacing: 0px;    
    text-transform: none;
    margin-top: 5px;
}
.footer-main .section-middal .mobile-app{
    padding:5px 0px;
}
.footer-main .section-middal .mobile-app img{
    float: left;
    width: 50px;
}
.footer-main .section-middal .mobile-app div{
    float: left;
    width: 70%;
    color: #fff;
}
.footer-main .section-middal .mobile-app div h3{
    padding: 0px;
    line-height: 0px;
    font-size: 18px;
}
.footer-main .section-middal .mobile-app div small{
    font-weight: normal;
    font-size: 10px;
}