#modalInviteToWork .modal-header{
    background-color: #f4f4f4;
}

#modalInviteToWork .modal-title{
    padding-top: 5px;
}

#modalInviteToWork button{
    background-color: #d7d7d7;
}

#modalInviteToWork .modal-body, #modalInviteToWork .modal-footer{
    background-color: #f7f7f7;
}

#modalInviteToWork .full-name{
    font-size: 26px;
    padding-top: 10px;
}

#modalInviteToWork .price{
    font-size: 16px;
    color: #5dba2c;
    padding-top: 15px;
}

#modalInviteToWork .job_position{
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    color: #57b029;
}

#modalInviteToWork .fa.fa-check-circle{
    color: green;
    position: absolute;
    margin-top: -20px;
    margin-left: 70px;
}

#modalInviteToWork #slcProjectId{
    background-color: #ffffff;
}

#modalInviteToWork label {
    color: #666666;
    text-transform: uppercase;
}

#modalInviteToWork button {
    font-weight: 200;
}

#modalInviteToWork .create-project{
    color: #57b029;
    font-weight: 600;
}