
#modalSetContactInfo .modal-content
{
    width:598px;
    height:300px;
}

#modalMakeOffer .modal-footer{
    background-color: #F7F7F7;
}

#modalSetContactInfo .modal-body{
    padding-top: 0px;
    padding-bottom: 0px;
}

#modalSetContactInfo .modal-footer{
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#modalSetContactInfo .modal-footer hr{
    margin-top: 0px;
}

#modalSetContactInfo .modal-content{
    border-radius: 2px !important;
}

#modalSetContactInfo .modal-header{
    background: #FCFCFC !important;
    padding:14px 5px 0px 16px !important;
    border-radius: 5px 5px 0px 0px;
}

#modalSetContactInfo .modal-header h4{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-family: "Raleway",Sans-Serif !important;
    font-size:14px;
    text-align: left;
}

html:lang(cn) #modalSetContactInfo .modal-header h4{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-family: "Noto Sans CJK JP bold" !important;
    font-size:14px;
    text-align: left;
}


/*#modalSetContactInfo .modal-header .btn{*/
    /*border: 1px solid #d9d9d9 !important;*/
    /*background: #fff !important;*/
    /*color: #BDBDBD !important;*/
    /*padding: 5px;*/
    /*border-radius: 3px;*/
/*}*/

#modalSetContactInfo .modal-body{
    padding: 15px 30px !important;
    border-radius: 0px 0px 5px 5px;
}

#modalSetContactInfo .modal-body .btn-submit{
    background: #58af2a none repeat scroll 0 0;
    border: 1px solid #58af2a !important;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-transform: none;
}

#modalSetContactInfo .modal-body .form-group label{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
}

#modalSetContactInfo .modal-body .form-control{
    border: 1px solid #e0e8ea;
    height: 45px;
    text-align: left;
    /*font-style: italic;*/
}

.setSEtCIFG{
    margin-bottom: 20px;
    margin-top: -9px;
    text-align: left;
}


/*toggle switch 2*/
.switch2 {
    position: absolute;
    transform: translate(310%,1%);
    top: 19%;
    z-index: 9999;
}
.toggle-btn-2{
    width:48px;
    height:28px;
    background: lightgray;
    border-radius: 30px;
    padding:2px 2px;
}

.toggle-btn-2 > .inner-circle-2{
    width:25px;
    height:24px;
    background:#fff;
    border-radius: 50%;

}

.toggle-btn-2.activee2{
    background: #57b029;
}

.toggle-btn-2.activee2 > .inner-circle-2{
    margin-left:19px;
}
/*end toggle switch 2*/

/*toogle 1*/
.switch1 {
    position: absolute;
    transform: translate(310%,1%);
    top: 19%;
    z-index: 9999;
}
.toggle-btn{
    width:48px;
    height:28px;
    background: lightgray;
    border-radius: 30px;
    padding:2px 2px;
}

.toggle-btn > .inner-circle{
    width:25px;
    height:24px;
    background:#fff;
    border-radius: 50%;

}

.toggle-btn.activee{
    background: #57b029;
}

.toggle-btn.activee > .inner-circle{
    margin-left:19px;
}
/*end toggle 1*/

/*toggle switch 3*/
.switch3 {
    position: absolute;
    transform: translate(310%,1%);
    top: 19%;
    z-index: 9999;
}
.toggle-btn-3{
    width:48px;
    height:28px;
    background: lightgray;
    border-radius: 30px;
    padding:2px 2px;
}

.toggle-btn-3 > .inner-circle-3{
    width:25px;
    height:24px;
    background:#fff;
    border-radius: 50%;

}

.toggle-btn-3.activee3{
    background: #57b029;
}

.toggle-btn-3.activee3 > .inner-circle-3{
    margin-left:19px;
}
/*end toggle switch 3*/

/*toggle switch 2*/
.switch4 {
    position: absolute;
    transform: translate(310%,1%);
    top: 19%;
    z-index: 9999;
}
.toggle-btn-4{
    width:48px;
    height:28px;
    background: lightgray;
    border-radius: 30px;
    padding:2px 2px;
}

.toggle-btn-4 > .inner-circle-4{
    width:25px;
    height:24px;
    background:#fff;
    border-radius: 50%;

}

.toggle-btn-4.activee4{
    background: #57b029;
}

.toggle-btn-4.activee4 > .inner-circle-4{
    margin-left:19px;
}
/*end toggle switch 2*/


#modalSetContactInfo .modal-body textarea{
    height: 185px !important;
}

#modalSetContactInfo .modal-body .content-group img{
    width: 25px;
    height: auto !important;
}

#modalSetContactInfo .modal-body .content-group .input-group-addon{
    min-width: 50px;
    background: #F7F7F7;
    border-color: #e0e8ea;
}

.input-group-addon{
    padding:unset;
}

#modalSetContactInfo .modal-title {
    padding-top: 14px;
}
#modalSetContactInfo h4 {
    font-size: 18px;
}

#modalSetContactInfo button {
    font-weight: 200;
}
#modalSetContactInfo button {
    background-color: #d7d7d7;
    font-size: 18px;
    font-weight: bold;
    /*height: 30px !important;*/
    padding: 3px 13px !important;
    margin-bottom: 10px;
    right:10px;
}


/********************
* switch
********************/
/*.bootstrap-switch{*/
    /*height: 45px;*/
/*}*/

/*.bootstrap-switch-container{*/
    /*height: 43px;*/
/*}*/

/*.bootstrap-switch-handle-on, .bootstrap-switch-handle-off{*/
    /*padding-top: 10px !important;*/
/*}*/

/*.bootstrap-switch-handle-on.bootstrap-switch-green,*/
/*.bootstrap-switch-handle-off.bootstrap-switch-green{*/
    /*color: #fcfcfc;*/
    /*background: #57b029;*/
/*}*/

/*.bootstrap-switch .bootstrap-switch-label{*/
    /*padding: 10px 12px;*/
/*}*/

/********************
* modal error message
********************/

.alert-danger{
    background-color: #fcfcfc;
    border-radius: 3px;
    border: solid 1px #ffbebe;
}

#model-alert-container .close
{
    background-image: none !important;
}

@media (max-width:991px){
    .setInputGroupMSCI{
        width:100%;
    }
    #modalSetContactInfo .modal-content {
        width: 100%;
        height: 100%;
    }
    .switch1 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 30%;
    }
    .switch2 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 30%;
    }
    .switch3 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 30%;
    }
    .switch4 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 30%;
    }
    .setSEtCIFG{
        width:100%;
        text-align: center;
    }
    #modalSetContactInfo .modal-header h4 {
        color: #676767;
        text-transform: uppercase;
        font-weight: 600 !important;
        font-family: "Raleway",Sans-Serif !important;
        font-size: 14px;
        text-align: left;
    }
    #modalSetContactInfo button {
        background-color: #d7d7d7;
        font-size: 18px;
        font-weight: bold;
        height: 30px !important;
        padding: 3px 13px !important;
        margin-bottom: 10px;
        position: absolute;
        width: 46px !important;
        margin-top: -3px;
    }
}

@media (max-width:596px)
{
    .switch1 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 35%;
    }
    .switch2 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 35%;
    }
    .switch3 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 35%;
    }
    .switch4 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 35%;
    }
}

@media (max-width:596px)
{
    .switch1 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 45%;
    }
    .switch2 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 45%;
    }
    .switch3 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 45%;
    }
    .switch4 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 45%;
    }
}

@media (max-width:422px)
{
    .switch1 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 55%;
    }
    .switch2 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 55%;
    }
    .switch3 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 55%;
    }
    .switch4 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 55%;
    }
}


@media (max-width:422px)
{
    .switch1 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 65%;
    }
    .switch2 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 65%;
    }
    .switch3 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 65%;
    }
    .switch4 {
        position: absolute;
        transform: translate(309%,1%);
        top: 19%;
        z-index: 9999;
        right: 65%;
    }
}