#privateMessage .user-img img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#privateMessage .user-detail h5 {
    color: #58AF2A;
    margin: 3px 0px 2px 0px;
}

#privateMessage .user-detail span {
    color: #C3C3C3;
    font-size: 12px;
    font-style: italic;
}

#privateMessage .user-detail p {
    margin: 0px;
    margin-top: 0px;
    color: #808080;
    margin-top: 10px;
}

#privateMessage .message-section {
    margin-top: 30px;
}

#btnSubmit{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-size: 14px;
    border-radius: 6px;
}

.modal .btn-default
{
    color: #000;
    border-color: #e6e6e6;
    font-size: 14px;
    border-radius: 6px;
    background-color: #e6e6e6;
}