#modalSendOffer .modal-content  {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

#modalSendOffer .modal-header{
    background-color: #f4f4f4;

    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;

    -moz-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.setRESUMEPAGERETIMA{
    margin-left: 0px !important;
}

#modalSendOffer .modal-footer{
    background-color: #f4f4f4;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#modalSendOffer .modal-title{
    padding-top: 5px;
}

#modalSendOffer button{
    background-color: #d7d7d7;
}

#modalSendOffer .modal-body, #modalSendOffer .modal-footer{
    background-color: #f7f7f7;
}

#modalSendOffer #slcProjectId{
    background-color: #ffffff;
    color: #57b029;
    font-weight: bold;
}

#modalSendOffer .amount {
    width: 50%;
    color: #57b029;
    font-weight: bold;
}

#modalSendOffer label {
    color: #666666;
    text-transform: uppercase;
}

#modalSendOffer .radio-labe1{
    padding-left: 10px;
    font-weight: bold;
}

#modalSendOffer .description{
    padding-left: 40px;
}

#modalSendOffer button {
    font-weight: 200;
}

#modalSendOffer .create-project{
    color: #57b029;
    font-weight: 600;
}

#modalSendOffer .cancel{
    color: #57b029;
    font-weight: bold;
    padding-left: 80px;
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    color: #666;
    font-weight: normal;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 3px;
    right: 0px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    border: 2.5px solid #57b029;
    background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: 10px;
    content: " ";
    display: block;
    background: #57b029;
}

@media (max-width:991px)
{
    #modalSendOffer .cancel {
        color: #57b029;
        font-weight: bold;
        padding-left: 55px;
    }
}