#modelAddNewSkillKeyword .modal-content
{
    padding: 15px;
}

#modelAddNewSkillKeyword .modal-header
{
    border-bottom: 1px solid #ffffff;
}

#modelAddNewSkillKeyword .modal-footer
{
    text-align: center;
    border-top: 1px solid #ffffff;
}

#modelAddNewSkillKeyword .btn
{
    font-size: 14px;
    border-radius: 6px;
}

#modelAddNewSkillKeyword input.form-contro
{
    border-color: #EFEFEF;
}

#modelAddNewSkillKeyword .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#modelAddNewSkillKeyword input.form-control:focus,
#modelAddNewSkillKeyword input.form-control:hover {
    border-color: #64B12B !important;
}

#modelAddNewSkillKeyword .modal-header .close
{
    opacity: unset;
    margin-top: 20px;
    color: #57b029;
    width: 20px;
    height: 20px;
    background-image: url("../../../images/20X20_icon_close_green.gif") !important;
}

#btn-submit-new-skill-keyword
{
    padding: 10px 150px;
}