#modalMakeOffer .modal-footer{
    background-color: #F7F7F7;
}

#modalMakeOffer .modal-body{
    padding-top: 0px;
    padding-bottom: 0px;
}

.setspantimesclose{
    font-size: 18px;
    line-height: 14px;
    font-weight: bold;
    display: grid;
}

#modalMakeOffer .modal-footer{
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#modalMakeOffer .modal-footer hr{
    margin-top: 0px;
}

.apply-job-modal .modal-content{
    border-radius: 5px !important;
}

.apply-job-modal .modal-header{
    background: #FCFCFC !important;
    padding: 15px 30px !important;
    border-radius: 5px 5px 0px 0px;
}

.apply-job-modal .modal-header h4{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.apply-job-modal .modal-header .btn{
    border: 1px solid #d9d9d9 !important;
    background: #fff !important;
    color: #BDBDBD !important;
    padding: 5px;
    border-radius: 3px;
}

.apply-job-modal .modal-body{
    padding: 15px 30px !important;
    background: #F7F7F7 !important;
    border-radius: 0px 0px 5px 5px;
}

.apply-job-modal .modal-body .btn-submit{
    background: #58af2a none repeat scroll 0 0;
    border: 1px solid #58af2a !important;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-transform: none;
}

.apply-job-modal .modal-body .form-group label{
    color: #676767;
    text-transform: uppercase;
    font-weight: 600 !important;
}

.apply-job-modal .modal-body .form-control{
    border: 1px solid #e0e8ea;
    height: 45px;
    /*font-style: italic;*/
}

.apply-job-modal .modal-body textarea{
    height: 185px !important;
}

.apply-job-modal .modal-body .content-group img{
    width: 25px;
    height: auto !important;
}

.apply-job-modal .modal-body .content-group .input-group-addon{
    min-width: 50px;
    background: #F7F7F7;
    border-color: #e0e8ea;
}

.input-group-addon{
    padding:unset;
}
/********************
* switch
********************/

.bootstrap-switch{
    height: 45px;
    margin-left: 16px;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: #337ab7;
    width: 35px !important;
    height: 45px;
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 0;
    width: 45px;
}

.bootstrap-switch-container{
    height: 45px;
}

.bootstrap-switch-handle-on, .bootstrap-switch-handle-off{
    padding-top: 10px !important;
}

.bootstrap-switch-handle-on.bootstrap-switch-green, .bootstrap-switch-handle-off.bootstrap-switch-green {
    color: #fcfcfc;
    background: #57b029;
    height: 47px;
    padding: 10px 4px 6px 3px !important;
    width:95px !important;
}

.bootstrap-switch .bootstrap-switch-label{
    padding: 10px 12px;
}

/********************
* modal error message
********************/

.alert-danger{
    background-color: #fcfcfc;
    border-radius: 100px;
    border: solid 1px #ffbebe;
}

#model-alert-container .close
{
    background-image: none !important;
}