#modalSetUsername .modal-content  {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

#modalSetUsername .modal-header{
    background-color: #f4f4f4;

    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;

    -moz-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#modalSetUsername .modal-footer{
    background-color: #f4f4f4;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;

    -moz-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#modalSetUsername .modal-title{
    padding-top: 5px;
}

#modalSetUsername button{
    background-color: #d7d7d7;
}

#modalSetUsername .modal-body, #modalSetUsername .modal-footer{
    background-color: #f7f7f7;
}

#modalSetUsername label {
    color: #666666;
    text-transform: uppercase;
}

#modalSetUsername .radio-labe1{
    padding-left: 10px;
    font-weight: bold;
}

#modalSetUsername .description{
    padding-left: 40px;
}

#modalSetUsername button {
    font-weight: 200;
}

#modalSetUsername .create-project{
    color: #57b029;
    font-weight: 600;
}

#modalSetUsername .cancel{
    color: #57b029;
    font-weight: bold;
    padding-left: 80px;
}

#modalSetUsername h4 {
    font-size: 18px;
}