/********************
* modal error message
********************/

.alert-danger{
    background-color: #fcfcfc;
    border-radius: 100px;
    border: solid 1px #ffbebe;
}

#model-alert-container .close
{
    background-image: none !important;
}

#modalUserMakeOfferDetail .send-message-sect
{
    padding-left: 50px;
    margin-top: 8px;
    position: absolute;
}

#modalUserMakeOfferDetail .btn-thumb
{
    padding: 8px 12px;
    font-size: 20px;
    color: #ababab;
    background-color: #ffffff;
    border: 1px solid #ababab;
    border-radius: 5px;
    margin: 0px 4px;
    box-shadow: none !important;
    border-width: 1px !important;
}

#modalUserMakeOfferDetail .btn-thumb.active
{
    background-color: #57b029;
    color: #ffffff;
    border: 1px solid #57b029;
}

#modalUserMakeOfferDetail .title
{
    font-size: 12px;
}

#modalUserMakeOfferDetail .definition
{
    font-size: 20px;
}

/*************************
*   User Make Offer Detail
**************************/
#modalUserMakeOfferDetail .modal-header {
    background-color: #f4f4f4;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

#modalUserMakeOfferDetail .modal-header button {
    background-color: #d7d7d7;
}

#modalUserMakeOfferDetail .modal-title {
    padding-top: 5px;
}

#modalUserMakeOfferDetail .contact-info,
#modalUserMakeOfferDetail .questions-info{
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #efefef;
}

#modalUserMakeOfferDetail .questions-info{
    padding: 20px;
}

#modalUserMakeOfferDetail .contact-info-item {
    padding-top: 10px;
}

#modalUserMakeOfferDetail .contact-info-item span {
    padding-left: 20px;
}

#modalUserMakeOfferDetail .btn-reject {
    margin-right: 10px;
    background: #fff none repeat scroll 0 0;
    border: 2px solid #57b029 !important;
    border-radius: 3px;
    box-shadow: 0 0;
    color: #57b029;
    font-weight: bold;
    padding: 5px 10px !important;
    text-transform: none;
}

#modalUserMakeOfferDetail .btn-award {
    background: #57b029 none repeat scroll 0 0;
    border: 2px solid #57b029 !important;
    border-radius: 3px;
    box-shadow: 0 0;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px !important;
    text-transform: none;
    margin-right: 10px;
}

#modalUserMakeOfferDetail .modal-footer {
    padding: 40px;
}

#modalUserMakeOfferDetail span.full-name {
    font-size: 16px;
}

#modalUserMakeOfferDetail span.full-name i {
    color: #57b029;
    font-size: 12px;
    position: absolute;
    margin-top: -2px;
}

#modalUserMakeOfferDetail span.job_position {
    color: #a3a3a3;
    font-size: 12px;
}

#modalUserMakeOfferDetail .div-price {
    font-size: 16px;
}

#modalUserMakeOfferDetail .price {
    color: #57b029 !important;
}

#modalUserMakeOfferDetail .answer-sect{
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

.question-div,.answer-div {
    padding: 10px 0px
}

.btn-thumbs-color {
    margin-right: 5px;
    border-radius: 3px;
    background: #58AF2A;
    border: 1px solid #58AF2A !important;
    color: #fff;
    padding: 0px;
    height: 32px;
    width: 45px;
    font-size: 18px;
}

.btn-thumbs-default {
    background: #fff;
    padding: 0px;
    height: 32px;
    width: 45px;
    color: #ABABAB;
    border-radius: 3px;
    border: 1px solid #ABABAB !important;
    font-size: 18px;
    margin-right: 5px;
}