.portlet{
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.03) !important;
}
.balance{
    font-size: 40px;
    font-weight: 900 !important;
}

.action{
    padding-top: 15px;
}

.action .btn{
    margin-right: 5px;
}

.gongshang{
    background-color: #c54956;
}

.jianshe{
    background-color: #5a6cb6;
}

.nongye{
    background-color: #34aa96;
}

.add-new{
    background-color: #f5f5f5;
    color: #000000;
}

.account{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}

.account-no{
    font-size: 30px;
}

.div-action{
    padding-top: 5px;
}

.div-action a:hover{
    text-decoration: none;
}

/*
* Custom Add New Account Modal
*/
.modal-footer{
    background-color: #f5f5f5;
}

.help-block{
    color: #327ad5;
    font-size: 25px;
}

/*New Style*/
.bank-info{
    margin: 0px;
}
.bank-info-top{
    border-bottom: 1px solid #bebebe;
    padding: 5px 5px 15px 5px;
}
.title-custom{
    margin: 0px;
    color: #737373;
    font-weight: 500;
}
.bank-info-top .total{
    font-size: 30px;
    font-weight: 600;
    color: #57B12D;
}
.bank-info-body{
    padding: 0px;
    margin: 15px 0px;
}
.bank-info-body .count-info{
    width: 20%;
    float: left;
    text-align: center;
    border-right: 1px solid #bebebe;

}
.bank-info-body .count-info:last-child{
    border-right: 0px solid #bebebe;
}
.bank-info-body .count-info span{
    color: #999999;
}
.bank-info-body .count-info h4{
    margin: 0px;
    color: #737373;
    font-weight: 600;
    font-size: 20px;
    margin: 3px 0px;
}
.payment-options{
    margin: 0px;
    padding: 0px 5px;
}
.payment-option-box{
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.03);
    background: #fff;
    border-radius: 10px;
}
.title-sm{
    margin: 15px 0px;
    color: #737373;
}
.title-sm i{
    color: #58AF2A;
    margin-right: 5px;
}

.payment-option-des{
    /*margin:0px;*/
}
.payment-option-des .top {
    border-bottom: 5px solid #F7F7F7;
    padding: 15px;
}
.payment-option-des .top h4{
    margin:0px;
    text-transform: uppercase;
    color: #707070;
    font-weight: 600;
}
.payment-option-des .body{
    padding: 20px 15px;
}
.payment-option-des .body span{
    color: #707070;
}
.payment-option-des .body p{
    margin:0px;
    color: #707070;
    font-weight: 600;
    font-size: 18px;
}
.payment-option-des .footer{
    padding: 15px;
    color: #555;
    font-style: italic;
}
.payment-option-des .footer .verified{
    color: #58AF2A;
    font-size: 20px;
    position: relative;
    top: 2px;
}
.payment-option-des .footer .peinding{
    color: #A6A6A6;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.payment-option-des .footer .right-icon{
    float: right;
    color: #A6A6A6;
    font-size: 28px;
}

.payment-option-add {
    text-align: center;
    padding: 63px 0px;
}
.payment-option-add a{
    color: #707070;
    font-size: 20px;
}
.payment-option-add a i{
    color: #A6A6A6;
}
.payment-option-add p{
    margin: 0px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    font-style: italic;
}

.earning-list{
    margin-top: 30px;
    padding: 0px 15px;
}
.earning-list-top{
    padding: 15px 0px;
}
.earning-list-top .text{
    color: #808080;
    font-size: 16px;
    font-weight: 600;
}
.earning-list-top .number{
    color: #58AF2A;
    margin-left: 5px;
}
.custom-days-selectbox{
    float: right;
    width: 150px;
    background: #fff;
    margin: -5px 30px 0px 0px;
}
.custom-days-selectbox .form-control{
    font-weight: normal;
}
.find-experts-pagination{
    padding: 0px;
    margin: 0px;
}
.earning-list-body{
    padding: 20px 15px 15px 15px;
    background-color: #fff;
}
.earning-list-main{
    margin: 0px;
    border-bottom: 1px solid #BEBEBE;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.earning-list-main:last-child{
    border-bottom: 0px solid #BEBEBE;
    margin-bottom: 0px;
}
.earning-list-title{
    padding: 0px
}
.earning-list-title h4{
    color: #58AF2A;
    font-weight: 600;
    margin: 0px;
}
.earning-list-title small{
    color: #707070;
    font-style: italic;
}
.earning-list-left{
    color: #707070;
    font-size: 15px;
}
.earning-list-left small{
    padding-left: 15px;
    font-style: italic;
}
.earning-list-right{
    color: #707070;
    font-size: 15px;
    text-align: right;
}

.setROWPAYMENTBOXOPTIONADD{
    margin-left: -4px;
}
.setRPOB{
    margin-left: -4px;
}

.setRowCol12 {
    margin-top: 4.4%;
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setRowCol12 {
        margin-top: 2.7%;
    }
    .setPageContent {
        position: relative;
        top: 18px;
    }
}

@media (max-width:1318px)
{
    .setPageContent {
        position: relative;
        top: 1px;
    }
}


.setROWPAYMENTOPTION{
    padding:14px !important;
}

@media (max-width:1029px)
{
    #modalDialoge {
        width: 45%;
    }
    .setRECEIVP{
        margin-left:36%;
    }
}


@media (max-width: 991px) and (min-width:320px)
{
    #modalDialoge {
        width: 95%;
    }
    .setCol9MAP{
        margin-top:5%;
        text-align: -webkit-center;
    }
    .setRECEIVP{
        margin-left: 0% !important;
    }
    .setMAinMENU{
        display: none;
    }
    .setBTNIPOFMA{
        width:100% !important;
        margin:2px;
    }
    .bank-info-top {
        text-align: -webkit-center;
        padding: 5px 5px 150px 20px;
    }
    .setROWPAYMENTBOXOPTIONADD{
        margin-top: 10px;
        margin-right: 0px !important;
    }
    .setRPOB{
        margin-top: 10px;
        margin-right: 0px !important;
    }
    .setROWPAYMENTBODY{
        text-align: -webkit-center;
    }
    .setBTNIOMA {
        margin-top: 10px;
        width:100%;
    }
    .setFAFA{
        float:none !important;
    }
}

@media (max-width:568px) and (min-width:440px)
{
    .bank-info-top {
        padding: 5px 5px 145px 27px;
    }
    .setPLB{
        height:331px;
    }
    .bank-info-body {
        height: 67px;
        overflow: scroll;
    }
    .bank-info-body .count-info span {
        color: #999999;
        font-size: x-small;
    }
}

@media (max-width:698px) and (min-width:420px)
{
    .earning-list-body {
        padding: 20px 15px 15px 15px;
        background-color: #fff;
        margin-top: 10%;
    }
    .custom-days-selectbox {
        float: right;
        width: 150px;
        background: #fff;
        margin: 4px 30px 0px 0px;
    }
}

@media (max-width:419px) and (min-width:368px)
{
    .custom-days-selectbox {
        float: right;
        width: 150px;
        background: #fff;
        margin: 4px 30px 0px 0px;
    }

    .earning-list-body {
        margin-top: 22%;
    }
}

@media (max-width:367px) and (min-width:338px)
{
    .custom-days-selectbox {
        float: right;
        width: 150px;
        background: #fff;
        margin: 10px 30px 0px 0px;
    }
    .earning-list-body {
        margin-top: 30%;
    }
}

@media (max-width:337px) and (min-width:320px)
{
    .custom-days-selectbox {
        float: right;
        width: 150px;
        background: #fff;
        margin: 10px 30px 0px 0px;
    }
    .earning-list-body {
        margin-top: 45%;
    }
}

@media (max-width:439px) and (min-width:320px)
{
    .bank-info-top {
        padding: 5px 5px 145px 26px;
    }
    .setPLB{
        height:400px;
    }
    .bank-info-body {
        height: 100px;
        overflow: scroll;
        width: 100% !important;
    }
    .bank-info-body .count-info {
        float:none !important;
        width: 100% !important;
        text-align: center;
        border-right: 1px solid #bebebe;
    }
}

@media (max-width:360px) and (min-width:320px)
{
    .payment-option-des .body .setPP{
        margin: 0px;
        color: #707070;
        font-weight: 600;
        font-size: 14px;
    }
}
