.setMYCHATFPAGESC{
    height:525px;
}
.setMCPAGETCFG{
    margin-top:10px;
}
.chats li.in .message .arrow {
    left: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid #f5f5f5;
}

.setCHATPSCROLLER{
    height:525px;
}

.setCHPAGEEMC{
    color:#ff0000;
}

.chats li.in .message {
    text-align: left;
    border-left: 2px solid #f5f5f5;
    margin-left: 65px;
    background: #f5f5f5;
    color: #555555;
}

.chats li.out .message .arrow {
    right: -8px;
    border-left: 8px solid #659be0;
}

.chats li.out .message {
    border-right: 2px solid #659be0;
    margin-right: 65px;
    background: #659be0;
    text-align: right;
    color: #ffffff;
}

.chats li.in .datetime {
    color: #cccccc;
    padding-left: 65px;
    font-size: 11px;
}

.chats li.out .datetime {
    color: #cccccc;
    margin-right: 65px;
    font-size: 11px;
}

.chats li.in .div-datetime {
    text-align: left;
}

.chats li.out .div-datetime {
    text-align: right;
}

.chats li.in .name {
    color: #555555;
}

.chats li.out .name {
    color: #ffffff;
}

.upload-sound{
    font-size: 23px;
    background-color: #ffffff;
    margin-top: -35px;
    position: relative;
    float: right;
    width: 35px;
    padding-left: 5px;
    border: 1px solid #ddd;
}

.upload-picture{
    font-size: 23px;
    background-color: #ffffff;
    margin-top: -35px;
    position: relative;
    float: right;
    width: 44px;
    padding-left: 10px;
    margin-right: 34px;
    border: 1px solid #ddd;
    border-right: 0px solid #ddd;
    border-left: 0px solid #ddd;
}

.sound-icon{
    font-size: 30px;
}

.message.images{
    width: 35%;
}

.message.sound{
    width: 10%;
}

.message.images .body, .message.sound .body{
    text-align: center;
}

.chat-form .input-cont {
    margin-right: 119px;
}

#message{
    height: 35px;
}

.btn-cont .arrow{
    z-index: 100;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
    color: #aaa;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #eee;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}