.set-pagination-publish-order-page{
    margin-left: 26px;
    padding-right: 0px;
    padding-left: 7px
}

.no-record-yet{
    padding:100px;
    text-align: center;
}

.no-record-yet p{
    margin-bottom: 20px;
}

.order-status-menu{
    padding-top: 10px;
}

.order-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}

.order-status-menu li.active {
    border-bottom: 5px solid #008fd5;
}
.portlet.light {
    padding: 0;
}
.setRowCol12{
    margin-top:4.4%;
}
.setMPPPAGELABEL{
    background-color: #959595;
}

.setLABELTITIT {
    margin-left: 8px;
    position: relative !important;
    top: -2px;
}

/*
    Order info
*/
.portlet.box > .portlet-title{
    color: #000;
}

.gray-box{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.complete-time, .order-id{
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.column{
    padding-top: 10px;
    padding-left: 35px;
}

.new-order a:hover{
    text-decoration: none;
}

.link{
    padding-left: 10px;
    padding-right: 10px;
}

.location{
    color: #999999;
}

.delete-info{
    padding-top: 10px;
}

/*
    tailor info
*/
.tailor-profile{
    padding-top:10px;
    padding-left: 35px;
    padding-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.tailor-profile .gray-box{
    padding-top: 20px;
    padding-bottom: 20px;
}

.tailor-profile ul{
    padding: 0px;
    margin-top: 10px;
}

.tailor-profile li{
    display: inline;
    list-style: none;
    background-color: #659be0;
    color: #ffffff;
    padding: 5px;
}

.tailor-profile .profile-userpic img{
    width: 100px;
}

.gray01 {
    background-color: #c2cad8;
}

.btn.gray01:hover{
    background-color: #b8c0cd;
}

.link.details{
    padding-right: 15px;
}

/*Modal Evaluation Order*/
.modal-dialog.evaluation-order,
.modal-dialog.tailor-detail
{
    width: 1100px;
}

.modal-dialog .tailor-profile{
    padding-left: 0px;
}

.modal-dialog.evaluation-order .modal-footer,
.modal-dialog.tailor-detail .modal-footer
{
    text-align: center;
}

.btn-evaluation{
    padding-left: 100px;
    padding-right: 100px;
}

.user-info{
    padding-top: 5px;
}

.comment-tab{
    padding: 15px;
}

.btn-complain{
    background-color: #dae0e6;
}

.img-auth{
    float: none !important;
}
/*Rating*/
.rate-label{
    padding-top: 5px;
}

.rating-16 {
    font-size: 16px;
}

.rating-12 {
    font-size: 12px;
}

.star-caption{
    font-size: 12px;
    color: #ffb344;
    background-color: #fff;
    font-weight: 900;
}

.rating-container .caption{
    padding-top: 8px;
}

.rating-container .filled-stars{
    color: #ff9800;
}

/*Modal Tailor Detail*/
.modal-dialog .portlet-body{
    padding: 15px;
}

.div-ttl-comment{
    padding-top: 10px;
}
.ttl-comment{
    border-bottom: 5px solid #008fd5;
    padding-bottom: 15px;
}

.sect-choose,
.sect-user-comment{
    padding: 15px;
}

.hr-line{
    margin: 0;
}

.rate-value{
    font-size: 60px;
    color: #659be0;
    padding-left: 30px;
    font-weight: 900;
}

.ttl-eval, .no-vote{
    color: #659be0;
    font-weight: 900;
}

.sect-star02 .star{
    color: #cccccc;
}

.no-star{
    color: #959595;
}

.sect-star01 {
    padding-top: 20px;
}

.sect-star02,
.sect-rate-histogram{
    padding-top: 25px;
    padding-left: 30px;
}

/*Rating Histogram*/
.histo {
    float: left;
    width: 80%;
    font-size: 8px;
}

.histo-star {
    float: left;
}

.histo-rate {
    width: 100%;
    display: block;
    clear: both;
}

.bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
}

.bar {
    padding: 5px;
    display: block;
}

#bar-five {
    width: 0;
    background-color: #eff5fc;
}

#bar-four {
    width: 0;
    background-color: #e0ebf9;
}

#bar-three {
    width: 0;
    background-color: #c1d7f3;
}

#bar-two {
    width: 0;
    background-color: #a3c3ec;
}

#bar-one {
    width: 0;
    background-color: #659be0;
}

/*User Comment*/
.user-comment .user-rate td{
    padding-top: 10px;
}

.user-comment .order-id{
    text-align: center;
    padding-top: 10px;
}

.user-comment .post-datetime{
    text-align: right;
    padding-top: 10px;
}

.user-comment .profile-userpic img{
    width: 90%;
}

.user-comment p {
    line-height: 30px;
}

/*Modal Arrow*/
.right-arrow{
    /*margin-right: -40px;*/
    margin-right: -90px;
}

.left-arrow{
    margin-left: -30px;
}

.right-arrow a,
.left-arrow a{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
}

.profile-image.next-tailor{
    width: 50%;
    padding-top: 35px;
}
.right-top-main{
    margin-left: 20px;
}
.order-status-menu{
    padding-top: 0px;
    /*background: red;*/
}
.order-status-menu ul{
    margin-bottom: 19px !important;
}
.order-status-menu ul li {
    padding: 16px 0px !important;
}
.order-status-menu ul li a{
    color: #5a5a5a;
    padding: 20px 10px !important;
    font-size:16px !important;
}
.order-status-menu ul li.active a{
    color: #58AF2A;
    font-size:16px !important;
}
.order-status-menu li.active{
    border-bottom: 4px solid #58AF2A;
    text-decoration: none !important;
}
.top-tabs-menu{
    padding: 0px;
    border-bottom: 1px solid #e7ecf1;
}
.found-count-top{
    padding: 0px;
    margin: 20px 0px 15px 0px;
}
.found-count-top .custom-days-selectbox{
    float: right;
    width: 200px;
    margin: -5px 15px 0px 0px;
}
.custom-days-selectbox .form-control{
    font-weight: normal;
}
.find-experts-pagination{
    padding: 0px;
    margin: 0px;
}
.jobs-list .jobs-main-div{
    margin: 0px;
    border-bottom: 1px solid #BEBEBE;
    margin-bottom: 20px;
}
.jobs-list .jobs-main-div:last-child{
    border-bottom: 0px solid #BEBEBE;
    margin-bottom: 0px;
}
.jobs-main-div-title{
    padding: 0px
}
.jobs-main-div-body{
    padding: 0px;
    margin: 20px 0px;
    position: relative;
}
.project-name h4{
    color: #58AF2A;
    font-weight: 600;
    margin: 0px;
}

.project-count{
    float: right;
}
.project-count-sub{
    text-align: right;
    float: left;
    margin-left: 15px;
    color: #7a7a7a;
}
.project-count-sub span{
    font-size: 18px;
    color: #656565;
    line-height: 0px;
    font-family: sans-serif !important;
}
.project-type{
    float: left;
    margin-right: 15px;
    color: #7a7a7a;
}
.project-type span{
    color: #656565;
    font-weight: 600;
    padding-left: 5px;
}
.jobs-main-div-body .right{
    margin-top: 15px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 0px;
}

.jobs-main-div-body .job-in-width-user {
    margin-top: 15px;
    margin-left: 10px;
    border-right: 1px solid #c1c1c1;
    padding-right: 10px;
}
.jobs-main-div-body .job-in{
    float: left;
    color: #7a7a7a;
    line-height: 15px;
    position: relative;
}
.jobs-main-div-body .job-in i{
    font-size: 20px;
    position: absolute;
    left: -25px;
}
.jobs-main-div-body .posted-by{
    float: left;
    padding-left: 10px;
    color: #7a7a7a;
    font-style: italic;
}
.jobs-main-div-body .job-in-panding i{
    color: #BCBCBC;
}
.jobs-main-div-body .job-in-publish i{
    color: #F0E207;
}
.jobs-main-div-body .job-in-progress i{
    color: #58AE29;
}
.jobs-main-div-body .job-in-completed i{
    color: #2969B0;
}

.is_read .fa-circle{
    font-size: 8px;
    color: #58AE29;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}



@media (max-width:381px)
{
    .order-status-menu ul {
        margin-bottom: 19px !important;
        margin-left: -40px;
    }
    .order-status-menu ul li a {
        color: #5a5a5a;
        padding: 20px 6px !important;
    }
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setPageContent {
        width: 100%;
        position: relative;
        top: 9px;
    }

    .setRowCol12 {
        margin-top: 3%;
    }

    .setMAinMENU{
        position: relative;
        top:7px;
    }
}

#body-alert-container {
    display: none;
}

@media (max-width:1550px)
{
    .setPageContent {
        width: 100%;
        position: relative;
        top: 9px;
    }
}

@media (max-width:1318px)
{
    .setPageContent {
        width: 100%;
        position: relative;
        top: -7px;
    }
    .setMAinMENU{
        position: relative;
        top: -12px;
    }
    .set-paginationrow
    {
        position: relative;
        top: -12px;
    }
}


@media (max-width:1109px) and (min-width:992px)
{
    .set-paginationrow{
        margin:0px;
    }
    /*.setMPCol12{*/
        /*margin-left:32%;*/
        /*margin-bottom: 20px !important;*/
    /*}*/
    .setMPC{
        margin-left:20px;
    }
}

@media (max-width:991px) and (min-width:490px)
{
    .setMPCol12{
        display: flow-root;
        margin-bottom:20px !important;
        margin-top:5%;
    }
}

@media (max-width:482px) and (min-width:382px)
{
    .setMPCol12{
        margin-top:5%;
    }
    .setMPPOSMPR ul li a{
        font-size:small;
    }
    .setMPPOSMPR{
        height:60px !important;
        overflow: scroll;
        margin-right:20px;
    }
    .setMPPOSMPR ul li {
        display: -webkit-inline-box !important;
        margin-right: -5px;
        margin-top: -10px;
    }
}

@media (max-width:381px) and (min-width:320px)
{
    .setMPCol12{
        margin-top:5%;
    }
    .setMPPOSMPR ul li a{
        font-size:small;
    }
    .setMPPOSMPR{
        height:60px !important;
        overflow: scroll;
        margin-right:20px;
    }
    .setMPPOSMPR ul li {
        display: -webkit-inline-box !important;
        margin-right: -1px;
        margin-top: -10px;
    }
}

@media (max-width: 991px) and (min-width:320px)
{
    .set-paginationrow{
        margin-right:0px !important;
    }

    .setMAinMENU{
        display:none;
    }
}
