.order-status-menu{
    padding-top: 10px;
}

.order-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}

.order-status-menu li.active {
    border-bottom: 5px solid #008fd5;
}

/*
    Order info
*/
.portlet.box > .portlet-title{
    color: #000;
}

.gray-box{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.complete-time, .order-id{
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.column{
    padding-top: 10px;
    padding-left: 35px;
}

.new-order a:hover{
    text-decoration: none;
}

.link{
    padding-left: 10px;
    padding-right: 10px;
}

.location{
    color: #999999;
}

.delete-info{
    padding-top: 10px;
}


.top-tabs-menu{
    padding: 0px;
    border-bottom: 1px solid #e7ecf1;
}
.found-count-top{
    padding: 0px;
    margin: 20px 0px 20px 0px;
}
.found-count-top .custom-days-selectbox{
    float: right;
    width: 200px;
    margin: -2px 15px 0px 0px;
}
.custom-days-selectbox .form-control{
    font-weight: normal;
}
.find-experts-pagination{
    padding: 0px;
    margin: 0px;
}
.right-top-main{
    margin-left: 20px;
}
.order-status-menu{
    padding-top: 0px;
}
.order-status-menu ul{
    margin-bottom: 19px !important;
}
.order-status-menu ul li {
    padding: 16px 0px !important;
}
.order-status-menu ul li a{
    color: #5a5a5a;
    padding: 20px 10px !important;
}
.order-status-menu ul li.active a{
    color: #58AF2A;
}
.order-status-menu li.active{
    border-bottom: 4px solid #58AF2A;
}
.jobs-list .jobs-main-div{
    margin: 0px;
    border-bottom: 1px solid #BEBEBE;
    margin-bottom: 20px;
}
.jobs-list .jobs-main-div:last-child{
    border-bottom: 0px solid #BEBEBE;
    margin-bottom: 0px;
}
.jobs-main-div-title{
    padding: 0px
}
.jobs-main-div-body{
    padding: 0px;
    margin: 20px 0px;
}
.project-name h4{
    color: #58AF2A;
    font-weight: 600;
    margin: 0px;
    font-family: 'Raleway', sans-serif !important;
    float: left;
}

.project-name img {
    width: 25px;
    position: relative;
    top: -2px;
    left: 10px;
}

.jobs-main-div-img {
    width: 21%;
}

.jobs-main-div-img img {
    width: 145px;
    height: 145px;
    border-radius: 5px;
}

.jobs-main-div-img .shares {
    color: #656565;
    font-size: 13px;
    padding-top: 5px;
}

.jobs-main-div-img h2 {
    margin: 0px;
    color: #58af2a;
    line-height: 20px;
}


/*.project-count{
    float: right;
}
.project-count-sub{
    text-align: right;
    float: left;
    margin-left: 15px;
    color: #7a7a7a;
}
.project-count-sub span{
    font-size: 18px;
    color: #656565;
    line-height: 0px;
}*/
.project-type{
    float: left;
    margin-right: 15px;
    color: #7a7a7a;   
}
.project-type span{
    color: #656565;
    font-weight: 600;
    padding-left: 5px;
}
.jobs-main-div-body .right{
    margin-top: 15px;
}
.jobs-main-div-body .job-in{
    float: left;
    color: #7a7a7a;
    padding-right: 10px;
    line-height: 15px;
    position: relative;
    font-size: 16px;
}
.jobs-main-div-body .job-in i{
    font-size: 20px;
    position: absolute;
    left: -25px;
}

.jobs-main-div-rightc {
    position: relative;
    width: 79%;
    padding: 0px;
}

.jobs-main-div-rightc .posted-by {
    position: absolute;
    top: 0px;
    right: 15px;
}

.jobs-main-div-rightc .posted-by,
.jobs-main-div-title .posted-by{
    color: #7a7a7a;
    text-align: right;
    line-height: 15px;
}

.jobs-main-div-rightc .posted-by span,
.jobs-main-div-title .posted-by span {
    margin-right: 10px;
    line-height: 20px;
}

.jobs-main-div-rightc .posted-by p,
.jobs-main-div-title .posted-by p{
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}

.jobs-main-div-rightc .project-deta {
    color: #656565;
    font-size: 13px;
    padding: 10px 0px;
    margin: 0px;
    min-height: 50px;
}

.jobs-main-div-rightc .project-deta span {
    padding-right: 7px;
    line-height: 24px;
}

.jobs-main-div-rightc .position {
    color: #656565;
    border-right: 1px solid #c1c1c1;
}

.jobs-main-div-rightc .dificulty {
    color: #656565;
}

.jobs-main-div-rightc .dificulty i {
    padding-left: 5px;
    color: #BFBFBF;
}

.jobs-main-div-rightc .dificulty i.fill {
    color: #4C9D25;
}

.jobs-main-div-rightc .jobs-main-div-body {
    padding: 0px 15px;
}
.jobs-main-div-body .job-in-panding i{
    color: #BCBCBC;
}
.jobs-main-div-body .job-in-submitted i{
    color: #EFE415;
}
.jobs-main-div-body .job-in-publish i{
    color: #F0E207;
}
.jobs-main-div-body .job-in-progress i{
    color: #58AE29;
}
.jobs-main-div-body .job-in-completed i{
    color: #2969B0;
}

.is_read .fa-circle{
    font-size: 8px;
    color: #58AE29;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}