html:lang(cn) body, html:lang(cn) h1, html:lang(cn) h2, html:lang(cn) h3, html:lang(cn) h4, html:lang(cn) h5, html:lang(cn) h6, html:lang(cn) p, small, span html:lang(cn) .sub-heading, html:lang(cn) .label{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
html:lang(cn) .btn{
	font-family: 'Raleway', sans-serif !important;
}
.page-content-wrapper .page-content{
	margin: 0px;
	padding: 0px;
}
.portlet{
	padding: 0px !important;
	box-shadow: none !important; 
}

.invoice-main{
	margin:0px;
}
.right-main-part .span{
	color:#717171;
	position: relative;
	top:-7px;
	left:-17px;
	font-size:18px;
	font-weight:550;
}
.right-main-part h1{
	display:inline-block;
	font-weight:1000;
	color:#717171;
	margin:10px 0px 3px -10px;
}
.right-main-part h1 sup{
	position: relative;
	top:-18px;
	right:-6px;
	font-size: 20px;
	font-weight:600;
}
.right-main-part p{
	color:#717171;
	margin:0px 0px 0px -17px;
	font-weight:600;
	font-size:13px;
}
.right-main-part p .green{
	color:#61AF2C;
}
.header-right-btn{
	padding:18px 12px 18px 0px;
}
.header-right-btn .btn{
	padding:10px 40px;
	border-width: 2px !important;
	font-size: 14px;
}

.search-section{
	border-top:1px solid #E4E4E4;
	border-bottom:1px solid #E4E4E4;
	padding:15px 20px;
}
.table-section{
	padding:20px;
}
.bg-dark-table{
	background: #717171;
	color:#fff;
}
.table-section .table{
	border:1px solid #E4E4E4;
	border-collapse:unset;
	border-radius:5px 5px 0px 0px !important;
}
.setTransactionImage{
	width:30px;
	height:30px;
	position: relative;
	top: 60px;
}
.setTransactionspan{
	font-size: 12px;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	position: relative;
	top: 60px;
}
.settdtnh{
	height:200px;
}
.table-section .bg-dark-table th{
	font-size:20px;
	font-weight: normal;
	padding-top: 15px;
	padding-bottom: 15px;
	border:0px;
} 
.table-section .red-text{
	color:#EB6D52 !important;
}
.table-section .green-text{
	color:#61B02B !important;
	/*text-align: left;*/
	/*width: 200px;*/
}
.table-section .table tbody tr td{
	font-size:17px;
	padding-top:13px;
	padding-bottom:13px;
	color:#717171;
}
.table-section .table tbody tr td img{
	width:30px;
	margin:0px 10px 0px 0px;
	border-radius: 50%;
	height:30px;
}
.table-curved th:first-child {
    border-radius:5px 0 0 0 !important;
}	
.table-curved th:last-child {
    border-radius: 0 5px 0 0 !important;
}
.search-section .input-icon{
	width:22%;
	float:left;
}
.search-section .input-icon input{
	border-radius: 0px;
	border-width: 2px 1px 2px 1px !important;
}
.search-section .input-icon:first-child input{
	border-width: 2px 1px 2px 2px !important;
	border-radius: 5px 0px 0px 5px;
}
.search-section .calender-section{
	width:280px;
	border:none !important;
}
.search-section .box{
	padding:18px 0px 18px 28px;
}
.search-section .input-text{
	width:100px;
	float: left;
	color:#A9A9A9 !important;
	text-transform:capitalize;
}
.search-section input{
	width:100%;
	padding:7px 10px 10px 15px;
	border:2px solid #E4E4E4 !important;
	border-width: 2px 1px 2px 1px !important;
}
.select-btn{
	border:2px solid #E4E4E4 !important;
	border-width: 2px 2px 2px 1px !important;
	padding:10px 15px 9px 15px;
	background: #69B02D !important;
	border-radius: 0px 5px 5px 0px;
}

.search-text-box{
	float: left;
	width: 170px;
	border:2px solid #E4E4E4;
	border-width: 2px 1px 2px 1px;
	border-radius: 0px;
	font-size:13px;
	color:#A9A9A9;
	text-transform:capitalize;
	height: 40px !important;
}
.typeahead{
	width:280px !important;
	background-color: #fff !important;
    padding-left:30px !important;
} 
.tt-menu {
    width:280px;
    background-color: #fff;
    border:unset !important;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}
.tt-suggestion:hover {
    color: #f0f0f0;
    background-color: #0097cf;
}
.tt-suggestion p {
    margin: 0;
}
.search-section .auto-search-part{
	width:280px;
}
.calender-section{
	/*margin-left:130px;*/
}
.auto-search-part{
	margin-left:0px;
}
.auto-img-section{
	margin:5px 10px 5px -10px;
	width:30px;
}
.input-icon-part{
	top:5px;
	position: absolute;
}

.setImageTHDPAGE{
	width:30px !important;
	height:30px !important;
}

.setTDTBLETHP{
	display:flex;
}

@media (max-width:999px) and (min-width: 320px) {
	.setTD1THP{
		display:inline-block;
	}
	.setPLBODYTDPAGE{
		text-align: center;
	}
	.setTDTBLETHP{
		display:grid;
		text-align: -webkit-center;
		text-align: -moz-center;
	}
	.setTBLETHP{
		text-align:-webkit-center;
		text-align: -moz-center;
		text-align-last: center;
	}
	.setDOLLARTHP{
		position: relative !important;
		top: -18px !important;
		right: -6px !important;
		font-size: 20px !important;
		font-weight: 600 !important;
	}
	.setBTNBTNTHP{
		width:100% !important;
		margin:2px;
	}
	.setROWTHPCol12{
		width:100% !important;
	}
	.setRowCol6THP{
		display:contents;
	}
	.setBTNSS{
		width:100%;
	}
	.setCol12DIV{
		width:100% !important;
		margin-bottom:6px;
	}
	.setSMCSEC{
		width:100% !important;
		margin-bottom:6px;
	}
	.setSEARCHSECT input{
		width:100% !important;
	}
	.setSEARCHSECT{
		display:flex;
		float:none !important;
		width:100% !important;
		margin-bottom:6px;
	}
	.setCol12RowBTN{
		padding:10px 31px 33px 50px;
	}
	.setCol12RowDiv{
		text-align: center;
	}
	.setTABLETHPAGE{
		height:auto !important;
		overflow: scroll;
		text-align: center;
	}
}

@media (max-width:767px) and (min-width:320px)
{
	.setCol12RowBTN {
		padding: 10px 31px 100px 50px;
	}
}

@media (max-width:370px) and (min-width:320px)
{
	.setBTNBTNTHP{
		padding:10px 0px !important;
		font-size: 13px !important;
	}
}
