.btn-make-Offer:hover,
.btn-make-Offer{
	text-transform: uppercase;
	width: 160px;
}

.main-well-custom{
	margin-top: 30px;
}

.main-well-custom .tabbable-line > .nav-tabs{
	padding-left: 0px;
	border-width: 1px 1px 0px 1px;
}

.main-well-custom .tabbable-line > .nav-tabs > li{
	padding: 0px;
	border-right: 1px solid #e9e9e9;
	border-bottom: 0px !important;
}

.main-well-custom .tabbable-line > .nav-tabs .filter{
	color: #4C4C4C;
	text-transform: uppercase;
	font-weight: 600;
	float: right;
	padding: 13px 25px;
}

.main-well-custom .tabbable-line > .nav-tabs .filter i{
	margin-left: 10px;
	font-size: 18px;
}

.tabbable-line > .nav-tabs > li > a{
	border-bottom: 4px solid #fff;
	padding: 10px 35px;
}

.tabbable-line > .nav-tabs > li:hover > a{
	color: #58af2a;
	border-bottom: 4px solid #58af2a;
}

.tabbable-line > .nav-tabs > li.active > a{
	border-bottom: 4px solid #58af2a;
}

.page-container-bg-solid .tabbable-line > .tab-content{
	background: #fff;
	border: 1px solid #e9e9e9;
}

.main-well-custom .tabbable-line > .tab-content{
	padding: 15px 30px !important;
}

.filter-option{
	position: relative;
}
.filter-option h4{
	font-weight: 600;
	margin-bottom: 0px;
	text-transform: uppercase;
	color: #4C4C4C;
	font-size: 16px;
}
.filter-option ul{
	list-style: none;
	padding: 0px;
}
.filter-option ul li{}
.filter-option ul li a{
	display: block;
	color: #737373;
	font-size: 16px;
	padding-top: 15px;
}
.filter-option ul li.active a{
	font-weight: 600;
	color: #58AF2A;
}
.filter-option .search-selectbox{
	width: 230px;
	margin-top: 15px;
}
.filter-option .search-selectbox select{
	cursor: pointer !important;
}
.filter-option .add-filter-con{
	padding-top: 15px;
}
.filter-option .add-filter-con a{
	color: #58AF2A;
}
.filter-option .done{
	color: #58AF2A;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 0px;
}

.find-experts-search-title{
	font-weight: normal;
	font-size: 16px;
}
.found-count-top{
	padding: 10px 30px;
}
.found-count-top .number,
.found-count-top .text{
	font-weight: normal;
	font-size: 16px;
	font-style: italic;
	text-transform: uppercase;
}

.div-job-main{
	border-radius: 5px !important;
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.03) !important;
	margin-bottom: 25px;
}
.div-job-main:hover{
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.03) !important;
	border-radius: 5px !important;
}

.div-job-main .header-cantent{
	margin: 0px;
	min-height: 165px;
	position: relative;
}
.div-job-main .header-bg{
	padding: 0px;
	position: absolute;
}
.div-job-main .header-bg img{
	width: 100%;
	height: 165px;
	border-radius: 3px;
}

.div-job-mains .header-img img{
	margin-top: 15px;
	width: 132px;
	height: 132px;
}

.div-job-main .header-cantent-sub{
	padding: 30px 25px;

}

.div-job-main .header-cantent-sub img{
	float: left;
	margin-right: 15px;
}

.div-job-main .header-cantent-sub .job-title{
	float: left;
	color: #fff;
	text-transform: uppercase;
	margin: 0px;
	font-weight: bold;
}

.div-job-main .header-cantent-sub i{
	color: #fff;
	font-size: 24px;
	float: right;
	margin-right: 15px;
}

.div-job-main .header-cantent-sub .details{
	margin-top: 25px;
	text-transform: uppercase;
	color: #A0A29F;
}

.div-job-main .header-cantent-sub .details p{
	margin: 0px;
	line-height: 24px;
}

.div-job-main .header-cantent-sub .details p strong{
	color: #58af2a;
}

.div-job-main .body-cantent{
	margin: 0px;
	min-height: 150px;
	background: #fff;
	padding: 30px 0px;
}

.div-job-main .body-cantent .left{
	border-right: 1px solid #e2e2e2;
}

.div-job-main .body-cantent .left img{
	width: 90px;
	height: 90px;
	margin-top: 5px;
	margin-bottom: 45px;
}

.div-job-main .body-cantent .right .desc{
	color: #666666;
	margin: 0px;
	padding:0px 15px 25px 0px;
}

.div-job-mains .body-cantent .budget{
	margin-top: 15px;
	margin-bottom: 45px;
}

.div-job-main .body-cantent .budget span{
	font-weight: 600;
	color: #7B7B7B;
	letter-spacing: 1px;
}

.div-job-main .body-cantent .budget h3{
	font-weight: 600;
	color: #59af28;
	margin: 0px;
	padding: 3px 0px 5px 0px;
}

.div-job-main .body-cantent .budget .share{
	font-weight: normal;
	color: #D1D1D1;
}

.div-job-main .body-cantent .defficulty{
	color: #62B02A;
    padding: 0px;
}

.div-job-main .body-cantent .top-smoll{
    color: #808080 !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
}

.div-job-main .body-cantent .right img{
	max-height: 20px;
	float: left;
	margin-right: 5px;
}

.div-job-mains .body-cantent .right img{
	max-height: 25px;

}

.div-job-main .body-cantent .sub-con{
	margin-top: 5px;
}

.div-job-main .body-cantent .possition .sub-con span{
	color: #58AF2A;
	font-size: 12px;
}

.div-job-mains .body-cantent .possition .sub-con span{
	font-size: 14px !important;
}

.div-job-main .body-cantent .skill-div{
    /*display: inline;*/
    /*float: left;*/
    /*margin-top: 10px;*/
    margin-right: 5px;
}

.div-job-main .body-cantent .item-skill{
    /*background-color: #fff;*/
    /*border: 1px solid #dedede;*/
    /*color: #909090;*/
    display: inline;
    float: left;
    font-size: 14px !important;
    list-style: outside none none;
    margin: 0px 5px 5px 0;
    height: auto !important;
    padding: 4px 15px !important;
    border-radius: 25px;
}

.div-job-mains .left{
	border-width: 0px !important;
}

.div-job-mains .body-cantent .top-smoll{
	font-size: 16px !important;
}

.div-job-main .details{
    font-size: 11px;
}

button.close
{
    padding-left: 20px;
    margin-top: 6px;
}