.title{
    font-size: 16px;
    font-weight: bold;
}

.payment-status{
    font-size: 50px;
}

.img-status i{
    padding-top: 40px;
    font-size: 80px;
}

.success{
    color: #44b36a;
}

.fail{
    color: #eb4f38;
}

.info{
    padding: 10px 0;
}

.order-id{
    color: #ff8b33 ;
}

.action-link{
    padding-top: 40px;
}

.continue{
    padding-right: 100px;
}