.img-responsive{
    border-radius: 50%;
    width: 125px;
    display: inline-block;
    height: 125px;
    border: 1px solid #efefef;
}
.profile-profile-pic{
    text-align: center;
}
.user-name{
    font-size: 30px;
    font-weight: 500;
}
.fa-check-circle{
    position: absolute;
    color:#57b029;
}
.f-c-gray-3{
    font-style: italic;
    font-weight: 100;
    font-size: 12px !important;
}
.last-login-time{
    margin-bottom: 5px;
    bottom: 6px;
    position: relative;
}
.set-fa-fa-stars-getDetails-page{
    left:0px !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa.pull-right{
    margin-right: .3em;
    margin-left: 0px;
    font-size: 16px !important;
}
.rating-average {
    font-weight: bold;
}
.total-reviews {
    font-weight: normal;
}
.fa-heart-o {
    float: right;
    cursor:pointer;
}
.user-barcode-image img {
    height: 80px;
    object-fit: contain !important;
}
.user-barcode-image {
    min-height: 90px !important;
    display: flex;
    align-items: flex-end;
}
.btnInviteWork {
    width: 91%;
    font-size: 10px;
    background-color:#57b029;
    margin-bottom:10px;
}
.btnInviteWork:hover{
    background-color:#57b029 !important;
}
.btnAwardWork {
    width: 91%;
    font-size: 10px;
    background-color:#fff;
    color:#909090;
    border:1px solid #909090 !important;
}

.btnAwardWork:hover{
    background-color:#57b029;
    color:#fff;
    border:1px solid #57b029 !important;
}

.hrVr{
    border-left: 1px solid lightgray;
    min-height: 630px !important;
    position: relative;
    bottom: 15px;
}
.set-col-lg-1 {
    width: 4%;
    padding-right: 38px;
    padding-left: 30px;
}

.color-check {
    color:#676767;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

.languages-section {
    display: inline-flex;
    float: none !important;
}

.image-flag {
    object-fit: contain !important;
    display: block;
}

.pull-left {
    font-size: 10px;
    /*display: flex;*/
    align-items: center;
    padding-left: 10px;
}

.btnContactInfo {
    width: 91%;
    font-size: 10px;
    background-color:#fff;
    color:#909090;
    border:1px solid #909090 !important;
}

.desc-col-12-lg{
    padding-left:25px;
}

.skills-section{
    margin-bottom: 10px;
}
.addColorClass{
    font-size: 20px;
    display: inline-block;
    width: 165px;
    position: relative;
    top: 23px;
    left: 20px;
    text-align: left;
    color:#D0D0D0 !important;
}

.skill-col-12{
    padding-left:25px;
}

.similar-profiles .fa {
    color: #57b029;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: 14px;
    position: relative !important;
}
.setRCPCol4AI{
    width: 100%;
}

@media (max-width:1199px){
    .set-col-lg-7{
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .fa-heart-o{
        float: none;
    }
    .user-barcode-image{
        display:inline-block;
        margin-top:10px;
    }
    .set-barcode-col-lg-2{
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .set-col-lg-1{
        display: none;
    }
    .skill-col-12{
        margin-bottom: 30px;
        text-align: center;
    }
    .desc-resume-user-info{
        text-align: center;
    }
    .set-col-lg-2{
        text-align: center;
        margin-bottom: 30px;
    }
}
@media (max-width:991px) {
    .set-col-lg-1{
        display: none;
    }
    .set-col-lg-2{
        margin-top:20px;
        margin-bottom: 35px;
    }
    .set-similar-profiles{
        margin-top:10px;
    }
    .user-barcode-image{
        display:inline-block;
        margin-top:10px;
    }
    .fa-heart-o{
        float: none;
    }
    .item-skill {
        display: inline;
        list-style: none;
        padding: 4px 14px !important;
        margin: 20px 12px -14px -4px !important;
        float: left;
        font-size: 14px !important;
        height: 90% !important;
        border-radius: 25px;
        border: 1px solid #dedede;
    }
    .similar-profiles .fa {
        color: #57b029;
        font: normal normal normal 14px/1 FontAwesome !important;
        font-size: 14px;
        position: relative;
        top: -6px;
        left: 20px;
    }
}

@media (max-width:375px){
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
        min-width: 160px;
        max-width: 275px;
        width: 275px;
        z-index: 9995;
        margin-right: -15px;
        margin-left: 24px !important;
    }
    .similar-profiles .fa {
        color: #57b029;
        font: normal normal normal 14px/1 FontAwesome !important;
        font-size: 14px;
        position: relative;
        top: -6px;
        left: 20px;
    }
}
