.set-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 165px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.profile-details div.language:hover{
    display: inline-block;
    margin-right: 50px;
    border: 1px solid #58AF2A;
    padding: 0px 12px;
    border-radius: 20px;
}

.custom-set-language-trash-icon{
    color: red;
    cursor: pointer;
}

html:lang(cn) .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 176px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 0px;
}

.set-dropdown:hover .dropdown-content {
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 8px 7px -2px #c4e3b4;
    padding-left: 0px;
    padding-right: 0px;
}

.setHoveLi1:hover{
    background-color: #57b029;
    color:#fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.fa-caret-up{
    position: absolute;
    right: 15%;
}

.dropdown-content li{
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    cursor: pointer;
    color:#2e404e;
    list-style: none;
    height:25px;
    padding: 4px 6px 13px 19px;
}


.setMUPCCBTNN1:focus{
    color:#fff;
}

html:lang(cn) .setMUPCCBTNN1{
    position: absolute;
    left: 5%;
}

.setMUPCCBTNN1{
    position: absolute;
    left: 3.5%;
}

html:lang(cn) .dropdown-content li{
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    cursor: pointer;
    color:#2e404e;
    list-style: none;
    height:25px;
    padding: 4px 15px 13px 19px;
}

.dropdown-content li:hover{
    background-color: #57b029;
    color:#fff;
}

html:lang(cn) .dropdown-content li:hover{
    background-color: #57b029;
    color:#fff;
}

.setNewhr1{
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
}

/* line 1, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
img.profile-picture {
  margin-right: 50px;
}

.setMUPCCBTNN1{
    position: absolute;
    left: 4.5%;
}

html:lang(cn) .setMUPCCBTNN1{
    position: absolute;
    left: 10.5%;
}


/* line 5, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
span.full-name {
    font-size: 26px;
    color: #404040;
    text-transform: capitalize;
    padding-left: 0px;
    display: inline-block !important;
}

/* line 9, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
span.full-name i {
  color: #57b029;
  font-size: 20px;
}

/* line 15, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.personal-info {
  max-width: 50%;
  margin-left: 0;
  margin-top: 5px;
}

/*.title_and_position{*/
    /*border-left: 1px solid #bbbbbb;*/
/*}*/

.divider::after{
    content: '';
    border-left: 1px solid #bbbbbb;
    height: 80%;
    position: absolute;
    top: 5px;
}

.job_position{
    font-size: 12px;
    color: #6e6e6e;
}

.title_and_position .title
{
    float: left;
    position: absolute;
    padding: 0 8px;
}

.title_and_position .position
{
    padding: 0 8px;
}

/* line 19, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.personal-info div {
  padding: 0 !important;
  margin-bottom: 15px;
  height: 25px;
}

/* line 25, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.personal-info span.label {
    font-size: 14px;
    color: #999999;
    padding: 0;
    font-weight: lighter;
    text-transform: capitalize;
    border-radius: 0 !important;
    font-family: 'Myriad Pro', 'Raleway', sans-serif !important;
}

html:lang(cn) div.personal-info span.label {
    font-size: 14px;
    color: #999999;
    padding: 0;
    font-weight: lighter;
    text-transform: capitalize;
    border-radius: 0 !important;
    font-family: "Noto Sans CJK JP Regular" !important;
}

/* line 34, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.personal-info .status {
  color: #57b029;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

/* line 42, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.personal-info .action {
  font-style: italic;
  color: #666666;
  text-transform: capitalize;
}

/* line 48, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.personal-info .action:hover {
  text-decoration: none;
}

/* line 54, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
img.qrcode {
  margin-left: 40px;
}

/* line 58, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details {
  display: block;
  margin-top: 30px;
}

/* line 61, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.label {
  padding: 0 !important;
}

/* line 64, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.label img {
  margin-right: 5px;
}

/* line 68, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.label span {
  color: #666666;
  text-transform: uppercase;
  font-size: 14px;
}

/* line 76, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details a.action {
  color: #57b029;
}

/* line 81, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.skill {
    display: inline-block;
    height: 35px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    color: #8c8c8c;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

/* line 92, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.skill img {
  margin-right: 5px;
}

/* line 96, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.skill span {
  font-size: 14px;
}

/* line 102, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details .official {
  background-color: #f9d23f;
  color: #fff !important;
  padding-left: 5px !important;
  padding-right: 15px !important;
  padding-top: 5px !important;
  border: 0 !important;
}

/* line 111, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details .success {
  background-color: #5dba2c;
  color: #fff !important;
  padding-left: 5px !important;
  padding-right: 15px !important;
  padding-top: 5px !important;
  border: 0 !important;
}

/* line 120, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.language {
  display: inline-block;
  margin-right: 50px;
}

/* line 123, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.language img {
  margin-right: 10px;
}

/* line 127, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.language span {
  font-size: 16px;
  color: #808080;
  text-transform: capitalize;
}

/* line 135, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-details div.language:last-child {
  margin-right: 0 !important;
}

/* line 141, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info {
  position: relative;
  display: block;
  margin-top: 30px;
  /*border: 1px solid black;*/
}

/* line 146, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info div.label {
  padding: 0 !important;
}

/* line 149, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info div.label img {
  margin-right: 5px;
}

/* line 153, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info div.label span {
  color: #666666;
  text-transform: uppercase;
  font-size: 14px;
}

/* line 161, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info a.action {
  color: #57b029;
}

/* line 166, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info p {
  color: #808080;
  font-size: 14px;
  font-weight: lighter;
}

/* line 173, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info span.rating {
  display: inline-block;
  font-size: 68px;
  color: #57b029;
}

/* line 181, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info div.star i {
  color: #f4b00e;
}

/* line 186, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info span.review-count {
  text-align: center;
  display: block;
  color: #666666;
  font-size: 12px;
}

/* line 194, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container {
     margin-bottom: 0 !important;
    /*border: 1px solid black;*/
    height: 100%;
    margin-top: 5px;
    padding-left: 50px;
}

/* line 198, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph {
  height: 100%;
  /*border: 1px solid black;*/
  display: inline-block;
  margin-right: 8px;
}

.graph-alignment
{
    height:160px;
    background-color:#ffffff
}

/* line 203, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph .count, div.profile-info .graph-container div.graph .bar, div.profile-info .graph-container div.graph .number, div.profile-info .graph-container div.graph i {
  display: block;
  /*text-align: center;*/
  text-align:right;
}

/* line 207, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph .bar {
  margin: 0 auto 15px auto;
  width: 25px;
}

/* line 213, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph .one-star {
  background-color: #9dd481;
}

/* line 218, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph .two-star {
  background-color: #84ca61;
}

/* line 223, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph .three-star {
  background-color: #6cb747;
}

/* line 228, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph .four-star {
  background-color: #51a329;
}

/* line 233, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph .five-star {
  background-color: #4b9c23;
}

/* line 238, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph .count {
  font-size: 12px;
  color: #999999;
  font-weight: lighter;
  margin-bottom: 10px;
}

/* line 246, C:/Users/Jenary/Documents/upwork/xenrencc/html/assets/css/sass/personal-info.scss */
div.profile-info .graph-container div.graph i {
  color: #f4b00e;
  margin-bottom: 5px;
}

/*# sourceMappingURL=../custom/personal-info.map */



@media (min-width: 320px) and (max-width: 823px){
    img.profile-picture{
      float: unset !important;
      margin-right: 0px !important;
    }
    .user-img-main .btn{
      width: 100% !important;
    }
    .user-img-main div:first-child{
      margin-bottom: 15px;
    }
    .row.personal-info .left-div{
      text-align: center;
    }
    img.qrcode{
      float: unset !important;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
    .profile-picture-main .camera-icon{
      left: 50% !important;
      transform: translateX(-50%) !important;

    }

}
.setCol9PI{
    margin-top: 4.4%;
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setCol9PI{
        margin-top: 3%;
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .setCol9PI{
        margin-top:5% !important;
        text-align: -webkit-center;
    }
    .setTHISPERSONAI{
        margin-left: 0% !important;
    }
    .divSkills{
        height:70px;
        overflow: scroll;
        display: -webkit-box;
    }
}
@media (min-width:2700px)
{
    .setMUPCCBTNN1{
        position: absolute;
        left: 3%;
}
html:lang(cn) .setMUPCCBTNN1{
    position: absolute;
    left: 8%;
}
}

@media (max-width:991px)
{
    .setMUPCCBTNN1{
        position: absolute;
        left: 1%;
}
html:lang(cn) .setMUPCCBTNN1{
    position: absolute;
    left: 1%;
}
}

@media (max-width:466px)
{
    .title_and_position .position {
        padding: 0px 8px;
        position: relative;
        top: 20px;
    }
}
