.img-avatar{
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.setPageContent{
    margin-bottom: 0%;
    margin-top:3%;
}

.setCLASSIMAGEAVATARPIP{
    width: 100px;
    height: 100px;
}
.profile-userpic{
    cursor: pointer;
    cursor: hand;
}

.setALPIP{
    position: relative;
    top: 19px;
}
.setPLBP{
    margin-bottom:14px;
}
.setColorGreen{
    width: 100%;
    background-color: #57af2a !important;
}

.set-colorGreen2{
    width:89%;
    background-color: #57af2a !important;
}

.set-hr-personalInfo-hr12{
    width: 89%;
}

.setColorGray{
    color: #7F7F7F !important;
}

.edit-button, .edit-button:hover
{
    min-width: 120px;
    height: 35px;
    padding-top: 5px;
}

.setPIROE{
    margin-top:2%;
}

.setSideMenuScroll{
    z-index:999;
}

@media (max-width:2000px) and (min-width:1414px)
{
    .page-content-wrapper {
        position: relative;
        top: 10px;
    }
    .setALPIP {
        position: relative;
        top: 15px;
        margin-bottom: 29px;
    }
    .setPageContent{
        margin-bottom:0%;
        margin-top:0%;
    }
}

@media (max-width:1318px)
{
    .setALPIP {
        position: relative;
        top: 30px;
        margin-bottom: 48px;
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .setBTUC{
        display:grid;
        float:none !important;
        width:100% !important;
    }
}

@media (max-width:568px) {

    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 466px !important;
    }
}

@media (max-width:411px)
{
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 309px !important;
    }
}

@media (max-width:414px)
{
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 313px !important;
    }
}

@media (max-width: 411px) {
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 276px !important;
    }
}
@media (max-width: 360px)
{
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 260px !important;
    }
}

@media (max-width:320px) {
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 220px !important;
    }

}


@media (max-width:991px) and (min-width:320px)
{
    .setMAinMENU{
        display:none;
    }
    .setPBPIP{
        text-align: -webkit-center;
    }
}