.user-img-main{
    position: relative;
}

.user-img-main .btn{
    /*margin-top: 30px;*/
    padding: 8px 25px !important;
}
.user-img-main .dropdown-menu{
    position: absolute;
    width: 100%;
    top: 280px;
    box-shadow: 0 0 5px 0 #c1c1c1 !important;
}
.user-img-main .dropdown-menu .contacts-info:before{
    border: 15px solid #c1c1c1;
    content: '';
    position: absolute !important;
    top: -30px;
    border-color: transparent;
    border-bottom-color: #c1c1c1;
    left: 80px;
}
.user-img-main .dropdown-menu .contacts-info:after{
    border: 14px solid #fff;
    content: '';
    position: absolute !important;
    top: -28px;
    left: 81px;
    border-color: transparent;
    border-bottom-color: #fff;   
}
.div-container{
    border-radius: 3px;
}
.setSideMEnu{
    position: relative;
    z-index: 1;
}

@media (max-width:2050px) and (min-width:1414px)
{
    .page-content-wrapper {
        position: relative;
        top: 10px;
    }
}

@media(max-width:1413px)
{
        .page-content-wrapper {
            position: relative;
            top: 0px;
            margin-top: 16px;
        }
}

.page-content-wrapper{
    margin-top: 19px;
}
.profile-details div.skill img{
    width: 22px;
    padding: 3px;
    border: 1px solid #fff;
}
.profile-details div.skill{
    height: 31px !important;
}
.profile-details div.label img{
    margin-top: -5px;
}
.profile-details div.language img{
    width: 30px;
}
.personal-info{
    border: 0px !important;
    margin-top: 10px !important;
}
.review {
    border: 0px solid #e9e9e9 !important;
}
.personal-info{
    max-width: 100% !important;
    width: 100%;
    overflow: hidden;
}
.personal-info div{
    height: auto !important;
}
.personal-info .left-div{
    padding:0px 15px !important;
}
.personal-info .left-div .row {
    margin-bottom: 0px;
}
.icon-github {
    background: no-repeat url('../img/github-16px.png');
    width: 16px;
    height: 16px;
}
.bootstrap-tagsinput {
    width: 100%;
}
.accordion {
    margin-bottom: -3px;
}
.accordion-group {
    border: none;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.twitter-typeahead .tt-hint {
    display: none;
}
.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}
.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.user-title {
    font-size: 15px;
    border: 1px solid #c1c1c1;
    margin-left: 20px;
    padding: 2px 10px 2px 10px;
}

.job_title
{
    padding: 10px 10px 10px 150px;
    position: absolute;
}

.resume-detail-main .nav.nav-tabs,
.resume-detail-main .tab-content
{
    background-color: #fff;
}

.well
{
    margin-bottom: 0px;
}

.personal-info span.label,
.personal-info .status{
    color: #808080;
    text-transform: capitalize !important;
    font-weight: normal !important;
    font-size: 14px !important;
}
.personal-info .change a{
    color: #808080 !important; 

}
.profile-info .desc{
    color: #8c8c8c;
}

.personal-info-tab{}
.personal-info-tab .tabbable-line > .tab-content{
    padding: 0px !important;
}
.personal_portfolio_tab{
    background: #F7F7F7;
}
.personal_portfolio_tab ul{
    padding: 25px 0px 10px 0px;
    width: 100%;
    height: 70px;
    margin: 0px;
}
.personal_portfolio_tab ul li{
    list-style: none;
    float: left;
    margin: 0px 0px 0px 15px;
    text-decoration: none !important;
}
.personal_portfolio_tab ul li a{
    color: #737373;
    padding: 5px 10px;
    border-radius: 15px;
}
.personal_portfolio_tab ul li a:hover,
.personal_portfolio_tab ul li.active a{
    background: #4B9C23;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
}

.personal_portfolio_tab .menu{
    background: #F7F7F7;
    margin: 0px;
}
.personal_portfolio_tab .add-more-pro{
    margin: 0px 30px 30px 30px;
    padding: 20px 0px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
}
.personal_portfolio_tab .add-more-pro .tab-content{
    padding: 20px 15px;
}
.personal_portfolio_tab .add-more-pro label{
    color: #737373;
    font-weight: bold;
}
.personal_portfolio_tab .add-more-pro input{
    color: #737373;
    border: 0px;
    padding-left: 30px;
    box-shadow: 0px 0px 4px 1px #e4e4e4 !important;
    height: 50px;
}

.personal_portfolio_tab .link-img{
    height: 180px;
    margin: 5px 0px;
    text-align: center;
}
.personal_portfolio_tab .link-img img{
    width: auto;
    height: 180px;
    border-radius: 5px;
}
.personal_portfolio_tab .link-a{
    background: #F7F7F7;
    border: 1px solid #E8E8E8;
    height: 180px;
    text-align: center;
    color: #58AF2A;
    position: relative;
    margin: 5px 0px;
    border-radius: 5px;
}
.personal_portfolio_tab .link-doc{
    height: 180px;
    border-radius: 5px;
    margin: 5px 0px;
    background: #F7F7F7;
    border: 1px solid #E8E8E8;
    height: 180px;
    text-align: center;
}
.personal_portfolio_tab .link-doc span{
    color: #737373;
}
.personal_portfolio_tab .link-doc img{
    height: 60px;
    width: 50px;
    margin: 35px 0px;
}
.personal_portfolio_tab .link-a i{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.personal_portfolio_tab .add-more-pro .form-group-btn{
    padding: 5px 0px;
}
.personal_portfolio_tab .add-more-pro .btn{
    /*width: 160px;*/
    font-weight: normal;
    border-width: 2px !important;
}
.personal_portfolio_tab .project-list{
    background: #fff;
    /*margin: 30px 0px 0px 0px;*/
    padding: 0px 30px 30px 30px;
}
.personal_portfolio_tab .project-list .title h4{
    background: #F7F7F7;
    border: 1px solid #E8E8E8;
    color: #58AF2A;
    margin: 0px;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
}
.personal_portfolio_tab .project-list .sub-title h4{
    font-size: 16px;
    margin: 15px 0px;
    text-align: center;
    color: #737373;
}
.personal_portfolio_tab .project-list .project-link{
    text-align: center;
    padding: 15px 0px;
}
.personal_portfolio_tab .project-list .link{
    background: #58AF2A;
    border-radius: 15px;
    width: 100%;
    padding: 7px 50px;
    color: #fff;
    position: relative;
    font-size:small;
}
.personal_portfolio_tab .project-list .link img {
    margin-top: 0px;
    margin-right: -38px;
    width:25px;
}

.personal_portfolio_tab .simale-line{
    border-bottom: 1px solid #DEDEDE;
    margin: 5px 0px 15px 0px;
}
.all-comments,
.Official-comment{
    background: #F7F7F7;
    padding: 30px;
}
.personal-info-tab .tab-pane .personal-portfolio-empty{
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: 120px 0px;
    text-align: center;
}
.personal-info-tab .tab-pane .personal-portfolio-empty h5{
    margin-bottom: 50px;
    margin-top: 0px;
    color: #737373;
}
.personal-info-tab .tab-pane .personal-portfolio-empty img{
    height: 230px;
    width: 305px;
}

.btn-delete-portfolio .fa-trash {
    font-size: 20px;
    color: red;
    padding-top: 10px;
    cursor: pointer;
}

.personal-info-btn .btn-custom{
    background-color: #58AF2A !important;
    color: white;
    margin-top: 0px !important;
    padding: 8px 15px !important;
}
.personal-info-designer{
    padding-left: 0px;
}
.dropzone
{
    border: 0px;
    box-shadow: 0px 0px 4px 1px #e4e4e4
}

.dropzone .dz-preview .dz-image {
    border-radius: 0px;
    background-color: #eee;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 0px;
}

.file-type-icon{
    text-align: center;
    padding-top: 20px;
    padding-left: 15px;
}

.dz-preview.dz-error{
    display:none;
}

.add-file-symbol
{
    color: #58AF2A;
    /*border: #58AF2A solid 1px;*/
    padding: 20px 20px;
    text-align: center;
}


.personal-profile .contact{
    /*margin-top: 15px;*/
    z-index: 1;
}

.personal-profile-left{
    position: absolute;
}

@media (max-width:991px) and (min-width:320px)
{
    .setFRCP {
        text-align:center;
    }
    .setRCPDCCol{
        text-align:center;
    }
    .setSKILLFS14{
        float:none !important;
    }
    .setTRCPPFDAF{
        position: relative !important;

    }
    .setASRCPP{
        float: none !important;
        display: inline-block !important;
    }
}

@media (max-width:991px) and (min-width:681px)
{
    .setProjectLPR{
        width:100% !important;
    }
    .setProjectLPR a{
        background: #58AF2A;
        border-radius: 15px;
        padding: 7px 36px;
        color: #fff;
        position: relative;
    }
    .setProjectLPR img {
        margin-top: -3px;
        margin-right: 7px;
        width: 27px;
    }
}

@media (max-width:680px) and (min-width:577px)
{
    .setProjectLPR{
        width:100% !important;
    }
    .setProjectLPR a{
        background: #58AF2A;
        border-radius: 15px;
        width: 100% !important;
        padding: 7px 26px !important;
        color: #fff;
        position: relative;
        font-size: 12px !important;
    }
    .setProjectLPR img {
        margin-top: -2px !important;
        margin-right: -8px !important;
        width:20px !important;
    }
}

@media (max-width:578px) and (min-width:366px)
{
    .setProjectLPR{
        width:100% !important;
    }
    .setProjectLPR a{
        background: #58AF2A;
        border-radius: 15px;
        width: 100% !important;
        padding: 7px 14px !important;
        color: #fff;
        position: relative;
        font-size: 7px !important;
    }
    .setProjectLPR img {
        margin-top: -2px !important;
        margin-right: -8px !important;
        width:20px !important;
    }
}

@media (max-width:365px) and (min-width:320px)
{
    .setProjectLPR{
        width:100% !important;
    }
    .setProjectLPR a{
        background: #58AF2A;
        border-radius: 15px;
        width: 100% !important;
        padding: 7px 14px !important;
        color: #fff;
        position: relative;
        font-size: 5px !important;
    }
    .setProjectLPR img {
        margin-top: -2px !important;
        margin-right: -8px !important;
        width:15px !important;
    }
}

@media (max-width:500px)
{
    .setRCPCol4AI a img{
        width:100% !important;
        height:182px !important;
    }
}

@media (max-width: 980px){
    .page-content-wrapper{
        margin-top: 0px;
        display: flex; 
        flex-flow: column;
    }
    .usercenter.link-div{
        padding-left: 15px !important;
    }
    .personal-info{
        margin: auto;
        width: 90% !important;
    }
    .personal-profile{
        padding-left: 0px;
        padding-right: 0px;
    }
    .review.resume-detail-main{
        margin: auto;
        width: 90% !important;   
        -webkit-order: 1;
        -moz-order: 1;
        order: 1;
        margin-top: 30px;
    }
    .user-info-barcode{
        text-align: center;
    }
    .personal-profile .contact{
        width: 90%;
    }
    .personal-profile .contact .contacts-info::before,
    .personal-profile .contact .contacts-info::after{
        left: 50%;
        transform: translateX(-50%);
    }
    .personal_portfolio_tab .project-list{
        padding: 0 0 30px;
    }
    .sidebar-title-div{
        -webkit-order: 2;
        -moz-order: 2;
        order: 2;
        margin: 30px 0px;
    }
    .similar-profiles-main{
        -webkit-order: 3;
        -moz-order: 3;
        order: 3;
    }
    .resume-detail-main .tabbable-line > .nav-tabs{
        padding-right: 15px;
    }
    .resume-detail-main .tabbable-line > .nav-tabs > li{
        width: 100%;
    } 
    .review.resume-detail-main #img-popup-tmp img{
        width: 100%;
    }
    .personal-profile-left{
        position: relative;
    }

    /* New Layout Design CSS (by Lenox) */
    .edit-target {
        border : 0px; 
        padding-left: 0px; 
        margin-left: 5px !important; 
        padding-right: 0px;
    }

    .edit-target-info {
        border : 2px solid #58AF2A; 
        border-radius : 8px; 
        margin-left : 0px !important; 
        padding-left: 3px; 
        padding-right: 3px;
    }

    .edit-target-status {
        border : 0px; 
        padding-left: 0px; 
        margin-left: 5px !important; 
        padding-right: 0px;
        padding-top:2px;
        padding-bottom:2px;
        display: inline-block;
    }

    .edit-target-status-hover {
        border : 2px solid #58AF2A; 
        border-radius : 8px; 
        margin-left : 0px !important; 
        padding-left: 3px; 
        padding-right: 3px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

/* New Layout Design CSS (by Lenox) */
.edit-target-box {
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.personal-portfolio-boxes 
{
    border: 2px solid #58AF2A;
    border-radius: 10px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit-link-show {
    display:none;
}

.edit-target {
    border : 0px; 
    padding-left: 0px; 
    margin-left: 0px; 
    padding-right: 0px;
}

.edit-target-info {
    border : 2px solid #58AF2A; 
    border-radius : 8px; 
    margin-left : -5px; 
    padding-left: 3px; 
    padding-right: 3px;
}

.edit-target-status {
    border : 0px; 
    padding-left: 0px; 
    margin-left: 0px; 
    padding-right: 0px;
    padding-top:2px;
    padding-bottom:2px;
    display: inline-block;
}

.edit-target-status-hover {
    border : 2px solid #58AF2A; 
    border-radius : 8px; 
    margin-left : -5px; 
    padding-left: 3px; 
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.leftSide-menu-list{
    color: #BECDDC;
    font-size: 20px;
    float: right;
    position: relative;
    right: 15px;
    cursor: pointer;
    display: none;
}
/*.collapse{
    display: block !important;
}*/



@media (max-width:640px)
{
    .personal_portfolio_tab ul li {
        list-style: none;
        float: left;
        margin: 5px 0px 0px 33px;
    }
    .personal_portfolio_tab ul {
        padding: 25px 0px 10px 0px;
        width: 100%;
        height: 80px;
        margin: 0px;
    }
    .personal_portfolio_tab ul {
        padding: 18px 0px 10px 0px;
        width: 100%;
        height: 88px;
        margin: 0px;
    }
}

@media (max-width:411px)
{
    button.btn.btn-success.btn-green-bg-white-text {
        margin-right: 26px;
    }
    button.btn.btn-success.btn-green-bg-white-text {
        margin-right: 26px;
    }
}

@media (max-width:360px)
{
    button.btn.btn-success.btn-green-bg-white-text {
         margin-right: 26px;
    }
    .personal_portfolio_tab .menu {
        background: #F7F7F7;
        margin: 0px;
        height: 176px;
    }
    .personal_portfolio_tab ul li {
        list-style: none;
        float: left;
        margin: 4px 0px 0px 15px;
    }
    .personal_portfolio_tab ul {
        padding: 11px 0px 10px 0px;
        width: 100%;
        height: 80px;
        margin: 0px;
    }
}

@media (max-width:320px){
    .personal_portfolio_tab ul li {
        list-style: none;
        float: left;
        margin: 5px 0px 0px 15px;
    }
    .personal_portfolio_tab ul {
        padding: 8px 0px 10px 0px;
        width: 100%;
        height: 167px;
        margin: 0px;
    }
}
