html:lang(en) body, html:lang(en) h1, html:lang(en) h2, html:lang(en) h3, html:lang(en) h4, html:lang(en) h5, html:lang(en) h6, html:lang(en) p, small, span html:lang(en) .sub-heading, html:lang(en) .btn html:lang(en) .label{
	font-family: "Open Sans",sans-serif !important;
}
.custom-hover{
	border:1px solid #fff;
	border-radius: 15px;
	padding: 5px 15px;
	float: left;
}
.custom-hover:hover{
	border:1px solid #58AF2A;
}

.seetItemSkill{
	padding-bottom: 5px !important;
	position: relative;
	margin-top: 5px !important;
	margin-bottom: 10px;
}

.edit-img-a,
.edit-btn{
	display: none;
}
.custom-hover:hover > .edit-img-a,
.custom-hover:hover > .edit-btn{
	display: block;
}
.user-img-main{
	margin: 0px;
}
.user-des-center .full-name h2{
	margin: 0px 0px 5px 0px;
	color: #404040;
	font-weight: 500;
	float: left;
}
.user-des-center .full-name img{
	margin-left: 10px;
}
.user-des-center .sub-name{
    color: #777777;
	font-size: 20px;
}
.user-des-center .location-status{
	margin-top: 15px;
}
.user-des-center .location-status h3{
	margin: 0px 0px 5px 0px;
	color: #404040;
	font-weight: 500;
	float: left;
	font-size: 22px;
}
.user-des-center .location-status .location-icon{
	float: left;
	position: relative;
    margin:15px 20px 0px 0px;
}
.user-des-center .edit-btn{
	float: right;
	padding: 24px 0px 25px 25px;
}
.user-des-center .location-status .edit-btn{
	padding: 15px 0px 15px 25px;
}
.user-des-right .custom-hover{
	position: relative;
	right: -15px;
}
.user-des-right .edit-img-a{
	float: left;
}
.user-des-right .edit-img{
	margin-right: 10px;
	margin-top: 6px;
	cursor: pointer;
}
.user-des-right h2{
	margin: 0px;
	font-size: 28px;
	float: left;
	font-weight: 500;
    letter-spacing: 1px;
    color: #777777;
}
.user-des-right img.qrcode{
	margin-top: 15px;
}

.edit-profile{
	margin-top: 75px;
	text-align: center;
	border-top: 1px solid #F7F7F7;
}
.edit-profile-div{
	background-color: #fff;
	position: relative;
	top: -25px;
	width: 250px;
	margin: auto;

}
.edit-profile-btn{
	border-radius: 3px;
	border:0px;
	background-color: #58AF2A;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
}

.user-description{
	padding: 10px 20px;
	margin-top: 15px;
	position: relative;
}
.user-description .edit-img{
	position: absolute;
	right: 20px;
	top: 10px;
}
.user-description h4{
	margin: 0px;
	color: #808080;
	font-weight: 600;
}
.user-description .desc{
	color: #808080;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.item-skill{
	padding-bottom: 5px !important;
	position: relative;
	margin-top: 20px;
	margin-bottom:10px;
}
.skill-success{
	background-color: #58AF2A;
	color: #fff;
	border-color:  #58AF2A;
}
.skill-official{
	background-color: #F1C40F;
	color: #fff;
	border-color:  #F1C40F;
}
.skill-official span span,
.skill-success span span{
	margin-left: 15px;	
}
.item-skill i{
	border:1px solid #fff;
	color: #fff;
	border-radius: 50%;
	padding: 3px;
	position: absolute;
	left: 5px;
}

.language-main{
	float: left;
	margin-right: 15px;
	margin-top: 30px;
	margin-bottom: 5px;
	color: #808080;
	font-weight: 600;
}
.language-main img{
	width: 30px;
}
.language-main span{
	margin-left: 5px;
}

.graph{
	width: 100%;
	float: left;
}
.graph i{
	float: left;
	font-size: 16px;
}
.graph .number{
	color: #808080;
	font-weight: 600;
	font-size: 16px;	
	float: left;
	line-height: 12px;
	padding: 0px 15px 0px 8px;
}
.graph .bar{
	float: left;
	height: 14px !important;
	padding-bottom: 0px;
}
.profile-info .star i{
	padding: 0px 2px;
	font-size: 16px;
}
.profile-info .review-count{
	font-size: 16px !important;
	font-weight: 600 !important;
	/*text-align: left !important;*/
}
.tab-content{
	margin-top: 15px;
}

.main-well-custom .tabbable-line > .nav-tabs{
	padding: 0px;
}
.main-well-custom .tabbable-line > .nav-tabs > li > a{
	font-size: 18px !important;
}
.main-well-custom .tabbable-line > .nav-tabs > li.active > a{
	color: #000 !important;
}
.add-more-pro{
	margin:0px !important;
}
.add-more-pro{
	border-width: 0px !important; 
}

.main-well-custom .tab-content{
	border-top: 4px solid #F7F7F7 !important;
	margin-top: -4px;
}
.personal_portfolio_tab .add-more-pro input{
	box-shadow: 0 0 0 1px #f1f1f1 !important;
	border:1px solid #f1f1f1;
	height: 40px;
	padding-left: 15px;
}
.personal_portfolio_tab .add-more-pro label{
	font-weight: 600;
}
.customize.dropdown a.custom-select-btn{
	height: 40px;
	box-shadow: 0 0 0 1px #f1f1f1 !important;
	border:1px solid #f1f1f1 !important;
}
.custom-select-btn{
	padding: 7px 14px 5px !important
}
.custom-select-btn label{
	text-transform: none !important;
}
.custom-select-btn::after{
	top: 2px;
}
.customize.dropdown ul{
	padding: 0px;
	height: auto;
	max-height: none;
}
.customize.dropdown ul li{
	width: 100%;
	margin: 0px;
}
.customize.dropdown ul li a{
	display: block;
	border-radius: 0px !important;
	padding: 10px !important;
}
.dropzone{
	box-shadow: none;
	border:2px dashed #f1f1f1;
	border-radius: 3px;
}
.dropzone.dz-clickable .dz-message{
	color: #737373;
}
.dropzone.dz-clickable .dz-message a{
	color: #57B029;
}
.form-group{
	margin-bottom: 20px;
}
.form-group label{
	margin-bottom: 10px !important;
}
.form-group.dropzone-form{
	padding: 10px 0px;
}
.upload-btn:hover,
.upload-btn{
	border-radius: 3px;
	border:0px;
	background-color: #58AF2A;
	color: #fff;
	font-weight: bold !important;
	padding: 15px;
	width: 50%;
}