.page-content-wrapper .page-content{
    margin-left: 0px;
    padding: 0;
}

.setBTNBTNBTNPPP{
    position: absolute;
    left: 51%;
    color: lightgray;
    cursor: pointer;
    top: -26px;
    font-size: 30px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 2px !important;
}

.dropzone.dz-clickable {
    cursor: pointer;
    border-radius: 2px !important;
}

.dropzone:hover {
    border: 1px solid #64B12B !important;
    border-radius: 2px !important;
}

.note-editor.note-frame {
    border: 1px solid #a9a9a9;
    border-radius: 2px !important;
}

.custom-input-text{
    width: 50% !important;
    color: #555;
    font-size: 14px;
    box-shadow: 0px 0px;
    border-radius: 2px !important;
    border: 1px solid #e5e5e5 !important;
    height: 40px;
}

@media (max-width:1560px)
{
    .set-modal-content-personal-info-when-post-job{
        width:105%;
    }
}

.set-modal-content-personal-info-when-post-job{
    width:100%;
}
#snDescription , .form-control {
    width: 100%;
    height: 37px;
    border-radius: 2px !important;
    padding: 4px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    font-size: 16px;
}

.icon .glyphicon {
    font-size: 30px;
}
.btn.fa-close{
    margin-top: 4px;
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.div-question{
    padding: 5px 45px;
}

.div-close-question{
    padding-top: 10px;
}

.setBTNBTNBTNPPP{
    position:relative;
    left:50%;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 30px !important;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.greenradio {
    position: relative;
    border: 5px #58AF2A solid;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: green;
    float: left;
    opacity: 0;
    z-index: 1;
}

.icheck-label{
    padding-left: 2%;
    font-weight: 500;
}

            .icheck-label::before{
                position: absolute;
                top: 9px;
                left: 13.5px;
                content: "";
                display: inline-block;
                height: 20.5px;
                width: 20.5px;
                border: 1.5px solid #57b029;
                border-radius: 15px;
            }
            
            .icheck-label::after{
                position: absolute;
                top: 12.4px;
                left: 17.7px;
                content: "";
                display: inline-block;
                height: 13px;
                width: 13px;
                border: 1px solid;
                border-radius: 10px;
                transform: rotate(-45deg);
            }
            
            /*Hide the checkmark by default*/
            .icheck + label::after {
                content: none;
            }
            /*Unhide the checkmark on the checked state*/
            .icheck:checked + label::after {
                content: "";
                color: #57b029;
                background-color: #57b029;
            }
            
            .icheck:checked + label::before {
                content: "";
                background-color: #fff;
                border-color: #57b029;
            }
            .add-button-position{
                height: 0;
            }

.add-question-position{
    float: right;
    position: relative;
}
            
.portlet{
    box-shadow: 0px 0px !important;
}

.portlet.light{
    padding: 0px;
}

.form-body h4{
    margin:0px 30px;
    color: #58AF2A;
}

.form-body .form-group{
    margin: 30px 30px 30px 15px;
}

.form-body .form-group .row{
    margin: 0px;
}

.control-label{
    font-weight: 600;
}

.full-headding-div{
    margin: 0px 0px 15px 0px !important;
    background: #FCFCFC;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 0px;
}

.full-headding-div h4{
    color: #58AF2A;
    padding-left: 15px;
    margin: 0px;
    font-weight: 600;
}

.ms-ctn .ms-trigger{
    background: #58AF2A !important;
    margin: 3px;
    height: 31px !important;
    width: 35px !important;
    border-radius: 2px;
    border-left: 0px solid #fff !important;
}

.ms-ctn .ms-trigger .ms-trigger-ico{
    margin-top: 15px !important;
    margin-left: 13px !important;
}

#magicsuggest.ms-ctn,
#msCountries.ms-ctn,
#msLanguages.ms-ctn{
    width: 100%;
    color: #555;
    font-size: 14px;
    box-shadow: 0px 0px;
    border-radius: 2px !important;
    border: 1px solid #e5e5e5 !important;
    height: 40px !important;
    background-color: #f7f7f7;
}

.ms-ctn .ms-sel-ctn input {
    background-color: #f7f7f7;
    padding-top: 2px;
    padding-left: 2px;
}

.ms-ctn .ms-sel-item {
    background-color: #fff;
    margin: 0px 2px;
    padding: 4px 5px;
}

.btn-width {
    padding-left: 5%;
    padding-right: 5%;
}

.submit-position-adjust{
    display: flex;
    justify-content: center;
}

#tbxDescription
{
    width:100%;
}

/*
*   Attachment
*/
.attachment {
    width: 85px;
    float: left;
}

.attachment-file {
    background: #FAFAFA;
    height: 80px;
    width: 75px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding-top: 12px;
    text-align: center;
}

.attachment-no-file {
    background: #FAFAFA;
    height: 80px;
    width: 75px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding-top: 25px;
    text-align: center;
}

.attachment-file img {
    width: 50px;
    height: 55px;
}

.attachment-name a {
    color: #777;
    font-size: 13px;
    line-height: 30px;
}

.section-question .close
{
    background-image: url('../../../images/20X20_icon_close.gif')!important;
    width: 20px;
    height: 20px;
}

.scrollable
{
    overflow: hidden;
    overflow-y: scroll;
    max-height: 300px;
}

.dropzone
{
    border: 1px solid #e5e5e5 !important;
    border-radius: 2px;
}

.note-editor.note-frame{
    border-radius: 2px !important;
}

.dropzone:hover{
    border: 1px solid #64B12B !important;
}

.dropzone .dz-message{
    color: #999999;
}

.dropzone .dz-preview .dz-image {
    border-radius: 0px;
    background-color: #eee;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 0px;
}

.file-type-icon{
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
}
#magicsuggest.ms-ctn-focus,
#msCountries.ms-ctn-focus,
#msLanguages.ms-ctn-focus,
#magicsuggest.ms-ctn:hover,
#msCountries:hover,
#msLanguages:hover{
    border: 1px solid #64B12B !important;

}


@media (max-width: 560px){
    #add-project-form .form-group .text-right{
        text-align: left;
    }
    .custom-input-text,
    .custom-select-btn{
        width: 100%;
    }
}

.error-border {
    border-color: red !important;
}

.error-message {
    display: block;
    color: red;
    margin-top: -15px;
}

.error-message-question {
    display: block;
    color: red;
    margin-top: 0px;
}

#freelance-type-require{
    margin-left: 15px;
}

.btn-red-custom {
    background: #C63031;
    color: #fff;
    box-shadow: 0px 0px;
    font-weight: bold;
    font-size: 14px;
}

.select2-selection {
    height: 32.8px !important;
    border: 1px solid #c2cad8 !important;
    /*width: 670px;*/
    margin-left: -31px;
    border-radius: 2px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: -31px;
    width: 20px;
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: -31px;
    width:627px !important;
}

.setprojectDropDownUl{
    left:15px;
}

.setAJAXLOADER{
    display: none;
}

.preloader_bg{
    width:150px;
    height:150px;
    background: url('images/loader_bg.png') no-repeat;
}
.qp-circular-loader {
    width:150px;
    height:150px;
}
.qp-circular-loader-path {
    stroke-dasharray: 58.9;
    stroke-dashoffset: 58.9;

}


.qp-circular-loader, .qp-circular-loader * {
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
.qp-circular-loader {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 4000.00ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fillunfill {
    from {
        stroke-dashoffset: 58.8

    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -58.4

    }
}
@-webkit-keyframes rot {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@-webkit-keyframes colors {
    from {
        stroke: #f5a52b;
    }
    to {
        stroke: #f5a52b;
    }
}
.qp-circular-loader-path {
    -webkit-animation-name: fillunfill, rot, colors;
    -webkit-animation-duration: 1333ms, 5332ms, 5332ms; /* ARCTIME, 4*ARCTIME, 4*ARCTIME */
    -webkit-animation-iteration-count: infinite, infinite, infinite;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
    -webkit-animation-play-state: running, running, running;
    -webkit-animation-fill-mode: forwards;
}

.setBTNBTNBTNPPP{
}

.setPPPAGEDIVP{
    display:none;
}
.setLABELPPAGE{
    display:none;
}
.setPPPAGEDIVPH{
    display: none;
}
.setSPANPPPAGEAFEW{
    color: #b1b1b1;
}
.setPPROJECTPAGEDIV{
    clear:both;
}

.setPPPMODALPINFO{
    border-bottom: none;
}
.setPPPAGEMPINFOOOIMG{
    margin: 0 auto;
    text-align: center;
}
.setCOLORPPAGETC{
    color:#55b234;
}
.setMPERSONALINFBTN{
    float:left;
    border-radius: 5px;
}
.setMCPINFOPAGESETBTN2{
    border: 1px solid green;
    border-radius: 5px;
    border-width: 1px !important;
}

.select2-container--open .select2-dropdown {
    left: 0px;
    width: 56.5% !important;
}
@media (max-width:1024px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 100%;
        margin-left: -31px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 1px;
        right: 35px !important;
        width: 20px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        margin-left: -32px;
    }
    .btn-green-position{
    position: relative;
    top: -85px;
    right: -15%;
    }
}

@media (max-width:812px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 696px;
        margin-left: -31px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 696px !important;
        margin-left: -32px;
    }
}

@media (max-width:768px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 645px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 644px !important;
        margin-left: -31px;
    }
    .btn-green-position{
    position: relative;
    top: -85px;
    right: -5%;
    }
}


@media (max-width:736px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 598px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 596px !important;
        margin-left: -30px;
    }
}

@media (max-width:731px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 592px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 590px !important;
        margin-left: -30px;
    }
    .btn-green-position{
    position: relative;
    top: -85px;
    right: -5%;
    }
}

@media (max-width:667px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 532px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 530px !important;
        margin-left: -30px;
    }
    .btn-green-position{
    position: relative;
    top: -40px;
    }
}

@media (max-width:640px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 498px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 496px !important;
        margin-left: -30px;
    }
}

@media (max-width:568px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 430px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 428px !important;
        margin-left: -30px;
    }
}

@media (max-width:414px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 274px;
    }

    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 270px !important;
        margin-left: -29px;
    }
}

@media (max-width:411px)
{
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 269px !important;
    }
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 270px;
    }
}

@media (max-width:375px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 237px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 235px !important;
    }
}

@media (max-width:360px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width: 221px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 219px !important;
    }
}
@media (max-width:320px)
{
    .select2-selection {
        height: 32.8px !important;
        border: 1px solid #c2cad8 !important;
        width:200px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 1px;
        right: -52px !important;
        width: 20px;
    }
    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 198px !important;
    }
}

.select2-container {
    width:100% !important;
    padding-left: 0px !important;
}
.green {
    color: green;
    font-weight: 600;
}
.red {
    color: red;
    font-weight: 600;
}

#prev_project_name
{
    width: 100%;
}

.setprojectDropDownUl{
    left: 0px;
    width: 50%;
}

#category_name{
    font-size:14px;
}

.setPPFORMG-5{
    padding:35px;
}

.setPPFORMG-6{
    padding:35px;
}

.setPPFORMG-7{
    padding:35px;
}

@media(max-width:991px)
{
    .setPPRow1{
        text-align: center;
    }

    .setCol4-PP{
        text-align: center;
    }

    .seth4PP{
        text-align: center;
    }

    .setPPFORMG-2{
        /*padding:35px;*/
    }

    .setPPFORMG-3{
        padding:35px;
    }

    .setPPFORMG-4{
        padding:35px;
    }

    #dLabel{
        width:100% !important;
    }

    .setPPFORMG-5{
        padding:35px;
    }

    .setPPFORMG-6{
        padding:35px;
    }
    .setPPFORMG-7{
        padding:35px;
    }
    .setBTNBTNBTNPPP {
       left:99%;
        position: absolute;
        color: lightgray;
        cursor: pointer;
        top: 13px;
        font-size: 30px;
    }

    #tbxName{
        width:100% !important;
    }

    .setprojectDropDownUl {
        left: 0px;
        width: 100%;
    }

    #slcCategory{
        width:100%;
    }
}

@media (max-width:823px)
{
    .multi-level{
        margin-top:0px;
    }
}

@media (max-width:640px)
{
    .multi-level{
        margin-top:0px;
    }
}

@media (max-width:414px)
{
    .category > .subcategory {
        top: 44px;
        left: 38%;
        margin-top: -6px;
        margin-left: -1px;
    }
}

@media (max-width:411px)
{
    .category > .subcategory {
        top: 39px;
        left: 40%;
        margin-top: -6px;
        margin-left: -1px;
        width: 100%;
        font-size:12px;
    }

}

@media (max-width:360px)
{
    .multi-level{
        margin-top:0px;
    }
    .category > .subcategory {
        left: 79px;
        font-size: 11px;
        width: 90%;
        top:45px;
    }
}

@media (max-width:320px)
{
    .multi-level{
        margin-top:0px;
        width:100%;
        font-size:11px;
    }
    .category > .subcategory {
        left: 35%;
        font-size: 10px;
        width: 27%;
        top: 45px;
    }
}


.cls {
    margin: 0 auto !important;
    position: fixed !important;
    z-index: 999  !important;
    /*display: block  !important;*/
    text-align: center  !important;
    left: 45%  !important;
    top: 40%  !important;
}

img.fa.fa-plus{
    height: 95px !important;
}