/*
    Contact Info
*/

.changeColorSet{
    padding: 9px 0px;
    min-width: 150px;
    border: 2px solid #ffde1b !important;
    color: #ffde1b;
    background-color: #fff;
    border-radius: 5px !important;
}


.personal-profile .contact .contacts-info:before{
    left: 680px;
}
.personal-profile .contact .contacts-info:after {
    left: 681px;
}
.personal-profile .contact{
    margin-top: -230px;
    z-index: 999;
}

.setCol12RowRP{
    padding:unset;
}

.contacts-info .contacts-info-sub {
    padding: 15px;
}

.contacts-info .contacts-info-sub img {
    width: 25px;
}

.contacts-info .contacts-info-sub span {
    padding: 5px;
    color: #7d7d7d;
    font-weight: 600;
}

.contacts-info .contacts-info-sub p {
    margin: 10px 0px 0px 0px;
    color: #B1B1B1;
    font-size: 16px;
}

.contacts-info .contacts-info-edit {
    padding: 15px 30px 15px 15px;
}

.contacts-info .contacts-info-edit a {
    color: #58AF2A;
}

.personal-profile .contact {
    position: absolute;
    width: 100%;
    box-shadow: 0 0 5px 0 #c1c1c1 !important;
    background-color: #fff;
    margin-top: -190px;
}

.personal-profile .contact .contacts-info:before {
    border: 15px solid #c1c1c1;
    content: '';
    position: absolute !important;
    top: -30px;
    border-color: transparent;
    border-bottom-color: #c1c1c1;
    left: 80px;
}

.personal-profile .contact .contacts-info:after {
    border: 14px solid #fff;
    content: '';
    position: absolute !important;
    top: -28px;
    left: 81px;
    border-color: transparent;
    border-bottom-color: #fff;
}


.resume-detail-main{
    padding: 0px !important;
}

.resume-detail-main .tabbable-line > .nav-tabs{
    padding-left: 15px;
}

.resume-detail-main .tabbable-line > .nav-tabs > li{
    padding: 10px;
}

.resume-detail-main .tabbable-line > .nav-tabs > li:hover{
    border-bottom: 4px solid #7ed535;
}

.resume-detail-main .tabbable-line > .nav-tabs > li.active{
    border-bottom: 4px solid #58AF2A;
}

.resume-detail-main .tabbable-line > .nav-tabs > li.active >a{
    color: #58AF2A !important; 
}

.resume-detail-main .tabbable-line > .tab-content{
    padding: 15px 0px !important;
}

.resume-detail-main .tabbable-line .tab-content{
    padding: 15px !important;
}

.resume-detail-main .personal-portfolio-empty{
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: 120px 0px;
    text-align: center;
}

.resume-detail-main .personal-portfolio-empty h5{
    margin-bottom: 50px;
    margin-top: 0px;
    color: #737373;
}

.resume-detail-main .personal-portfolio-empty img {
    height: 50%;
    width: 74%;
}

div.personal-info {
    width: 75%
}

.toast-info {
    background-color: #51a351;
}

.back-url-mobile{
    display: none;
}
.page-header.navbar.navbar-fixed-top{
    top: 0px;
}
.page-header-fixed .page-container{
    padding-top: 20px;
}

@media (max-width:991px) and (min-width:320px) {

    .set-usercenter-sidebar{
        width:100%;
        text-align: center;
    }

    .set-similar-profiles{
        width:100%;
        text-align: center;
    }

    .set-media-middle{
        display:flow-root;
        text-align: -moz-center;
        text-align: -webkit-center;
    }

    .setRPICol9 {
        text-align:center;
        width:100% !important;
    }
    .setRUIImageHands{
        float:none !important;
    }
    .setRNUSkillDiv{
        display:inline-block !important;
        float:none !important;
    }
    .setRNUCol8{
        margin-top:5%;
    }
    .setRNUBtn{
        width:100%;
        margin-left:0px !important;
    }
    .setNUDFSLT{
        display:block;
    }

    .setRNUStars {
        display: inline-block;
    }

}

