/*********************************commenttt ***********************************************/
@media only screen and (max-width: 320px){
    #findProject {
        max-width: 100%;
        font-size: 60%;
    }
    #findFreelancer {
        max-width: 100%;
        font-size: 60%;
    }
    #findCoFounder {
        max-width: 100%;
        font-size: 60%;
    }
}
/***************************************************************************/
@media only screen and (min-width: 321px) and (max-width: 374px){
    #findProject {
        max-width: 100%;
        font-size: 70%;
    }
    #findFreelancer {
        max-width: 100%;
        font-size: 70%;
    }
    #findCoFounder {
        max-width: 100%;
        font-size: 70%;
    }
}
/***************************************************************************/
@media only screen and (min-width: 375px) and (max-width : 379px) {
    #findProject {
        width:100%;
        font-size: 80%;
    }
    #findFreelancer {
        width:100%;
        font-size: 80%;
    }
    #findCoFounder {
        width:100%;
        font-size: 80%;
    }
}
/***************************************************************************/
@media only screen and (min-width: 380px) and (max-width: 479px) {
    #findProject {
        width:100%;
        font-size: 85%;
    }
    #findFreelancer {
        width:100%;
        font-size: 85%;
    }
    #findCoFounder {
        width:100%;
        font-size: 85%;
    }
}
/***************************************************************************/
@media only screen and (min-width: 480px) and (max-width: 768px) {
    #findProject {
        width:100%;
        font-size: 100%;
    }
    #findFreelancer {
        width:100%;
        font-size: 100%;
    }
    #findCoFounder {
        width:100%;
        font-size: 100%;
    }
}
/***************************************************************************/
@media only screen and (min-width: 769px) and (max-width: 991px) {
    #findProject {
        width:100%;
        font-size: 100%;
    }
    #findFreelancer {
        width:100%;
        font-size: 100%;
    }
    #findCoFounder {
        width:100%;
        font-size: 100%;
    }
}
/***************************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    #findProject {
        width:100%;
        font-size: 90%;
    }
    #findFreelancer {
        width:100%;
        font-size: 90%;
    }
    #findCoFounder {
        width:100%;
        font-size: 90%;
    }
}
/***************************************************************************/
@media only screen and (min-width: 1025px) and (max-width: 1223px) {
    #findProject {
        width:100%;
        font-size:100% ;
    }
    #findFreelancer {
        width:100%;
        font-size:100% ;
    }
    #findCoFounder {
        width:100%;
        font-size:100% ;
    }
}
/***************************************************************************/
@media only screen  and (min-width : 1224px) {
    #findProject {
        width:100%;
        font-size: 100%;
    }
    #findFreelancer {
        width:100%;
        font-size: 100%;
    }
    #findCoFounder {
        width:100%;
        font-size: 100%;
    }
}
/***************************************************************************/
@media only screen and (max-width : 1224px)  and (orientation : portrait) {

}
/***************************************************************************/
@media only screen and (max-width : 1224px)  and (orientation : landscape) {

}
/***************************************************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 384px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

}
/***************************************************************************/