.setSPAGECOl12{
    margin-top:.7%;
}
.setCOLROWS {
    margin-top: 4.4%;
}

.container-btn2 {
    position: absolute;
    transform: translate(-50%,-20%);
    top: 19%;
    left: 100%;
}

.btn-toggle2{
    width: 55px;
    height: 25px;
    background: lightgray;
    border-radius: 30px;
    padding: 2px 2px;
    box-shadow: 0px 0px 8px 1px lightgrey;
}

.btn-toggle2 > .set-inner-circle2{
    width: 22px;
    height: 21px;
    background: #fff;
    border-radius: 60%;
}

.btn-toggle2.btn-active2{
    background: #57b029;
}

.btn-toggle2.btn-active2 > .set-inner-circle2{
    margin-left:28px;
}



.container-btn3 {
    position: absolute;
    transform: translate(-50%,-20%);
    top: 19%;
    left: 100%;
}

.btn-toggle3{
    width: 50px;
    height: 24px;
    background: lightgray;
    border-radius: 30px;
    padding: 2px 2px;
    box-shadow: 0px 0px 8px 1px lightgrey;
}

.btn-toggle3 > .set-inner-circle3{
    width: 21px;
    height: 20px;
    background: #fff;
    border-radius: 60%;

}

.btn-toggle3.btn-active2{
    background: #57b029;
}

.btn-toggle3.btn-active2 > .set-inner-circle3{
    margin-left:23px;
}


.container-btn4 {
    position: absolute;
    transform: translate(-50%,-20%);
    top: 19%;
    left: 100%;
}

.btn-toggle4{
    width: 55px;
    height: 25px;
    background: lightgray;
    border-radius: 30px;
    padding: 2px 2px;
    box-shadow: 0px 0px 8px 1px lightgrey;
}

.btn-toggle4 > .set-inner-circle4{
    width: 22px;
    height: 21px;
    background: #fff;
    border-radius: 60%;
    margin-left:0px;
}

.btn-toggle4.btn-active2{
    background: #57b029;
}

.btn-toggle4.btn-active2 > .set-inner-circle4{
    margin-left:28px;
}

.setCol4SettingP{
    position: absolute;
    /* left: -28px; */
    right: 65%;
    top:-3px;
}

.setCol4SettingP2{
    position: absolute;
    right: 110px;
    top:-3px;
}

.setCol4SettingP3{
    position: absolute;
    right: -14px;
    width: 7%;
    top:0px;
}

html:lang(cn) .setCol4SettingP3{
    position: absolute;
    right: -14px;
    width: 20%;
    top:0px;
}

.setHeightSP1{
    height: 66px;
    border-bottom: 1px solid lightgray;
    margin-left: -45px;
    margin-right: -45px;
    padding: 25px;
    margin-top: -30px;
    padding-left: 0px;
}

.setCol5SettingP{
    padding-left:0px;
}

.setCol4Span{
    position: relative;
    left:9px;
    color:#808080;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
}

.setSpanBoth{
    position: relative;
    right: 60px;
    color:#808080;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
}

html:lang(cn) .setSpanBoth{
    position: relative;
    right: 5px;
    color:#808080;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
}

.setCol12Col6{
    padding-right:0px;
}

.setHeightSP{
    height: 66px;
    border-bottom: 1px solid lightgray;
    margin-left: -45px;
    margin-right: -45px;
    padding: 25px;
    padding-left: 0px;
}

.setColMd1SP{
    width:7%;
    padding-left:0px;
    text-align: center;
    position: relative;
    top: -2px;
}

.setspanPSP{
    position: absolute;
    right: 45px;
    color: #808080;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
}

#btn-confirm{
    height:44px;
    width:119px;
    background-color: #57b029 !important;
    color:#fff !important;
    border-radius: 5px !important;
    font-size:14px;
}

.setCol5SettingP > span{
    color:#808080;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
}

.setCol4SettingP >span{
    color: #808080;
    font-size: 14px;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
    position: relative;
    left: -15px;
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setSPAGECOl12 {
        position: relative;
        top: 7px;
    }

    .setCOLROWS{
        margin-top:3%;
    }
}

@media (max-width:1550px)
{
    .setSPAGECOl12 {
        position: relative;
        top: 10px;
    }
}

@media (max-width:1317px)
{
    .setSPAGECOl12 {
        position: relative;
        top: -3px;
    }
}
.setMAinMENU{
    font-weight:bolder;
}
.setSETTTING{
    font-weight:bold;
}
.setSETPAGEIF1{
    margin-left: -8px;
}
.setSETPAFEIF2{
    margin-left: -8px;
}

@media(max-width:1211px) and (min-width:992px)
{
    .setCol4SettingP {
        position: absolute;
        /* left: -28px; */
        right: 80%;
        top: -3px;
    }

    html:lang(cn) .setCol4SettingP {
        position: absolute;
        /* left: -28px; */
        right: 89%;
        top: -3px;
    }

    html:lang(cn) .setCol4Span {
        position: relative;
        left: -25px;
        color: #808080;
        font-size: 14px;
        font-family: Montserrat, sans-serif !important;
        font-weight: bold;
    }
    html:lang(cn) .setSpanBoth {
        position: relative;
        right: 20px;
        color: #808080;
        font-size: 14px;
        font-family: Montserrat, sans-serif !important;
        font-weight: bold;
    }

    .setCol4SettingP2 {
        position: absolute;
        right: 36%;
        top: -3px;
    }
    .setCol4Span {
        position: relative;
        left: -10px;
        color: #808080;
        font-size: 14px;
        font-family: Montserrat, sans-serif !important;
        font-weight: bold;
    }
}

@media (max-width:1029px)
{
    .setSETTTING{
        margin-left:38%;
    }
}

@media (max-width:991px) and (min-width:320px)
{
    .btn-toggle4 > .set-inner-circle4{
        width: 22px;
        height: 21px;
        background: #fff;
        border-radius: 60%;
        margin-left: -28px;
    }

    .btn-toggle4.btn-active2 > .set-inner-circle4 {
        margin-left: 28px;
    }
    html:lang(cn) .setCol4SettingP3 {
        position: absolute;
        right: -14px;
        width: 100%;
        top: 70px;
    }

    html:lang(cn) .setSpanBoth {
        position: relative;
        right: 25px;
        color: #808080;
        font-size: 14px;
        font-family: Montserrat, sans-serif !important;
        font-weight: bold;
    }

    .container-btn2 {
        position: absolute;
        transform: translate(-56%,-175%);
        top: 19%;
        left: 100%;
    }
    .setSpanBoth {
        position: relative;
        right: 30px;
        color: #808080;
        font-size: 14px;
        font-family: Montserrat, sans-serif !important;
        font-weight: bold;
    }

    .btn-toggle3 > .set-inner-circle3 {
        width: 21px;
        height: 20px;
        background: #fff;
        border-radius: 60%;
        margin-left: -23px;
    }
    .setCol4SettingP2 {
        position: absolute;
        right: -14px;
         top: 25px;
        width: 100%;
    }

    .setCol5SettingP {
        padding-left: 0px;
        top: 12px;
    }

    .setColMd1SP {
         width: 100%;
        padding-left: 0px;
        text-align: center;
        position: relative;
        top: 12px;
    }
    .setCol4SettingP >span {
        color: #808080;
        font-size: 14px;
        font-family: Montserrat, sans-serif !important;
        font-weight: bold;
        position: relative;
        left: -20px;
    }
    .setHeightSP1 {
        height: 100%;
        border-bottom: 1px solid lightgray;
        margin-left: -45px;
        margin-right: -45px;
        padding: 25px;
        margin-top: -30px;
        padding-left: 0px;
    }
    .setCol4SettingP3 {
        position: absolute;
        right: -14px;
        top: 65px;
        width: 100%;
    }
    .setspanPSP {
        position: absolute;
        right: -27px;
        color: #808080;
        font-size: 14px;
        font-family: Montserrat, sans-serif !important;
        font-weight: bold;
    }
    .setCol4Span {
        position: relative;
        left: -22px;
        color: #808080;
        font-size: 14px;
        font-family: Montserrat, sans-serif !important;
        font-weight: bold;
    }
    .setHeightSP {
         height: 100%;
        border-bottom: 1px solid lightgray;
        margin-left: -45px;
        margin-right: -45px;
        padding: 25px;
        padding-left: 0px;
    }

    .btn-toggle2 > .set-inner-circle2 {
        width: 22px;
        height: 21px;
        background: #fff;
        border-radius: 60%;
        margin-left: -28px;
    }
    .setCol4SettingP {
        position: absolute;
        right: -14px;
        top: -61px;
        width:100%;
    }

    .setUIPrefernce{
        height:170px;
    }

    .setSPAGECOl12{
        text-align: -webkit-center;
    }
    .setCol9SETTINGP{
        margin-top:5%;
        text-align: -webkit-center;
    }
    .setSETTTING{
        margin-left:0px;
    }
}