.div-container{
    background-color: #fff;
}

.review {
    background-color: #fff;
    padding: 30px !important;
    border: 1px solid #e9e9e9;
}

.review .full-name{
    color : #404040;
    font-size : 26px !important;
    clear: both;
    text-transform: capitalize;
    display: block;
    /*font-weight: 600;*/
}

.review .date{
    float : right;
    color : #404040;
    font-size : 12px;
    text-transform: uppercase;
}

.review .star {
    color : #f5b422;
}

.review .fa-check-circle{
    color : #57b029;
    font-size :14px;
    position: absolute;
    margin-top: 5px !important;
}

.review .project-id{
    color : #999999;
    font-size :12px;
    text-transform: uppercase;
}

.review blockquote{
    color : #999999;
    font-size :14px;
    font-style: italic;
    border: 0;
    padding: 0;
    margin-top: 10px !important;
}

.label-custom .label-color {
    color: #fff;
    background: #58AF2A;
}

.label-custom label {
    font-weight: normal;
    text-transform: none;
    padding: 4px 15px 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

/*
    Admin Review
*/

.admin-review{
    background-color: #fff;
}

/*
    Portfolio
*/

.personal-portfolio-empty {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: 120px 0px;
    text-align: center;
}