.form-control{
    border-radius: 4px !important;
}

.input-group-btn:last-child > .btn{
    margin-left: 0px !important;
}

.setINPUTSKILLVERI #txtKeyword {
    margin-top:0px;
}

.button-action{
    padding-left: 20px;
}

.setPADDING1{
    padding-top:200px;
}
.setPADDING2{
    padding-top: 500px;
}
.setSPAN1{
    color: #333343;
}

/*
    tag
*/
.bootstrap-tagsinput{
    border: 0px solid #ccc;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0,0.075);
    line-height: 42px;
    padding: 4px 0px;
}

.label{
    font-size: 12px;
    padding: 10px;
}

.add-tag, .save{
    padding: 0px;
}

.skill-verification{
    margin-top: 15px;
    padding: 30px 45px !important;
    box-shadow: none;
    min-height: 1000px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
    border-color: #EFEFEF !important;

}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#EFEFEF;
    border-radius: 5px 0px 0px 5px !important;
    height: 48px;
    padding-left: 30px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
    color: #56B128;
}

.skill-verification-finger-img{
    text-align: center;
    padding: 180px 15px;
}

.skill-verification-finger-img p{
    color: #737373;
}

.skill-verification-keyword{
    text-align: center;
    padding: 100px 15px;
}

.skill-verification-keyword .btn{
    background-color: #58af2a;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: capitalize;
}

.skill-verification-keyword .first-p{
    color: #989898;
}

.skill-verification-nav-ul li{
    border: 1px solid #e9e9e9;
    margin-bottom: 25px !important;
    text-transform: uppercase;
}

.main-well-custom .tabbable-line > .nav-tabs > li{
    border-bottom: 1px solid #e9e9e9 !important;
}

.main-well-custom .tabbable-line > .tab-content.skill-verification-tab{
    padding: 0px !important;
    border: none;
}

.div-job-main .header-bg img {
    border-radius: 3px;
    height: 100px;
    width: 100%;
}

.div-job-main .header-cantent-sub .job-title {
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.div-job-main .header-cantent-sub {
    padding: 20px 15px 4px;
}

.div-job-main .header-cantent-sub img {
    float: left;
    margin-right: 10px;
    width: 15px;
}

.skill-verification-div-job-main .details{
    font-size: 11px;
}

.div-job-main .header-cantent-sub .details {
    color: #a0a29f;
    margin-top: 10px;
    text-transform: uppercase;
}

.div-job-main .header-cantent {
    margin: 0;
    min-height: 100px;
    position: relative;
}

.div-job-main .header-cantent-sub i {
    color: #fff;
    float: right;
    font-size: 17px;
    margin-right: 15px;
}

.div-job-main .body-cantent .left img {
    height: 57px;
    margin-bottom: 45px;
    margin-top: 5px;
    width: 57px;
}

.btn-make-Offer:hover, .btn-make-Offer {
    font-size: 10px;
    height: 30px;
    line-height: 14px !important;
    text-transform: uppercase;
    width: 105px;
}

.div-job-main .body-cantent .left img {
    height: 57px;
    margin-bottom: 30px;
    margin-top: 5px;
    width: 57px;
}

.div-job-main .body-cantent .right .desc {
    color: #666666;
    font-size: 12px;
    margin: 0;
    padding: 0 10px 15px 0;
}

.div-job-main .body-cantent .budget span {
    color: #7b7b7b;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}

.div-job-main .body-cantent .budget h3 {
    color: #59af28;
    font-size: 16px;
    margin: 0;
    padding: 3px 0 5px;
}

.div-job-main .body-cantent .right img {
    float: left;
    margin-right: 2px;
    margin-top: 5px;
    max-height: 16px;
}
.div-job-main .body-cantent .top-smoll {
    color: #808080 !important;
    font-size: 10px !important;
    font-weight: bold;
    text-transform: uppercase !important;
}
.skill-verification-div-job-main .sub-con .fa{
    font-size: 13px;
}
.div-job-main .body-cantent .item-skill {
    border-radius: 25px;
    display: inline;
    float: left;
    font-size: 11px !important;
    height: auto !important;
    list-style: outside none none;
    margin: 0 3px 4px 0;
    padding: 2px 6px !important;
}

.item-skill.yellow{
    background-color: #F7C528;
    border: 1px solid #F7C528;
    color: white;
}

.item-skill.white{
    background-color: #fff;
    border: 1px solid #dedede;
    color: #909090;
}

.div-job-main, .div-job-main:hover{
    border-radius: 5px !important;
    /*box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.07) !important;*/
    margin-bottom: 25px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0,0.3) !important;
    border-radius: 0px !important;
}

.div-job-main .body-cantent {
    background: #fff none repeat scroll 0 0;
    margin: 0;
    min-height: 150px;
    padding: 20px 0;
}

.div-job-mains .header-img img {
    height: 85px;
    margin-top: 6px;
    width: 90px;
}

.div-job-mains .body-cantent .possition .sub-con span {
    font-size: 11px !important;
}

.skill-verification-budget span{
    font-size: 10px !important;
}

.skill-verification-budget{
    margin-bottom: 15px !important;
    margin-top: 10px !important;
}

.skill-verification-common-project-main, .skill-verification-common-project-main:hover{
    box-shadow: 0 0 2px 0 rgba(0, 0, 0,0.3) !important;
    border-radius: 0px !important;
}

.portlet.box.skill-verification-common-project-main{
    padding: 17px 17px 5px 17px !important;
}

.portlet-title h4{
    color: #5EB334;
    margin: 0px;
    font-size: 23px;
}

.price-div {
    color: #A3AEB1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.price-div .price{
    color: #808080;
}

.common-project-tab-desc{
    border-left: 1px solid #A3AEB1;
    margin-left: 10px;
    padding-left: 10px;
}

.common-project-tab-skill-div .item-skill{
    background-color: #f3cb35;
    border-radius: 50px;
    color: white;
    float: left;
    margin-right: 8px;
    margin-top: 10px;
    padding: 6px 20px;
    font-size: 12px;
}

.common-project-tab-btn .make-an-offer{
    background-color: #58AF2A;
    color: white;
    padding: 9px;
    text-transform: capitalize;
    font-weight: normal;
}

.common-project-tab-btn .join-discuss{
    background-color: white;
    border: 1px solid #f3cb35 !important;
    box-shadow: 0 0 1px #f3cb35 !important;
    color: #f3cb35;
    font-weight: normal;
    margin-top: 5px;
    padding: 6px 14px;
    text-transform: capitalize;
}

.common-project-tab-user h4{
    margin: 0px;
}

.common-project-tab-user .star{
    color: #F3CB35;
    font-size:11px;
    float: left;
}

.common-project-tab-user .spent{
    border-left: 1px solid #A3AEB1;
    border-right: 1px solid #A3AEB1;
    float: left;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 10px;
    color: #A3AEB1;
}

.common-project-tab-user .country{
    float: left;
    font-size:11px;
    color: #A3AEB1;
}

.common-project-tab-time{
    color: #A3AEB1;
}

.common-project-tab-time span{
    font-size: 11px;
}

.common-project-tab-time i{
    font-size: 20px;
    margin-top: 5px;
}

.common-project-tab-time .fa-tag{
    color: #58AF2A;
    margin-left: 5px;
}

.common-project-tab-footer{
    border-top: 1px solid #f0f0f0;
    margin-top: 15px;
    padding: 5px 0px 0px 0px;
}

.common-project-tab-footer-main{
    margin: 0px;
}

.common-project-tab-footer-main .user-img{
    position: relative;
    height: 60px;
    width: 60px;
    margin-top: 10px;
}

.common-project-tab-footer-main .user-img img{
    height: 60px;
    width: 60px;
}

.common-project-tab-footer-main .user-img .fa{
    background-color: #59AF28;
    border: 2px solid white;
    border-radius: 50%;
    bottom: 0;
    color: white;
    font-size: 9px;
    padding: 1px 3px;
    position: absolute;
    right: 0;
}

a.active.btn-add-fav-job .fa-star {
    color: #57b029;
}

.user-imgs {
    height: 45px;
    width: 45px;
    position: relative;
    padding-top: 10px;
}

.user-imgs img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.user-imgs i.green {
    color: #57b029;
}

.user-imgs i {
    position: absolute;
    border: 5px solid #fff;
    border-radius: 50%;
    font-size: 14px;
    bottom: -24px;
    right: -22px;
    line-height: 8px !important;
}

a.btn-add-fav-job .fa-star {
    color: #808080;
    font-size: 14px;
}

.review-star .fa-star, .review-star .fa-star-o {
    color: #f9d23f;
}

.user-name {
    font-size: 18px;
}

.country, .budget {
    font-size: 11px;
    color: #8f8e8e;
    padding: 0px 5px;
}

.job.portlet.box > .portlet-title {
    background-color: #fff;
    font-weight: bold;
    padding: 30px 30px 0px 30px;
}

.div-job-main .portlet-body {
    padding: 0px 30px 30px !important;
}

.div-job-main .portlet-body .description {
    text-align: justify;
    color: #5a5a5a;
    padding: 10px 20px;
    border-left: 1px solid #A3AEB1;
    margin-left: 18px;
    margin-top: 5px;
}

.div-job-main .portlet-body .item-skill {
    /*background-color: #fff;*/
    /*border: 1px solid #dedede;*/
    /*color: #909090;*/
    display: inline;
    float: left;
    font-size: 14px !important;
    list-style: outside none none;
    margin: 0px 10px 10px 0;
    height: auto !important;
    padding: 4px 15px !important;
    border-radius: 25px;
}

.project-name h4{
    font-weight: 300;
    text-transform: unset;
}

.job.portlet.box > .portlet-title {
    font-weight: unset;
}

.common-project-tab-footer-main .user-imgs .fa {
    background-color: #59AF28;
    border: 2px solid white;
    border-radius: 50%;
    bottom: 0;
    color: white;
    font-size: 9px;
    padding: 1px 3px;
    position: absolute;
    right: 0;
}

.review-star{
    font-size: 11px;
}

.post-date{
    font-size: 11px;
    color: #A3AEB1;
    padding-top: 5px;
}

.div-job-main hr {
    margin: 10px 0px !important;
}

div.user-img{
    padding-left:0px;
}

.btn-sect{
    text-align: right;
}

.btn-sect button{
    margin-bottom: 5px;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}

.setSKILLVERI{
    font-weight: bolder;
}
.setMAinMENU{
    font-weight: bolder;
}

.setROWCOL {
    margin-top: 4.4%;
}

.setINPUTSKILLVERI .dropdown-menu{
    margin-top:0px !important;
}

@media (max-width:2000px) and (min-width:1414px)
{
    .setPageContent {
        position: relative;
        top: 16px;
    }
    .setROWCOL {
        margin-top: 3%;
    }
}

@media (max-width:1413px) and (min-width:992px)
{
    .setPageContent {
        position: relative;
        top: 2px;
    }
}

@media (max-width: 1318px)
{
    .setPageContent {
        position: relative;
        top: 4px;
    }
}

@media (max-width:1029px)
{
    .setSKILLVERI{
        margin-left:38%;
    }
}

@media (max-width:991px) and (min-width: 320px)
{
    .setCol9RPP{
        margin-top:5%;
        text-align:center;
    }
    .setSKILLVERI{
        margin-left: 0% !important;
    }
    .setMAinMENU{
        display:none;
    }
    .setINPUTSKILLVERI .dropdown-menu{
        margin-top:2px !important;
    }
}

@media (max-width:493px) and (min-width: 320px)
{
    .setINPUTSKILLVERI .ms-ctn input{
        width:100% !important;
    }
    .setINPUTSKILLVERI .ms-sel-ctn{
        font-size: 7px !important;
        margin-top: 10px !important;
        margin-right: -20px !important;
    }
    .setBTNSEARCH{
        margin-left:10px !important;
    }
}