body {
    padding-top: 100px;
    background-color: #f7f7f7;
}

@media (min-width: 992px) {
    body {
        padding-top: 102px;
    }
}

.setTHPAGEINPTC{
	width: 150px !important;
}

.setTLEFTTHP{
	width:280px;
}

.setTHPAGETH2{
	width:170px;
}
.setTHPAGETH3{
	width:100px;
}

.setTHPAGETH1{
	width: 150px;
}

.setFAFACLOSE{
	display:none;
}

.navbar-nav .nav-link {
    color: #000000;
}

.navbar-custom {
    background-color: #ffffff;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}


html:lang(en) h4, 
html:lang(en) h5{
    font-family: 'Raleway', sans-serif !important;
}

.filter-section{
	margin: 0px;
	padding: 20px 0px;
	background-color: #F7F7F7;
}
.filter-icon{
	padding: 0px 0px 0px 15px;
}
.filter-icon i{
	font-size:28px;
	padding:10px 0px 0px 10px;
	color:#B7B7B7;
}
.date-input{
	padding-left: 0px;
}
.date-input .input-icon input{
	padding-left:10px !important;
	padding-right:33px; 
}
.filter-go{
	margin-top: 3px;
}
.date-input .input-icon i{
	right:5px;
	left:unset;
	top:5px;
}
.date-detail{
	padding-top:15px;
	font-size:13px;
	color:#F26C4F;
}
.balance-part{
	margin: 0px;
	height:95px;
	background:url('/images/transaction-historySB.png') no-repeat;
	background-size: cover;
	border: 2px solid #EDEDED;
}
.balance-part-text{
	color: #fff;
	font-weight: bold;
	padding-top: 35px;
}
.balance-part-text .balance{
	font-size: 16px;
	position: relative;
	top: -5px;
}
.balance-part-text span{
	font-size: 36px;
	line-height: 0px;
}
.balance-part-text p{
	font-size: 12px;
}
.transactionHistory-main input{
	height:40px !important;
	border:1px solid #e5e5e5 !important;
	color: #000;
	font-size: 14px !important;
}
.search-section{
	background-color: #F7F7F7;
	margin: 0px;
	padding: 15px 0px;
	border-bottom: 2px solid #EDEDED;
}
.search-section i{
	top:5px;
}
.custom-select-btn{
	width: 100%;
	background-color: #fff;
	border-radius: 5px !important;
}
.user-block-section{
	margin: 0px;
	padding: 0px 10px;
}
.user-block-mian{
	padding: 0px 10px !important;
	margin-top: 15px;
}
.user-block{
	padding:20px 0px;
	margin:0px;
	border:1px solid #EFEFEF;
	border-radius: 5px;
	box-shadow: 0px -1px 1px 0px #EFEFEF;
	min-height: 135px;
}
.user-block img{
	width:80px;
}
.user-block h4{
	margin:0px;
	color:#737373;
	font-weight: 500;
}
.user-block p{
	margin: 5px 0px !important;
}
.user-block p{
	font-size: 13px;
}
.user-block .red{
	color:#F26C4F;
}
.user-block .red span{
	color:#a1a1a1;
}
.user-block h5{
	margin: 0px;
	color:#ff8300;
	font-weight: bold;
	font-size: 20px;
}
.user-block .green{
	color:#6FB840;
	padding-right: 5px;
}
.user-block span{
	color:#737373;
}
.user-block .blue{
	color:#A58BBD;
}
.portlet.light{
	padding:0px 0px 15px 0px;
}
.portlet.light .portlet-body{
	padding-top: 0px;
}

.balance-part .download-btn{
	padding: 25px 0px;
	font-family: 'Raleway', sans-serif !important;
}
.btn-download-red:hover,
.btn-download-red{
	font-size: 16px;
	background-color: #F16E52;
	color: #fff;
	text-transform: unset;
}
.btn-download-white:hover,
.btn-download-white{
	font-size: 16px;
	background-color: #FFF;
	color: #68B83F;
	text-transform: unset;
}
