body {
    padding-top: 100px;
    background-color: #f7f7f7;
}

@media (min-width: 992px) {
    body {
        padding-top: 102px;
    }
}

.navbar-nav .nav-link {
    color: #000000;
}

.navbar-custom {
    background-color: #ffffff;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}

.user-profile {
    background-color: #fff;
}

.user-profile>img.avatar {
    padding: 15px;
    height: 8.23em;
    width: 8.23em;
    border-radius: 18em;
}

.user-profile .name {
    margin: auto;
    margin-top: -4.4em;
    margin-left: 5.80em;
    color: #658585;
    font-size: 1.53em;
}

.user-profile .info {
    margin: auto;
    display: inline-block;
    margin-left: 10.43em;
    color: #e76043;
    font-size: .87em;
}

.borderless {
    border: 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover,
ul li a:focus,
ul li a:active,
ul li a.active {
    text-decoration: none;
    color: #57af2a;
}

.titles-sm {
    color: #808080;
}

.display-4 {
    font-size: 20px;
    padding-left: 20px;
}

.money {
    font-size: 25px;
    color: #e76043;
}

ul li {
    font-weight: normal;
}

ul li:hover,
ul li:focus,
ul li:active,
ul li.active {
    text-decoration: none;
    color: #57af2a;
}
.setCol12Row{
    margin-top:5%;
    text-align: -webkit-center;
}
@media (max-width:1029px)
{
    .setTD{
        margin-left:36%;
    }
}
.setTD {
    margin-left: 0%;
}

.setTDSPANC{
    color: #808080;
}
.setTDPAGECCOLOR{
    color: #57af2a;
}
.setCOLORHC{
    color:purple;
}
.setTDPAGEII{
    padding-left:20px;
}
.setTRANDPAGEFAC{
    padding-left:20px;
    color:#4286f4;
}

@media (max-width:991px) and (min-width:320px)
{
    .setCol9RowTD{
        margin-top:5%;
        text-align: -webkit-center;
    }
    .setMAINMENU{
        display:none;
    }
    .setPBOFTD
    {
        text-align: -webkit-center;
        text-align-last: center;
    }
    .setNAMEOFTDPB{
        margin: auto;
        margin-top: -0.4em !important;
        margin-left: 0px !important;
        color: #658585;
        font-size: 1.53em;
    }
    .setINFO{
        margin-left:0px !important;
    }
    .setListGroup{
        text-align: -webkit-auto;
        text-align: initial;
    }
    .setListGroup li{
        display:grid;
    }
}

@media (max-width:400px) and (min-width:320px)
{
    .setListGroup li{
        display:grid;
    }
}

@media (max-width:360px)
{
    .user-profile .info {
        margin: auto;
        display: inline-block;
        color: #e76043;
        font-size: .87em;
    }
}

@media (max-width:320px)
{
    .user-profile .info {
        margin: auto;
        display: inline-block;
        color: #e76043;
        font-size: 0.8em;
    }
    .setListGroup .setList {
        font-size: 9px;
        height: 56px !important;
    }
    .setList{

    }
    .setListGroup .setList span{
        width: 100% !important;
        font-size: 9px!important;
    }
}