.personal-info{
    background-color: #fff;
    padding-top: 30px !important;
    border: 1px solid #e9e9e9;
}

.order-status-menu{
    padding-top: 10px;
}

.setRNUStars{
    text-align: -webkit-center;
}

.setConfirmAdd{
    background-color: #289d3e !important;
    border-radius: 5px;
    width: 144px;height:44px;
}

.set-padd-modal-footer-set-rate{
    padding-bottom: 30px;
}

#setvancekbtn{
    width: 144px;height:44px;
    background-color:#acacac;
    color:#fff;
    border-radius: 5px;
}

.set-fa-fa-stars-getDetails-page{
    color: #f4b00e;
    font-size: 24px;
    font: normal normal normal 14px/1 FontAwesome !important;
    float: none !important;
    /* display: flex; */
    font-size: 20px !important;
    margin: 0px;
    position: relative;
    left: 10px;
}

.set-fa-faangle-left-resume-page{
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: 17px !important;
}

.order-status-menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
}

.order-status-menu li.active {
    border-bottom: 5px solid #008fd5;
}

/*
    Comment info
*/
.portlet.box > .portlet-title{
    color: #000;
}

.gray-box{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.complete-time, .order-id{
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.column{
    padding-top: 10px;
    padding-left: 35px;
}

.new-order a:hover{
    text-decoration: none;
}

.link{
    padding-left: 10px;
    padding-right: 10px;
}

.location{
    color: #999999;
}

.delete-info{
    padding-top: 10px;
}

.commenter li{
    display: inline;
    list-style: none;
    background-color: #659be0;
    color: #ffffff;
    padding: 5px;
}

/*
    personal info
*/
.personal-profile{
    padding-top:10px;
    padding-left: 35px;
    padding-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.personal-profile .gray-box{
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-profile ul{
    padding: 0px;
    margin-top: 10px;
}

.personal-profile .skill-div {
    margin-top: 10px;
    height: 35px !important;
    display: inline;
    float: left;
    padding-left: 0 !important;
}

.personal-profile .item-skill.official {
    background-color: #f9d23f !important;
    border: none;
    color : #fff !important;
}

.personal-profile .item-skill.success {
    background-color: #5dba2c !important;
    border: none;
    color : #fff !important;
}

.personal-profile p {
    font-size : 14px;
    color : #808080;
}

.personal-profile .item-languages{
    border: 1px solid #fff;
    display: inline-block;
}

.personal-profile .item-languages span{
    display: block;
    margin-top: 14px;
    margin-left: 14px;
    min-height: 42px;
    max-width: 80px;
    color : #808080;
    font-size: 16px;
    font-family: 'Montserrat Light', Arial !important;
}

.personal-profile .profile-userpic img{
    width: 159px;
    height:159px;
    border: 4px solid #fafafa;
    margin-bottom: 20px;
}

.personal-profile .name {
    margin-top: 10px;
    color :  #404040;
    font-size: 26px;
    letter-spacing: 1px;
    display:block;
    text-align: center;
}

.profile-image .fa {
    color : #57b029;
}

.profile-image .login-time {
    color : #999999;
    font-size  : 12px;
}

.profile-image .login-time-details {
    color : #656565;
    font-size  : 14px;
    font-style: italic;
}

.profile-image button {
    background-color : #57b029;
    margin-top: 16px;
    text-transform: capitalize !important;
}

.profile-image button:hover {
    background-color : #57b029 !important;
}

.gray01 {
    background-color: #c2cad8;
}

.btn.gray01:hover{
    background-color: #b8c0cd;
}

.link.details{
    padding-right: 15px;
}

.btn-evaluation{
    padding-left: 100px;
    padding-right: 100px;
}

.user-info{
    padding-top: 5px;
}


.user-info .fa-star{
    color : #f4b00e;
    font-size: 24px;
}

.set-ModalChangeUserName{
    background-color: #289d3e !important;
}

.user-info .fa-check-circle{
    color : #57b029;
    font-size :14px;
    position: absolute;
    margin-top: 5px !important;
    font: normal normal normal 14px/1 FontAwesome;
}

.user-info .fa-edit{
    color : #656565;
    font-size: 18px;
}

.user-info .clearfix {
    margin-top: 5px;
}

.basic-info .subtitle{
    color : #666666;
    font-size : 14px;
    text-transform: uppercase;
}

.basic-info .full-name{
    color : #404040;
    font-size : 26px;
    clear: both;
    text-transform: capitalize;
    /*font-weight: 600;*/
}

.basic-info small{
    color : #999999;
    font-size : 14px;
}

.basic-info .details{
    color : #808080;
    font-size : 16px;
    font-family: 'Montserrat Light', Arial !important;
}

.basic-info .status{
    color : #57b029;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}



.item-skill {
    border-radius: 30px;
    background-color: #fff;
}

.comment-tab{
    padding: 15px;
}

.btn-complain{
    background-color: #dae0e6;
}

.img-auth{
    float: none !important;
}


.user-info img {
    margin-right: 0px;
}

/*Tab*/

.tab li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.tab li.active{
    border-bottom: 5px solid #008fd5;
    padding-bottom: 15px;
}

/*Rating*/
.rate-label{
    padding-top: 5px;
}

.rating-16 {
    font-size: 16px;
}

.rating-12 {
    font-size: 12px;
}

.star-caption{
    font-size: 12px;
    color: #ffb344;
    background-color: #fff;
    font-weight: 900;
}

.rating-container .caption{
    padding-top: 8px;
}

.rating-container .filled-stars{
    color: #ff9800;
}

/*Modal Tailor Detail*/
.modal-dialog .portlet-body{
    padding: 15px;
}

.div-ttl-comment{
    padding-top: 10px;
}
.ttl-comment{
    border-bottom: 5px solid #008fd5;
    padding-bottom: 15px;
}

.sect-choose,
.sect-user-comment{
    padding: 15px;
}

.hr-line{
    margin: 0;
}

.rate-value{
    font-size: 60px;
    color: #659be0;
    padding-left: 30px;
    font-weight: 900;
}

.ttl-eval, .no-vote{
    color: #659be0;
    font-weight: 900;
}

.sect-star02 .star{
    color: #cccccc;
}

.no-star{
    color: #959595;
}

.sect-star01 {
    padding-top: 20px;
}

.sect-star02,
.sect-rate-histogram{
    padding-top: 25px;
    padding-left: 30px;
}

/*Rating Histogram*/
.histo {
    float: left;
    width: 80%;
    font-size: 8px;
}

.histo-star {
    float: left;
}

.histo-rate {
    width: 100%;
    display: block;
    clear: both;
}

.bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
}

.bar {
    padding: 5px;
    display: block;
}

#bar-five {
    width: 0;
    background-color: #eff5fc;
}

#bar-four {
    width: 0;
    background-color: #e0ebf9;
}

#bar-three {
    width: 0;
    background-color: #c1d7f3;
}

#bar-two {
    width: 0;
    background-color: #a3c3ec;
}

#bar-one {
    width: 0;
    background-color: #659be0;
}

/*User Comment*/
.user-comment .user-rate td{
    padding-top: 10px;
}

.user-comment .order-id{
    text-align: center;
    padding-top: 10px;
}

.user-comment .post-datetime{
    text-align: right;
    padding-top: 10px;
}

.user-comment .profile-userpic img{
    width: 90%;
}

.user-comment p {
    line-height: 30px;
}

/*Modal Arrow*/
.right-arrow{
    /*margin-right: -40px;*/
    margin-right: -90px;
}

.left-arrow{
    margin-left: -30px;
}

.right-arrow a,
.left-arrow a{
    font-size: 80px;
    font-weight: 500;
    color: #fff;
}

.profile-image.next-tailor{
    width: 50%;
    padding-top: 35px;
}

.usercenter.link-div {
    padding-left: 0 !important;
}

.usercenter.link-div a{
    color : #57b029;
    font-size: 18px;
    font-weight: bold;
}

.usercenter.link-div a span{
    margin-right: 10px;
    font-weight: bold;
    font: normal normal normal 15px/1 FontAwesome;
}

.usercenter.sidebar-title-div span{
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #808080;
}

.similar-profiles h5{
    color : #4d4d4d;
    font-weight: 600;
    font-size : 20px;
    letter-spacing: 1px;
}

.divSkills > .skill-div > .item-skill {
            margin-left: 0px;
}
.set-currency-rate{
    margin:0px;
    text-transform: capitalize !important;
    font-size: 16px;
    color:#000000;
    font-weight: 600;
    margin-bottom: 5px;
}

#tbxHourly{
    height:41px;
}

#currency{
    height:41px;
}

.set-exchange-icon{
    text-align: right;
}

.exchange-icon{
    position: relative;
    right: 82px;
    cursor: pointer;
}

.set-calculate-form-group{
    margin-bottom: 0px !important;
}

#tbx_monthly_pay{
    height:41px;
}

.set-hourly-rate{
    margin-bottom: 5px !important;
    margin:0px;
    font-weight: 600;
    text-transform: capitalize !important;
    font-size: 16px;
    color:#000000;
}

.set-monthly-rate{
    margin:0px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: capitalize !important;
    font-size: 16px;
    color:#000000;
}

.similar-profiles .fa{
    color : #57b029;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size :14px;
}

.similar-profiles span{
    color : #8c8c8c;
    font-size : 14px;
}

.similar-profiles a{
    color : #57b029;
    font-size : 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.review {
    background-color: #fff;
    padding: 30px !important;
    border: 1px solid #e9e9e9;
}

.review .full-name{
    color : #404040;
    font-size : 26px;
    clear: both;
    text-transform: capitalize;
    display: block;
    /*font-weight: 600;*/
}

.review .date{
    color : #404040;
    font-size : 12px;
    text-transform: uppercase;
}

.review .star {
    color : #f5b422;
    font: normal normal normal 14px/1 FontAwesome !important;
}

.review .fa-check-circle{
    color : #57b029;
    font-size :14px;
    font: normal normal normal 14px/1 FontAwesome !important;
    position: absolute;
    margin-top: 5px !important;
}

.review .project-id{
    color : #999999;
    font-size :12px;
    text-transform: uppercase;
}

.review blockquote{
    color : #999999;
    font-size :14px;
    font-style: italic;
    border: 0;
    padding: 0;
    margin-top: 10px !important;
}

/*
    Admin Review
*/

.admin-review{
    background-color: #fff;
}
.div-container{
    border: 1px solid #e5e5e5 !important;
}

.contacts-info .contacts-info-sub{
    padding: 29px;
}
.contacts-info .contacts-info-sub img{
    width: 25px;
}
.contacts-info .contacts-info-sub span{
    padding: 5px;
    color: #7d7d7d;
    font-weight: 600;
}
.contacts-info .contacts-info-sub p{
    margin: 10px 0px 0px 0px;
    color: #B1B1B1;
    font-size: 16px;
}
.contacts-info .contacts-info-edit{
    padding: 32px 30px 32px 0px;
}
.contacts-info .contacts-info-edit a{
    color: #58AF2A;
}

.personal-portfolio-empty{
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: 120px 0px;
    text-align: center;
}
.personal-portfolio-empty h5{
    margin-bottom: 50px;
    margin-top: 0px;
    color: #737373;
}
.personal-portfolio-empty img{
    height: 230px;
    width: 305px;
}
.main-well-custom .tabbable-line > .tab-content{
    padding: 15px !important;
}

.page-content-wrapper{
    margin-top: 15px;
}
.alert, .badge, .btn, .btn-group > .btn, .btn.btn-link:hover, .icon-btn, .label, .list-group1, .md-shadow-z-1, .note, .panel, .social-icons li > a, .social-icons.social-icons-color > li > a, .well{
    box-shadow: 0px 0px !important;
}
div.profile-details div.skill img{
    width: 22px;
    padding: 3px;
    border: 1px solid #fff;
}
div.profile-details div.skill{
    height: 31px !important;
}
div.profile-details div.label img{
    margin-top: -5px;
}
div.profile-details div.language img{
    width: 30px;
}
.qrcode{
    /*margin-top: 35px; */
}
.personal-info{
    border: 0px !important;
}
.review {
    border: 0px solid #e9e9e9 !important;
}
div.personal-info{
    max-width: 100% !important;
    width: 100%;
    overflow: hidden;
}
div.personal-info div{
    height: auto !important;
}
div.personal-info .left-div{
    padding:0px 15px !important;

}

div.personal-info .left-div .row {
    margin-bottom: 0px;
}
.user-img-main{
    position: relative;
}
.user-img-main .col-md-3{
    position: unset;
}
.user-img-main .btn{
    margin-top: 6px;
}
.user-img-main .dropdown-menu{
    position: absolute;
    width: 100%;
    top: 235px;
    box-shadow: 0 0 5px 0 #c1c1c1 !important;
}
.user-img-main .dropdown-menu .contacts-info:before{
    border: 15px solid #c1c1c1;
    content: '';
    position: absolute !important;
    top: -30px;
    border-color: transparent;
    border-bottom-color: #c1c1c1;
    left: 80px;
}

.setMUPBTNN2{
    width:135px;
}
.user-img-main .dropdown-menu .contacts-info:after{
    border: 14px solid #fff;
    content: '';
    position: absolute !important;
    top: -28px;
    left: 81px;
    border-color: transparent;
    border-bottom-color: #fff;
}

.icon-github {
    background: no-repeat url('../img/github-16px.png');
    width: 16px;
    height: 16px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.accordion {
    margin-bottom: -3px;
}

.accordion-group {
    border: none;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.user-title
{
    font-size: 15px;
    border: 1px solid #c1c1c1;
    margin-left: 50px;
    padding: 2px 10px 2px 10px;
}

.job_title
{
    padding: 10px 10px 10px 150px;
    position: absolute;
}

.label-custom .label-color {
    color: #fff;
    background: #58AF2A;
}

.label-custom label {
    font-weight: normal;
    text-transform: none;
    padding: 4px 15px 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.personal-info-designer .designer{
    color: #BCBCBC;
    font-size: 12px;
    line-height: 6px;
    margin: 0;
}

.personal-info-designer .desh{
    float: left;
    line-height: 37px;
    margin: 0;
    padding-right: 20px;
    color: #BCBCBC;
}

.personal-info-btn .btn-custom{
    background-color: #58AF2A !important;
    color: white;
    margin-top: 0px !important;
    padding: 8px 15px !important;
}

img.qrcode{
    margin-left: 0px;
    float: right;    
}

.edit-icon-link{
    padding-left: 15px;
    color: #56B02A;
}

.profile-picture-main{
    overflow: hidden;
    position: relative;
}

.profile-picture-main .camera-icon{
    background-color: #C7C7C7;
    background-color: rgba(173, 171, 172, 0.7);
    border-radius: 50%;
    bottom: 10px;
    left: 70px;
    padding: 5px 7px;
    position: absolute;
    color: #C7C7C7;
}

.skill.logo2{
    background-color: #f8d23f;
    padding-left: 5px !important;
    padding-top: 4px !important;
    color: white !important;
    border-color: #f8d23f !important;
}

.skill.logo2 img{
    border-radius: 50%;
}

.skill.checked{
    background-color: #5DBA2D;
    padding-left: 5px !important;
    padding-top: 4px !important;
    color: white !important;
    border-color: #5DBA2D !important;
}

.skill.checked img{
    border-radius: 50%;
}

.btn-personal-info,
.btn-personal-info:hover,
.btn-personal-info:focus
{
    background-color: #57b029;
    color: #fff;
    border-radius: 5px;
}

.div-personal-info{
    text-align: right;
    padding-right: 0px;
}

.btn-personal-info i
{
    font-size: 14px;
}

.fa.edit{
    padding-left: 10px;
    color: #57b029;
}

.ms-ctn
{
    background-color: #fff;
    border-radius: 5px;
    /*margin-top: 10px;*/
}

.ms-ctn-focus {
    /*border-color: #fff;*/
}

#msSkills.ms-ctn .ms-sel-item {
    background: #57b029;
    color: #fff;
    border: 1px solid #84c165;
    padding: 5px 10px;
}

#msSkills .ms-sel-ctn .ms-sel-item .ms-close-btn{
    background-image: url('../../../images/ms-close.png');
}

.ms-ctn input{
    padding: 5px 10px;
}

.ms-res-ctn .ms-res-item{
    padding: 5px 20px;
}

.ms-helper{
    top: -25px;
}

.ms-helper a{
    color: #5ec329;
    font-weight: bold;
}

.search-type-text
{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.search-type-text.active,
.search-type-text:hover
{
    color: #5ec329;
}

.fa-search{
    position: absolute;
    right: 30px;
    top: 26px;
    color: #5ec329;
    font-size: 18px;
}

.search-desc{
    font-size: 12px;
}

.search-type-div{
    margin-top: 20px;
}

.search-type-btn-defult{
    background: transparent;
    border: 1px solid #fff;
    width: 30%;
    margin-right: 4%;
    color: #fff !important;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
}

.search-type-btn-color{
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 0px;
    width: 30%;
    border: 1px solid #64B12B;
    background: #64B12B;
    color: #fff !important;
}

.btn-search, .img-popup{
    cursor: pointer;
}

.ms-sel-ctn input{
    color: #64B12B;
}

.ms-ctn{
    padding: 8px 12px;
}

.ms-res-ctn .ms-res-item-active {
    background-color: #5ec329;
    color: #fff;
}

em{
    background-color: #fcc33a !important;
}

.search-desc em{
    background-color: #57b029 !important;
}

.contacts-info input{
    border: 1px solid #e5e5e5;
}

.dropzone.dz-clickable .dz-message {
    font-size: 17px;
}

.dismiss-img{
    position: absolute;
    right: 30px;
    top: 35px;
    width: 20px;
    cursor: pointer;
}

.notice .close
{
    opacity: unset;
    margin-top: 10px;
    color: #57b029;
    width: 20px;
    height: 20px;
    background-image: url("../../../images/20X20_icon_close_green.gif") !important;
}

@media (max-width:991px) and (min-width:320px) {

    .setMUPCCBTNN1{
        margin-top: -48px !important;
        margin-left: -9px;
    }

    .setMAinMENU{
        display: none;
    }
    .setMUPIPUINFOR{
        display: contents;
    }
    .setMDIVCW {
        text-align: center;
    }

    #setuserPICIMAGE {
        float: none !important;
        margin-right: 0px !important;
    }
    .setBTNP {
        padding-left: 0px !important;
    }

    .setCOLMDSM8LDIV {
        display: contents;
    }

    .setMUPBTNN2 {
        width: 100% !important;
    }

    .setMUPCCBTNN1 {
        width: 100% !important;
    }

    .setETBMUPCol12 {
        display: inline-block;
    }
}

@media (max-width:991px) and (min-width:767px)
{
    .setQRCMUP {
        width: 58% !important;
    }
}
@media (max-width:766px) and (min-width:569px)
{
    .setQRCMUP {
        width: 62% !important;
    }
}

@media (max-width:568px) and (min-width:458px)
{
    .setQRCMUP {
        width: 69% !important;
    }
}

@media (max-width: 457px) and (min-width: 361px) {
    .setQRCMUP {
        width: 75% !important;
    }
}

@media (max-width: 360px) and (min-width: 320px) {
    .setQRCMUP {
        width: 90% !important;
    }
}
@media (max-width:375px)
{
    .personal-portfolio-empty img {
        height: 177px;
        width: 240px;
    }
}

@media (max-width: 320px)
{
    .personal-portfolio-empty img {
        height: 148px;
        width: 202px;
    }
}

@media (max-width:539px)
{
    .setCol8MdRowUCP{
    }
    .setCol8UCPMD{
        width: 100%;
        margin-bottom: 99px !important;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 165px !important;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        /* padding: 12px 16px; */
        z-index: 1;
        padding-top: 0px;
        padding-bottom: 0px;
        left: -96px;
    }
    .divider::after{
        display:none;
    }

    .job_position {
        font-size: 12px;
        color: #6e6e6e;
        position: absolute;
        top: 93px;
        right: 72px;
    }
    .setTitleChangeUserTitle{
        top: 62px;
        position: absolute;
        right: 53px;
    }
}

@media (max-width:355px)
{
    .setCol8MdRowUCP{
    }
    .setCol8UCPMD{
        width: 100%;
        margin-bottom: 99px !important;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 165px !important;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        /* padding: 12px 16px; */
        z-index: 1;
        padding-top: 0px;
        padding-bottom: 0px;
        left: -96px;
    }
    .divider::after{
        display:none;
    }

    .job_position {
        font-size: 12px;
        color: #6e6e6e;
        position: absolute;
        top: 81px !important;
        right: -7px !important;
    }
    .setTitleChangeUserTitle{
        top: 32px !important;
        position: absolute;
        right: -26px !important;
    }
}