.portlet.light.bordered{
    border: 1px solid #e5e5e5 !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 7px 2px #e5e5e5;
}
.portlet-title{
    text-align: center !important;
}
.caption{
    float: none !important;
    padding-top: 40px !important;
}
.setCol2UseRefer{
    position: relative;
    margin-top: 17%;
}
.form-body input{
    height: 50px !important;
    border: 2px solid #c1c1c1 !important;
}
.form-body select{
    height: 50px !important;
    border: 2px solid #c1c1c1 !important;
}
.form-body textarea {
    border: 2px solid #c1c1c1 !important;
}
.submit{
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    width: 250px;
    background-color: #58AF2A;
    color: white;
    border-radius: 5px;
}
.profile-userpic{
    cursor: pointer;
    cursor: hand;
}
.input-layout {
    border: 2px dashed #CCC;
    width: 225px;
    height: 280px;
    text-align:center;
    padding-top: 10px;
    vertical-align: middle;
    border-radius: 10px;
}
/* footer Styling*/
footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #30303c;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
    color: #57af2a;
}

.setSelect2Border > .form-control{

    border: 2px solid #c1c1c1 !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #989898;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #989898;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #989898;
}
:-moz-placeholder { /* Firefox 18- */
    color: #989898;
}

@media (max-width:991px) and (min-width:320px)
{
    .setCol2UseRefer {
        position: relative;
        margin-top: 0%;
        width: 100%;
    }

    .setPtofileBtnUR{
        width:100%;
    }

    .setCol9URP{
        width:100%;
    }
    .setFormBodyUserRefer{
        padding-right: 0px !important;
    }
    .setGCol{
        width:100%;
        text-align: center !important;
    }
}