body {
    width: 772px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
    margin: 0 auto;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #87b653;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #77bd46;
}

.setAvatar{
    background-image: url("images/user2.png");
}

.setAvatar2{
    background-image: url("images/user2.png");
}

.setAvatar3{
    background-image: url("images/user2.png");
}

.setAvatar4{
    background-image: url("images/user2.png");
}

.navbar-inverse a{
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-collapse.collapse.in{
    display:block !important;
  }
  #header .navbar-header {
    height: 75px;
    background-color: #3ac431;
}
.navbar{
    border-bottom: 0;
}
.navbar-inverse {
    background-color: #77bd46;
    border-color: #77bd46;
}
a.navbar-brand.pull-right{
    width: 131px;
height: 38px;
border-radius: 5px;
background-color: rgba(58,196,49,0);
border: 2px solid #ffffff;
font-size: 14px;
letter-spacing: 0px;
color: #ffffff;
font-family: "Raleway";
font-weight: 400;
line-height: 3px;
margin-top: 20px;
}
.navbar-brand>img {
    display: block;
    margin-top: -1px;
}
.navbar-inverse .navbar-toggle {
    border: 0;
}
button.navbar-toggle {
    margin-top: 20px;
    margin-left: 15px;
}
.profile-section h3{
    font-size: 30px;
    letter-spacing: 1px;
    color: #2d404f;
    font-family: "Raleway";
    font-weight: 400;
}
div#header{
    height: 75px;
}
.profile-section p{
    font-size: 14px;
letter-spacing: 0px;
color: #b7b9bb;
font-family: "Raleway";
font-weight: 400;
}

.profile-image img {
    width: 55%;
    padding-top: 7px;
}
.profile-image {
    width: 67px;
    height: 67px;
    border-radius: 33px;
    background-color: #e9e9e9;
    text-align: center;
}
.block {
    display: inline-table;
}
.profile-intro h2{
    font-size: 24px;
    letter-spacing: 0px;
    color: #2d404f;
    font-family: "Raleway";
    font-weight: 400;
}
.profile-intro p{
    font-size: 14px;
letter-spacing: 0px;
color: #b7b9bb;
font-family: "Raleway";
font-weight: 400;
}
.user-detail {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
div#content-section h2 {
    line-height: 90px;
    margin: 0;
}
.btn-f {
    padding-top: 35px;
    padding-bottom: 15px;
}
h2{
    font-size: 24px;
letter-spacing: 0px;
color: #2d404f;
font-family: "Raleway";
font-weight: 400;
}
a.btn.btn-info.btn-xs {
    background: #3ac431;
    padding: 15px 35px;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 400;
}
.slider-bellow {
    background: #efefef;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slider-bellow img {
    height: 200px;
}
.comment span {
    font-size: 16px;
    letter-spacing: 0px;
    color: #a4a4a4;
    font-family: "Raleway";
    font-weight: 400;
}
.comment img {
    margin-right: 10px;
}
textarea.form-control {
    height: auto;
    border: 1px solid #c8c8c8;
    margin-top: 20px;
}
a.btn.btn-info.pull-right {
    background: #77bd46;
    border: 0;
    padding: 13px 18px;
    border-radius: 5px;
}
.slider-bellow .col-md-4.col-sm-4.col-xs-4:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
  }
  .slider-bellow h3 {
    font-size: 18px;
    letter-spacing: 0px;
    color: #2d404f;
    font-family: "Raleway";
    font-weight: 400;
}
.comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
  }
  
  .comment-wrap {
    margin-bottom: 50px;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
    position: relative;
}
  .photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 65px;
}
  .photo .avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: contain;
}
  
  .comment-block {
    position: relative;
    position: absolute;
    top: -15px;
    margin-left: 10px;
    margin-right: 15px;
}
  .comment-block textarea {
    width: 100%;
    resize: none;
  }
  
  .comment-text {
    margin-bottom: 1.25rem;
  }
  
  .bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
  }
  
  .comment-date {
    float: left;
  }
  
  .comment-actions {
    float: right;
  }
  .comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
  }
  .comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
  }
  .comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
  }
  .comment-actions li:hover {
    color: #0095ff;
  }
  .comment-contro {
    float: right;
    position: absolute;
    right: 0px;
    top: 20px;
}

.react{
    display: none;
}
a:hover + .react {
    display: block !important;
}
.emoji {
    padding: 0rem;
    font-size: 3rem;
    transition: font-size .1s ease-in-out;
}
  
  .emoji:hover {
    font-size: 6rem;
  }
  
  .emoji--happy:before {
    content: '🙂';
  }
  
  .emoji--happy:hover:before {
    content: '😄';
  }
  
  .emoji--sad:before {
    content: '😕';
  }
  
  .emoji--sad:hover:before {
    content: '☹️';
  }
  
  .emoji--crying:before {
    content: '😥';
  }
  
  .emoji--crying:hover:before {
    content: '😰';
  }
  
  .emoji--grimacing:before {
    content: '😬';
  }
  
  .emoji--grimacing:hover:before {
    content: '😁';
  }
  
  .container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
  }
  .fbg{
    height: 101px;
    box-shadow: 0px 2px 21px rgba(0,0,0,0.13);
    background-color: #3ac431;
  }
  .fbutton img {
    margin-right: 10px;
}
.fbutton {
    text-align: center;
    margin-top: 40px;
}
.fbutton a {
    border: 2px solid #fff;
    padding: 10px 15px;
    color: #fff;
}
.fbutton img {
    margin-right: 10px;
}
.footer.col-md-12 {
    margin-top: 100px;
}
.h-rightside {
    margin-top: 20px;
}
.h-rightside span img {
    margin-right: 10px;
}
.h-rightside span {
    margin-left: 20px;
}
div#profile-section h3 {
    font-size: 30px;
    letter-spacing: 1px;
    color: #2d404f;
    font-family: "Raleway";
    font-weight: 400;
}
div#profile-section p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #b7b9bb;
    font-family: "Raleway";
    font-weight: 400;
}
i.fas.fa-level-up-alt{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: 5px;
}
i.fab.fa-facebook-f {
    margin-right: 5px;
}
.btn-f a:first-child {
    margin-right: 20px;
}
.comment-item {
    border-top: 1px solid #c8c8c8;
    margin-top: 65px;
    padding-top: 30px;
    margin-bottom: 85px;
}
.comment-wrap {
    padding-left: 15px;
}
.comment-block h3 {
    font-size: 18px;
    letter-spacing: 0px;
    color: #2d404f;
    font-family: "Raleway";
    font-weight: 400;
}
.comment-block h3 span {
    font-size: 14px;
    letter-spacing: 0px;
    color: #a4a4a4;
    font-family: "Raleway";
    font-weight: 400;
}
.comment-text {
    font-size: 14px;
    letter-spacing: 0px;
    color: #a4a4a4;
    font-family: "Raleway";
    font-weight: 400;
}
i.fas.fa-thumbs-up {
    background: #6893e8;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}
i.fas.fa-pen {
    color: #a5a5a5;
    font-size: 20px;
}
i.fas.fa-trash{
    color: #a5a5a5;
    font-size: 20px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #3ac431;
}

/**************************Submit idea page ****************************/
.imagediv span:first-child {
  width: 120px !important;
  font-size: 14px;
  letter-spacing: 0px;
  color: #727272;
  font-family: "Raleway";
  font-weight: 400;
  margin-top: 10px;
}

.image-upload input {
  font-size: 20px;
  height:50px;
}
.image-upload .imagediv {
  display: inline-flex;
  margin-top: 35px;
}
.model-modify .image-upload .imagediv .showonhover {
	padding: 10px;
	opacity:0.9;
	width: 120px;
	display:block;
	text-align:center;
	color: #3ac431;
	border: 2px solid #3ac431;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
}
.model-modify .modal-title {
  margin: 0;
  font-size: 36px;
  letter-spacing: 1px;
  color: #3ac431;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.model-modify .modal-header {
  padding: 15px;
  border-bottom: oldlace;
}
.model-modify .modal-body {
  position: relative;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
.model-modify input.form-control {
  height: 64px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #c8c8c8;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.model-modify textarea.form-control {
  height: 216px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #c8c8c8;
  border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.model-modify .form-group {
  margin-bottom: -22px;
}
.model-modify input.btn.btn-lg.btn-primary.submit-idea-btn{
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background-color: #3ac431;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 0;
}
.model-modify p.f-info {
  font-size: 14px;
  letter-spacing: 0px;
  color: #727272;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}
.model-modify .btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #fff;
}

/******************** With Login page ***************/
.checkbox label {
  font-size: 14px;
  letter-spacing: 0px;
  color: #727272;
  font-family: "Raleway";
  font-weight: 400;
  margin-top: 11px;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #c8c8c8;
  left: 0;
  top: 5px;
}
.checkbox {
  margin-top: 20px;
  margin-left: 20px;
}
.login-model .form-group {
  margin-bottom: -2px;
}
a.forgot-pass {
  font-size: 14px;
  letter-spacing: 0px;
  color: #727272;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
}
.login-model h2 {
  font-size: 32px;
  letter-spacing: 1px;
  color: #3ac431;
  font-weight: 500;
}
a.user-register{
  width: 100%;
    height: 64px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #3ac431;
    font-size: 18px;
    letter-spacing: 0px;
    color: #3ac431;
    font-weight: 400;
    padding-top: 15px;
    margin-top: 15px;
}

.user-fb-login{
  width: 100%;
  height: 64px;
  border-radius: 5px;
  background-color: #4267b2;
  border: 0;
  font-size: 18px;
  letter-spacing: 0px;
  color: #fff;
  font-weight: 400;
  padding-top: 18px;
  margin-top: 15px;
}