.setImagedropdown {
    position: relative;
}

.setiphone{
}

.set-qr-images-home-footer{
    width: 30% !important;
    margin-top: 19%;
    margin-left: 34.7%;
    z-index: 9999;
}

.set-qr-images-home-footer-andriod{
    width: 30% !important;
    margin-top: 19%;
    margin-left: 34.5%;
    z-index: 9999;
}

.setImage-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width:255px;
    height:255px;
    box-shadow: 0px 1px 9px 0px #304051;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
}

.setImage-dropdown-content-2{
    display: none;
    position: absolute;
    background-color: #fff;
    width:255px;
    height:255px;
    box-shadow: 0px 1px 9px 0px #304051;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    left: 50%;
}

.setImagedropdown:hover .setImage-dropdown-content {
    display: block;
    margin-top: -266px;
    border-radius: 2px !important;
}

.setImagedropdown:hover .setImage-dropdown-content-2{
    display: block;
    margin-top: -266px;
    border-radius: 2px !important;
}

.setIPhonImage{
    position: absolute !important;
    left: 22% !important;
    margin-top: 10px !important;
    width: 55% !important;
}

.setAndriodImage{
    position: absolute !important;
    left: 22% !important;
    margin-top: 10px !important;
    width: 55% !important;
}

.setCaretUP2{
    position: absolute;
    top: 94%;
    right: 80%;
    font-size: 30px;
    color: #fff !important;
}

.setIphoneP{
    font-family: 'Raleway SemiBold',Sans-Serif !important;
    margin-top:10px;
    font-size:18px;
    font-weight:bold;
    color:#5fc233;
    text-align:center;
}

.setAndriodP{
    font-family: 'Raleway SemiBold',Sans-Serif !important;
    margin-top:10px;
    font-size:18px;
    font-weight:bold;
    color:#5fc233;
    text-align:center;
}


.setSpnBg{
    margin-top: -27px !important;
    padding: 3px 5px !important;
    margin-left: -9px !important;
    background-color:#C63031 !important;
}

.setChatBell{
    padding:5px !important;
}

.icon-bell:before{
    color:#5ec329 !important;
}


.ti-menu{
    display:none;
}

.setUseCEnter a {
    text-transform: capitalize !important;
    margin-top: 8px;
    color:#828282 !important;
}


/* dropdown notification */

.setSPnV{
    font-size: smaller;
    position: relative;
    right: 0px;
}

.setHNFLDM{
    float: none;
    position: absolute;
    margin-left: -255px !important;
    width: 300px !important;
    padding:0px !important;
    top:55px;
    border-radius: 10% !important;
}

.setExternal{
    background: #eaedf2;
    display: block;
    overflow: hidden;
    padding: 20px 15px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.setExternal h3{
    margin: 0;
    padding: 0;
    float: left;
    font-size: 12px;
    display: inline-block;
    color: #62878f;
}

.setEXLINK{
    color: #337ab7 !important;
    display: inline-block;
    text-transform: capitalize !important;
    padding: 0 !important;
    background: none !important;
    clear: inherit !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    position: absolute !important;
    right: -217px !important;
    border: 0 !important;
    margin-top: -1px !important;
}

.setTIME{
    float: right;
    /*max-width: 75px;*/
    line-height: 15px;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.7;
    filter: alpha(opacity=70);
    text-align: right;
    padding: 0px 5px;
    position: relative;
    right:2px;
    /*background-color: #fff;*/
}

.setISREAD{
    display: block !important;
    clear: both !important;
    font-weight: 300 !important;
    line-height: 20px;
    white-space: normal !important;
    font-size: 13px !important;
    padding: 16px 15px 18px !important;
    text-shadow: none !important;
    color: #888 !important;
}

.setHHHO:hover{
    background-color: aliceblue;
}

.setHHHO:focus{
    background-color: aliceblue;
}

.setDDMLIST {
    padding-right: 0 !important;
    padding-left: 0;
    list-style: none;
    margin-top: 0px !important;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
}

.setDDMLIST li{
    background-color: #F0F3F7 !important;
    max-height: fit-content !important;
}

.setSPnV1{
    display: inline-block !important;
    font-size: 12px;
    text-transform: capitalize !important;
}

.setSPNINERIM{
    width:42px !important;
    height:42px !important;
}

@media (max-width:2000px) and (min-width:992px)
{
    .setInnerNavNHPH{
        height:95px;
    }
    .setNFIA{
        height:95px;
    }
}

@media (max-width:540px) and (min-width:320px)
{
    .settiAngle{
        font-weight: bold !important;
        position: relative !important;
        display:inline-block !important;
        top: 3px !important;
        left: 0px !important;
    }

    .dropdown-menu-logout {
        box-shadow: 0px 0px !important;
        background: #fff !important;
        border: 1px solid #e9e9e9 !important;
        border-radius: 0px !important;
        margin-top: -10px !important;
        width: 230px !important;
        margin-left: -173px;
        top: 28px !important;
    }

    .setHNFLDM{
        float: none;
        position: absolute;
        margin-left: -255px !important;
        width: 300px !important;
        padding:0px !important;
        top:28px !important;
    }
}

.is_read {
    background-color: #f1f4f7;
}

/* end area notification */

.setAdmin{
    font-size: 12px;
    text-transform: capitalize !important;
    margin-left: 0px;
}


.setLINKKK:hover{
    color: #5ec329 !important;
}

html:lang(en),
html:lang(en) body,
html:lang(en) nav,
html:lang(en) li,
html:lang(en) a,
html:lang(en) ul,
html:lang(en) span,
html:lang(en) .btn,
html:lang(en) button,
html:lang(en) .label {
    font-family: 'Myriad Pro', 'Raleway', sans-serif;
}


.setHEADIMAGEAVATAR1 {
    width: 60px !important;
    height: 60px !important;
    margin-top: -14px;
    padding:5px;
    object-fit: cover;
}


/* dropdown userCenter */
.setPPUlli{
    margin: 2px 2px 2px 2px;
    padding-left: 0px !important;
    padding-right: 7px;
    padding-bottom: 7px !important;
    border-radius: 2px !important;
}

.setFEDM{
    border-radius: 2px !important;
}

.setDropDHP{
    margin: 2px 2px 2px 2px;
    padding-left: 7px;
    padding-bottom: 0px;
    border-radius: 2px !important;
}

.setPPUlli li{
    height:45px;
}

.setDropDHP li{
    height:45px;
}

.classic-dropdown .dropdown-menu li a {
    margin: -2px 15px !important;
}

.dropdown-menu-logout {
    box-shadow: 0px 0px !important;
    background: #fff !important;
    border: 1px solid #e9e9e9 !important;
    border-radius: 0px !important;
    margin-top: -10px !important;
    width: 235px !important;
    margin-left:-173px;
    top:55px;
}

.setSMALLHNew{
    font-size: 13px !important;
    text-transform: capitalize !important;
}

.spnChangeStatus{
    text-transform: capitalize !important;
    padding-left:0px;
}

.spn{
    text-transform: capitalize !important;
    padding-left:10px;
}
.setUCENTERIMAGE img{
    width: 45px !important;
    height: 45px !important;
    object-fit: cover;
}

.dropdown-menu-logout .user {
    padding: 2px 7px;
}
.dropdown-menu-logout .user-img {
    float: left;
    width: 50px;
}

.setHNFLDM:before {
    content:"";
    position: absolute;
    right: 11px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #eaedf2 transparent;
    z-index:9999;
}

.setDMLOGOUT:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
.setDMLOGOUT:after {
    position: absolute;
    top: -5px;
    right: 10px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''; }

.dropdown-menu-logout .user-name {
    float: left;
    color: #cdcdcd;
    padding-left:17px;
    padding:5px;
}
.dropdown-menu-logout li a img {
    width: 25px;
}
.user-name {
    font-size: 20px;
    /* font-style: italic; */
    text-transform: capitalize !important;
    line-height: 17px !important;
}

.dropdown-menu-logout .user-name span {
    color: #000;
    font-size: 16px;
    line-height: 20px !important;
}

.setHeadCBOTH {
    clear: both;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
    border-bottom: 0 !important;
}

.dropdown-menu-logout li.change-status a, .dropdown-menu-logout li.change-status a i {
    color: #E1AC05 !important;
}

.dropdown-menu-logout li:last-child, .dropdown-menu-logout li:first-child {
    border-bottom: 0px solid #e9e9e9;
}

.dropdown-menu-logout li {
    /*margin: 0px 5px;*/
    border-bottom: 1px solid #e9e9e9;
}

.dropdown-menu-logout li a {
    padding: 4px 15px !important;
    color: #787878 !important;
}

html:lang(cn) .dropdown-menu-logout li a {
    padding: 5px 15px !important;
    color: #787878 !important;
}

.dropdown-menu-logout li.change-status a {
    padding: 0px 13px !important;
}



.setlngec{
    position: relative;
    top: 10px;
    display: inline-block !important;
    width: 107.3%;
    background-color: #E8E7E8;
    height: 40px;
    padding: 0px !important;
    right: 8px;
}

/*.setlngec a:hover{*/
    /*background-color: #58AF2A !important;*/
    /*color:#fff !important;*/
/*}*/

.setchangestatusImage{
    width:35px !important;
    height:35px !important;
    position: relative;
    right: 3px;
}

html:lang(cn) .setchangestatusImage{
    width:35px !important;
    height:35px !important;
    position: relative;
    right: 4px;
}

.setchangeStatus{
    margin-top:6px !important;
    margin-bottom:0px;
}

html:lang(en) .setchangeStatus {
    margin-top: 10px !important;
    margin-bottom: 0px;
}

.sethr11{
    width:96% !important;
}

.set-hover a:hover{
    background-color: #58AF2A !important;
    color:#fff !important;
}

.setaImgEng{
    margin-top:-8px !important;
    position: relative;
    left: 6px;
    width: 45% !important;
    top:8px;
}

.setaImgEng img{
    height:16px !important;
    width:16px !important;
}
.setaImgChin{
    position: absolute;
    left: 40%;
    top: 3px;
    width: 50% !important;
}



html:lang(en) .setaImgChin{
    position: absolute;
    left: 40%;
    top: 4px;
    width: 50% !important;
}

.setaImgChin img{
    height:16px !important;
    width:16px !important;
}


.setCustomCollapse{
    padding-right:0px !important;
}

.navbar-header {
    float: right;
    position: relative !important;
    right: -40px !important;
    height: 92px;
}

.fee{
    padding:7px 13px !important;
    text-transform: capitalize !important;
    /*font-size: 16px !important;*/
    font-size:small;
}


html:lang(cn) .setTIME {
    float: right;
    /* max-width: 75px; */
    line-height: 15px;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.7;
    filter: alpha(opacity=70);
    text-align: right;
    padding: 0px 5px;
    position: relative;
    right: 10px;
    background-color: #fff;
}


.setDropdownMenu{
    width: 285px;
    height: 265px;
    border-radius: 2px !important;
    box-shadow: 0px -4px 10px 0px #bfe7a9;
    top: 45px;
    padding-left: 7px;
    margin-left: -210px;
}

.setEUImage{
    position: relative;
    left: -71px;
    top: 19px;
}

html:lang(en) .setEUImage{
    position: relative;
    left: -108px;
    top: 19px;
}

.setPUImage{
    position: relative;
    left: -20px;
    top: 19px;
}

html:lang(en) .setPUImage{
    position: relative;
    left: -75px;
    top: 19px;
}

.setEmailBox{
    width:248px;
    height:26.88px;
    border-radius: 5px;
    font-family: Montserrat, sans-serif !important;
    font-size: 11.31px !important;
    background-color: #efefef;
    margin-top: -5px;
    padding-left: 25px;
}


html:lang(cn) .setEmailBox{
    width:248px;
    height:26.88px;
    border-radius: 5px;
    font-family: "Noto Sans CJK JP Regular" !important;
    font-size: 11.31px !important;
    background-color: #efefef;
    margin-top: -5px;
    padding-left: 25px;
}

.setEmailBox:hover{
    border:1px solid #bfe7a9;
}

.setEmailBox:focus{
    border:1px solid #bfe7a9;
}

.setPassBox{
    width:248px;
    height:26.88px;
    border-radius: 5px;
    font-family: Montserrat, sans-serif !important;
    font-size: 11.31px !important;
    background-color: #efefef;
    margin-top: -5px;
    padding-left: 25px;
}

html:lang(cn) .setPassBox{
    width:248px;
    height:26.88px;
    border-radius: 5px;
    font-family: "Noto Sans CJK JP Regular" !important;
    font-size: 11.31px !important;
    background-color: #efefef;
    margin-top: -5px;
    padding-left: 25px;
}

.setPassBox:hover{
    border:1px solid #bfe7a9;
}

.setPassBox:focus{
    border:1px solid #bfe7a9;
}

.setLiNew1 label{
    margin-bottom: 0px;
    font-family: Montserrat, sans-serif !important;
    font-size:11.31px !important;
    color:#47555d;
    font-weight: bold;
}

html:lang(cn) .setLiNew1 label{
    margin-bottom: 0px;
    font-family: "Noto Sans CJK JP Regular" !important;
    font-size:11.31px !important;
    color:#47555d;
    font-weight: bold;
}

.setLiNew2 label{
    margin-bottom: 0px;
    font-family: Montserrat, sans-serif !important;
    font-size:11.31px !important;
    color:#47555d;
    font-weight: bold;
}

html:lang(cn) .setLiNew2 label{
    margin-bottom: 0px;
    font-family: "Noto Sans CJK JP Regular" !important;
    font-size:11.31px !important;
    color:#47555d;
    font-weight: bold;
}

.setLiNew1{
    padding:10px;
    margin-top:-5px;
}

.setLiNew2{
    padding:10px;
    margin-top:-15px;
}


.setCheckbox{
    width:15px;
    height:10px;
    background-color: #fff !important;

}

.setCol7Npsd{
    display: flex;
    padding-left:10px;
}

.setRMLabel{
    font-family: Montserrat, sans-serif;
    font-size:8.5px;
    font-weight: bold;
    color:#47555d;
    margin-top:-4px;
}

.setAFGP{
    color:#6a747a !important;
    font-size: 8.5px;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
}

html:lang(cn) .setAFGP{
    color:#6a747a !important;
    font-size: 8.5px;
    font-family: "Noto Sans CJK JP Regular" !important;
    font-weight: bold;
}

.setAFGP:hover{
    color:#6a747a;
}

.setAFGP:focus{
    color:#6a747a;
}

.setCol5Npsd{
    width: 123px;
    position: absolute;
    right: 28px;
    top: -5px;
    text-align: end;
}

.setbtnbtnNPsd{
    width:248px;
    height:26.88px;
    background-color: #57b029;
    color:#fff;
    border-radius: 2px;
}
.setbtnbtnNPsd{
    padding: 0px;
    font-size: 11.31px;
    font-weight: bold;
    margin-top:-8px;
    font-family: Montserrat, sans-serif;
}

html:lang(cn) .setbtnbtnNPsd{
    padding: 0px;
    font-size: 11.31px;
    font-weight: bold;
    margin-top:-8px;
    font-family: Montserrat, sans-serif;
    width:248px;
    height:26.88px;
    background-color: #57b029;
    color:#fff;
    border-radius: 2px;
}
.setCol12NPsd{
    padding-left:25px;
    margin-top:12px;
}

.setCaretUP{
    position: absolute;
    top: -21px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px -2px 2px #bfe7a9;
}

.setSpanNeP{
    font-size: 8.5px;
    position: absolute;
    top: -10px;
    left: 80px;
    font-family: Montserrat, sans-serif !important;
    font-weight: bold;
}

html:lang(cn) .setSpanNeP{
    font-size: 8.5px;
    position: absolute;
    top: -10px;
    left: 118px;
    font-family: "Noto Sans CJK JP Regular" !important;
    font-weight: bold;
}

.setbtnbtnNPsd:hover{
    color:#fff !important;
}

.sertSUL{
    position: absolute;
    top: 0px;
    left:52%;
}

.setALinkNPsd{
    position: absolute;
    left: 5px;
    top: 20px;
}
.setSpanFB{
    position: absolute;
    left: 70px;
    font-size: 11.31px;
    color: #fff;
    font-weight: bold;
    top: 4px;
    font-family: Montserrat, sans-serif !important;
}

html:lang(cn) .setSpanFB{
    position: absolute;
    left: 90px;
    font-size: 11.31px;
    color: #fff;
    font-family: "Noto Sans CJK JP Regular" !important;
    font-weight: bold;
    top: 4px;
}

.setCol12NewRMF{
    margin-top: 0px;
}

.ImageFB{
    width: 248px;
}

@media (max-width: 991px) {

    .setNAVBARTOG {
        left: 0px !important;
        bottom: 0px !important;
        margin-bottom: -11px;
    }

    .dropdown-menu-logout {
        box-shadow: 0px 0px !important;
        background: #fff !important;
        border: 1px solid #e9e9e9 !important;
        border-radius: 0px !important;
        margin-top: -10px !important;
        width: 235px !important;
        margin-left: -173px;
        top: 28px;
    }

    .setHNFLDM {
        float: none;
        position: absolute;
        margin-left: -255px !important;
        width: 300px !important;
        padding: 0px !important;
        top: 28px;
        border-radius: 10% !important;
    }

    .setLINKKK{
        margin-top: -12px !important;
    }

    .brand-logo img {
        width: 40px;
        padding-top: 23px !important;
    }

    .setChatBell{
        margin-top:-12px;
    }

    .setHEADIMAGEAVATAR1 {
        width: 40px !important;
        height: 40px !important;
        margin-top: -24px !important;
    }

    .set-tr-t-i-menu{
        position: relative;
        top: -7px;
    }

    .setImage-dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 160px;
        height: 183px;
        box-shadow: 0px 1px 9px 0px #304051;
        padding: 12px 16px;
        z-index: 1;
        border-radius: 5px;
    }
    .setImagedropdown:hover .setImage-dropdown-content {
        display: block;
        margin-top: -194px;
    }
    .setIphoneP {
        font-family: 'Raleway SemiBold',Sans-Serif !important;
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #5fc233;
        text-align: center;
    }
    .setIPhonImage {
        position: absolute;
        left: 26%;
        margin-top: -5px;
        height: 60px !important;
    }

    .setImage-dropdown-content-2{
        display: none;
        position: absolute;
        background-color: #fff;
        width: 160px;
        height: 183px;
        box-shadow: 0px 1px 9px 0px #304051;
        padding: 12px 16px;
        z-index: 1;
        border-radius: 5px;
    }

    .setImagedropdown:hover .setImage-dropdown-content-2{
        display: block;
        margin-top: -194px;
    }

    .setAndriodP{
        font-family: 'Raleway SemiBold',Sans-Serif !important;
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #5fc233;
        text-align: center;
    }

    .setAndriodImage{
        position: absolute;
        left: 26%;
        margin-top: -5px;
        height: 60px !important;
    }

    .navbar-header {
        float: right;
        position: relative !important;
        right: -19px !important;
    }

    .setAdmin {
         font-size: 12px;
        text-transform: capitalize !important;
        margin-left: -22px;
    }

    .navbar-header {
        height:100%;
    }

    .setNFIA{
        margin-bottom: 29px;
        height: 100% !important;
    }
    .ti-menu{
        display:inline-block;
    }

    .setNAVBARTOG {
        left: 0px !important;
        bottom: 32px !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        /* float: none; */
        /* width: auto; */
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .setSPnV {
        font-size: smaller;
        position: relative;
        right: 22px;
    }

    /*.main-nav {*/
    /*height: 15%;*/
    /*}*/

}

@media (max-width:991px) and (min-width:415px)
{
    .setSPnV1 {
        display: table !important;
        font-size: 11px;
        width:200px;
        text-transform: capitalize !important;
        position: absolute;
        left: -9px;
        top: 20px;
        line-height: 14px;
    }

}

@media (max-width:414px) and (min-width:320px)
{
    .setHNFLDM{
        float: none;
        position: absolute;
        margin-left: -152px !important;
        width: 289px !important;
        padding: 0px !important;
        top: 66px;
    }

    .setEXLINK {
        color: #337ab7 !important;
        display: inline-block;
        text-transform: capitalize !important;
        padding: 0 !important;
        background: none !important;
        clear: inherit !important;
        font-size: 13px !important;
        font-weight: 300 !important;
        position: absolute !important;
        right: -193px !important;
        border: 0 !important;
        margin-top: -1px !important;
    }
    .setSPnV1 {
        display: inline-block !important;
        font-size: 10px;
        text-transform: capitalize !important;
        position: unset;
        margin-left: 55px;
    }
    .setSPnV {

    }
    .setAdmin{
        font-size: 12px;
        text-transform: capitalize !important;
        margin-left: -23px;
    }
    .setTIME {
        float: right;
        /*max-width: 75px;*/
        font-size: 9px;
        font-weight: 400;
        opacity: 0.7;
        filter: alpha(opacity=70);
        text-align: right;
        /* padding: 1px 5px; */
        background-color: #fff;
        margin-right: 8px;
    }

    .setHNFLDM:before {
        content: "";
        position: absolute;
        right: 113px;
        top: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #eaedf2 transparent;
        z-index: 9999;
    }
}


@media (max-width:703px) and (min-width:515px)
{
    .setNFIA{
        margin-right: 50px;
    }
    .setLINKKK{
        font-size:8px;
    }
}

@media (max-width:514px) and (min-width:450px)
{
    .setNFIA{
        margin-right: 30px;
    }
    .setLINKKK{
        font-size:8px;
    }
}


@media (max-width:449px) and (min-width:365px)
{
    .setNFIA{
        margin-right: 20px;
    }
    .setLINKKK{
        font-size:x-small;
    }

    .setICONBELL{
        font-size:18px;
    }

    .setHEADIMAGEAVATAR1 {
        width: 40px !important;
        height: 40px !important;
        margin-top: -8px;
    }
}

@media (max-width:364px) and (min-width:320px)
{
    .setNFIA{
        margin-right: 10px;
    }
    .setLINKKK{
        font-size:x-small;
    }

    .fee{
        padding: 6px 4px !important;
        font-size: small !important;
    }

    .setICONBELL{
        font-size:18px;
    }

    .setHEADIMAGEAVATAR1 {
        width: 40px !important;
        height: 40px !important;
        margin-top: -8px;
    }
}

@media (max-width:414px)
{
    .setIPhonImage {
        position: absolute !important;
        left: 22% !important;
        margin-top: 10px !important;
        width: 55% !important;
        top: 93px;
    }
    .set-qr-images-home-footer {
        width: 30% !important;
        margin-top: 2%;
        margin-left: 34%;
        z-index: 9999;
    }
    .setAndriodImage {
        position: absolute !important;
        left: 22% !important;
        margin-top: 10px !important;
        width: 55% !important;
        top: 93px;
    }
    .set-qr-images-home-footer-andriod {
        width: 29% !important;
        margin-top: 2%;
        margin-left: 34%;
        z-index: 9999;
        height: 34px;
    }
}
