@font-face {
  font-family: 'arrows';
  src: url('../fonts/arrows.eot');
  src: url('../fonts/arrows.eot?#iefix') format('embedded-opentype'), url('../fonts/arrows.woff') format('woff'), url('../fonts/arrows.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before {
  display: inline-block;
  font-family: 'arrows';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-right:before {
  content: '\0042';
}
.icon-arrow-left:before {
  content: '\0041';
}
.calendar {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  user-select: none;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  /*background-color: #0B0C10;*/
  color: #1E94A0;
  /*border: 3px solid #004E6D;*/
  border-radius: 23px;
}
.calendar__head {
  width: 100%;
  height: 21%;
  text-align: center;
  box-sizing: border-box;
  cursor: default;
}
.calendar__head-text {
  font-size: 22px;
}
.calendar__head-days {
  width: 100%;
  text-decoration: none;
}
.calendar__head-days-item {
  position: relative;
}
.calendar__head-days-item:after {
  content: '';
  display: block;
  position: absolute;
  left: calc(100% - 2px);
  top: 50%;
  margin-top: -10px;
  width: 2px;
  height: 20px;
  background-color: #00172D;
}
.calendar__head-days-item:last-child:after {
  display: none;
}
.calendar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.calendar__btn {
  cursor: pointer;
  font-size: 27px;
}
.calendar__body {
  width: 100%;
  height: 79%;
  border-spacing: 4px 3px;
  padding: 3px 0;
  text-align: center;
}
.calendar-cell {
  margin-left: 10px;
  border-radius: 20%;
  cursor: pointer;
  transition: box-shadow 0.22s ease-in;
}
.calendar-cell:hover {
  box-shadow: inset 0px 0px 0px 2px #001a33;
}
.calendar-cell-selected {
  border-radius: 9px;
  background: #00172D;
}
.calendar-cell-selected.calendar-cell-today {
  box-shadow: inset 0px 0px 0px 2px #001a33;
}
.calendar-cell-gray {
  color: #4b5457;
  cursor: default;
}
.calendar-cell-gray:hover {
  box-shadow: none;
}
.calendar-cell-green {
  color: #1aecc2;
}
.calendar-cell-today {
  background-color: #4b5457;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #1E94A0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #0C101A;
}
.calendar-wrap {
  width: 350px;
  height: 290px;
  margin: 0 auto;
  margin-top: 115px;
}
